<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.employeeattend.mapper.ApprovalInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.employee_attend.ApprovalInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="leave_id" property="leaveId" jdbcType="INTEGER" />
    <result column="approval_people_id" property="approvalPeopleId" jdbcType="INTEGER" />
    <result column="approval_status" property="approvalStatus" jdbcType="INTEGER" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="batchInsert">
    insert into approval_info (
    leave_id,
    approval_people_id,
    approval_status,
    crt_id,
    crt_time
    )
    values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.leaveId},
      #{item.approvalPeopleId},
      #{item.approvalStatus},
      #{item.crtId},
      #{item.crtTime})
    </foreach>
  </insert>
  <select id="findMin" resultType="Integer">
    select ap.user_id,MIN(als.approval_priority) from approval_info ai
    LEFT JOIN approval_people ap on ai.approval_people_id = ap.id
    LEFT JOIN approval_level_set als on ap.approval_level_id = als.id
    where ai.leave_id = #{id}
  </select>
  <select id="findNow" resultMap="BaseResultMap">
    select ai.* from approval_info ai
    LEFT JOIN approval_people ap on ai.approval_people_id = ap.id
    where ai.leave_id = #{id} and ap.user_id = #{crtId}
  </select>
</mapper>