<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.employeeattend.mapper.AttendanceManualMakeupMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.employee_attend.AttendanceManualMakeup" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="makeup_date" property="makeupDate" jdbcType="DATE" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="minute" property="minute" jdbcType="INTEGER" />
    <result column="makeup_desc" property="makeupDesc" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upt_id" property="uptId" jdbcType="INTEGER" />
    <result column="upt_time" property="uptTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!-- 插入数据:返回记录主键id值 -->
  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into attendance_manual_makeup
        (id,makeup_date,user_id,org_id,minute,makeup_desc,type,crt_id,crt_time,upt_id,upt_time)
    values
        (null,#{makeupDate},#{userId},#{orgId},#{minute},#{makeupDesc},#{type},#{crtId},#{crtTime},#{uptId},#{uptTime})
  </insert>

  <select id="findAttendanceManualMakeupList" resultType="com.yunya.feign.employee_attend.vo.AttendanceManualMakeupVO">
    select
        t.id,
        t.makeup_date as makeupDate,
        t.user_id as userId,
        t.org_id as orgId,
        t.minute,
        t.makeup_desc as makeupDesc,
        t.type
    from attendance_manual_makeup t
    <where>
      <if test="queryForm.type != null">
        and t.type = #{queryForm.type}
      </if>
      <if test="queryForm.userId != null">
        and t.user_id = #{queryForm.userId}
      </if>
      <if test="queryForm.orgId != null">
        and t.org_id = #{queryForm.orgId}
      </if>
      <if test="queryForm.makeupDate != null">
        and DATE_FORMAT(t.makeup_date,'%Y-%m-%d') = DATE_FORMAT(#{queryForm.makeupDate},'%Y-%m-%d')
      </if>
      <if test="queryForm.betweenDate!=null and queryForm.andDate!=null">
        and DATE_FORMAT(t.makeup_date,'%Y-%m-%d') between DATE_FORMAT(#{queryForm.betweenDate},'%Y-%m-%d') and DATE_FORMAT(#{queryForm.andDate},'%Y-%m-%d')
      </if>
    </where>
  </select>
</mapper>