<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.employeeattend.mapper.EmployeeScheduleMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.employee_attend.EmployeeSchedule" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="clinic_id" property="clinicId" jdbcType="INTEGER" />
    <result column="schedule_id" property="scheduleId" jdbcType="INTEGER" />
    <result column="employee_id" property="employeeId" jdbcType="INTEGER" />
    <result column="work_date" property="workDate" jdbcType="DATE" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="EmployeeScheduleVOMap" type="com.yunya.modules.employeeattend.vo.EmployeeScheduleVO" >
    <result column="clinic_id" property="clinicId" jdbcType="INTEGER" />
    <result column="schedule_id" property="scheduleId" jdbcType="INTEGER" />
    <result column="employee_id" property="employeeId" jdbcType="INTEGER" />
    <result column="work_date" property="workDate" jdbcType="DATE" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultCopyMap" type="com.yunya.modules.employeeattend.vo.EmployeeScheduleCopyVO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="clinic_id" property="clinicId" jdbcType="INTEGER" />
    <result column="schedule_id" property="scheduleId" jdbcType="INTEGER" />
    <result column="employee_id" property="employeeId" jdbcType="INTEGER" />
    <result column="work_date" property="workDate" jdbcType="DATE" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
    <result column="first_start_time" property="firstStartTime" jdbcType="TIMESTAMP"/>
    <result column="first_end_time" property="firstEndTime" jdbcType="TIMESTAMP"/>
    <result column="second_start_time" property="secondStartTime" jdbcType="TIMESTAMP"/>
    <result column="second_end_time" property="secondEndTime" jdbcType="TIMESTAMP"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="scheduleName" property="scheduleName" jdbcType="VARCHAR"/>
  </resultMap>

  <resultMap id="EmployeeScheduleVOResultMap" type="com.yunya.modules.employeeattend.vo.EmployeeScheduleVO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="clinic_id" property="clinicId" jdbcType="INTEGER" />
    <result column="schedule_id" property="scheduleId" jdbcType="INTEGER" />
    <result column="employee_id" property="employeeId" jdbcType="INTEGER" />
    <result column="work_date" property="workDate" jdbcType="DATE" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="first_start_time" property="firstStartTime" jdbcType="TIME" />
    <result column="first_end_time" property="firstEndTime" jdbcType="TIME" />
    <result column="second_start_time" property="secondStartTime" jdbcType="TIME" />
    <result column="second_end_time" property="secondEndTime" jdbcType="TIME" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectAllByDate" resultMap="BaseResultCopyMap">
        select es.*,bs.first_start_time,bs.first_end_time,bs.second_start_time,bs.second_end_time,bs.name as scheduleName from employee_schedule es
        left join base_schedule bs on es.schedule_id = bs.id
        where
        es.work_date &gt;= #{startDate} and es.work_date &lt;= #{endDate} and es.employee_id in
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
    </foreach>
    order by es.work_date
    </select>

  <delete id="deleteByDate">
        delete from employee_schedule where
        work_date &gt;= #{startDate} and work_date &lt;= #{endDate} and employee_id in
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
    </delete>

  <insert id="batchInsert" parameterType="java.util.List">
    insert into employee_schedule (id, clinic_id, employee_id, schedule_id, work_date, crt_id, crt_name,
    crt_time, upd_id, upd_name, upd_time, inservice) VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.clinicId,jdbcType=VARCHAR}, #{item.employeeId,jdbcType=VARCHAR},
      #{item.scheduleId,jdbcType=VARCHAR}, #{item.workDate,jdbcType=TIMESTAMP},
      #{item.crtId,jdbcType=VARCHAR},#{item.crtName,jdbcType=VARCHAR}, #{item.crtTime,jdbcType=TIMESTAMP},
      #{item.updId,jdbcType=VARCHAR}, #{item.updName,jdbcType=VARCHAR}, #{item.updTime,jdbcType=TIMESTAMP},
      #{item.inservice,jdbcType=BIT})
    </foreach>
  </insert>

  <select id="selectByDateAndComEmpId" resultMap="BaseResultMap">
        select * from employee_schedule where DATE_FORMAT(work_date,'%Y-%m-%d') =
        DATE_FORMAT(#{workDate},'%Y-%m-%d')
        and employee_id = #{employeeId}
    </select>

  <select id="selectVOByDateAndCompEmpId" resultMap="EmployeeScheduleVOMap">
    select es.employee_id,es.clinic_id,es.work_date,es.schedule_id,bs.type from employee_schedule es
    left join base_schedule bs on es.schedule_id = bs.id
    where
    es.work_date &gt;= #{startDate} and es.work_date &lt;= #{endDate} and es.employee_id = #{employeeId}
    <if test="clinicId != null">
      and es.clinic_id = #{clinicId}
    </if>
    order by es.work_date
  </select>

  <select id="findemList" resultType="com.yunya.modules.employeeattend.vo.EmListVO">
    select es.employee_id,es.clinic_id,es.work_date ,es.schedule_id  ,bs.type,bs.first_start_time startTime,IFNULL(bs.second_end_time,bs.first_end_time) endTime from employee_schedule es
    left join base_schedule bs on es.schedule_id = bs.id
    where
    es.work_date = #{workDate} and es.employee_id = #{employeeId}
    <if test="clinicId != null">
      and es.clinic_id = #{clinicId}
    </if>
    order by es.work_date
  </select>

  <select id="selectBaseScheduleById" resultType="com.yunya.models.employee_attend.BaseSchedule">
    select
        bs.name,
        bs.type,
        bs.first_start_time as firstStartTime,
        bs.first_end_time as firstEndTime,
        bs.second_start_time as secondStartTime,
        bs.second_end_time as secondEndTime,
        bs.inservice
    from base_schedule bs left join employee_schedule es on bs.id=es.schedule_id
    where es.id = #{id}
  </select>

  <select id="selectInIds" resultType="com.yunya.modules.employeeattend.vo.EmployeeScheduleVO">
    select
      es.id,
      es.employee_id as employeeId,
      es.clinic_id as clinicId,
      es.work_date as workDate,
      es.schedule_id as scheduleId
    from employee_schedule es
    where es.inservice = 1
    <if test="ids!=null and ids.size()>0">
        and es.id in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </if>
  </select>

  <select id="findEmployeeScheduleList" resultType="com.yunya.modules.employeeattend.vo.EmployeeScheduleVO">
      select
          es.id,
          es.employee_id as employeeId,
          es.clinic_id as clinicId,
          es.work_date as workDate,
          es.schedule_id as scheduleId,
          bs.type,
          bs.name,
          bs.first_start_time as firstStartTime,
          bs.first_end_time as firstEndTime,
          bs.second_start_time as secondStartTime,
          bs.second_end_time as secondEndTime,
          bs.inservice
      from employee_schedule es left join base_schedule bs on es.schedule_id = bs.id
      <where>
          es.inservice = 1 and bs.inservice = 1
          <if test="queryForm.type!=null and queryForm.type!=''">
              and bs.type = #{queryForm.type}
          </if>
          <if test="queryForm.userId != null">
              and es.employee_id = #{queryForm.userId}
          </if>
          <if test="queryForm.userIds!=null and queryForm.userIds.size()>0">
              and es.employee_id in
              <foreach item="item" index="index" collection="queryForm.userIds" open="(" separator="," close=")">
                  #{item}
              </foreach>
          </if>
          <if test="queryForm.workDate != null">
              and DATE_FORMAT(es.work_date,'%Y-%m-%d') = DATE_FORMAT(#{queryForm.workDate},'%Y-%m-%d')
          </if>
          <if test="queryForm.workDates!=null and queryForm.workDates.size()>0">
              and DATE_FORMAT(es.work_date,'%Y-%m-%d') in
              <foreach item="item" index="index" collection="queryForm.workDates" open="(" separator="," close=")">
                  DATE_FORMAT(#{item},'%Y-%m-%d')
              </foreach>
          </if>
          <if test="queryForm.betweenWorkDate!=null and queryForm.andWorkDate!=null">
              and DATE_FORMAT(es.work_date,'%Y-%m-%d') between DATE_FORMAT(#{queryForm.betweenWorkDate},'%Y-%m-%d') and
              DATE_FORMAT(#{queryForm.andWorkDate},'%Y-%m-%d')
          </if>
      </where>
      order by bs.first_start_time asc;
  </select>
    <select id="selectByCondition" resultType="com.yunya.modules.employeeattend.vo.EmployeeScheduleVO">
       select
          es.id,
          es.employee_id as employeeId,
          es.clinic_id as clinicId,
          es.work_date as workDate,
          es.schedule_id as scheduleId,
          bs.type,
          bs.name,
          bs.first_start_time as firstStartTime,
          bs.first_end_time as firstEndTime,
          bs.second_start_time as secondStartTime,
          bs.second_end_time as secondEndTime,
          bs.inservice
      from employee_schedule es
      left join base_schedule bs on es.schedule_id = bs.id
        <where>
        es.inservice = 1 and bs.inservice = 1
        <if test="employeeId!=null">
            and es.employee_id = #{employeeId}
        </if>
        <if test="scheduleId != null">
            and es.schedule_id = #{scheduleId}
        </if>
            <if test="workDateString != null and workDateString!=''">
                and DATE_FORMAT(es.work_date,'%Y-%m-%d') = DATE_FORMAT(#{workDateString},'%Y-%m-%d')
            </if>
            <if test="clinicId != null">
                and es.clinic_id = #{clinicId}
            </if>
        </where>
    </select>

    <select id="selectApprovalCount" resultType="Integer">
        select sum(num) from
        (
        select count(*) num from leave_schedule ls
        left join  leave_info li on li.id = ls.leave_id
        where li.approval_status in (0,1) and ls.schedule_id = #{id} and li.user_id = #{employeeId}
        UNION
        select count(*) num from leave_info
        where approval_status in (0,1) and DATE_FORMAT(end_time,'%Y-%m-%d') >= DATE_FORMAT(#{workDate},'%Y-%m-%d') and DATE_FORMAT(start_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{workDate},'%Y-%m-%d') and user_id = #{employeeId}
        UNION
        select count(*) num from work_overtime_info wi LEFT JOIN employee_schedule es on es.id = wi.rest_schedule_id
        where wi.approval_status in (0,1) and DATE_FORMAT(wi.work_date,'%Y-%m-%d') = DATE_FORMAT(#{workDate},'%Y-%m-%d') AND
        (es.schedule_id = #{scheduleId} or wi.schedule_id = #{scheduleId}) and wi.user_id = #{employeeId}
        UNION
        select count(*) num from field_info
        where approval_status in (0,1)
        and DATE_FORMAT(end_time,'%Y-%m-%d') >= DATE_FORMAT(#{workDate},'%Y-%m-%d')
        and DATE_FORMAT(start_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{workDate},'%Y-%m-%d')
        and user_id = #{employeeId}
        ) a
    </select>
    <select id="findEmInfoById" resultType="com.yunya.feign.employee_attend.vo.BaseEmployeeScheduleVO">
    select es.id as employeeScheduleId,es.clinic_id as orgId,es.schedule_id as scheduleId,es.employee_id as userId,es.work_date as scheduleDate,
    bs.first_start_time as startWorkTime,IFNULL(bs.second_end_time,bs.first_end_time) as offWorkTime,
    TIMESTAMPDIFF(MINUTE,(DATE_FORMAT(bs.first_start_time, '%Y-%m-%d %H:%i:%s')),(DATE_FORMAT(IFNULL(bs.second_end_time,bs.first_end_time),'%Y-%m-%d %H:%i:%s'))) as scheduleDuration
    from employee_schedule es
    LEFT JOIN base_schedule bs on es.schedule_id = bs.id
    where es.id = #{id}
    </select>
</mapper>