<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.employeeattend.mapper.FieldInfoMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.employee_attend.FieldInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="field_address" property="fieldAddress" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="company_id" property="companyId" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="field_reason" property="fieldReason" jdbcType="VARCHAR"/>
        <result column="refuse_reason" property="refuseReason" jdbcType="VARCHAR"/>
        <result column="approval_people_id" property="approvalPeopleId" jdbcType="INTEGER"/>
        <result column="approval_status" property="approvalStatus" jdbcType="INTEGER"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="FindVOMap" type="com.yunya.feign.employee_attend.vo.FieldInfoListVO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="company_id" property="companyId" jdbcType="INTEGER"/>
        <result column="field_address" property="fieldAddress" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="fieldTime" property="fieldTime" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="field_reason" property="fieldReason" jdbcType="VARCHAR"/>
        <result column="refuse_reason" property="refuseReason" jdbcType="VARCHAR"/>
        <result column="approval_people_id" property="approvalPeopleId" jdbcType="INTEGER"/>
        <result column="approval_status" property="approvalStatus" jdbcType="INTEGER"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="findList" resultMap="BaseResultMap">
        select * from field_info where approval_status in (0,1)
        <if test="userId !=null and userId != ''">
            and user_id = #{userId}
        </if>
    </select>

    <select id="findVOList" resultMap="FindVOMap">
        select distinct fi.id,fi.field_address,fi.user_id,fi.start_time,fi.company_id,
        fi.end_time,fi.refuse_reason,fi.field_reason,fi.approval_people_id,fi.approval_status,TIMESTAMPDIFF(MINUTE,start_time,end_time) as fieldTime,fi.crt_time ,fi.upd_time
        from
        field_info fi  LEFT JOIN copy_info ci ON ci.apply_id = fi.id and ci.apply_type = 2
        <where>
            <if test="copyId !=null and copyId != '' ">
                and ci.user_id = #{copyId}
            </if>
            <if test="id !=null and id != ''">
                and fi.id = #{id}
            </if>
            <if test="userId !=null and userId != ''">
                and fi.user_id = #{userId}
            </if>
            <if test="approvalPeopleId !=null and approvalPeopleId != ''">
                and fi.approval_people_id = #{approvalPeopleId}
            </if>
            <if test="approvalStatus == 0 ">
                and fi.approval_status = #{approvalStatus}
            </if>
            <if test="approvalStatus == 1 or approvalStatus == 2 ">
                and fi.approval_status in (1,2)
            </if>
            <if test="startTime != null ">
                and fi.crt_time >= #{startTime} and fi.crt_time &lt;= #{endTime}
            </if>
        </where>
        order by fi.crt_time desc
    </select>

    <select id="findFieldInfosByUserIdAndDate" resultType="com.yunya.feign.employee_attend.vo.FieldInfoVO">
        select
        t.id,
        t.company_id as companyId,
        t.user_id as userId,
        t.field_reason as fieldReason,
        t.field_address as fieldAddress,
        t.start_time as startTime,
        t.end_time as endTime,
        t.approval_people_id as approvalPeopleId,
        t.approval_status as approvalStatus
        from field_info t
        <where>
            t.approval_status = 1
            <if test="userIds!=null and userIds.size()>0">
                and t.user_id in
                <foreach collection="userIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="date != null">
                and DATE_FORMAT(t.start_time,'%Y-%m-%d') = DATE_FORMAT(#{date},'%Y-%m-%d')
            </if>
        </where>
        order by t.start_time asc
    </select>

    <select id="findFieldInfoList" resultType="com.yunya.feign.employee_attend.vo.FieldInfoVO">
        select
        t.id,
        t.user_id as userId,
        t.company_id as companyId,
        t.field_reason as fieldReason,
        t.field_address as fieldAddress,
        t.start_time as startTime,
        t.end_time as endTime,
        t.approval_people_id as approvalPeopleId,
        t.approval_status as approvalStatus
        from field_info t
        <where>
            <if test="queryForm.approvalStatus!=null">
                and t.approval_status = #{queryForm.approvalStatus}
            </if>
            <if test="queryForm.userId!=null">
                and t.user_id = #{queryForm.userId}
            </if>
            <if test="queryForm.companyId!=null">
                and t.company_id = #{queryForm.companyId}
            </if>
            <if test="queryForm.betweenDate!=null and queryForm.andDate!=null">
                and DATE_FORMAT(t.start_time,'%Y-%m-%d') between DATE_FORMAT(#{queryForm.betweenDate},'%Y-%m-%d') and
                DATE_FORMAT(#{queryForm.andDate},'%Y-%m-%d')
            </if>
        </where>
        order by t.start_time asc
    </select>

    <select id="countByDay" resultType="Integer">
        select count(*) from field_info where user_id = #{userId} and  DATE_FORMAT(start_time,'%Y-%m-%d') = #{startTime}  and approval_status in (0,1)
    </select>

    <select id="findApprovalAllList" resultType="com.yunya.feign.employee_attend.vo.ApprovalAllListVO">
        select id,
        userId,
        crtTime,
        startTime,
        endTime,
        approvalPeopleId,
        STATUS,
        approvalStatus from
        (select id,user_id as userId,crt_time as crtTime,work_date as startTime,work_date as endTime,approval_people_id as approvalPeopleId,'加班' as status,approval_status as approvalStatus from work_overtime_info
        <where>
            <if test="crtTime!=null">
              AND  DATE_FORMAT(crt_time,'%Y-%m-%d') = DATE_FORMAT(#{crtTime},'%Y-%m-%d')
            </if>
            <if test="startTime!=null">
                AND  DATE_FORMAT(work_date,'%Y-%m-%d') = DATE_FORMAT(#{startTime},'%Y-%m-%d')
            </if>
            <if test="userId!=null">
                AND  user_id = #{userId}
            </if>
            <if test="approvalStatus != null">
                AND  approval_status = #{approvalStatus}
            </if>
        </where>
        union all
        select id,user_id as userId,crt_time as crtTime,start_time as startTime,end_time as endTime,approval_people_id as approvalPeopleId,'外勤' as status,approval_status as approvalStatus from field_info
        <where>
            <if test="crtTime!=null">
                AND  DATE_FORMAT(crt_time,'%Y-%m-%d') = DATE_FORMAT(#{crtTime},'%Y-%m-%d')
            </if>
            <if test="startTime!=null">
                AND  DATE_FORMAT(start_time,'%Y-%m-%d') = DATE_FORMAT(#{startTime},'%Y-%m-%d')
            </if>
            <if test="userId!=null">
                AND  user_id = #{userId}
            </if>
            <if test="approvalStatus!=null">
                AND  approval_status = #{approvalStatus}
            </if>
        </where>
        union all
        select li.id as id,li.user_id as userId,li.crt_time as crtTime,li.start_time as startTime,li.end_time as endTime,GROUP_CONCAT(ap.user_id) as approvalPeopleId,'请假' as status,li.approval_status as approvalStatus from leave_info li
        LEFT JOIN approval_info ai on ai.leave_id = li.id
        LEFT JOIN approval_people ap on ap.id = ai.approval_people_id
        <where>
            <if test="crtTime!=null">
                AND  DATE_FORMAT(li.crt_time,'%Y-%m-%d') =  DATE_FORMAT(#{crtTime},'%Y-%m-%d')
            </if>
            <if test="startTime!=null">
                AND  DATE_FORMAT(li.start_time,'%Y-%m-%d') =  DATE_FORMAT(#{startTime},'%Y-%m-%d')
            </if>
            <if test="userId!=null">
                AND  li.user_id = #{userId}
            </if>
            <if test="approvalStatus!=null">
                AND  li.approval_status = #{approvalStatus}
            </if>
        </where>
        GROUP BY li.id) a
        <where>
            <if test="status!=null and status!='' ">
                AND  a.status = #{status}
            </if>
        </where>
        order by a.crtTime desc
    </select>
</mapper>