<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.employeeattend.mapper.LeaveInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.employee_attend.LeaveInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="vacation_id" property="vacationId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="leave_reason" property="leaveReason" jdbcType="VARCHAR" />
    <result column="leave_picture" property="leavePicture" jdbcType="VARCHAR" />
    <result column="approval_criteria_id" property="approvalCriteriaId" jdbcType="INTEGER" />
    <result column="apprpval_status" property="apprpvalStatus" jdbcType="VARCHAR" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="findLeaveInfosByUserIdsAndDate" resultType="com.yunya.feign.employee_attend.vo.LeaveInfoVO">
    select
        t.id,
        t.user_id as userId,
        t.vacation_id as vacationId,
        t.start_time as startTime,
        t.end_time as endTime,
        t.leave_reason as leaveReason,
        t.leave_picture as leavePicture,
        t.approval_criteria_id as approvalCriteriaId,
        t.apprpval_status as apprpvalStatus,
        vs.vacation_status as vacationStatus,
        ls.schedule_id as scheduleId
    from leave_info t left join vacation_set vs on t.vacation_id=vs.id left join leave_schedule ls on t.id=ls.leave_id
    <where>
      t.apprpval_status = 1 and vs.vacation_enable=1
      <if test="userIds!=null and userIds.size()>0">
        and t.user_id in
          <foreach collection="userIds" item="item" index="index" open="(" close=")" separator=",">
              #{item}
          </foreach>
      </if>
      <if test="date != null">
          and DATE_FORMAT(t.start_time,'%y-%m-%d') &lt;= #{date} and DATE_FORMAT(t.end_time,'%y-%m-%d') &gt;= #{date}
      </if>
    </where>
    order by start_time asc
  </select>

  <select id="findLeaveInfoList" resultType="com.yunya.feign.employee_attend.vo.LeaveInfoVO">
    select
        t.id,
        t.user_id as userId,
        t.vacation_id as vacationId,
        t.start_time as startTime,
        t.end_time as endTime,
        t.leave_reason as leaveReason,
        t.leave_picture as leavePicture,
        t.approval_criteria_id as approvalCriteriaId,
        t.apprpval_status as apprpvalStatus,
        vs.vacation_status as vacationStatus,
        ls.schedule_id as scheduleId
    from leave_info t left join vacation_set vs on t.vacation_id=vs.id left join leave_schedule ls on t.id=ls.leave_id
    <where>
      t.apprpval_status = 1 and vs.vacation_enable=1
      <if test="queryForm.userId!=null">
        and t.user_id = #{queryForm.userId}
      </if>
      <if test="date != null">
        and DATE_FORMAT(t.start_time,'yyyy-MM-dd') between DATE_FORMAT(#{queryForm.betweenDate},'%y-%m-%d') and DATE_FORMAT(#{queryForm.andDate},'%y-%m-%d')
      </if>
    </where>
    order by start_time asc
  </select>
</mapper>