<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.employeeattend.mapper.LeaveInfoMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.employee_attend.LeaveInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="vacation_id" property="vacationId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="company_id" property="companyId" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="leave_reason" property="leaveReason" jdbcType="VARCHAR"/>
        <result column="refuse_reason" property="refuseReason" jdbcType="VARCHAR"/>
        <result column="leave_picture" property="leavePicture" jdbcType="VARCHAR"/>
        <result column="approval_criteria_id" property="approvalCriteriaId" jdbcType="INTEGER"/>
        <result column="approval_status" property="approvalStatus" jdbcType="INTEGER"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="AlResultMap" type="com.yunya.models.employee_attend.ApprovalLevelSet">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="approval_criteria_id" property="approvalCriteriaId" jdbcType="INTEGER"/>
        <result column="approval_level_name" property="approvalLevelName" jdbcType="VARCHAR"/>
        <result column="approval_priority" property="approvalPriority" jdbcType="INTEGER"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="findLeaveInfosByUserIdsAndDate" resultType="com.yunya.feign.employee_attend.vo.LeaveInfoVO">
        select
        t.id,
        t.user_id as userId,
        if(vs.vacation_status=1,t.company_id,es.clinic_id) as orgId,
        t.vacation_id as vacationId,
        if(vs.vacation_status=1,t.start_time,ifnull(es.work_date,t.start_time)) as startDate,
        t.end_time as endDate,
        ls.start_time as startTime,
        ls.end_time as endTime,
        t.leave_reason as leaveReason,
        t.leave_picture as leavePicture,
        t.approval_now_people_id as approvalNowPeopleId,
        t.approval_criteria_id as approvalCriteriaId,
        t.approval_status as approvalStatus,
        vs.vacation_status as vacationStatus,
        ls.schedule_id as scheduleId
        from leave_info t left join vacation_set vs on t.vacation_id=vs.id left join leave_schedule ls on t.id=ls.leave_id
        left join employee_schedule es on es.id=ls.schedule_id
        <where>
            t.approval_status = 1 and vs.vacation_enable=1
            <if test="userIds!=null and userIds.size()>0">
                and t.user_id in
                <foreach collection="userIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="date != null">
                and (DATE_FORMAT(t.start_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{date},'%Y-%m-%d') and
                DATE_FORMAT(t.end_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{date},'%Y-%m-%d')
                or DATE_FORMAT(es.work_date,'%Y-%m-%d') = DATE_FORMAT(#{date},'%Y-%m-%d'))
            </if>
        </where>
        order by t.start_time asc
    </select>
    <select id="findLeaveInfoList" resultType="com.yunya.feign.employee_attend.vo.LeaveInfoVO">
        select
        t.id,
        ifnull(t.company_id,es.clinic_id) as orgId,
        t.user_id as userId,
        t.vacation_id as vacationId,
        if(vs.vacation_status=1,t.start_time,ifnull(es.work_date,t.start_time)) as startDate,
        t.end_time as endDate,
        ls.start_time as startTime,
        ls.end_time as endTime,
        t.leave_reason as leaveReason,
        t.leave_picture as leavePicture,
        t.approval_now_people_id as approvalNowPeopleId,
        t.approval_criteria_id as approvalCriteriaId,
        t.approval_status as approvalStatus,
        vs.vacation_status as vacationStatus,
        ls.schedule_id as scheduleId
        from leave_info t left join vacation_set vs on t.vacation_id=vs.id left join leave_schedule ls on t.id=ls.leave_id
        left join employee_schedule es on es.id=ls.schedule_id
        <where>
            vs.vacation_enable=1
            <if test="queryForm.approvalStatus != null">
                and t.approval_status = #{queryForm.approvalStatus}
            </if>
            <if test="queryForm.userId!=null">
                and t.user_id = #{queryForm.userId}
            </if>
            <if test="queryForm.betweenStartDate!= null and queryForm.andStartDate!=null">
                and (DATE_FORMAT(t.start_time,'%Y-%m-%d') between DATE_FORMAT(#{queryForm.betweenStartDate},'%Y-%m-%d')
                and DATE_FORMAT(#{queryForm.andStartDate},'%Y-%m-%d')
                or DATE_FORMAT(es.work_date,'%Y-%m-%d') between DATE_FORMAT(#{queryForm.betweenStartDate},'%Y-%m-%d')
                and DATE_FORMAT(#{queryForm.andStartDate},'%Y-%m-%d'))
            </if>
            <if test="queryForm.vacationStatus != null">
                and vs.vacation_status = #{queryForm.vacationStatus}
            </if>
        </where>
        order by t.start_time asc
    </select>
    <select id="findLeaveInfosBySchedule" resultType="com.yunya.feign.employee_attend.vo.LeaveInfoVO">
        select
        t.id,
        t.user_id as userId,
        t.vacation_id as vacationId,
        es.work_date as startDate,
        t.end_time as endDate,
        ls.start_time as startTime,
        ls.end_time as endTime,
        t.leave_reason as leaveReason,
        t.leave_picture as leavePicture,
        t.approval_now_people_id as approvalNowPeopleId,
        t.approval_criteria_id as approvalCriteriaId,
        t.approval_status as approvalStatus,
        vs.vacation_status as vacationStatus,
        ls.schedule_id as scheduleId
        from leave_info t left join vacation_set vs on t.vacation_id=vs.id left join leave_schedule ls on
        t.id=ls.leave_id
        left join employee_schedule es on es.id=ls.schedule_id
        <where>
            vs.vacation_status=0 and vs.vacation_enable=1
            <if test="queryForm.approvalStatus != null">
                and t.approval_status = #{queryForm.approvalStatus}
            </if>
            <if test="queryForm.userId!=null">
                and t.user_id = #{queryForm.userId}
            </if>
            <if test="queryForm.betweenStartDate!= null and queryForm.andStartDate!=null">
                and DATE_FORMAT(es.work_date,'%Y-%m-%d') between DATE_FORMAT(#{queryForm.betweenStartDate},'%Y-%m-%d')
                and DATE_FORMAT(#{queryForm.andStartDate},'%Y-%m-%d')
            </if>
            <if test="queryForm.vacationStatus != null">
                and vs.vacation_status = #{queryForm.vacationStatus}
            </if>
        </where>
        order by t.start_time asc
    </select>
    <select id="statisticsLeavesByMinute" resultType="com.yunya.feign.employee_attend.vo.LeaveInfoVO">
        select
            t.id,
            t.user_id as userId,
            t.company_id as orgId,
            t.vacation_id as vacationId,
            t.start_time as startDate,
            t.end_time as endDate,
            t.leave_reason as leaveReason,
            t.leave_picture as leavePicture,
            t.approval_now_people_id as approvalNowPeopleId,
            t.approval_criteria_id as approvalCriteriaId,
            t.approval_status as approvalStatus,
            vs.vacation_status as vacationStatus,
            vs.vacation_name as vacationName,
            t.crt_time as crtTime
        from leave_info t left join vacation_set vs on t.vacation_id=vs.id
        <where>
            t.approval_status = 1 and vs.vacation_enable=1
            <if test="queryForm.orgId!=null">
                and t.company_id = #{queryForm.orgId}
            </if>
            <if test="queryForm.userId!=null">
                and t.user_id = #{queryForm.userId}
            </if>
            <if test="queryForm.betweenStartDate!= null and queryForm.andStartDate!=null">
                and DATE_FORMAT(t.start_time,'%Y-%m-%d') between DATE_FORMAT(#{queryForm.betweenStartDate},'%Y-%m-%d')
                and DATE_FORMAT(#{queryForm.andStartDate},'%Y-%m-%d')
            </if>
            <if test="queryForm.vacationStatus != null">
                and vs.vacation_status = #{queryForm.vacationStatus}
            </if>
            <if test="queryForm.ids!=null and queryForm.ids.size()>0">
                or t.id in
                <foreach collection="queryForm.ids" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by t.start_time asc
    </select>
    <select id="findLeaveListByDay" resultMap="BaseResultMap">
        select
        id,
        user_id ,
        vacation_id ,
        start_time ,
        end_time ,
        leave_reason ,
        leave_picture ,
        approval_criteria_id ,
        approval_status
        from leave_info
        <where>
            approval_status in(0,1)
            <if test="userId!=null">
                and user_id = #{userId}
            </if>
        </where>
        order by start_time asc
    </select>
    <select id="selectBaseByDay" resultType="com.yunya.feign.employee_attend.vo.EmLeaveVO">
        select DISTINCT es.id id, es.work_date date,es.clinic_id companyId,bs.first_start_time
        startTime,IFNULL(bs.second_end_time,bs.first_end_time) endTime ,bs.type emType,bs.`name` emName,ls.start_time as leaveStartTime,ls.end_time as leaveEndTime
        from employee_schedule es
        LEFT JOIN base_schedule bs on es.schedule_id = bs.id
        LEFT JOIN leave_schedule ls on ls.schedule_id = es.id
        <where>
            <if test="vacationStatus!= null and vacationStatus = 0">
                and  bs.type = '上班'
            </if>
            <if test="startTime!= null">
                and es.work_date BETWEEN #{startTime} and #{endTime}
            </if>
            <if test="userId!= null">
                and es.employee_id = #{userId}
            </if>
            <if test="id!= null">
                and ls.leave_id = #{id}
            </if>
        </where>
        order by es.work_date
    </select>

    <select id="selectApprovalByDay" resultMap="AlResultMap">
        select als.* from approval_criteria ac
        left JOIN approval_level_set als on als.approval_criteria_id = ac.id
        where ac.start_day &lt; IF(TIMESTAMPDIFF(day,#{startTime},#{endTime})=0,1,TIMESTAMPDIFF(day,#{startTime},DATE_ADD(#{endTime}, INTERVAL '1' DAY)))
        and IFNULL(ac.end_day,9999)>=TIMESTAMPDIFF(day,#{startTime},DATE_ADD(#{endTime}, INTERVAL '1' DAY))
    </select>

    <select id="countByDay" resultType="Integer">
        SELECT
        count(*)
        FROM
        leave_info
        WHERE
        user_id = #{userId}
        AND DATE_FORMAT(start_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{startTime}, '%Y-%m-%d')
        AND DATE_FORMAT(end_time,'%Y-%m-%d') >= DATE_FORMAT(#{startTime}, '%Y-%m-%d')
        AND approval_status IN (0, 1)
    </select>
    <select id="countFiWi" resultType="Integer">
        select sum(num) from
        (SELECT
        count(*) num
        FROM
        field_info
        WHERE
        user_id = #{userId}
        AND DATE_FORMAT(start_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{endTime}, '%Y-%m-%d')
        AND DATE_FORMAT(start_time,'%Y-%m-%d') >= DATE_FORMAT(#{startTime}, '%Y-%m-%d')
        AND approval_status IN (0, 1)
        union
        SELECT
        count(*) num
        FROM
        work_overtime_info
        WHERE
        user_id = #{userId}
        AND DATE_FORMAT(work_date,'%Y-%m-%d')  &lt;= DATE_FORMAT(#{endTime}, '%Y-%m-%d')
        AND DATE_FORMAT(work_date,'%Y-%m-%d') >= DATE_FORMAT(#{startTime}, '%Y-%m-%d')
        AND approval_status IN (0, 1)) a
    </select>
    <select id="selectLeave" resultType="com.yunya.feign.employee_attend.vo.LeaveInfoListVO">
        select
        DISTINCT a.* from
        (SELECT DISTINCT
        t.id,
        t.user_id AS userId,
        t.vacation_id AS vacationId,
        t.company_id AS companyId,
        vs.vacation_name AS vacationName,
        t.start_time AS startTime,
        t.end_time AS endTime,
        t.leave_reason AS leaveReason,
        t.leave_picture AS leavePicture,
        t.approval_criteria_id AS approvalCriteriaId,
        t.approval_status AS approvalStatus,
        t.crt_time AS crtTime,
        t.refuse_reason AS refuseReason,
        vs.vacation_status AS vacationStatus,
        IFNULL(
        sum(
        TIMESTAMPDIFF(
        MINUTE,
        ls.start_time,
        ls.end_time
        )
        ),
        TIMESTAMPDIFF(
        MINUTE,
        t.start_time,
        DATE_ADD(t.end_time, INTERVAL '1' DAY)
        ) / 3
        ) AS leaveTime
        FROM
        leave_info t
        LEFT JOIN vacation_set vs ON t.vacation_id = vs.id
        LEFT JOIN leave_schedule ls ON ls.leave_id = t.id
        <where>
            <if test="id!= null">
                and t.id = #{id}
            </if>
            <if test="userId!= null">
                and t.user_id = #{userId}
            </if>
            <if test="startTime != null and endTime != null">
                and t.crt_time >= #{startTime} and t.crt_time &lt;= #{endTime}
            </if>
        </where>
        GROUP BY
        t.id) a
        LEFT JOIN copy_info ci ON ci.apply_id = a.id and ci.apply_type = 0
        <where>
            <if test="copyId !=null and copyId != '' ">
                and ci.user_id = #{copyId}
            </if>
        </where>
        order by a.crtTime desc
    </select>

    <select id="selectLeaveByIds" resultType="com.yunya.feign.employee_attend.vo.LeaveInfoListVO">
        select
        DISTINCT a.* from
        (SELECT DISTINCT
        t.id,
        t.user_id AS userId,
        t.vacation_id AS vacationId,
        t.company_id AS companyId,
        vs.vacation_name AS vacationName,
        t.start_time AS startTime,
        t.end_time AS endTime,
        t.leave_reason AS leaveReason,
        t.leave_picture AS leavePicture,
        t.approval_criteria_id AS approvalCriteriaId,
        t.approval_status AS approvalStatus,
        t.crt_time AS crtTime,
        t.refuse_reason AS refuseReason,
        vs.vacation_status AS vacationStatus,
        IFNULL(
        sum(
        TIMESTAMPDIFF(
        MINUTE,
        ls.start_time,
        ls.end_time
        )
        ),
        TIMESTAMPDIFF(
        MINUTE,
        t.start_time,
        DATE_ADD(t.end_time, INTERVAL '1' DAY)
        ) / 3
        ) AS leaveTime
        FROM
        leave_info t
        LEFT JOIN vacation_set vs ON t.vacation_id = vs.id
        LEFT JOIN leave_schedule ls ON ls.leave_id = t.id
        <where>
            <if test="userIds != null and userIds.size() > 0">
                and t.user_id in
                <foreach collection="userIds" item="userid" open="(" separator="," close=")">
                    #{userid}
                </foreach>
            </if>
            <if test="id!= null">
                and t.id = #{id}
            </if>
            <if test="startTime != null and endTime != null">
                and t.start_time >= #{startTime} and t.start_time &lt; DATE_ADD(#{endTime}, INTERVAL '1' DAY)
            </if>
        </where>
        GROUP BY
        t.id) a
        LEFT JOIN copy_info ci ON ci.apply_id = a.id and ci.apply_type = 0
        <where>
            <if test="copyId !=null and copyId != '' ">
                and ci.user_id = #{copyId}
            </if>
        </where>
        order by a.crtTime desc
    </select>

    <select id="findApproval" resultType="com.yunya.feign.employee_attend.vo.ApprovalInfoVO">
    SELECT
	ai.leave_id leaveId,
	ap.user_id userId,
	als.approval_priority approvalPriority,
	ai.approval_status approvalStatus,
	ai.crt_time crtTime,
	ai.upd_time updTime
    FROM
	approval_info ai
    LEFT JOIN approval_people ap ON ai.approval_people_id = ap.id
    LEFT JOIN approval_level_set als ON ap.approval_level_id = als.id
    WHERE
	ai.leave_id = #{id}
    ORDER BY
	als.approval_priority desc
    </select>

    <select id="findApprovalByMe" resultType="com.yunya.feign.employee_attend.vo.LeaveAppVO">
   SELECT
    li.id AS id,
    li.user_id AS userId,
    vs.vacation_name AS vacationName,
    vs.vacation_status AS vacationStatus,
    li.crt_time AS crtTime,
    li.start_time AS startTime,
    li.end_time AS endTime,
        IFNULL(
        sum(
        TIMESTAMPDIFF(
        MINUTE,
        ls.start_time,
        ls.end_time
        )
        ),
        TIMESTAMPDIFF(
        MINUTE,
        li.start_time,
        DATE_ADD(li.end_time, INTERVAL '1' DAY)
        ) / 3
        ) AS leaveTime,
    li.approval_status AS approvalStatus,
	ap.user_id AS uid
    FROM
	leave_info li
    LEFT JOIN approval_people ap on li.approval_now_people_id = ap.id
      LEFT JOIN approval_info ai ON ai.leave_id = li.id and ai.approval_people_id = ap.id
     LEFT JOIN leave_schedule ls on ls.leave_id = li.id
    LEFT JOIN vacation_set vs on li.vacation_id = vs.id
    where ap.user_id = #{userId} and li.approval_status = 0
    group BY li.id
    order by li.crt_time desc
    </select>
    <select id="findOverApprovalByMe" resultType="com.yunya.feign.employee_attend.vo.LeaveAppVO">
    SELECT
    li.id AS id,
    li.user_id AS userId,
    vs.vacation_name AS vacationName,
    vs.vacation_status AS vacationStatus,
    li.crt_time AS crtTime,
    li.start_time AS startTime,
    li.end_time AS endTime,
     IFNULL(
        sum(
        TIMESTAMPDIFF(
        MINUTE,
        ls.start_time,
        ls.end_time
        )
        ),
        TIMESTAMPDIFF(
        MINUTE,
        li.start_time,
        DATE_ADD(li.end_time, INTERVAL '1' DAY)
        ) / 3
        ) AS leaveTime,
    li.approval_status AS approvalStatus
    FROM
	leave_info li
    LEFT JOIN approval_info ai ON ai.leave_id = li.id
    LEFT JOIN approval_people ap on ai.approval_people_id = ap.id
    LEFT JOIN approval_level_set als on ap.approval_level_id = als.id
     LEFT JOIN leave_schedule ls on ls.leave_id = li.id
    LEFT JOIN vacation_set vs on li.vacation_id = vs.id
    where ai.approval_status in (2,1)
    and ap.user_id = #{userId} group BY ai.leave_id
     order by li.crt_time desc
    </select>
    <select id="findVacationStaus" resultType="java.lang.Integer">
      select vs.vacation_status from vacation_set vs
      LEFT JOIN leave_info li on li.vacation_id = vs.id
      where li.id = #{id}
    </select>

    <select id="backFindListByIds" resultType="com.yunya.feign.employee_attend.vo.LeaveInfoListVO">
        select
        DISTINCT a.* from
        (SELECT DISTINCT
        t.id,
        t.user_id AS userId,
        t.vacation_id AS vacationId,
        t.company_id AS companyId,
        vs.vacation_name AS vacationName,
        t.start_time AS startTime,
        t.end_time AS endTime,
        t.leave_reason AS leaveReason,
        t.leave_picture AS leavePicture,
        t.approval_criteria_id AS approvalCriteriaId,
        t.approval_status AS approvalStatus,
        t.crt_time AS crtTime,
        t.refuse_reason AS refuseReason,
        vs.vacation_status AS vacationStatus,
        IFNULL(
        sum(
        TIMESTAMPDIFF(
        MINUTE,
        ls.start_time,
        ls.end_time
        )
        ),
        TIMESTAMPDIFF(
        MINUTE,
        t.start_time,
        DATE_ADD(t.end_time, INTERVAL '1' DAY)
        ) / 3
        ) AS leaveTime,
        ls.start_time AS LsStartDate,
        ls.end_time AS LsEndDate
        FROM
        leave_info t
        LEFT JOIN vacation_set vs ON t.vacation_id = vs.id
        LEFT JOIN leave_schedule ls ON ls.leave_id = t.id
        <where>
            <if test="userIds != null and userIds.size() > 0">
                and t.user_id in
                <foreach collection="userIds" item="userid" open="(" separator="," close=")">
                    #{userid}
                </foreach>
            </if>
            <if test="id!= null">
                and t.id = #{id}
            </if>
            <if test="approvalStatus!= null and approvalStatus !=''">
                and t.approval_status = #{approvalStatus}
            </if>
            <if test="startTime != null and endTime != null">
                and (
                (t.start_time &lt;= #{startTime} and t.end_time >= #{startTime})
                or (t.start_time &lt;=  #{endTime} and t.end_time >= #{endTime})
                or (t.start_time >= #{startTime} and t.start_time &lt;=  #{endTime})
                or (t.end_time>= #{startTime} and t.end_time &lt;= #{endTime})
                )
            </if>
        </where>
        GROUP BY
        t.id,ls.start_time,ls.end_time) a
        LEFT JOIN copy_info ci ON ci.apply_id = a.id and ci.apply_type = 0
        <where>
            <if test="copyId !=null and copyId != '' ">
                and ci.user_id = #{copyId}
            </if>
        </where>
        order by a.crtTime desc
    </select>
</mapper>