<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.employeeattend.mapper.WorkOvertimeInfoMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.employee_attend.WorkOvertimeInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="company_id" property="companyId" jdbcType="INTEGER"/>
        <result column="schedule_id" property="scheduleId" jdbcType="INTEGER"/>
        <result column="rest_schedule_id" property="restScheduleId" jdbcType="INTEGER"/>
        <result column="overtime_reason" property="overtimeReason" jdbcType="VARCHAR"/>
        <result column="refuse_reason" property="refuseReason" jdbcType="VARCHAR"/>
        <result column="approval_people_id" property="approvalPeopleId" jdbcType="INTEGER"/>
        <result column="approval_status" property="approvalStatus" jdbcType="INTEGER"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="findListMap" type="com.yunya.feign.employee_attend.vo.WorkOvertimeInfoListVO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="company_id" property="companyId" jdbcType="INTEGER"/>
        <result column="schedule_id" property="scheduleId" jdbcType="INTEGER"/>
        <result column="rest_schedule_id" property="restScheduleId" jdbcType="INTEGER"/>
        <result column="overtime_reason" property="overtimeReason" jdbcType="VARCHAR"/>
        <result column="work_date" property="workDate" jdbcType="DATE"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="workOverTime" property="workOverTime" jdbcType="VARCHAR"/>
        <result column="refuse_reason" property="refuseReason" jdbcType="VARCHAR"/>
        <result column="startTime" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="endTime" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="approval_people_id" property="approvalPeopleId" jdbcType="INTEGER"/>
        <result column="approval_status" property="approvalStatus" jdbcType="INTEGER"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="BSMap" type="com.yunya.models.employee_attend.BaseSchedule">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="color" property="color" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="first_start_time" property="firstStartTime" jdbcType="TIMESTAMP"/>
        <result column="first_end_time" property="firstEndTime" jdbcType="TIMESTAMP"/>
        <result column="second_start_time" property="secondStartTime" jdbcType="TIMESTAMP"/>
        <result column="second_end_time" property="secondEndTime" jdbcType="TIMESTAMP"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="findWorkOvertimeInfoByUserIdsAndDate"
            resultType="com.yunya.feign.employee_attend.vo.WorkOvertimeInfoVO">
        select
        t.id,
        t.user_id as userId,
        t.work_date as workDate,
        t.company_id as companyId,
        t.rest_schedule_id as restScheduleId,
        t.schedule_id as scheduleId,
        t.overtime_reason as overtimeReason,
        t.approval_people_id as approvalPeopleId,
        t.approval_status as approvalStatus
        from work_overtime_info t left join base_schedule bs on t.schedule_id=bs.id
        <where>
            t.approval_status = 1
            <if test="userIds!=null and userIds.size()>0">
                and t.user_id in
                <foreach collection="userIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="date != null">
                and DATE_FORMAT(t.work_date,'%Y-%m-%d') = DATE_FORMAT(#{date},'%Y-%m-%d')
            </if>
        </where>
        order by bs.first_start_time asc
    </select>
    <select id="findList" resultMap="findListMap">
        SELECT distinct
        t.id,
        t.user_id,
        t.work_date,
        t.company_id,
        t.schedule_id,
        t.overtime_reason,
        t.refuse_reason,
        t.approval_people_id,
        t.approval_status,
        b.first_start_time startTime,
        IFNULL(
        b.second_end_time,
        b.first_end_time
        ) endTime,
        TIMESTAMPDIFF(MINUTE,b.first_start_time,IFNULL(
        b.second_end_time,
        b.first_end_time
        )) workOverTime,
        b.name,
        t.crt_time,
        t.upd_time
        FROM
        work_overtime_info t
        LEFT JOIN base_schedule b ON t.schedule_id = b.id
        LEFT JOIN copy_info ci ON ci.apply_id = t.id and ci.apply_type = 1
        <where>
            <if test="id !=null and id != ''">
                and t.id = #{id}
            </if>
            <if test="userId !=null and userId != ''">
                and t.user_id = #{userId}
            </if>
            <if test="approvalPeopleId !=null and approvalPeopleId != ''">
                and t.approval_people_id = #{approvalPeopleId}
            </if>
            <if test="approvalStatus == 0 ">
                and t.approval_status = #{approvalStatus}
            </if>
            <if test="approvalStatus == 1 or approvalStatus == 2 ">
                and t.approval_status in (1,2)
            </if>
            <if test="copyId !=null and copyId != '' ">
                and ci.user_id = #{copyId}
            </if>
            <if test="startTime != null ">
                and t.crt_time >= #{startTime} and t.crt_time &lt;= #{endTime}
            </if>
            <if test="userList!=null and userList.size()>0">
                and t.user_id in
                <foreach collection="userList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by t.crt_time desc
    </select>
    <select id="findWorkEm" resultMap="BSMap">
    SELECT
	bs.*
    FROM
	base_schedule bs
    LEFT JOIN clinic_schedule cs ON cs.schedule_id = bs.id
    WHERE bs.type = '上班' and
	cs.clinic_id = #{companyId} and bs.first_start_time >= DATE_FORMAT(#{startTime},'%H:%i:%s') and IFNULL(bs.second_end_time,bs.first_end_time)&lt;=
	DATE_FORMAT(#{endTime},'%H:%i:%s')
    </select>
    <select id="findNoWorkEm" resultType="java.lang.String">
        SELECT
        es.work_date
        FROM
        base_schedule bs
        LEFT JOIN employee_schedule es on es.schedule_id = bs.id
        WHERE bs.type = '休息' and
        es.employee_id = #{userId} and es.work_date >= #{startTime} and es.work_date &lt;= #{endTime}
    </select>
    <select id="findNoWorkEmByDate" resultType="com.yunya.feign.employee_attend.vo.findNoWorkEmByDateVO">
    SELECT
	es.id scheduleId,es.clinic_id companyId,es.work_date,bs.first_start_time startTime,IFNULL(bs.second_end_time,bs.first_end_time) endTime,bs.name
    FROM
	base_schedule bs
	LEFT JOIN employee_schedule es on es.schedule_id = bs.id
    WHERE es.employee_id = #{userId} and es.work_date = #{workDate} and bs.type = '休息'
    </select>

    <select id="selectCountById" resultType="Integer">
        select count(*) from work_overtime_info where approval_status in (0,1) and rest_schedule_id = #{restScheduleId}
    </select>
    <select id="countByDay" resultType="Integer">
        select count(*) from work_overtime_info where approval_status in (0,1)
         AND DATE_FORMAT(work_date,'%Y-%m-%d') = DATE_FORMAT(#{workDate}, '%Y-%m-%d') and user_id = #{userId}
    </select>

    <select id="findWorkOvertimeInfoList" resultType="com.yunya.feign.employee_attend.vo.WorkOvertimeInfoVO">
        select
            t.id,
            t.user_id as userId,
            t.work_date as workDate,
            t.company_id as companyId,
            t.rest_schedule_id as restScheduleId,
            t.schedule_id as scheduleId,
            t.overtime_reason as overtimeReason,
            t.approval_people_id as approvalPeopleId,
            t.approval_status as approvalStatus,
            t.refuse_reason as refuseReason,
            t.crt_time as crtTime,
            bs.first_start_time as startTime,
            ifnull(bs.second_end_time,bs.first_end_time) as endTime
        from work_overtime_info t left join base_schedule bs on t.schedule_id=bs.id
        <where>
            <if test="queryForm.approvalStatus!=null">
                and t.approval_status = #{queryForm.approvalStatus}
            </if>
            <if test="queryForm.userId!=null">
                and t.user_id = #{queryForm.userId}
            </if>
            <if test="queryForm.companyId!=null">
                and t.company_id = #{queryForm.companyId}
            </if>
            <if test="queryForm.startTime!= null and queryForm.endTime!= null">
                and DATE_FORMAT(t.work_date,'%Y-%m-%d') between DATE_FORMAT(#{queryForm.startTime},'%Y-%m-%d') and DATE_FORMAT(#{queryForm.endTime},'%Y-%m-%d')
            </if>
            <if test="queryForm.notIds!=null and queryForm.notIds.size()>0">
                and t.id in
                <foreach collection="queryForm.notIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by t.crt_time desc
    </select>

    <select id="statisticsWorkOvertimesByMinute" resultType="com.yunya.feign.employee_attend.vo.AttendanceOvertimeMinuteVO">
        select
            t.id,
            t.work_date as workDate,
            t.company_id as companyId,
            t.rest_schedule_id as restScheduleId,
            t.schedule_id as scheduleId,
            t.approval_people_id as approvalPeopleId,
            t.approval_status as approvalStatus,
            t.crt_time as applyDate,
            bs.first_start_time as onPunchTime,
            ifnull(bs.second_end_time,bs.first_end_time) as offPunchTime,
            bs.name as scheduleName,
            mm.minute as markupMinute,
            mm.id as makeupId,
            mm.makeup_desc as makeupDesc
        from work_overtime_info t left join base_schedule bs on t.schedule_id=bs.id
        left join attendance_manual_makeup mm on (t.user_id=mm.user_id and t.company_id=mm.org_id and t.work_date=mm.makeup_date)
        <where>
            <if test="queryForm.approvalStatus!=null">
                and t.approval_status = #{queryForm.approvalStatus}
            </if>
            <if test="queryForm.userId!=null">
                and t.user_id = #{queryForm.userId}
            </if>
            <if test="queryForm.companyId!=null">
                and t.company_id = #{queryForm.companyId}
            </if>
            <if test="queryForm.startTime!= null and queryForm.endTime!= null">
                and DATE_FORMAT(t.work_date,'%Y-%m-%d') between DATE_FORMAT(#{queryForm.startTime},'%Y-%m-%d') and DATE_FORMAT(#{queryForm.endTime},'%Y-%m-%d')
            </if>
        </where>
        order by t.crt_time desc
    </select>
</mapper>