<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.appointment.mapper.AppointmentMapper">

    <resultMap id="appointmentMap" type="com.yunya.models.appointment.Appointment">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="patient_id" jdbcType="INTEGER" property="patientId"/>
        <result column="org_id" jdbcType="INTEGER" property="orgId"/>
        <result column="online_appointment_id" jdbcType="INTEGER" property="onlineAppointmentId"/>
        <result column="dentist_id" jdbcType="INTEGER" property="dentistId"/>
        <result column="assistant_id" jdbcType="INTEGER" property="assistantId"/>
        <result column="dept_room_id" jdbcType="INTEGER" property="deptRoomId"/>
        <result column="clinic_device_item_id" jdbcType="INTEGER" property="clinicDeviceItemId"/>
        <result column="clinic_appoint_item_id" jdbcType="INTEGER" property="clinicAppointItemId"/>
        <result column="appoint_duration" jdbcType="INTEGER" property="appointDuration"/>
        <result column="appoint_date" jdbcType="DATE" property="appointDate"/>
        <result column="appoint_time" jdbcType="VARCHAR" property="appointTime"/>
        <result column="appoint_start_time" jdbcType="TIMESTAMP" property="appointStartTime"/>
        <result column="appoint_end_time" jdbcType="TIMESTAMP" property="appointEndTime"/>
        <result column="appoint_period" jdbcType="VARCHAR" property="appointPeriod"/>
        <result column="tooth_bit" jdbcType="VARCHAR" property="toothBit"/>
        <result column="appoint_content" jdbcType="VARCHAR" property="appointContent"/>
        <result column="appoint_type" jdbcType="INTEGER" property="appointType"/>
        <result column="confirm_status" jdbcType="INTEGER" property="confirmStatus"/>
        <result column="appoint_status" jdbcType="INTEGER" property="appointStatus"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="cancel_reason" jdbcType="VARCHAR" property="cancelReason"/>
        <result column="inservice" jdbcType="BIT" property="inservice"/>
        <result column="crt_id" jdbcType="INTEGER" property="crtId"/>
        <result column="crt_name" jdbcType="VARCHAR" property="crtName"/>
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime"/>
        <result column="upt_id" jdbcType="INTEGER" property="uptId"/>
        <result column="upd_name" jdbcType="VARCHAR" property="updName"/>
        <result column="upd_time" jdbcType="TIMESTAMP" property="updTime"/>
    </resultMap>

    <!-- 预约可视图（医生维度） -->
    <resultMap id="appointmentDimensionColumn" type="com.yunya.feign.appointment.vo.AppointmentDimensionVo">
        <result column="dentist_id" jdbcType="INTEGER" property="dentistId"/>
        <result column="patientNum" jdbcType="INTEGER" property="patientNum"/>
        <result column="currentDate" jdbcType="DATE" property="currentDate"/>
        <collection property="appointmentPatientCardVos"
                    ofType="com.yunya.feign.appointment.vo.AppointmentPatientCardVo">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="patient_id" jdbcType="INTEGER" property="patientId"/>
            <result column="appoint_type" jdbcType="INTEGER" property="appointType"/>
            <result column="appoint_content" jdbcType="VARCHAR" property="appointContent"/>
            <result column="appoint_date" jdbcType="DATE" property="appointDate"/>
            <result column="appoint_time" jdbcType="VARCHAR" property="appointTime"/>
            <result column="appoint_duration" jdbcType="INTEGER" property="appointDuration"/>
            <result column="confirm_status" jdbcType="INTEGER" property="confirmStatus"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
    id, patient_id, org_id, dentist_id, online_appointment_id, assistant_id, dept_room_id, clinic_device_item_id,
    clinic_appoint_item_id, appoint_duration, appoint_date, appoint_time, appoint_start_time,
    appoint_end_time, appoint_period, tooth_bit, appoint_content, appoint_type, confirm_status,
    appoint_status, remarks, cancel_reason, inservice, crt_id, crt_name, crt_time, upt_id, upd_name,
    upd_time
  </sql>

    <sql id="Appoint_ConflictInfo_Column">
    apt.id,
    apt.patient_id as patientId,
    apt.org_id as orgId,
    apt.dentist_id as dentistId,
    apt.assistant_id as assistantId,
    apt.dept_room_id as deptRoomId,
    apt.clinic_device_item_id as clinicDeviceItemId,
    apt.clinic_appoint_item_id as clinicAppointItemId,
    apt.appoint_duration as appointDuration,
    apt.appoint_date as appointDate,
    apt.appoint_time as appointTime,
    apt.appoint_start_time as appointStartTime,
    apt.appoint_end_time as appointEndTime,
    apt.appoint_period as appointPeriod,
    apt.tooth_bit as toothBit,
    apt.appoint_content as appointContent,
    apt.appoint_type as appointType,
    apt.confirm_status as confirmStatus,
    apt.appoint_status as appointStatus,
    apt.remarks,
    apt.cancel_reason as cancelReason,
    apt.inservice,
    apt.crt_time as crtTime,
    apt.crt_name as crtName
  </sql>

    <!-- 根据设备id，预约开始时间，预约结束时间查询所有预约列表 -->
    <select id="findAppointListByDeviceIdAndAppointStartTimeAndAppointEndTime"
            resultType="com.yunya.feign.appointment.vo.AppointConflictInfoVo">
        select
        <include refid="Appoint_ConflictInfo_Column"/>
        from appointment apt
        where
        not <![CDATA[(DATE_FORMAT(apt.appoint_end_time,'%d %b %Y %T') <= DATE_FORMAT(#{appointStartTime},'%d %b %Y %T')
      or DATE_FORMAT(apt.appoint_start_time,'%d %b %Y %T') >= DATE_FORMAT(#{appointEndTime},'%d %b %Y %T'))]]>
        and apt.clinic_device_item_id = #{deviceId} and apt.inservice = 1 and apt.appoint_status = 0
    </select>

    <!-- 根据患者id，预约开始时间，预约结束时间查询所有预约列表 -->
    <select id="findAppointListByPatientIdAndAppointStartTimeAndAppointEndTime"
            resultType="com.yunya.feign.appointment.vo.AppointConflictInfoVo">
        select
        <include refid="Appoint_ConflictInfo_Column"/>
        from appointment apt
        where
        not <![CDATA[(DATE_FORMAT(apt.appoint_end_time,'%d %b %Y %T') <= DATE_FORMAT(#{appointStartTime},'%d %b %Y %T')
      or DATE_FORMAT(apt.appoint_start_time,'%d %b %Y %T') >= DATE_FORMAT(#{appointEndTime},'%d %b %Y %T'))]]>
        and apt.patient_id = #{patientId} and apt.inservice = 1 and apt.appoint_status = 0
    </select>

    <!-- 根据医生id，预约开始时间，预约结束时间查询所有预约列表 -->
    <select id="findAppointListByDentistIdAndAppointStartTimeAndAppointEndTime"
            resultType="com.yunya.feign.appointment.vo.AppointConflictInfoVo">
        select
        <include refid="Appoint_ConflictInfo_Column"/>
        from appointment apt
        where
        not <![CDATA[(DATE_FORMAT(apt.appoint_end_time,'%d %b %Y %T') <= DATE_FORMAT(#{appointStartTime},'%d %b %Y %T')
      or DATE_FORMAT(apt.appoint_start_time,'%d %b %Y %T') >= DATE_FORMAT(#{appointEndTime},'%d %b %Y %T'))]]>
        and apt.dentist_id = #{dentistId} and apt.inservice = 1 and apt.appoint_status = 0
    </select>

    <!-- 根据助手id，预约开始时间，预约结束时间查询所有预约列表 -->
    <select id="findAppointListByAssistantIdAndAppointStartTimeAndAppointEndTime"
            resultType="com.yunya.feign.appointment.vo.AppointConflictInfoVo">
        select
        <include refid="Appoint_ConflictInfo_Column"/>
        from appointment apt
        where
        not <![CDATA[(DATE_FORMAT(apt.appoint_end_time,'%d %b %Y %T') < DATE_FORMAT(#{appointStartTime},'%d %b %Y %T')
      or DATE_FORMAT(apt.appoint_start_time,'%d %b %Y %T') > DATE_FORMAT(#{appointEndTime},'%d %b %Y %T'))]]>
        and apt.assistant_id = #{assistantId} and apt.inservice = 1 and apt.appoint_status = 0
    </select>

    <!-- 根据条件查询预约列表 -->
    <select id="findAppointmentByExample" parameterType="com.yunya.feign.appointment.domain.query.AppointmentQuery"
            resultType="com.yunya.feign.appointment.vo.AppointmentVo">
        select
        a.id,
        a.patient_id as patientId,
        a.org_id as orgId,
        a.dentist_id as dentistId,
        a.assistant_id as assistantId,
        a.dept_room_id as deptRoomId,
        a.clinic_device_item_id as clinicDeviceItemId,
        a.clinic_appoint_item_id as clinicAppointItemId,
        a.appoint_duration as appointDuration,
        a.appoint_date as appointDate,
        a.appoint_time as appointTime,
        a.appoint_start_time as appointStartTime,
        a.appoint_end_time as appointEndTime,
        a.appoint_period as appointPeriod,
        a.appoint_type as appointType,
        a.confirm_status as confirmStatus,
        a.appoint_status as appointStatus,
        a.tooth_bit as toothBit,
        IFNULL(a.appoint_content,'--') as appointContent,
        IFNULL(a.remarks,'--') as remarks,
        IFNULL(a.cancel_reason,'--') as cancelReason,
        a.inservice,
        a.crt_name as crtName,
        a.crt_time as crtTime
        from appointment a
        <where>
            <if test="query.orgId != null">
                and a.org_id = #{query.orgId}
            </if>
            <if test="query.inservice != null">
                and a.inservice = #{query.inservice}
            </if>
            <if test="query.appointStatus != null">
                and a.appoint_status = #{query.appointStatus}
            </if>
            <if test="query.patientId != null">
                and a.patient_id = #{query.patientId}
            </if>

            <if test="query.dentistId != null">
                and a.dentist_id = #{query.dentistId}
            </if>
            <if test="query.assistantId != null">
                and a.assistant_id = #{query.assistantId}
            </if>
            <if test="query.deptRoomId != null">
                and a.dept_room_id = #{query.deptRoomId}
            </if>
            <if test="query.clinicDeviceItemId != null">
                and a.clinic_device_item_id = #{query.clinicDeviceItemId}
            </if>
            <if test="query.clinicAppointItemId != null">
                and a.clinic_appoint_item_id = #{query.clinicAppointItemId}
            </if>
            <if test="query.appointDate != null">
                and a.appoint_date = DATE_FORMAT(#{query.appointDate},'%Y-%m-%d')
            </if>
            <if test="query.appointTime != null and query.appointTime != ''">
                and a.appoint_time = #{query.appointTime}
            </if>
            <if test="query.appointStartTime != null">
                and a.appoint_start_time = #{query.appointStartTime}
            </if>
            <if test="query.appointEndTime != null">
                and a.appoint_end_time = #{query.appointEndTime}
            </if>
            <if test="query.appointType != null">
                and a.appoint_type = #{query.appointType}
            </if>
            <if test="query.confirmStatus != null">
                and a.confirmStatus = #{query.confirmStatus}
            </if>
            and a.appoint_status &lt;&gt; 2
        </where>
        order by a.appoint_start_time asc
    </select>

    <!-- 添加预约 -->
    <insert id="insertAppointment" keyProperty="id" parameterType="com.yunya.models.appointment.Appointment"
            useGeneratedKeys="true">
      insert into appointment (patient_id, org_id, dentist_id,
        assistant_id, dept_room_id, clinic_device_item_id,online_appointment_id,
        clinic_appoint_item_id, appoint_duration, appoint_date,
        appoint_time, appoint_start_time, appoint_end_time,
        appoint_period, tooth_bit, appoint_content,
        appoint_type, confirm_status, appoint_status,
        remarks, cancel_reason, inservice, crt_id,
        crt_name, crt_time, upt_id,
        upd_name, upd_time)
      values (#{patientId}, #{orgId}, #{dentistId},
        #{assistantId}, #{deptRoomId}, #{clinicDeviceItemId},#{onlineAppointmentId},
        #{clinicAppointItemId}, #{appointDuration}, #{appointDate},
        #{appointTime}, #{appointStartTime}, #{appointEndTime},
        #{appointPeriod}, #{toothBit}, #{appointContent},
        #{appointType}, #{confirmStatus}, #{appointStatus},
        #{remarks}, #{cancelReason}, #{inservice}, #{crtId},
        #{crtName}, #{crtTime}, #{uptId},
        #{updName}, #{updTime})
  </insert>

    <!-- 编辑预约——检查患者预约冲突 -->
    <select id="editCheckPatientConflict" parameterType="java.util.Map"
            resultType="com.yunya.feign.appointment.vo.AppointConflictInfoVo">
        select
        <include refid="Appoint_ConflictInfo_Column"/>
        from (
        select *
        from appointment
        where not (DATE_FORMAT(appoint_end_time,'%d %b %Y %T') &lt;= DATE_FORMAT(#{appointStartTime},'%d %b %Y %T')
        or DATE_FORMAT(appoint_start_time,'%d %b %Y %T') &gt;= DATE_FORMAT(#{appointEndTime},'%d %b %Y %T'))
        and patient_id = #{patientId} and inservice = 1 and appoint_status in (0,1)) apt
        where apt.id not in (#{id})
    </select>

    <!-- 编辑预约——检查医生预约冲突 -->
    <select id="editCheckDentistConflict" parameterType="java.util.Map"
            resultType="com.yunya.feign.appointment.vo.AppointConflictInfoVo">
        select
        <include refid="Appoint_ConflictInfo_Column"/>
        from
        (
        select
        *
        from appointment
        where not (DATE_FORMAT(appoint_end_time,'%d %b %Y %T') &lt;= DATE_FORMAT(#{appointStartTime},'%d %b %Y %T')
        or DATE_FORMAT(appoint_start_time,'%d %b %Y %T') &gt;= DATE_FORMAT(#{appointEndTime},'%d %b %Y %T'))
        and dentist_id = #{dentistId} and inservice = 1 and appoint_status in (0,1)
        ) apt
        where apt.id not in (#{id})
    </select>

    <!-- 编辑预约检查助手预约冲突（排除自身） -->
    <select id="editCheckAssistantConflict"
            resultType="com.yunya.feign.appointment.vo.AppointConflictInfoVo">
        select
        <include refid="Appoint_ConflictInfo_Column"/>
        from
        (
        select
        *
        from appointment
        where not (DATE_FORMAT(appoint_end_time,'%d %b %Y %T') &lt;= DATE_FORMAT(#{appointStartTime},'%d %b %Y %T')
        or DATE_FORMAT(appoint_start_time,'%d %b %Y %T') &gt;= DATE_FORMAT(#{appointEndTime},'%d %b %Y %T'))
        and assistant_id = #{assistantId} and inservice = 1 and appoint_status in (0,1)
        ) apt
        where apt.id not in (#{id})
    </select>

    <!-- 编辑预约——检查设备预约冲突 -->
    <select id="editCheckDeviceConflict" parameterType="java.util.Map"
            resultType="com.yunya.feign.appointment.vo.AppointConflictInfoVo">
        select
        <include refid="Appoint_ConflictInfo_Column"/>
        from
        (
        select
        *
        from appointment
        where not (DATE_FORMAT(appoint_end_time,'%d %b %Y %T') &lt;= DATE_FORMAT(#{appointStartTime},'%d %b %Y %T')
        or DATE_FORMAT(appoint_start_time,'%d %b %Y %T') &gt;= DATE_FORMAT(#{appointEndTime},'%d %b %Y %T'))
        and clinic_device_item_id = #{deviceId} and inservice = 1 and appoint_status in (0,1)
        ) apt
        where apt.id not in (#{id})
    </select>

    <!-- 根据日期查询失约患者名单 -->
    <select id="findMissedAppointmentByDate" parameterType="java.util.Date" resultMap="appointmentMap">
    SELECT appoint.* FROM `appointment` appoint
    WHERE appoint.appoint_date = DATE_FORMAT(#{currentDate},'%Y-%m-%d') and appoint.inservice = 1 and appoint.appoint_status = 0
  </select>

    <!-- 根据预约id查询预约 -->
    <select id="findAppointmentById" parameterType="java.lang.Integer"
            resultType="com.yunya.feign.appointment.vo.AppointmentVo">
        select
        <include refid="Appoint_ConflictInfo_Column"></include>
        from appointment apt where apt.id = #{id}
    </select>

    <!-- 根据时间和医生id查询预约可视图（患者维度） -->
    <select id="findAppointmentDimensionInfoByDateAndDentistId" parameterType="java.util.Map"
            resultMap="appointmentDimensionColumn">
    select
      a.id,
      a.dentist_id,
--       a.appoint_date as currentDate,
      a.patient_id,
      a.appoint_type,
      a.appoint_content,
      a.appoint_date,
      a.appoint_time,
      a.appoint_duration,
      a.confirm_status,
       (select COUNT(a1.dentist_id) as num from appointment a1
          where
            a1.dentist_id = a.dentist_id
            and a1.inservice = 1
            and a1.appoint_date between DATE_FORMAT(#{startDate},'%Y-%m-%d') and DATE_FORMAT(#{endDate},'%Y-%m-%d')
			and a1.org_id = a.org_id
			and a1.appoint_status &lt;&gt; 3) as patientNum
    from appointment a
    <where>
        a.inservice = 1
        and a.appoint_status &lt;&gt; 3
        <if test="orgId != null">
            and a.org_id = #{orgId}
        </if>
        <if test="dentistId != null">
            and a.dentist_id = #{dentistId}
        </if>
        <if test="startDate != null and endDate != null">
            and a.appoint_date between DATE_FORMAT(#{startDate},'%Y-%m-%d') and DATE_FORMAT(#{endDate},'%Y-%m-%d')
        </if>
    </where>
  </select>

    <!-- 根据条件查询预约未到患者信息列表 -->
    <select id="selectAppointmentUnDonePatientInfoList"
            resultType="com.yunya.feign.appointment.vo.AppointmentUnDonePatientInfoVO">
        select
        a.id,
        a.org_id as orgId,
        a.patient_id as patientId,
        a.appoint_type as firstVisit,
        a.dentist_id as appointDentistId,
        a.assistant_id as appointAssistantId,
        a.dept_room_id as appointDeptRoomId,
        a.appoint_time as appointTime,
        a.appoint_duration as appointDuration,
        IFNULL(a.appoint_content,'--') as appointContent,
        IFNULL(a.remarks,'--') as appointRemark,
        a.appoint_type as appointType,
        a.appoint_status as appointStatus,
        a.confirm_status as confirmStatus,
        DATE_FORMAT(a.crt_time, '%Y-%m-%d') as appointmentCrtTime
        from appointment a
        <where>
            and a.appoint_status = 0
            and a.inservice = 1
            <if test="queryForm.id != null">
                and a.id = #{queryForm.id}
            </if>
            <if test="queryForm.dentistId != null">
                and a.dentist_id = #{queryForm.dentistId}
            </if>
            <if test="queryForm.patientId != null">
                and a.patient_id = #{queryForm.patientId}
            </if>
            <if test="queryForm.orgId != null">
                and a.org_id = #{queryForm.orgId}
            </if>
            <if test="queryForm.currentDate != null and queryForm.currentDate != ''">
                and DATE_FORMAT(a.appoint_date, '%Y-%m-%d') = DATE_FORMAT(#{queryForm.currentDate}, '%Y-%m-%d')
            </if>
        </where>
        order by
        IF( #{queryForm.currentDate} > CURRENT_DATE, confirm_status, appointTime ) ASC,
        appointTime ASC
    </select>

    <!-- 根据患者id查询患者所有预约列表 -->
    <select id="findAppointmentByPatientId" parameterType="java.lang.Integer" resultMap="appointmentMap">
        select a.*
        from appointment a
        where a.patient_id = #{patientId}
    </select>

    <!-- 根据条件查询患者预约信息（患者档案-预约信息）用 -->
    <select id="findAppointPatientRecord" parameterType="com.yunya.feign.appointment.domain.query.AppointPatientRecordQuery"
            resultType="com.yunya.feign.appointment.vo.AppointPatientRecordVo">
        SELECT
            a.id,
            a.patient_id AS patientId,
            a.org_id AS orgId,
            a.dentist_id AS dentistId,
            a.assistant_id AS assistantId,
            a.appoint_duration AS appointDuration,
            a.appoint_date AS appointDate,
            a.appoint_time AS appointTime,
            a.appoint_content AS appointContent,
            a.confirm_status AS confirmStatus,
            a.appoint_status AS appointStatus,
            a.dept_room_id AS deptRoomId,
            a.clinic_device_item_id AS clinicDeviceItemId,
            a.remarks
        FROM
            appointment a
        <where>
            <if test="orgId != null">
                and a.org_id = #{orgId}
            </if>
            <if test="patientId != null">
                and a.patient_id = #{patientId}
            </if>
            <if test="startDate != null and endDate != null">
                and DATE_FORMAT(a.appoint_date,'%Y-%m-%d') BETWEEN DATE_FORMAT(#{startDate},'%Y-%m-%d') and DATE_FORMAT(#{endDate},'%Y-%m-%d')
            </if>
        </where>
        order by a.appoint_date desc
    </select>

    <!-- 根据分解助手ID、开始分解日期、结束分解日期查询列表 -->
    <select id="findByIdAndStartTimeAndEndTime" resultType="com.yunya.feign.appointment.vo.AppointConflictInfoVo">
        SELECT
        a.id,
        a.patient_id,
        a.org_id,
        a.dentist_id,
        apt.assistant_id,
        a.dept_room_id,
        a.clinic_device_item_id,
        a.clinic_appoint_item_id,
        (SELECT
        TIMESTAMPDIFF( MINUTE, ( DATE_FORMAT( apt.split_end_time, '%Y-%m-%d %H:%i' )), ( DATE_FORMAT( apt.split_start_time, '%Y-%m-%d %H:%i' )) ) FROM DUAL) as appoint_duration,
        a.appoint_date,
        DATE_FORMAT(apt.split_start_time,'%H:%i') as appoint_time,
        apt.split_start_time as appoint_start_time,
        apt.split_end_time as appoint_end_time,
        CONCAT(DATE_FORMAT(apt.split_start_time,'%H:%i'),'-',DATE_FORMAT(apt.split_end_time,'%H:%i')) as appoint_period,
        a.tooth_bit,
        a.appoint_content,
        a.appoint_type,
        a.confirm_status,
        a.appoint_status,
        a.remarks,
        a.inservice
        FROM
        (
        SELECT
        *
        FROM
        appointment_split
        WHERE
        NOT (
        DATE_FORMAT( split_end_time, '%d %b %Y %T' ) &lt; DATE_FORMAT( #{startTime}, '%d %b %Y %T' )
        OR DATE_FORMAT( split_start_time, '%d %b %Y %T' ) &gt; DATE_FORMAT( #{endTime}, '%d %b %Y %T' ))
        AND assistant_id = #{assistantId}
        AND inservice = 1
        ) apt LEFT JOIN appointment a ON a.id = apt.appointment_id
    </select>

    <!-- 根据条件查询预约列表 -->
    <select id="selectAppointmentList" resultMap="appointmentMap">
        select
            <include refid="Base_Column_List"></include>
        from appointment a
        <where>
            <if test="query.orgId != null">
                and a.org_id = #{query.orgId}
            </if>
            <if test="query.queryDate != null and query.queryDate != ''">
                and DATE_FORMAT(a.appoint_date, '%Y-%m-%d') = #{query.queryDate}
            </if>
            <if test="query.dentistId != null">
                and a.dentist_id = #{query.dentistId}
            </if>
            <if test="query.appointStatus != null">
                and a.appoint_status = #{query.appointStatus}
            </if>
            <if test="query.inservice != null">
                and a.inservice = #{query.inservice}
            </if>
        </where>
    </select>

    <!-- 计算后续患者预约数量 -->
    <select id="selectCountNextAppoint" parameterType="Integer" resultType="Integer">
        select count(id) from appointment where patient_id = #{patientId}
        and date_format(appoint_date,'%Y-%m-%d') &gt; date_format(now(),'%Y-%m-%d')
        and appoint_status = 0
    </select>

    <!-- 根据预约ID查询预约列表 -->
    <select id="appointmentListByIds" resultMap="appointmentMap">
        select * from appointment where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 计算后续指定患者的预约数量列表 -->
    <select id="countNextAppoints" resultType="com.yunya.feign.appointment.vo.NextAppointsVo">
        select
        patient_id as patientId,
        ifnull(count(id), 0) as `count`,
        group_concat(distinct id order by id desc) as id,
        group_concat(distinct assistant_id order by id desc) as assistantId,
        group_concat(distinct dept_room_id order by id desc) as deptRoomId,
        group_concat(distinct dentist_id order by id desc) as dentistId

        from appointment where patient_id in
        <foreach collection="patientIds" item="patientId" open="(" separator="," close=")">
            #{patientId}
        </foreach>
        and date_format(appoint_date,'%Y-%m-%d') &gt; date_format(now(),'%Y-%m-%d')
        and appoint_status = 0
        group by patient_id
    </select>

    <!-- 查询指定时间段内每个医生每天预约人数 -->
    <select id="appointmentForMonth" resultType="com.yunya.feign.treatment.domain.vo.TreatmentInfoForMonthVO">
        SELECT
        DATE_FORMAT(a.appoint_date,'%Y-%m-%d') as currentDate,
        COUNT(a.id) as `count`
        FROM(
        SELECT
        appoint.id,
        DATE_FORMAT(appoint.appoint_date,'%Y-%m-%d') as appoint_date
        FROM
        `appointment` appoint
        <where>
            and appoint.appoint_status in (0,1)
            and appoint.inservice = true
            <if test="dentistId != null">
                and appoint.dentist_id = #{dentistId}
            </if>
            <if test="startDate != null and endDate != null">
                and date_format(appoint.appoint_date,'%Y-%m-%d') BETWEEN date_format(#{startDate},'%Y-%m-%d') AND date_format(#{endDate},'%Y-%m-%d')
            </if>
            <if test="orgId != null">
                and org_id = #{orgId}
            </if>
        </where>
        ) a
        GROUP BY a.appoint_date
    </select>

    <!-- 预约未到列表统计 -->
    <select id="countAppointNotArrived" resultType="integer">
        select
        count(a.id)
        from appointment a
        <where>
            and a.inservice = 1
            <if test="queryForm.orgId != null">
                and a.org_id = #{queryForm.orgId}
            </if>
            and a.appoint_status = 0
            <if test="queryForm.currentDate != null and queryForm.currentDate != ''">
                and DATE_FORMAT(a.appoint_date, '%Y-%m-%d') = DATE_FORMAT(#{queryForm.currentDate}, '%Y-%m-%d')
            </if>
            <if test="queryForm.dentistId != null">
                and a.dentist_id = #{queryForm.dentistId}
            </if>
        </where>
    </select>
    <!-- 根据时间查询预约维度公共信息 -->
    <select id="findAppointmentDimensionCommInfo"
            resultMap="appointmentDimensionColumn">
        select
        a.id,
        a.dentist_id,
        a.patient_id,
        a.appoint_type,
        a.appoint_content,
        a.appoint_date as currentDate,
        a.appoint_date,
        a.appoint_time,
        a.appoint_duration,
        a.confirm_status,
        (select COUNT(a1.dentist_id) as num from appointment a1
        where
        a1.dentist_id = a.dentist_id
        and a1.inservice = 1
        and a1.appoint_status in (0,1)
        and a1.org_id = a.org_id
        and a1.appoint_date between DATE_FORMAT(#{startDate},'%Y-%m-%d') and DATE_FORMAT(#{endDate},'%Y-%m-%d')
        ) as patientNum
        from appointment a
        <where>
            a.inservice = 1
            and a.appoint_status in (0,1)
            <if test="orgId != null">
                and a.org_id = #{orgId}
            </if>
            <if test="dentistIds != null and dentistIds.size() > 0">
                and a.dentist_id in
                 <foreach collection="dentistIds" item="dentistId" open="(" separator="," close=")">
                     #{dentistId}
                 </foreach>
            </if>
            <if test="startDate != null and endDate != null">
                and a.appoint_date between DATE_FORMAT(#{startDate},'%Y-%m-%d') and DATE_FORMAT(#{endDate},'%Y-%m-%d')
            </if>
        </where>
    </select>

    <select id="cancelAppointmentList" resultType="com.yunya.feign.appointment.vo.CancelAppointmentVO">
        SELECT
            ap.org_id AS orgId,
            ap.dentist_id AS dentistId,
            ap.patient_id AS patientId,
            CONCAT(DATE_FORMAT(ap.appoint_date,'%Y-%m-%d'),' ',appoint_time) AS appointDateTime,
            ap.appoint_status AS appointStatus,
            ap.appoint_duration AS appointDuration,
            ap.appoint_type AS appointType,
            ap.upd_time AS cancelDateTime,
            ap.cancel_reason AS cancelReason,
            ap.upd_name AS operator
        FROM appointment ap
        <where>
            inservice = true
            AND ap.appoint_status = 2
            <if test="query.startDate!=null and query.startDate!=''">
                AND DATE_FORMAT(ap.upd_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{query.startDate},'%Y-%m-%d')
            </if>
            <if test="query.endDate!=null and query.endDate!=''">
                AND DATE_FORMAT(ap.upd_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{query.endDate},'%Y-%m-%d')
            </if>
            <if test="query.orgIds!=null and query.orgIds.length>0">
                AND ap.org_id in
                <foreach collection="query.orgIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.dentistIds!=null and query.dentistIds.length>0">
                and ap.dentist_id in
                <foreach collection="query.dentistIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <!--查询患者的后续预约列表-->
    <select id="selectNextAppointmentList" resultType="com.yunya.feign.appointment.vo.NextAppointmentVO">
        SELECT
            dentist_id AS dentistId,
            appoint_start_time AS appointDate,
            org_id AS orgId
        FROM appointment
        <where>
            inservice = true
            <if test="patientId != null ">
                AND patient_id = #{patientId}
            </if>
            AND DATE_FORMAT(appoint_date, '%Y-%m-%d') || appoint_time &gt; date_format(now(),'%Y-%m-%d %H:%i')
        </where>
        ORDER BY id ASC
    </select>


    <select id="selectPatientAppointTrajectory" resultType="com.yunya.feign.patient_central.domain.vo.PatientEventVO">
        SELECT * FROM (
            SELECT
                org_id AS orgId,
                2 AS eventCode,
                crt_time AS timePoint
            FROM appointment
            WHERE inservice = true
            AND patient_id = #{patientId}
            UNION ALL
            SELECT
                org_id,
                4 AS eventCode,
                appoint_start_time AS timePoint
            FROM appointment
            WHERE inservice = true
            AND appoint_status = 1
            AND patient_id = #{patientId}
            UNION ALL
            SELECT
                org_id,
                4 AS eventCode,
                appoint_start_time AS timePoint
            FROM appointment
            WHERE inservice = true
            AND appoint_status = 3
            AND patient_id = #{patientId}
        ) t
        ORDER BY t.timePoint ASC
    </select>
</mapper>