<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.appointment.mapper.AppointmentModifyRecordMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.appointment.AppointmentModifyRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="org_id" property="orgId" jdbcType="INTEGER" />
    <id column="appointment_id" property="appointmentId" jdbcType="INTEGER" />
    <id column="appoint_date" property="appointDate" jdbcType="DATE" />
    <id column="dentist_id" property="dentistId" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upt_id" property="uptId" jdbcType="INTEGER" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!-- 通过id查询 -->
  <select id="findAppointModifyRecordById" parameterType="integer" resultType="com.yunya.feign.appointment.vo.AppointModifyRecordVo">
    select
      amr.id,
      amr.org_id as orgId,
      amr.appointment_id as appointmentId,
      amr.appoint_date as appointDate,
      amr.dentist_id as dentistId,
      amr.inservice,
      amr.remarks
    from appointment_modify_record amr
    where amr.id = #{id}
  </select>

  <!-- 根据条件查询修改内容 -->
  <select id="findAppointModifyRecordByExample"
          parameterType="com.yunya.feign.appointment.domain.query.AppointModifyRecordQuery"
          resultType="com.yunya.feign.appointment.vo.AppointModifyRecordVo">
    select
      amr.id,
      amr.org_id as orgId,
      amr.appointment_id as appointmentId,
      amr.appoint_date as appointDate,
      amr.dentist_id as dentistId,
      amr.inservice,
      amr.remarks
    from appointment_modify_record amr
    <where>
      <if test="query.orgId != null">
        amr.org_id = #{query.orgId}
      </if>
      <if test="query.appointmentId != null">
        and amr.appointment_id = #{query.appointmentId}
      </if>
      <if test="query.appointDate != null">
        and amr.appoint_date = #{query.appointDate}
      </if>
      <if test="query.dentistId  != null">
        and amr.dentist_id = #{query.dentistId}
      </if>
    </where>
  </select>

</mapper>