<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.appointment.mapper.AppointItemMapper">
  <resultMap id="BaseResultMap" type="com.yunya.models.appointment.AppointItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="appoint_type_id" jdbcType="INTEGER" property="appointTypeId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="duration" jdbcType="INTEGER" property="duration" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="inservice" jdbcType="BIT" property="inservice" />
    <result column="crt_id" jdbcType="INTEGER" property="crtId" />
    <result column="crt_name" jdbcType="VARCHAR" property="crtName" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="upt_id" jdbcType="INTEGER" property="uptId" />
    <result column="upd_name" jdbcType="VARCHAR" property="updName" />
    <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
  </resultMap>

    <resultMap id="AllOrdersMap" type="com.yunya.feign.appointment.vo.AppointmentItemEnableModelVo">
        <result column="orgId" jdbcType="INTEGER" property="orgId" />
        <result column="typeName" jdbcType="VARCHAR" property="typeName" />
        <result column="typeId" jdbcType="INTEGER" property="typeId"/>
        <result column="bg_color" jdbcType="INTEGER" property="bgColor"/>
        <collection ofType="com.yunya.feign.appointment.vo.AppointmentItemVo" property="appointmentItems">
            <id column="id" jdbcType="INTEGER" property="id" />
            <result column="name" jdbcType="VARCHAR" property="name" />
            <result column="duration" jdbcType="INTEGER" property="duration" />
            <result column="remarks" jdbcType="VARCHAR" property="remarks" />
            <result column="inservice" jdbcType="BIT" property="inservice" />
        </collection>
    </resultMap>



    <!--根基预约名称查询预约项目列表-->
    <select id="selectAppitemByName" parameterType="java.util.Map" resultType="com.yunya.feign.appointment.vo.AppointmentItemVo">
        select
        apt.item_no as id, apt.comp_appitem_id as orderId, apt.item_name as name, apt.app_duration as duration,
        apt.isvalid as isvalid
        from
        app_item apt
        where
        apt.comp_clin_id = #{compClinId}
        <if test="keyword != null and keyword != ''">
            and (item_name like concat('%',#{keyword},'%') or item_no like concat('%',#{keyword},'%')
        </if>
    </select>

    <!-- 查询预约项目 -->
    <select id="selectAllAppointItemByOrgId" resultMap="AllOrdersMap">
        select
        citem.org_id as orgId,
        item.id,
        item.name,
        atype.name as typeName,
        atype.id as typeId,
        atype.bg_color,
        item.duration,
        item.remarks,
        item.inservice
        from appoint_item item LEFT JOIN
        clinic_appoint_item  citem
        ON item.id = citem.appoint_item_id
        LEFT JOIN appoint_type atype ON	atype.id = item.appoint_type_id
        where citem.org_id = #{form.orgId} and citem.inservice = 1
        <if test="form.appointItemId != null">
            and citem.id = #{form.appointId}
        </if>
        <if test="form.name != null">
            and citem.name like concat('%',#{form.name},'%')
        </if>

    </select>

    <!--查询预约分类列表-->
    <select id="findAppointItemByExample" parameterType="com.yunya.feign.appointment.domain.query.AppointItemQuery" resultType="com.yunya.feign.appointment.vo.AppointmentItemVo">
        select
        DISTINCT item.id,
        item.name,
        atype.name as typeName,
        item.appoint_type_id as appointTypeId,
        IFNULL(item.duration,'无') as duration,
        cai.inservice,
        cai.remarks
        FROM
        clinic_appoint_item cai
        inner JOIN appoint_item item ON item.id = cai.appoint_item_id
        inner JOIN appoint_type atype ON atype.id = item.appoint_type_id
        <where>
            <if test="form.appointTypeId != null">
                atype.id =#{form.appointTypeId}
            </if>
            <if test="form.orgId != null">
                and cai.org_id = #{form.orgId}
            </if>
            <if test="form.name != null and form.fuzzyQuery == true">
                and item.name like CONCAT(CONCAT('%', #{form.name}), '%')
            </if>
            <if test="form.name != null and form.fuzzyQuery == false">
                and item.name = #{form.name}
            </if>
            <if test="form.inservice != null">
                and cai.inservice = #{form.inservice}
            </if>
        </where>
    </select>
    <!-- 插入实体 -->
    <insert id="insertEntity" parameterType="com.yunya.models.appointment.AppointItem" useGeneratedKeys="true" keyProperty="id">
        insert into appoint_item (appoint_type_id,`name`,duration,remarks,crt_id,crt_name,crt_time,upt_id,upd_name,upd_time)
        values
        (#{appointTypeId},#{name},#{duration},#{remarks},#{crtId},#{crtName},
        #{crtTime},#{uptId},#{updName},#{updTime})
    </insert>

</mapper>