<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.appointment.mapper.AppointmentOperateRecordMapper">
  <resultMap id="BaseResultMap" type="com.yunya.models.appointment.AppointmentOperateRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="appointment_id" jdbcType="INTEGER" property="appointmentId" />
    <result column="operate_type" jdbcType="TINYINT" property="operateType" />
    <result column="operate_item" jdbcType="VARCHAR" property="operateItem" />
    <result column="before_operation" jdbcType="VARCHAR" property="beforeOperation" />
    <result column="after_operation" jdbcType="VARCHAR" property="afterOperation" />
    <result column="inservice" jdbcType="BIT" property="inservice" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="crt_id" jdbcType="INTEGER" property="crtId" />
    <result column="crt_name" jdbcType="VARCHAR" property="crtName" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="upt_id" jdbcType="INTEGER" property="uptId" />
    <result column="upd_name" jdbcType="VARCHAR" property="updName" />
    <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
  </resultMap>

  <!--  根据条件查询预约操作记录 -->
  <select id="findAppointOperationRecordByExample"
          parameterType="com.yunya.feign.appointment.domain.query.AppointOperationQuery"
          resultType="com.yunya.feign.appointment.vo.AppointOperationRecordVo">
		SELECT
		  aor.id,
		  aor.org_id as orgId,
		  aor.appointment_id as appointmentId,
		  aor.operate_type as operateType,
		  aor.operate_item as operateItem,
		  aor.before_operation as beforeOperation,
		  aor.after_operation as afterOperation,
		  aor.inservice,
		  aor.remarks,
		  aor.crt_name as crtName,
		  aor.crt_time as crtTime
		FROM appointment_operate_record aor
		<where>
          <if test="query.orgId != null">
            aor.org_id = #{query.orgId}
          </if>
          <if test="query.appointmentId != null">
            and aor.appointment_id = #{query.appointmentId}
          </if>
        </where>
        order by aor.crt_time
        <if test="query.orderBy != null">
            ${query.orderBy}
        </if>

  </select>

</mapper>