<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.appointment.mapper.ClinicDeviceItemMapper">
  <resultMap id="BaseResultMap" type="com.yunya.models.appointment.ClinicDeviceItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="device_id" jdbcType="INTEGER" property="deviceId" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="inservice" jdbcType="BIT" property="inservice" />
    <result column="crt_id" jdbcType="INTEGER" property="crtId" />
    <result column="crt_name" jdbcType="VARCHAR" property="crtName" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="upt_id" jdbcType="INTEGER" property="uptId" />
    <result column="upd_name" jdbcType="VARCHAR" property="updName" />
    <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, device_id, `number`, org_id, remarks, inservice, crt_id, crt_name, crt_time,
    upt_id, upd_name, upd_time
  </sql>

  <!-- 根据条件查询设备 -->
  <select id="selectDeviceItemByExample" parameterType="com.yunya.feign.appointment.domain.query.DeviceItemQuery" resultType="com.yunya.feign.appointment.vo.DeviceItemVo">
    SELECT
      cdi.id,
      cdi.number,
      cdt.name,
      cdi.device_id as deviceId,
      cdi.org_id as orgId,
      cdi.inservice,
      cdi.remarks
    from clinic_device_item cdi left join clinic_device_type cdt
    on cdt.id = cdi.device_id
    <where>
      <if test="query.deviceId != null">
        cdi.device_id = #{query.deviceId}
      </if>
      <if test="query.number != null">
        and cdi.number = #{query.number}
      </if>
      <if test="query.orgId != null">
        and cdi.org_id = #{query.orgId}
      </if>
      <if test="query.inservice != null">
        and cdi.inservice = #{query.inservice}
      </if>
    </where>
  </select>

  <!-- 根据设备id查询设备 -->
  <select id="selectDeviceItemById" parameterType="java.lang.Integer" resultType="com.yunya.feign.appointment.vo.DeviceItemVo">
    SELECT
      cdi.id,
      cdi.number,
      cdi.device_id as deviceId,
      cdi.org_id as orgId,
      cdt.name,
      cdi.remarks,
      cdi.inservice
    from clinic_device_item cdi LEFT JOIN clinic_device_type cdt
    on cdi.device_id = cdt.id
    where cdi.id = #{id}
  </select>

</mapper>