<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.appointment.mapper.OnlineAppointItemSettingMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.appointment.OnlineAppointItemSetting" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="appoint_item_id" property="appointItemId" jdbcType="INTEGER" />
    <result column="dentist_id" property="dentistId" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="BaseResultMapVo" type="com.yunya.feign.appointment.vo.OnlineAppointItemSettingModelVo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="appoint_item_id" property="appointItemId" jdbcType="INTEGER" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
  </resultMap>

  <sql id="baseFieldVo">
    id,appoint_item_id,inservice
  </sql>

    <!-- 根据条件批量查询预约项目 -->
    <select id="selectByCondition" resultMap="BaseResultMapVo">
      select <include refid="baseFieldVo"/>
      from online_appoint_item_setting
      <where>
        <if test="querys.id != null">
          and id = ${querys.id}
        </if>
        <if test="querys.dentistId != null">
          and dentist_id = ${querys.dentistId}
        </if>
        <if test="querys.orgId != null">
          and oais.org_id = ${querys.orgId}
        </if>
        <if test="querys.appointItemId != null">
          and oais.appoint_item_id = ${querys.appointItemId}
        </if>
        <if test="querys.inservice != null">
          and oais.inservice = ${querys.inservice}
        </if>
      </where>
    </select>
</mapper>