<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.appointment.mapper.OnlineAppointmentMapper" >
    <resultMap id="BaseResultMap" type="com.yunya.models.appointment.OnlineAppointment" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="dentist_id" property="dentistId" jdbcType="INTEGER" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="INTEGER" />
    <result column="appoint_item_id" property="appointItemId" jdbcType="INTEGER" />
    <result column="appoint_content" property="appointContent" jdbcType="VARCHAR" />
    <result column="appoint_date" property="appointDate" jdbcType="DATE" />
    <result column="appoint_time" property="appointTime" jdbcType="TIME" />
    <result column="duration" property="duration" jdbcType="INTEGER" />
    <result column="patient_name" property="patientName" jdbcType="VARCHAR" />
    <result column="patient_phone" property="patientPhone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <!-- 根据预约申请ID查询预约详情 -->
    <select id="selectEntityById" resultType="com.yunya.feign.appointment.vo.OnlineAppointmentVo">
        select
            oa.id as id,
            oa.org_id as orgId,
            oa.dentist_id as dentistId,
            oa.patient_id as patientId,
            oa.appoint_item_id as appointItemId,
            oa.open_id as openId,
            oai.name as appointItemName,
            oa.appoint_content as appointContent,
            date_format(oa.appoint_date,'%Y-%m-%d') as appointDate,
            date_format(oa.appoint_time, '%H:%i' ) as appointTime,
            oa.duration as duration,
            oa.patient_name as patientName,
            oa.patient_phone as patientPhone,
            oa.status as status,
            date_format(oa.crt_time,'%Y-%m-%d') as crtTime,
            a.id as appointmentId,
            a.confirm_status as confirmStatus
        from online_appointment oa left join appointment a on a.online_appointment_id = oa.id and a.inservice = true left join online_appoint_item oai on  oai.item_id = oa.appoint_item_id
        where oa.id = #{id}
    </select>

    <!-- 根据条件批量查询预约申请 -->
    <select id="findByCondition" resultType="com.yunya.feign.appointment.vo.OnlineAppointmentVo">
        select distinct
            oa.id as id,
            oa.open_id as openId,
            oa.org_id as orgId,
            oa.dentist_id as dentistId,
            oa.patient_id as patientId,
            oa.appoint_item_id as appointItemId,
            oaitem.name as appointItemName,
            oa.appoint_content as appointContent,
            date_format(oa.appoint_date,'%Y-%m-%d') as appointDate,
            date_format(oa.appoint_time,'%H:%i') as appointTime,
            oaitem.duration as duration,
            oa.patient_name as patientName,
            oa.patient_phone as patientPhone,
            oa.status as status,
            date_format(oa.crt_time,'%Y-%m-%d') as crtTime,
            a.id as appointmentId,
            a.confirm_status as confirmStatus
        from online_appointment oa left join online_appoint_item oaitem on oaitem.item_id = oa.appoint_item_id LEFT join appointment a on a.online_appointment_id = oa.id and oa.patient_id = a.patient_id and a.inservice = true
        <where>
            <if test="query.orgId != null">
                and oa.org_id = #{query.orgId}
            </if>
            <if test="query.openId != null and query.openId != ''">
                and oa.open_id = #{query.openId}
            </if>
            <if test="query.dentistId != null">
                and oa.dentist_id = #{query.dentistId}
            </if>
            <if test="query.patientId != null">
                and oa.patient_id = #{query.patientId}
            </if>
            <if test="query.appointStartDate != null and query.appointStartDate != null">
                and date_format(oa.appoint_date,'%Y-%m-%d') &gt;= #{query.appointStartDate}
            </if>
            <if test="query.appointEndDate != null and query.appointEndDate != ''">
                and date_format(oa.appoint_date,'%Y-%m-%d') &lt;= #{query.appointEndDate}
            </if>
            <if test="query.patientName != null and query.patientName != ''">
                and oa.patient_name like concat('%',#{query.patientName},'%')
            </if>
            <if test="query.phone != null and query.phone != ''">
                and oa.patient_phone = #{query.phone}
            </if>
            <if test="query.status != null">
                and oa.status = #{query.status}
            </if>
            <if test="query.inservice != null">
                and oa.inservice = #{query.inservice}
            </if>
            <if test="query.confirmStatus != null">
                and a.confirm_status = #{query.confirmStatus}
            </if>
        </where>
        <if test="query.openId != null and query.openId != ''">
            order by oa.id desc
        </if>
    </select>

    <!-- 获取消息通知 -->
    <select id="countNewMessageNotice" resultType="java.lang.Integer">
        select count(oa.id) from online_appointment oa where oa.org_id = #{orgId} and oa.status = 0 and oa.inservice = 1
    </select>

    <!-- 获取同一时间预约数量 -->
    <select id="countOnlineAppointSameTime" resultType="com.yunya.feign.appointment.vo.CountOnlineAppointVo">
        SELECT date_format(a.appoint_time,'%H:%i') as time, count(a.id) as `count` FROM `online_appointment` a where DATE_FORMAT(a.appoint_date,'%Y-%m-%d') = date_format(#{date},'%Y-%m-%d') and a.org_id = #{orgId} GROUP BY a.appoint_time ASC
    </select>

</mapper>