<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.appointment.mapper.ReservationMapper">
  <resultMap id="BaseResultMap" type="com.yunya.models.appointment.Reservation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="reservation_source_id" jdbcType="INTEGER" property="reservationSourceId" />
    <result column="appoint_item_name" jdbcType="VARCHAR" property="appointItemName" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="patient_name" jdbcType="VARCHAR" property="patientName" />
    <result column="patient_phone" jdbcType="VARCHAR" property="patientPhone" />
    <result column="patient_gender" jdbcType="TINYINT" property="patientGender" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="inservice" jdbcType="BIT" property="inservice" />
    <result column="crt_name" jdbcType="VARCHAR" property="crtName" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="upd_name" jdbcType="VARCHAR" property="updName" />
    <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
  </resultMap>

  <!-- 根据条件批量查询预约申请 -->
  <select id="findByCondition" resultType="com.yunya.feign.appointment.vo.ReservationVo">
    select oa.id
      , oa.org_id as 'orgId'
      , oa.reservation_source_id as 'reservationSourceId'
      , rr.source_name as 'reservationSourceName'
      , oa.appoint_item_name as 'appointItemName'
      , oa.patient_name as 'patientName'
      , oa.patient_phone as 'patientPhone'
      , oa.patient_gender as 'patientGender'
      , oa.status
      , oa.remarks
      , oa.inservice
      , oa.crt_name as 'crtName'
      , oa.crt_time as 'crtTime'
      , oa.upd_name as 'updName'
      , oa.upd_time as 'updTime'
    from reservation oa
    left join reservation_resource rr on oa.reservation_source_id = rr.id
    <where>
      <if test="query.orgId != null">
        and oa.org_id = #{query.orgId}
      </if>
      <if test="query.reservationSourceId != null">
        and oa.reservation_source_id = #{query.reservationSourceId}
      </if>
      <if test="query.appointItemName != null and query.appointItemName != ''">
        and oa.appoint_item_name like concat('%',#{query.appointItemName},'%')
      </if>
      <if test="query.patientName != null and query.patientName != ''">
        and oa.patient_name like concat('%',#{query.patientName},'%')
      </if>
      <if test="query.patientPhone != null and query.patientPhone != ''">
        and oa.patient_phone like concat('%',#{query.patientPhone},'%')
      </if>
      <if test="query.status != null">
        and oa.status = #{query.status}
      </if>
      <if test="query.inservice != null">
        and oa.inservice = #{query.inservice}
      </if>
    </where>
    order by oa.crt_time DESC
  </select>
</mapper>