<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.appointment.mapper.ReservationRateLimitMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.appointment.ReservationRateLimit">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="config_date" property="configDate" jdbcType="DATE"/>
        <result column="config_limit" property="configLimit" jdbcType="INTEGER"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <update id="reduceLimit">
        update
            reservation_rate_limit
        set config_limit = config_limit - 1
        where `id` = #{reservationLimitId}
          and config_limit > 0
          and config_date &gt;= date_format(now(),'%Y-%m-%d')
    </update>

    <select id="listRemaining" resultType="com.yunya.models.appointment.ReservationRateLimit">
        select
            id, org_id, org_name, config_date, config_limit
        from
            reservation_rate_limit
        where org_name = #{orgName}
          and config_date &gt;= date_format(#{configDate}, '%Y-%m-%d')
          and date_format( config_date, '%Y-%m' ) = date_format(#{configDate}, '%Y-%m')
        order by config_date asc
    </select>

</mapper>