<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.sms.mapper.SmsAutosendEventMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.sms.SmsAutosendEvent" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="event_code" property="eventCode" jdbcType="VARCHAR" />
    <result column="event_name" property="eventName" jdbcType="VARCHAR" />
    <result column="biz_pid" property="bizPid" jdbcType="INTEGER" />
    <result column="template_id" property="templateId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upt_id" property="uptId" jdbcType="INTEGER" />
    <result column="upt_time" property="uptTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="findSmsAutosendEventList" resultType="com.yunya.feign.sms.vo.SmsAutosendEventVO">
    select
        t.id,
        t.org_id as orgId,
        t.event_code as eventCode,
        t.event_name as eventName,
        t.biz_pid as bizPid,
        t.template_id as templateId,
        t.status,
        st.template_name as templateName
    from sms_autosend_event t left join sms_template_set st on t.template_id=st.id
    <where>
        st.template_status = 1
      <if test="queryForm.id != null">
        and t.id = #{queryForm.id}
      </if>
      <if test="queryForm.status != null">
        and t.status = #{queryForm.status}
      </if>
      <if test="queryForm.orgId != null">
        and t.org_id = #{queryForm.orgId}
      </if>
      <if test="queryForm.eventCode">
        and t.event_code = #{queryForm.eventCode}
      </if>
      <if test="queryForm.bizPid != null">
        and t.bizPid = #{queryForm.bizPid}
      </if>
    </where>
  </select>

  <select id="findSmsAutosendEventById" resultType="com.yunya.feign.sms.vo.SmsAutosendEventVO">
      select
      t.id,
      t.org_id as orgId,
      t.event_code as eventCode,
      t.event_name as eventName,
      t.biz_pid as bizPid,
      t.template_id as templateId,
      t.status,
      st.template_name as templateName
      from sms_autosend_event t left join sms_template_set st on t.template_id=st.id
      where st.template_status = 1 and t.id = #{id}
  </select>
</mapper>