<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.sms.mapper.SmsSendRecordMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.sms.SmsSendRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="batch_id" property="batchId" jdbcType="INTEGER" />
    <result column="receiver_id" property="receiverId" jdbcType="INTEGER" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="content_num" property="contentNum" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="biz_id" property="bizId" jdbcType="VARCHAR" />
    <result column="biz_msg" property="bizMsg" jdbcType="VARCHAR" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_user" property="crtUser" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upt_id" property="uptId" jdbcType="INTEGER" />
    <result column="upt_time" property="uptTime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="send_object" property="sendObject" jdbcType="VARCHAR" />
  </resultMap>

    <!-- 插入数据:返回记录主键id值 -->
  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    insert into sms_send_record
        (id,org_id,batch_id,receiver_id,send_object,mobile,content,content_num,
        status,biz_id,biz_msg,crt_id,crt_user,crt_time,upt_id,upt_time)
    values
        (null,#{orgId},#{batchId},#{receiverId},#{sendObject},#{mobile},#{content},#{contentNum},
        #{status},#{bizId},#{bizMsg},#{crtId},#{crtUser},#{crtTime},#{uptId},#{uptTime})
  </insert>

  <select id="findSmsSendRecordList" resultType="com.yunya.feign.sms.vo.SmsSendRecordVO">
    select
        t.id,
        t.org_id as orgId,
        t.batch_id as batchId,
        t.receiver_id as receiverId,
        t.send_object as sendObject,
        t.mobile,
        t.content_num as contentNum,
        t.content,
        t.status,
        t.biz_id as bizId,
        t.biz_msg as bizMsg,
        t.crt_id as crtId,
        t.crt_user as crtUser,
        t.crt_time as crtTime
    from sms_send_record t
    <where>
      <if test="queryForm.orgId != null">
        and t.org_id = #{queryForm.orgId}
      </if>
      <if test="queryForm.status != null">
        and t.status = #{queryForm.status}
      </if>
      <if test="queryForm.receiverId != null">
        and t.receiver_id = #{queryForm.receiverId}
      </if>
      <if test="queryForm.batchId != null">
        and t.batch_id = #{queryForm.batchId}
      </if>
      <if test="queryForm.id != null">
        and t.id = #{queryForm.id}
      </if>
      <if test="queryForm.sendDate != null">
        and DATE_FORMAT(t.crt_time,'%Y-%m-%d') = DATE_FORMAT(#{queryForm.sendDate},'%Y-%m-%d')
      </if>
      <if test="queryForm.batchIds!=null and queryForm.batchIds.size()>0">
        and t.batch_id in
          <foreach item="item" index="index" collection="queryForm.batchIds" open="(" separator="," close=")">
              #{item}
          </foreach>
      </if>
      <if test="queryForm.bizIds!=null and queryForm.bizIds.size()>0">
        and t.biz_id in
        <foreach item="item" index="index" collection="queryForm.bizIds" open="(" separator="," close=")">
            #{item}
      </foreach>
      </if>
    </where>
  </select>

  <select id="sumSmsSendSituation" resultType="com.yunya.feign.sms.vo.SmsSendSituationVO">
    select
        count(t.id) total,
        IFNULL(sum(case when t.status=1 then 1 else 0 end),0) AS success,
      IFNULL(sum(case when t.status=2 then 1 else 0 end),0) AS failure
    from sms_send_record t
    <where>
      <if test="queryForm.orgId != null">
        and t.org_id = #{queryForm.orgId}
      </if>
      <if test="queryForm.status != null">
        and t.status = #{queryForm.status}
      </if>
      <if test="queryForm.receiverId != null">
        and t.receiver_id = #{queryForm.receiverId}
      </if>
      <if test="queryForm.batchId != null">
        and t.batch_id = #{queryForm.batchId}
      </if>
      <if test="queryForm.id != null">
        and t.id = #{queryForm.id}
      </if>
      <if test="queryForm.sendDate != null">
        and DATE_FORMAT(t.crt_time,'%Y-%m-%d') = DATE_FORMAT(#{queryForm.sendDate},'%Y-%m-%d')
      </if>
      <if test="queryForm.batchIds!=null and queryForm.batchIds.size()>0">
        and t.batch_id in
          <foreach item="item" index="index" collection="queryForm.batchIds" open="(" separator="," close=")">
              #{item}
          </foreach>
      </if>
      <if test="queryForm.bizIds!=null and queryForm.bizIds.size()>0">
        and t.biz_id in
        <foreach item="item" index="index" collection="queryForm.bizIds" open="(" separator="," close=")">
            #{item}
      </foreach>
      </if>
    </where>
  </select>
</mapper>