<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.tariff.mapper.BaseOralTariffMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.tariff.BaseOralTariff">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="oral_tariff_category_id" property="oralTariffCategoryId" jdbcType="INTEGER"/>
        <result column="item_number" property="itemNumber" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="pinyin" property="pinyin" jdbcType="VARCHAR"/>
        <result column="english_name" property="englishName" jdbcType="VARCHAR"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="adjust" property="adjust" jdbcType="BIT"/>
        <result column="achie" property="achie" jdbcType="BIT"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 商品项目信息结果集（封装门诊商品项目信息） -->
    <resultMap id="BaseOralTariffInfoResultMap" type="com.yunya.feign.tariff.domain.vo.BaseOralTariffInfoVO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="oralTariffCategoryId" property="oralTariffCategoryId" jdbcType="INTEGER"/>
        <result column="oralTariffCategoryName" property="oralTariffCategoryName" jdbcType="VARCHAR"/>
        <result column="oralTariffCategoryNumber" property="oralTariffCategoryNumber" jdbcType="VARCHAR"/>
        <result column="itemNumber" property="itemNumber" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="pinyin" property="pinyin" jdbcType="VARCHAR"/>
        <result column="englishName" property="englishName" jdbcType="VARCHAR"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
    </resultMap>

    <!-- 根据商品项目ID查询商品项目信息 -->
    <select id="selectBaseOralTariffInfoById" resultMap="BaseOralTariffInfoResultMap">
        select
            bot.id,
            bot.oral_tariff_category_id as oralTariffCategoryId,
            botc.`name` as oralTariffCategoryName,
            botc.number as oralTariffCategoryNumber,
            bot.item_number as itemNumber,
            bot.`name`,
            bot.pinyin,
            bot.english_name as englishName,
            bot.unit,
            bot.price,
            bot.inservice,
        from base_oral_tariff bot
        left join base_oral_tariff_category botc on bot.oral_tariff_category_id = botc.id
        where bot.id = #{id}
    </select>
    <!-- 根据条件查询商品项目列表(不含门诊商品项目价格信息) -->
    <select id="selectBaseOralTariffList" resultType="com.yunya.feign.tariff.domain.vo.BaseOralTariffVO">
        select
        bot.id,
        bot.oral_tariff_category_id as oralTariffCategoryId,
        botc.`name` as oralTariffCategoryName,
        botc.number as oralTariffCategoryNumber,
        bot.item_number as itemNumber,
        bot.`name`,
        bot.pinyin,
        bot.english_name as englishName,
        bot.unit,
        bot.price,
        bot.inservice
        from
        base_oral_tariff bot
        left join base_oral_tariff_category botc on bot.oral_tariff_category_id = botc.id
        <where>
            <if test="queryForm.id != null">
                and bot.id = #{queryForm.id}
            </if>
            <if test="queryForm.oralTariffCategoryId != null">
                and bot.oral_tariff_category_id = #{queryForm.oralTariffCategoryId}
            </if>
            <if test="queryForm.keyWord != null and queryForm.keyWord != ''">
                and bot.name like concat('%',#{queryForm.keyWord},'%')
                or bot.item_number like concat('%',#{queryForm.keyWord},'%')
                or bot.pinyin like concat('%',#{queryForm.keyWord},'%')
            </if>
            <if test="queryForm.inservice != null">
                and bot.inservice = #{queryForm.inservice}
            </if>
        </where>
    </select>
    <!-- 根据条件查询商品项目列表（导出用） -->
    <select id="selectExportBaseOralTariffList" resultType="com.yunya.feign.tariff.domain.vo.BaseOralTariffExportVO">
        select
        bot.id,
        bot.oral_tariff_category_id as oralTariffCategoryId,
        botc.`name` as oralTariffCategoryName,
        botc.number as oralTariffCategoryNumber,
        bot.item_number as itemNumber,
        bot.`name`,
        bot.pinyin,
        bot.english_name as englishName,
        bot.unit,
        bot.price,
        bot.inservice
        from
        base_oral_tariff bot
        left join base_oral_tariff_category botc on bot.oral_tariff_category_id = botc.id
        <where>
            <if test="queryForm.oralTariffCategoryId != null">
                and bot.oral_tariff_category_id = #{queryForm.oralTariffCategoryId}
            </if>
            <if test="queryForm.keyWord != null and queryForm.keyWord != ''">
                and bot.name like concat('%',#{queryForm.keyWord},'%')
                or bot.item_number like concat('%',#{queryForm.keyWord},'%')
                or bot.pinyin like concat('%',#{queryForm.keyWord},'%')
            </if>
        </where>
    </select>
</mapper>