<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clinic.discount.mapper.CardClinicMapper">
    <resultMap id="BaseResultMap" type="com.clinic.discount.entity.CardClinic">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="relevance_id" property="relevanceId" jdbcType="INTEGER"/>
        <result column="clinic_id" property="clinicId" jdbcType="INTEGER"/>
        <result column="department_id" property="departmentId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="org_type" property="orgType" jdbcType="INTEGER"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
        <result column="start_number" property="startNumber" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="end_number" property="endNumber" jdbcType="VARCHAR"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
        <result column="revision" property="revision" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="CardDistributionVOMap" type="com.clinic.discount.vo.CardDistributionVO">
        <result column="relevance_id" property="relevanceId" jdbcType="INTEGER"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="revision" property="revision" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        insert into card_clinic (
        relevance_id,
        department_id,
        clinic_id,
        `type`,
        org_type,
        `count`,
        start_number,
        end_number,
        status,
        crt_id,
        crt_name,
        revision
        )
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.relevanceId},
            #{item.departmentId},
            #{item.clinicId},
            #{item.type},
            #{item.orgType},
            #{item.count},
            #{item.startNumber},
            #{item.endNumber},
            #{item.status},
            #{item.crtId},
            #{item.crtName},
            #{item.revision})
        </foreach>
    </insert>

    <select id="selectVOsByTypeAndRelevanceId">
        select `count`,crt_name,crt_time,revision from card_clinic
        where status = #{status} and `type` = #{type} and relevance_id = #{relevanceId}
    </select>

    <update id="updateByTypeAndRelevanceId">
        update card_clinic set status = #{status} where and `type` = #{type} and relevance_id = #{relevanceId}
        and revision = #{revision}
    </update>

    <select id="selectSumCount" resultType="java.lang.Integer">
        select sum(count) from card_clinic
        where status = 1 and `type` = #{type} and relevance_id = #{relevanceId}
    </select>


    <update id="batchUpdateNumber">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update card_clinic set status = #{item.status},
            start_number = #{item.startNumber},
            end_number = #{item.endNumber} where id = #{item.id}
        </foreach>
    </update>
</mapper>