<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BaseBillDetailMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseBillDetail">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="bill_detail_id" property="billDetailId" jdbcType="INTEGER"/>
        <result column="bill_id" property="billId" jdbcType="INTEGER"/>
        <result column="discount_amount" property="discountAmount" jdbcType="DECIMAL"/>
        <result column="coupon_workload" property="couponWorkload" jdbcType="DECIMAL"/>
        <result column="executor_id" property="executorId" jdbcType="INTEGER"/>
        <result column="item_id" property="itemId" jdbcType="INTEGER"/>
        <result column="item_type" property="itemType" jdbcType="TINYINT"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL"/>
    </resultMap>

    <!-- 根据条件查询账单项目收入明细列表 -->
    <select id="selectBillDetailIncomeList"
            resultType="com.yunya.feign.report.domain.vo.BillTariffIncomeDetailVO">
        SELECT
        bdi.billDetailId,
        bdi.itemId,
        bdi.itemNum,
        bdi.itemName,
        bdi.itemType,
        bdi.categoryId,
        bdi.categoryName,
        bdi.billNum,
        DATE_FORMAT( bdi.orderDate, '%Y-%m-%d' ),
        bdi.patientId,
        bdi.patientName,
        bdi.mobile,
        bdi.gender,
        bdi.executorId,
        bdi.executorName,
        bdi.price,
        bdi.quantity,
        bdi.totalOriginalAmount,
        bdi.discountAmount,
        bdi.totalOriginalAmount - bdi.discountAmount AS actualAmount
        FROM
        (
        SELECT
        bbd.org_id AS orgId,
        bp.billId,
        bbd.bill_detail_id AS billDetailId,
        bbd.item_id AS itemId,
        bti.item_num AS itemNum,
        bti.item_name AS itemName,
        bbd.item_type AS itemType,
        bti.category_id AS categoryId,
        bti.category_name AS categoryName,
        bp.billNum,
        bp.orderDate,
        bp.patientId,
        bp.patientName,
        bp.pinyinName,
        bp.mobile,
        bp.gender,
        bbd.executor_id AS executorId,
        be.employee_name AS executorName,
        bbd.price,
        bbd.quantity,
        bbd.price * bbd.quantity AS totalOriginalAmount,
        bbd.discount_amount AS discountAmount
        FROM
        base_bill_detail bbd
        LEFT JOIN base_tariff_info bti ON bbd.item_id = bti.item_id
        AND bbd.item_type = bti.item_type
        LEFT JOIN (
        SELECT
        bb.bill_id AS billId,
        bb.order_date AS orderDate,
        bb.patient_id AS patientId,
        bb.bill_num AS billNum,
        bp.`name` AS patientName,
        bp.gender AS gender,
        bp.mobile AS mobile,
        bp.pinyin_name AS pinyinName
        FROM
        base_bill bb
        LEFT JOIN base_patient bp ON bb.patient_id = bp.patient_id
        ) bp ON bbd.bill_id = bp.billId
        LEFT JOIN base_employee be ON bbd.executor_id = be.user_id
        ) bdi
        <where>
            <if test="query.orgId != null">
                AND bdi.orgId = #{query.orgId}
            </if>
            <if test="query.orderDate != null and query.orderDate != ''">
                AND DATE_FORMAT( bdi.orderDate, '%Y-%m' ) = #{query.orderDate}
            </if>
            <if test="query.keyWord != null and query.keyWord != ''">
                AND concat(ifnull(bdi.patientName, ''), ifnull(bdi.pinyinName, ''), ifnull(bdi.mobile, '')) Like
                concat('%', #{query.keyWord}, '%')
            </if>
        </where>
        ORDER BY
        bdi.orderDate DESC,
        bdi.billId,
        bdi.billDetailId
    </select>

    <!-- 根据条件查询员工工作量列表（按月查询） -->
    <select id="selectEmployeeWorkloadListByMonth" resultType="com.yunya.feign.report.domain.vo.EmployeeWorkloadVO">
        SELECT
        bup.org_id,
        bup.user_id AS employeeId,
        bup.postNames AS postNames,
        be.employee_name AS employeeName,
        ifnull(be.work_amount, 0) AS baseWorkload,
        ifnull(be.bonus_coefficient, 0) AS bonusCoefficient,
        ifnull(SUM( bbd.totalAmount ) - SUM( bbd.discount_amount ), 0) AS actualWorkload,
        ifnull(SUM( bbd.coupon_workload ), 0) AS supplementWorkload,
        ifnull(sum( bbd1.received_amount ), 0) AS receivedWorkload,
        ifnull(SUM( brd.refund_amount ), 0) AS refundWorkload,
        ifnull(SUM( ewc.processing_fee ), 0) AS processingFee,
        ifnull(SUM( ewc.material_fee ), 0) AS largeMaterialCost
        FROM
        (
        SELECT
        bup.org_id,
        bup.user_id,
        GROUP_CONCAT( DISTINCT bup.post_name SEPARATOR ',' ) AS postNames
        FROM
        base_user_post bup
        GROUP BY
        bup.user_id,
        bup.org_id
        ) bup
        LEFT JOIN base_employee be ON bup.user_id = be.user_id
        LEFT JOIN (
        SELECT
        bbd.org_id,
        bbd.executor_id,
        bbd.coupon_workload,
        bbd.discount_amount,
        bbd.price * bbd.quantity AS totalAmount
        FROM
        (
        SELECT
        bb.org_id,
        bb.order_date,
        bbd.executor_id,
        bbd.coupon_workload,
        bbd.discount_amount,
        bbd.price,
        bbd.quantity
        FROM
        base_bill_detail bbd
        LEFT JOIN base_bill bb ON bbd.bill_id = bb.bill_id
        ) bbd
        WHERE
        DATE_FORMAT( bbd.order_date, '%Y-%m' ) = #{query.queryDate}
        ) bbd ON bup.user_id = bbd.executor_id
        AND bup.org_id = bbd.org_id
        LEFT JOIN (
        SELECT
        bbd.org_id,
        bbd.executor_id,
        bbd.received_amount
        FROM
        (
        SELECT
        bb.org_id,
        bb.bill_date,
        bbd.executor_id,
        bbd.received_amount
        FROM
        base_bill_detail bbd
        LEFT JOIN base_bill bb ON bbd.bill_id = bb.bill_id
        ) bbd
        WHERE
        DATE_FORMAT( bbd.bill_date, '%Y-%m' ) = #{query.queryDate}
        ) bbd1 ON bup.user_id = bbd1.executor_id
        AND bup.org_id = bbd1.org_id
        LEFT JOIN (
        SELECT
        brd.org_id,
        brd.refund_amount,
        brd.executor_id
        FROM
        (
        SELECT
        br.org_id,
        br.refund_date,
        brd.refund_amount,
        bbd.executor_id
        FROM
        base_refund_detail brd
        LEFT JOIN base_bill_detail bbd ON brd.bill_detail_id = bbd.bill_detail_id
        LEFT JOIN base_refund br ON brd.refund_id = br.refund_id
        ) brd
        WHERE
        DATE_FORMAT( refund_date, '%Y-%m' ) = #{query.queryDate}
        ) brd ON bup.user_id = brd.executor_id
        AND bup.org_id = bup.org_id
        LEFT JOIN ( SELECT ewc.org_id, ewc.processing_fee, ewc.material_fee, ewc.user_id FROM employee_workload_cost ewc
        WHERE DATE_FORMAT( ewc.entry_month, '%Y-%m' ) = #{query.queryDate} ) ewc ON bup.user_id = ewc.user_id
        AND bup.org_id = ewc.org_id
        <where>
            <if test="query.orgId != null">
                and bup.org_id = #{query.orgId}
            </if>
            <if test="query.employeeIds != null and query.employeeIds.length > 0">
                and bup.user_id in
                <foreach collection="query.employeeIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY
        bup.user_id
    </select>

    <!-- 根据条件查询员工工作量列表（按年查询） -->
    <select id="selectEmployeeWorkloadListByYear"
            resultType="com.yunya.feign.report.domain.vo.EmployeeWorkloadVO">
        SELECT
        bup.org_id,
        bup.user_id AS employeeId,
        bup.postNames AS postNames,
        be.employee_name AS employeeName,
        ifnull(be.work_amount, 0) AS baseWorkload,
        ifnull(be.bonus_coefficient, 0) AS bonusCoefficient,
        ifnull(SUM( bbd.totalAmount ) - SUM( bbd.discount_amount ), 0) AS actualWorkload,
        ifnull(SUM( bbd.coupon_workload ), 0) AS supplementWorkload,
        ifnull(sum( bbd1.received_amount ), 0) AS receivedWorkload,
        ifnull(SUM( brd.refund_amount ), 0) AS refundWorkload,
        ifnull(SUM( ewc.processing_fee ), 0) AS processingFee,
        ifnull(SUM( ewc.material_fee ), 0) AS largeMaterialCost
        FROM
        (
        SELECT
        bup.org_id,
        bup.user_id,
        GROUP_CONCAT( DISTINCT bup.post_name SEPARATOR ',' ) AS postNames
        FROM
        base_user_post bup
        GROUP BY
        bup.user_id,
        bup.org_id
        ) bup
        LEFT JOIN base_employee be ON bup.user_id = be.user_id
        LEFT JOIN (
        SELECT
        bbd.org_id,
        bbd.executor_id,
        bbd.coupon_workload,
        bbd.discount_amount,
        bbd.price * bbd.quantity AS totalAmount
        FROM
        (
        SELECT
        bb.org_id,
        bb.order_date,
        bbd.executor_id,
        bbd.coupon_workload,
        bbd.discount_amount,
        bbd.price,
        bbd.quantity
        FROM
        base_bill_detail bbd
        LEFT JOIN base_bill bb ON bbd.bill_id = bb.bill_id
        ) bbd
        WHERE
        DATE_FORMAT( bbd.order_date, '%Y' ) = #{query.queryDate}
        ) bbd ON bup.user_id = bbd.executor_id
        AND bup.org_id = bbd.org_id
        LEFT JOIN (
        SELECT
        bbd.org_id,
        bbd.executor_id,
        bbd.received_amount
        FROM
        (
        SELECT
        bb.org_id,
        bb.bill_date,
        bbd.executor_id,
        bbd.received_amount
        FROM
        base_bill_detail bbd
        LEFT JOIN base_bill bb ON bbd.bill_id = bb.bill_id
        ) bbd
        WHERE
        DATE_FORMAT( bbd.bill_date, '%Y' ) = #{query.queryDate}
        ) bbd1 ON bup.user_id = bbd1.executor_id
        AND bup.org_id = bbd1.org_id
        LEFT JOIN (
        SELECT
        brd.org_id,
        brd.refund_amount,
        brd.executor_id
        FROM
        (
        SELECT
        br.org_id,
        br.refund_date,
        brd.refund_amount,
        bbd.executor_id
        FROM
        base_refund_detail brd
        LEFT JOIN base_bill_detail bbd ON brd.bill_detail_id = bbd.bill_detail_id
        LEFT JOIN base_refund br ON brd.refund_id = br.refund_id
        ) brd
        WHERE
        DATE_FORMAT( refund_date, '%Y' ) = #{query.queryDate}
        ) brd ON bup.user_id = brd.executor_id
        AND bup.org_id = bup.org_id
        LEFT JOIN ( SELECT ewc.org_id, ewc.processing_fee, ewc.material_fee, ewc.user_id FROM employee_workload_cost ewc
        WHERE DATE_FORMAT( ewc.entry_month, '%Y' ) = #{query.queryDate} ) ewc ON bup.user_id = ewc.user_id
        AND bup.org_id = ewc.org_id
        <where>
            <if test="query.orgId != null">
                and bup.org_id = #{query.orgId}
            </if>
            <if test="query.employeeIds != null and query.employeeIds.length > 0">
                and bup.user_id in
                <foreach collection="query.employeeIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY
        bup.user_id
    </select>

    <!-- 根据条件查询项目分类收入汇总列表 -->
    <select id="selectCategoryIncomeList" resultType="com.yunya.feign.report.domain.vo.CategoryInfoIncomeVO">
        select
        bdp.categoryId,
        bdp.categoryName,
        sum(bdp.totalOriginalAmount) - sum(bdp.discountAmount) as totalActualAmount,
        sum(bdp.discountAmount) as totalDiscountAmount
        from (
        select
        bb.org_id as orgId,
        bti.category_id as categoryId,
        bti.category_name as categoryName,
        bbd.discount_amount as discountAmount,
        bbd.price * bbd.quantity as totalOriginalAmount,
        date_format(bb.order_date, '%Y-%m') as orderDate
        from base_bill_detail bbd
        left join base_tariff_info bti on bbd.item_id = bti.item_id
        and bbd.item_type = bti.item_type
        left join base_bill bb on bbd.bill_id = bb.bill_id
        order by bti.item_type, bti.category_id) bdp
        <where>
            <if test="query.orgId != null">
                and bdp.orgId = #{query.orgId}
            </if>
            <if test="query.queryDate != null and query.queryDate != ''">
                and bdp.orderDate = #{query.queryDate}
            </if>
        </where>
        group by bdp.categoryId
    </select>

    <!-- 根据条件查询员工个人实收工作量明细列表(按月查询) -->
    <select id="selectEmployeePersonalActualWorkloadDetailListByMonth"
            resultType="com.yunya.feign.report.domain.vo.EmployeePersonalActualWorkloadDetailVO">
        SELECT
        orgId,
        billId,
        billNum,
        DATE_FORMAT(orderDate, '%Y-%m-%d'),
        patientId,
        patientName,
        mobile,
        totalOriginalAmount,
        privilegeAmount,
        actualAmount,
        ewd.actualWorkload,
        executorId
        FROM (
        SELECT
        ebd.orgId,
        ebd.billId,
        ebd.billNum,
        ebd.orderDate,
        ebd.patientId,
        ebd.patientName,
        ebd.pinyinName,
        ebd.mobile,
        SUM( ebd.originalAmount ) AS totalOriginalAmount,
        ebd.privilegeAmount,
        ebd.actualAmount,
        IFNULL( ew.actualWorkload, 0 ) as actualWorkload,
        ebd.executorId
        FROM
        (
        SELECT
        bbp.org_id AS orgId,
        bbp.bill_id AS billId,
        bbp.bill_num AS billNum,
        bbp.order_date AS orderDate,
        bbp.patient_id AS patientId,
        bbp.`name` AS patientName,
        bbp.pinyin_name AS pinyinName,
        bbp.mobile,
        bbp.order_amount AS totalOriginalAmount,
        bbp.privilege_amount AS privilegeAmount,
        bbp.actual_amount AS actualAmount,
        bbd.price * bbd.quantity AS originalAmount,
        bbd.coupon_workload AS couponWorkload,
        bbd.discount_amount AS discountAmount,
        bbd.executor_id AS executorId
        FROM
        base_bill_detail bbd
        LEFT JOIN (
        SELECT
        bb.org_id,
        bb.bill_id,
        bb.bill_num,
        bb.order_date,
        bb.order_amount,
        bb.privilege_amount,
        bb.actual_amount,
        bb.patient_id,
        bp.`name`,
        bp.mobile,
        bp.pinyin_name
        FROM
        base_bill bb
        LEFT JOIN base_patient bp ON bb.patient_id = bp.patient_id
        ) bbp ON bbd.bill_id = bbp.bill_id
        ) ebd
        LEFT JOIN (
        SELECT
        SUM( ew.originalAmount - ew.discountAmount ) AS actualWorkload,
        ew.billId,
        ew.executorId
        FROM
        (
        SELECT
        bbd.bill_id AS billId,
        bbd.price * bbd.quantity AS originalAmount,
        bbd.discount_amount AS discountAmount,
        bbd.executor_id AS executorId
        FROM
        base_bill_detail bbd
        WHERE
        bbd.executor_id IS NOT NULL
        GROUP BY
        bbd.bill_detail_id
        ) ew
        GROUP BY
        ew.billId,
        ew.executorId
        ) ew ON ebd.executorId = ew.executorId
        AND ebd.billId = ew.billId
        <where>
            <if test="query.orgId != null">
                and ebd.orgId = #{query.orgId}
            </if>
            <if test="query.queryDate != null and query.queryDate != ''">
                and DATE_FORMAT( ebd.orderDate, '%Y-%m' ) = #{query.queryDate}
            </if>
            <if test="query.employeeId != null">
                and ebd.executorId = #{query.employeeId}
            </if>
        </where>
        GROUP BY
        ebd.billId
        ) ewd
        <where>
            <if test="query.keyword != null and query.keyword != ''">
                and concat(ifnull(ewd.patientName, ''), ifnull(ewd.pinyinName, ''), ifnull(ewd.mobile, '')) Like
                concat('%', #{query.keyword}, '%')
            </if>
            <if test="query.billNum != null and query.billNum != ''">
                and ewd.billNum like concat('%', #{query.billNum} ,'%')
            </if>
            <if test="query.orderDate != null and query.orderDate != ''">
                and DATE_FORMAT(ewd.orderDate, '%Y-%m-%d') = #{query.orderDate}
            </if>
        </where>
        ORDER BY ewd.orderDate DESC
    </select>

    <!-- 根据条件查询员工个人实收工作量明细列表(按年查询) -->
    <select id="selectEmployeePersonalActualWorkloadDetailListByYear"
            resultType="com.yunya.feign.report.domain.vo.EmployeePersonalActualWorkloadDetailVO">
        SELECT
        orgId,
        billId,
        billNum,
        DATE_FORMAT(orderDate, '%Y-%m-%d'),
        patientId,
        patientName,
        mobile,
        totalOriginalAmount,
        privilegeAmount,
        actualAmount,
        ewd.actualWorkload,
        executorId
        FROM (
        SELECT
        ebd.orgId,
        ebd.billId,
        ebd.billNum,
        ebd.orderDate,
        ebd.patientId,
        ebd.patientName,
        ebd.pinyinName,
        ebd.mobile,
        SUM( ebd.originalAmount ) AS totalOriginalAmount,
        ebd.privilegeAmount,
        ebd.actualAmount,
        IFNULL( ew.actualWorkload, 0 ) as actualWorkload,
        ebd.executorId
        FROM
        (
        SELECT
        bbp.org_id AS orgId,
        bbp.bill_id AS billId,
        bbp.bill_num AS billNum,
        bbp.order_date AS orderDate,
        bbp.patient_id AS patientId,
        bbp.`name` AS patientName,
        bbp.pinyin_name AS pinyinName,
        bbp.mobile,
        bbp.order_amount AS totalOriginalAmount,
        bbp.privilege_amount AS privilegeAmount,
        bbp.actual_amount AS actualAmount,
        bbd.price * bbd.quantity AS originalAmount,
        bbd.coupon_workload AS couponWorkload,
        bbd.discount_amount AS discountAmount,
        bbd.executor_id AS executorId
        FROM
        base_bill_detail bbd
        LEFT JOIN (
        SELECT
        bb.org_id,
        bb.bill_id,
        bb.bill_num,
        bb.order_date,
        bb.order_amount,
        bb.privilege_amount,
        bb.actual_amount,
        bb.patient_id,
        bp.`name`,
        bp.mobile,
        bp.pinyin_name
        FROM
        base_bill bb
        LEFT JOIN base_patient bp ON bb.patient_id = bp.patient_id
        ) bbp ON bbd.bill_id = bbp.bill_id
        ) ebd
        LEFT JOIN (
        SELECT
        SUM( ew.originalAmount - ew.discountAmount ) AS actualWorkload,
        ew.billId,
        ew.executorId
        FROM
        (
        SELECT
        bbd.bill_id AS billId,
        bbd.price * bbd.quantity AS originalAmount,
        bbd.discount_amount AS discountAmount,
        bbd.executor_id AS executorId
        FROM
        base_bill_detail bbd
        WHERE
        bbd.executor_id IS NOT NULL
        GROUP BY
        bbd.bill_detail_id
        ) ew
        GROUP BY
        ew.billId,
        ew.executorId
        ) ew ON ebd.executorId = ew.executorId
        AND ebd.billId = ew.billId
        <where>
            <if test="query.orgId != null">
                and ebd.orgId = #{query.orgId}
            </if>
            <if test="query.queryDate != null and query.queryDate != ''">
                and DATE_FORMAT( ebd.orderDate, '%Y' ) = #{query.queryDate}
            </if>
            <if test="query.employeeId != null">
                and ebd.executorId = #{query.employeeId}
            </if>
        </where>
        GROUP BY
        ebd.billId
        ) ewd
        <where>
            <if test="query.keyword != null and query.keyword != ''">
                and concat(ifnull(ewd.patientName, ''), ifnull(ewd.pinyinName, ''), ifnull(ewd.mobile, '')) Like
                concat('%', #{query.keyword}, '%')
            </if>
            <if test="query.billNum != null and query.billNum != ''">
                and ewd.billNum like concat('%', #{query.billNum} ,'%')
            </if>
            <if test="query.orderDate != null and query.orderDate != ''">
                and DATE_FORMAT(ewd.orderDate, '%Y-%m-%d') = #{query.orderDate}
            </if>
        </where>
        ORDER BY ewd.orderDate DESC
    </select>

    <!-- 根据条件查询员工工作量开单明细列表 -->
    <select id="selectEmployeeOrderDetailWorkloadList"
            resultType="com.yunya.feign.report.domain.vo.EmployeeOrderDetailWorkloadVO">
        select
            bbd.bill_detail_id as orderDetailId,
            bbd.item_type as itemType,
            bbd.item_id as itemId,
            bti.item_num as itemNum,
            bti.item_name as itemName,
            bbd.price * bbd.quantity as originalPrice,
            bbd.discount_amount as discountAmount,
            bbd.price * bbd.quantity - bbd.discount_amount as actualWorkload
        from
            base_bill_detail bbd
        left join base_tariff_info bti on bbd.item_type = bti.item_type and bbd.item_id = bti.item_id
        <where>
            <if test="query.billId != null">
                and bbd.bill_id = #{query.billId}
            </if>
            <if test="query.employeeId != null">
                and bbd.executor_id = #{query.employeeId}
            </if>
        </where>
    </select>

    <!-- 根据条件查询员工个人已收工作量明细列表（按月查询） -->
    <select id="selectEmployeePersonalReceivedWorkloadDetailListByMonth"
            resultType="com.yunya.feign.report.domain.vo.EmployeePersonalReceivedWorkloadDetailVO">
        SELECT
            orgId,
            billId,
            billNum,
            DATE_FORMAT( orderDate, '%Y-%m-%d %H:%i' ),
            patientId,
            patientName,
            mobile,
            ewd.receivedWorkload
        FROM
            (
            SELECT
                ebd.orgId,
                ebd.billId,
                ebd.billNum,
                ebd.orderDate,
                ebd.patientId,
                ebd.patientName,
                ebd.pinyinName,
                ebd.mobile,
                IFNULL( ew.receivedWorkload, 0 ) AS receivedWorkload,
                ebd.executorId
            FROM
                (
                SELECT
                    bbp.org_id AS orgId,
                    bbp.bill_id AS billId,
                    bbp.bill_num AS billNum,
                    bbp.order_date AS orderDate,
                    bbp.patient_id AS patientId,
                    bbp.`name` AS patientName,
                    bbp.pinyin_name AS pinyinName,
                    bbp.mobile,
                    bbd.executor_id AS executorId
                FROM
                    base_bill_detail bbd
                    LEFT JOIN (
                    SELECT
                        bb.org_id,
                        bb.bill_id,
                        bb.bill_num,
                        bb.order_date,
                        bb.patient_id,
                        bp.`name`,
                        bp.mobile,
                        bp.pinyin_name
                    FROM
                        base_bill bb
                        LEFT JOIN base_patient bp ON bb.patient_id = bp.patient_id
                    ) bbp ON bbd.bill_id = bbp.bill_id
                ) ebd
                LEFT JOIN (
                SELECT
                    SUM( ew.receivedAmount ) AS receivedWorkload,
                    ew.billId,
                    ew.executorId
                FROM
                    (
                    SELECT
                        bbd.bill_id AS billId,
                        bbd.received_amount AS receivedAmount,
                        bbd.executor_id AS executorId
                    FROM
                        base_bill_detail bbd
                    WHERE
                        bbd.executor_id IS NOT NULL
                    GROUP BY
                        bbd.bill_detail_id
                    ) ew
                GROUP BY
                    ew.billId,
                    ew.executorId
                ) ew ON ebd.executorId = ew.executorId
                AND ebd.billId = ew.billId
        <where>
            <if test="query.orgId != null">
                and ebd.orgId = #{query.orgId}
            </if>
            <if test="query.queryDate != null and query.queryDate != ''">
                and DATE_FORMAT( ebd.orderDate, '%Y-%m' ) = #{query.queryDate}
            </if>
            <if test="query.employeeId != null">
                and ebd.executorId = #{query.employeeId}
            </if>
        </where>
            GROUP BY
                ebd.billId
            ) ewd
        <where>
            <if test="query.keyword != null and query.keyword != ''">
                and concat(ifnull(ewd.patientName, ''), ifnull(ewd.pinyinName, ''), ifnull(ewd.mobile, '')) Like
                concat('%', #{query.keyword}, '%')
            </if>
            <if test="query.billNum != null and query.billNum != ''">
                and ewd.billNum like concat('%', #{query.billNum} ,'%')
            </if>
            <if test="query.orderDate != null and query.orderDate != ''">
                and DATE_FORMAT(ewd.orderDate, '%Y-%m-%d') = #{query.orderDate}
            </if>
        </where>
        ORDER BY ewd.orderDate DESC
    </select>

    <!-- 根据条件查询员工个人已收工作量明细列表（按年查询） -->
    <select id="selectEmployeePersonalReceivedWorkloadDetailByYear"
            resultType="com.yunya.feign.report.domain.vo.EmployeePersonalReceivedWorkloadDetailVO">
        SELECT
        orgId,
        billId,
        billNum,
        DATE_FORMAT( orderDate, '%Y-%m-%d %H:%i' ),
        patientId,
        patientName,
        mobile,
        ewd.receivedWorkload
        FROM
        (
        SELECT
        ebd.orgId,
        ebd.billId,
        ebd.billNum,
        ebd.orderDate,
        ebd.patientId,
        ebd.patientName,
        ebd.pinyinName,
        ebd.mobile,
        IFNULL( ew.receivedWorkload, 0 ) AS receivedWorkload,
        ebd.executorId
        FROM
        (
        SELECT
        bbp.org_id AS orgId,
        bbp.bill_id AS billId,
        bbp.bill_num AS billNum,
        bbp.order_date AS orderDate,
        bbp.patient_id AS patientId,
        bbp.`name` AS patientName,
        bbp.pinyin_name AS pinyinName,
        bbp.mobile,
        bbd.executor_id AS executorId
        FROM
        base_bill_detail bbd
        LEFT JOIN (
        SELECT
        bb.org_id,
        bb.bill_id,
        bb.bill_num,
        bb.order_date,
        bb.patient_id,
        bp.`name`,
        bp.mobile,
        bp.pinyin_name
        FROM
        base_bill bb
        LEFT JOIN base_patient bp ON bb.patient_id = bp.patient_id
        ) bbp ON bbd.bill_id = bbp.bill_id
        ) ebd
        LEFT JOIN (
        SELECT
        SUM( ew.receivedAmount ) AS receivedWorkload,
        ew.billId,
        ew.executorId
        FROM
        (
        SELECT
        bbd.bill_id AS billId,
        bbd.received_amount AS receivedAmount,
        bbd.executor_id AS executorId
        FROM
        base_bill_detail bbd
        WHERE
        bbd.executor_id IS NOT NULL
        GROUP BY
        bbd.bill_detail_id
        ) ew
        GROUP BY
        ew.billId,
        ew.executorId
        ) ew ON ebd.executorId = ew.executorId
        AND ebd.billId = ew.billId
        <where>
            <if test="query.orgId != null">
                and ebd.orgId = #{query.orgId}
            </if>
            <if test="query.queryDate != null and query.queryDate != ''">
                and DATE_FORMAT( ebd.orderDate, '%Y' ) = #{query.queryDate}
            </if>
            <if test="query.employeeId != null">
                and ebd.executorId = #{query.employeeId}
            </if>
        </where>
        GROUP BY
        ebd.billId
        ) ewd
        <where>
            <if test="query.keyword != null and query.keyword != ''">
                and concat(ifnull(ewd.patientName, ''), ifnull(ewd.pinyinName, ''), ifnull(ewd.mobile, '')) Like
                concat('%', #{query.keyword}, '%')
            </if>
            <if test="query.billNum != null and query.billNum != ''">
                and ewd.billNum like concat('%', #{query.billNum} ,'%')
            </if>
            <if test="query.orderDate != null and query.orderDate != ''">
                and DATE_FORMAT(ewd.orderDate, '%Y-%m-%d') = #{query.orderDate}
            </if>
        </where>
        ORDER BY ewd.orderDate DESC
    </select>

    <!-- 根据条件查询员工已收工作量明细列表 -->
    <select id="selectEmployeeReceivedDetailList"
            resultType="com.yunya.feign.report.domain.vo.EmployeeReceivedDetailWorkloadVO">
        SELECT
        bbd.bill_detail_id AS orderDetailId,
        bbd.item_type AS itemType,
        bbd.item_id AS itemId,
        bti.item_num AS itemNum,
        bti.item_name AS itemName,
        bbd.received_amount as receivedWorkload
        FROM
        base_bill_detail bbd
        LEFT JOIN base_tariff_info bti ON bbd.item_type = bti.item_type
        AND bbd.item_id = bti.item_id
        <where>
            <if test="query.billId != null">
                and bbd.bill_id = #{query.billId}
            </if>
            <if test="query.employeeId != null">
                and bbd.executor_id = #{query.employeeId}
            </if>
        </where>
    </select>

    <!-- 根据条件查询员工补入工作量明细列表（按月查询） -->
    <select id="selectEmployeePersonalSupplyWorkloadDetailListByMonth"
            resultType="com.yunya.feign.report.domain.vo.EmployeePersonalSupplyWorkloadDetailVO">

    </select>

    <!-- 根据条件查询员工补入工作量明细列表（按年查询） -->
    <select id="selectEmployeePersonalSupplyWorkloadDetailByYear"
            resultType="com.yunya.feign.report.domain.vo.EmployeePersonalSupplyWorkloadDetailVO">

    </select>
</mapper>