<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BaseBillPayDetailMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseBillPayDetail">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="bill_pay_detail_record_id" property="billPayDetailRecordId" jdbcType="INTEGER"/>
        <result column="bill_id" property="billId" jdbcType="INTEGER"/>
        <result column="bill_pay_id" property="billPayId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="account_item_id" property="accountItemId" jdbcType="INTEGER"/>
        <result column="principal_amount" property="principalAmount" jdbcType="DECIMAL"/>
        <result column="bonus_amount" property="bonusAmount" jdbcType="DECIMAL"/>
    </resultMap>

    <!-- 根据收费记录ID查询收费明细并按照全部支付方式分组 -->
    <select id="selectBillPayDetailList" resultType="com.yunya.feign.report.domain.vo.StatementPaymentVO">
        SELECT
            bai.account_item_id AS accountItemId,
            bai.account_item_name AS accountItemName,
            IFNULL( bbpd.principal_amount, 0 ) AS totalAmount,
            IFNULL(bbpd.bonus_amount, 0) AS bonusAmount
        FROM
            base_account_item bai
            LEFT JOIN (
            SELECT
            bbpd.account_item_id,
            bbpd.principal_amount,
            bbpd.bonus_amount
            FROM
            base_bill_pay_detail bbpd
            WHERE
            bbpd.bill_pay_id = #{billPayId}
            ) bbpd ON bai.account_item_id = bbpd.account_item_id
        GROUP BY
            bai.account_type_id,
            bai.account_item_name,
            bbpd.principal_amount
        ORDER BY
            bai.account_type_id,
            bai.account_item_id
    </select>

    <select id="sumPayDetailListByBillIds" resultType="com.yunya.feign.report.domain.vo.BaseBillPayDetailVO">
        select
            t.bill_id as billId,
            IFNULL(SUM(t.principal_amount), 0) AS principalAmount
        from base_bill_pay_detail t
        <where>
            t.type = 2
            <if test="payIds!=null and payIds.size()>0">
                and t.account_item_id in
                <foreach item="item" index="index" collection="payIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="billIds!=null and billIds.size()>0">
                and t.bill_id in
                <foreach item="item" index="index" collection="billIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by t.bill_id
    </select>

    <select id="sumPayDetailListByBillPayIds" resultType="com.yunya.feign.report.domain.vo.BaseBillPayDetailVO">
        select
        t.bill_pay_id as billPayId,
        t.bill_id as billId,
        IFNULL(SUM(t.principal_amount), 0) AS principalAmount
        from base_bill_pay_detail t
        <where>
            t.type = 2
            <if test="payIds!=null and payIds.size()>0">
                and t.account_item_id in
                <foreach item="item" index="index" collection="payIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="billPayIds!=null and billPayIds.size()>0">
                and t.bill_pay_id in
                <foreach item="item" index="index" collection="billPayIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by t.bill_pay_id,t.bill_id
    </select>
</mapper>