<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BaseBillMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseBill">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="bill_id" property="billId" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="treatment_id" property="treatmentId" jdbcType="INTEGER"/>
        <result column="bill_status" property="billStatus" jdbcType="TINYINT"/>
        <result column="order_num" property="orderNum" jdbcType="VARCHAR"/>
        <result column="order_amount" property="orderAmount" jdbcType="DECIMAL"/>
        <result column="order_date" property="orderDate" jdbcType="TIMESTAMP"/>
        <result column="privilege_type" property="privilegeType" jdbcType="TINYINT"/>
        <result column="privilege_amount" property="privilegeAmount" jdbcType="DECIMAL"/>
        <result column="bill_date" property="billDate" jdbcType="TIMESTAMP"/>
        <result column="bill_num" property="billNum" jdbcType="VARCHAR"/>
        <result column="actual_amount" property="actualAmount" jdbcType="DECIMAL"/>
        <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL"/>
        <result column="debt_amount" property="debtAmount" jdbcType="DECIMAL"/>
    </resultMap>

    <!-- 欠费查询 -->
    <select id="arrears" resultType="com.yunya.feign.report.domain.vo.ArrearsVo">
        select
        bb.bill_id billId,
        be.employee_name employeeName,
        DATE_FORMAT(bb.order_date, '%Y-%m-%d %H:%i:%s') orderDate,
        bb.order_num orderNum,
        bp.name,
        bp.mobile,
        IFNULL(bb.privilege_amount + bb.actual_amount,0) originalPrice,
        IFNULL(bb.privilege_amount,0) privilegeAmount,
        IFNULL(bb.actual_amount,0) actualAmount,
        IFNULL(bb.received_amount,0) receivedAmount,
        IFNULL(bb.debt_amount,0) debtAmount
        from base_bill bb
        join base_patient bp on bp.patient_id = bb.patient_id
        join base_treatment_process btpr on btpr.patient_id = bp.patient_id
        join base_employee be on btpr.registered_dentist_id = be.user_id
        <where>
            <if test="form.orgId != null and form.orgId != ''">
                AND bb.org_id = #{form.orgId}
            </if>

            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
                and DATE_FORMAT(bb.order_date, "%Y-%m-%d") &gt;= DATE_FORMAT(#{form.startDate}, "%Y-%m-%d")
                and DATE_FORMAT(bb.order_date, "%Y-%m-%d") &lt;= DATE_FORMAT(#{form.endDate}, "%Y-%m-%d")
            </if>

            <if test="form.registeredDentistIds != null and form.registeredDentistIds.size() > 0 ">
                AND btpr.registered_dentist_id in
                <foreach collection="form.registeredDentistIds" item="registeredDentistId" index="index" open="("
                         close=")" separator=",">
                    #{registeredDentistId}
                </foreach>
            </if>

            <if test="patientIds != null and patientIds.size() > 0 ">
                AND bp.patient_id in
                <foreach collection="patientIds" item="ids" index="index" open="(" close=")" separator=",">
                    #{ids}
                </foreach>
            </if>

        </where>
        group by bb.order_date asc

    </select>

    <!-- 根据条件查询开单记录列表 -->
    <select id="selectBillRecordOfOrderList" resultType="com.yunya.feign.report.domain.vo.BillOfOrderRecordVO">
        SELECT
        bor.orderDate,
        bor.billId,
        bor.orderNum,
        bor.billNum,
        bor.patientId,
        bor.patientName,
        bor.mobile,
        bor.gender,
        bor.regDentistId,
        bor.regDentistName,
        IFNULL(bor.orderAmount,0) orderAmount,
        IFNULL(bor.privilegeAmount,0) privilegeAmount,
        IFNULL(bor.actualAmount,0) actualAmount,
        IFNULL(bor.receivedAmount,0) receivedAmount,
        bor.chargeStatus,
        bor.billerId,
        bor.biller
        FROM
        (
        SELECT
        bb.org_id as orgId,
        DATE_FORMAT( bb.order_date, '%Y-%m-%d' ) AS orderDate,
        bb.bill_id AS billId,
        bb.order_num AS orderNum,
        bb.bill_num AS billNum,
        bb.patient_id AS patientId,
        bp.`name` AS patientName,
        bp.pinyin_name AS pinyinName,
        bp.mobile AS mobile,
        bp.gender AS gender,
        btp.registered_dentist_id AS regDentistId,
        btp.employee_name AS regDentistName,
        bb.order_amount AS orderAmount,
        bb.privilege_amount AS privilegeAmount,
        bb.actual_amount AS actualAmount,
        bb.received_amount AS receivedAmount,
        IF
        ( bb.bill_num = NULL OR '', 0, 1 ) AS chargeStatus,
        bb.biller_id AS billerId,
        be.employee_name AS biller
        FROM
        base_bill bb
        LEFT JOIN ( SELECT btp.treatment_id, btp.registered_dentist_id, be.employee_name FROM base_treatment_process btp
        LEFT JOIN base_employee be ON btp.registered_dentist_id = be.user_id ) btp ON bb.treatment_id = btp.treatment_id
        LEFT JOIN base_patient bp ON bb.patient_id = bp.patient_id
        LEFT JOIN base_employee be ON bb.biller_id = be.user_id
        ) bor
        <where>
            <if test="query.orgId != null">
                and bor.orgId = #{query.orgId}
            </if>
            <if test="query.orderNum != null and query.orderNum != ''">
                and bor.orderNum like concat('%', #{query.orderNum} ,'%')
            </if>
            <if test="query.billNum != null and query.billNum != ''">
                and bor.billNum like concat('%', #{query.billNum} ,'%')
            </if>
            <if test="query.keyWord != null and query.keyWord != ''">
                and concat(IFNULL(bor.patientName, ''), IFNULL(bor.pinyinName, ''), IFNULL(bor.mobile, '')) like
                concat('%', #{query.keyWord}, '%')
            </if>
            <if test="query.orderStartDate != null and query.orderStartDate != ''">
                and bor.orderDate &gt;= #{query.orderStartDate}
            </if>
            <if test="query.orderEndDate != null and query.orderEndDate != ''">
                and bor.orderDate &lt;= #{query.orderEndDate}
            </if>
            <if test="query.regDentistIds != null and query.regDentistIds.length > 0">
                and bor.regDentistId in
                <foreach collection="query.regDentistIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY bor.orderDate DESC
    </select>

    <!-- 根据条件查询账单优惠明细列表 -->
    <select id="selectBillDiscountDetailList"
            resultType="com.yunya.feign.report.domain.vo.BillOfDiscountDetailVO">
        SELECT
        bpr.billId,
        DATE_FORMAT(bpr.orderDate, '%Y-%m-%d') orderDate,
        bpr.billNum,
        bpr.orgId,
        bpr.orgName,
        bpr.patientId,
        bpr.patientName,
        bpr.mobile,
        bpr.regDentistId,
        bpr.regDentistName,
        IFNULL(bpr.originalAmount,0) originalAmount,
        IFNULL(bpr.discountAmount,0) discountAmount,
        IFNULL(bpr.actualAmount,0) actualAmount,
        bpr.privilegeType,
        bpr.payeeId,
        bpr.payeeName
        FROM
        (
        SELECT
        bb.bill_id AS billId,
        bb.order_date AS orderDate,
        bb.bill_num AS billNum,
        bb.org_id AS orgId,
        bo.abbreviation AS orgName,
        bb.patient_id AS patientId,
        bp.`name` AS patientName,
        bp.pinyin_name AS pinyinName,
        bp.mobile AS mobile,
        btp.registered_dentist_id AS regDentistId,
        btp.employee_name AS regDentistName,
        bb.order_amount AS originalAmount,
        bb.privilege_amount AS discountAmount,
        bb.actual_amount AS actualAmount,
        bb.privilege_type AS privilegeType,
        bbp.payee_user_id AS payeeId,
        bbp.employee_name AS payeeName
        FROM
        base_bill bb
        LEFT JOIN base_organization bo ON bb.org_id = bo.org_id
        LEFT JOIN base_patient bp ON bb.patient_id = bp.patient_id
        LEFT JOIN ( SELECT btp.registered_dentist_id, btp.treatment_id, be.employee_name FROM base_treatment_process btp LEFT JOIN base_employee be ON btp.registered_dentist_id = be.user_id ) btp ON bb.treatment_id = btp.treatment_id
        LEFT JOIN ( SELECT bbp.bill_id, bbp.payee_user_id, be.employee_name FROM base_bill_pay bbp LEFT JOIN base_employee be ON bbp.payee_user_id = be.user_id ) bbp ON bb.bill_id = bbp.bill_id
        ) bpr
        <where>
            <if test="query.keyWord != null and query.keyWord != ''">
                and concat(IFNULL(bpr.patientName, ''), IFNULL(bpr.pinyinName, ''), IFNULL(bpr.mobile, '')) like
                concat('%', #{query.keyWord}, '%')
            </if>
            <if test="query.billNum != null and query.billNum != ''">
                and bpr.billNum like concat('%', #{query.billNum} ,'%')
            </if>
            <if test="query.orgIds != null and query.orgIds.length > 0">
                and bpr.orgId in
                <foreach collection="query.orgIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="query.orderStartDate != null and query.orderStartDate != ''">
                and bpr.orderDate &gt;= #{query.orderStartDate}
            </if>
            <if test="query.orderEndDate != null and query.orderEndDate != ''">
                and bpr.orderDate &lt;= #{query.orderEndDate}
            </if>
            <if test="query.regDentistIds != null and query.regDentistIds.length > 0">
                and bpr.regDentistId in
                <foreach collection="query.regDentistIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="query.privilegeTypes != null and query.privilegeTypes.length > 0">
                and bpr.privilegeType in
                <foreach collection="query.privilegeTypes" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 根据条件查询应收账款余额表 -->
    <select id="selectBillReceivableAmountList"
            resultType="com.yunya.feign.report.domain.vo.BillRestReceivableAmountVO">
        SELECT
        billId,
        orgId,
        DATE_FORMAT(orderDate, '%Y-%m-%d') orderDate,
        billNum,
        patientId,
        patientName,
        mobile,
        regDentistId,
        regDentistName,
        IFNULL(totalOriginalAmount,0) totalOriginalAmount,
        IFNULL(totalActualAmount,0) totalActualAmount,
        IFNULL(billReceivableAmount,0) billReceivableAmount
        FROM
        (
        SELECT
        bb.bill_id AS billId,
        bb.org_id as orgId,
        bb.order_date AS orderDate,
        bb.bill_num AS billNum,
        bb.patient_id AS patientId,
        btp.`name` AS patientName,
        btp.pinyin_name as pinyinName,
        btp.mobile,
        btp.registered_dentist_id AS regDentistId,
        btp.employee_name AS regDentistName,
        bb.order_amount AS totalOriginalAmount,
        bb.actual_amount AS totalActualAmount,
        bb.received_amount AS billReceivableAmount
        FROM
        base_bill bb
        LEFT JOIN (
        SELECT
        btp.treatment_id,
        btp.patient_id,
        bp.`name`,
        bp.mobile,
        bp.gender,
        bp.pinyin_name,
        btp.registered_dentist_id,
        be.employee_name
        FROM
        base_treatment_process btp
        LEFT JOIN base_patient bp ON btp.patient_id = bp.patient_id
        LEFT JOIN base_employee be ON btp.registered_dentist_id = be.user_id
        WHERE
        btp.treatment_id IS NOT NULL
        GROUP BY
        btp.treatment_id
        ) btp ON bb.treatment_id = btp.treatment_id
        ) brr
        <where>
            <if test="query.orgId != null">
                and brr.orgId = #{query.orgId}
            </if>
            <if test="query.orderDate != null and query.orderDate != ''">
                and brr.orderDate = #{query.orderDate}
            </if>
            <if test="query.keyword != null and query.keyword != ''">
                and concat(IFNULL(brr.patientName, ''), IFNULL(brr.pinyinName, ''), IFNULL(brr.mobile, '')) like
                concat('%', #{query.keyword}, '%')
            </if>
            <if test="query.regDentistIds != null and query.regDentistIds.length > 0">
                and brr.regDentistId in
                <foreach collection="query.regDentistIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>


    <select id="selectArrears" resultType="com.yunya.feign.report.domain.vo.ArrearsStatisticsVo">
        SELECT
            (select count(DISTINCT patient_id ) from base_bill where org_id = #{orgId} AND debt_amount > 0) numberPatient,
            count(*) arrearsCount,
            sum(debt_amount) debtAmount
        FROM
            base_bill
        WHERE
            org_id = #{orgId}
          AND debt_amount > 0
    </select>

    <!-- 根据条件查询门诊账单数据总览 -->
    <select id="selectClinicBillDataStatistic"
            resultType="com.yunya.feign.report.domain.vo.BillDataStatisticsVO">
        SELECT
            SUM( bb.totalOriginalAmount ) AS totalOriginalAmount,
            SUM( bb.totalActualReceiveAmount ) AS totalActualReceiveAmount,
            SUM( bb.totalDiscountAmount ) AS totalDiscountAmount,
            SUM( bb.totalDebtAmount ) AS totalDebtAmount
        FROM
            (
            SELECT
                bb.org_id,
                SUM( bb.order_amount ) AS totalOriginalAmount,
                SUM( bb.privilege_amount ) AS totalDiscountAmount,
                SUM( bb.actual_amount ) AS totalActualReceiveAmount,
                SUM( bb.debt_amount ) AS totalDebtAmount
            FROM
                base_bill bb
            <where>
                AND bb.bill_num IS NOT NULL
                <if test="query.dateType == 0">
                    <if test="query.startDate != null and query.startDate != ''">
                        and DATE_FORMAT( bb.bill_date, '%Y-%m-%d') &gt;= #{query.startDate}
                    </if>
                    <if test="query.endDate != null and query.endDate != ''">
                        and DATE_FORMAT( bb.bill_date, '%Y-%m-%d') &lt;= #{query.endDate}
                    </if>
                </if>
                <if test="query.dateType == 1">
                    <if test="query.startDate != null and query.startDate != ''">
                        and DATE_FORMAT( bb.bill_date, '%Y-%m') &gt;= #{query.startDate}
                    </if>
                    <if test="query.endDate != null and query.endDate != ''">
                        and DATE_FORMAT( bb.bill_date, '%Y-%m') &lt;= #{query.endDate}
                    </if>
                </if>
                <if test="query.dateType == 2">
                    <if test="query.startDate != null and query.startDate != ''">
                        and DATE_FORMAT( bb.bill_date, '%Y') &gt;= #{query.startDate}
                    </if>
                    <if test="query.endDate != null and query.endDate != ''">
                        and DATE_FORMAT( bb.bill_date, '%Y') &lt;= #{query.endDate}
                    </if>
                </if>
            </where>
            GROUP BY
            bb.org_id
            ) bb
        <where>
            and bb.org_id in
            <foreach collection="query.orgIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>
</mapper>