<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BaseTariffInfoMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseTariffInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="item_id" property="itemId" jdbcType="INTEGER"/>
        <id column="item_type" property="itemType" jdbcType="TINYINT"/>
        <result column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="item_num" property="itemNum" jdbcType="VARCHAR"/>
        <result column="item_name" property="itemName" jdbcType="VARCHAR"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
    </resultMap>

    <!-- 根据联合主键查询 -->
    <select id="selectByUnionPrimaryKey" resultType="com.yunya.models.report.BaseTariffInfo">
        select * from base_tariff_info where item_id = #{dataId} and item_type = #{dateType}
    </select>

    <!-- 获取全部开单项目分类列表 -->
    <select id="selectItemCategoryList" resultType="com.yunya.feign.report.domain.vo.ItemCategoryInfoVO">
        SELECT
            category_id AS categoryId,
            item_type AS itemType,
            category_name AS categoryName
        FROM
            base_tariff_info
        <where>
            <if test="itemType != null">
                item_type = #{itemType}
            </if>
        </where>
        GROUP BY
            category_id,
            item_type,
            category_name
        ORDER BY
            item_type
    </select>

    <select id="selectItemListByCategoryId" resultType="com.yunya.feign.report.domain.vo.ItemInfoVO">
        SELECT
            item_id AS itemId,
            item_type AS itemType,
            item_name AS itemName,
            item_num AS itemNum
        FROM
        base_tariff_info
        <where>
            <if test="itemType != null">
                and item_type = #{itemType}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>

    <select id="selectItemCategoryListByCategoryId"
            resultType="com.yunya.feign.report.domain.vo.ItemCategoryVO">
        SELECT
            item_id AS itemId,
            item_type AS itemType,
            item_name AS itemName,
            item_num AS itemNum,
            category_id AS categoryId,
            category_name AS category_Name
        FROM base_tariff_info
        <where>
            <if test="itemType != null">
                and item_type = #{itemType}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>

    <!-- 根据联合主键删除 -->
    <delete id="deleteByUnionPrimaryKey">
        delete from base_tariff_info where item_id = #{itemId} and item_type = #{itemType}
    </delete>
</mapper>