<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BasePeizhenCentreMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.report.ultimate.model.BasePeizhenCentre" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="treatment_id" property="treatmentId" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="treat_start_time" property="treatStartTime" jdbcType="TIMESTAMP" />
    <result column="treat_end_time" property="treatEndTime" jdbcType="TIMESTAMP" />
    <result column="assistant_1" property="assistant1" jdbcType="VARCHAR" />
    <result column="assistant_2" property="assistant2" jdbcType="VARCHAR" />
    <result column="assistant_3" property="assistant3" jdbcType="VARCHAR" />
    <result column="actualWorkload" property="actualworkload" jdbcType="VARCHAR" />
    <result column="refundWorkload" property="refundworkload" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteAll">
         delete from base_peizhen_centre
    </delete>

  <insert id="batchIntert" parameterType="com.yunya.feign.treatment.domain.vo.BasePeizhenCentreVO">
    INSERT INTO base_peizhen_centre (
    treatment_id,
    org_id,
    treat_start_time,
    treat_end_time,
    assistant_1,
    assistant_2,
    assistant_3,
    actualWorkload,
    refundWorkload
    )
    VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.treatmentId},#{item.orgId}, #{item.treatStartTime},#{item.treatEndTime}, #{item.assistant1},
      #{item.assistant2}, #{item.assistant3}, #{item.actualWorkload},
      #{item.refundWorkload})
    </foreach>
  </insert>

<!--    配诊应收工作量 增加划扣工作量-->
    <select id="findFirstVisitRecordDetail" resultType="com.yunya.feign.treatment.domain.vo.BasePeizhenCentreVO">
        SELECT
        btp.treatment_id as treatmentId,
        btp.org_id as orgId,
        btp.treat_start_time as treatStartTime,
        btp.treat_end_time as treatEndTime,
        assistant_1 as assistant1,
				assistant_2 as assistant2,
				assistant_3 as assistant3,
        IFNULL( bbd.actualWorkload, 0 ) AS actualWorkload,
        IFNULL( bf.refundWorkload, 0 ) AS refundWorkload
        FROM
        base_treatment_process btp
        LEFT JOIN (
            SELECT
            SUM(bbd.originalAmount - bbd.discount_amount + bbd.swipe_workload) AS actualWorkload,
            bbd.treatment_id
            FROM
            (
                SELECT
                bb.treatment_id,
                bbd.price * bbd.quantity AS originalAmount,
                bbd.swipe_workload,
                bbd.discount_amount
                FROM
                base_bill_detail bbd
                LEFT JOIN (select bb.treatment_id,bb.bill_id,bb.bill_date from base_bill bb where bb.bill_date is not null) bb
                ON bbd.bill_id = bb.bill_id
            ) bbd
            GROUP BY
            bbd.treatment_id
        ) bbd ON btp.treatment_id = bbd.treatment_id
        LEFT JOIN ( SELECT br.treatment_id, SUM( br.refund_amount ) AS refundWorkload FROM base_refund br

        GROUP BY
        br.treatment_id ) bf ON btp.treatment_id = bf.treatment_id
				where (assistant_1 is not null or assistant_2 is not null or assistant_3 is not null) and btp.treat_end_time IS NOT NULL
        GROUP BY
        btp.treatment_id
  </select>
</mapper>