<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BaseVisitRemindMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseVisitRemind">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="record_id" property="recordId" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="time" property="time" jdbcType="TIMESTAMP"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 根据条件查询随访（提醒）完成信息 -->
    <select id="selectVisitAndRemindCompletedInfo"
            resultType="com.yunya.feign.report.domain.vo.VisitAndRemindCompletedInfoVO">
        SELECT
        bvr.waitingForCompletedCount,
        bvr1.completedCount
        FROM
        (
        SELECT
        COUNT( record_id ) AS waitingForCompletedCount
        FROM
        base_visit_remind bvr
        <where>
            <if test="query.orgId != null">
                AND bvr.org_id = #{query.orgId}
            </if>
            <if test="query.businessType != null">
                AND bvr.type = #{query.businessType}
            </if>
            <if test="query.startDate != null and query.startDate != ''">
                AND DATE_FORMAT(bvr.crt_time, '%Y-%m') &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                AND DATE_FORMAT(bvr.crt_time, '%Y-%m') &lt;= #{query.endDate}
            </if>
        </where>
        ) bvr,
        (
        SELECT
        COUNT( record_id ) AS completedCount
        FROM
        base_visit_remind bvr
        <where>
            AND bvr.time IS NOT NULL
            <if test="query.orgId != null">
                AND bvr.org_id = #{query.orgId}
            </if>
            <if test="query.businessType != null">
                AND bvr.type = #{query.businessType}
            </if>
            <if test="query.startDate != null and query.startDate != ''">
                AND DATE_FORMAT(bvr.crt_time, '%Y-%m') &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                AND DATE_FORMAT(bvr.crt_time, '%Y-%m') &lt;= #{query.endDate}
            </if>
        </where>
        ) bvr1
    </select>

    <select id="findVisitRemindListInPatientId" resultType="com.yunya.models.report.BaseVisitRemind">
        select
            t.patient_id as patientId,
            t.time,
            t.content
        from base_visit_remind t
        <where>
            <if test="type != null">
                and t.type = #{type}
            </if>
            <if test="orgId != null">
                and t.org_id = #{orgId}
            </if>
            <if test="patientIds!=null and patientIds.size()>0">
                and t.patient_id in
                <foreach collection="patientIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by time desc
    </select>
</mapper>