<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BaseBillPayMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseBillPay">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="bill_pay_id" property="billPayId" jdbcType="INTEGER"/>
        <result column="bill_id" property="billId" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="treatment_id" property="treatmentId" jdbcType="INTEGER"/>
        <result column="payee_user_id" property="payeeUserId" jdbcType="INTEGER"/>
        <result column="payee_date" property="payeeDate" jdbcType="TIMESTAMP"/>
        <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL"/>
        <result column="still_owe_amount" property="stillOweAmount" jdbcType="DECIMAL"/>
        <result column="cash_amount" property="cashAmount" jdbcType="DECIMAL"/>
        <result column="alipay_amount" property="alipayAmount" jdbcType="DECIMAL"/>
        <result column="wechat_amount" property="wechatAmount" jdbcType="DECIMAL"/>
        <result column="member_principle_amount" property="memberPrincipleAmount" jdbcType="DECIMAL"/>
        <result column="member_gift_amount" property="memberGiftAmount" jdbcType="DECIMAL"/>
        <result column="prepaid_principle_amount" property="prepaidPrincipleAmount" jdbcType="DECIMAL"/>
        <result column="prepaid_gift_amount" property="prepaidGiftAmount" jdbcType="DECIMAL"/>
        <result column="insurance_amount" property="insuranceAmount" jdbcType="DECIMAL"/>
        <result column="bank_card_amount" property="bankCardAmount" jdbcType="DECIMAL"/>
        <result column="city_medical_insurance_amount" property="cityMedicalInsuranceAmount" jdbcType="DECIMAL"/>
        <result column="province_medical_insurance_amount" property="provinceMedicalInsuranceAmount"
                jdbcType="DECIMAL"/>
    </resultMap>
    <!-- 根据条件查询账单支付记录列表 -->
    <select id="selectBillRecordOfPayList" resultType="com.yunya.feign.report.domain.vo.BillOfPayRecordVO">
        SELECT
            brp.toolDate,
            brp.orderDate,
            brp.billDate,
            brp.billPayId,
            brp.billNum,
            brp.patientId,
            brp.patientName,
            brp.mobile,
            brp.gender,
            brp.regDentistId,
            brp.regDentistName,
            brp.orderAmount,
            brp.privilegeAmount,
            brp.actualAmount,
            brp.receivedAmount,
            brp.stillOweAmount,
            brp.remainingOweAmount,
            brp.payeeUserId,
            brp.payeeUserName
        FROM
            (
            SELECT
                DATE_FORMAT( bbp.payee_date, '%Y-%m-%d' ) AS toolDate,
                DATE_FORMAT( bb.order_date, '%Y-%m-%d' ) AS orderDate,
                DATE_FORMAT( bb.bill_date, '%Y-%m-%d' ) AS billDate,
                bbp.bill_pay_id AS billPayId,
                bb.bill_num AS billNum,
                tp.patient_id AS patientId,
                tp.`name` AS patientName,
                tp.pinyin_name AS pinyinName,
                tp.mobile AS mobile,
                tp.gender AS gender,
                tp.registered_dentist_id AS regDentistId,
                tp.regDentistName AS regDentistName,
                bb.order_amount AS orderAmount,
                bb.privilege_amount AS privilegeAmount,
                bb.actual_amount AS actualAmount,
                bbp.org_id as orgId,
                bbp.received_amount AS receivedAmount,
                bbp.still_owe_amount AS stillOweAmount,
                bb.debt_amount AS remainingOweAmount,
                bbp.payee_user_id AS payeeUserId,
                be.employee_name AS payeeUserName
            FROM
                base_bill_pay bbp
                LEFT JOIN base_bill bb ON bbp.bill_id = bb.bill_id
                LEFT JOIN base_employee be ON bbp.payee_user_id = be.user_id
                LEFT JOIN (
                SELECT
                    btp.treatment_id,
                    bp.patient_id,
                    bp.`name`,
                    bp.pinyin_name,
                    bp.mobile,
                    bp.gender,
                    btp.registered_dentist_id,
                    be.employee_name AS regDentistName
                FROM
                    base_treatment_process btp
                    LEFT JOIN base_patient bp ON btp.patient_id = bp.patient_id
                    LEFT JOIN base_employee be ON btp.registered_dentist_id = be.user_id
                ) tp ON bbp.treatment_id = tp.treatment_id
            ) brp
        <where>
            <if test="query.orgId != null">
                and brp.orgId = #{query.orgId}
            </if>
            <if test="query.billNum != null and query.billNum != ''">
                and brp.billNum like concat('%', #{query.billNum}, '%')
            </if>
            <if test="query.keyWord != null and query.keyWord != ''">
                and concat(IFNULL(brp.patientName, ''),IFNULL(brp.pinyinName, ''), IFNULL(brp.mobile, '')) like concat('%', #{query.keyWord}, '%')
            </if>
            <if test="query.tollStartDate != null and query.tollStartDate != ''">
                and brp.toolDate &gt;= #{query.tollStartDate}
            </if>
            <if test="query.tollEndDate != null and query.tollEndDate != ''">
                and brp.toolDate &lt;= #{query.tollEndDate}
            </if>
            <if test="query.billStartDate != null and query.billStartDate != ''">
                and brp.billDate &gt;= #{query.billStartDate}
            </if>
            <if test="query.billEndDate != null and query.billEndDate != ''">
                and brp.billDate &lt;= #{query.billEndDate}
            </if>
            <if test="query.regDentistIds != null and query.regDentistIds.length > 0">
                and brp.regDentistId in
                <foreach collection="query.regDentistIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY
            brp.toolDate DESC
    </select>

    <!-- 根据条件查询门诊收费数据总览 -->
    <select id="selectClinicTollDataStatistic"
            resultType="com.yunya.feign.report.domain.vo.TollDataStatisticsVO">
        SELECT
        IFNULL(SUM( bbp.totalReceivedDebtAmount ), 0) AS totalReceivedDebtAmount,
        IFNULL(SUM( bbp.totalReceivedAmount ), 0) AS totalReceivedAmount,
        IFNULL(SUM( bbp.totalBillRefundAmount ), 0) AS totalBillRefundAmount,
        IFNULL(SUM( bbp.totalClinicCollectionAmount ), 0) AS totalClinicCollectionAmount,
        IFNULL(SUM( bbp.totalClinicCollectedAmount ), 0) AS totalClinicCollectedAmount
        FROM
        (
        SELECT
        bo.org_id,
        IFNULL( bbp.totalReceivedDebtAmount, 0 ) AS totalReceivedDebtAmount,
        IFNULL( bbp1.totalReceivedAmount, 0 ) AS totalReceivedAmount,
        IFNULL( br.totalBillRefundAmount, 0 ) AS totalBillRefundAmount,
        IFNULL( bbp2.totalClinicCollectionAmount, 0 ) AS totalClinicCollectionAmount,
        IFNULL( bbp3.totalClinicCollectedAmount, 0 ) AS totalClinicCollectedAmount
        FROM
        base_organization bo
        LEFT JOIN (
        SELECT
        bbp.org_id,
        SUM( bbp.received_amount ) AS totalReceivedDebtAmount
        FROM
        (
        SELECT
        bbp.org_id,
        bbp.received_amount,
        bbp.payee_date,
        bb.bill_date
        FROM
        base_bill_pay bbp
        LEFT JOIN base_bill bb ON bbp.bill_id = bb.bill_id
        <where>
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y-%m-%d') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y-%m-%d') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y-%m') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y-%m') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y') &lt;= #{query.endDate}
                </if>
            </if>
        </where>
        ) bbp
        WHERE
        bbp.payee_date != bbp.bill_date
        GROUP BY
        bbp.org_id
        ) bbp ON bo.org_id = bbp.org_id
        LEFT JOIN (
        SELECT
        bbp.org_id,
        SUM( bbp.received_amount ) AS totalReceivedAmount
        FROM
        base_bill_pay bbp
        <where>
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y-%m-%d') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y-%m-%d') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y-%m') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y-%m') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y') &lt;= #{query.endDate}
                </if>
            </if>
        </where>
        GROUP BY
        bbp.org_id
        ) bbp1 ON bo.org_id = bbp1.org_id
        LEFT JOIN (
        SELECT
        br.org_id,
        SUM( br.refund_amount ) AS totalBillRefundAmount
        FROM
        base_refund br
        <where>
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( br.refund_date, '%Y-%m-%d') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( br.refund_date, '%Y-%m-%d') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( br.refund_date, '%Y-%m') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( br.refund_date, '%Y-%m') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( br.refund_date, '%Y') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( br.refund_date, '%Y') &lt;= #{query.endDate}
                </if>
            </if>
        </where>
        GROUP BY
        br.org_id
        ) br ON bo.org_id = br.org_id
        LEFT JOIN (
        SELECT
        bbp.tollOrgId,
        SUM( bbp.received_amount ) AS totalClinicCollectionAmount
        FROM
        (
        SELECT
        bbp.org_id AS tollOrgId,
        bbp.received_amount,
        bb.org_id AS billOrgId
        FROM
        base_bill_pay bbp
        LEFT JOIN base_bill bb ON bbp.bill_id = bb.bill_id
        <where>
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y-%m-%d') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y-%m-%d') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y-%m') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y-%m') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y') &lt;= #{query.endDate}
                </if>
            </if>
        </where>
        ) bbp
        WHERE
        bbp.tollOrgId != bbp.billOrgId
        GROUP BY
        bbp.tollOrgId
        ) bbp2 ON bo.org_id = bbp2.tollOrgId
        LEFT JOIN (
        SELECT
        bbp.billOrgId,
        SUM( bbp.received_amount ) AS totalClinicCollectedAmount
        FROM
        (
        SELECT
        bbp.org_id AS tollOrgId,
        bbp.received_amount,
        bb.org_id AS billOrgId
        FROM
        base_bill_pay bbp
        LEFT JOIN base_bill bb ON bbp.bill_id = bb.bill_id
        <where>
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y-%m-%d') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y-%m-%d') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y-%m') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y-%m') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bbp.payee_date, '%Y') &lt;= #{query.endDate}
                </if>
            </if>
        </where>
        ) bbp
        WHERE
        bbp.tollOrgId != bbp.billOrgId
        GROUP BY
        bbp.billOrgId
        ) bbp3 ON bo.org_id = bbp3.billOrgId
        ) bbp
        <where>
            <if test="query.orgIds != null and query.orgIds.length > 0">
                and bbp.org_id in
                <foreach collection="query.orgIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>