<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BasePatientMemberOccurLogMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BasePatientMemberOccurLog">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="occur_log_id" property="occurLogId" jdbcType="INTEGER"/>
        <result column="card_id" property="cardId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="occur_type" property="occurType" jdbcType="TINYINT"/>
        <result column="principal_amount" property="principalAmount" jdbcType="DECIMAL"/>
        <result column="bonus_amount" property="bonusAmount" jdbcType="DECIMAL"/>
        <result column="current_recharge_principal" property="currentRechargePrincipal" jdbcType="DECIMAL"/>
        <result column="current_recharge_bonus" property="currentRechargeBonus" jdbcType="DECIMAL"/>
        <result column="payment_id" property="paymentId" jdbcType="INTEGER"/>
        <result column="payment_manner" property="paymentManner" jdbcType="VARCHAR"/>
        <result column="operator_user_id" property="operatorUserId" jdbcType="INTEGER"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="bill_id" property="billId" jdbcType="INTEGER"/>
        <result column="recharge_card_number" property="rechargeCardNumber" jdbcType="VARCHAR"/>
        <result column="occur_date" property="occurDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 根据姓名/手机号/拼音姓名 -->
    <select id="selectKilePatientId" resultType="java.lang.Integer">
      select patient_id
      from base_patient
      where concat(IFNULL(name,''),IFNULL(pinyin_name,''),IFNULL(mobile,''))
      like concat(concat('%',#{combination}),'%')
    </select>

    <!-- 查询会员卡充值记录列表 -->
    <select id="selectMemberRechargeList" resultType="com.yunya.feign.report.domain.vo.BaseMemberRechargeLogVo">
        select t1.* from (
        SELECT
        bpmol.occur_log_id occurLogId,
        DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') occurDate,
        bpt.patient_id patientId,
        bpt.NAME,
        bpt.mobile,
        bpm.member_level_id memberLevelId,
        bpm.member_level_name memberLevelName,
        bpm.card_number cardNumber,
        IFNULL(bpmol.principal_amount,0) principalAmount,
        IFNULL(bpmol.bonus_amount,0) bonusAmount,
        IFNULL( bpmol.current_recharge_principal + bpmol.current_recharge_bonus ,0) currentRechargePrincipal,
        IFNULL( bpm.principal_amount + bpm.bonus_amount ,0) currentAmount,
        bpmol.payment_id paymentId,
        bpmol.payment_manner paymentManner,
        bpmol.operator_user_id,
        (select be.employee_name from base_employee be where be.user_id = bpmol.operator_user_id) operatorUserName,
        bpmol.remarks
        FROM
        base_patient_member_occur_log bpmol
        JOIN base_patient bpt ON bpmol.patient_id = bpt.patient_Id
        JOIN base_patient_member bpm ON bpm.patient_id = bpt.patient_Id
        <where>
            bpmol.type = 0
            AND bpmol.occur_type = 1
            <if test="form.orgId != null">
                AND bpmol.org_id = #{form.orgId}
            </if>

            <if test="form.cardNumber != null and form.cardNumber != ''">
                AND bpm.card_number = #{form.cardNumber}
            </if>

            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
                <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') >=  DATE_FORMAT(#{form.startDate}, '%Y-%m-%d')   ]]>
                <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') <  DATE_FORMAT(#{form.endDate}, '%Y-%m-%d')   ]]>
            </if>

            <if test="form.memberLevelIds != null and form.memberLevelIds.size() > 0 ">
                AND bpm.member_level_id in
                <foreach collection="form.memberLevelIds" item="levelIds" index="index" open="(" close=")"
                         separator=",">
                    #{levelIds}
                </foreach>
            </if>

        </where>
        group by bpmol.occur_date desc
        ) t1
        <where>
            <if test="patientIds != null and patientIds.size() > 0 ">
                AND t1.patientId in
                <foreach collection="patientIds" item="ids" index="index" open="(" close=")" separator=",">
                    #{ids}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 查询会员卡消费记录列表 -->
    <select id="selectMemberExpendtList" resultType="com.yunya.feign.report.domain.vo.BaseMemberExpendLogVo">
        select t1.* from (
        SELECT
        bpmol.occur_log_id occurLogId,
        DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') occurDate,
        DATE_FORMAT(bb.order_date, '%Y-%m-%d') orderDate,
        bb.order_num orderNum,
        bpt.patient_id patientId,
        bpt.NAME,
        bpt.mobile,
        ( SELECT NAME FROM base_patient WHERE patient_id = bpm.patient_id ) masterCardName,
        bpm.card_number cardNumber,
        bpm.member_level_id memberLevelId,
        bpm.member_level_name memberLevelName,
        IFNULL(bpmol.principal_amount,0) principalAmount,
        IFNULL(bpmol.bonus_amount,0) bonusAmount,
        IFNULL( bpmol.current_recharge_principal + bpmol.current_recharge_bonus ,0) currentExpendPrincipal,
        IFNULL( bpm.principal_amount + bpm.bonus_amount ,0) currentAmount,
        (select be.employee_name from base_employee be where be.user_id = bpmol.operator_user_id) operatorUserName,
        bpmol.remarks
        FROM
        base_patient_member_occur_log bpmol
        JOIN base_patient bpt ON bpmol.patient_id = bpt.patient_Id
        JOIN base_patient_member bpm ON bpm.card_id = bpmol.card_id
        JOIN base_bill bb ON bpmol.bill_id = bb.bill_id
        <where>
            bpmol.type = 0
            AND bpmol.occur_type = 2
            <if test="form.orgId != null and form.orgId != ''">
                AND bpmol.org_id = #{form.orgId}
            </if>

            <if test="form.cardNumber != null and form.cardNumber != ''">
                AND bpm.card_number = #{form.cardNumber}
            </if>

            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
                <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') >=  DATE_FORMAT(#{form.startDate}, '%Y-%m-%d')   ]]>
                <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') <  DATE_FORMAT(#{form.endDate}, '%Y-%m-%d')   ]]>
            </if>

            <if test="form.memberLevelIds != null and form.memberLevelIds.size() > 0 ">
                AND bpm.member_level_id in
                <foreach collection="form.memberLevelIds" item="levelIds" index="index" open="(" close=")"
                         separator=",">
                    #{levelIds}
                </foreach>
            </if>
        </where>
        group by bpmol.occur_date desc
        ) t1
        <where>
            <if test="patientIds != null and patientIds.size() > 0 ">
                AND t1.patientId in
                <foreach collection="patientIds" item="ids" index="index" open="(" close=")" separator=",">
                    #{ids}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 查询会员卡退费记录列表 -->
    <select id="selectMemberReturnList" resultType="com.yunya.feign.report.domain.vo.BaseMemberReturnLogVo">
        select t1.* from (
        SELECT
        bpmol.occur_log_id occurLogId,
        DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') occurDate,
        bpt.patient_id patientId,
        bpt.NAME,
        bpt.mobile,
        bpm.card_number cardNumber,
        bpm.member_level_id memberLevelId,
        bpm.member_level_name memberLevelName,
        IFNULL(bpmol.principal_amount,0) principalAmount,
        IFNULL(bpmol.bonus_amount,0) bonusAmount,
        IFNULL( bpmol.current_recharge_principal + bpmol.current_recharge_bonus ,0) currentReturnPrincipal,
        IFNULL( bpm.principal_amount + bpm.bonus_amount ,0) currentAmount,
        bpmol.payment_id paymentId,
        bpmol.payment_manner paymentManner,
        bpmol.operator_user_id,
        (select be.employee_name from base_employee be where be.user_id = bpmol.operator_user_id) operatorUserName,
        bpmol.remarks
        FROM
        base_patient_member_occur_log bpmol
        JOIN base_patient bpt ON bpmol.patient_id = bpt.patient_Id
        JOIN base_patient_member bpm ON bpm.patient_id = bpt.patient_Id
        <where>
            bpmol.type = 0
            AND bpmol.occur_type = 3
            <if test="form.orgId != null and form.orgId != ''">
                AND bpmol.org_id = #{form.orgId}
            </if>

            <if test="form.cardNumber != null and form.cardNumber != ''">
                AND bpm.card_number = #{form.cardNumber}
            </if>

            <if test="form.memberLevelIds != null and form.memberLevelIds.size() > 0 ">
                AND bpm.member_level_id in
                <foreach collection="memberLevelIds" item="levelIds" index="index" open="(" close=")" separator=",">
                    #{levelIds}
                </foreach>
            </if>

            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
                <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') >=  DATE_FORMAT(#{form.startDate}, '%Y-%m-%d')   ]]>
                <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') <  DATE_FORMAT(#{form.endDate}, '%Y-%m-%d')   ]]>
            </if>
        </where>
        group by bpmol.occur_date desc
        ) t1
        <where>
            <if test="patientIds != null and patientIds.size() > 0 ">
                AND t1.patientId in
                <foreach collection="patientIds" item="ids" index="index" open="(" close=")" separator=",">
                    #{ids}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 查询预付款充值记录列表 -->
    <select id="selectPrepaidRechargeList" resultType="com.yunya.feign.report.domain.vo.BasePrepaidRechargeLogVo">
        select t1.* from (
        SELECT
        bpmol.occur_log_id occurLogId,
        DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') occurDate,
        bpt.patient_id patientId,
        bpt.NAME,
        bpt.mobile,
        bpm.card_number cardNumber,
        IFNULL(bpmol.principal_amount,0) principalAmount,
        IFNULL(bpmol.bonus_amount,0) bonusAmount,
        IFNULL( bpmol.current_recharge_principal + bpmol.current_recharge_bonus ,0) currentRechargePrincipal,
        IFNULL( bpm.principal_amount + bpm.bonus_amount ,0) currentAmount,
        bpmol.payment_id paymentId,
        CASE
        WHEN bpmol.recharge_method = '0' THEN'手动充值'
        ELSE '充值卡充值' END AS 'rechargeMethod',
        bpmol.payment_manner paymentManner,
        bpmol.recharge_card_number rechargeCardNumber,
        bpmol.operator_user_id,
        ( SELECT be.employee_name FROM base_employee be WHERE be.user_id = bpmol.operator_user_id ) operatorUserName,
        bpmol.remarks
        FROM
        base_patient_member_occur_log bpmol
        JOIN base_patient bpt ON bpmol.patient_id = bpt.patient_Id
        JOIN base_patient_member bpm ON bpm.card_id = bpmol.card_id
        <where>
            bpmol.type = 1
            AND bpmol.occur_type = 1
            <if test="form.orgId != null and form.orgId != ''">
                AND bpmol.org_id = #{form.orgId}
            </if>

            <if test="form.cardNumber != null and form.cardNumber != ''">
                AND bpm.card_number = #{form.cardNumber}
            </if>

            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
                <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') >=  DATE_FORMAT(#{form.startDate}, '%Y-%m-%d')   ]]>
                <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') <  DATE_FORMAT(#{form.endDate}, '%Y-%m-%d')   ]]>
            </if>

            <if test="form.rechargeMethods != null and form.rechargeMethods.size() > 0 ">
                AND bpmol.recharge_method in
                <foreach collection="form.rechargeMethods" item="rechargeMethod" index="index" open="(" close=")"
                         separator=",">
                    #{rechargeMethod}
                </foreach>
            </if>

        </where>
        group by bpmol.occur_date desc
        ) t1
        <where>
            <if test="patientIds != null and patientIds.size() > 0 ">
                AND t1.patientId in
                <foreach collection="patientIds" item="ids" index="index" open="(" close=")" separator=",">
                    #{ids}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 查询预付款消费记录列表 -->
    <select id="selectPrepaidExpendList" resultType="com.yunya.feign.report.domain.vo.BasePrepaidExpendLogVo">
        select t1.* from (
        SELECT
        bpmol.occur_log_id occurLogId,
        DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') occurDate,
        DATE_FORMAT(bb.order_date, '%Y-%m-%d') orderDate,
        bb.order_num orderNum,
        bpt.patient_id patientId,
        bpt.NAME,
        bpt.mobile,
        ( SELECT NAME FROM base_patient WHERE patient_id = bpm.patient_id ) masterCardName,
        bpm.card_number cardNumber,
        IFNULL(bpmol.principal_amount,0) principalAmount,
        IFNULL(bpmol.bonus_amount,0) bonusAmount,
        IFNULL( bpmol.current_recharge_principal + bpmol.current_recharge_bonus ,0) currentExpendPrincipal,
        IFNULL( bpm.principal_amount + bpm.bonus_amount ,0) currentAmount,
        ( SELECT be.employee_name FROM base_employee be WHERE be.user_id = bpmol.operator_user_id ) operatorUserName,
        bpmol.remarks
        FROM
        base_patient_member_occur_log bpmol
        JOIN base_patient bpt ON bpmol.patient_id = bpt.patient_Id
        JOIN base_patient_member bpm ON bpm.card_id = bpmol.card_id
        JOIN base_bill bb ON bpmol.bill_id = bb.bill_id
        <where>
            bpmol.type = 1
            AND bpmol.occur_type = 2
            <if test="form.orgId != null and form.orgId != ''">
                AND bpmol.org_id = #{form.orgId}
            </if>

            <if test="form.cardNumber != null and form.cardNumber != ''">
                AND bpm.card_number = #{form.cardNumber}
            </if>

            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
                <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') >=  DATE_FORMAT(#{form.startDate}, '%Y-%m-%d')   ]]>
                <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') <  DATE_FORMAT(#{form.endDate}, '%Y-%m-%d')   ]]>
            </if>

        </where>
        group by bpmol.occur_date desc) t1
        <where>
            <if test="patientIds != null and patientIds.size() > 0 ">
                AND t1.patientId in
                <foreach collection="patientIds" item="ids" index="index" open="(" close=")" separator=",">
                    #{ids}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 查询预付款退费记录列表 -->
    <select id="selectPrepaidReturnList" resultType="com.yunya.feign.report.domain.vo.BasePrepaidReturnLogVo">
        select t1.* from (
        SELECT
        bpmol.occur_log_id occurLogId,
        DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') occurDate,
        bpt.patient_id patientId,
        bpt.NAME,
        bpt.mobile,
        bpm.card_number cardNumber,
        IFNULL(bpmol.principal_amount,0) principalAmount,
        IFNULL(bpmol.bonus_amount,0) bonusAmount,
        IFNULL( bpmol.current_recharge_principal + bpmol.current_recharge_bonus ,0) currentReturnPrincipal,
        IFNULL( bpm.principal_amount + bpm.bonus_amount ,0) currentAmount,
        bpmol.payment_id paymentId,
        bpmol.payment_manner paymentManner,
        bpmol.operator_user_id,
        (select be.employee_name from base_employee be where be.user_id = bpmol.operator_user_id) operatorUserName,
        bpmol.remarks
        FROM
        base_patient_member_occur_log bpmol
        JOIN base_patient bpt ON bpmol.patient_id = bpt.patient_Id
        JOIN base_patient_member bpm ON bpm.patient_id = bpt.patient_Id
        <where>
            bpmol.type = 1
            and bpmol.occur_type = 3
            <if test="form.orgId != null and form.orgId != ''">
                and bpmol.org_id = #{form.orgId}
            </if>

            <if test="form.cardNumber != null and form.cardNumber != ''">
                and bpm.card_number = #{form.cardNumber}
            </if>

            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
                <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') >=  DATE_FORMAT(#{form.startDate}, '%Y-%m-%d')   ]]>
                <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') <  DATE_FORMAT(#{form.endDate}, '%Y-%m-%d')   ]]>
            </if>

        </where>
        group by bpmol.occur_date desc) t1
        <where>
            <if test="patientIds != null and patientIds.size() > 0 ">
                AND t1.patientId in
                <foreach collection="patientIds" item="ids" index="index" open="(" close=")" separator=",">
                    #{ids}
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectMemberBalanceList" resultType="com.yunya.feign.report.domain.vo.BaseMemberBalanceInfoVo">
        select t1.* from (
        SELECT DISTINCT
        bp. patient_id patientId,
        bp.NAME,
        bp.mobile,
        bpm.card_number cardNumber,
        bpm.member_level_name memberLevelName,
        IFNULL(
        ( SELECT principal_amount FROM base_patient_member
        WHERE card_opening_date =
        (
        SELECT Max(card_opening_date) FROM base_patient_member
        <where>
            type = bpm.type
            and card_id = bpm.card_id
            <if test="form.startDate != null and form.startDate != ''">
                and date_format(card_opening_date, '%Y-%m-%d' ) &lt;= date_format(#{form.startDate}, '%Y-%m-%d' )
            </if>
        </where>
        GROUP BY card_opening_date
        )
        limit 0,1
        ),0 ) earlyCurrentRechargePrincipal,

        IFNULL(
        ( SELECT bonus_amount FROM base_patient_member
        WHERE card_opening_date =
        (
        SELECT Max(card_opening_date) FROM base_patient_member
        <where>
            type = bpm.type
            and card_id = bpm.card_id
            <if test="form.startDate != null and form.startDate != ''">
                and date_format(card_opening_date, '%Y-%m-%d' ) &lt;= date_format(#{form.startDate}, '%Y-%m-%d' )
            </if>
        </where>
        GROUP BY card_opening_date
        )
        limit 0,1
        ),0 ) earlyCurrentRechargeBonus,

        ( SELECT IFNULL(sum( a.principal_amount ),0) FROM base_patient_member_occur_log a
        <where>
            a.type = bpm.type
            and a.occur_type = 1
            and a.card_id = bpm.card_id
            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != ''">
                and DATE_FORMAT( a.occur_date, "%Y-%m-%d" ) &gt;= DATE_FORMAT( #{form.startDate}, "%Y-%m-%d" )
                and DATE_FORMAT( a.occur_date, "%Y-%m-%d" ) &lt; DATE_FORMAT( #{form.endDate}, "%Y-%m-%d" )
            </if>
        </where>
        ) thisRechargePrincipalAmount,

        ( SELECT IFNULL(sum( a.bonus_amount ) ,0) FROM base_patient_member_occur_log a
        <where>
            a.type = bpm.type
            and a.occur_type = 1
            and a.card_id = bpm.card_id
            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != ''">
                and DATE_FORMAT( a.occur_date, "%Y-%m-%d" ) &gt;= DATE_FORMAT( #{form.startDate}, "%Y-%m-%d" )
                and DATE_FORMAT( a.occur_date, "%Y-%m-%d" ) &lt; DATE_FORMAT( #{form.endDate}, "%Y-%m-%d" )
            </if>
        </where>
        ) thisRechargeBonusAmount,

        ( SELECT IFNULL(sum( a.principal_amount ) ,0) FROM base_patient_member_occur_log a
        <where>
            a.type = bpm.type
            and a.occur_type = 2
            and a.card_id = bpm.card_id
            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != ''">
                and DATE_FORMAT( a.occur_date, "%Y-%m-%d" ) &gt;= DATE_FORMAT( #{form.startDate}, "%Y-%m-%d" )
                and DATE_FORMAT( a.occur_date, "%Y-%m-%d" ) &lt; DATE_FORMAT( #{form.endDate}, "%Y-%m-%d" )
            </if>
        </where>
        ) thisExpendPrincipalAmount,

        ( SELECT IFNULL(sum( a.bonus_amount ) ,0) FROM base_patient_member_occur_log a
        <where>
            a.type = bpm.type
            and a.occur_type = 2
            and a.card_id = bpm.card_id
            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != ''">
                and DATE_FORMAT( a.occur_date, "%Y-%m-%d" ) &gt;= DATE_FORMAT( #{form.startDate}, "%Y-%m-%d" )
                and DATE_FORMAT( a.occur_date, "%Y-%m-%d" ) &lt; DATE_FORMAT( #{form.endDate}, "%Y-%m-%d" )
            </if>
        </where>
        ) thisExpendBonusAmount,

        ( SELECT IFNULL(sum( a.principal_amount ),0) FROM base_patient_member_occur_log a
        <where>
            a.type = bpm.type
            and a.occur_type = 3
            and a.card_id = bpm.card_id
            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != ''">
                and DATE_FORMAT( a.occur_date, "%Y-%m-%d" ) &gt;= DATE_FORMAT( #{form.startDate}, "%Y-%m-%d" )
                and DATE_FORMAT( a.occur_date, "%Y-%m-%d" ) &lt; DATE_FORMAT( #{form.endDate}, "%Y-%m-%d" )
            </if>
        </where>
        ) thisReturnPrincipalAmount,

        ( SELECT IFNULL(sum( a.bonus_amount ),0) FROM base_patient_member_occur_log a
        <where>
            a.type = bpm.type
            and a.occur_type = 3
            and a.card_id = bpm.card_id
            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != ''">
                and DATE_FORMAT( a.occur_date, "%Y-%m-%d" ) &gt;= DATE_FORMAT( #{form.startDate}, "%Y-%m-%d" )
                and DATE_FORMAT( a.occur_date, "%Y-%m-%d" ) &lt; DATE_FORMAT( #{form.endDate}, "%Y-%m-%d" )
            </if>
        </where>
        ) thisReturnBonusAmount,

        IFNULL(
        ( SELECT principal_amount FROM base_patient_member
        WHERE card_opening_date =
        (
        SELECT Max(card_opening_date) FROM base_patient_member
        <where>
            type = bpm.type
            and card_id = bpm.card_id
            <if test="form.endDate != null and form.endDate != ''">
                and date_format(card_opening_date, '%Y-%m-%d' ) &lt; date_format(#{form.endDate}, '%Y-%m-%d' )
            </if>
        </where>
        GROUP BY card_opening_date
        )
        limit 0,1
        ),0 ) currentRechargePrincipal,

        IFNULL(
        ( SELECT bonus_amount FROM base_patient_member
        WHERE card_opening_date =
        (
        SELECT Max(card_opening_date) FROM base_patient_member
        <where>
            type = bpm.type
            and card_id = bpm.card_id
            <if test="form.endDate != null and form.endDate != ''">
                and date_format(card_opening_date, '%Y-%m-%d' ) &lt; date_format(#{form.endDate}, '%Y-%m-%d' )
            </if>
        </where>
        GROUP BY card_opening_date
        )
        limit 0,1
        ),0 ) currentRechargeBonus
        FROM base_patient bp
        JOIN base_patient_member bpm ON bp.patient_id = bpm.patient_id
        JOIN base_patient_member_occur_log bpmol ON bpmol.card_id = bpm.card_id
        <where>
            bpm.type = #{form.type}
            <if test="form.orgId != null and form.orgId != ''">
                and bpm.org_id = #{form.orgId}
            </if>

            <if test="form.cardNumber != null and form.cardNumber != ''">
                and bpm.card_number = #{form.cardNumber}
            </if>

            <if test="form.memberLevelIds != null and form.memberLevelIds.size() > 0 ">
                and bpm.member_level_id in
                <foreach collection="form.memberLevelIds" item="levelIds" index="index" open="(" close=")"
                         separator=",">
                    #{levelIds}
                </foreach>
            </if>

        </where>
        ORDER BY currentRechargeBonus DESC
        ) t1
        <where>
            <if test="patientIds != null and patientIds.size() > 0 ">
                and t1.patientId in
                <foreach collection="patientIds" item="ids" index="index" open="(" close=")" separator=",">
                    #{ids}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 根据条件查询患者储值卡（会员卡、预付款卡）充值记录详情 -->
    <select id="selectPatientCardRechargeDetailList"
            resultType="com.yunya.feign.report.domain.vo.StatementPatientCardRechargeDetailVO">
        SELECT
        bpmor.rechargeRecordId,
        bpmor.rechargeDate,
        bpmor.patientId,
        bpmor.patientName,
        bpmor.patientMobile,
        bpmor.patientCardId,
        bpmor.patientCardNumber,
        bpmor.cardTypeName,
        bpmor.rechargePrincipleAmount,
        bpmor.rechargeBonusAmount,
        IFNULL( bpmor.totalAmount, 0 ) AS restTotalAmount,
        bpmor.rechargeOperatorId,
        bpmor.rechargeOperatorName
        FROM
        (
        SELECT
        bpmor.occur_log_id AS rechargeRecordId,
        DATE_FORMAT( bpmor.occur_date, '%Y-%m-%d' ) rechargeDate,
        bpmor.patient_id AS patientId,
        bp.`name` AS patientName,
        bp.mobile AS patientMobile,
        bp.pinyin_name AS pinyinName,
        bpmor.card_id AS patientCardId,
        bpm.card_number AS patientCardNumber,
        IFNULL(bpm.member_level_name, '预付款') AS cardTypeName,
        IFNULL(bpmor.principal_amount, 0) AS rechargePrincipleAmount,
        IFNULL(bpmor.bonus_amount, 0) AS rechargeBonusAmount,
        ( bpm.bonus_amount + bpm.principal_amount ) AS totalAmount,
        bpmor.operator_user_id AS rechargeOperatorId,
        be.employee_name AS rechargeOperatorName
        FROM
        base_patient_member_occur_log bpmor
        LEFT JOIN base_patient bp ON bpmor.patient_id = bp.patient_id
        LEFT JOIN base_patient_member bpm ON bpmor.card_id = bpm.card_id
        AND bpmor.type = bpm.type
        LEFT JOIN base_employee be ON bpmor.operator_user_id = be.user_id
        <where>
            AND bpmor.occur_type = 1 -- 表示充值
            <if test="query.orgId != null">
                AND bpmor.org_id = #{query.orgId}
            </if>
            <if test="query.cardType != null">-- 0:会员卡；1：预付款卡
                AND bpmor.type = #{query.cardType}
            </if>
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT(bpmor.occur_date, '%Y-%m-%d') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT(bpmor.occur_date, '%Y-%m-%d') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT(bpmor.occur_date, '%Y-%m') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT(bpmor.occur_date, '%Y-%m') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT(bpmor.occur_date, '%Y') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT(bpmor.occur_date, '%Y') &lt;= #{query.endDate}
                </if>
            </if>
        </where>
        ORDER BY
        bpmor.occur_date DESC
        ) bpmor
        <where>
            <if test="query.patientKeyword != null and query.patientKeyword != ''">
                AND concat(IFNULL(bpmor.patientName, ''), IFNULL(bpmor.pinyinName, ''), IFNULL(bpmor.patientMobile, ''))
                like
                concat('%', #{query.patientKeyword}, '%')
            </if>
            <if test="query.cardNum != null and query.cardNum != ''">
                AND bpmor.patientCardNumber like concat('%', #{query.cardNum}, '%')
            </if>
            <if test="query.rechargeStartDate != null and query.rechargeStartDate != ''">
                AND bpmor.rechargeDate &gt;= #{query.rechargeStartDate}
            </if>
            <if test="query.rechargeEndDate != null and query.rechargeEndDate != ''">
                AND bpmor.rechargeDate &lt;= #{query.rechargeEndDate}
            </if>
        </where>
    </select>

    <!-- 根据充值记录ID、卡类型查询 -->
    <select id="selectStatementPaymentByOperateRecordId"
            resultType="com.yunya.feign.report.domain.vo.StatementPaymentVO">
        select
            bpmor.payment_id as accountItemId,
            bpmor.payment_manner as accountItemName,
            bpmor.credit_amount as totalAmount
        from
            base_patient_member_occur_log bpmor
        where
            bpmor.recharge_method = 0 -- 表示普通充值
            and bpmor.occur_type = #{occurType}
            and bpmor.occur_log_id = #{rechargeRecordId}
            and bpmor.type = #{cardType}
    </select>

    <!-- 根据条件查询患者储值卡（会员卡、预付款卡）退费记录详情 -->
    <select id="selectPatientCardRefundDetailList"
            resultType="com.yunya.feign.report.domain.vo.StatementPatientCardRefundDetailVO">
        SELECT
        bpmor.refundRecordId,
        bpmor.refundDate,
        bpmor.patientId,
        bpmor.patientName,
        bpmor.patientMobile,
        bpmor.patientCardId,
        bpmor.patientCardNumber,
        bpmor.cardTypeName,
        bpmor.refundPrincipleAmount,
        bpmor.refundBonusAmount,
        IFNULL( bpmor.totalAmount, 0 ) AS restTotalAmount,
        bpmor.refundOperatorId,
        bpmor.refundOperatorName
        FROM
        (
        SELECT
        bpmor.occur_log_id AS refundRecordId,
        DATE_FORMAT( bpmor.occur_date, '%Y-%m-%d' ) refundDate,
        bpmor.patient_id AS patientId,
        bp.`name` AS patientName,
        bp.mobile AS patientMobile,
        bp.pinyin_name AS pinyinName,
        bpmor.card_id AS patientCardId,
        bpm.card_number AS patientCardNumber,
        IFNULL(bpm.member_level_name, '预付款') AS cardTypeName,
        IFNULL(bpmor.principal_amount, 0) AS refundPrincipleAmount,
        IFNULL(bpmor.bonus_amount, 0) AS refundBonusAmount,
        ( bpm.bonus_amount + bpm.principal_amount ) AS totalAmount,
        bpmor.operator_user_id AS refundOperatorId,
        be.employee_name AS refundOperatorName
        FROM
        base_patient_member_occur_log bpmor
        LEFT JOIN base_patient bp ON bpmor.patient_id = bp.patient_id
        LEFT JOIN base_patient_member bpm ON bpmor.card_id = bpm.card_id
        AND bpmor.type = bpm.type
        LEFT JOIN base_employee be ON bpmor.operator_user_id = be.user_id
        <where>
            AND bpmor.occur_type = 3 -- 表示退费
            <if test="query.orgId != null">
                AND bpmor.org_id = #{query.orgId}
            </if>
            <if test="query.cardType != null">-- 0:会员卡；1：预付款卡
                AND bpmor.type = #{query.cardType}
            </if>
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT(bpmor.occur_date, '%Y-%m-%d') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT(bpmor.occur_date, '%Y-%m-%d') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT(bpmor.occur_date, '%Y-%m') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT(bpmor.occur_date, '%Y-%m') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT(bpmor.occur_date, '%Y') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT(bpmor.occur_date, '%Y') &lt;= #{query.endDate}
                </if>
            </if>
        </where>
        ORDER BY
        bpmor.occur_date DESC
        ) bpmor
        <where>
            <if test="query.patientKeyword != null and query.patientKeyword != ''">
                AND concat(IFNULL(bpmor.patientName, ''), IFNULL(bpmor.pinyinName, ''), IFNULL(bpmor.patientMobile, ''))
                like
                concat('%', #{query.patientKeyword}, '%')
            </if>
            <if test="query.cardNum != null and query.cardNum != ''">
                AND bpmor.patientCardNumber like concat('%', #{query.cardNum}, '%')
            </if>
            <if test="query.refundStartDate != null and query.refundStartDate != ''">
                AND bpmor.refundDate &gt;= #{query.refundStartDate}
            </if>
            <if test="query.refundEndDate != null and query.refundEndDate != ''">
                AND bpmor.refundDate &lt;= #{query.refundEndDate}
            </if>
        </where>
    </select>

</mapper>