<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BasePatientMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BasePatient">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="medical_number" property="medicalNumber" jdbcType="VARCHAR"/>
        <result column="face_url" property="medicalNumber" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="DATE"/>
        <result column="origin_type" property="originType" jdbcType="INTEGER"/>
        <result column="origin_id" property="originId" jdbcType="INTEGER"/>
        <result column="gender" property="gender" jdbcType="TINYINT"/>
        <result column="first_visit_date" property="firstVisitDate" jdbcType="TIMESTAMP"/>
        <result column="first_visit_outpatient" property="firstVisitOutpatient" jdbcType="VARCHAR"/>
        <result column="first_visit_doctors" property="firstVisitDoctors" jdbcType="VARCHAR"/>
        <result column="last_visit_date" property="lastVisitDate" jdbcType="TIMESTAMP"/>
        <result column="last_visit_outpatient" property="lastVisitOutpatient" jdbcType="VARCHAR"/>
        <result column="last_visit_doctors" property="lastVisitDoctors" jdbcType="VARCHAR"/>
        <result column="cumulative_consumption" property="cumulativeConsumption" jdbcType="INTEGER"/>
        <result column="total_arrears" property="totalArrears" jdbcType="INTEGER"/>
        <result column="number_of_visits" property="numberOfVisits" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 根据姓名/手机号/拼音姓名 -->
    <select id="selectKilePatientId" resultType="java.lang.Integer">
      select patient_id
      from base_patient
      where concat(IFNULL(name,''),IFNULL(pinyin_name,''),IFNULL(mobile,''))
      like concat(concat('%',#{combination}),'%')
    </select>
    <!-- 查询来源类型总数量 -->
    <select id="selectCountOriginType" resultType="java.lang.Integer">
        select count(bp.patient_id)
        from base_patient bp inner join (
        select distinct btp.patient_id
        from base_treatment_process btp
        <where>
            and btp.treat_status > 1
            <if test="form.orgId != null and form.orgId != ''">
                AND btp.org_id = #{form.orgId}
            </if>
            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
                AND cast(btp.treat_start_time as date) between #{form.startDate} and #{form.endDate}
            </if>

            <if test="form.monthDay != null and form.monthDay != ''">
                AND DATE_FORMAT(btp.treat_start_time,'%Y-%m') = #{form.monthDay}
                and DATE_FORMAT(btp.treat_end_time, '%Y-%m') = #{form.monthDay}
            </if>

            <if test="form.year != null and form.year != ''">
                AND year(btp.treat_start_time) =#{form.year}
                AND year(btp.treat_end_time) =#{form.year}
            </if>
        </where>
        ) bp1 on bp1.patient_id = bp.patient_id
        <where>
            bp.origin_type_name is not null
            and bp.origin_type is not null
        </where>

    </select>
    <!-- 查询来患者源类型占比 -->
    <select id="analysis" resultType="com.yunya.feign.report.domain.vo.AnalysisPatientOriginVo">
        select
        bp.origin_type originType,
        bp.origin_type_name originTypeName,
        count(bp.origin_type) countType,
        concat( format(count(bp.origin_type) / ${countOriginType} * 100, 2 ),'%') percentage
        from base_patient bp inner join (
        select distinct btp.patient_id
        from base_treatment_process btp
        <where>
            and btp.treat_status > 1
            <if test="form.orgId != null and form.orgId != ''">
                AND btp.org_id = #{form.orgId}
            </if>
            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
                AND cast(btp.treat_start_time as date) between #{form.startDate} and #{form.endDate}
            </if>

            <if test="form.monthDay != null and form.monthDay != ''">
                AND DATE_FORMAT(btp.treat_start_time,'%Y-%m') = #{form.monthDay}
                and DATE_FORMAT(btp.treat_end_time, '%Y-%m') = #{form.monthDay}
            </if>

            <if test="form.year != null and form.year != ''">
                AND year(btp.treat_start_time) =#{form.year}
                AND year(btp.treat_end_time) =#{form.year}
            </if>
        </where>
        ) bp1 on bp1.patient_id = bp.patient_id
        <where>
            bp.origin_type_name is not null
            and bp.origin_type is not null
        </where>
        group by bp.origin_type
    </select>

    <!-- 查询性别总数量 -->
    <select id="selectCountGender" resultType="java.lang.Integer">
        select count(bp.gender)
        from base_patient bp inner join (
        select distinct btp.patient_id
        from base_treatment_process btp
        <where>
            and btp.treat_status > 1
            <if test="form.orgId != null and form.orgId != ''">
                AND btp.org_id = #{form.orgId}
            </if>
            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
                AND cast(btp.treat_start_time as date) between #{form.startDate} and #{form.endDate}
            </if>

            <if test="form.monthDay != null and form.monthDay != ''">
                AND DATE_FORMAT(btp.treat_start_time,'%Y-%m') = #{form.monthDay}
                and DATE_FORMAT(btp.treat_end_time, '%Y-%m') = #{form.monthDay}
            </if>

            <if test="form.year != null and form.year != ''">
                AND year(btp.treat_start_time) =#{form.year}
                AND year(btp.treat_end_time) =#{form.year}
            </if>
        </where>
        ) bp1 on bp1.patient_id = bp.patient_id
        <where>
            bp.gender is not null
        </where>
    </select>

    <!-- 查询男女类型占比 -->
    <select id="selectAnalysisPatientGender" resultType="com.yunya.feign.report.domain.vo.AnalysisPatientGenderVo">
        select
        case when bp.gender = 0 then '男'
        when bp.gender = 1 then '女'
        else '未知'
        end gender,
        count(bp.gender) countGender,
        concat( format(count(bp.gender) / ${countGender} * 100, 2 ),'%') percentage
        from base_patient bp inner join (
        select distinct btp.patient_id
        from base_treatment_process btp
        <where>
            and btp.treat_status > 1
            <if test="form.orgId != null and form.orgId != ''">
                AND btp.org_id = #{form.orgId}
            </if>
            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
                AND cast(btp.treat_start_time as date) between #{form.startDate} and #{form.endDate}
            </if>

            <if test="form.monthDay != null and form.monthDay != ''">
                AND DATE_FORMAT(btp.treat_start_time,'%Y-%m') = #{form.monthDay}
                and DATE_FORMAT(btp.treat_end_time, '%Y-%m') = #{form.monthDay}
            </if>

            <if test="form.year != null and form.year != ''">
                AND year(btp.treat_start_time) =#{form.year}
                AND year(btp.treat_end_time) =#{form.year}
            </if>
        </where>
        ) bp1 on bp1.patient_id = bp.patient_id
        <where>
            bp.gender is not null
        </where>
        group by bp.gender
    </select>

    <!-- 查询时间段内 患者个数 -->
    <select id="selectCountAnalysisAge" resultType="java.lang.Integer">
        select count(1) from base_patient bp inner join (
        select distinct btp.patient_id
        from base_treatment_process btp
        <where>
            and btp.treat_status > 1
            <if test="form.orgId != null and form.orgId != ''">
                AND btp.org_id = #{form.orgId}
            </if>
            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
                AND cast(btp.treat_start_time as date) between #{form.startDate} and #{form.endDate}
            </if>

            <if test="form.monthDay != null and form.monthDay != ''">
                AND DATE_FORMAT(btp.treat_start_time,'%Y-%m') = #{form.monthDay}
                and DATE_FORMAT(btp.treat_end_time, '%Y-%m') = #{form.monthDay}
            </if>

            <if test="form.year != null and form.year != ''">
                AND year(btp.treat_start_time) =#{form.year}
                AND year(btp.treat_end_time) =#{form.year}
            </if>
        </where>
        ) bp1 on bp1.patient_id = bp.patient_id
    </select>

    <!-- 根据条件查询 年龄段患者数量 -->
    <select id="selectAnalysisAge" resultType="java.lang.Integer">
        select count(1) from base_patient bp inner join (
        select distinct btp.patient_id
        from base_treatment_process btp
        <where>
            and btp.treat_status > 1
            <if test="form.orgId != null and form.orgId != ''">
                AND btp.org_id = #{form.orgId}
            </if>
            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
                AND cast(btp.treat_start_time as date) between #{form.startDate} and #{form.endDate}
            </if>

            <if test="form.monthDay != null and form.monthDay != ''">
                AND DATE_FORMAT(btp.treat_start_time,'%Y-%m') = #{form.monthDay}
                and DATE_FORMAT(btp.treat_end_time, '%Y-%m') = #{form.monthDay}
            </if>

            <if test="form.year != null and form.year != ''">
                AND year(btp.treat_start_time) =#{form.year}
                AND year(btp.treat_end_time) =#{form.year}
            </if>
        </where>
        ) bp1 on bp1.patient_id = bp.patient_id
        <where>
            bp.birthday is not null
            <if test="ageOne != null and ageOne != '' and ageOne > 0">
                AND TIMESTAMPDIFF(YEAR, DATE_FORMAT(bp.birthday,'%Y-%m-%d'), CURDATE()) &lt;= #{ageOne}
            </if>

            <if test="ageTwo != null and ageTwo != '' and ageTwo > 0">
                AND TIMESTAMPDIFF(YEAR, DATE_FORMAT(bp.birthday,'%Y-%m-%d'), CURDATE()) &gt; #{ageTwo}
            </if>

            <if test="ageThree != null and ageThree != '' and ageThree > 0">
                AND TIMESTAMPDIFF(YEAR, DATE_FORMAT(bp.birthday,'%Y-%m-%d'), CURDATE()) &lt;= #{ageThree}
            </if>
        </where>
    </select>

    <!-- 计算百分比 -->
    <select id="calculateAgePercentage" resultType="java.lang.String">
        select concat( format( ${countAge} / ${count} * 100, 2 ),'%') percentage
    </select>

    <!-- 根据患者id查询患者预约信息 -->
    <select id="findPatientDataVo" resultType="com.yunya.feign.report.domain.vo.PatientDataVo">
        SELECT
        patient_id patientId,
        first_visit_date firstVisitDate,
        first_visit_doctors firstVisitDoctors,
        first_visit_outpatient firstVisitOutpatient,
        cumulative_consumption cumulativeConsumption,
        last_visit_date lastVisitDate,
        last_visit_doctors lastVisitDoctors,
        last_visit_outpatient lastVisitOutpatient,
        total_arrears totalArrears,
		number_of_visits numberOfVisits
        FROM
            base_patient
        WHERE
            patient_id = #{patientId}
    </select>

    <!-- 根据关键字查询患者信息 -->
    <select id="selectPatientInfoByExample" resultType="com.yunya.feign.report.domain.vo.PatientInfoVO">
        SELECT
            bp.id,
            bp.`name`,
            bp.gender,
            bp.mobile,
            bp.medicalNumber,
            bp.age,
            bp.faceUrl,
            btp.dentistId,
            btp.lastVisit,
            btp.lastVisitTime
        FROM
            (
            SELECT
                bp.patient_id AS id,
                bp.`name`,
                bp.face_url AS faceUrl,
                bp.mobile,
                bp.medical_number AS medicalNumber,
                bp.gender,
                TIMESTAMPDIFF(
                    YEAR,
                    bp.birthday,
                CURDATE()) AS age
            FROM
                base_patient bp
            WHERE
                concat(
                    IFNULL( bp.`name`, '' ),
                    IFNULL( bp.medical_number, '' ),
                    IFNULL( bp.pinyin_name, '' ),
                IFNULL( bp.mobile, '' )) LIKE concat( concat( '%', #{query.patientKeyWord} ), '%' )
                LIMIT 0, 10
            ) bp
            LEFT JOIN (
            SELECT
                btp1.patient_id,
                btp1.registered_dentist_id AS dentistId,
                btp1.employee_name AS lastVisit,
                btp1.treat_start_time AS lastVisitTime
            FROM
                ( SELECT max( btp.treatment_id ) AS treatmentId FROM base_treatment_process btp WHERE btp.treat_end_time IS NOT NULL GROUP BY btp.patient_id ) btp
                LEFT JOIN (
                SELECT
                    btp.treatment_id,
                    btp.patient_id,
                    btp.registered_dentist_id,
                    btp.treat_start_time,
                    be.employee_name
                FROM
                    base_treatment_process btp
                    LEFT JOIN base_employee be ON btp.registered_dentist_id = be.user_id
                WHERE
                    btp.treat_end_time IS NOT NULL
                GROUP BY
                    btp.treatment_id
                ) btp1 ON btp.treatmentId = btp1.treatment_id
            ) btp ON bp.id = btp.patient_id
    </select>

    <!-- 末诊后无预约、随访的患者列表 -->
    <select id="selectNotSeenList" resultType="com.yunya.feign.report.domain.vo.BasePatientNotSeenVo">
        select
        bp.patient_id,
        bp.name,
        bp.mobile,
        btp.treatmentId,
        btp.lastVisitDate,
        btp.dentistId,
        btp.employeeName,
        btp.treatType
        from (
        select
        btp.patientId,
        btp.treatmentId,
        date_format(btp2.treat_end_time, '%Y-%m-%d') as lastVisitDate,
        btp2.registered_dentist_id as dentistId,
        be.employee_name as employeeName,
        btp2.treat_type as treatType
        from (
        select btp.patient_id as patientId,
        max(btp.treatment_id) AS treatmentId
        from base_treatment_process btp
        <where>
            <if test="form.orgId != null">
                and btp.org_id = #{form.orgId}
            </if>
            and btp.treat_end_time is not null
        </where>
        group by btp.patient_id
        ) btp
        inner join base_treatment_process btp2 on btp.treatmentId = btp2.treatment_id
        left join base_employee be on btp2.registered_dentist_id = be.user_id
        <where>
            <if test="form.startDate != null and form.startDate != ''">
                and date_format(btp2.treat_end_time, '%Y-%m-%d') &gt;= #{form.startDate}
            </if>
            <if test="form.endDate != null and form.endDate != ''">
                and date_format(btp2.treat_end_time, '%Y-%m-%d') &lt;= #{form.endDate}
            </if>
            <if test="form.attendingDoctors != null and form.attendingDoctors.size > 0">
                and btp2.registered_dentist_id in
                <foreach collection="form.attendingDoctors" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="form.treatTypes != null and form.treatTypes.size > 0">
                and btp2.treat_type in
                <foreach collection="form.treatTypes" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        ) btp
        left join (
        select
        bp.patient_id,
        bp.name,
        bp.mobile,
        ifnull(btp1.appointCount, 0) as appointCount,
        ifnull(bvr.visitCount, 0) as visitCount
        from base_patient bp
        LEFT JOIN (
        SELECT patient_id,
        count(btp.patient_id) AS appointCount
        FROM base_treatment_process btp
        WHERE
        DATE_FORMAT(btp.appoint_start_time, '%Y-%m-%d') > current_date
        GROUP BY patient_id
        ) btp1 ON bp.patient_id = btp1.patient_id
        LEFT JOIN (
        SELECT patient_id,
        count(bvr.patient_id) AS visitCount
        FROM base_visit_remind bvr
        WHERE bvr.type = 1
        AND DATE_FORMAT(bvr.time, '%Y-%m-%d') > current_date
        GROUP BY patient_id
        ) bvr ON bp.patient_id = bvr.patient_id
        <where>
            <if test="form.combination != null and form.combination != ''">
                and concat(IFNULL(bp.`name`,''),IFNULL(bp.pinyin_name,''),IFNULL(bp.mobile,'')) like
                concat(concat('%',#{form.combination}),'%')
            </if>
        </where>
        ) bp on btp.patientId = bp.patient_id
        where bp.appointCount = 0
        and bp.visitCount = 0
    </select>


    <select id="firstVisitPatientList" resultType="com.yunya.feign.report.domain.vo.BaseTreatmentProcessVO">
        SELECT
        DISTINCT btp.patient_id AS patientId
        FROM base_treatment_process btp
        <where>
            btp.treat_status IN (3, 4)
            AND btp.treat_type = 0
            <if test="query.dateType == 0">
                <if test="query.startDate!=null and query.startDate!='' and query.endDate!=null and query.endDate!=''">
                    AND DATE_FORMAT(btp.treat_start_time,'%Y-%m-%d') between DATE_FORMAT(#{query.startDate},'%Y-%m-%d')
                    and DATE_FORMAT(#{query.endDate},'%Y-%m-%d')
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate!=null and query.startDate!='' and query.endDate!=null and query.endDate!=''">
                    AND DATE_FORMAT(btp.treat_start_time,'%Y-%m') between #{query.startDate}
                    and #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate!=null and query.startDate!='' and query.endDate!=null and query.endDate!=''">
                    AND DATE_FORMAT(btp.treat_start_time,'%Y') between #{query.startDate}
                    and #{query.endDate}
                </if>
            </if>
        </where>
    </select>

    <select id="clinicFirstVisitSourceList" resultType="com.yunya.feign.report.domain.vo.PatientFirstVisitSourceVO">
        SELECT
        bp.origin_type AS originType,
        bp.org_id AS orgId,
        count(bp.patient_id) firstVisitCount
        FROM base_patient bp
        <where>
            <if test="query.originTypes!=null and query.originTypes.size()>0">
                AND bp.origin_type in
                <foreach collection="query.originTypes" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="patientIds!=null and patientIds.size()>0">
                AND bp.patient_id in
                <foreach collection="patientIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY bp.origin_type, bp.org_id
    </select>

    <!-- 查询未填写出生日期并有过就诊的患者数量 -->
    <select id="selectNotAgeCount" resultType="java.lang.Integer">
        select count(1) from base_patient bp inner join (
        select distinct btp.patient_id
        from base_treatment_process btp
        <where>
            and btp.treat_status > 1
            <if test="form.orgId != null and form.orgId != ''">
                AND btp.org_id = #{form.orgId}
            </if>
            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
                AND cast(btp.treat_start_time as date) between #{form.startDate} and #{form.endDate}
            </if>

            <if test="form.monthDay != null and form.monthDay != ''">
                AND DATE_FORMAT(btp.treat_start_time,'%Y-%m') = #{form.monthDay}
                and DATE_FORMAT(btp.treat_end_time, '%Y-%m') = #{form.monthDay}
            </if>

            <if test="form.year != null and form.year != ''">
                AND year(btp.treat_start_time) =#{form.year}
                AND year(btp.treat_end_time) =#{form.year}
            </if>
        </where>
        ) bp1 on bp1.patient_id = bp.patient_id
        where bp.birthday is null
    </select>

    <select id="findPatientInfoInId" resultType="com.yunya.models.report.BasePatient">
        SELECT
            bp.patient_id AS patientId,
            name
        FROM
            base_patient bp
        <where>
            <if test="patientIds!=null and patientIds.size()>0">
                AND bp.patient_id in
                <foreach collection="patientIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="listPatientByKeys" resultType="com.yunya.feign.report.domain.vo.PatientManageVo">
        select
            bp.patient_id,
            bp.`name`                                   as patientName,
            bp.medical_number                           as medicalNumber,
            timestampdiff(year, bp.birthday, curdate()) as age,
            case
                when bp.gender = 0 then '男'
                when bp.gender = 1 then '女'
                else '未知'
                end                                     as gender,
            bp.mobile,
            bp.vip_logo                                 as patientType,
            pm.cumulative_consumption                   as totalConsumeAmount,
            pm.total_arrears                            as totalOweAmount,
            pm.member_level_name                        as memberTypeName,
            pm.member_balance                           as memberBalance,
            pm.principal_balance                        as principalBalance,
            bp.origin_id,
            bp.origin_type_name                         as patientOrionTypeName,
            bpo.name                                    as patientOrionName,
            date_format(bp.first_visit_date, '%Y/%m/%d')as firstVisitDate,
            bo.abbreviation                             as firstVisitOutpatient,
            be.employee_name                            as firstVisitDoctors,
            date_format(bp.last_visit_date, '%Y/%m/%d') as lastVisitDate,
            be1.employee_name                           as lastVisitDoctors,
            pm.number_of_visits                         as treatQuantity
        from base_patient bp
            left join base_employee be on be.user_id = bp.first_visit_doctors
            left join base_employee be1 on be1.user_id = bp.last_visit_doctors
            left join base_patient_origin bpo on bpo.id = bp.origin_id
            left join base_organization bo on bo.org_id = bp.first_visit_outpatient
            left join patient_manage pm on bp.patient_id = pm.patient_id
        <where>
            <if test="query.patientKeyWord != null and query.patientKeyWord != ''">
                (bp.name like concat('%', #{query.patientKeyWord}, '%')
                or bp.mobile like concat('%', #{query.patientKeyWord}, '%')
                or bp.medical_number like concat('%', #{query.patientKeyWord}, '%')
                or bp.pinyin_name like concat('%', #{query.patientKeyWord}, '%'))
            </if>
            <if test="startAge != null and endAge != null">
                and date_format(bp.birthday, '%Y') &gt;= #{startAge} and date_format(bp.birthday, '%Y') &lt;= #{endAge}
            </if>
            <if test="query.patientType != null">
                and bp.vip_logo = #{query.patientType}
            </if>
            <if test="query.memberType != null">
                and pm.member_level_id = #{query.memberType}
            </if>
            <if test="query.gender != null">
                and bp.gender = #{query.gender}
            </if>
            <if test="query.firstOrgId != null">
                and bp.first_visit_outpatient = #{query.firstOrgId}
            </if>
            <if test="query.firstDentistName != null and query.firstDentistName !=''">
                and be.employee_name like concat('%', #{query.firstDentistName}, '%')
            </if>
            <if test="query.lastDentistName != null and query.lastDentistName !=''">
                and be1.employee_name like concat('%', #{query.lastDentistName}, '%')
            </if>
            <if test="query.startOweAmount != null and query.endOweAmount != null">
                and pm.total_arrears &gt;= #{query.startOweAmount} and pm.total_arrears &lt;= #{query.endOweAmount}
            </if>
            <if test="query.startPrincipalBalance != null and query.endPrincipalBalance != null">
                and pm.principal_balance &gt;= #{query.startPrincipalBalance} and pm.principal_balance &lt;= #{query.endPrincipalBalance}
            </if>
            <if test="query.startMemberBalance != null and query.endMemberBalance != null">
                and pm.member_balance &gt;= #{query.startMemberBalance} and pm.member_balance &lt;= #{query.endMemberBalance}
            </if>
            <if test="query.startConsumeAmount != null and query.endConsumeAmount != null">
                and pm.cumulative_consumption &gt;= #{query.startConsumeAmount} and pm.cumulative_consumption &lt;= #{query.endConsumeAmount}
            </if>
            <if test="query.startTreatQuantity != null and query.endTreatQuantity != null">
                and pm.number_of_visits &gt;= #{query.startTreatQuantity} and pm.number_of_visits &lt;= #{query.endTreatQuantity}
            </if>
        </where>
    </select>

    <select id="updateFirstVisitInfo">
        update base_patient p
        inner join (
        select t.patient_id, min(t.treatment_id) as 'treatment_id'
        from base_treatment_process t
        group by t.patient_id
        ) t1 on p.patient_id = t1.patient_id
        inner join base_treatment_process t2 on t1.treatment_id = t2.treatment_id
        set p.first_visit_date = t2.treat_start_time
        , p.first_visit_doctors = t2.registered_dentist_id
        , p.first_visit_outpatient = t2.org_id
        where p.first_visit_outpatient is null
    </select>

    <select id="updateLastVisitInfo">
        update base_patient p
        inner join (
        select t.patient_id, max(t.treatment_id) as 'treatment_id'
        from base_treatment_process t
        group by t.patient_id
        ) t1 on p.patient_id = t1.patient_id
        inner join base_treatment_process t2 on t1.treatment_id = t2.treatment_id
        set p.last_visit_date = t2.treat_start_time
        , p.last_visit_doctors = t2.registered_dentist_id
        , p.last_visit_outpatient = t2.org_id
        where p.first_visit_outpatient is not null
    </select>

    <select id="updateNumberOfVisit">
        update base_patient p
        inner join (
        select t.patient_id, count(0) as 'qty'
        from base_treatment_process t
        where t.treatment_id is not null
        group by t.patient_id
        ) t on p.patient_id = t.patient_id
        set p.number_of_visits = t.qty
    </select>

    <select id="updateTotalAmount">
        update base_patient p
        inner join (
        select b.patient_id, sum(b.actual_amount) as 'total_amount', sum(b.debt_amount) as 'unpaid_amount'
        from base_bill b
        group by b.patient_id
        ) b on p.patient_id = b.patient_id
        set p.total_arrears = b.unpaid_amount
        , p.cumulative_consumption = b.total_amount
    </select>

    <select id="updateVipLogoOld">
        update base_patient bp
        set bp.visit_rate_old = bp.visit_rate
        , bp.vip_score_old = bp.vip_score
        , bp.vip_logo_old = bp.vip_logo
    </select>

    <select id="updateVipLogo">
        update base_patient bp
        inner join (
        select p.patient_id
        , p.qty
        , (case when p.qty >= 3 then 100 when p.qty >= 2 then 80 else 60 end) * 0.6
        + (case when p.amount >= 10000 then 100 when p.amount >= 5000 then 80 else 60 end) * 0.4 as 'score'
        , (case when p.member = '365' then '365' else '' end) as 'member'
        from (
        select p.patient_id
        , ROUND(p.number_of_visits / (datediff(now(), p.first_visit_date) / 365)) as 'qty'
        , p.cumulative_consumption as 'amount'
        , p.member
        from (
        SELECT p.patient_id
        , p.first_visit_date
        , p.number_of_visits
        , p.cumulative_consumption
        , (case when m.member_level_name is not null then '123' when c.coupon_name is not null then '365' end) as
        'member'
        FROM base_patient p
        left join (
        select m.patient_id, m.member_level_name
        from base_patient_member m
        where m.type = 0 and m.member_level_id &lt; 4
        ) m on p.patient_id = m.patient_id
        left join (
        select c.patient_id, max(g.coupon_name) as 'coupon_name'
        from base_card c
        left join base_coupon g on c.coupon_id = g.coupon_id
        where c.status > 1 and g.coupon_name like '%365%'
        group by c.patient_id
        ) c on p.patient_id = c.patient_id
        ) p
        where p.member is not null
        ) p
        ) p on p.patient_id = bp.patient_id
        set bp.visit_rate = p.qty
        , bp.vip_score = p.score
        , bp.vip_logo = concat((case when p.score >= 90 then 'A' when p.score >= 80 then 'B' else 'C' end), p.member)
    </select>

    <select id="findVipLogoList" resultType="com.yunya.feign.report.domain.vo.VipLogoVo">
        SELECT p.patient_id
        , p.name as 'patientName'
        , p.mobile
        , p.gender
        , TimeStampDiff(YEAR, p.birthday, now()) as 'age'
        , p.medical_number
        , lo.abbreviation
        , p.vip_logo
        , ifnull(p.visit_rate, 0) as 'visit_rate'
        , ifnull(p.cumulative_consumption, 0) as 'cumulative_consumption'
        , p.vip_score
        , date_format(p.last_visit_date, '%Y-%m-%d') as 'last_visit_date'
        , ifnull(t.appoint_start_time, '') as 'nextAppointTime'
        , ifnull(v.remind_time, '') as 'nextRemindTime'
        , m.member_level_name
        , c.coupon_name
        , p.vip_logo_old
        FROM base_patient p
        left join (
        select m.patient_id, m.member_level_name, m.member_level_id
        from base_patient_member m
        where m.type = 0 and m.member_level_id &lt; 4
        ) m on p.patient_id = m.patient_id
        left join (
        select c.patient_id, max(g.coupon_name) as 'coupon_name'
        from base_card c
        left join base_coupon g on c.coupon_id = g.coupon_id
        where c.status > 1 and (g.coupon_name like '%365%' or g.product_type_name in ('青藤', '银藤', '金藤'))
        group by c.patient_id
        ) c on p.patient_id = c.patient_id
        left join base_organization lo on p.last_visit_outpatient = lo.org_id
        left join (
        select t.patient_id, date_format(min(t.appoint_start_time), '%Y-%m-%d') as 'appoint_start_time'
        from base_treatment_process t
        where t.appointment_id is not null
        and t.treatment_id is null
        and t.appoint_start_time >= date_add(date_format(now(), '%Y-%m-%d'), INTERVAL 1 DAY)
        group by t.patient_id
        ) t on p.patient_id = t.patient_id
        left join (
        select v.patient_id, date_format(min(v.time), '%Y-%m-%d') as 'remind_time'
        from base_visit_remind v
        where v.type = 1
        and v.time >= date_add(date_format(now(), '%Y-%m-%d'), INTERVAL 1 DAY)
        group by v.patient_id
        ) v on p.patient_id = v.patient_id
        <where>
            p.vip_logo is not null
            <if test="form.combination != null and form.combination != ''">
                and concat(ifnull(p.name, ''), ifnull(p.pinyin_name, ''), ifnull(p.mobile, '')) like
                concat('%', #{form.combination}, '%')
            </if>
            <if test="form.orgIds != null and form.orgIds.length > 0">
                and p.last_visit_outpatient in
                <foreach collection="form.orgIds" item="item" index="index" open="(" close=")"
                         separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="form.vipLogos != null and form.vipLogos.length > 0">
                and p.vip_logo in
                <foreach collection="form.vipLogos" item="item" index="index" open="(" close=")"
                         separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="form.vipLogoOlds != null and form.vipLogoOlds.length > 0">
                and p.vip_logo_old in
                <foreach collection="form.vipLogoOlds" item="item" index="index" open="(" close=")"
                         separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="form.memberLevelIds != null and form.memberLevelIds.length > 0">
                and m.member_level_id in
                <foreach collection="form.memberLevelIds" item="item" index="index" open="(" close=")"
                         separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getVipRate" resultType="com.yunya.feign.report.domain.vo.VipRateVo">
        select p.vip_logo, count(*) as 'vip_qty'
        from base_patient p
        where p.vip_logo is not null and p.vip_logo != ''
        group by p.vip_logo
    </select>
</mapper>