<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BaseRefundDetailMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseRefundDetail" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="refund_detail_id" property="refundDetailId" jdbcType="INTEGER" />
    <result column="refund_id" property="refundId" jdbcType="INTEGER" />
    <result column="bill_detail_id" property="billDetailId" jdbcType="INTEGER" />
    <result column="refund_amount" property="refundAmount" jdbcType="DECIMAL" />
  </resultMap>
</mapper>