<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BasePatientMemberOccurLogMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.report.BasePatientMemberOccurLog" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="occur_log_id" property="occurLogId" jdbcType="INTEGER" />
    <result column="card_id" property="cardId" jdbcType="INTEGER" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="occur_type" property="occurType" jdbcType="TINYINT" />
    <result column="principal_amount" property="principalAmount" jdbcType="DECIMAL" />
    <result column="bonus_amount" property="bonusAmount" jdbcType="DECIMAL" />
    <result column="current_recharge_principal" property="currentRechargePrincipal" jdbcType="DECIMAL" />
    <result column="current_recharge_bonus" property="currentRechargeBonus" jdbcType="DECIMAL" />
    <result column="payment_id" property="paymentId" jdbcType="INTEGER" />
    <result column="payment_manner" property="paymentManner" jdbcType="VARCHAR" />
    <result column="operator_user_id" property="operatorUserId" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="bill_id" property="billId" jdbcType="INTEGER" />
    <result column="recharge_card_number" property="rechargeCardNumber" jdbcType="VARCHAR" />
    <result column="occur_date" property="occurDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <!-- 根据姓名/手机号/拼音姓名 -->
    <select id="selectKilePatientId" resultType="java.lang.Integer">
      select patient_id
      from base_patient
      where concat(IFNULL(name,''),IFNULL(pinyin_name,''),IFNULL(mobile,''))
      like concat(concat('%',#{combination}),'%')
    </select>

  <!-- 查询会员卡充值记录列表 -->
  <select id="selectMemberRechargeList" resultType="com.yunya.feign.report.domain.vo.BaseMemberRechargeLogVo">
    SELECT
        bpmol.occur_log_id occurLogId,
        bpmol.occur_date occurDate,
        bpt.NAME,
        bpt.mobile,
        bpm.member_level_id memberLevelId,
        bpm.member_level_name memberLevelName,
        bpm.card_number cardNumber,
        bpmol.principal_amount principalAmount,
        bpmol.bonus_amount bonusAmount,
        bpmol.current_recharge_principal currentRechargePrincipal,
        bpmol.current_recharge_bonus currentRechargeBonus,
        bpmol.payment_id paymentId,
        bpmol.payment_manner paymentManner,
        bpmol.operator_user_id,
        (select be.employee_name from base_employee be where be.user_id = bpmol.operator_user_id) operatorUserName,
        bpmol.remarks
    FROM
        base_patient_member_occur_log bpmol
        JOIN base_patient bpt ON bpmol.patient_id = bpt.patient_Id
        JOIN base_patient_member bpm ON bpm.patient_id = bpt.patient_Id
    <where>
      bpmol.type = 0
      AND bpmol.occur_type = 1
      <if test="form.orgId != null">
          AND bpmol.org_id = #{form.orgId}
      </if>

      <if test="form.cardNumber != null and form.cardNumber != ''">
          AND bpm.card_number = #{form.cardNumber}
      </if>

      <if test="patientIds != null and patientIds.size() > 0 ">
          AND bpmol.patient_id in
          <foreach collection="patientIds" item="ids" index="index" open="(" close=")" separator=",">
              #{ids}
          </foreach>
      </if>

      <if test="form.memberLevelIds != null ">
          AND bpm.member_level_id in
          <foreach collection="form.memberLevelIds" item="levelIds" index="index" open="(" close=")" separator=",">
              #{levelIds}
          </foreach>
      </if>

      <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
          <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') >=  DATE_FORMAT(#{form.startDate}, '%Y-%m-%d')   ]]>
          <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') <  DATE_FORMAT(#{form.endDate}, '%Y-%m-%d')   ]]>
      </if>
    </where>
      group by bpmol.occur_date desc
  </select>

  <!-- 查询会员卡消费记录列表 -->
  <select id="selectMemberExpendtList" resultType="com.yunya.feign.report.domain.vo.BaseMemberExpendLogVo">
    SELECT
        bpmol.occur_log_id occurLogId,
        bpmol.occur_date occurDate,
        bb.order_date orderDate,
        bb.order_num orderNum,
        bpt.NAME,
        bpt.mobile,
        ( SELECT NAME FROM base_patient WHERE patient_id = bpm.patient_id ) masterCardName,
        bpm.card_number cardNumber,
        bpm.member_level_id memberLevelId,
        bpm.member_level_name memberLevelName,
        bpmol.principal_amount principalAmount,
        bpmol.bonus_amount bonusAmount,
        bpmol.current_recharge_principal currentRechargePrincipal,
        bpmol.current_recharge_bonus currentRechargeBonus,
        bpmol.remarks
    FROM
        base_patient_member_occur_log bpmol
        JOIN base_patient bpt ON bpmol.patient_id = bpt.patient_Id
        JOIN base_patient_member bpm ON bpm.card_id = bpmol.card_id
        JOIN base_bill bb ON bpmol.bill_id = bb.bill_id
      <where>
          bpmol.type = 0
          AND bpmol.occur_type = 2
          <if test="form.orgId != null and form.orgId != ''">
              AND bpmol.org_id = #{form.orgId}
          </if>

          <if test="form.cardNumber != null and form.cardNumber != ''">
              AND bpm.card_number = #{form.cardNumber}
          </if>

          <if test="patientIds != null">
              AND bpmol.patient_id in
              <foreach collection="patientIds" item="ids" index="index" open="(" close=")" separator=",">
                  #{ids}
              </foreach>
          </if>

          <if test="form.memberLevelIds != null ">
              AND bpm.member_level_id in
              <foreach collection="form.memberLevelIds" item="levelIds" index="index" open="(" close=")" separator=",">
                  #{levelIds}
              </foreach>
          </if>

          <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
              <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') >=  DATE_FORMAT(#{form.startDate}, '%Y-%m-%d')   ]]>
              <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') <  DATE_FORMAT(#{form.endDate}, '%Y-%m-%d')   ]]>
          </if>
      </where>
      group by bpmol.occur_date desc
  </select>

  <!-- 查询会员卡退费记录列表 -->
  <select id="selectMemberReturnList" resultType="com.yunya.feign.report.domain.vo.BaseMemberReturnLogVo">
      SELECT
      bpmol.occur_log_id occurLogId,
      bpmol.occur_date occurDate,
      bpt.NAME,
      bpt.mobile,
      bpm.card_number cardNumber,
      bpm.member_level_id memberLevelId,
      bpm.member_level_name memberLevelName,
      bpmol.principal_amount principalAmount,
      bpmol.bonus_amount bonusAmount,
      bpmol.current_recharge_principal currentRechargePrincipal,
      bpmol.current_recharge_bonus currentRechargeBonus,
      bpmol.payment_id paymentId,
      bpmol.payment_manner paymentManner,
      bpmol.operator_user_id,
      (select be.employee_name from base_employee be where be.user_id = bpmol.operator_user_id) operatorUserName,
      bpmol.remarks
      FROM
      base_patient_member_occur_log bpmol
      JOIN base_patient bpt ON bpmol.patient_id = bpt.patient_Id
      JOIN base_patient_member bpm ON bpm.patient_id = bpt.patient_Id
      <where>
          bpmol.type = 0
          AND bpmol.occur_type = 3
          <if test="form.orgId != null and form.orgId != ''">
              AND bpmol.org_id = #{form.orgId}
          </if>

          <if test="form.cardNumber != null and form.cardNumber != ''">
              AND bpm.card_number = #{form.cardNumber}
          </if>

          <if test="patientIds != null and patientIds.size() > 0 ">
              AND bpmol.patient_id in
              <foreach collection="patientIds" item="ids" index="index" open="(" close=")" separator=",">
                  #{ids}
              </foreach>
          </if>

          <if test="form.memberLevelIds != null ">
              AND bpm.member_level_id in
              <foreach collection="memberLevelIds" item="levelIds" index="index" open="(" close=")" separator=",">
                  #{levelIds}
              </foreach>
          </if>

          <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
              <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') >=  DATE_FORMAT(#{form.startDate}, '%Y-%m-%d')   ]]>
              <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') <  DATE_FORMAT(#{form.endDate}, '%Y-%m-%d')   ]]>
          </if>
      </where>
      group by bpmol.occur_date desc
  </select>

    <!-- 查询预付款充值记录列表 -->
    <select id="selectPrepaidRechargeList" resultType="com.yunya.feign.report.domain.vo.BasePrepaidRechargeLogVo">
        SELECT
            bpmol.occur_log_id occurLogId,
            bpmol.occur_date occurDate,
            bpt.NAME,
            bpt.mobile,
            bpm.card_number cardNumber,
            bpmol.principal_amount principalAmount,
            bpmol.bonus_amount bonusAmount,
            bpmol.current_recharge_principal currentRechargePrincipal,
            bpmol.current_recharge_bonus currentRechargeBonus,
            bpmol.payment_id paymentId,
            CASE

            WHEN bpmol.recharge_method = '0' THEN'手动充值'
            ELSE '充值卡充值' END AS 'rechargeMethod',
            bpmol.payment_manner paymentManner,
            bpmol.recharge_card_number rechargeCardNumber,
            bpmol.operator_user_id,
            ( SELECT be.employee_name FROM base_employee be WHERE be.user_id = bpmol.operator_user_id ) operatorUserName,
            bpmol.remarks
        FROM
            base_patient_member_occur_log bpmol
            JOIN base_patient bpt ON bpmol.patient_id = bpt.patient_Id
            JOIN base_patient_member bpm ON bpm.patient_id = bpt.patient_Id
        <where>
            bpmol.type = 1
            AND bpmol.occur_type = 1
            <if test="form.orgId != null and form.orgId != ''">
                AND bpmol.org_id = #{form.orgId}
            </if>

            <if test="patientIds != null">
                AND bpmol.patient_id in
                <foreach collection="patientIds" item="ids" index="index" open="(" close=")" separator=",">
                    #{ids}
                </foreach>
            </if>

            <if test="form.cardNumber != null and form.cardNumber != ''">
                AND bpm.card_number = #{form.cardNumber}
            </if>

            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
                <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') >=  DATE_FORMAT(#{form.startDate}, '%Y-%m-%d')   ]]>
                <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') <  DATE_FORMAT(#{form.endDate}, '%Y-%m-%d')   ]]>
            </if>

            <if test="form.rechargeMethods != null and form.rechargeMethods.size() > 0 ">
                AND bpmol.recharge_method in
                <foreach collection="form.rechargeMethods" item="rechargeMethod" index="index" open="(" close=")" separator=",">
                    #{rechargeMethod}
                </foreach>
            </if>

        </where>
        group by bpmol.occur_date desc
    </select>

    <!-- 查询预付款消费记录列表 -->
    <select id="selectPrepaidExpendList" resultType="com.yunya.feign.report.domain.vo.BasePrepaidExpendLogVo">
        SELECT
            bpmol.occur_log_id occurLogId,
            bpmol.occur_date occurDate,
            bb.order_date orderDate,
            bb.order_num orderNum,
            bpt.NAME,
            bpt.mobile,
            ( SELECT NAME FROM base_patient WHERE patient_id = bpm.patient_id ) masterCardName,
            bpm.card_number cardNumber,
            bpmol.principal_amount principalAmount,
            bpmol.bonus_amount bonusAmount,
            bpmol.current_recharge_principal currentRechargePrincipal,
            bpmol.current_recharge_bonus currentRechargeBonus,
                    ( SELECT be.employee_name FROM base_employee be WHERE be.user_id = bpmol.operator_user_id ) operatorUserName,
            bpmol.remarks
        FROM
            base_patient_member_occur_log bpmol
            JOIN base_patient bpt ON bpmol.patient_id = bpt.patient_Id
            JOIN base_patient_member bpm ON bpm.card_id = bpmol.card_id
            JOIN base_bill bb ON bpmol.bill_id = bb.bill_id
        <where>
            bpmol.type = 1
            AND bpmol.occur_type = 2
            <if test="form.orgId != null and form.orgId != ''">
                AND bpmol.org_id = #{form.orgId}
            </if>

            <if test="patientIds != null and patientIds.size() > 0 ">
                AND bpmol.patient_id in
                <foreach collection="patientIds" item="ids" index="index" open="(" close=")" separator=",">
                    #{ids}
                </foreach>
            </if>

            <if test="form.cardNumber != null and form.cardNumber != ''">
                AND bpm.card_number = #{form.cardNumber}
            </if>

            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
                <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') >=  DATE_FORMAT(#{form.startDate}, '%Y-%m-%d')   ]]>
                <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') <  DATE_FORMAT(#{form.endDate}, '%Y-%m-%d')   ]]>
            </if>

        </where>
        group by bpmol.occur_date desc
    </select>

    <!-- 查询预付款退费记录列表 -->
    <select id="selectPrepaidReturnList" resultType="com.yunya.feign.report.domain.vo.BasePrepaidReturnLogVo">
         SELECT
              bpmol.occur_log_id occurLogId,
              bpmol.occur_date occurDate,
              bpt.NAME,
              bpt.mobile,
              bpm.card_number cardNumber,
              bpmol.principal_amount principalAmount,
              bpmol.bonus_amount bonusAmount,
              bpmol.current_recharge_principal currentRechargePrincipal,
              bpmol.current_recharge_bonus currentRechargeBonus,
              bpmol.payment_id paymentId,
              bpmol.payment_manner paymentManner,
              bpmol.operator_user_id,
              (select be.employee_name from base_employee be where be.user_id = bpmol.operator_user_id) operatorUserName,
              bpmol.remarks
          FROM
          base_patient_member_occur_log bpmol
          JOIN base_patient bpt ON bpmol.patient_id = bpt.patient_Id
          JOIN base_patient_member bpm ON bpm.patient_id = bpt.patient_Id
        <where>
            bpmol.type = 1
            AND bpmol.occur_type = 3
            <if test="form.orgId != null and form.orgId != ''">
                AND bpmol.org_id = #{form.orgId}
            </if>

            <if test="patientIds != null and patientIds.size() > 0 ">
                AND bpmol.patient_id in
                <foreach collection="patientIds" item="ids" index="index" open="(" close=")" separator=",">
                    #{ids}
                </foreach>
            </if>

            <if test="form.cardNumber != null and form.cardNumber != ''">
                AND bpm.card_number = #{form.cardNumber}
            </if>

            <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
                <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') >=  DATE_FORMAT(#{form.startDate}, '%Y-%m-%d')   ]]>
                <![CDATA[   and DATE_FORMAT(bpmol.occur_date, '%Y-%m-%d') <  DATE_FORMAT(#{form.endDate}, '%Y-%m-%d')   ]]>
            </if>

        </where>
        group by bpmol.occur_date desc
    </select>

</mapper>