<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BaseUserPostMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseUserPost">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="user_post_id" property="userPostId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="group_id" property="groupId" jdbcType="INTEGER"/>
        <result column="post_group_name" property="postGroupName" jdbcType="VARCHAR"/>
        <result column="post_id" property="postId" jdbcType="INTEGER"/>
        <result column="post_name" property="postName" jdbcType="VARCHAR"/>
        <result column="enable_appoint" property="enableAppoint" jdbcType="BIT"/>
        <result column="enable_registry" property="enableRegistry" jdbcType="BIT"/>
    </resultMap>

    <!-- 根据条件查询配诊统计列表 -->
    <select id="selectAssistantMatchingStatisticsByAssistant"
            resultType="com.yunya.feign.treatment.domain.vo.AssistantMatchingStatisticsVO">
        SELECT
        e.org_id as orgId,
        e.user_id as assistantId,
        e.employee_name as assistantName,
        SUM(
        IF(
        TIMESTAMPDIFF(MINUTE, btp.treat_start_time, btp.treat_end_time)=0,
        1,
        IFNULL(TIME_TO_SEC(TIMEDIFF(DATE_FORMAT(btp.treat_end_time,'%H:%i'),
        DATE_FORMAT(btp.treat_start_time,'%H:%i')))/60,0)
        )) AS treatMatchingTimeAsAssistant1,
        sum(
        IFNULL( btp.actualWorkload, 0 )) AS treatMatchingActualWorkloadAsAssistant1,
        SUM(
        IFNULL( btp.refundWorkload, 0 )) AS treatMatchingRefundWorkloadAsAssistant1
        FROM
        (
        SELECT
        bup.user_id,
        bup.org_id,
        be.employee_name
        FROM
        base_user_post bup
        LEFT JOIN base_employee be ON bup.user_id = be.user_id
        <where>
            bup.group_id = 4
            <if test="query.workStatus!=null and query.workStatus.size()>0">
                and be.work_status in
                <foreach collection="query.workStatus" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ) e
        LEFT JOIN (
        SELECT
        btp.treatment_id,
        btp.org_id,
        btp.treat_start_time,
        btp.treat_end_time,
        ${assistant},
        IFNULL( bbd.actualWorkload, 0 ) AS actualWorkload,
        IFNULL( bf.refundWorkload, 0 ) AS refundWorkload
        FROM
        base_treatment_process btp
        LEFT JOIN (
        SELECT
        SUM( bbd.originalAmount - bbd.discount_amount ) AS actualWorkload,
        bbd.treatment_id
        FROM
        (
        SELECT
        bb.treatment_id,
        bbd.price * bbd.quantity AS originalAmount,
        bbd.discount_amount
        FROM
        base_bill_detail bbd
        LEFT JOIN (select bb.treatment_id,bb.bill_id,bb.bill_date from base_bill bb where bb.bill_date is not null) bb
        ON bbd.bill_id = bb.bill_id
        <where>
            bbd.executor_id IS NOT NULL
            <if test="query.orgId != null">
                and bbd.org_id = #{query.orgId}
            </if>
        </where>

        ) bbd
        GROUP BY
        bbd.treatment_id
        ) bbd ON btp.treatment_id = bbd.treatment_id
        LEFT JOIN ( SELECT br.treatment_id, SUM( br.refund_amount ) AS refundWorkload FROM base_refund br
        <where>
            <if test="query.orgId != null">
                and br.org_id = #{query.orgId}
            </if>
        </where>
        GROUP BY
        br.treatment_id ) bf ON btp.treatment_id = bf.treatment_id
        <where>
            AND btp.treat_end_time IS NOT NULL
            AND ${assistant} IS NOT NULL
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y' ) &lt;= #{query.endDate}
                </if>
            </if>
        </where>
        GROUP BY
        btp.treatment_id
        ) btp ON e.user_id = ${assistant}
        AND e.org_id = btp.org_id
        <where>
            <if test="query.orgId != null">
                and e.org_id = #{query.orgId}
            </if>
            <if test="query.assistantIds != null and query.assistantIds.length > 0">
                and e.user_id in
                <foreach collection="query.assistantIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY
        e.org_id,
        e.user_id
        ORDER BY treatMatchingTimeAsAssistant1 DESC
    </select>

    <!-- 根据条件查询配诊统计列表 -->
    <select id="selectAssistantMatchingStatisticsList"
            resultType="com.yunya.feign.treatment.domain.vo.AssistantMatchingStatisticsVO">
        SELECT
        e.org_id as orgId,
        e.user_id as assistantId,
        e.employee_name as assistantName,
        SUM(
        IF(TIMESTAMPDIFF(MINUTE, btp.treat_start_time, btp.treat_end_time)=0,1,IFNULL(TIMESTAMPDIFF( MINUTE,
        btp.treat_start_time, btp.treat_end_time),0))) AS treatMatchingTimeAsAssistant1,
        sum(
        IFNULL( btp.actualWorkload, 0 )) AS treatMatchingActualWorkloadAsAssistant1,
        SUM(
        IFNULL( btp.refundWorkload, 0 )) AS treatMatchingRefundWorkloadAsAssistant1,
        SUM(
        IF(TIMESTAMPDIFF( MINUTE, btp1.treat_start_time, btp1.treat_end_time)=0,1,IFNULL(TIMESTAMPDIFF( MINUTE,
        btp1.treat_start_time, btp1.treat_end_time),0))) AS treatMatchingTimeAsAssistant2,
        SUM(
        IFNULL( btp1.actualWorkload, 0 )) AS treatMatchingActualWorkloadAsAssistant2,
        SUM(
        IFNULL( btp1.refundWorkload, 0 )) AS treatMatchingRefundWorkloadAsAssistant2,
        SUM(
        IF(TIMESTAMPDIFF( MINUTE, btp2.treat_start_time, btp2.treat_end_time)=0,1,IFNULL(TIMESTAMPDIFF( MINUTE,
        btp2.treat_start_time, btp2.treat_end_time),0))) AS treatMatchingTimeAsAssistant3,
        SUM(
        IFNULL( btp2.actualWorkload, 0 )) AS treatMatchingActualWorkloadAsAssistant3,
        SUM( IFNULL( btp2.refundWorkload, 0 ) ) AS treatMatchingRefundWorkloadAsAssistant3
        FROM
        (
        SELECT
        bup.user_id,
        bup.org_id,
        be.employee_name
        FROM
        base_user_post bup
        LEFT JOIN base_employee be ON bup.user_id = be.user_id
        WHERE
        bup.group_id = 4 -- 全部助手
        ) e
        LEFT JOIN (
        SELECT
        btp.treatment_id,
        btp.org_id,
        btp.treat_start_time,
        btp.treat_end_time,
        btp.assistant_1,
        IFNULL( bbd.actualWorkload, 0 ) AS actualWorkload,
        IFNULL( bf.refundWorkload, 0 ) AS refundWorkload
        FROM
        base_treatment_process btp
        LEFT JOIN (
        SELECT
        SUM( bbd.originalAmount - bbd.discount_amount ) AS actualWorkload,
        bbd.treatment_id
        FROM
        (
        SELECT
        bb.treatment_id,
        bbd.price * bbd.quantity AS originalAmount,
        bbd.discount_amount
        FROM
        base_bill_detail bbd
        LEFT JOIN base_bill bb ON bbd.bill_id = bb.bill_id
        WHERE
        bbd.executor_id IS NOT NULL
        ) bbd
        GROUP BY
        bbd.treatment_id
        ) bbd ON btp.treatment_id = bbd.treatment_id
        LEFT JOIN ( SELECT br.treatment_id, SUM( br.refund_amount ) AS refundWorkload FROM base_refund br GROUP BY
        br.treatment_id ) bf ON btp.treatment_id = bf.treatment_id
        <where>
            AND btp.treat_end_time IS NOT NULL
            AND btp.assistant_1 IS NOT NULL
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y' ) &lt;= #{query.endDate}
                </if>
            </if>
        </where>
        GROUP BY
        btp.treatment_id
        ) btp ON e.user_id = btp.assistant_1
        AND e.org_id = btp.org_id
        LEFT JOIN (
        SELECT
        btp.treatment_id,
        btp.org_id,
        btp.treat_start_time,
        btp.treat_end_time,
        btp.assistant_2,
        IFNULL( bbd.actualWorkload, 0 ) AS actualWorkload,
        IFNULL( bf.refundWorkload, 0 ) AS refundWorkload
        FROM
        base_treatment_process btp
        LEFT JOIN (
        SELECT
        SUM( bbd.originalAmount - bbd.discount_amount ) AS actualWorkload,
        bbd.treatment_id
        FROM
        (
        SELECT
        bb.treatment_id,
        bbd.price * bbd.quantity AS originalAmount,
        bbd.discount_amount
        FROM
        base_bill_detail bbd
        LEFT JOIN base_bill bb ON bbd.bill_id = bb.bill_id
        WHERE
        bbd.executor_id IS NOT NULL
        ) bbd
        GROUP BY
        bbd.treatment_id
        ) bbd ON btp.treatment_id = bbd.treatment_id
        LEFT JOIN ( SELECT br.treatment_id, SUM( br.refund_amount ) AS refundWorkload FROM base_refund br GROUP BY
        br.treatment_id ) bf ON btp.treatment_id = bf.treatment_id
        <where>
            and btp.treat_end_time IS NOT NULL
            and btp.assistant_1 IS NOT NULL
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y' ) &lt;= #{query.endDate}
                </if>
            </if>
        </where>
        GROUP BY
        btp.treatment_id
        ) btp1 ON e.user_id = btp1.assistant_2
        AND e.org_id = btp1.org_id
        LEFT JOIN (
        SELECT
        btp.treatment_id,
        btp.org_id,
        btp.treat_start_time,
        btp.treat_end_time,
        btp.assistant_3,
        IFNULL( bbd.actualWorkload, 0 ) AS actualWorkload,
        IFNULL( bf.refundWorkload, 0 ) AS refundWorkload
        FROM
        base_treatment_process btp
        LEFT JOIN (
        SELECT
        SUM( bbd.originalAmount - bbd.discount_amount ) AS actualWorkload,
        bbd.treatment_id
        FROM
        (
        SELECT
        bb.treatment_id,
        bbd.price * bbd.quantity AS originalAmount,
        bbd.discount_amount
        FROM
        base_bill_detail bbd
        LEFT JOIN base_bill bb ON bbd.bill_id = bb.bill_id
        WHERE
        bbd.executor_id IS NOT NULL
        ) bbd
        GROUP BY
        bbd.treatment_id
        ) bbd ON btp.treatment_id = bbd.treatment_id
        LEFT JOIN ( SELECT br.treatment_id, SUM( br.refund_amount ) AS refundWorkload FROM base_refund br GROUP BY
        br.treatment_id ) bf ON btp.treatment_id = bf.treatment_id
        <where>
            and btp.treat_end_time IS NOT NULL
            and btp.assistant_1 IS NOT NULL
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y' ) &lt;= #{query.endDate}
                </if>
            </if>
        </where>
        GROUP BY
        btp.treatment_id
        ) btp2 ON e.user_id = btp2.assistant_3
        AND e.org_id = btp2.org_id
        <where>
            <if test="query.orgId != null">
                and e.org_id = #{query.orgId}
            </if>
            <if test="query.assistantIds != null and query.assistantIds.length > 0">
                and e.user_id in
                <foreach collection="query.assistantIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY
        e.org_id,
        e.user_id
    </select>

    <!-- 根据条件查询员工看诊情况列表 -->
    <select id="selectEmployeeDiagnosisInfoList"
            resultType="com.yunya.feign.report.domain.vo.EmployeeDiagnosisInfoVO">
        SELECT
        edi.employeeId,
        edi.employeeName,
        edi.totalShiftTime,
        edi.totalTreatmentTime,
        edi.firstVisitNum,
        edi.treatVisitsTimes,
        ifnull(CONVERT (
        edi.totalActualAmount / edi.treatVisitsTimes,
        DECIMAL ( 19, 2 )), 0) AS averageConsumption,
        edi.treatVisitsNum,
        ifnull(CONVERT (
        edi.totalActualAmount / edi.treatVisitsNum,
        DECIMAL ( 19, 2 )), 0) AS perCapitaConsumption,
        edi.appointmentsNum,
        edi.visitArrivedTimes,
        edi.appointmentModifyTimes,
        edi.appointmentCancelTimes
        FROM
        (
        SELECT
        bup.user_id AS employeeId,
        IFNULL( bup.employee_name, '--' ) AS employeeName,
        IFNULL( bes.totalShiftTime, 0 ) AS totalShiftTime,
        IFNULL( btp.totalTreatmentTime, 0 ) AS totalTreatmentTime,
        IFNULL( btp.treatVisitsTimes, 0 ) AS treatVisitsTimes,
        IFNULL( btp.treatVisitsNum, 0 ) AS treatVisitsNum,
        IFNULL( btp1.firstVisitNum, 0 ) AS firstVisitNum,
        IFNULL( btp2.appointmentsNum, 0 ) AS appointmentsNum,
        IFNULL( btp3.appointmentModifyTimes, 0 ) AS appointmentModifyTimes,
        IFNULL( btp4.appointmentCancelTimes, 0 ) AS appointmentCancelTimes,
        IFNULL( btp5.visitArrivedTimes, 0 ) AS visitArrivedTimes,
        IFNULL( btp6.totalActualAmount, 0 ) AS totalActualAmount
        FROM
        (
        SELECT be.user_id,
        be.employee_name
        FROM base_employee be
        LEFT JOIN base_user_post bup
        ON bup.user_id = be.user_id
        <where>
            and bup.group_id = 3
            <if test="query.dentistIds != null and query.dentistIds.length > 0">
                and be.user_id in
                <foreach collection="query.dentistIds" index="index" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="query.workStatus!=null and query.workStatus.size()>0">
                and be.work_status in
                <foreach collection="query.workStatus" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by be.user_id
        ) bup
        LEFT JOIN (
        SELECT
        bes.user_id,
        bes.org_id,
        SUM( bes.schedule_duration ) AS totalShiftTime
        FROM
        base_employee_schedule bes
        <where>
            <if test="query.orgId != null">
                and bes.org_id = #{query.orgId}
            </if>
            <if test="query.startDate != null and query.startDate != ''">
                and DATE_FORMAT( bes.schedule_date, '%Y-%m-%d' ) &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                and DATE_FORMAT( bes.schedule_date, '%Y-%m-%d' ) &lt;= #{query.endDate}
            </if>
        </where>
        GROUP BY
        bes.user_id
        ) bes ON bup.user_id = bes.user_id
        LEFT JOIN (
        SELECT
        btp.org_id,
        btp.registered_dentist_id,
        SUM(
        IF
        (
        TIMESTAMPDIFF( MINUTE, btp.treat_start_time, btp.treat_end_time ) = 0,
        1,
        TIMESTAMPDIFF( MINUTE, btp.treat_start_time, btp.treat_end_time ))) AS totalTreatmentTime,
        COUNT( btp.treatment_id ) AS treatVisitsTimes,
        COUNT( DISTINCT btp.patient_id ) AS treatVisitsNum
        FROM
        base_treatment_process btp
        <where>
            and btp.treat_end_time IS NOT NULL
            <if test="query.orgId != null">
                and btp.org_id = #{query.orgId}
            </if>
            <if test="query.startDate != null and query.startDate != ''">
                and DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                and DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &lt;= #{query.endDate}
            </if>
        </where>
        GROUP BY
        btp.registered_dentist_id
        ) btp ON bup.user_id = btp.registered_dentist_id
        LEFT JOIN (
        SELECT
        btp.org_id,
        btp.registered_dentist_id,
        COUNT( DISTINCT btp.patient_id ) AS firstVisitNum
        FROM
        base_treatment_process btp
        <where>
            and btp.treat_type = 0
            and btp.treat_end_time IS NOT NULL
            <if test="query.orgId != null">
                and btp.org_id = #{query.orgId}
            </if>
            <if test="query.startDate != null and query.startDate != ''">
                and DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                and DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &lt;= #{query.endDate}
            </if>
        </where>
        GROUP BY
        btp.registered_dentist_id
        ) btp1 ON bup.user_id = btp1.registered_dentist_id
        LEFT JOIN (
        SELECT
        btp.org_id,
        btp.appoint_dentist_id,
        COUNT( btp.appoint_dentist_id ) AS appointmentsNum
        FROM
        base_treatment_process btp
        <where>
            and btp.appoint_status != 2
            <if test="query.orgId != null">
                and btp.org_id = #{query.orgId}
            </if>
            <if test="query.startDate != null and query.startDate != ''">
                and DATE_FORMAT( btp.appoint_start_time, '%Y-%m-%d' ) &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                and DATE_FORMAT( btp.appoint_start_time, '%Y-%m-%d' ) &lt;= #{query.endDate}
            </if>
        </where>
        GROUP BY
        btp.appoint_dentist_id
        ) btp2 ON bup.user_id = btp2.appoint_dentist_id
        LEFT JOIN (
        SELECT
        btp.org_id,
        btp.dentist_id,
        count(btp.id) AS appointmentModifyTimes
        FROM
        base_appointment_modify btp
        <where>
            <if test="query.orgId != null">
                and btp.org_id = #{query.orgId}
            </if>
            <if test="query.startDate != null and query.startDate != ''">
                and DATE_FORMAT( btp.appoint_date, '%Y-%m-%d' ) &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                and DATE_FORMAT( btp.appoint_date, '%Y-%m-%d' ) &lt;= #{query.endDate}
            </if>
        </where>
        GROUP BY
        btp.dentist_id
        ) btp3 ON bup.user_id = btp3.dentist_id
        LEFT JOIN (
        SELECT
        btp.org_id,
        btp.appoint_dentist_id,
        COUNT( btp.appointment_id ) AS appointmentCancelTimes
        FROM
        base_treatment_process btp
        <where>
            and btp.appoint_status = 2
            <if test="query.orgId != null">
                and btp.org_id = #{query.orgId}
            </if>
            <if test="query.startDate != null and query.startDate != ''">
                and DATE_FORMAT( btp.appoint_start_time, '%Y-%m-%d' ) &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                and DATE_FORMAT( btp.appoint_start_time, '%Y-%m-%d' ) &lt;= #{query.endDate}
            </if>
        </where>
        GROUP BY
        btp.appoint_dentist_id
        ) btp4 ON bup.user_id = btp4.appoint_dentist_id
        LEFT JOIN (
        SELECT
        btp.org_id,
        btp.appoint_dentist_id,
        COUNT( appointment_id ) AS visitArrivedTimes
        FROM
        base_treatment_process btp
        <where>
            and btp.registered_dentist_id > 0
            <if test="query.orgId != null">
                and btp.org_id = #{query.orgId}
            </if>
            <if test="query.startDate != null and query.startDate != ''">
                and DATE_FORMAT( btp.appoint_start_time, '%Y-%m-%d' ) &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                and DATE_FORMAT( btp.appoint_start_time, '%Y-%m-%d' ) &lt;= #{query.endDate}
            </if>
        </where>
        GROUP BY
        btp.appoint_dentist_id
        ) btp5 ON bup.user_id = btp5.appoint_dentist_id
        LEFT JOIN (
        SELECT btp.org_id,
        btp.registered_dentist_id,
        SUM(btp.actualAmount) AS totalActualAmount
        FROM (
        SELECT btp.registered_dentist_id,
        btp.org_id,
        IFNULL(bb.actualAmount, 0) AS actualAmount
        FROM base_treatment_process btp
        LEFT JOIN (
        select IFNULL(bbd.price * bbd.quantity - bbd.discount_amount, 0) as actualAmount,
        bbd.executor_id,
        bb.treatment_id
        from base_bill_detail bbd
        left join base_bill bb on bb.bill_id = bbd.bill_id
        ) bb ON btp.treatment_id = bb.treatment_id and bb.executor_id = btp.registered_dentist_id
        <where>
            and btp.treat_end_time IS NOT NULL
            <if test="query.orgId != null">
                and btp.org_id = #{query.orgId}
            </if>
            <if test="query.startDate != null and query.startDate != ''">
                and DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                and DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &lt;= #{query.endDate}
            </if>
            <if test="query.dentistIds != null and query.dentistIds.length > 0">
                and btp.registered_dentist_id in
                <foreach collection="query.dentistIds" index="index" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>

        </where>
        ) btp
        GROUP BY btp.org_id,
        btp.registered_dentist_id
        ) btp6 ON bup.user_id = btp6.registered_dentist_id
        ) edi
        <where>
            edi.totalShiftTime > 0
            or edi.totalTreatmentTime > 0
            or edi.treatVisitsTimes > 0
            or edi.appointmentsNum > 0
            or edi.appointmentModifyTimes > 0
            or edi.appointmentCancelTimes > 0
        </where>
        ORDER BY
        edi.totalTreatmentTime DESC,
        edi.treatVisitsTimes DESC
    </select>
</mapper>