<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BaseBillPayDetailMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseBillPayDetail">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="bill_pay_detail_record_id" property="billPayDetailRecordId" jdbcType="INTEGER"/>
        <result column="bill_id" property="billId" jdbcType="INTEGER"/>
        <result column="bill_pay_id" property="billPayId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="account_item_id" property="accountItemId" jdbcType="INTEGER"/>
        <result column="principal_amount" property="principalAmount" jdbcType="DECIMAL"/>
        <result column="bonus_amount" property="bonusAmount" jdbcType="DECIMAL"/>
    </resultMap>

    <!-- 根据收费记录ID查询收费明细并按照全部支付方式分组 -->
    <select id="selectBillPayDetailList" resultType="com.yunya.feign.report.domain.vo.StatementPaymentVO">
        SELECT
            bai.account_item_id AS accountItemId,
            bai.account_item_name AS accountItemName,
            IFNULL(SUM(bbpd.principal_amount), 0 ) AS totalAmount,
            IFNULL(SUM(bbpd.bonus_amount), 0) AS bonusAmount
        FROM
            base_account_item bai
            LEFT JOIN (
            SELECT
            bbpd.account_item_id,
            SUM(bbpd.principal_amount) AS principal_amount,
            SUM(bbpd.bonus_amount) AS bonus_amount
            FROM
            base_bill_pay_detail bbpd
            WHERE
            bbpd.bill_pay_id = #{billPayId}
            GROUP BY bbpd.bill_pay_id
            ) bbpd ON bai.account_item_id = bbpd.account_item_id
        GROUP BY
            bai.account_type_id,
            bai.account_item_id,
            bai.account_item_name,
            bbpd.principal_amount
        ORDER BY
            bai.account_type_id,
            bai.account_item_id
    </select>

    <select id="sumPayDetailListByBillIds" resultType="com.yunya.feign.report.domain.vo.BaseBillPayDetailVO">
        select
        t.bill_id as billId,
        IFNULL(SUM(t.principal_amount), 0) AS principalAmount
        from base_bill_pay_detail t
        left join base_bill_pay bbp on bbp.bill_pay_id=t.bill_pay_id
        <where>
            t.type = 2
            <if test="payIds!=null and payIds.size()>0">
                and t.account_item_id in
                <foreach item="item" index="index" collection="payIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.billIds!=null and query.billIds.size()>0">
                and t.bill_id in
                <foreach item="item" index="index" collection="query.billIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT(bbp.payee_date, '%Y-%m-%d') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT(bbp.payee_date, '%Y-%m-%d') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT(bbp.payee_date, '%Y-%m') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT(bbp.payee_date, '%Y-%m') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT(bbp.payee_date, '%Y') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT(bbp.payee_date, '%Y') &lt;= #{query.endDate}
                </if>
            </if>
        </where>
        group by t.bill_id
    </select>

    <select id="sumPayDetailListByBillPayIds" resultType="com.yunya.feign.report.domain.vo.BaseBillPayDetailVO">
        select
        t.bill_pay_id as billPayId,
        t.bill_id as billId,
        IFNULL(SUM(t.principal_amount), 0) AS principalAmount
        from base_bill_pay_detail t
        <where>
            t.type = 2
            <if test="payIds!=null and payIds.size()>0">
                and t.account_item_id in
                <foreach item="item" index="index" collection="payIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="billPayIds!=null and billPayIds.size()>0">
                and t.bill_pay_id in
                <foreach item="item" index="index" collection="billPayIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by t.bill_pay_id,t.bill_id
    </select>
    <!-- 查询收费记录的免单总额 -->
    <select id="selectTotalFreePayAmount" resultType="com.yunya.feign.report.domain.vo.BillPayFreePayAmountVO">
        SELECT
        bbpd.bill_pay_id AS billPayId,
        bbpd.bill_id AS billId,
        IFNULL( SUM( bbpd.principal_amount ), 0 ) AS freePayAmount
        FROM
        base_bill_pay_detail bbpd
        <where>
            AND bbpd.account_item_id IN ( 23, 26 )
            <if test="billPayIds != null and billPayIds.size > 0">
                AND bbpd.bill_pay_id IN
                <foreach item="item" index="index" collection="billPayIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY
        bbpd.bill_pay_id
    </select>
    <!-- 根据收费记录ID查询免单支付金额 -->
    <select id="selectFreePayAmount" resultType="java.math.BigDecimal">
        SELECT
        IFNULL( SUM( bbpd.principal_amount ), 0 ) AS totalFreePayAmount
        FROM
        base_bill_pay_detail bbpd
        where
          bbpd.account_item_id IN ( 23, 26 )
          AND bbpd.bill_pay_id = #{billPayId}
    </select>

    <select id="billDiscountAndFreePaymentList" resultType="com.yunya.feign.report.domain.vo.BillDiscountAndFreePaymentVO">
        SELECT * FROM (
            SELECT
                bbp.payee_date as payeeDate,
                be.employee_name as payeeUser,
                bb.bill_date as billDate,
                bo.abbreviation,
                emp.employee_name as employeeName,
                bb.bill_num as billNum,
                bbpd.principal_amount as amount,
                bbpd.card_num as remark,
                bp.name as patientName,
                null as discountUser,
                CASE
                WHEN bbpd.account_item_id=23 then '本次免单支付'
                WHEN bbpd.account_item_id=26 then '艾维员工免单'
                end as discountFree
            FROM base_bill_pay_detail bbpd
            LEFT JOIN base_bill bb ON bb.bill_id=bbpd.bill_id
            LEFT JOIN base_bill_pay bbp ON bbp.bill_pay_id=bbpd.bill_pay_id
            LEFT JOIN base_employee be ON be.user_id=bbp.payee_user_id
            LEFT JOIN base_treatment_process btp ON btp.treatment_id=bb.treatment_id
            LEFT JOIN base_employee emp ON emp.user_id=btp.registered_dentist_id
            LEFT JOIN base_organization bo ON bo.org_id=bb.org_id
            LEFT JOIN base_patient bp ON bp.patient_id=bb.patient_id
            <where>
                <if test="query.accountType==null or query.accountType==0">
                    and bbpd.account_item_id in (23,26)
                </if>
                <if test="query.accountType > 0">
                    bbpd.account_item_id = #{query.accountType}
                </if>
                <if test="query.orgIds!=null and query.orgIds.size()>0">
                    and bb.org_id in
                    <foreach item="item" index="index" collection="query.orgIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="query.startDate!=null and query.startDate!='' and query.endDate!=null and query.endDate!=''">
                    and DATE_FORMAT(bbp.payee_date,'%Y-%m-%d') between #{query.startDate} and #{query.endDate}
                </if>
                <if test="query.employeeIds!=null and query.employeeIds.size()>0">
                    and btp.registered_dentist_id in
                    <foreach item="item" index="index" collection="query.employeeIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            </where>
            UNION
            SELECT
                bbp.payee_date as payeeDate,
                be.employee_name as payeeUser,
                bb.bill_date as billDate,
                bo.abbreviation,
                emp.employee_name as employeeName,
                bb.bill_num as billNum,
                bbf.principal_amount as amount,
                bbf.remark,
                bp.name as patientName,
                bep.employee_name as discountUser,
                '授权折扣' as discountFree
            FROM (
                select order_id as bill_id,sum(benefit_amount) as principal_amount, remark, authorized_id, patient_id
                from base_benefit
                <where>
                    choice_benefit_type=1
                    <if test="query.accountType==23 or query.accountType==26">
                        and order_id = -1
                        and org_id = -1
                    </if>
                </where>
                group by order_id,remark,authorized_id,patient_id
            ) bbf
            LEFT JOIN base_bill bb ON bb.bill_id=bbf.bill_id
            LEFT JOIN base_bill_pay bbp ON (bbp.bill_id = bbf.bill_id AND TIMESTAMPDIFF(SECOND,bb.privilege_date, bbp.payee_date)&lt;=5)
            LEFT JOIN base_employee be ON be.user_id=bbp.payee_user_id
            LEFT JOIN base_treatment_process btp ON btp.treatment_id=bb.treatment_id
            LEFT JOIN base_employee emp ON emp.user_id=btp.registered_dentist_id
            LEFT JOIN base_employee bep ON bep.user_id=bbf.authorized_id
            LEFT JOIN base_organization bo ON bo.org_id=bb.org_id
            LEFT JOIN base_patient bp ON bp.patient_id=bbf.patient_id
            <where>
                <if test="query.orgIds!=null and query.orgIds.size()>0">
                    and bb.org_id in
                    <foreach item="item" index="index" collection="query.orgIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="query.startDate!=null and query.startDate!='' and query.endDate!=null and query.endDate!=''">
                    and DATE_FORMAT(bbp.payee_date,'%Y-%m-%d') between #{query.startDate} and #{query.endDate}
                </if>
                <if test="query.employeeIds!=null and query.employeeIds.size()>0">
                    and btp.registered_dentist_id in
                    <foreach item="item" index="index" collection="query.employeeIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            </where>
        ) t
        order by t.payeeDate desc,t.billNum desc
    </select>

    <select id="sumPayDetailListByPayeeDate" resultType="com.yunya.feign.report.domain.vo.BaseBillPayDetailVO">
        select
        t.bill_id as billId,
        IFNULL(SUM(t.principal_amount), 0) AS principalAmount,
        bbp.payee_date AS cardNum,
        from base_bill_pay_detail t
        left join base_bill_pay bbp on bbp.bill_pay_id=t.bill_pay_id
        <where>
            t.type = 2
            <if test="payIds!=null and payIds.size()>0">
                and t.account_item_id in
                <foreach item="item" index="index" collection="payIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="billIds!=null and billIds.size()>0">
                and t.bill_id in
                <foreach item="item" index="index" collection="billIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by t.bill_id
    </select>
</mapper>