<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BaseBillMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseBill" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="bill_id" property="billId" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="treatment_id" property="treatmentId" jdbcType="INTEGER" />
    <result column="bill_status" property="billStatus" jdbcType="TINYINT" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
    <result column="order_date" property="orderDate" jdbcType="TIMESTAMP" />
    <result column="assistant_1" property="assistant1" jdbcType="INTEGER" />
    <result column="assistant_2" property="assistant2" jdbcType="INTEGER" />
    <result column="assistant_3" property="assistant3" jdbcType="INTEGER" />
    <result column="privilege_type" property="privilegeType" jdbcType="TINYINT" />
    <result column="privilege_amount" property="privilegeAmount" jdbcType="DECIMAL" />
    <result column="bill_num" property="billNum" jdbcType="VARCHAR" />
    <result column="actual_amount" property="actualAmount" jdbcType="DECIMAL" />
    <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL" />
    <result column="debt_amount" property="debtAmount" jdbcType="DECIMAL" />
  </resultMap>
  <!-- 欠费查询 -->
    <select id="arrears" resultType="com.yunya.feign.report.domain.vo.ArrearsVo">
      select
        bb.bill_id billId,
        be.employee_name employeeName,
        bb.order_date orderDate,
        bb.order_num orderNum,
        bp.name,
        bp.mobile,
        (bb.privilege_amount - bb.actual_amount) originalPrice,
        bb.privilege_amount privilegeAmount,
        bb.actual_amount actualAmount,
        bb.received_amount receivedAmount,
        bb.debt_amount debtAmount
      from  base_bill bb
        join  base_patient bp on bp.patient_id = bb.patient_id
        join  base_treatment_process btpr on btpr.patient_id = bp.patient_id
        join  base_employee be on btpr.registered_dentist_id = be.user_id
      <where>
        <if test="form.orgId != null and form.orgId != ''">
          AND bb.org_id = #{form.orgId}
        </if>

        <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
          AND bb.order_date &gt;= #{form.startDate} 
          AND bb.order_date &lt;= #{form.endDate}
        </if>

        <if test="form.registeredDentistIds != null and form.registeredDentistIds.size() > 0 ">
          AND bp.registered_dentist_id in
          <foreach collection="form.registeredDentistIds" item="registeredDentistId" index="index" open="(" close=")" separator=",">
            #{registeredDentistId}
          </foreach>
        </if>

        <if test="patientIds != null and patientIds.size() > 0 ">
          AND bp.patient_id in
          <foreach collection="patientIds" item="ids" index="index" open="(" close=")" separator=",">
            #{ids}
          </foreach>
        </if>

      </where>
      group by bb.order_date orderDate asc
    </select>
</mapper>