<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BaseTreatmentProcessMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseTreatmentProcess">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="appointment_id" property="appointmentId" jdbcType="INTEGER"/>
        <result column="registered_id" property="registeredId" jdbcType="INTEGER"/>
        <result column="treatment_id" property="treatmentId" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="treat_status" property="treatStatus" jdbcType="TINYINT"/>
        <result column="treat_type" property="treatType" jdbcType="TINYINT"/>
        <result column="appoint_status" property="appointStatus" jdbcType="TINYINT"/>
        <result column="appoint_dentist_id" property="appointDentistId" jdbcType="INTEGER"/>
        <result column="appoint_start_time" property="appointStartTime" jdbcType="TIMESTAMP"/>
        <result column="appoint_duration" property="appointDuration" jdbcType="INTEGER"/>
        <result column="appoint_modify_time" property="appointModifyTime" jdbcType="INTEGER"/>
        <result column="appoint_content" property="appointContent" jdbcType="VARCHAR"/>
        <result column="appointment_crt_time" property="appointmentCrtTime" jdbcType="TIMESTAMP"/>
        <result column="registered_dentist_id" property="registeredDentistId" jdbcType="INTEGER"/>
        <result column="registered_time" property="registeredTime" jdbcType="TIME"/>
        <result column="registered_date" property="registeredDate" jdbcType="TIMESTAMP"/>
        <result column="treat_start_time" property="treatStartTime" jdbcType="TIMESTAMP"/>
        <result column="treat_end_time" property="treatEndTime" jdbcType="TIMESTAMP"/>
        <result column="assistant_1" property="assistant1" jdbcType="INTEGER"/>
        <result column="assistant_2" property="assistant2" jdbcType="INTEGER"/>
        <result column="assistant_3" property="assistant3" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="BaseResultFields">
        appointment_id,registered_id,treatment_id,org_id,patient_id,treat_status,treat_type,appoint_status,
        appoint_dentist_id,appoint_start_time,appoint_duration,appoint_modify_time,appoint_content,appointment_crt_time,
        registered_dentist_id,registered_time,treat_start_time,treat_end_time,assistant_1,assistant_2,assistant_3,registered_date
    </sql>

    <!-- 根据条件查询就诊列表 -->
    <select id="selectTreatmentRecordReportVOList"
            resultType="com.yunya.feign.report.domain.vo.TreatmentRecordReportVO">
        SELECT
        tr.orgId,
        tr.orgName,
        tr.treatDate,
        tr.patientId,
        tr.patientName,
        tr.mobile,
        tr.gender,
        tr.treatType,
        tr.regDentistId,
        tr.regDentistName,
        tr.appointTime,
        tr.appointDuration,
        tr.appointContent,
        tr.regTime,
        tr.treatStartTime,
        tr.treatEndTime,
        tr.treatWaitingTime,
        tr.treatExpendTime
        FROM
        (
        SELECT
        btp.org_id AS orgId,
        bo.abbreviation AS orgName,
        DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) AS treatDate,
        btp.patient_id AS patientId,
        bp.`name` AS patientName,
        bp.pinyin_name AS pinyinName,
        bp.mobile AS mobile,
        bp.gender AS gender,
        btp.treat_type AS treatType,
        btp.registered_dentist_id AS regDentistId,
        be.employee_name AS regDentistName,
        DATE_FORMAT( btp.appoint_start_time, '%H:%i' ) AS appointTime,
        btp.appoint_duration AS appointDuration,
        btp.appoint_content AS appointContent,
        DATE_FORMAT( btp.registered_time, '%H:%i' ) AS regTime,
        DATE_FORMAT( btp.treat_start_time, '%H:%i' ) AS treatStartTime,
        DATE_FORMAT( btp.treat_end_time, '%H:%i' ) AS treatEndTime,
        TIME_TO_SEC(TIMEDIFF(DATE_FORMAT(btp.treat_start_time,'%H:%i'),DATE_FORMAT(btp.registered_time,'%H:%i')))/60 AS
        treatWaitingTime,
        TIME_TO_SEC(TIMEDIFF(DATE_FORMAT(btp.treat_end_time, '%H:%i'), DATE_FORMAT( btp.treat_start_time, '%H:%i' )))/60
        AS treatExpendTime
        FROM
        base_treatment_process btp
        LEFT JOIN base_organization bo ON btp.org_id = bo.org_id
        LEFT JOIN base_patient bp ON btp.patient_id = bp.patient_id
        LEFT JOIN base_employee be ON btp.registered_dentist_id = be.user_id
        ) tr
        <where>
            <if test="query.orgId != null">
                and tr.orgId = #{query.orgId}
            </if>
            <if test="query.keyWord != null and query.keyWord != ''">
                and concat(ifnull(tr.patientName, ''), ifnull(tr.pinyinName, ''), ifnull(tr.mobile, '')) like
                concat('%', #{query.keyWord}, '%')
            </if>
            <if test="query.treatType != null">
                and tr.treatType = #{query.treatType}
            </if>
            <if test="query.treatStartDate != null and query.treatStartDate != ''">
                and tr.treatDate &gt;= #{query.treatStartDate}
            </if>
            <if test="query.treatEndDate != null and query.treatEndDate != ''">
                and tr.treatDate &lt;= #{query.treatEndDate}
            </if>
            <if test="query.regDentistIds != null and query.regDentistIds.length > 0">
                and tr.regDentistId in
                <foreach collection="query.regDentistIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY tr.treatDate DESC
    </select>
    <!-- 根据条件查询就诊配诊记录列表 -->
    <select id="selectTreatmentMatchingRecord"
            resultType="com.yunya.feign.report.domain.vo.TreatmentMatchingRecordVO">
        SELECT
        tmr.treatmentId,
        tmr.assistant1Id,
        tmr.assistant1Name,
        tmr.assistant2Id,
        tmr.assistant2Name,
        tmr.assistant3Id,
        tmr.assistant3Name,
        tmr.matchingDentistId,
        tmr.matchingDentistName,
        tmr.patientId,
        tmr.patientName,
        tmr.mobile,
        tmr.matchingDate,
        tmr.treatStartTime,
        tmr.treatEndTime,
        tmr.matchingDuration
        FROM
        (
        SELECT
        btp.org_id as orgId,
        btp.treatment_id AS treatmentId,
        btp.assistant_1 AS assistant1Id,
        be1.employee_name AS assistant1Name,
        btp.assistant_2 AS assistant2Id,
        be2.employee_name AS assistant2Name,
        btp.assistant_3 AS assistant3Id,
        be3.employee_name AS assistant3Name,
        btp.registered_dentist_id AS matchingDentistId,
        be.employee_name AS matchingDentistName,
        btp.patient_id AS patientId,
        bp.`name` AS patientName,
        bp.pinyin_name AS pinyinName,
        bp.mobile AS mobile,
        DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) AS matchingDate,
        DATE_FORMAT( btp.treat_start_time, '%H:%i' ) AS treatStartTime,
        DATE_FORMAT( btp.treat_end_time, '%H:%i' ) AS treatEndTime,
        TIME_TO_SEC(TIMEDIFF(DATE_FORMAT(btp.treat_end_time, '%H:%i'), DATE_FORMAT( btp.treat_start_time, '%H:%i' )))/60
        AS matchingDuration
        FROM
        base_treatment_process btp
        LEFT JOIN base_employee be1 ON btp.assistant_1 = be1.user_id
        LEFT JOIN base_employee be2 ON btp.assistant_2 = be2.user_id
        LEFT JOIN base_employee be3 ON btp.assistant_3 = be3.user_id
        LEFT JOIN base_employee be ON btp.registered_dentist_id = be.user_id
        LEFT JOIN base_patient bp ON btp.patient_id = bp.patient_id
        WHERE
        btp.treatment_id IS NOT NULL
        AND ( btp.assistant_1 IS NOT NULL OR btp.assistant_2 IS NOT NULL OR btp.assistant_3 IS NOT NULL )
        ) tmr
        <where>
            <if test="query.orgId != null">
                and tmr.orgId = #{query.orgId}
            </if>
            <if test="query.keyWord != null and query.keyWord != ''">
                and concat(ifnull(tmr.patientName, ''), ifnull(tmr.pinyinName, ''), ifnull(tmr.mobile, '')) like
                concat('%', #{query.keyWord}, '%')
            </if>
            <if test="query.matchingStartDate != null and query.matchingStartDate != ''">
                and tmr.matchingDate &gt;= #{query.matchingStartDate}
            </if>
            <if test="query.matchingEndDate != null and query.matchingEndDate != ''">
                and tmr.matchingDate &lt;= #{query.matchingEndDate}
            </if>
            <if test="query.matchingDentistIds != null and query.matchingDentistIds.length > 0">
                and tmr.matchingDentistId in
                <foreach collection="query.matchingDentistIds" item="item" index="index" open="(" close=")"
                         separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY
        tmr.matchingDate DESC
    </select>

    <!-- 根据条件查询助手配诊明细列表 -->
    <select id="selectAssistantMatchingDetailList"
            resultType="com.yunya.feign.report.domain.vo.EmployeeTreatMatchingDetailVO">
        SELECT
        btp.treatment_id AS treatmentId,
        btp.treatDate,
        btp.patient_id as patientId,
        btp.patientName,
        btp.mobile,
        DATE_FORMAT(btp.treatStartTime, '%Y-%m-%d %H:%i') as treatStartTime,
        DATE_FORMAT(btp.treatEndTime, '%Y-%m-%d %H:%i') as treatEndTime,
        btp.matchDuration
        FROM (
        SELECT
        btp.treatment_id,
        DATE_FORMAT(btp.treat_start_time, '%Y-%m-%d') as treatDate,
        btp.patient_id,
        bp.`name` AS patientName,
        bp.mobile,
        bp.pinyin_name AS pinyinName,
        btp.treat_start_time AS treatStartTime,
        btp.treat_end_time AS treatEndTime,
        SUM( btp.matchTime ) AS matchDuration
        FROM
        (
        SELECT
        btp.treatment_id,
        btp.patient_id,
        btp.assistant_1,
        btp.treat_start_time,
        btp.treat_end_time,
        IF
        (
        TIMESTAMPDIFF( MINUTE, btp.treat_start_time, btp.treat_end_time )=0,
        1,
        TIME_TO_SEC(TIMEDIFF(DATE_FORMAT(btp.treat_end_time, '%H:%i'), DATE_FORMAT( btp.treat_start_time, '%H:%i'
        )))/60) AS matchTime
        FROM
        base_treatment_process btp
        <where>
            and btp.treat_end_time IS NOT NULL
            <if test="query.orgId != null">
                AND btp.org_id = #{query.orgId}
            </if>
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.assistantType == 0">
                AND btp.assistant_1 = #{query.assistantId}
            </if>
            <if test="query.assistantType == 1">
                AND btp.assistant_2 = #{query.assistantId}
            </if>
            <if test="query.assistantType == 2">
                AND btp.assistant_3 = #{query.assistantId}
            </if>
        </where>
        ) btp
        LEFT JOIN base_patient bp ON btp.patient_id = bp.patient_id
        GROUP BY btp.treatment_id
        ) btp
        <where>
            <if test="query.keyword != null and query.keyword != ''">
                and concat(IFNULL(btp.patientName, ''), IFNULL(btp.pinyinName, ''), IFNULL(btp.mobile, '')) like
                concat('%', #{query.keyword}, '%')
            </if>
            <if test="query.treatStartDate != null and query.treatStartDate != ''">
                and DATE_FORMAT(btp.treatStartTime,'%Y-%m-%d') &gt;= DATE_FORMAT(#{query.treatStartDate},'%Y-%m-%d')
            </if>
            <if test="query.treatEndDate != null and query.treatEndDate != ''">
                and DATE_FORMAT(btp.treatStartTime,'%Y-%m-%d') &lt;= DATE_FORMAT(#{query.treatEndDate},'%Y-%m-%d')
            </if>
        </where>
    </select>

    <select id="treatmentList4App" resultType="com.yunya.feign.report.domain.vo.BaseTreatmentProcessVO">
        select
        btp.appointment_id as appointmentId,btp.registered_id as registeredId,btp.treatment_id as treatmentId,btp.org_id
        as orgId,btp.patient_id as patientId,
        btp.treat_status as treatStatus,btp.treat_type as treatType,btp.appoint_status as appointStatus,
        btp.appoint_dentist_id as appointDentistId,btp.appoint_start_time as appointStartTime,
        btp.appoint_duration as appointSuration,btp.appoint_modify_time as appointModifyTime,btp.appoint_content as
        appointContent,btp.registered_dentist_id as registeredDentistId,
        btp.registered_time as registeredTime,btp.treat_start_time as treatStartTime,btp.treat_end_time as
        treatEndTime,btp.assistant_1 as assistant1,btp.assistant_2 as assistant2,
        btp.assistant_3 as assistant3,
        bp.name as patientName,
        bp.gender,
        appointDentistNameBe.employee_name as appointDentistName,
        regDentistNameBe.employee_name as regDentistName
        from base_treatment_process btp
        left join base_patient bp on bp.patient_id = btp.patient_id
        left join base_employee appointDentistNameBe on appointDentistNameBe.user_id = btp.appoint_dentist_id
        left join base_employee regDentistNameBe on regDentistNameBe.user_id = btp.registered_dentist_id
        <where>
            <if test="dentistId != null">
                and #{dentistId} in (btp.appoint_dentist_id,btp.registered_dentist_id)
            </if>
            <if test="orgId != null">
                and btp.org_id = #{orgId}
            </if>
            <if test="currentDate != null and currentDate != ''">
                and date_format(#{currentDate}, '%Y-%m-%d' ) in (date_format( btp.registered_date, '%Y-%m-%d'
                ),date_format( btp.appoint_start_time, '%Y-%m-%d' ))
            </if>
        </where>
        order by btp.appoint_start_time , btp.registered_date desc
    </select>

    <!-- 患者档案-预约信息-履约次数/失约次数/改约次数/取消预约次数 -->
    <select id="appointmentCount" resultType="com.yunya.feign.report.domain.vo.AppointmentCountVO">
        select ifnull(count(btp1.appointment_id), 0) as keepAppointmentCount,
        ifnull(count(btp2.appointment_id), 0) as missAppointmentCount,
        ifnull(sum(btp3.appoint_modify_time), 0) as changeAppointmentCount,
        ifnull(count(btp4.appointment_id), 0) as cancelAppointmentCount
        from base_treatment_process btp
        left join base_treatment_process btp1 on btp1.appointment_id = btp.appointment_id and btp1.treat_status >=0
        left join base_treatment_process btp2
        on btp2.appointment_id = btp.appointment_id and btp2.registered_id is null and btp.appoint_status!=2
        and date_format(btp2.appoint_start_time, '%Y-%m-%d') &lt; date_format(now(), '%Y-%m-%d')
        left join base_treatment_process btp3
        on btp3.appointment_id = btp.appointment_id
        left join base_treatment_process btp4 on btp4.appointment_id = btp.appointment_id and btp4.appoint_status = 2
        <where>
            btp.patient_id = #{patientId}
            <if test="query.orgId != null">
                and btp.org_id = #{query.orgId}
            </if>
            <if test="query.dentistId != null">
                and btp.dentist_id = #{query.patientId}
            </if>
            <if test="query.startDate != null and query.startDate != '' and query.endDate != null and query.endDate != ''">
                and (date_format(btp.appoint_start_time,'%Y-%m-%d') between date_format(${query.startDate},'%Y-%m-%d')
                and date_format(${query.endDate},'%Y-%m-%d'))
            </if>
        </where>
    </select>

    <!-- 查询患者初诊信息 -->
    <select id="selectFirstVisitInfo" resultType="com.yunya.feign.report.domain.vo.PatientTreatInfoVo">
        SELECT
            btp.treatmentId,
            btp.treatDate,
            btp.registered_dentist_id AS treatDentistId,
            be.employee_name AS treatDentistName,
            btp.org_id AS orgId,
            bo.abbreviation AS treatOutpatient
        FROM
            (
            SELECT
                btp.treatmentId,
                DATE_FORMAT( btp1.treat_start_time, '%Y-%m-%d' ) AS treatDate,
                btp1.registered_dentist_id,
                btp1.org_id
            FROM
                ( SELECT min( btp.treatment_id ) AS treatmentId FROM base_treatment_process btp WHERE btp.treat_end_time IS NOT NULL AND btp.patient_id = #{patientId} ) btp
                LEFT JOIN base_treatment_process btp1 ON btp.treatmentId = btp1.treatment_id
            ) btp
            LEFT JOIN base_employee be ON btp.registered_dentist_id = be.user_id
            LEFT JOIN base_organization bo ON btp.org_id = bo.org_id
    </select>

    <!-- 查询患者末次就诊信息 -->
    <select id="selectLastVisitInfo" resultType="com.yunya.feign.report.domain.vo.PatientTreatInfoVo">
        SELECT
            btp.treatmentId,
            btp.treatDate,
            btp.registered_dentist_id AS treatDentistId,
            be.employee_name AS treatDentistName,
            btp.org_id AS orgId,
            bo.abbreviation AS treatOutpatient
        FROM
            (
            SELECT
                btp.treatmentId,
                DATE_FORMAT( btp1.treat_start_time, '%Y-%m-%d' ) AS treatDate,
                btp1.registered_dentist_id,
                btp1.org_id
            FROM
                ( SELECT max( btp.treatment_id ) AS treatmentId FROM base_treatment_process btp WHERE btp.treat_end_time IS NOT NULL AND btp.patient_id = #{patientId} ) btp
                LEFT JOIN base_treatment_process btp1 ON btp.treatmentId = btp1.treatment_id
            ) btp
            LEFT JOIN base_employee be ON btp.registered_dentist_id = be.user_id
            LEFT JOIN base_organization bo ON btp.org_id = bo.org_id
    </select>

    <!-- 根据条件查询初诊患者来源分布 -->
    <select id="selectPatientFirstTreatOriginList"
            resultType="com.yunya.feign.report.domain.vo.PatientFirstTreatOriginVO">
        SELECT
        IFNULL(btp.origin_type, 0) AS patientOriginTypeId,
        IFNULL( btp.origin_type_name, '其他' ) AS patientOriginTypeName,
        COUNT(distinct patient_id ) AS firstTreatCount
        FROM
        (
        SELECT
        btp.patient_id,
        bp.origin_type,
        bp.origin_type_name
        FROM
        base_treatment_process btp
        LEFT JOIN base_patient bp ON btp.patient_id = bp.patient_id
        <where>
            AND btp.treat_type = 0
            AND btp.treat_end_time IS NOT NULL
            <if test="query.orgId != null">
                AND btp.org_id = #{query.orgId}
            </if>
            <if test="query.startDate != null and query.startDate != ''">
                AND DATE_FORMAT( btp.treat_end_time, '%Y-%m' ) &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                AND DATE_FORMAT( btp.treat_end_time, '%Y-%m' ) &lt;= #{query.endDate}
            </if>
        </where>
        ) btp
        GROUP BY
        btp.origin_type,
        btp.origin_type_name
    </select>

    <!-- 根据条件查询初诊患者总数 -->
    <select id="selectFirstTreatTotalCount" resultType="java.lang.Integer">
        select
        COUNT(distinct patient_id ) AS patientCount
        from
        base_treatment_process btp
        <where>
            AND btp.treat_type = 0
            AND btp.treat_end_time IS NOT NULL
            <if test="query.orgId != null">
                AND btp.org_id = #{query.orgId}
            </if>
            <if test="query.startDate != null and query.startDate != ''">
                AND DATE_FORMAT( btp.treat_end_time, '%Y-%m' ) &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                AND DATE_FORMAT( btp.treat_end_time, '%Y-%m' ) &lt;= #{query.endDate}
            </if>
        </where>
    </select>

    <!-- 预约相关信息 -->
    <select id="selectPatientAppointmentInfo"
            resultType="com.yunya.feign.report.domain.vo.PatientAppointmentInfoVO">
        SELECT
        btp.totalReservation,
        btp1.totalPerformance,
        btp2.totalMissedAppointment ,
        btp3.numberOfVisits
        FROM
        ( SELECT COUNT( btp.appointment_id ) AS totalReservation FROM base_treatment_process btp WHERE btp.patient_id =
        #{patientId} AND btp.appoint_status != 2 ) btp,(
        SELECT
        COUNT( btp.appointment_id ) AS totalPerformance
        FROM
        base_treatment_process btp
        WHERE
        btp.patient_id = #{patientId}
        AND btp.appoint_status != 2
        AND btp.registered_id IS NOT NULL
        ) btp1,
        (
        SELECT
        COUNT( btp.appointment_id ) AS totalMissedAppointment
        FROM
        base_treatment_process btp
        WHERE
        btp.patient_id = #{patientId}
        AND btp.appoint_status != 2
        AND btp.registered_id IS NULL
        AND date_format( btp.appoint_start_time, '%Y-%m-%d' ) &lt; date_format( now(), '%Y-%m-%d' )
        ) btp2,
        ( SELECT COUNT( btp.treatment_id ) AS numberOfVisits FROM base_treatment_process btp WHERE btp.patient_id = #{patientId}
        AND btp.treat_end_time IS NOT NULL ) btp3
    </select>
    <select id="firstVisitRecord" resultType="com.yunya.feign.report.domain.vo.FirstVisitVO">
    SELECT distinct
	btp.registered_dentist_id as registeredDentistId,
	be.employee_name as registeredDentistName,
	count(*) as count
    FROM
	base_treatment_process btp
    left join base_employee be on btp.registered_dentist_id = be.user_id
    <where>
	btp.treat_status IN (3, 4)
	and btp.treat_type = 0
        <if test="orgId != null">
            AND btp.org_id = #{orgId}
        </if>
        <if test="registeredDentistIds.size > 0">
            AND btp.registered_dentist_id in
            <foreach collection="registeredDentistIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="userStatus.length > 0">
            AND be.work_status in
            <foreach collection="userStatus" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="startDate != null and startDate != ''">
            AND DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            AND DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &lt;= #{endDate}
        </if>
    </where>
    GROUP BY
	btp.registered_dentist_id
	order by btp.treat_start_time
    </select>
    <select id="firstVisitRecordCount" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM
        base_treatment_process btp
        left join base_employee be on btp.registered_dentist_id = be.user_id
        <where>
            btp.treat_status IN (3, 4)
            and btp.treat_type = 0
            <if test="orgId != null">
                AND btp.org_id = #{orgId}
            </if>
            <if test="registeredDentistIds.size > 0">
                AND btp.registered_dentist_id in
                <foreach collection="registeredDentistIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="userStatus.length > 0">
                AND be.work_status in
                <foreach collection="userStatus" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="startDate != null and startDate != ''">
                AND DATE_FORMAT( btp.treat_end_time, '%Y-%m-%d' ) &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND DATE_FORMAT( btp.treat_end_time, '%Y-%m-%d' ) &lt;= #{endDate}
            </if>
        </where>
    </select>
    <select id="firstVisitRecordDetail" resultType="com.yunya.feign.report.domain.vo.FirstVisitDetailVO">
        SELECT distinct
        bo.abbreviation AS orgName,
        DATE_FORMAT(btp.treat_start_time, '%Y-%m-%d') AS firstVisitTime,
        btp.patient_id as patientId,
        bp.`name` AS patientName,
        bp.mobile,
        bp.origin_type_name AS originTypeName,

        case when bp.origin_type = 1 then betwo.employee_name
             when bp.origin_type = 2 then bptwo.name
             ELSE bpo.`name` END
             AS originName,

        ntp.appoint_content as nextAppointContent,
        DATE_FORMAT(ntp.appoint_start_time, '%Y-%m-%d') as nextAppointmentTime,
        vtp.content as nextRemindcontent,
        DATE_FORMAT(vtp.time, '%Y-%m-%d') as nextRemindTime
        FROM
        base_treatment_process btp
        LEFT JOIN base_employee be ON btp.registered_dentist_id = be.user_id
        LEFT JOIN base_patient bp ON btp.patient_id = bp.patient_id
        LEFT JOIN base_employee betwo ON bp.origin_id = betwo.user_id
        LEFT JOIN base_patient bptwo ON bp.origin_id = bptwo.patient_id
        LEFT JOIN base_organization bo ON btp.org_id = bo.org_id
        LEFT JOIN base_patient_origin bpo ON bp.origin_id = bpo.id
        LEFT JOIN (SELECT DISTINCT
        patient_id,appoint_content,appoint_start_time
        FROM
        base_treatment_process
        where appoint_start_time > NOW() and appoint_status in (0,1) and (patient_id,appoint_start_time) in(
        select patient_id,min(appoint_start_time)FROM
        base_treatment_process
        where appoint_start_time > NOW()  and appoint_status in (0,1)   GROUP BY patient_id)) ntp on btp.patient_id = ntp.patient_id
        LEFT JOIN (
        select DISTINCT patient_id,content,time FROM base_visit_remind
        where time > NOW() and type = 1 and (patient_id,time) in
        (select patient_id,min(time) FROM base_visit_remind where time > NOW() and type = 1  GROUP BY patient_id)) vtp on btp.patient_id = vtp.patient_id
        <where>
            btp.treat_status IN (3, 4)
            and btp.treat_type = 0
            <if test="orgId != null">
                AND btp.org_id = #{orgId}
            </if>
            <if test="registeredDentistIds.size > 0">
                AND btp.registered_dentist_id in
                <foreach collection="registeredDentistIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="userStatus.length > 0">
                AND be.work_status in
                <foreach collection="userStatus" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="startDate != null and startDate != ''">
                AND DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &lt;= #{endDate}
            </if>
            AND concat(IFNULL(bp.`name`,''),
            IFNULL(bp.medical_number,''),
            IFNULL(bp.pinyin_name,''),
            IFNULL(bp.mobile,''))
            like concat(concat('%', rtrim(#{patientName})), '%')
        </where>
        order by btp.treat_start_time
    </select>
    <select id="firstVisitRecordPersonalList" resultType="com.yunya.feign.report.domain.vo.FirstVisitPersonalVO">
        SELECT distinct
        btp.org_id as orgId,
        btp.registered_dentist_id as registeredDentistId,
        bo.abbreviation as orgName,
        be.employee_name as registeredDentistName,
        count(*) as count
        FROM
        base_treatment_process btp
        left join base_employee be on btp.registered_dentist_id = be.user_id
        left join base_organization bo on btp.org_id = bo.org_id
        <where>
            btp.treat_status IN (3, 4)
            and btp.treat_type = 0
            <if test="orgId != null">
                AND btp.org_id = #{orgId}
            </if>
            <if test="userId != null">
                AND btp.registered_dentist_id = #{userId}
            </if>
            <if test="startDate != null and startDate != ''">
                AND DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &lt;= #{endDate}
            </if>
        </where>
        GROUP BY
        btp.registered_dentist_id,btp.org_id
        order by btp.treat_start_time
    </select>
</mapper>