<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.report.ultimate.mapper.BaseCouponMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseCoupon">
        <result column="coupon_id" jdbcType="INTEGER" property="couponId" />
        <result column="coupon_name" jdbcType="VARCHAR" property="couponName" />
        <result column="product_type_id" jdbcType="INTEGER" property="productTypeId" />
        <result column="product_type_name" jdbcType="VARCHAR" property="productTypeName" />
        <result column="coupon_type" jdbcType="TINYINT" property="couponType" />
        <result column="crt_id" jdbcType="INTEGER" property="crtId" />
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
        <result column="sold_amount" jdbcType="DECIMAL" property="soldAmount" />
        <result column="bonus" jdbcType="DECIMAL" property="bonus" />
        <result column="workload_rate" jdbcType="DECIMAL" property="workloadRate" />
        <result column="activation_deadline" jdbcType="TIMESTAMP" property="activationDeadline" />
        <result column="effective_days" jdbcType="INTEGER" property="effectiveDays" />
    </resultMap>

    <select id="listCouponStatistics" resultType="com.yunya.feign.report.domain.vo.CouponStatisticsVo">
        select
            `bc`.`coupon_id`,
            `bc`.`coupon_name`,
            `bc`.`product_type_name`                        as `couponCategoryName`,
            `bc`.`crt_time`                                 as `crtDate`,
            `bc`.`coupon_type`,
            `bc`.`sold_amount`,
            `be`.`employee_name`                            as `crtUser`,
            ifnull(sum(`b`.`status` in (0, 1, 2, 3, 4)),0)  as `generatedQuantity`,
            ifnull(sum(`b`.`status` in (1, 2, 3, 4)),0)     as `soldQuantity`,
            ifnull(sum(`b`.`status` in (2, 3, 4)),0)        as `activatedQuantity`,
            ifnull(sum(`b`.`status` in (3, 4)),0)           as `usedQuantity`
        from `base_coupon` `bc`
             left join `base_card` `b` on `bc`.`coupon_id` = `b`.`coupon_id`
             left join `base_employee` `be` on `bc`.`crt_id` = `be`.`user_id`
        <where>
            <if test="couponName !=null and couponName != ''">
                and `bc`.`coupon_name` like concat('%', #{couponName}, '%')
            </if>
            <if test="couponCategoryIds != null and couponCategoryIds.size() > 0">
                and `bc`.`product_type_id` in
                <foreach collection="couponCategoryIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="couponTypes != null and couponTypes.size() > 0">
                and `bc`.`coupon_type` in
                <foreach collection="couponTypes" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by `bc`.`coupon_id`,`bc`.`crt_time`
        order by `bc`.`crt_time` desc
    </select>

    <select id="listCouponSold" resultType="com.yunya.feign.report.domain.vo.CouponSoldStatisticsVo">
        select
            `bc`.`coupon_id`,
            `bc`.`coupon_name`,
            `bc`.`product_type_name`            as `couponCategoryName`,
            `bc`.`crt_time`                     as `crtDate`,
            `bc`.`coupon_type`,
            `bc`.`sold_amount`,
            `be`.`employee_name`                as `crtUser`,
            ifnull(sum(`b`.`status` in (1, 2, 3, 4)
                and b.allocate_org_id != 0),0)  as `ownPlatformSoldQuantity`,
            case
                when bc.coupon_type = 4 then null
                else ifnull(sum(`b`.`status` in (2, 3, 4)
                    and b.allocate_org_id = 0),0)
                end                             as `thirdPartyActivatedQuantity`
        from `base_coupon` `bc`
             left join `base_card` `b` on `bc`.`coupon_id` = `b`.`coupon_id`
             left join `base_employee` `be` on `bc`.`crt_id` = `be`.`user_id`
        <where>
            <if test="couponName !=null and couponName != ''">
                and `bc`.`coupon_name` like concat('%', #{couponName}, '%')
            </if>
            <if test="couponCategoryIds != null and couponCategoryIds.size() > 0">
                and `bc`.`product_type_id` in
                <foreach collection="couponCategoryIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="couponTypes != null and couponTypes.size() > 0">
                and `bc`.`coupon_type` in
                <foreach collection="couponTypes" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="crtStartDate != null and crtEndDate != null">
                and (DATE_FORMAT(`bc`.`crt_time`,'%Y-%m-%d') between DATE_FORMAT(#{crtStartDate},'%Y-%m-%d') and DATE_FORMAT(#{crtEndDate},'%Y-%m-%d'))
            </if>
        </where>
        group by `bc`.`coupon_id`, `bc`.`crt_time`
        order by `bc`.`crt_time` desc
    </select>

    <select id="listCouponUsedByParam" resultType="com.yunya.feign.report.domain.vo.CouponUsedVo">
        select
            `bc`.`coupon_id`,
            `bc`.`coupon_name`,
            `bc`.`product_type_name`                        as `couponCategoryName`,
            `bc`.`crt_time`                                 as `crtDate`,
            `bc`.`coupon_type`,
            `bc`.`sold_amount`,
            `be`.`employee_name`                            as `crtUser`,
            ifnull(sum(`b`.`status` in (2, 3, 4)),0)        as `activatedQuantity`,
            ifnull(sum(`b`.`status` in (3, 4)),0)           as `usedQuantity`
        from `base_coupon` `bc`
            left join `base_card` `b` on `bc`.`coupon_id` = `b`.`coupon_id`
            left join `base_employee` `be` on `bc`.`crt_id` = `be`.`user_id`
        <where>
            `bc`.`coupon_type` != 4
            <if test="couponName !=null and couponName != ''">
                and `bc`.`coupon_name` like concat('%', #{couponName}, '%')
            </if>
            <if test="couponCategoryIds != null and couponCategoryIds.size() > 0">
                and `bc`.`product_type_id` in
                <foreach collection="couponCategoryIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="couponTypes != null and couponTypes.size() > 0">
                and `bc`.`coupon_type` in
                <foreach collection="couponTypes" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by `bc`.`coupon_id`,`bc`.`crt_time`
        order by `bc`.`crt_time` desc
    </select>

    <select id="listRechargeByParam" resultType="com.yunya.feign.report.domain.vo.RechargeVo">
        select
                `bc`.`coupon_id`,
                `bc`.`coupon_name`,
                `bc`.`product_type_name`                        as `couponCategoryName`,
                `bc`.`crt_time`                                 as `crtDate`,
                `bc`.`sold_amount`,
                `be`.`employee_name`                            as `crtUser`,
                ifnull(sum(`b`.`status` in (0, 1, 2, 3, 4)),0)  as `generatedQuantity`,
                ifnull(sum(`b`.`status` in (1, 2, 3, 4)),0)     as `soldQuantity`,
                ifnull(sum(`b`.`status` = 2),0)                 as `activatedQuantity`,
                ifnull(sum(`b`.`status` in (2,4)),0)            as `rechargeQuantity`
        from `base_coupon` `bc`
            left join `base_card` `b` on `bc`.`coupon_id` = `b`.`coupon_id`
            left join `base_employee` `be` on `bc`.`crt_id` = `be`.`user_id`
        <where>
            `bc`.`coupon_type` = 4
            <if test="couponName !=null and couponName != ''">
                and `bc`.`coupon_name` like concat('%', #{couponName}, '%')
            </if>
            <if test="couponCategoryIds != null and couponCategoryIds.size() > 0">
                and `bc`.`product_type_id` in
                <foreach collection="couponCategoryIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by `bc`.`coupon_id`,`bc`.`crt_time`
        order by `bc`.`crt_time` desc
    </select>

    <select id="listCouponActive" resultType="com.yunya.feign.report.domain.vo.CouponActiveVo">
        select
            `bc`.`coupon_id`,
            `bc`.`coupon_name`,
            `bo`.`abbreviation` as `orgName`,
            `bo`.`org_id`,
            case
                when `bc`.`coupon_type` = 0 then '代金券'
                when `bc`.`coupon_type` = 1 then '折扣券'
                when `bc`.`coupon_type` = 2 then '兑换券'
                when `bc`.`coupon_type` = 3 then '套餐券'
                when `bc`.`coupon_type` = 4 then '充值卡'
                else null
                end as `couponTypeName`,
            `bd`.`sale_channel_id`,
            `bd`.`sale_channel_name`,
             count(*) as `activatedQuantity`
        from `base_coupon` `bc`
             inner join `base_card` `bd` on `bc`.`coupon_id` = `bd`.`coupon_id`
             inner join `base_organization` `bo` on `bo`.`org_id` = `bd`.`active_org_id`
        <where>
            isnull(`bd`.`sale_channel_id`) = 0
            <if test="soldChannelIds != null and soldChannelIds.size() > 0">
                and `bd`.`sale_channel_id` in
                <foreach collection="soldChannelIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="activeOrgIds != null and activeOrgIds.size() > 0">
                and `bd`.`active_org_id` in
                <foreach collection="activeOrgIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="couponName !=null and couponName != ''">
                and `bc`.`coupon_name` like concat('%', #{couponName}, '%')
            </if>
        </where>
        group by `bd`.`coupon_id`, `bd`.`sale_channel_id`, `bd`.`active_org_id`
        order by `bd`.`coupon_id`
    </select>

    <select id="couponActivedGroupByOrgId" resultType="com.yunya.feign.report.domain.vo.CouponActiveVo">
        SELECT
        bd.coupon_id AS couponId,
        bd.active_org_id AS orgId,
        COUNT(1) AS activatedQuantity
        FROM base_coupon bc
        INNER JOIN base_card bd ON bc.coupon_id = bd.coupon_id
        <where>
            ISNULL(bd.sale_channel_id) = 0
            <if test="query.couponIds!=null and query.couponIds.size()>0">
                and bc.coupon_id IN
                <foreach collection="query.couponIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.orgIds!=null and query.orgIds.size()>0">
                and bd.active_org_id IN
                <foreach collection="query.orgIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT(bd.active_date, '%Y-%m-%d') &gt;= DATE_FORMAT(#{query.startDate},'%Y-%m-%d')
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT(bd.active_date, '%Y-%m-%d') &lt;= DATE_FORMAT(#{query.endDate},'%Y-%m-%d')
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT(bd.active_date, '%Y-%m') &gt;= DATE_FORMAT(#{query.startDate},'%Y-%m')
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT(bd.active_date, '%Y-%m') &lt;= DATE_FORMAT(#{query.endDate},'%Y-%m-%d')
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT(bd.active_date, '%Y') &gt;= DATE_FORMAT(#{query.startDate},'%Y')
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT(bd.active_date, '%Y') &lt;= DATE_FORMAT(#{query.endDate},'%Y')
                </if>
            </if>
        </where>
        GROUP BY bd.coupon_id, bd.active_org_id
        ORDER BY bd.coupon_id
    </select>
</mapper>