<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BasePatientOriginLogMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.report.BasePatientOriginLog" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="origin_type" property="originType" jdbcType="INTEGER" />
    <result column="origin_id" property="originId" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upt_id" property="uptId" jdbcType="INTEGER" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="findEmployeeVoLists" resultType="com.yunya.feign.patient_central.domain.vo.web.PatientOriginEmployeeVo">
      select * from (
          SELECT
              DISTINCT
              ee.user_id  originId,
              ee.employee_name referrerName,
              CASE

              WHEN ee.work_status = 0 THEN
              '试用'
              WHEN ee.work_status = 1 THEN
              '正式'
              WHEN ee.work_status = 2 THEN
              '离职'
              WHEN ee.work_status = 3 THEN
              '实习' ELSE ''
              END workStatus,
              (select count(1) from base_patient_origin_log where origin_type = 1
              AND inservice = 1 and origin_id = ee.user_id  ) patientNumber

          FROM base_employee ee
          JOIN base_user_post bup ON bup.user_id = ee.user_id
          WHERE
                1 = 1
              <if test="query.workStatus != null and query.workStatus != ''">
                  and ee.work_status = #{query.workStatus}
              </if>

              <if test="query.orgIds != null and query.orgIds.size() > 0">
                  and bup.org_id in
                  <foreach collection="query.orgIds" item="orgId" open="(" separator="," close=")">
                      #{orgId}
                  </foreach>
              </if>

              <if test="query.employeeId != null">
                  and ee.user_id = #{query.employeeId}
              </if>

              <if test="query.referrerName != null and query.referrerName != ''">
                  and concat( IFNULL( ee.`employee_name`, '' ))
                  LIKE concat( concat( '%', #{query.referrerName} ), '%' )
              </if>
              ORDER BY patientNumber desc
      ) t where t.patientNumber > 0

  </select>

    <!-- 查询订单项目实收计算 -->
    <select id="findReceivedTotalWorkload"
            resultType="com.yunya.feign.patient_central.domain.vo.web.ReceivedTotalWorkloadVo">
            select bill_id,patient_id,actual_amount,orderWorkload
            from  (
                SELECT
                    bb.bill_id,

                    bb.patient_id,
                    bb.actual_amount,
                    (
                        select TRUNCATE (SUM(((price * quantity) - discount_amount)) / bb.actual_amount,2)
                        from base_bill_detail bbd
                        where bbd.bill_id = bb.bill_id and bbd.executor_id is not null
                    ) as orderWorkload
                FROM
                    base_bill bb
                    where
                     bb.actual_amount > 0
                    <if test="list.size() > 0">
                        and bb.bill_id in
                        <foreach collection="list" item="billId" open="(" separator="," close=")">
                            #{billId}
                        </foreach>
                    </if>
                     GROUP BY bb.bill_id

                   ) t  where t.OrderWorkload > 0

    </select>

    <select id="findActivityVoLists" resultType="com.yunya.feign.patient_central.domain.vo.web.PatientOriginActivityVo">
        select * from (
        select
        bpo.id originId,
        bpo.name activityName,
        (
        select count(1) from base_patient_origin_log
        where origin_type = 3
        AND inservice = 1
        and origin_id = bpo.id
        ) patientNumber

        from base_patient_origin bpo
        where bpo.origin_type = 3
        and bpo.parent_id != 0
        <if test="query.activityIds != null and query.activityIds.size() > 0">
            and bpo.id in
            <foreach collection="query.activityIds" item="activityId" open="(" separator="," close=")">
                #{activityId}
            </foreach>
        </if>
        ORDER BY patientNumber desc
        ) t where t.patientNumber > 0
    </select>


</mapper>