<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BaseCouponItemMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseCouponItem">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="coupon_id" property="couponId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="choice_rang_type" property="choiceRangType" jdbcType="TINYINT"/>
        <result column="item_id" property="itemId" jdbcType="INTEGER"/>
        <result column="sale_unit_price" property="saleUnitPrice" jdbcType="DECIMAL"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="workload_load" property="workloadLoad" jdbcType="DECIMAL"/>
    </resultMap>

</mapper>