<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BasePatientMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.report.BasePatient" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="medical_number" property="medicalNumber" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="origin_type" property="originType" jdbcType="INTEGER" />
    <result column="origin_id" property="originId" jdbcType="INTEGER" />
    <result column="gender" property="gender" jdbcType="TINYINT" />
    <result column="first_visit_date" property="firstVisitDate" jdbcType="TIMESTAMP" />
    <result column="first_visit_outpatient" property="firstVisitOutpatient" jdbcType="VARCHAR" />
    <result column="first_visit_doctors" property="firstVisitDoctors" jdbcType="VARCHAR" />
    <result column="last_visit_date" property="lastVisitDate" jdbcType="TIMESTAMP" />
    <result column="last_visit_outpatient" property="lastVisitOutpatient" jdbcType="VARCHAR" />
    <result column="last_visit_doctors" property="lastVisitDoctors" jdbcType="VARCHAR" />
    <result column="cumulative_consumption" property="cumulativeConsumption" jdbcType="INTEGER" />
    <result column="total_arrears" property="totalArrears" jdbcType="INTEGER" />
    <result column="number_of_visits" property="numberOfVisits" jdbcType="INTEGER" />
  </resultMap>

  <!-- 根据姓名/手机号/拼音姓名 -->
  <select id="selectKilePatientId" resultType="java.lang.Integer">
      select patient_id
      from base_patient
      where concat(IFNULL(name,''),IFNULL(pinyin_name,''),IFNULL(mobile,''))
      like concat(concat('%',#{combination}),'%')
    </select>

  <!-- 患者报表-未复诊预约且未提醒List -->
  <select id="selectNotSeenList" resultType="com.yunya.feign.report.domain.vo.BasePatientNotSeenVo">
      select
        bp.last_visit_date lastVisitDate,
        bp.name,
        bp.mobile,
        case when btp.treat_type = 0 then '初诊'
             when btp.treat_type = 1 then '复诊'
        end as treatType,
        be.employee_name employeeName
      from base_patient bp
        join base_treatment_process btp on btp.patient_id = bp.patient_id
        join base_employee be on be.user_id = bp.last_visit_doctors
    <where>
      <if test="form.orgId != null and form.orgId != ''">
        AND bp.org_id = #{form.orgId}
      </if>

      <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
        AND bp.last_visit_date &gt;= #{form.startDate} 
        AND bp.last_visit_date &lt;= #{form.endDate}
      </if>

      <if test="form.attendingDoctors != null and form.attendingDoctors.size() > 0 ">
        AND bp.last_visit_doctors in
        <foreach collection="form.attendingDoctors" item="attendingDoctor" index="index" open="(" close=")" separator=",">
          #{attendingDoctor}
        </foreach>
      </if>

      <if test="patientIds != null and patientIds.size() > 0 ">
        AND bp.patient_id in
        <foreach collection="patientIds" item="ids" index="index" open="(" close=")" separator=",">
          #{ids}
        </foreach>
      </if>

      <if test="form.treatTypes != null and form.treatTypes.size() > 0 ">
        AND btp.treat_type in
        <foreach collection="form.treatTypes" item="treatType" index="index" open="(" close=")" separator=",">
          #{treatType}
        </foreach>
      </if>

    </where>
    group by bp.last_visit_date desc
  </select>

</mapper>