<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BasePatientMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.report.BasePatient" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="medical_number" property="medicalNumber" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="origin_type" property="originType" jdbcType="INTEGER" />
    <result column="origin_id" property="originId" jdbcType="INTEGER" />
    <result column="gender" property="gender" jdbcType="TINYINT" />
    <result column="first_visit_date" property="firstVisitDate" jdbcType="TIMESTAMP" />
    <result column="first_visit_outpatient" property="firstVisitOutpatient" jdbcType="VARCHAR" />
    <result column="first_visit_doctors" property="firstVisitDoctors" jdbcType="VARCHAR" />
    <result column="last_visit_date" property="lastVisitDate" jdbcType="TIMESTAMP" />
    <result column="last_visit_outpatient" property="lastVisitOutpatient" jdbcType="VARCHAR" />
    <result column="last_visit_doctors" property="lastVisitDoctors" jdbcType="VARCHAR" />
    <result column="cumulative_consumption" property="cumulativeConsumption" jdbcType="INTEGER" />
    <result column="total_arrears" property="totalArrears" jdbcType="INTEGER" />
    <result column="number_of_visits" property="numberOfVisits" jdbcType="INTEGER" />
  </resultMap>

  <!-- 根据姓名/手机号/拼音姓名 -->
  <select id="selectKilePatientId" resultType="java.lang.Integer">
      select patient_id
      from base_patient
      where concat(IFNULL(name,''),IFNULL(pinyin_name,''),IFNULL(mobile,''))
      like concat(concat('%',#{combination}),'%')
    </select>

  <!-- 患者报表-未复诊预约且未提醒List -->
  <select id="selectNotSeenList" resultType="com.yunya.feign.report.domain.vo.BasePatientNotSeenVo">

    select
      date_format(treatStartTime,"%Y-%m-%d") lastVisitDate,
      name name,
      mobile mobile,
      treatType treatType,
      employee_name employeeName
    from (
          select  treatStartTime,
                  patient_id,
                  name,
                  mobile,
                  CASE
                  WHEN treat_type = 0 THEN
                  '初诊'
                  WHEN treat_type = 1 THEN
                  '复诊'
                  END AS treatType,
                  employee_name,
                  pinyin_name,
                  registered_dentist_id
          from (
                select t1.*,bp.name, bp.mobile ,bp.pinyin_name,be.employee_name
                from (
                  select t1.patient_id, t1.org_id, t1.treat_start_time treatStartTime, t1.treat_type, t1.registered_dentist_id
                  from base_treatment_process t1 join (select t2.patient_id ,max(t2.treat_start_time) treatStartTime from base_treatment_process t2 group by t2.patient_id ) s1
                  on t1.patient_id = s1.patient_id
                  and t1.treat_start_time IS NOT NULL
                  and t1.treat_start_time = s1.treatStartTime
               ) t1
                left join base_patient bp on t1.patient_id = bp.patient_id
                left join base_employee be on t1.registered_dentist_id = be.user_id
                <where>
                    t1.org_id = #{form.orgId}
                  <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
                    and DATE_FORMAT(t1.treatStartTime, "%Y-%m-%d") &gt;= DATE_FORMAT(#{form.startDate}, "%Y-%m-%d")
                    and DATE_FORMAT(t1.treatStartTime, "%Y-%m-%d") &lt;= DATE_FORMAT(#{form.endDate}, "%Y-%m-%d")
                  </if>
                </where>
          ) t2
          <where>
            <if test="form.combination != null and form.combination != ''">
              concat(IFNULL(name,''),IFNULL(pinyin_name,''),IFNULL(mobile,'')) like concat(concat('%',#{form.combination}),'%')
            </if>
            <if test="form.treatTypes != null and form.treatTypes.size() > 0 ">
              AND treat_type in
              <foreach collection="form.treatTypes" item="treatType" index="index" open="(" close=")" separator=",">
                #{treatType}
              </foreach>
            </if>

            <if test="form.attendingDoctors.size() > 0 ">
              AND registered_dentist_id in
              <foreach collection="form.attendingDoctors" item="registeredDentistId" index="index" open="(" close=")" separator=",">
                #{registeredDentistId}
              </foreach>
            </if>

          </where>

    ) t3

      where
        0 = (
        select count(*)
        from base_treatment_process a
        where a.patient_id = t3.patient_id
        and DATE_FORMAT(a.appoint_start_time, "%Y-%m-%d") >= DATE_FORMAT(NOW(), "%Y-%m-%d")
        )

        and

        0 = (
        select count(*)
        from base_visit_remind a
        where a.patient_id = t3.patient_id
        and  type = 1
        and DATE_FORMAT(time, "%Y-%m-%d") >= DATE_FORMAT(NOW(), "%Y-%m-%d")
      )

  </select>
  <!-- 查询来源类型总数量 -->
  <select id="selectCountOriginType" resultType="java.lang.Integer">
    select count(bp.origin_type)
    from base_patient bp
    <where>
       bp.origin_type_name is not null
       and bp.origin_type is not null
      <if test="form.orgId != null and form.orgId != ''">
        AND bp.org_id = #{form.orgId}
      </if>

      <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
        AND cast(bp.patient_crt_time as date) between #{form.startDate} and #{form.endDate}
      </if>

      <if test="form.monthDay != null and form.monthDay != ''">
        AND DATE_FORMAT(bp.patient_crt_time,'%Y-%m') = #{form.monthDay}
      </if>

      <if test="form.year != null and form.year != ''">
        AND year(bp.patient_crt_time) =#{form.year}
      </if>
    </where>

  </select>
  <!-- 查询来患者源类型占比 -->
  <select id="analysis" resultType="com.yunya.feign.report.domain.vo.AnalysisPatientOriginVo">
    select
      bp.origin_type originType,
      bp.origin_type_name originTypeName,
      count(bp.origin_type) countType,
      concat( format(count(bp.origin_type) / ${countOriginType} * 100, 2 ),'%') percentage
    from base_patient bp
    <where>
      bp.origin_type_name is not null
      and bp.origin_type is not null
      <if test="form.orgId != null and form.orgId != ''">
        AND bp.org_id = #{form.orgId}
      </if>

      <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
        AND cast(bp.patient_crt_time as date) between #{form.startDate} and #{form.endDate}
      </if>

      <if test="form.monthDay != null and form.monthDay != ''">
        AND DATE_FORMAT(bp.patient_crt_time,'%Y-%m') = #{form.monthDay}
      </if>

      <if test="form.year != null and form.year != ''">
        AND year(bp.patient_crt_time) = #{form.year}
      </if>
    </where>
    group by  bp.origin_type
  </select>

  <!-- 查询性别总数量 -->
  <select id="selectCountGender" resultType="java.lang.Integer">
    select count(bp.gender)
    from base_patient bp
    <where>
      bp.gender is not null
      <if test="form.orgId != null and form.orgId != ''">
        AND bp.org_id = #{form.orgId}
      </if>

      <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
        AND cast(bp.patient_crt_time as date) between #{form.startDate} and #{form.endDate}
      </if>

      <if test="form.monthDay != null and form.monthDay != ''">
        AND DATE_FORMAT(bp.patient_crt_time,'%Y-%m') = #{form.monthDay}
      </if>

      <if test="form.year != null and form.year != ''">
        AND year(bp.patient_crt_time) =#{form.year}
      </if>
    </where>
  </select>

  <!-- 查询男女类型占比 -->
  <select id="selectAnalysisPatientGender" resultType="com.yunya.feign.report.domain.vo.AnalysisPatientGenderVo">
     select
      case when bp.gender = 0 then '男'
           when bp.gender = 1 then '女'
      end gender,
      count(bp.gender) countGender,
      concat( format(count(bp.gender) / ${countGender} * 100, 2 ),'%') percentage
    from base_patient bp
    <where>
      bp.gender is not null
      <if test="form.orgId != null and form.orgId != ''">
        AND bp.org_id = #{form.orgId}
      </if>

      <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
        AND cast(bp.patient_crt_time as date) between #{form.startDate} and #{form.endDate}
      </if>

      <if test="form.monthDay != null and form.monthDay != ''">
        AND DATE_FORMAT(bp.patient_crt_time,'%Y-%m') = #{form.monthDay}
      </if>

      <if test="form.year != null and form.year != ''">
        AND year(bp.patient_crt_time) =#{form.year}
      </if>
    </where>
    group by bp.gender
  </select>

  <!-- 查询时间段内 患者个数 -->
  <select id="selectCountAnalysisAge" resultType="java.lang.Integer">
    select count(1) from base_patient bp
    <where>
      bp.birthday is not null
      <if test="form.orgId != null and form.orgId != ''">
        AND bp.org_id = #{form.orgId}
      </if>

      <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
        AND cast(bp.patient_crt_time as date) between #{form.startDate} and #{form.endDate}
      </if>

      <if test="form.monthDay != null and form.monthDay != ''">
        AND DATE_FORMAT(bp.patient_crt_time,'%Y-%m') = #{form.monthDay}
      </if>

      <if test="form.year != null and form.year != ''">
        AND year(bp.patient_crt_time) =#{form.year}
      </if>
    </where>
  </select>


    <!--
   -->
  <!-- 根据条件查询 年龄段患者数量 -->
  <select id="selectAnalysisAge" resultType="java.lang.Integer">
    select count(1) from base_patient bp
    <where>
      bp.birthday is not null
      <if test="form.orgId != null and form.orgId != ''">
        AND bp.org_id = #{form.orgId}
      </if>

      <if test="ageOne != null and ageOne != '' and ageOne > 0">
        AND ( DATE_FORMAT(now(),'%Y-%m-%d') - DATE_FORMAT(bp.birthday,'%Y-%m-%d') ) &lt;= #{ageOne}
      </if>

      <if test="ageTwo != null and ageTwo != '' and ageTwo > 0">
         AND ( DATE_FORMAT(now(),'%Y-%m-%d') - DATE_FORMAT(bp.birthday,'%Y-%m-%d') ) &gt;= #{ageTwo}
      </if>

      <if test="ageThree != null and ageThree != '' and ageThree > 0">
        AND ( DATE_FORMAT(now(),'%Y-%m') - DATE_FORMAT(bp.birthday,'%Y-%m') ) &lt;= #{ageThree}
      </if>

      <if test="form.startDate != null and form.startDate != '' and form.endDate != null and form.endDate != '' ">
        AND cast(bp.patient_crt_time as date) between #{form.startDate} and #{form.endDate}
      </if>

      <if test="form.monthDay != null and form.monthDay != ''">
        AND DATE_FORMAT(bp.patient_crt_time,'%Y-%m') = #{form.monthDay}
      </if>

      <if test="form.year != null and form.year != ''">
        AND year(bp.patient_crt_time) =#{form.year}
      </if>

    </where>
  </select>

  <!-- 计算百分比 -->
  <select id="calculateAgePercentage" resultType="java.lang.String">
    select concat( format( ${countAge} / ${count} * 100, 2 ),'%') percentage
  </select>

  <!-- 根据患者id查询患者预约信息 -->
  <select id="findPatientDataVo" resultType="com.yunya.feign.report.domain.vo.PatientDataVo">
    SELECT
        patient_id patientId,
        first_visit_date firstVisitDate,
        first_visit_doctors firstVisitDoctors,
        first_visit_outpatient firstVisitOutpatient,
        cumulative_consumption cumulativeConsumption,
        last_visit_date lastVisitDate,
        last_visit_doctors lastVisitDoctors,
        last_visit_outpatient lastVisitOutpatient,
        total_arrears totalArrears,
				number_of_visits numberOfVisits
    FROM
        base_patient
    WHERE
        patient_id = #{patientId}
  </select>

</mapper>