<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BaseTreatmentProcessMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseTreatmentProcess">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="appointment_id" property="appointmentId" jdbcType="INTEGER"/>
        <result column="registered_id" property="registeredId" jdbcType="INTEGER"/>
        <result column="treatment_id" property="treatmentId" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="treat_status" property="treatStatus" jdbcType="TINYINT"/>
        <result column="treat_type" property="treatType" jdbcType="TINYINT"/>
        <result column="appoint_status" property="appointStatus" jdbcType="TINYINT"/>
        <result column="appoint_dentist_id" property="appointDentistId" jdbcType="INTEGER"/>
        <result column="appoint_start_time" property="appointStartTime" jdbcType="TIMESTAMP"/>
        <result column="appoint_duration" property="appointDuration" jdbcType="INTEGER"/>
        <result column="appoint_modify_time" property="appointModifyTime" jdbcType="INTEGER"/>
        <result column="appoint_content" property="appointContent" jdbcType="VARCHAR"/>
        <result column="registered_dentist_id" property="registeredDentistId" jdbcType="INTEGER"/>
        <result column="registered_time" property="registeredTime" jdbcType="TIME"/>
        <result column="treat_start_time" property="treatStartTime" jdbcType="TIMESTAMP"/>
        <result column="treat_end_time" property="treatEndTime" jdbcType="TIMESTAMP"/>
        <result column="assistant_1" property="assistant1" jdbcType="INTEGER"/>
        <result column="assistant_2" property="assistant2" jdbcType="INTEGER"/>
        <result column="assistant_3" property="assistant3" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="BaseResultFields">
        appointment_id,registered_id,treatment_id,org_id,patient_id,treat_status,treat_type,appoint_status,
        appoint_dentist_id,appoint_start_time,appoint_duration,appoint_modify_time,appoint_content,registered_dentist_id,
        registered_time,treat_start_time,treat_end_time,assistant_1,assistant_2,assistant_3
    </sql>

    <!-- 根据条件查询就诊列表 -->
    <select id="selectTreatmentRecordReportVOList"
            resultType="com.yunya.feign.report.domain.vo.TreatmentRecordReportVO">
        SELECT
            tr.orgId,
            tr.orgName,
            tr.treatDate,
            tr.patientId,
            tr.patientName,
            tr.mobile,
            tr.gender,
            tr.treatType,
            tr.regDentistId,
            tr.regDentistName,
            tr.appointTime,
            tr.appointDuration,
            tr.appointContent,
            tr.regTime,
            tr.treatStartTime,
            tr.treatEndTime,
            tr.treatWaitingTime,
            tr.treatExpendTime
        FROM
            (
            SELECT
                btp.org_id AS orgId,
                bo.abbreviation AS orgName,
                DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) AS treatDate,
                btp.patient_id AS patientId,
                bp.`name` AS patientName,
                bp.pinyin_name AS pinyinName,
                bp.mobile AS mobile,
                bp.gender AS gender,
                btp.treat_type AS treatType,
                btp.registered_dentist_id AS regDentistId,
                be.employee_name AS regDentistName,
                DATE_FORMAT( btp.appoint_start_time, '%H:%i' ) AS appointTime,
                btp.appoint_duration AS appointDuration,
                btp.appoint_content AS appointContent,
                DATE_FORMAT( btp.registered_time, '%H:%i' ) AS regTime,
                DATE_FORMAT( btp.treat_start_time, '%H:%i' ) AS treatStartTime,
                DATE_FORMAT( btp.treat_end_time, '%H:%i' ) AS treatEndTime,
                TIMESTAMPDIFF( MINUTE, btp.registered_time, DATE_FORMAT( btp.treat_start_time, '%H:%i' ) ) AS treatWaitingTime,
                TIMESTAMPDIFF( MINUTE, btp.treat_start_time, btp.treat_end_time ) AS treatExpendTime
            FROM
                base_treatment_process btp
                LEFT JOIN base_organization bo ON btp.org_id = bo.org_id
                LEFT JOIN base_patient bp ON btp.patient_id = bp.patient_id
            LEFT JOIN base_employee be ON btp.registered_dentist_id = be.user_id
            ) tr
        <where>
            <if test="query.orgId != null">
                and tr.orgId = #{query.orgId}
            </if>
            <if test="query.keyWord != null and query.keyWord != ''">
                and concat(ifnull(tr.patientName, ''), ifnull(tr.pinyinName, ''), ifnull(tr.mobile, '')) like concat('%', #{query.keyWord}, '%')
            </if>
            <if test="query.treatStartDate != null and query.treatStartDate != ''">
                and tr.treatDate &gt;= #{query.treatStartDate}
            </if>
            <if test="query.treatEndDate != null and query.treatEndDate != ''">
                and tr.treatDate &lt;= #{query.treatEndDate}
            </if>
            <if test="query.regDentistIds != null and query.regDentistIds.length > 0">
                and tr.regDentistId in
                <foreach collection="query.regDentistIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY tr.treatDate DESC
    </select>
    <!-- 根据条件查询就诊配诊记录列表 -->
    <select id="selectTreatmentMatchingRecord"
            resultType="com.yunya.feign.report.domain.vo.TreatmentMatchingRecordVO">
        SELECT
            tmr.treatmentId,
            tmr.assistant1Id,
            tmr.assistant1Name,
            tmr.assistant2Id,
            tmr.assistant2Name,
            tmr.assistant3Id,
            tmr.assistant3Name,
            tmr.matchingDentistId,
            tmr.matchingDentistName,
            tmr.patientId,
            tmr.patientName,
            tmr.mobile,
            tmr.matchingDate,
            tmr.treatStartTime,
            tmr.treatEndTime,
            tmr.matchingDuration
        FROM
            (
            SELECT
                btp.org_id as orgId,
                btp.treatment_id AS treatmentId,
                btp.assistant_1 AS assistant1Id,
                be1.employee_name AS assistant1Name,
                btp.assistant_2 AS assistant2Id,
                be2.employee_name AS assistant2Name,
                btp.assistant_3 AS assistant3Id,
                be3.employee_name AS assistant3Name,
                btp.registered_dentist_id AS matchingDentistId,
                be.employee_name AS matchingDentistName,
                btp.patient_id AS patientId,
                bp.`name` AS patientName,
                bp.pinyin_name AS pinyinName,
                bp.mobile AS mobile,
                DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) AS matchingDate,
                DATE_FORMAT( btp.treat_start_time, '%H:%i' ) AS treatStartTime,
                DATE_FORMAT( btp.treat_end_time, '%H:%i' ) AS treatEndTime,
                TIMESTAMPDIFF( MINUTE, btp.treat_start_time, btp.treat_end_time ) AS matchingDuration
            FROM
                base_treatment_process btp
                LEFT JOIN base_employee be1 ON btp.assistant_1 = be1.user_id
                LEFT JOIN base_employee be2 ON btp.assistant_2 = be1.user_id
                LEFT JOIN base_employee be3 ON btp.assistant_3 = be1.user_id
                LEFT JOIN base_employee be ON btp.registered_dentist_id = be.user_id
                LEFT JOIN base_patient bp ON btp.patient_id = bp.patient_id
            WHERE
                btp.treatment_id IS NOT NULL
                AND ( btp.assistant_1 IS NOT NULL OR btp.assistant_2 IS NOT NULL OR btp.assistant_3 IS NOT NULL )
            ) tmr
        <where>
            <if test="query.orgId != null">
                and tmr.orgId = #{query.orgId}
            </if>
            <if test="query.keyWord != null and query.keyWord != ''">
                and concat(ifnull(tmr.patientName, ''), ifnull(tmr.pinyinName, ''), ifnull(tmr.mobile, '')) like concat('%', #{query.keyWord}, '%')
            </if>
            <if test="query.matchingStartDate != null and query.matchingStartDate != ''">
                and tmr.matchingDate &gt;= #{query.matchingStartDate}
            </if>
            <if test="query.matchingEndDate != null and query.matchingEndDate != ''">
                and tmr.matchingDate &lt;= #{query.matchingEndDate}
            </if>
            <if test="query.matchingDentistIds != null and query.matchingDentistIds.length > 0">
                and tmr.matchingDentistId in
                <foreach collection="query.matchingDentistIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY
            tmr.matchingDate DESC
    </select>

    <!-- 根据条件查询助手配诊明细列表 -->
    <select id="selectAssistantMatchingDetailList"
            resultType="com.yunya.feign.report.domain.vo.EmployeeTreatMatchingDetailVO">
        SELECT
        btp.treatment_id AS treatmentId,
        btp.treatDate,
        btp.patient_id as patientId,
        btp.patientName,
        btp.mobile,
        DATE_FORMAT(btp.treatStartTime, '%Y-%m-%d %H:%i'),
        DATE_FORMAT(btp.treatEndTime, '%Y-%m-%d %H:%i'),
        btp.matchDuration
        FROM (
        SELECT
        btp.treatment_id,
        DATE_FORMAT(btp.treat_start_time, '%Y-%m-%d') as treatDate,
        btp.patient_id,
        bp.`name` AS patientName,
        bp.mobile,
        bp.pinyin_name AS pinyinName,
        btp.treat_start_time AS treatStartTime,
        btp.treat_end_time AS treatEndTime,
        SUM( btp.matchTime ) AS matchDuration
        FROM
        (
        SELECT
        btp.treatment_id,
        btp.patient_id,
        btp.assistant_1,
        btp.treat_start_time,
        btp.treat_end_time,
        IF
        (
        TIMESTAMPDIFF( MINUTE, btp.treat_start_time, btp.treat_end_time ) = 0,
        1,
        TIMESTAMPDIFF( MINUTE, btp.treat_start_time, btp.treat_end_time )) AS matchTime
        FROM
        base_treatment_process btp
        <where>
            and btp.treat_end_time IS NOT NULL
            <if test="query.orgId != null">
                AND btp.org_id = #{query.orgId}
            </if>
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m-%d' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y-%m' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( btp.treat_start_time, '%Y' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.assistantType == 0">
                AND btp.assistant_1 = #{query.assistantId}
            </if>
            <if test="query.assistantType == 1">
                AND btp.assistant_2 = #{query.assistantId}
            </if>
            <if test="query.assistantType == 2">
                AND btp.assistant_3 = #{query.assistantId}
            </if>
        </where>
        ) btp
        LEFT JOIN base_patient bp ON btp.patient_id = bp.patient_id
        GROUP BY btp.treatment_id
        ) btp
        <where>
            <if test="query.keyword != null and query.keyword != ''">
                and concat(IFNULL(btp.patientName, ''), IFNULL(btp.pinyinName, ''), IFNULL(btp.mobile, '')) like concat('%', #{query.keyword}, '%')
            </if>
            <if test="query.treatStartDate != null and query.treatStartDate != ''">
                and btp.treatStartTime &gt;= #{query.treatStartDate}
            </if>
            <if test="query.treatEndDate != null and query.treatEndDate != ''">
                and btp.treatStartTime &lt;= #{query.treatEndDate}
            </if>
        </where>
    </select>

    <!-- 根据患者id查询履约次数 -->
    <select id="selectPatientPerformance" resultType="java.lang.Integer">
        select count(*) from base_treatment_process  where patient_id = #{patientId} and  appointment_id is not null and registered_id is not null
    </select>

    <!-- 根据患者id查询预约次数 -->
    <select id="selectPatientReservation" resultType="java.lang.Integer">
        select count(*) from base_treatment_process  where patient_id = #{patientId} and  appointment_id is not null
    </select>

    <!-- 根据患者id查询预约次数 -->
    <select id="selectMissedAppointment" resultType="java.lang.Integer">
        select count(*) from base_treatment_process
        where patient_id = #{patientId}
        and appointment_id is not null
        and registered_id is null
        and CONCAT(date_format(appoint_start_time,'%Y-%m-%d'),' 23:59:59') &lt; NOW()
        and appoint_status != 2
    </select>

    <select id="treatmentList4App" resultType="com.yunya.feign.report.domain.vo.BaseTreatmentProcessVO">
        select
        btp.appointment_id as appointmentId,btp.registered_id as registeredId,btp.treatment_id as treatmentId,btp.org_id as orgId,btp.patient_id as patientId,
        btp.treat_status as treatStatus,btp.treat_type as treatType,btp.appoint_status as appointStatus, btp.appoint_dentist_id as appointDentistId,btp.appoint_start_time as appointStartTime,
        btp.appoint_duration as appointSuration,btp.appoint_modify_time as appointModifyTime,btp.appoint_content as appointContent,btp.registered_dentist_id as registeredDentistId,
        btp.registered_time as registeredTime,btp.treat_start_time as treatStartTime,btp.treat_end_time as treatEndTime,btp.assistant_1 as assistant1,btp.assistant_2 as assistant2,
        btp.assistant_3 as assistant3,
        bp.name as patientName,
        bp.gender,
        appointDentistNameBe.employee_name as appointDentistName,
        regDentistNameBe.employee_name as regDentistName
        from base_treatment_process btp
            left join base_patient bp on bp.patient_id = btp.patient_id
            left join base_employee appointDentistNameBe on appointDentistNameBe.user_id = btp.appoint_dentist_id
            left join base_employee regDentistNameBe on regDentistNameBe.user_id = btp.registered_dentist_id
        <where>
            btp.appoint_status &lt; 2
            <if test="dentistId != null">
                and #{dentistId} in (btp.appoint_dentist_id,btp.registered_dentist_id)
            </if>
            <if test="orgId != null">
                and btp.org_id = #{orgId}
            </if>
            <if test="currentDate != null and currentDate != ''">
                and (date_format(btp.appoint_start_time,'%Y-%m-%d') in (date_format(#{currentDate},'%Y-%m-%d'))
                or date_format(btp.treat_start_time,'%Y-%m-%d') in (date_format(#{currentDate},'%Y-%m-%d')))
            </if>
        </where>
    </select>


</mapper>