<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BaseRefundMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseRefund">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="refund_id" property="refundId" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="treatment_id" property="treatmentId" jdbcType="INTEGER"/>
        <result column="bill_id" property="billId" jdbcType="INTEGER"/>
        <result column="refund_amount" property="refundAmount" jdbcType="DECIMAL"/>
        <result column="refund_operator_id" property="refundOperatorId" jdbcType="INTEGER"/>
        <result column="refund_date" property="refundDate" jdbcType="TIMESTAMP"/>
        <result column="refund_reason" property="refundReason" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 根据条件查询账单退费记录列表 -->
    <select id="selectBillRefundRecord" resultType="com.yunya.feign.report.domain.vo.BillOfRefundRecordInfoVO">
        SELECT
        billRefundRecordId,
        refundDate,
        orderDate,
        billDate,
        orgId,
        billId,
        billNum,
        patientId,
        patientName,
        gender,
        mobile,
        treatmentRecordId,
        regDentistId,
        regDentistName,
        actualAmount,
        receivedAmount,
        refundAmount,
        refundOperatorId,
        refundOperatorName,
        refundReason
        FROM
        (
        SELECT
        br.refund_id AS billRefundRecordId,
        DATE_FORMAT(br.refund_date, '%Y-%m-%d') AS refundDate,
        DATE_FORMAT( bb.order_date, '%Y-%m-%d' ) AS orderDate,
        DATE_FORMAT( bb.bill_date, '%Y-%m-%d' ) AS billDate,
        br.org_id AS orgId,
        br.bill_id AS billId,
        bb.bill_num AS billNum,
        br.patient_id AS patientId,
        bp.`name` AS patientName,
        bp.pinyin_name AS pinyinName,
        bp.gender AS gender,
        bp.mobile AS mobile,
        br.treatment_id AS treatmentRecordId,
        btp.registered_dentist_id AS regDentistId,
        btp.regDentistName AS regDentistName,
        bb.actual_amount AS actualAmount,
        bb.received_amount AS receivedAmount,
        br.refund_amount AS refundAmount,
        br.refund_operator_id AS refundOperatorId,
        be.employee_name AS refundOperatorName,
        br.refund_reason AS refundReason
        FROM
        base_refund br
        LEFT JOIN base_patient bp ON br.patient_id = bp.patient_id
        LEFT JOIN ( SELECT btp.treatment_id, btp.registered_dentist_id, be.employee_name AS regDentistName FROM
        base_treatment_process btp LEFT JOIN base_employee be ON btp.registered_dentist_id = be.user_id ) btp ON
        br.treatment_id = btp.treatment_id
        LEFT JOIN base_bill bb ON br.bill_id = bb.bill_id
        LEFT JOIN base_employee be ON br.refund_operator_id = be.user_id
        ) br
        <where>
            <if test="query.orgId != null">
                and br.orgId = #{query.orgId}
            </if>
            <if test="query.keyWord != null and query.keyWord != ''">
                and concat(IFNULL(br.patientName, ''), IFNULL(br.pinyinName, ''), IFNULL(br.mobile, '')) like
                concat('%', #{query.keyWord}, '%')
            </if>
            <if test="query.billNum != null and query.billNum != ''">
                and br.billNum like concat('%', #{query.billNum}, '%')
            </if>
            <if test="query.refundStartDate != null and query.refundStartDate != ''">
                and br.refundDate &gt;= #{query.refundStartDate}
            </if>
            <if test="query.refundEndDate != null and query.refundEndDate != ''">
                and br.refundDate &lt;= #{query.refundEndDate}
            </if>
            <if test="query.billStartDate != null and query.billStartDate != ''">
                and br.billDate &gt;= #{query.billStartDate}
            </if>
            <if test="query.billEndDate != null and query.billEndDate != ''">
                and br.billDate &lt;= #{query.billEndDate}
            </if>
            <if test="query.regDentistIds != null and query.regDentistIds.length > 0">
                and br.regDentistId in
                <foreach collection="query.regDentistIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by br.billRefundRecordId desc
    </select>

    <!--  根据条件查询员工退费工作量明细列表 -->
    <select id="selectEmployeePersonalRefundWorkloadDetail"
            resultType="com.yunya.feign.report.domain.vo.EmployeePersonalRefundWorkloadDetailVO">
        SELECT
        refundId,
        billNum,
        DATE_FORMAT(orderDate, '%Y-%m-%d') as orderDate,
        DATE_FORMAT(billDate, '%Y-%m-%d') as billDate,
        DATE_FORMAT(refundDate, '%Y-%m-%d') as refundDate,
        patientId,
        patientName,
        mobile,
        refundWorkload,
        employeeId
        FROM
        (
        SELECT
        brd.refund_id as refundId,
        brd.bill_num as billNum,
        brd.order_date as orderDate,
        brd.bill_date as billDate,
        brd.refund_date as refundDate,
        brd.patient_id as patientId,
        brd.`name` as patientName,
        brd.pinyin_name as pinyinName,
        brd.mobile,
        SUM(brd.refund_amount) as refundWorkload,
        brd.executor_id as employeeId
        FROM
        ( SELECT
        brp.org_id,
        brp.patient_id,
        brp.`name`,
        brp.pinyin_name,
        brp.refund_date,
        brp.mobile,
        brd.bill_detail_id,
        brd.refund_id,
        brd.refund_amount,
        bbd.order_date,
        bbd.bill_date,
        bbd.bill_num,
        bbd.executor_id
        FROM
        base_refund_detail brd
        LEFT JOIN (
        SELECT
        bbd.bill_detail_id,
        bbd.executor_id,
        bb.order_date,
        bb.bill_date,
        bb.bill_num
        FROM
        base_bill_detail bbd
        LEFT JOIN base_bill bb ON bbd.bill_id = bb.bill_id
        WHERE
        executor_id IS NOT NULL
        ) bbd ON brd.bill_detail_id = bbd.bill_detail_id
        LEFT JOIN (
        SELECT
        br.org_id,
        br.refund_id,
        br.refund_date,
        br.patient_id,
        bp.pinyin_name,
        bp.`name`,
        bp.mobile
        FROM
        base_refund br
        LEFT JOIN base_patient bp ON br.patient_id = bp.patient_id
        ) brp ON brd.refund_id = brp.refund_id
        ) brd
        <where>
            <if test="query.orgId != null">
                and brd.org_id = #{query.orgId}
            </if>
            <if test="query.dateType == 0">
                <if test="query.queryDate != null and query.queryDate != ''">
                    and DATE_FORMAT( brd.order_date, '%Y-%m' ) = #{query.queryDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.queryDate != null and query.queryDate != ''">
                    and DATE_FORMAT( brd.order_date, '%Y' ) = #{query.queryDate}
                </if>
            </if>
            <if test="query.employeeId != null">
                and brd.executor_id = #{query.employeeId}
            </if>
        </where>
        GROUP BY brd.refund_id
        ) rfd
        <where>
            <if test="query.keyword != null and query.keyword != ''">
                and concat(IFNULL(rfd.patientName, ''), IFNULL(rfd.pinyinName, ''), IFNULL(rfd.mobile, '')) Like
                concat('%', #{query.keyword}, '%')
            </if>
            <if test="query.billNum != null and query.billNum != ''">
                and rfd.billNum like concat('%', #{query.billNum} ,'%')
            </if>
            <if test="query.orderDate != null and query.orderDate != ''">
                and DATE_FORMAT(rfd.orderDate, '%Y-%m-%d') = #{query.orderDate}
            </if>
        </where>
        ORDER BY rfd.refundDate DESC
    </select>

    <!-- 根据条件查询员工退费工作量退费明细列表 -->
    <select id="selectEmployeeRefundOrderDetailList"
            resultType="com.yunya.feign.report.domain.vo.EmployeeRefundDetailWorkloadVO">
        SELECT
        brd.bill_detail_id AS orderDetailId,
        brd.item_type AS itemType,
        brd.item_id AS itemId,
        bti.item_num AS itemNum,
        bti.item_name AS itemName,
        brd.refund_amount AS refundWorkload
        FROM
        (
        SELECT
        brd.bill_detail_id,
        brd.refund_amount,
        brd.refund_id,
        bbd.item_id,
        bbd.item_type,
        bbd.executor_id
        FROM
        base_refund_detail brd
        LEFT JOIN base_bill_detail bbd ON brd.bill_detail_id = bbd.bill_detail_id
        ) brd
        LEFT JOIN base_tariff_info bti ON brd.item_type = bti.item_type
        AND brd.item_id = bti.item_id
        <where>
            <if test="query.refundId != null">
                and brd.refund_id = #{query.refundId}
            </if>
            <if test="query.employeeId != null">
                and brd.executor_id = #{query.employeeId}
            </if>
        </where>
    </select>

    <!-- 根据条件查询助手配诊退费账单明细列表 -->
    <select id="selectAssistantRefundDetailList"
            resultType="com.yunya.feign.report.domain.vo.AssistantRefundDetailVO">
        SELECT
        refundId,
        refundDate,
        billNum,
        patientId,
        patientName,
        mobile,
        matchingDentistId,
        matchingDentistName,
        refundAmount
        FROM (
        SELECT
        bf.refund_id as refundId,
        DATE_FORMAT(bf.refund_date, '%Y-%m-%d') as refundDate,
        bf.bill_num as billNum,
        bf.patient_id as patientId,
        bf.`name` as patientName,
        bf.pinyin_name as pinyinName,
        bf.mobile,
        bf.registered_dentist_id as matchingDentistId,
        bf.employee_name as matchingDentistName,
        bf.refund_amount as refundAmount
        FROM (
        SELECT
        br.org_id,
        br.refund_id,
        br.refund_date,
        br.refund_amount,
        bp.patient_id,
        bp.`name`,
        bp.pinyin_name,
        bp.mobile,
        bb.bill_num,
        bb.order_date,
        btp.treat_start_time,
        btp.registered_dentist_id,
        btp.employee_name,
        btp.assistant_1,
        btp.assistant_2,
        btp.assistant_3
        FROM
        base_refund br
        LEFT JOIN base_bill bb ON br.treatment_id = bb.treatment_id
        LEFT JOIN (
        SELECT
        btp.treatment_id,
        btp.treat_start_time,
        btp.registered_dentist_id,
        be.employee_name,
        btp.assistant_1,
        btp.assistant_2,
        btp.assistant_3
        FROM
        base_treatment_process btp
        LEFT JOIN base_employee be ON btp.registered_dentist_id = be.user_id
        GROUP BY
        btp.treatment_id
        ) btp ON br.treatment_id = btp.treatment_id
        LEFT JOIN base_patient bp ON br.patient_id = bp.patient_id
        ) bf
        <where>
            <if test="query.orgId != null">
                AND bf.org_id = #{query.orgId}
            </if>
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( bf.treat_start_time, '%Y-%m-%d' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( bf.treat_start_time, '%Y-%m-%d' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( bf.treat_start_time, '%Y-%m' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( bf.treat_start_time, '%Y-%m' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( bf.treat_start_time, '%Y' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( bf.treat_start_time, '%Y' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.assistantType == 0">
                <if test="query.assistantId != null">
                    AND bf.assistant_1 = #{query.assistantId}
                </if>
            </if>
            <if test="query.assistantType == 1">
                <if test="query.assistantId != null">
                    AND bf.assistant_2 = #{query.assistantId}
                </if>
            </if>
            <if test="query.assistantType == 2">
                <if test="query.assistantId != null">
                    AND bf.assistant_3 = #{query.assistantId}
                </if>
            </if>
        </where>
        GROUP BY bf.refund_id
        ) bfr
        <where>
            <if test="query.keyword != null and query.keyword != ''">
                and concat(IFNULL(bfr.patientName, ''), IFNULL(bfr.pinyinName, ''), IFNULL(bfr.mobile, '')) like
                concat('%', #{query.keyword}, '%')
            </if>
            <if test="query.billNum != null and query.billNum != ''">
                and concat(bfr.`billNum`) like concat('%', #{query.billNum}, '%')
            </if>
            <if test="query.refundStartDate != null and query.refundStartDate != ''">
                and bfr.refundDate &gt;= #{query.refundStartDate}
            </if>
            <if test="query.refundEndDate != null and query.refundEndDate != ''">
                and bfr.refundDate &lt;= #{query.refundEndDate}
            </if>
        </where>
    </select>

    <!-- 根据条件查询门诊账单退费（当月）明细列表 -->
    <select id="selectCurrentBillRefundDetailList"
            resultType="com.yunya.feign.report.domain.vo.StatementBillRefundDetailVO">
        SELECT
        refundId,
        refundDate,
        billId,
        billNum,
        billDate,
        patientId,
        patientName,
        patientMobile,
        regDentistId,
        regDentistName,
        originalAmount,
        privilegeAmount,
        actualAmount,
        totalReceivedAmount,
        refundAmount,
        refundOperatorId,
        refundOperatorName
        FROM
        (
        SELECT
        br.refund_id AS refundId,
        DATE_FORMAT( br.refund_date, '%Y-%m-%d' ) AS refundDate,
        br.bill_id AS billId,
        bb.bill_num AS billNum,
        DATE_FORMAT( bb.bill_date, '%Y-%m-%d' ) AS billDate,
        br.patient_id AS patientId,
        bp.`name` AS patientName,
        bp.mobile AS patientMobile,
        bp.pinyin_name AS pinyinName,
        btp.regDentistId,
        btp.regDentistName,
        bb.order_amount AS originalAmount,
        bb.privilege_amount AS privilegeAmount,
        bb.actual_amount AS actualAmount,
        bb.received_amount AS totalReceivedAmount,
        br.refund_amount AS refundAmount,
        br.refund_operator_id AS refundOperatorId,
        be.employee_name AS refundOperatorName
        FROM
        base_refund br
        LEFT JOIN base_bill bb ON br.bill_id = bb.bill_id
        LEFT JOIN base_patient bp ON br.patient_id = bp.patient_id
        LEFT JOIN (
        SELECT
        btp.treatment_id,
        btp.registered_dentist_id AS regDentistId,
        be.employee_name AS regDentistName
        FROM
        base_treatment_process btp
        LEFT JOIN base_employee be ON btp.registered_dentist_id = be.user_id
        WHERE
        btp.treat_end_time IS NOT NULL
        GROUP BY
        btp.treatment_id,
        btp.registered_dentist_id,
        be.employee_name
        ) btp ON br.treatment_id = btp.treatment_id
        LEFT JOIN base_employee be ON br.refund_operator_id = be.user_id
        <where>
            <if test="query.orgId != null">
                AND br.org_id = #{query.orgId}
            </if>
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( br.refund_date, '%Y-%m-%d') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( br.refund_date, '%Y-%m-%d') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( br.refund_date, '%Y-%m') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( br.refund_date, '%Y-%m') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( br.refund_date, '%Y') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( br.refund_date, '%Y') &lt;= #{query.endDate}
                </if>
            </if>
            AND br.bill_id IN (
            SELECT
            bill_id
            FROM
            base_bill bb
            <where>
                AND bb.bill_num IS NOT NULL
                AND bb.bill_date IS NOT NULL
                <if test="query.orgId != null">
                    AND bb.org_id = #{query.orgId}
                </if>
                <if test="query.dateType == 0">
                    <if test="query.startDate != null and query.startDate != ''">
                        AND DATE_FORMAT( bb.bill_date, '%Y-%m-%d') &gt;= #{query.startDate}
                    </if>
                    <if test="query.endDate != null and query.endDate != ''">
                        AND DATE_FORMAT( bb.bill_date, '%Y-%m-%d') &lt;= #{query.endDate}
                    </if>
                </if>
                <if test="query.dateType == 1">
                    <if test="query.startDate != null and query.startDate != ''">
                        AND DATE_FORMAT( bb.bill_date, '%Y-%m') &gt;= #{query.startDate}
                    </if>
                    <if test="query.endDate != null and query.endDate != ''">
                        AND DATE_FORMAT( bb.bill_date, '%Y-%m') &lt;= #{query.endDate}
                    </if>
                </if>
                <if test="query.dateType == 2">
                    <if test="query.startDate != null and query.startDate != ''">
                        AND DATE_FORMAT( bb.bill_date, '%Y') &gt;= #{query.startDate}
                    </if>
                    <if test="query.endDate != null and query.endDate != ''">
                        AND DATE_FORMAT( bb.bill_date, '%Y') &lt;= #{query.endDate}
                    </if>
                </if>
            </where>
            )
        </where>
        ) br
        <where>
            <if test="query.patientKeyword != null and query.patientKeyword != ''">
                AND concat(IFNULL(br.patientName, ''), IFNULL(br.pinyinName, ''), IFNULL(br.patientMobile, '')) like
                concat('%', #{query.patientKeyword}, '%')
            </if>
            <if test="query.billNum != null and query.billNum != ''">
                AND concat(br.`billNum`) like concat('%', #{query.billNum}, '%')
            </if>
            <if test="query.refundStartDate != null and query.refundStartDate != ''">
                AND br.refundDate &gt;= #{query.refundStartDate}
            </if>
            <if test="query.refundEndDate != null and query.refundEndDate != ''">
                AND br.refundDate &gt;= #{query.refundEndDate}
            </if>
        </where>
    </select>

    <!-- 根据条件查询门诊账单退费（非当月）明细列表 -->
    <select id="selectOtherBillRefundDetailList"
            resultType="com.yunya.feign.report.domain.vo.StatementBillRefundDetailVO">
        SELECT
        refundId,
        refundDate,
        billId,
        billNum,
        billDate,
        patientId,
        patientName,
        patientMobile,
        regDentistId,
        regDentistName,
        originalAmount,
        privilegeAmount,
        actualAmount,
        totalReceivedAmount,
        refundAmount,
        refundOperatorId,
        refundOperatorName
        FROM
        (
        SELECT
        br.refund_id AS refundId,
        DATE_FORMAT( br.refund_date, '%Y-%m-%d' ) AS refundDate,
        br.bill_id AS billId,
        bb.bill_num AS billNum,
        DATE_FORMAT( bb.bill_date, '%Y-%m-%d' ) AS billDate,
        br.patient_id AS patientId,
        bp.`name` AS patientName,
        bp.mobile AS patientMobile,
        bp.pinyin_name AS pinyinName,
        btp.regDentistId,
        btp.regDentistName,
        bb.order_amount AS originalAmount,
        bb.privilege_amount AS privilegeAmount,
        bb.actual_amount AS actualAmount,
        bb.received_amount AS totalReceivedAmount,
        br.refund_amount AS refundAmount,
        br.refund_operator_id AS refundOperatorId,
        be.employee_name AS refundOperatorName
        FROM
        base_refund br
        LEFT JOIN base_bill bb ON br.bill_id = bb.bill_id
        LEFT JOIN base_patient bp ON br.patient_id = bp.patient_id
        LEFT JOIN (
        SELECT
        btp.treatment_id,
        btp.registered_dentist_id AS regDentistId,
        be.employee_name AS regDentistName
        FROM
        base_treatment_process btp
        LEFT JOIN base_employee be ON btp.registered_dentist_id = be.user_id
        WHERE
        btp.treat_end_time IS NOT NULL
        GROUP BY
        btp.treatment_id,
        btp.registered_dentist_id,
        be.employee_name
        ) btp ON br.treatment_id = btp.treatment_id
        LEFT JOIN base_employee be ON br.refund_operator_id = be.user_id
        <where>
            <if test="query.orgId != null">
                AND br.org_id = #{query.orgId}
            </if>
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( br.refund_date, '%Y-%m-%d') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( br.refund_date, '%Y-%m-%d') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( br.refund_date, '%Y-%m') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( br.refund_date, '%Y-%m') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( br.refund_date, '%Y') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( br.refund_date, '%Y') &lt;= #{query.endDate}
                </if>
            </if>
            AND br.bill_id IN (
            SELECT
            bill_id
            FROM
            base_bill bb
            <where>
                AND bb.bill_num IS NOT NULL
                AND bb.bill_date IS NOT NULL
                <if test="query.orgId != null">
                    AND bb.org_id = #{query.orgId}
                </if>
                <if test="query.dateType == 0">
                    <if test="query.startDate != null and query.startDate != ''">
                        AND DATE_FORMAT( bb.bill_date, '%Y-%m-%d') &lt; #{query.startDate}
                    </if>
                    <if test="query.endDate != null and query.endDate != ''">
                        OR DATE_FORMAT( bb.bill_date, '%Y-%m-%d') &gt; #{query.endDate}
                    </if>
                </if>
                <if test="query.dateType == 1">
                    <if test="query.startDate != null and query.startDate != ''">
                        AND DATE_FORMAT( bb.bill_date, '%Y-%m') &lt; #{query.startDate}
                    </if>
                    <if test="query.endDate != null and query.endDate != ''">
                        OR DATE_FORMAT( bb.bill_date, '%Y-%m') &gt; #{query.endDate}
                    </if>
                </if>
                <if test="query.dateType == 2">
                    <if test="query.startDate != null and query.startDate != ''">
                        AND DATE_FORMAT( bb.bill_date, '%Y') &lt; #{query.startDate}
                    </if>
                    <if test="query.endDate != null and query.endDate != ''">
                        OR DATE_FORMAT( bb.bill_date, '%Y') &gt; #{query.endDate}
                    </if>
                </if>
            </where>
            )
        </where>
        ) br
        <where>
            <if test="query.patientKeyword != null and query.patientKeyword != ''">
                AND concat(IFNULL(br.patientName, ''), IFNULL(br.pinyinName, ''), IFNULL(br.patientMobile, '')) like
                concat('%', #{query.patientKeyword}, '%')
            </if>
            <if test="query.billNum != null and query.billNum != ''">
                AND concat(br.`billNum`) like concat('%', #{query.billNum}, '%')
            </if>
            <if test="query.refundStartDate != null and query.refundStartDate != ''">
                AND br.refundDate &gt;= #{query.refundStartDate}
            </if>
            <if test="query.refundEndDate != null and query.refundEndDate != ''">
                AND br.refundDate &gt;= #{query.refundEndDate}
            </if>
        </where>
    </select>

    <!-- 根据推荐人id和退费时间查询患者退款总金额 -->
    <select id="findRefundAmount" resultType="java.math.BigDecimal">
        SELECT TRUNCATE
            ( sum( refund_amount ), 2 )
        FROM
            base_refund br
            JOIN (
                SELECT DISTINCT
                    log.patient_id
                FROM
                    base_patient_origin_log log
                    JOIN base_bill bb ON log.patient_id = bb.patient_id
                    JOIN base_bill_pay bbp ON bbp.bill_id = bb.bill_id
                WHERE
                    log.origin_id = #{originId}
                    AND log.inservice = 1
            ) t ON br.patient_id = t.patient_id
        <if test="startDate != null">
            and DATE_FORMAT( br.refund_date, '%Y-%m-%d' ) &gt;= DATE_FORMAT( #{startDate}, '%Y-%m-%d' )
        </if>

        <if test="endDate != null" >
            and DATE_FORMAT( br.refund_date, '%Y-%m-%d' ) &lt;= DATE_FORMAT( #{endDate}, '%Y-%m-%d' )
        </if>

    </select>
    <!-- 根据条件查询退费工作量 -->
    <select id="selectTotalRefundWorkload" resultType="java.math.BigDecimal">
        SELECT
        IFNULL( SUM( brd.refund_amount ), 0 ) AS totalRefundWorkload
        FROM
        (
        SELECT
        brd.refund_amount,
        br.org_id,
        br.refund_date
        FROM
        base_refund_detail brd
        INNER JOIN base_refund br ON brd.refund_id = br.refund_id
        INNER JOIN base_bill_detail bbd ON brd.bill_detail_id = bbd.bill_detail_id
        AND bbd.executor_id IS NOT NULL
        ) brd
        <where>
            <if test="query.orgIds != null and query.orgIds.length > 0">
                AND brd.org_id IN
                <foreach collection="query.orgIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( brd.refund_date, '%Y-%m-%d' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( brd.refund_date, '%Y-%m-%d' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( brd.refund_date, '%Y-%m' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( brd.refund_date, '%Y-%m' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( brd.refund_date, '%Y' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( brd.refund_date, '%Y' ) &lt;= #{query.endDate}
                </if>
            </if>
        </where>
    </select>

    <!-- 根据推荐人id 和 退费时间查询 退费id -->
    <select id="selectfundBillIdList" resultType="java.lang.Integer">
        select br.refund_id from base_refund br join (
            SELECT DISTINCT
            log.patient_id
            FROM
                base_patient_origin_log log
                JOIN base_bill bb ON log.patient_id = bb.patient_id
                JOIN base_bill_pay bbp ON bbp.bill_id = bb.bill_id
                JOIN base_patient bp ON bp.patient_id = log.patient_id
            WHERE
                log.origin_id = #{query.originId}
                <if test="query.condition != null">
                    and concat( IFNULL( bp.`name`, '' ),IFNULL( bp.`mobile`, '' )) LIKE concat( concat( '%', #{query.condition} ), '%' )
                </if>
                AND log.inservice = 1
		) t  on br.patient_id = t.patient_id
        where 1 = 1
        <if test="query.startDate != null">
            and DATE_FORMAT( br.refund_date, '%Y-%m-%d' ) &gt;= DATE_FORMAT( #{query.startDate}, '%Y-%m-%d' )
        </if>

        <if test="query.endDate != null" >
            and DATE_FORMAT( br.refund_date, '%Y-%m-%d' ) &lt;= DATE_FORMAT( #{query.endDate}, '%Y-%m-%d' )
        </if>

    </select>

    <!-- 查询退费项目明细 -->
    <select id="selectrefundDetail"
            resultType="com.yunya.feign.patient_central.domain.vo.web.ReceivedWorkloadDetailsVo">
        SELECT
				bb.bill_id billId,
				bb.patient_id patientId,
				DATE_FORMAT( log.crt_time, '%Y-%m-%d %H:%i') relatedTime,
				bp.`name`,
				bp.mobile,
				DATE_FORMAT( bp.first_visit_date, '%Y-%m-%d %H:%i') firstVisitDate,
				DATE_FORMAT( bp.last_visit_date, '%Y-%m-%d %H:%i') lastVisitDate,
				DATE_FORMAT( bb.order_date, '%Y-%m-%d %H:%i') orderDate,
				bo.abbreviation abbreviation,
				be.employee_name employeeName,
				bti.item_name itemName,
				brd.refund_amount workload
        from base_refund_detail brd
                 left join base_bill_detail bbd on bbd.bill_detail_id = brd.bill_detail_id
                 left join base_bill bb on bb.bill_id = bbd.bill_id
                 left join base_patient bp on bp.patient_id = bb.patient_id
                 left join base_patient_origin_log log on log.patient_id = bp.patient_id
                 left join base_organization bo on bo.org_id = bb.org_id
                 left join base_treatment_process btp on btp.treatment_id = bb.treatment_id
                 left join base_employee be on be.user_id = btp.registered_dentist_id
                 left join base_tariff_info bti ON bti.item_id = bbd.item_id
        where brd.refund_id = #{refundId}
              and log.origin_id = #{originId}
    </select>

    <!-- 根据条件查询退费工作量 -->
    <select id="groupTotalRefundWorkload" resultType="com.yunya.feign.report.domain.vo.BillOfRefundWorkloadVO">
        SELECT
        IFNULL(brd.refund_amount,0) AS totalRefundWorkload,
        br.org_id AS orgId,
        br.refund_date AS refundDate
        FROM
        base_refund_detail brd
        INNER JOIN base_refund br ON brd.refund_id = br.refund_id
        INNER JOIN base_bill_detail bbd ON brd.bill_detail_id = bbd.bill_detail_id AND bbd.executor_id IS NOT NULL
        <where>
            <if test="query.orgIds != null and query.orgIds.length > 0">
                AND br.org_id IN
                <foreach collection="query.orgIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( br.refund_date, '%Y-%m-%d' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( br.refund_date, '%Y-%m-%d' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( br.refund_date, '%Y-%m' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( br.refund_date, '%Y-%m' ) &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    AND DATE_FORMAT( brd.refund_date, '%Y' ) &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    AND DATE_FORMAT( brd.refund_date, '%Y' ) &lt;= #{query.endDate}
                </if>
            </if>
        </where>
    </select>
</mapper>