<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.BaseBillPayShareMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseBillPayShare" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="bill_id" property="billId" jdbcType="INTEGER" />
    <result column="bill_pay_id" property="billPayId" jdbcType="INTEGER" />
    <result column="bill_detail_id" property="billDetailId" jdbcType="INTEGER" />
    <result column="item_type" property="itemType" jdbcType="TINYINT" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="free_amount" property="freeAmount" jdbcType="DECIMAL" />
    <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL" />
    <result column="swipe_workload" property="swipeWorkload" jdbcType="DECIMAL" />
    <result column="executor_id" property="executorId" jdbcType="INTEGER" />
    <result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <!-- 根据条件查询收费记录ID、订单ID列表 -->
  <select id="selectBillIdsAndBillPayIds" resultType="com.yunya.feign.report.domain.vo.BillChargeVO">
    SELECT
    bbp.bill_pay_id AS billPayId,
    bbp.org_id AS payeeOrgId,
    bbp.payee_date AS payeeDate,
    IFNULL(bbps.received_amount, 0) AS receivedAmount,
    IFNULL(bbps.free_amount, 0) AS freeAmount,
    IFNULL(bbps.swipe_workload, 0) AS freeAmount,
    bb.org_id AS billOrgId,
    bb.bill_id AS billId,
    bb.bill_date AS billDate,
    bb.actual_amount AS actualAmount
    FROM base_bill_pay bbp
    LEFT JOIN (
        SELECT
            bill_pay_id,
            pay_date,
            SUM(received_amount + free_amount) AS received_amount,
            SUM(free_amount) AS free_amount,
            SUM(swipe_workload) AS swipe_workload
        FROM base_bill_pay_share
        <where>
          <if test="query.existsExecutor != null">
            <if test="query.existsExecutor">
              AND executor_id > 0
            </if>
            <if test="!query.existsExecutor">
              AND executor_id is null
            </if>
          </if>
        </where>
        GROUP BY bill_pay_id
    ) bbps ON bbp.bill_pay_id = bbps.bill_pay_id
    INNER JOIN (
      SELECT
      bb.org_id,
      bb.bill_id,
      bb.bill_date,
      bb.actual_amount
      FROM
      base_bill bb
      <where>
        AND bb.bill_date IS NOT NULL
        <if test="query.orgIds != null and query.orgIds.length > 0">
          AND bb.org_id IN
          <foreach collection="query.orgIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>
      </where>
    ) bb ON bbp.bill_id = bb.bill_id
    <where>
      <if test="query.dateType == 0">
        <if test="query.startDate != null and query.startDate != ''">
          AND DATE_FORMAT(bbp.payee_date, '%Y-%m-%d' ) &gt;= #{query.startDate}
        </if>
        <if test="query.endDate != null and query.endDate != ''">
          AND DATE_FORMAT(bbp.payee_date, '%Y-%m-%d' ) &lt;= #{query.endDate}
        </if>
      </if>
      <if test="query.dateType == 1">
        <if test="query.startDate != null and query.startDate != ''">
          AND DATE_FORMAT(bbp.payee_date, '%Y-%m' ) &gt;= #{query.startDate}
        </if>
        <if test="query.endDate != null and query.endDate != ''">
          AND DATE_FORMAT(bbp.payee_date, '%Y-%m' ) &lt;= #{query.endDate}
        </if>
      </if>
      <if test="query.dateType == 2">
        <if test="query.startDate != null and query.startDate != ''">
          AND DATE_FORMAT(bbp.payee_date, '%Y' ) &gt;= #{query.startDate}
        </if>
        <if test="query.endDate != null and query.endDate != ''">
          AND DATE_FORMAT(bbp.payee_date, '%Y' ) &lt;= #{query.endDate}
        </if>
      </if>
    </where>
  </select>

  <select id="selectRecievedWorkloadsGroupByMonth" resultType="com.yunya.feign.report.domain.vo.BillWorkloadVO">
    SELECT
    bbps.month,
    bb.bill_id AS billId,
    bb.org_id AS billOrgId,
    IFNULL(bbps.swipe_workload,0) AS swipeWorkload,
    IFNULL(bbps.received_amount, 0) AS receivedAmount,
    IFNULL(bbps.free_amount, 0) AS freePayAmount
    FROM (
        SELECT
            bill_id,
            <if test="query.dateType == 0">
              DATE_FORMAT(pay_date,'%Y-%m-%d') AS month,
            </if>
            <if test="query.dateType == 1">
              DATE_FORMAT(pay_date,'%Y-%m') AS month,
            </if>
            <if test="query.dateType == 2">
              DATE_FORMAT(pay_date,'%Y') AS month,
            </if>
            SUM(received_amount + free_amount) AS received_amount,
            SUM(free_amount) AS free_amount,
            SUM(swipe_workload) AS swipe_workload
        FROM base_bill_pay_share
        <where>
          <if test="query.existsExecutor != null">
            <if test="query.existsExecutor">
              AND executor_id > 0
            </if>
            <if test="!query.existsExecutor">
              AND executor_id is null
            </if>
            <if test="query.dateType == 0">
              <if test="query.startDate != null and query.startDate != ''">
                AND DATE_FORMAT(pay_date, '%Y-%m-%d' ) &gt;= #{query.startDate}
              </if>
              <if test="query.endDate != null and query.endDate != ''">
                AND DATE_FORMAT(pay_date, '%Y-%m-%d' ) &lt;= #{query.endDate}
              </if>
            </if>
            <if test="query.dateType == 1">
              <if test="query.startDate != null and query.startDate != ''">
                AND DATE_FORMAT(pay_date, '%Y-%m' ) &gt;= #{query.startDate}
              </if>
              <if test="query.endDate != null and query.endDate != ''">
                AND DATE_FORMAT(pay_date, '%Y-%m' ) &lt;= #{query.endDate}
              </if>
            </if>
            <if test="query.dateType == 2">
              <if test="query.startDate != null and query.startDate != ''">
                AND DATE_FORMAT(pay_date, '%Y' ) &gt;= #{query.startDate}
              </if>
              <if test="query.endDate != null and query.endDate != ''">
                AND DATE_FORMAT(pay_date, '%Y' ) &lt;= #{query.endDate}
              </if>
            </if>
          </if>
        </where>
        GROUP BY bill_id, month
    ) bbps
    LEFT JOIN (
      SELECT
      bb.org_id,
      bb.bill_id,
      bb.bill_date,
      bb.actual_amount
      FROM base_bill bb
      <where>
        AND bb.bill_date IS NOT NULL
        AND bb.actual_amount &gt; 0
        <if test="query.orgIds != null and query.orgIds.length > 0">
          AND bb.org_id IN
          <foreach collection="query.orgIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>
      </where>
    ) bb ON bbps.bill_id = bb.bill_id
    <where>
      AND bbps.received_amount &gt; 0
    </where>
    group by
    bb.bill_id,
    bb.org_id,
    month
  </select>

</mapper>