<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.CouponChangeRecordMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.discount.CouponChangeRecord">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="card_id" property="cardId" jdbcType="TINYINT"/>
        <result column="occur_type" property="occurType" jdbcType="TINYINT"/>
        <result column="occur_amount" property="occurAmount" jdbcType="DECIMAL"/>
        <result column="current_amount" property="currentAmount" jdbcType="DECIMAL"/>
        <result column="operator_user_id" property="operatorUserId" jdbcType="INTEGER"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="card_number" property="cardNumber" jdbcType="VARCHAR"/>
        <result column="occur_date" property="occurDate" jdbcType="TIMESTAMP"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
    </resultMap>

    <select id="deductionBalance" resultType="com.yunya.feign.report.domain.vo.DeductionBalanceInfoVO">
        select
            bc1.coupon_name,
            ccr.card_number,
            ccr.card_id,
            if(isnull(bc.sold_date) , null, bp.name)    as buyer,
            bp1.name    as activator,
            IFNULL((SELECT sum(a.current_amount)
               FROM coupon_change_record a
               <where>
                   a.card_id = ccr.card_id
                  <if test="query.startDate != null and query.startDate != ''">
                     AND a.occur_date =
                         (select max(occur_date)
                          from coupon_change_record
                          where date_format(occur_date, '%Y-%m-%d') &lt;= #{query.startDate}
                            AND card_id = ccr.card_id)
                    </if>
                 </where>
               GROUP BY a.occur_date
               LIMIT 0,1), 0)                  as beginDeduction,
            IFNULL((SELECT sum(a.occur_amount) FROM coupon_change_record a
                <where>
                     a.occur_type = 2
                    and a.card_id = ccr.card_id
                    <if test="query.startDate!=null and query.startDate!='' and query.endDate!=null and query.endDate!=''">
                        and DATE_FORMAT(a.occur_date, "%Y-%m-%d") BETWEEN #{query.startDate} AND #{query.endDate}
                    </if>
                </where>
            ),0) AS thisDeduction,
            IFNULL((SELECT sum(a.occur_amount) FROM coupon_change_record a
                <where>
                     a.occur_type = 3
                    and a.card_id = ccr.card_id
                    <if test="query.startDate!=null and query.startDate!='' and query.endDate!=null and query.endDate!=''">
                        and DATE_FORMAT(a.occur_date, "%Y-%m-%d") BETWEEN #{query.startDate} AND #{query.endDate}
                    </if>
                </where>
            ),0) AS thisDeductionRefund,
           IFNULL((SELECT sum(a.current_amount)
               FROM coupon_change_record a
               <where>
                   a.card_id = ccr.card_id
                 <if test="query.endDate != null and query.endDate != ''">
                     AND a.occur_date =
                         (select max(occur_date)
                          from coupon_change_record
                          where date_format(occur_date, '%Y-%m-%d') &lt;= #{query.endDate}
                            AND card_id = ccr.card_id)
                </if>
             </where>
               GROUP BY a.occur_date
               LIMIT 0,1), 0)                  AS endDeduction
        from coupon_change_record ccr
        inner join base_card bc on bc.card_id = ccr.card_id
        inner join base_coupon bc1 on bc1.coupon_id = ccr.coupon_id
        left join base_patient bp on bp.patient_id = bc.buyer_id
        left join base_patient bp1 on bp1.patient_id = bc.patient_id
        <where>
            <if test="query.couponIds != null and query.couponIds.size() > 0">
                `ccr`.`coupon_id` in
                <foreach collection="query.couponIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.patientKeyword !=null and query.patientKeyword != ''">
                and (`bp`.`name` like concat('%', #{query.patientKeyword}, '%') or `bp`.`mobile` like concat('%',
                #{query.patientKeyword}, '%')
                or `bp`.`pinyin_name` like concat('%', #{query.patientKeyword}, '%'))
                or (`bp1`.`name` like concat('%', #{query.patientKeyword}, '%') or `bp1`.`mobile` like concat('%',
                #{query.patientKeyword}, '%')
                or `bp1`.`pinyin_name` like concat('%', #{query.patientKeyword}, '%'))
            </if>
        </where>
        group by ccr.card_id,ccr.patient_id
    </select>

    <select id="deductionUse" resultType="com.yunya.feign.report.domain.vo.DeductionUsedVO">
        select
            cci.coupon_name                                      as couponName,
            c.card_number    as cardNumber,
            c.sale_channel_name                                       as saleChannel,
            dip.package_unit_price 						  as saleAmount,
            bti.item_name                                    as itemName,
            cb.item_type,
            count(*)                                      as quantity,
            bp.name                                     as patientName,
            b.bill_num  as billNumber,
            date_format(cb.use_date, '%Y-%m-%d %H:%i:%s') as `billDate`,
            bo.abbreviation                                     as orgName,
            be.employee_name                             as executorName
        from base_benefit cb
                 inner join base_card c on cb.card_id = c.card_id
                 inner join base_coupon cci on c.coupon_id = cci.coupon_id
                 left join deduction_item dip on dip.item_id = cb.item_id and dip.coupon_id = cb.coupon_id and dip.type = cb.item_type
                 left join base_coupon_order_virtual cov on c.card_id = cov.card_id
                 left join base_bill b on cb.order_id = b.bill_id
                 left join base_patient bp on bp.patient_id = cb.patient_id
                left join base_employee be on be.user_id = cb.operate_user_id
                left join base_tariff_info bti on bti.item_id = cb.item_id AND bti.item_type = cb.item_type
                left join base_organization bo on bo.org_id = cb.org_id
        where cb.coupon_type = 5
        <if test="query.startDate != null and query.endDate != null">
            and (cb.use_date &gt;= #{query.startDate} and cb.use_date &lt; DATE_ADD(#{query.endDate} ,INTERVAL '1'
            DAY))
        </if>
        <if test="query.channelIds != null and query.channelIds.size() > 0">
            and `c`.`sale_channel_id` in
            <foreach collection="query.channelIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="query.couponTypeIds != null and query.couponTypeIds.size() > 0">
            and `cci`.`product_type_id` in
            <foreach collection="query.couponTypeIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="query.couponName !=null and query.couponName != ''">
            and `cci`.`coupon_name` like concat('%', #{query.couponName}, '%')
        </if>
        <if test="query.cardNumber !=null and query.cardNumber != ''">
            and `c`.`card_number` like concat('%', #{query.cardNumber}, '%')
        </if>
        <if test="query.patientKeyword !=null and query.patientKeyword != ''">
            and (`bp`.`name` like concat('%', #{query.patientKeyword}, '%') or `bp`.`mobile` like concat('%',
            #{query.patientKeyword}, '%')
            or `bp`.`pinyin_name` like concat('%', #{query.patientKeyword}, '%'))
        </if>
        <if test="query.orgIds != null and query.orgIds.size() > 0">
            and `cb`.`org_id` in
            <foreach collection="query.orgIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
          and dip.crt_time = (select max(crt_time)
                              from deduction_item
                              where coupon_id = cci.coupon_id
                                and crt_time &lt;= ifnull(c.sold_date, c.active_date))
        group by cb.card_id, cb.order_id, cb.item_id,cb.item_type
        order by cb.use_date desc
    </select>

    <select id="deductionBuy" resultType="com.yunya.feign.report.domain.vo.DeductionBuyVO">
        select bp.name  as buyer,
               bp.mobile,
               cov.coupon_name,
               cov.card_number,
               date_format(cov.sold_date, '%Y-%m-%d %H:%i:%s')    as buyDate,
               cov.order_sn as orderNumber,
               group_concat(cbbp.account_item_name)     as accountTypeName,
               bo.abbreviation  as orgName,
               cov.price,
               cov.package_unit_price   as saleAmount,
               be.employee_name as operateName
        from base_coupon_order_virtual cov
                 inner join base_coupon cci on cov.coupon_id = cci.coupon_id
                 left join base_patient bp on cov.patient_id = bp.patient_id
                 left join base_coupon_bill cb on cb.order_id = cov.order_id
                 left join base_organization bo on bo.org_id = cb.org_id
                 left join base_coupon_bill_pay_detail cbbp on cbbp.order_id = cov.order_id
                 left join base_employee be on be.user_id = cb.checker_id
        <where>
            <if test="query.startDate != null and query.endDate != null">
                and (cb.bill_date &gt;= #{query.startDate} and cb.bill_date &lt; DATE_ADD(#{query.endDate} ,INTERVAL '1'
                DAY))
            </if>
            <if test="query.couponTypeIds != null and query.couponTypeIds.size() > 0">
                and `cci`.`product_type_id` in
                <foreach collection="query.couponTypeIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
             <if test="query.couponName !=null and query.couponName != ''">
                and `cci`.`coupon_name` like concat('%', #{query.couponName}, '%')
            </if>
            <if test="query.cardNumber !=null and query.cardNumber != ''">
                and `cov`.`card_number` like concat('%', #{query.cardNumber}, '%')
            </if>
             <if test="query.patientKeyword !=null and query.patientKeyword != ''">
                and (`bp`.`name` like concat('%', #{query.patientKeyword}, '%') or `bp`.`mobile` like concat('%',
                #{query.patientKeyword}, '%')
                or `bp`.`pinyin_name` like concat('%', #{query.patientKeyword}, '%'))
            </if>
            <if test="query.orgIds != null and query.orgIds.size() > 0">
                and `cb`.`org_id` in
                <foreach collection="query.orgIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by cov.order_id, cov.card_id
    </select>
    <select id="deductionRefund" resultType="com.yunya.feign.report.domain.vo.DeductionRefundVO">
        select cov.coupon_name,
               cov.card_number,
               cov.package_unit_price   as saleAmount,
               crd.refund_amount,
               group_concat(distinct cfp.account_item_name) as refundType,
               bo.abbreviation   as orgName,
               be.employee_name   as executorName,
               cr.refund_reason    as remark
        from base_coupon_refund_detail crd
                 inner join base_coupon_refund_pay cfp on cfp.refund_id = crd.refund_id
                 inner join base_coupon_refund cr on crd.refund_id = cr.refund_id
                 LEFT join base_coupon_order_virtual cov on cov.virtual_id = crd.order_virtual_id
                left join base_coupon cci on cci.coupon_id = cov.coupon_id
                 left join base_employee be on be.user_id = crd.executor_id
                 left join base_organization bo on bo.org_id = cr.org_id
        <where>
            <if test="query.startDate != null and query.endDate != null">
                and (cr.refund_date &gt;= #{query.startDate} and cr.refund_date &lt; DATE_ADD(#{query.endDate} ,INTERVAL '1'
                DAY))
            </if>
            <if test="query.couponTypeIds != null and query.couponTypeIds.size() > 0">
                and `cci`.`product_type_id` in
                <foreach collection="query.couponTypeIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
             <if test="query.couponName !=null and query.couponName != ''">
                and `cci`.`coupon_name` like concat('%', #{query.couponName}, '%')
            </if>
            <if test="query.cardNumber !=null and query.cardNumber != ''">
                and `cov`.`card_number` like concat('%', #{query.cardNumber}, '%')
            </if>
            <if test="query.orgIds != null and query.orgIds.size() > 0">
                and `cr`.`org_id` in
                <foreach collection="query.orgIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY crd.refund_id
    </select>
    <select id="selectClinicDeductionDataStatistic"
            resultType="com.yunya.feign.report.domain.vo.DeductionDataStatisticVO">
        SELECT
        IFNULL(SUM( bpmol.totalDeductionRechargeAmount ), 0) AS totalDeductionRechargeAmount,
        IFNULL(SUM( bpmol.totalDeductionExpendAmount ), 0) AS totalDeductionExpendAmount,
        IFNULL(SUM( bpmol.totalDeductionRefundAmount ), 0) AS totalDeductionRefundAmount
        FROM
        (
        SELECT
        bo.org_id,
        IFNULL( bpmol.totalDeductionRechargeAmount, 0 ) AS totalDeductionRechargeAmount,
        IFNULL( bpmol1.totalDeductionExpendAmount, 0 ) AS totalDeductionExpendAmount,
        IFNULL( bpmol2.totalDeductionRefundAmount, 0 ) AS totalDeductionRefundAmount
        FROM
        base_organization bo
        LEFT JOIN (
        SELECT
        bpmol.org_id,
        SUM( bpmol.occur_amount) AS totalDeductionRechargeAmount
        FROM
        (
        SELECT
        bpmol.org_id,
        bpmol.occur_amount
        FROM
        coupon_change_record bpmol
        <where>
            AND bpmol.occur_type = 1
            and ISNULL(bpmol.order_id) = 0
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bpmol.occur_date, '%Y-%m-%d') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bpmol.occur_date, '%Y-%m-%d') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bpmol.occur_date, '%Y-%m') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bpmol.occur_date, '%Y-%m') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bpmol.occur_date, '%Y') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bpmol.occur_date, '%Y') &lt;= #{query.endDate}
                </if>
            </if>
        </where>
        ) bpmol
        GROUP BY
        bpmol.org_id
        ) bpmol ON bo.org_id = bpmol.org_id
        LEFT JOIN (
        SELECT
        bpmol.org_id,
        SUM( bpmol.occur_amount) AS totalDeductionExpendAmount
        FROM
        (
        SELECT
        bpmol.org_id,
        bpmol.occur_amount
        FROM
        coupon_change_record bpmol
        <where>
            AND bpmol.occur_type = 2
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bpmol.occur_date, '%Y-%m-%d') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bpmol.occur_date, '%Y-%m-%d') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bpmol.occur_date, '%Y-%m') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bpmol.occur_date, '%Y-%m') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bpmol.occur_date, '%Y') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bpmol.occur_date, '%Y') &lt;= #{query.endDate}
                </if>
            </if>
        </where>
        ) bpmol
        GROUP BY
        bpmol.org_id
        ) bpmol1 ON bo.org_id = bpmol1.org_id
        LEFT JOIN (
        SELECT
        bpmol.org_id,
        SUM(bpmol.occur_amount ) AS totalDeductionRefundAmount
        FROM
        (
        SELECT
        bpmol.org_id,
        bpmol.occur_amount
        FROM
        coupon_change_record bpmol
        <where>
            AND bpmol.occur_type = 3
            <if test="query.dateType == 0">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bpmol.occur_date, '%Y-%m-%d') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bpmol.occur_date, '%Y-%m-%d') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 1">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bpmol.occur_date, '%Y-%m') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bpmol.occur_date, '%Y-%m') &lt;= #{query.endDate}
                </if>
            </if>
            <if test="query.dateType == 2">
                <if test="query.startDate != null and query.startDate != ''">
                    and DATE_FORMAT( bpmol.occur_date, '%Y') &gt;= #{query.startDate}
                </if>
                <if test="query.endDate != null and query.endDate != ''">
                    and DATE_FORMAT( bpmol.occur_date, '%Y') &lt;= #{query.endDate}
                </if>
            </if>
        </where>
        ) bpmol
        GROUP BY
        bpmol.org_id
        ) bpmol2 ON bo.org_id = bpmol2.org_id
        GROUP BY
        bo.org_id
        ) bpmol
        <where>
            and bpmol.org_id in
            <foreach collection="query.orgIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>
</mapper>