<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.CurrentMonthBillStatisticsMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.CurrentMonthBillStatistics">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="current_month" property="currentMonth" jdbcType="TIMESTAMP"/>
        <result column="actual_receivable_amount" property="actualReceivableAmount" jdbcType="DECIMAL"/>
        <result column="privelege_amount" property="privelegeAmount" jdbcType="DECIMAL"/>
        <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL"/>
        <result column="free_pay_amount" property="freePayAmount" jdbcType="DECIMAL"/>
        <result column="debt_amount" property="debtAmount" jdbcType="DECIMAL"/>
    </resultMap>

    <!-- 根据条件查询账单存档统计 -->
    <select id="selectCurrentMonthBillStatistics"
            resultType="com.yunya.feign.report.domain.vo.CurrentMonthBillStatisticVO">
        select
        #{query.queryDate} as currentMonth,
        #{query.orgId} as orgId,
        ifnull(cmbs.actual_receivable_amount, 0) as currentMonthTotalActualAmount,
        ifnull(cmbs.privelege_amount, 0) as currentMonthTotalDiscountAmount,
        ifnull(cmbs.actual_receivable_amount - cmbs.debt_amount, 0) as currentMonthTotalReceivedAmount,
        ifnull(cmbs.free_pay_amount, 0) as currentMonthTotalFreePayAmount,
        ifnull(cmbs.debt_amount, 0) as currentMonthTotalDebtAmount
        from
        current_month_bill_statistics cmbs
        <where>
            <if test="query.orgId != null">
                and cmbs.org_id = #{query.orgId}
            </if>
            <if test="query.queryDate != null and query.queryDate != ''">
                and DATE_FORMAT(cmbs.current_month, '%Y-%m') = #{query.queryDate}
            </if>
        </where>
    </select>
</mapper>