<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.EmployeeWorkloadCostMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.report.EmployeeWorkloadCost" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="entry_month" property="entryMonth" jdbcType="TIMESTAMP" />
    <result column="processing_fee" property="processingFee" jdbcType="DECIMAL" />
    <result column="material_fee" property="materialFee" jdbcType="DECIMAL" />
    <result column="orthodontics_fee" property="orthodonticsFee" jdbcType="DECIMAL" />
    <result column="base_workload" property="baseWorkload" jdbcType="DECIMAL" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>