<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.EmployeeWorkloadCostMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.report.EmployeeWorkloadCost" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="entry_month" property="entryMonth" jdbcType="TIMESTAMP" />
    <result column="processing_fee" property="processingFee" jdbcType="DECIMAL" />
    <result column="material_fee" property="materialFee" jdbcType="DECIMAL" />
    <result column="orthodontics_fee" property="orthodonticsFee" jdbcType="DECIMAL" />
    <result column="base_workload" property="baseWorkload" jdbcType="DECIMAL" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!--查询员工的加工费、正畸加工费、大额材料费-->
  <select id="selectClinicEmployeeWorkCost" resultType="com.yunya.models.report.EmployeeWorkloadCost">
    SELECT
      SUM(ewc.processing_fee) AS processingFee,
      SUM(ewc.orthodontics_fee) AS orthodonticsFee,
      SUM(ewc.base_workload) AS baseWorkload,
      SUM(ewc.material_fee) AS materialFee,
      ewc.user_id AS userId,
      ewc.org_id AS orgId
    FROM employee_workload_cost ewc
    <where>
    <if test="query.orgIds != null and query.orgIds.length > 0">
      and ewc.org_id in
      <foreach collection="query.orgIds" item="item" index="index" open="(" close=")" separator=",">
        #{item}
      </foreach>
    </if>
      <if test="query.dateType == 0">
        <if test="query.startDate != null and query.startDate != ''">
          and DATE_FORMAT( ewc.entry_month, '%Y-%m-%d' ) &gt;= #{query.startDate}
        </if>
        <if test="query.endDate != null and query.endDate != ''">
          and DATE_FORMAT( ewc.entry_month, '%Y-%m-%d' ) &lt;= #{query.endDate}
        </if>
      </if>
      <if test="query.dateType == 1">
        <if test="query.startDate != null and query.startDate != ''">
          and DATE_FORMAT( ewc.entry_month, '%Y-%m' ) &gt;= #{query.startDate}
        </if>
        <if test="query.endDate != null and query.endDate != ''">
          and DATE_FORMAT( ewc.entry_month, '%Y-%m' ) &lt;= #{query.endDate}
        </if>
      </if>
      <if test="query.dateType == 2">
        <if test="query.startDate != null and query.startDate != ''">
          and DATE_FORMAT( ewc.entry_month, '%Y' ) &gt;= #{query.startDate}
        </if>
        <if test="query.endDate != null and query.endDate != ''">
          and DATE_FORMAT( ewc.entry_month, '%Y' ) &lt;= #{query.endDate}
        </if>
      </if>
    </where>
    GROUP BY ewc.user_id, ewc.org_id
  </select>
</mapper>