<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.StatEmpBillMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.report.StatEmpBill" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="org_id" property="orgId" jdbcType="INTEGER" />
    <id column="dentist_id" property="dentistId" jdbcType="INTEGER" />
    <id column="item_type" property="itemType" jdbcType="TINYINT" />
    <id column="item_id" property="itemId" jdbcType="INTEGER" />
    <id column="bill_date" property="billDate" jdbcType="INTEGER" />
    <result column="receivable_workload" property="receivableWorkload" jdbcType="DECIMAL" />
    <result column="received_workload" property="receivedWorkload" jdbcType="DECIMAL" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
  </resultMap>

  <select id="selectBillItemList" resultType="com.yunya.models.report.StatEmpBill">
    SELECT
        seb.org_id AS orgId,
        seb.item_type AS itemType,
        seb.item_id AS itemId,
        SUM(seb.quantity) AS quantity
    FROM stat_emp_bill seb
    <where>
        <if test="query.orgIds!=null and query.orgIds.size()>0">
          AND seb.org_id in
          <foreach collection="query.orgIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
          </foreach>
        </if>
        <if test="query.sDateInt!=null and query.eDateInt!=null">
          AND seb.bill_date between #{query.sDateInt} and #{query.eDateInt}
        </if>
    </where>
    GROUP BY seb.org_id, seb.item_type, seb.item_id
  </select>
</mapper>