<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.report.ultimate.mapper.StatEmpPayMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.report.StatEmpPay" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="org_id" property="orgId" jdbcType="INTEGER" />
    <id column="dentist_id" property="dentistId" jdbcType="INTEGER" />
    <id column="item_id" property="itemId" jdbcType="INTEGER" />
    <id column="item_type" property="itemType" jdbcType="TINYINT" />
    <id column="pay_date" property="payDate" jdbcType="INTEGER" />
    <result column="received_workload" property="receivedWorkload" jdbcType="DECIMAL" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
  </resultMap>

  <!--统计实收工作量 非空时，根据门诊分组统计；非空时，根据员工分组统计-->
  <select id="selectClinicReceivedWorkload" resultType="com.yunya.models.report.StatEmpPay">
    SELECT
        sep.org_id AS orgId,
        sep.dentist_id AS dentistId,
        DATE_FORMAT(sep.pay_date,'%Y%m') AS payDate,
        SUM(sep.received_workload) AS receivedWorkload
    FROM stat_emp_pay sep
    <where>
      <if test="orgIds!=null and orgIds.size()>0">
        AND sep.org_id in
        <foreach collection="orgIds" item="item" index="index" open="(" close=")" separator=",">
          #{item}
        </foreach>
      </if>
      <if test="employeeIds!=null and employeeIds.size()>0">
        AND sep.dentist_id in
        <foreach collection="employeeIds" item="item" index="index" open="(" close=")" separator=",">
          #{item}
        </foreach>
      </if>
      <if test="query.sDateInt!=null and query.eDateInt!=null">
        AND sep.pay_date between #{query.sDateInt} and #{query.eDateInt}
      </if>
    </where>
    GROUP BY
    <if test="orgIds!=null and orgIds.size()>0">
        sep.org_id,
    </if>
    <if test="employeeIds!=null and employeeIds.size()>0">
        sep.dentist_id,
    </if>
    DATE_FORMAT(sep.pay_date,'%Y%m')
  </select>
</mapper>