<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.middletable.dao.report.BaseRefundMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseRefund" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="refund_id" property="refundId" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="treatment_id" property="treatmentId" jdbcType="INTEGER" />
    <result column="bill_id" property="billId" jdbcType="INTEGER" />
    <result column="refund_amount" property="refundAmount" jdbcType="DECIMAL" />
    <result column="refund_operator_id" property="refundOperatorId" jdbcType="INTEGER" />
    <result column="refund_date" property="refundDate" jdbcType="TIMESTAMP" />
    <result column="refund_reason" property="refundReason" jdbcType="VARCHAR" />
    <result column="bill_num" property="billNum" jdbcType="VARCHAR" />
    <result column="bill_date" property="billDate" jdbcType="TIMESTAMP" />
    <result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
    <result column="privilege_amount" property="privilegeAmount" jdbcType="DECIMAL" />
    <result column="actual_amount" property="actualAmount" jdbcType="DECIMAL" />
    <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL" />
  </resultMap>

  <select id="selectBillItemRefundListByDate"
            resultType="com.yunya.feign.report.domain.vo.BillExecutorItemVO">
    SELECT
        bb.bill_id AS billId,
        bbd.org_id AS orgId,
        bbd.item_type AS itemType,
        bbd.item_id AS itemId,
        bbd.executor_id AS executorId,
        brf.refund_date AS billDate,
        IFNULL(SUM(refund_amount),0) AS refundWorkload
        FROM (
            SELECT
                SUM(brd.refund_amount) AS refund_amount,
                brd.bill_detail_id,
                DATE_FORMAT(br.refund_date, '%Y%m%d') AS refund_date
            FROM base_refund_detail brd
            INNER JOIN base_refund br ON brd.refund_id = br.refund_id
            <where>
                  <if test="query.sDateInt!=null and query.eDateInt!=null">
                      AND DATE_FORMAT(br.refund_date, '%Y%m%d') between #{query.sDateInt} and #{query.eDateInt}
                  </if>
            </where>
            GROUP BY brd.bill_detail_id,DATE_FORMAT(br.refund_date, '%Y%m%d')
        ) brf
        LEFT JOIN base_bill_detail bbd ON brf.bill_detail_id = bbd.bill_detail_id
        LEFT JOIN base_bill bb ON bb.bill_id = bbd.bill_id
        <where>
            AND bbd.executor_id > 0
            AND bb.bill_date is not null
            <if test="query.orgId != null">
                AND bb.org_id = #{query.orgId}
            </if>
            <if test="query.dentistIds!=null and query.dentistIds.size()>0">
                AND bbd.executor_id in
                <foreach collection="query.dentistIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY bbd.executor_id, bbd.org_id, bbd.item_type, bbd.item_id, brf.refund_date
  </select>
</mapper>