<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.middletable.dao.report.BasePatientMemberMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.middletable.BasePatientMember" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="card_id" property="cardId" jdbcType="INTEGER" />
    <result column="card_number" property="cardNumber" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="member_level_id" property="memberLevelId" jdbcType="INTEGER" />
    <result column="principal_amount" property="principalAmount" jdbcType="DECIMAL" />
    <result column="bonus_amount" property="bonusAmount" jdbcType="DECIMAL" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="card_opening_date" property="cardOpeningDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <!-- 根据会员卡号修改会员信息 -->
    <update id="updateByCardNumber">
      update base_patient_member
      <trim prefix="set" suffixOverrides=",">
        <if test="form.cardId != null"> card_id, </if>
        <if test="form.cardId != null"> card_id, </if>
        <if test="form.cardId != null"> card_id, </if>
        <if test="form.cardId != null"> card_id, </if>
        <if test="form.cardId != null"> card_id, </if>
        <if test="form.cardId != null"> card_id, </if>
        <if test="form.cardId != null"> card_id, </if>
        <if test="form.cardId != null"> card_id, </if>
      </trim>
    </update>
  <!-- 根据会员id和tyep 删除中间表消息 -->
    <delete id="deleteByPrimaryKeyAndType">
      delete from base_patient_member where card_id =#{cardId} and type =#{type}
    </delete>

</mapper>