<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.middletable.dao.report.BaseTreatmentProcessMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseTreatmentProcess">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="appointment_id" property="appointmentId" jdbcType="INTEGER"/>
        <result column="registered_id" property="registeredId" jdbcType="INTEGER"/>
        <result column="treatment_id" property="treatmentId" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="treat_status" property="treatStatus" jdbcType="TINYINT"/>
        <result column="treat_type" property="treatType" jdbcType="TINYINT"/>
        <result column="appoint_status" property="appointStatus" jdbcType="TINYINT"/>
        <result column="appoint_dentist_id" property="appointDentistId" jdbcType="INTEGER"/>
        <result column="appoint_start_time" property="appointStartTime" jdbcType="TIMESTAMP"/>
        <result column="appointment_crt_time" property="appointmentCrtTime" jdbcType="TIMESTAMP"/>
        <result column="appoint_duration" property="appointDuration" jdbcType="INTEGER"/>
        <result column="appoint_modify_time" property="appointModifyTime" jdbcType="INTEGER"/>
        <result column="appoint_content" property="appointContent" jdbcType="VARCHAR"/>
        <result column="registered_dentist_id" property="registeredDentistId" jdbcType="INTEGER"/>
        <result column="registered_time" property="registeredTime" jdbcType="TIME"/>
        <result column="registered_date" property="registeredDate" jdbcType="TIMESTAMP"/>
        <result column="treat_start_time" property="treatStartTime" jdbcType="TIMESTAMP"/>
        <result column="treat_end_time" property="treatEndTime" jdbcType="TIMESTAMP"/>
        <result column="assistant_1" property="assistant1" jdbcType="INTEGER"/>
        <result column="assistant_2" property="assistant2" jdbcType="INTEGER"/>
        <result column="assistant_3" property="assistant3" jdbcType="INTEGER"/>
    </resultMap>
    <!-- 批量插入就诊流程 -->
    <insert id="batchInsertSelective">
        INSERT INTO base_treatment_process (
        appointment_id,
        registered_id,
        treatment_id,
        org_id,
        patient_id,
        treat_status,
        treat_type,
        appoint_status,
        appoint_dentist_id,
        appoint_start_time,
        appoint_duration,
        appointment_crt_time,
        appoint_modify_time,
        appoint_content,
        registered_dentist_id,
        registered_time,
        registered_date,
        treat_start_time,
        treat_end_time,
        assistant_1,
        assistant_2,
        assistant_3
        )
        VALUES
        <foreach collection="treatmentProcesses" item="item" separator=",">
            (#{item.appointmentId}, #{item.registeredId}, #{item.treatmentId},
            #{item.orgId}, #{item.patientId}, #{item.treatStatus},
            #{item.treatType}, #{item.appointStatus}, #{item.appointDentistId},
            #{item.appointStartTime}, #{item.appointDuration}, #{item.appointmentCrtTime}, #{item.appointModifyTime},
            #{item.appointContent}, #{item.registeredDentistId}, #{item.registeredTime},#{item.registeredDate},
            #{item.treatStartTime}, #{item.treatEndTime}, #{item.assistant1},
            #{item.assistant2}, #{item.assistant3})
        </foreach>
    </insert>

    <update id="updateAssistantValueByTreatmentId">
        update base_treatment_process
        set assistant_1 = #{treatmentProcess.assistant1},
            assistant_2 = #{treatmentProcess.assistant2},
            assistant_3 = #{treatmentProcess.assistant3}
        where treatment_id=#{treatmentProcess.treatmentId}
    </update>

    <update id="updateRegisteredValueByAppointmentId">
        update base_treatment_process
        set registered_id = null,
            treat_status = null,
            treat_type = null,
            registered_dentist_id = null,
            registered_time = null,
            registered_date = null
        where appointment_id=#{appointmentId}
    </update>

    <!-- 根据预约ID更新就诊流程 -->
    <update id="updateByAppointmentId">
        update base_treatment_process
        <set>
            <if test="treatmentProcess.appointmentId != null">
                appointment_id = #{treatmentProcess.appointmentId},
            </if>
            <if test="treatmentProcess.registeredId != null">
                registered_id = #{treatmentProcess.registeredId},
            </if>
            <if test="treatmentProcess.treatmentId != null">
                treatment_id = #{treatmentProcess.treatmentId},
            </if>
            <if test="treatmentProcess.orgId != null">
                org_id = #{treatmentProcess.orgId},
            </if>
            <if test="treatmentProcess.patientId != null">
                patient_id = #{treatmentProcess.patientId},
            </if>
            <if test="treatmentProcess.appointModifyTime != null">
                appoint_modify_time = #{treatmentProcess.appointModifyTime},
            </if>
            <if test="treatmentProcess.treatStatus != null">
                treat_status = #{treatmentProcess.treatStatus},
            </if>
            <if test="treatmentProcess.treatType != null">
                treat_type = #{treatmentProcess.treatType},
            </if>
            <if test="treatmentProcess.appointStatus != null">
                appoint_status = #{treatmentProcess.appointStatus},
            </if>
            <if test="treatmentProcess.appointDentistId != null">
                appoint_dentist_id = #{treatmentProcess.appointDentistId},
            </if>
            <if test="treatmentProcess.appointStartTime != null">
                appoint_start_time = #{treatmentProcess.appointStartTime},
            </if>
            <if test="treatmentProcess.appointDuration != null">
                appoint_duration = #{treatmentProcess.appointDuration},
            </if>
            <if test="treatmentProcess.appointmentCrtTime != null">
                appointment_crt_time = #{treatmentProcess.appointmentCrtTime},
            </if>
            <if test="treatmentProcess.appointContent != null and treatmentProcess.appointContent != ''">
                appoint_content = #{treatmentProcess.appointContent},
            </if>
            <if test="treatmentProcess.registeredDentistId != null">
                registered_dentist_id = #{treatmentProcess.registeredDentistId},
            </if>
            <if test="treatmentProcess.registeredTime != null">
                registered_time = #{treatmentProcess.registeredTime},
            </if>
            <if test="treatmentProcess.registeredDate != null">
                registered_date = #{treatmentProcess.registeredDate},
            </if>
            <if test="treatmentProcess.treatStartTime != null">
                treat_start_time = #{treatmentProcess.treatStartTime},
            </if>
            <if test="treatmentProcess.treatEndTime != null">
                treat_end_time = #{treatmentProcess.treatEndTime},
            </if>
            <if test="treatmentProcess.assistant1 != null">
                assistant_1 = #{treatmentProcess.assistant1},
            </if>
            <if test="treatmentProcess.assistant2 != null">
                assistant_2 = #{treatmentProcess.assistant2},
            </if>
            <if test="treatmentProcess.assistant3 != null">
                assistant_3 = #{treatmentProcess.assistant3},
            </if>
        </set>
        where appointment_id = #{appointmentId}
    </update>
    <!-- 根据挂号ID更新就诊流程 -->
    <update id="updateByRegisteredId">
        update base_treatment_process
        <set>
            <if test="treatmentProcess.registeredId != null">
                registered_id = #{treatmentProcess.registeredId},
            </if>
            <if test="treatmentProcess.treatmentId != null">
                treatment_id = #{treatmentProcess.treatmentId},
            </if>
            <if test="treatmentProcess.orgId != null">
                org_id = #{treatmentProcess.orgId},
            </if>
            <if test="treatmentProcess.patientId != null">
                patient_id = #{treatmentProcess.patientId},
            </if>
            <if test="treatmentProcess.treatStatus != null">
                treat_status = #{treatmentProcess.treatStatus},
            </if>
            <if test="treatmentProcess.treatType != null">
                treat_type = #{treatmentProcess.treatType},
            </if>
            <if test="treatmentProcess.registeredDentistId != null">
                registered_dentist_id = #{treatmentProcess.registeredDentistId},
            </if>
            <if test="treatmentProcess.registeredTime != null">
                registered_time = #{treatmentProcess.registeredTime},
            </if>
            <if test="treatmentProcess.registeredDate != null">
                registered_date = #{treatmentProcess.registeredDate},
            </if>
            <if test="treatmentProcess.treatStartTime != null">
                treat_start_time = #{treatmentProcess.treatStartTime},
            </if>
            <if test="treatmentProcess.treatEndTime != null">
                treat_end_time = #{treatmentProcess.treatEndTime},
            </if>
            <if test="treatmentProcess.assistant1 != null">
                assistant_1 = #{treatmentProcess.assistant1},
            </if>
            <if test="treatmentProcess.assistant2 != null">
                assistant_2 = #{treatmentProcess.assistant2},
            </if>
            <if test="treatmentProcess.assistant3 != null">
                assistant_3 = #{treatmentProcess.assistant3},
            </if>
        </set>
        where registered_id = #{registeredId}
    </update>
    <!-- 根据就诊ID更新就诊流程 -->
    <update id="updateByTreatmentRecordId">
        update base_treatment_process
        <set>
            <if test="treatmentProcess.treatmentId != null">
                treatment_id = #{treatmentProcess.treatmentId},
            </if>
            <if test="treatmentProcess.orgId != null">
                org_id = #{treatmentProcess.orgId},
            </if>
            <if test="treatmentProcess.patientId != null">
                patient_id = #{treatmentProcess.patientId},
            </if>
            <if test="treatmentProcess.treatStatus != null">
                treat_status = #{treatmentProcess.treatStatus},
            </if>
            <if test="treatmentProcess.treatType != null">
                treat_type = #{treatmentProcess.treatType},
            </if>
            <if test="treatmentProcess.treatStartTime != null">
                treat_start_time = #{treatmentProcess.treatStartTime},
            </if>
            <if test="treatmentProcess.treatEndTime != null">
                treat_end_time = #{treatmentProcess.treatEndTime},
            </if>
            <if test="treatmentProcess.assistant1 != null">
                assistant_1 = #{treatmentProcess.assistant1},
            </if>
            <if test="treatmentProcess.assistant2 != null">
                assistant_2 = #{treatmentProcess.assistant2},
            </if>
            <if test="treatmentProcess.assistant3 != null">
                assistant_3 = #{treatmentProcess.assistant3},
            </if>
        </set>
        where treatment_id = #{treatmentId}
    </update>
    <!-- 根据预约ID删除就诊流程 -->
    <delete id="deleteByAppointmentId">
        delete from base_treatment_process where appointment_id = #{appointmentId}
    </delete>
    <!-- 根据预约ID删除就诊流程 -->
    <delete id="deleteByRegisteredId">
        delete from base_treatment_process where registered_id = #{registeredId}
    </delete>
    <!-- 根据预约ID查询就诊流程信息 -->
    <select id="selectOneByAppointmentId" resultType="com.yunya.models.report.BaseTreatmentProcess">
      select * from base_treatment_process where appointment_id = #{appointmentId}
    </select>
    <!-- 根据挂号ID查询就诊流程信息 -->
    <select id="selectOneByRegisteredId" resultType="com.yunya.models.report.BaseTreatmentProcess">
      select * from base_treatment_process where registered_id = #{registeredId}
    </select>
    <!-- 根据就诊ID查询就诊流程信息 -->
    <select id="selectOneByTreatmentId" resultType="com.yunya.models.report.BaseTreatmentProcess">
      select * from base_treatment_process where treatment_id = #{treatmentId}
    </select>

    <select id="countTreatNumByDateAndDentist" resultType="com.yunya.models.report.StatEmpTreat">
        SELECT
            btp.org_id AS orgId,
            btp.registered_dentist_id AS dentistId,
            ${treatDate} AS treatDate,
            sum(case when btp.treat_type = 0 then 1 else 0 end) as firstVisitCount,
            sum(case when btp.treat_type = 1 then 1 else 0 end) as reVisitCount
        FROM base_treatment_process btp
        <where>
            AND btp.treat_end_time is not null
            AND btp.org_id = #{orgId}
            AND btp.registered_dentist_id = #{dentistId}
            AND DATE_FORMAT(btp.treat_end_time, '%Y%m%d') = #{treatDate}
        </where>
    </select>
</mapper>