<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.middletable.dao.report.BaseCouponBillDetailMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseCouponBillDetail">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="order_detail_id" property="orderDetailId" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="coupon_id" property="couponId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="coupon_number" property="couponNumber" jdbcType="VARCHAR"/>
        <result column="coupon_name" property="couponName" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="receivable_amount" property="receivableAmount" jdbcType="DECIMAL"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="executor_id" property="executorId" jdbcType="INTEGER"/>
        <result column="consulter_id" property="consulterId" jdbcType="INTEGER"/>
        <result column="item_id" property="itemId" jdbcType="INTEGER"/>
        <result column="item_type" property="itemType" jdbcType="TINYINT"/>
        <result column="source_type" property="sourceType" jdbcType="TINYINT"/>
        <result column="sale_channel_id" property="saleChannelId" jdbcType="INTEGER"/>
        <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <delete id="deleteByBillId">
        delete
        from base_bill_detail
        where order_id = #{billId}
    </delete>
</mapper>