<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.middletable.dao.report.BaseBillDetailMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseBillDetail">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="bill_detail_id" property="billDetailId" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="bill_id" property="billId" jdbcType="INTEGER"/>
        <result column="discount_amount" property="discountAmount" jdbcType="DECIMAL"/>
        <result column="coupon_workload" property="couponWorkload" jdbcType="DECIMAL"/>
        <result column="executor_id" property="executorId" jdbcType="INTEGER"/>
        <result column="consulter_id" property="consulterId" jdbcType="INTEGER"/>
        <result column="item_id" property="itemId" jdbcType="INTEGER"/>
        <result column="item_type" property="itemType" jdbcType="TINYINT"/>
        <result column="source_type" property="sourceType" jdbcType="TINYINT"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 批量插入中间表订单明细 -->
    <insert id="batchInsertSelective">
        INSERT INTO base_bill_detail (
        bill_detail_id,
        org_id,
        bill_id,
        discount_amount,
        coupon_workload,
        executor_id,
        consulter_id,
        item_id,
        item_type,
        source_type,
        quantity,
        price,
        received_amount,
        remark
        )
        VALUES
        <foreach collection="baseBillDetails" item="item" separator=",">
            (#{item.billDetailId}, #{item.orgId}, #{item.billId},
            #{item.discountAmount}, #{item.couponWorkload}, #{item.executorId}, #{item.consulter_id},
            #{item.itemId}, #{item.itemType}, #{item.sourceType},
            #{item.quantity}, #{item.price}, #{item.receivedAmount},
            #{item.remark})
        </foreach>
    </insert>

    <!-- 根据账单ID删除账单明细 -->
    <delete id="deleteByBillId">
        delete from base_bill_detail where bill_id = #{billId}
    </delete>

    <select id="selectBillDetailByDateAndExecutorId" resultType="com.yunya.feign.report.domain.vo.BillExecutorItemVO">
        SELECT
            bb.bill_id AS billId,
            bbd.item_type AS itemType,
            bbd.item_id AS itemId,
            bbd.executor_id AS executorId,
            /*项目应收*/
            (bbd.quantity*bbd.price-bbd.discount_amount) AS receivableWorkload,
            /*项目数量*/
            bbd.quantity AS quantity,
            /*项目补入*/
            bbd.coupon_workload AS couponWorkload,
            <if test="payeeDate != null">
            /*账单总已收*/
                IFNULL(bbp.received_amount,0) AS totalReceivedWorkload,
            </if>
            /*项目已收*/
            bbd.received_amount AS receivedWorkload,
            /*账单总应收*/
            bb.actual_amount AS actualWorkload
        FROM base_bill_detail bbd
        LEFT JOIN base_bill bb ON bb.bill_id = bbd.bill_id
        <if test="payeeDate != null">
            INNER JOIN (
                SELECT SUM(bbp.received_amount) AS received_amount, bbp.bill_id FROM base_bill_pay bbp
                WHERE DATE_FORMAT(bbp.payee_date,'%Y%m%d')=#{payeeDate}
                GROUP BY bbp.bill_id
            ) bbp ON bbp.bill_id = bb.bill_id
        </if>
        <where>
            AND bb.bill_date is not null
            AND bb.org_id = #{orgId}
            <if test="billDate != null">
                AND DATE_FORMAT(bb.bill_date, '%Y%m%d')  = #{billDate}
            </if>
            <if test="privilegeDate != null">
                AND DATE_FORMAT(bb.privilege_date, '%Y%m%d')  = #{privilegeDate}
            </if>
            AND bbd.executor_id in
            <foreach collection="executorIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="selectFreePaymentAmountByDate" resultType="com.yunya.models.report.BaseBillPayDetail">
        SELECT
            SUM(bbpd.principal_amount + bbpd.bonus_amount) AS principalAmount,
            bbpd.bill_id AS billId
        FROM base_bill_pay_detail bbpd
        INNER JOIN base_bill_pay bbp ON bbpd.bill_pay_id = bbp.bill_pay_id
        INNER JOIN base_bill bb ON bb.bill_id = bbp.bill_id
        INNER JOIN base_bill_detail bbd ON bbd.bill_id = bb.bill_id
        <where>
            AND bbpd.type = 2
            AND bbpd.account_item_id in (23,26)
            AND DATE_FORMAT(bbp.payee_date,'%Y%m%d')=#{payeeDate}
            AND bb.bill_date is not null
            AND bb.org_id = #{orgId}
            AND bbd.executor_id in
            <foreach collection="executorIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
        GROUP BY bb.bill_id
    </select>

    <select id="groupBillItemDetailListByDate" resultType="com.yunya.feign.report.domain.vo.BillExecutorItemVO">
        SELECT
            bbd.org_id AS orgId,
            <if test="dateInt == 0">
                DATE_FORMAT(bb.bill_date, '%Y%m%d') AS billDate,
            </if>
            <if test="dateInt == 1">
                DATE_FORMAT(bb.privilege_date, '%Y%m%d') AS billDate,
            </if>
            bbd.item_type AS itemType,
            bbd.item_id AS itemId,
            bbd.executor_id AS executorId,
            SUM(bbd.quantity*bbd.price-bbd.discount_amount) AS receivableWorkload,
            SUM(bbd.quantity) AS quantity,
            SUM(bbd.received_amount) AS receivedWorkload,
            SUM(bbd.coupon_workload) AS couponWorkload
        FROM base_bill_detail bbd
        INNER JOIN base_bill bb ON bb.bill_id = bbd.bill_id
        <where>
            AND bb.bill_date is not null
            AND bbd.executor_id > 0
            <if test="dateInt == 0">
                <if test="startDate!=null and startDate!='' and endDate!=null and endDate!=''">
                    AND DATE_FORMAT(bb.bill_date, '%Y-%m-%d') between #{startDate} and #{endDate}
                </if>
            </if>
            <if test="dateInt == 1">
                <if test="startDate!=null and startDate!='' and endDate!=null and endDate!=''">
                    AND DATE_FORMAT(bb.privilege_date, '%Y-%m-%d') between #{startDate} and #{endDate}
                </if>
            </if>
        </where>
        GROUP BY bbd.org_id, bbd.executor_id, bbd.item_type, bbd.item_id,
        <if test="dateInt == 0">
            DATE_FORMAT(bb.bill_date, '%Y%m%d')
        </if>
        <if test="dateInt == 1">
            DATE_FORMAT(bb.privilege_date, '%Y%m%d')
        </if>
    </select>

    <select id="groupBillItemDetailListByPayDate"
            resultType="com.yunya.feign.report.domain.vo.BillExecutorItemVO">
        SELECT
            bb.bill_id AS billId,
            bbd.org_id AS orgId,
            DATE_FORMAT(bbp.payee_date, '%Y%m%d') AS billDate,
            bbd.item_type AS itemType,
            bbd.item_id AS itemId,
            bbd.executor_id AS executorId,
            (bbd.quantity*bbd.price-bbd.discount_amount) AS receivableWorkload,
            bbd.quantity AS quantity,
            IFNULL(bbp.received_amount,0) AS totalReceivedWorkload,
            bbd.received_amount AS receivedWorkload,
            bbd.coupon_workload AS couponWorkload,
            bb.actual_amount AS actualWorkload
        FROM base_bill_detail bbd
        LEFT JOIN base_bill bb ON bb.bill_id = bbd.bill_id
        INNER JOIN (
            SELECT SUM(received_amount) AS received_amount, bill_id, DATE_FORMAT(payee_date, '%Y-%m-%d') AS payee_date FROM
            base_bill_pay
            <where>
                <if test="startDate!=null and startDate!='' and endDate!=null and endDate!=''">
                    AND DATE_FORMAT(payee_date, '%Y-%m-%d') between #{startDate} and #{endDate}
                </if>
            </where>
            GROUP BY bill_id, DATE_FORMAT(payee_date, '%Y-%m-%d')
        ) bbp ON bbp.bill_id = bb.bill_id
        <where>
            AND bb.bill_date is not null
            AND bbd.executor_id > 0
--             AND bb.org_id=27
        </where>
    </select>

    <select id="selectFreePaymentAmount" resultType="com.yunya.feign.report.domain.vo.BillExecutorItemVO">
        SELECT
            bbp.bill_id AS billId,
            DATE_FORMAT(bbp.payee_date, '%Y%m%d') AS billDate,
            bbpd.principal_amount + bbpd.bonus_amount AS freePaymentWorkload
        FROM base_bill_pay_detail bbpd
        INNER JOIN base_bill_pay bbp ON bbpd.bill_pay_id = bbp.bill_pay_id
        <where>
            AND bbpd.type = 2
            AND bbpd.account_item_id in (23,26)
            AND exists (
                SELECT bb.bill_id FROM base_bill bb
                INNER JOIN base_bill_detail bbd ON bbd.bill_id = bb.bill_id
                <where>
                    bb.bill_id = bbp.bill_id
                    AND bb.bill_date is not null
                    AND bbd.executor_id > 0
                    <if test="query.orgId != null">
                        AND bbd.org_id = #{query.orgId}
                    </if>
                    <if test="query.dentistIds!=null and query.dentistIds.size()>0">
                        AND bbd.executor_id in
                        <foreach collection="query.dentistIds" item="item" index="index" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </if>
                </where>
            )
            <if test="query.sDateInt!=null and query.eDateInt!=null">
                AND DATE_FORMAT(bbp.payee_date, '%Y%m%d') between #{query.sDateInt} and #{query.eDateInt}
            </if>
        </where>
    </select>
</mapper>