<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.middletable.dao.report.BaseBillDetailMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseBillDetail">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="bill_detail_id" property="billDetailId" jdbcType="INTEGER"/>
        <result column="bill_id" property="billId" jdbcType="INTEGER"/>
        <result column="discount_amount" property="discountAmount" jdbcType="DECIMAL"/>
        <result column="coupon_workload" property="couponWorkload" jdbcType="DECIMAL"/>
        <result column="executor_id" property="executorId" jdbcType="INTEGER"/>
        <result column="item_id" property="itemId" jdbcType="INTEGER"/>
        <result column="item_type" property="itemType" jdbcType="TINYINT"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL"/>
    </resultMap>
    <!-- 根据账单ID删除账单明细 -->
    <delete id="deleteByBillId">
        delete from base_bill_detail where bill_id = #{billId}
    </delete>
</mapper>