<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.middletable.dao.report.BaseBillPayShareMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseBillPayShare" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="bill_id" property="billId" jdbcType="INTEGER" />
    <result column="bill_pay_id" property="billPayId" jdbcType="INTEGER" />
    <result column="bill_detail_id" property="billDetailId" jdbcType="INTEGER" />
    <result column="item_type" property="itemType" jdbcType="TINYINT" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="free_amount" property="freeAmount" jdbcType="DECIMAL" />
    <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upt_id" property="uptId" jdbcType="INTEGER" />
    <result column="upt_time" property="uptTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!--默认新增，唯一索引重复时，数据更新-->
  <insert id="batchSave">
  INSERT INTO base_bill_pay_share
  (
  bill_id,
  bill_pay_id,
  bill_detail_id,
  item_type,
  item_id,
  free_amount,
  received_amount,
  inservice,
  crt_id,
  crt_time,
  upt_id,
  upt_time
  )
  VALUES
  <foreach collection ="list" item="it" index= "index" separator =",">
    (#{it.billId}, #{it.billPayId}, #{it.billDetailId}, #{it.itemType}, #{it.itemId}, #{it.freeAmount},
    #{it.receivedAmount}, #{it.inservice}, #{it.crtId}, #{it.crtTime}, #{it.uptId}, #{it.uptTime})
  </foreach>
  ON DUPLICATE KEY UPDATE
  free_amount = VALUES(free_amount),
  received_amount = VALUES(received_amount),
  upt_id = VALUES(upt_id),
  upt_time = VALUES(upt_time)
  </insert>

  <select id="statisitcsItemPayShareDetails" resultType="com.yunya.models.report.StatEmpPay">
    SELECT
      bbd.org_id AS orgId,
      bbd.executor_id AS dentistId,
      bbd.item_type AS itemType,
      bbd.item_id AS itemId,
      SUM(IFNULL(bbps.free_amount, 0)) AS freePaymentWorkload,
      SUM(IFNULL(bbps.received_amount, 0)) AS receivedWorkload
    FROM base_bill_detail bbd
    LEFT JOIN base_bill_pay_share bbps ON bbps.bill_detail_id=bbd.bill_detail_id
    INNER JOIN base_bill_pay bbp ON bbp.bill_pay_id=bbps.bill_pay_id
    <where>
      bbps.inservice = true
      AND DATE_FORMAT(bbp.payee_date, '%Y%m%d') = #{payDate}
      AND bbd.org_id = #{orgId}
      AND bbd.executor_id = #{executorId}
      AND bbd.item_type = #{itemType}
      AND bbd.item_id = #{itemId}
    </where>
    GROUP BY bbd.org_id, bbd.executor_id, bbps.item_type, bbps.item_id
  </select>
</mapper>