<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.middletable.dao.report.BaseBillDetailMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.report.BaseBillDetail">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="bill_detail_id" property="billDetailId" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="bill_id" property="billId" jdbcType="INTEGER"/>
        <result column="discount_amount" property="discountAmount" jdbcType="DECIMAL"/>
        <result column="coupon_workload" property="couponWorkload" jdbcType="DECIMAL"/>
        <result column="executor_id" property="executorId" jdbcType="INTEGER"/>
        <result column="item_id" property="itemId" jdbcType="INTEGER"/>
        <result column="item_type" property="itemType" jdbcType="TINYINT"/>
        <result column="source_type" property="sourceType" jdbcType="TINYINT"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL"/>
    </resultMap>

    <!-- 批量插入中间表订单明细 -->
    <insert id="batchInsertSelective">
        INSERT INTO base_bill_detail (
        bill_detail_id,
        org_id,
        bill_id,
        discount_amount,
        coupon_workload,
        executor_id,
        item_id,
        item_type,
        source_type,
        quantity,
        price,
        received_amount
        )
        VALUES
        <foreach collection="baseBillDetails" item="item" separator=",">
            (#{item.billDetailId}, #{item.orgId}, #{item.billId},
            #{item.discountAmount}, #{item.couponWorkload}, #{item.executorId},
            #{item.itemId}, #{item.itemType}, #{item.sourceType},
            #{item.quantity}, #{item.price}, #{item.receivedAmount})
        </foreach>
    </insert>

    <!-- 根据账单ID删除账单明细 -->
    <delete id="deleteByBillId">
        delete from base_bill_detail where bill_id = #{billId}
    </delete>
</mapper>