<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.middletable.dao.report.BaseCouponOrderVirtualMapper">

    <delete id="deleteByBillId">
        delete from base_coupon_order_virtual where order_id = #{orderId}
    </delete>

    <insert id="batchInsertSelective">
        INSERT INTO base_coupon_order_virtual (
            virtual_id,
            order_id,
            order_sn,
            card_id,
            coupon_id,
            `patient_id`,
            coupon_name,
            card_number,
            sold_date,
            package_unit_price,
            inservice,
            crt_id,
            crt_time,
            upd_time,
            upd_id
        )
        VALUES
        <foreach collection="virtuals" item="item" separator=",">
            (#{item.virtualId}, #{item.orderId}, #{item.orderSn}, #{item.cardId},
            #{item.couponId}, #{item.patientId}, #{item.couponName}, #{item.cardNumber}
            ,#{item.soldDate}, #{item.packageUnitPrice},#{item.inservice}, #{item.crtId},
            #{item.crtTime}, #{item.updTime}, #{item.updId})
        </foreach>
    </insert>
</mapper>