<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.middletable.dao.report.StatEmpPayMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.report.StatEmpPay" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="org_id" property="orgId" jdbcType="INTEGER" />
    <id column="dentist_id" property="dentistId" jdbcType="INTEGER" />
    <id column="item_id" property="itemId" jdbcType="INTEGER" />
    <id column="item_type" property="itemType" jdbcType="TINYINT" />
    <id column="pay_date" property="payDate" jdbcType="INTEGER" />
    <result column="received_workload" property="receivedWorkload" jdbcType="DECIMAL" />
    <result column="received_workload" property="receivedWorkload" jdbcType="DECIMAL" />
    <result column="free_payment_workload" property="freePaymentWorkload" jdbcType="DECIMAL" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insertBatch">
    INSERT stat_emp_pay
    (org_id, dentist_id, pay_date, item_type, item_id, received_workload, swipe_workload, free_payment_workload, crt_id, crt_time)
    VALUES
    <foreach collection ="list" item="item" index= "index" separator =",">
      (#{item.orgId}, #{item.dentistId}, #{item.payDate}, #{item.itemType}, #{item.itemId},
      #{item.receivedWorkload}, #{item.swipeWorkload}, #{item.freePaymentWorkload}, #{item.crtId}, #{item.crtTime})
    </foreach >
  </insert>
</mapper>