<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.middletable.dao.report.StatEmpBillMapper">
  <resultMap id="BaseResultMap" type="com.yunya.models.report.StatEmpBill">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="org_id" jdbcType="INTEGER" property="orgId" />
    <id column="dentist_id" jdbcType="INTEGER" property="dentistId" />
    <id column="item_type" jdbcType="TINYINT" property="itemType" />
    <id column="item_id" jdbcType="INTEGER" property="itemId" />
    <id column="bill_date" jdbcType="INTEGER" property="billDate" />
    <result column="receivable_workload" jdbcType="DECIMAL" property="receivableWorkload" />
    <result column="received_workload" jdbcType="DECIMAL" property="receivedWorkload" />
    <result column="coupon_workload" jdbcType="DECIMAL" property="couponWorkload" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="crt_id" jdbcType="INTEGER" property="crtId" />
  </resultMap>

  <insert id="insertBatch">
    INSERT stat_emp_bill
    (org_id, dentist_id, bill_date, item_type, item_id, quantity, receivable_workload, received_workload, crt_id, crt_time)
    VALUES
    <foreach collection ="list" item="item" index= "index" separator =",">
      (#{item.orgId}, #{item.dentistId}, #{item.billDate}, #{item.itemType}, #{item.itemId},
       #{item.quantity}, #{item.receivableWorkload}, #{item.receivedWorkload}, #{item.crtId}, #{item.crtTime})
    </foreach >
  </insert>
</mapper>