<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.BaseTariffHistoryMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.tariff.BaseTariffHistory">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="tariff_id" property="tariffId" jdbcType="INTEGER"/>
        <result column="tariff_category_id" property="tariffCategoryId" jdbcType="INTEGER"/>
        <result column="item_number" property="itemNumber" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 批量插入基础价目表变更记录列表 -->
    <insert id="insertBaseTariffHistory">
        insert into base_tariff_history
        (tariff_id, tariff_category_id, item_number, `name`, crt_id, crt_name)
        values
        <foreach collection="list" item="obj" separator=",">
            (#{obj.tariffId}, #{obj.tariffCategoryId}, #{obj.itemNumber}, #{obj.name}, #{obj.crtId}, #{obj.crtName})
        </foreach>
    </insert>

    <!-- 根据基础价目表ID查询变更历史记录 -->
    <select id="selectBaseTariffHistoryList" resultType="com.yunya.feign.treatment.domain.vo.BaseTariffHistoryVO">
        select
            bth.id,
            bth.tariff_id as tariffId,
            bth.tariff_category_id as tariffCategoryId,
            btc.`name` as tariffCategoryName,
            bth.item_number as itemNumber,
            bth.`name`,
            bth.crt_id as crtId,
            bth.crt_name as crtName,
            DATE_FORMAT(bth.crt_time,'%Y-%m-%d %H:%i:%s') as crtTime
        from base_tariff_history bth
        left join base_tariff_category btc on bth.tariff_category_id = btc.id
        where bth.tariff_id = #{tariffId}
    </select>
</mapper>