<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.BaseTariffMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.tariff.BaseTariff">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="tariff_category_id" property="tariffCategoryId" jdbcType="INTEGER"/>
        <result column="item_number" property="itemNumber" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="pinyin" property="pinyin" jdbcType="VARCHAR"/>
        <result column="english_name" property="englishName" jdbcType="VARCHAR"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="adjust" property="adjust" jdbcType="BIT"/>
        <result column="achie" property="achie" jdbcType="BIT"/>
        <result column="emr" property="emr" jdbcType="VARCHAR"/>
        <result column="attention" property="attention" jdbcType="VARCHAR"/>
        <result column="fellow_up" property="fellowUp" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 基础价目表信息结果集（封装门诊价目表信息） -->
    <resultMap id="BaseTariffInfoResultMap" type="com.yunya.feign.treatment.domain.vo.BaseTariffInfoVO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="tariffCategoryId" property="tariffCategoryId" jdbcType="INTEGER"/>
        <result column="tariffCategoryName" property="tariffCategoryName" jdbcType="VARCHAR"/>
        <result column="tariffCategoryNumber" property="tariffCategoryNumber" jdbcType="VARCHAR"/>
        <result column="itemNumber" property="itemNumber" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="pinyin" property="pinyin" jdbcType="VARCHAR"/>
        <result column="englishName" property="englishName" jdbcType="VARCHAR"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
    </resultMap>

    <!-- 根据基础价目表ID列表查询价目表名字 -->
    <select id="selectBaseTariffNamesByIds" resultType="java.lang.String">
        SELECT
        GROUP_CONCAT( bt.`name` ) AS tariffItemName
        FROM
        base_tariff bt
        WHERE
        FIND_IN_SET( bt.id, #{ids} )
    </select>

    <!-- 根据基础价目表ID查询价目表信息 -->
    <select id="selectBaseTariffInfoById" resultMap="BaseTariffInfoResultMap">
        select
            bt.id,
            bt.tariff_category_id as tariffCategoryId,
            btc.`name` as tariffCategoryName,
            btc.number as tariffCategoryNumber,
            bt.item_number as itemNumber,
            bt.`name`,
            bt.pinyin,
            bt.english_name as englishName,
            bt.unit,
            bt.price,
            bt.inservice
        from base_tariff bt
        left join base_tariff_category btc on bt.tariff_category_id = btc.id
        where bt.id = #{id}
    </select>
    <!-- 根据条件查询价目表列表 -->
    <select id="selectBaseTariffList" resultType="com.yunya.feign.treatment.domain.vo.BaseTariffVO">
        select
        bt.id,
        bt.tariff_category_id as tariffCategoryId,
        btc.`name` as tariffCategoryName,
        btc.number as tariffCategoryNumber,
        bt.item_number as itemNumber,
        bt.`name`,
        bt.pinyin,
        bt.english_name as englishName,
        bt.unit,
        bt.price,
        bt.inservice
        from base_tariff bt
        left join base_tariff_category btc on bt.tariff_category_id = btc.id
        <where>
            <if test="queryForm.id != null">
                and bt.id = #{queryForm.id}
            </if>
            <if test="queryForm.tariffCategoryId != null">
                and bt.tariff_category_id = #{queryForm.tariffCategoryId}
            </if>
            <if test="queryForm.keyWord != null and queryForm.keyWord != ''">
                and CONCAT(IFNULL( bt.name, '' ), IFNULL( bt.item_number, '' ), IFNULL( bt.pinyin, '' )) like
                concat('%',
                #{queryForm.keyWord}, '%')
            </if>
            <if test="queryForm.inservice != null">
                and bt.inservice = #{queryForm.inservice}
            </if>
        </where>
    </select>
    <!-- 根据条件查询导出价目表列表 -->
    <select id="selectExportBaseTariffList" resultType="com.yunya.feign.treatment.domain.vo.BaseTariffExportVO">
        select
        bt.item_number as itemNumber,
        bt.`name`,
        btc.`name` as tariffCategoryName,
        btc.number as tariffCategoryNumber,
        bt.english_name as englishName,
        bt.unit,
        bt.price
        from base_tariff bt
        left join base_tariff_category btc on bt.tariff_category_id = btc.id
        <where>
            <if test="queryForm.tariffCategoryId != null">
                and bt.tariff_category_id = #{queryForm.tariffCategoryId}
            </if>
            <if test="queryForm.keyWord != null and queryForm.keyWord != ''">
                and CONCAT(IFNULL( bt.name, '' ), IFNULL( bt.item_number, '' ), IFNULL( bt.pinyin, '' )) like
                concat('%',
                #{queryForm.keyWord}, '%')
            </if>
            <if test="queryForm.inservice != null">
                and bt.inservice = #{queryForm.inservice}
            </if>
        </where>
    </select>
    <!-- 根据条件查询价目表开单关联信息列表 -->
    <select id="selectBaseTariffAssociationList"
            resultType="com.yunya.feign.treatment.domain.vo.BaseTariffAssociationVO">
        select
        bt.id,
        bt.item_number as itemNumber,
        bt.`name`,
        bt.tariff_category_id as tariffCategoryId,
        btc.`name` as tariffCategoryName,
        btc.number as tariffCategoryNumber,
        bt.english_name as englishName,
        ifnull( bt.emr, '' ) as emr,
        ifnull( bt.attention, '' ) as attention,
        ifnull( group_concat(btfr.fellow_up), '' ) as fellowUp,
        bt.inservice
        from
        base_tariff bt
        left join base_tariff_category btc on bt.tariff_category_id = btc.id
        left join base_tariff_fellowup_relation btfr on btfr.base_tariff_id = bt.id
        <where>
            <if test="queryForm.tariffCategoryId != null">
                and bt.tariff_category_id = #{queryForm.tariffCategoryId}
            </if>
            <if test="queryForm.keyWord != null and queryForm.keyWord != ''">
                and CONCAT(IFNULL( bt.name, '' ), IFNULL( bt.item_number, '' ), IFNULL( bt.pinyin, '' )) like
                concat('%',
                #{queryForm.keyWord}, '%')
            </if>
            <if test="queryForm.inservice != null">
                and bt.inservice = #{queryForm.inservice}
            </if>
        </where>
        group by bt.id
    </select>
    <!-- 根据条件查询价目表导出开单关联信息列表 -->
    <select id="selectExportBaseTariffAssociationList"
            resultType="com.yunya.feign.treatment.domain.vo.BaseTariffAssociationExportVO">
        select
        bt.id,
        bt.item_number as itemNumber,
        bt.`name` as name,
        btc.`name` as tariffCategoryName,
        btc.number as tariffCategoryNumber,
        bt.english_name as englishName,
        ifnull( bt.emr, '' ) as emr,
        ifnull( bt.attention, '' ) as attention,
        ifnull( bt.fellow_up, '' ) as fellowUp
        from
        base_tariff bt
        left join base_tariff_category btc on bt.tariff_category_id = btc.id
        <where>
            <if test="queryForm.tariffCategoryId != null">
                and bt.tariff_category_id = #{queryForm.tariffCategoryId}
            </if>
            <if test="queryForm.keyWord != null and queryForm.keyWord != ''">
                and CONCAT(IFNULL( bt.name, '' ), IFNULL( bt.item_number, '' ), IFNULL( bt.pinyin, '' )) like
                concat('%',
                #{queryForm.keyWord}, '%')
            </if>
            <if test="queryForm.inservice != null">
                and bt.inservice = #{queryForm.inservice}
            </if>
        </where>
    </select>

    <!-- 查询基础价目表视图列表 -->
    <select id="selectBaseTariffView" resultType="com.yunya.models.tariff.BaseTariff">
        select id, tariff_category_id as tariffCategoryId, item_number as itemNumber, `name`
        from base_tariff_view
    </select>

    <!-- 查询该分类下价目表最大编号后三位 -->
    <select id="selectMaxBaseTariffNumber" resultType="java.lang.String">
        select
        IF(item_number is null, '000', substr(MAX(item_number), -3, 3)) as maxnum
        from base_tariff
        where left(item_number, 3) = #{categoryNumber}
        and tariff_category_id = #{tariffCategoryId};
    </select>

    <!--查询全部项目表（包含价目表和商品表）-->
    <select id="selectAllTariffList" resultType="com.yunya.feign.treatment.domain.vo.BaseTariffVO">
        select
            bt.id,
            bt.tariff_category_id as tariffCategoryId,
            btc.`name` as tariffCategoryName,
            '0' as tariffCategoryNumber,
            bt.item_number as itemNumber,
            bt.`name`,
            bt.pinyin,
            bt.english_name as englishName,
            bt.unit,
            bt.price,
            bt.inservice
        from base_tariff bt
        left join base_tariff_category btc on bt.tariff_category_id = btc.id
        <where>
            <if test="queryForm.id != null">
                and bt.id = #{queryForm.id}
            </if>
            <if test="queryForm.tariffCategoryId != null">
                and bt.tariff_category_id = #{queryForm.tariffCategoryId}
            </if>
            <if test="queryForm.keyWord != null and queryForm.keyWord != ''">
                and CONCAT(IFNULL( bt.name, '' ), IFNULL( bt.item_number, '' ), IFNULL( bt.pinyin, '' )) like
                concat('%',
                #{queryForm.keyWord}, '%')
            </if>
            <if test="queryForm.inservice != null">
                and bt.inservice = #{queryForm.inservice}
            </if>
        </where>
        union all
        select
            bot.id,
            bot.oral_tariff_category_id as tariffCategoryId,
            botc.`name` as tariffCategoryName,
            '1' as tariffCategoryNumber,
            bot.item_number as itemNumber,
            bot.`name`,
            bot.pinyin,
            bot.english_name as englishName,
            bot.unit,
            bot.price,
            bot.inservice
        from
        base_oral_tariff bot
        left join base_oral_tariff_category botc on bot.oral_tariff_category_id = botc.id
        <where>
            <if test="queryForm.id != null">
                and bot.id = #{queryForm.id}
            </if>
            <if test="queryForm.tariffCategoryId != null">
                and bot.oral_tariff_category_id = #{queryForm.oralTariffCategoryId}
            </if>
            <if test="queryForm.keyWord != null and queryForm.keyWord != ''">
                and CONCAT(IFNULL( bot.name, '' ), IFNULL( bot.item_number, '' ), IFNULL( bot.pinyin, '' )) like
                concat('%',
                #{queryForm.keyWord}, '%')
            </if>
            <if test="queryForm.inservice != null">
                and bot.inservice = #{queryForm.inservice}
            </if>
        </where>
    </select>
    <select id="selectByIds" resultMap="BaseResultMap">
        select * from base_tariff where
        id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 批量插入价目表 -->
    <insert id="insertBaseItems" useGeneratedKeys="true" keyProperty="id">
        insert into base_tariff
        (tariff_category_id,item_number,`name`,pinyin,english_name,unit,price,adjust,achie,emr,attention,fellow_up,inservice,
        crt_id,crt_name)
        values
        <foreach collection="list" item="obj" separator=",">
            (#{obj.tariffCategoryId},#{obj.itemNumber},#{obj.name},#{obj.pinyin},#{obj.englishName},#{obj.unit},#{obj.price},
            #{obj.adjust},#{obj.achie},#{obj.emr},#{obj.attention},#{obj.fellowUp},#{obj.inservice},#{obj.crtId},
            #{obj.crtName})
        </foreach>
    </insert>

    <!-- 批量更新价目表 -->
    <update id="updateBaseItems" keyProperty="id" useGeneratedKeys="true">
        update base_tariff
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="tariff_category_id=case" suffix="end,">
                <foreach collection="list" item="obj" index="index">
                    <if test="obj.tariffCategoryId != null">
                        when id=#{obj.id} then #{obj.tariffCategoryId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="item_number=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.itemNumber != null and obj.itemNumber != ''">
                        when id=#{obj.id} then #{obj.itemNumber}
                    </if>
                </foreach>
            </trim>
            <trim prefix="name=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.name != null and obj.name != ''">
                        when id=#{obj.id} then #{obj.name}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pinyin=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.pinyin != null and obj.pinyin=''">
                        when id=#{obj.id} then #{obj.pinyin}
                    </if>
                </foreach>
            </trim>
            <trim prefix="english_name=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.englishName != null and obj.englishName=''">
                        when id=#{obj.id} then #{obj.englishName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="unit=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.unit != null and obj.unit=''">
                        when id=#{obj.id} then #{obj.unit}
                    </if>
                </foreach>
            </trim>
            <trim prefix="price=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.price != null">
                        when id=#{obj.id} then #{obj.price}
                    </if>
                </foreach>
            </trim>
            <trim prefix="adjust=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.adjust != null and obj.adjust=''">
                        when id=#{obj.id} then #{obj.adjust}
                    </if>
                </foreach>
            </trim>
            <trim prefix="achie=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.achie != null and obj.achie=''">
                        when id=#{obj.id} then #{obj.achie}
                    </if>
                </foreach>
            </trim>
            <trim prefix="emr=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.emr != null and obj.emr=''">
                        when id=#{obj.id} then #{obj.emr}
                    </if>
                </foreach>
            </trim>
            <trim prefix="attention=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.attention != null and obj.attention=''">
                        when id=#{obj.id} then #{obj.attention}
                    </if>
                </foreach>
            </trim>
            <trim prefix="fellow_up=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.fellowUp != null and obj.fellowUp=''">
                        when id=#{obj.id} then #{obj.fellowUp}
                    </if>
                </foreach>
            </trim>
            <trim prefix="inservice=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.inservice != null">
                        when id=#{obj.id} then #{obj.inservice}
                    </if>
                </foreach>
            </trim>
            <trim prefix="upd_id=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.updId != null">
                        when id=#{obj.id} then #{obj.updId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="upd_name=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.updName != null and obj.updName != ''">
                        when id=#{obj.id} then #{obj.updName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="upd_time=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.updTime != null">
                        when id=#{obj.id} then date_format(#{obj.updTime},'%Y-%m-%d %H:%i:%s')
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" item="obj" open="(" separator="," close=")">
            #{obj.id}
        </foreach>
    </update>
</mapper>