<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.BaseOralTariffCategoryMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.tariff.BaseOralTariffCategory">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="number" property="number" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 批量插入商品分类列表 -->
    <insert id="insertBaseOralTariffCategoryList" parameterType="list" keyProperty="id" useGeneratedKeys="true">
        insert into base_oral_tariff_category (`name`, `number`, inservice, crt_id, crt_name)
        values
        <foreach collection="list" item="obj" separator=",">
            (#{obj.name}, #{obj.number}, #{obj.inservice}, #{obj.crtId}, #{obj.crtName})
        </foreach>
    </insert>

    <!-- 批量更新商品分类列表 -->
    <update id="updateBaseOralTariffCategoryList">
        update base_oral_tariff_category
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="name = case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.name != null and obj.name != ''">
                        when id=#{obj.id} then #{obj.name}
                    </if>
                </foreach>
            </trim>
            <trim prefix="number = case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.number != null and obj.number != ''">
                        when id=#{obj.id} then #{obj.number}
                    </if>
                </foreach>
            </trim>
            <trim prefix="inservice = case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.inservice != null">
                        when id=#{obj.id} then #{obj.inservice}
                    </if>
                </foreach>
            </trim>
            <trim prefix="upd_id = case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.updId != null">
                        when id=#{obj.id} then #{obj.updId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="upd_name = case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.updName != null and obj.updName != ''">
                        when id=#{obj.id} then #{obj.updName}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" item="obj" open="(" separator="," close=")">
            #{obj.id}
        </foreach>
    </update>

    <!-- 根据ID查询商品分类信息 -->
    <select id="selectBaseOralTariffCategoryById"
            resultType="com.yunya.feign.treatment.domain.vo.BaseOralTariffCategoryVO">
      select
        botc.id,
        botc.`name`,
        botc.`number`,
        botc.inservice
      from base_oral_tariff_category botc
      where botc.id = #{id}
    </select>

    <!-- 根据条件查询商品分类列表信息 -->
    <select id="selectBaseOralTariffCategoryList"
            resultType="com.yunya.feign.treatment.domain.vo.BaseOralTariffCategoryVO">
        select
        botc.id,
        botc.`name`,
        botc.`number`,
        botc.inservice
        from base_oral_tariff_category botc
        <where>
            <if test="queryForm.id != null">
                and botc.id = #{queryForm.id}
            </if>
            <if test="queryForm.keyWord != null and queryForm.keyWord !=''">
                and CONCAT(IFNULL( botc.name, '' ), IFNULL( botc.number, '' )) like concat('%',
                #{queryForm.keyWord}, '%')
            </if>
            <if test="queryForm.inservice != null">
                and botc.inservice = #{queryForm.inservice}
            </if>
        </where>
    </select>

    <!-- 查询基础商品分类视图列表 -->
    <select id="selectBaseOralTariffCategoryView" resultType="com.yunya.models.tariff.BaseOralTariffCategory">
        select `name`, `number`, id
        from base_oral_tariff_category_view
    </select>
    <select id="selectProductTypeList" resultType="com.yunya.feign.discount.domain.vo.ProductTypeVO">
        SELECT
            bota.id,
            bota.NAME,
            bota.inservice,
            bota.crt_id AS crtId,
            bota.crt_name AS crtName,
            IFNULL(ci.productNum, 0) productNum
        FROM
            base_oral_tariff_category bota
                LEFT JOIN (
                SELECT
                    count(id) productNum,
                    oral_tariff_category_id id
                FROM
                    base_oral_tariff bot
                <where>
                    <if test="queryForm.isOnlineSale != null">
                         bot.is_online_sale = #{queryForm.isOnlineSale}
                    </if>
                </where>
                GROUP BY
                    bot.oral_tariff_category_id
            ) ci ON ci.id = bota.id
        <where>
            <if test="queryForm.name != null and queryForm.name !=  ''">
                and bota.name like concat('%', #{queryForm.name}, '%')
            </if>
            <if test="queryForm.inservice != null">
                and bota.inservice = #{queryForm.inservice}
            </if>
        </where>
    </select>
</mapper>