<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.treatment.mapper.BaseTariffCategoryMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.tariff.BaseTariffCategory">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="number" jdbcType="VARCHAR" property="number"/>
        <result column="inservice" jdbcType="BIT" property="inservice"/>
        <result column="crt_id" jdbcType="INTEGER" property="crtId"/>
        <result column="crt_name" jdbcType="VARCHAR" property="crtName"/>
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime"/>
        <result column="upd_id" jdbcType="INTEGER" property="updId"/>
        <result column="upd_name" jdbcType="VARCHAR" property="updName"/>
        <result column="upd_time" jdbcType="TIMESTAMP" property="updTime"/>
    </resultMap>

    <!-- 根据ID查询价目表分类信息 -->
    <select id="selectBaseTariffCategoryById"
            resultType="com.yunya.feign.treatment.domain.vo.BaseTariffCategoryVO">
      select
        btc.id,
        btc.name,
        btc.number,
        btc.inservice
      from base_tariff_category btc
      where btc.id = #{id}
    </select>

    <!-- 根据条件查询价目表分类列表 -->
    <select id="selectBaseTariffCategoryList"
            resultType="com.yunya.feign.treatment.domain.vo.BaseTariffCategoryVO">
        select
        btc.id,
        btc.name,
        btc.number,
        btc.inservice
        from base_tariff_category btc
        <where>
            <if test="queryForm.id != null">
                and btc.id = #{queryForm.id}
            </if>
            <if test="queryForm.keyWord != null and queryForm.keyWord !=''">
                and CONCAT(IFNULL( btc.name, '' ), IFNULL( btc.number, '' )) like concat('%',
                #{queryForm.keyWord}, '%')
            </if>
            <if test="queryForm.inservice != null">
                and btc.inservice = #{queryForm.inservice}
            </if>
        </where>
    </select>

    <!-- 批量添加价目表分类列表 -->
    <insert id="insertBaseTariffCategoryList" parameterType="list" keyProperty="id" useGeneratedKeys="true">
        insert into base_tariff_category (`name`, `number`, inservice, crt_id, crt_name)
        values
        <foreach collection="list" item="obj" separator=",">
            (#{obj.name}, #{obj.number}, #{obj.inservice}, #{obj.crtId}, #{obj.crtName})
        </foreach>
    </insert>

    <!-- 批量更新价目表分类列表 -->
    <update id="updateBaseTariffCategoryList">
        update base_tariff_category
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="name = case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.name != null and obj.name != ''">
                        when id=#{obj.id} then #{obj.name}
                    </if>
                </foreach>
            </trim>
            <trim prefix="number = case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.number != null and obj.number != ''">
                        when id=#{obj.id} then #{obj.number}
                    </if>
                </foreach>
            </trim>
            <trim prefix="inservice = case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.inservice != null">
                        when id=#{obj.id} then #{obj.inservice}
                    </if>
                </foreach>
            </trim>
            <trim prefix="upd_id = case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.updId != null">
                        when id=#{obj.id} then #{obj.updId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="upd_name = case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.updName != null and obj.updName != ''">
                        when id=#{obj.id} then #{obj.updName}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" item="obj" open="(" separator="," close=")">
            #{obj.id}
        </foreach>
    </update>

    <!-- 查询基础价目表分类视图列表 -->
    <select id="selectBaseTariffCategoryView" resultType="com.yunya.models.tariff.BaseTariffCategory">
        select `name`, `number`, id
        from base_tariff_category_view
    </select>

</mapper>