<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.BaseOralTariffMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.tariff.BaseOralTariff">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="oral_tariff_category_id" property="oralTariffCategoryId" jdbcType="INTEGER"/>
        <result column="item_number" property="itemNumber" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="pinyin" property="pinyin" jdbcType="VARCHAR"/>
        <result column="english_name" property="englishName" jdbcType="VARCHAR"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="adjust" property="adjust" jdbcType="BIT"/>
        <result column="achie" property="achie" jdbcType="BIT"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 商品项目信息结果集（封装门诊商品项目信息） -->
    <resultMap id="BaseOralTariffInfoResultMap" type="com.yunya.feign.treatment.domain.vo.BaseOralTariffInfoVO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="oralTariffCategoryId" property="oralTariffCategoryId" jdbcType="INTEGER"/>
        <result column="oralTariffCategoryName" property="oralTariffCategoryName" jdbcType="VARCHAR"/>
        <result column="oralTariffCategoryNumber" property="oralTariffCategoryNumber" jdbcType="VARCHAR"/>
        <result column="itemNumber" property="itemNumber" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="pinyin" property="pinyin" jdbcType="VARCHAR"/>
        <result column="englishName" property="englishName" jdbcType="VARCHAR"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
    </resultMap>

    <!-- 查询该分类下商品表最大编号后三位 -->
    <select id="selectMaxBaseOralTariffNumber" resultType="java.lang.String">
        select
        IF(item_number is null, '000', substr(MAX(item_number), -3, 3)) as maxnum
        from base_oral_tariff
        where left(item_number, 3) = #{categoryNumber}
        and oral_tariff_category_id = #{oralTariffCategoryId};
    </select>

    <!-- 批量插入商品项目列表 -->
    <insert id="insertBaseItems">
        insert into base_oral_tariff
        (oral_tariff_category_id, item_number, `name`, pinyin, english_name, unit, quantity,
        price, adjust, achie, inservice, crt_id, crt_name)
        values
        <foreach collection="list" item="obj" separator=",">
            (#{obj.oralTariffCategoryId}, #{obj.itemNumber}, #{obj.name},
            #{obj.pinyin}, #{obj.englishName}, #{obj.unit}, #{obj.quantity},
            #{obj.price}, #{obj.adjust}, #{obj.achie}, #{obj.inservice}, #{obj.crtId}, #{obj.crtName})
        </foreach>
    </insert>

    <!-- 批量更新商品项目列表 -->
    <update id="updateBaseItems">
        update base_tariff
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="oral_tariff_category_id=case" suffix="end,">
                <foreach collection="list" item="obj" index="index">
                    <if test="obj.oralTariffCategoryId != null">
                        when id=#{obj.id} then #{obj.oralTariffCategoryId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="item_number=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.itemNumber != null and obj.itemNumber != ''">
                        when id=#{obj.id} then #{obj.itemNumber}
                    </if>
                </foreach>
            </trim>
            <trim prefix="name=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.name != null and obj.name != ''">
                        when id=#{obj.id} then #{obj.name}
                    </if>
                </foreach>
            </trim>
            <trim prefix="pinyin=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.pinyin != null and obj.pinyin=''">
                        when id=#{obj.id} then #{obj.pinyin}
                    </if>
                </foreach>
            </trim>
            <trim prefix="english_name=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.englishName != null and obj.englishName=''">
                        when id=#{obj.id} then #{obj.englishName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="unit=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.unit != null and obj.unit=''">
                        when id=#{obj.id} then #{obj.unit}
                    </if>
                </foreach>
            </trim>
            <trim prefix="price=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.price != null">
                        when id=#{obj.id} then #{obj.price}
                    </if>
                </foreach>
            </trim>
            <trim prefix="adjust=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.adjust != null and obj.adjust=''">
                        when id=#{obj.id} then #{obj.adjust}
                    </if>
                </foreach>
            </trim>
            <trim prefix="achie=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.achie != null and obj.achie=''">
                        when id=#{obj.id} then #{obj.achie}
                    </if>
                </foreach>
            </trim>
            <trim prefix="inservice=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.inservice != null">
                        when id=#{obj.id} then #{obj.inservice}
                    </if>
                </foreach>
            </trim>
            <trim prefix="upd_id=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.updId != null">
                        when id=#{obj.id} then #{obj.updId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="upd_name=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.updName != null and obj.updName != ''">
                        when id=#{obj.id} then #{obj.updName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="upd_time=case" suffix="end,">
                <foreach collection="list" item="obj">
                    <if test="obj.updTime != null">
                        when id=#{obj.id} then date_format(#{obj.updTime},'%Y-%m-%d %H:%i:%s')
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" item="obj" open="(" separator="," close=")">
            #{obj.id}
        </foreach>

    </update>

    <!-- 根据商品项目ID查询商品项目信息 -->
    <select id="selectBaseOralTariffInfoById" resultMap="BaseOralTariffInfoResultMap">
        select
            bot.id,
            bot.oral_tariff_category_id as oralTariffCategoryId,
            botc.`name` as oralTariffCategoryName,
            botc.number as oralTariffCategoryNumber,
            bot.item_number as itemNumber,
            bot.`name`,
            bot.pinyin,
            bot.english_name as englishName,
            bot.unit,
            bot.price,
            bot.inservice
        from base_oral_tariff bot
        left join base_oral_tariff_category botc on bot.oral_tariff_category_id = botc.id
        where bot.id = #{id}
    </select>

    <!-- 根据条件查询商品项目列表(不含门诊商品项目价格信息) -->
    <select id="selectBaseOralTariffList" resultType="com.yunya.feign.treatment.domain.vo.BaseOralTariffVO">
        select
        bot.id,
        bot.oral_tariff_category_id as oralTariffCategoryId,
        botc.`name` as oralTariffCategoryName,
        botc.number as oralTariffCategoryNumber,
        bot.item_number as itemNumber,
        bot.`name`,
        bot.pinyin,
        bot.english_name as englishName,
        bot.unit,
        bot.price,
        bot.inservice
        from
        base_oral_tariff bot
        left join base_oral_tariff_category botc on bot.oral_tariff_category_id = botc.id
        <where>
            <if test="queryForm.id != null">
                and bot.id = #{queryForm.id}
            </if>
            <if test="queryForm.oralTariffCategoryId != null">
                and bot.oral_tariff_category_id = #{queryForm.oralTariffCategoryId}
            </if>
            <if test="queryForm.keyWord != null and queryForm.keyWord != ''">
                and CONCAT(IFNULL( bot.name, '' ), IFNULL( bot.item_number, '' ), IFNULL( bot.pinyin, '' )) like
                concat('%',
                #{queryForm.keyWord}, '%')
            </if>
            <if test="queryForm.inservice != null">
                and bot.inservice = #{queryForm.inservice}
            </if>
        </where>
    </select>

    <!-- 根据条件查询商品项目列表（导出用） -->
    <select id="selectExportBaseOralTariffList" resultType="com.yunya.feign.treatment.domain.vo.BaseOralTariffExportVO">
        select
        bot.id,
        bot.oral_tariff_category_id as oralTariffCategoryId,
        botc.`name` as oralTariffCategoryName,
        botc.number as oralTariffCategoryNumber,
        bot.item_number as itemNumber,
        bot.`name`,
        bot.pinyin,
        bot.english_name as englishName,
        bot.unit,
        bot.price,
        bot.inservice
        from
        base_oral_tariff bot
        left join base_oral_tariff_category botc on bot.oral_tariff_category_id = botc.id
        <where>
            <if test="queryForm.oralTariffCategoryId != null">
                and bot.oral_tariff_category_id = #{queryForm.oralTariffCategoryId}
            </if>
            <if test="queryForm.keyWord != null and queryForm.keyWord != ''">
                and CONCAT(IFNULL( bot.name, '' ), IFNULL( bot.item_number, '' ), IFNULL( bot.pinyin, '' )) like
                concat('%',
                #{queryForm.keyWord}, '%')
            </if>
        </where>
    </select>

    <!-- 查询基础商品表视图列表 -->
    <select id="selectBaseOralTariffView" resultType="com.yunya.models.tariff.BaseOralTariff">
        select id, tariff_category_id as tariffCategoryId, item_number as itemNumber, `name`
        from base_tariff_view
    </select>

    <!-- 根据基础商品表ID列表查询商品表名字 -->
    <select id="selectBaseOralNamesByIds" resultType="java.lang.String">
        SELECT
        GROUP_CONCAT( bt.`name` ) AS tariffItemName
        FROM
        base_oral_tariff bt
        WHERE
        FIND_IN_SET( bt.id, #{ids} )
    </select>
</mapper>