<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.BillPayRecordMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.treatment.BillPayRecord">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="treatment_record_id" property="treatmentRecordId" jdbcType="INTEGER"/>
        <result column="order_record_id" property="orderRecordId" jdbcType="INTEGER"/>
        <result column="bill_record_id" property="billRecordId" jdbcType="INTEGER"/>
        <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL"/>
        <result column="still_owe_amount" property="stillOweAmount" jdbcType="DECIMAL"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 查询账单最早的付款记录 -->
    <select id="selectEarliestBillPayRecord" resultType="com.yunya.models.treatment.BillPayRecord">
        SELECT
            bpr.*
        FROM
            bill_pay_record bpr
        WHERE
            bpr.inservice = 1 and bpr.bill_record_id = #{billRecordId}
            ORDER BY bpr.crt_time LIMIT 1
    </select>
    <!-- 根据条件导出门诊本月收欠费（使用优惠）账单列表 -->
    <select id="selectCurrentMonthBillCollectionDebtList"
            resultType="com.yunya.feign.report.domain.vo.CurrentMonthBillCollectionDebtVO">
        SELECT bb.id as billId,
        DATE_FORMAT(bb.privilege_date, '%Y-%m-%d') AS collectDebtDate,
        bb.bill_number as billNum,
        DATE_FORMAT(bb.privilege_date, '%Y-%m') as billDate,
        bb.patient_id AS patientId,
        btp.dentist_id AS regDentistId,
        bbp.crt_id as payeeId
        FROM bill_record bb
        left join treatment_record btp on bb.treatment_record_id = btp.id
        left join bill_pay_record bbp on bb.id = bbp.bill_record_id and
        date_format(bb.privilege_date, '%Y-%m-%d %H:%m') =
        date_format(bbp.crt_time, '%Y-%m-%d %H:%m')
        <where>
            and first_privilege = 0
            <if test="query.orgId != null">
                AND bb.org_id = #{query.orgId}
            </if>
            <if test="query.currentMonth != null and query.currentMonth != ''">
                AND DATE_FORMAT( bb.privilege_date, '%Y-%m' ) = #{query.currentMonth}
            </if>
        </where>
        order by bb.privilege_date
    </select>
    <!-- 根据条件查询本门诊本月收费记录列表 -->
    <select id="selectCurrentMonthBillPayRecord"
            resultType="com.yunya.feign.report.domain.vo.CurrentMonthBillPayRecordVO">
        select bpr.id AS billPayId,
        DATE_FORMAT(bpr.crt_time, '%Y-%m-%d') AS payeeDate,
        DATE_FORMAT(br.crt_time, '%Y-%m-%d') AS billDate,
        br.bill_number AS billNum,
        bpr.patient_id AS patientId,
        tr.dentist_id as regDentistId,
        br.receivable_amount AS orderAmount,
        br.privilege_amount AS privilegeAmount,
        br.actual_receivable_amount AS actualAmount,
        bpr.received_amount AS receivedAmount,
        bpr.still_owe_amount AS stillOweAmount,
        br.debt_amount AS billDebtAmount,
        bpr.crt_id AS payeeId
        from bill_pay_record bpr
        left join bill_record br on bpr.bill_record_id = br.id
        left join treatment_record tr on bpr.treatment_record_id = tr.id
        <where>
            <if test="query.orgId != null">
                AND br.org_id = #{query.orgId}
            </if>
            <if test="query.currentMonth != null and query.currentMonth != ''">
                AND date_format(bpr.crt_time, '%Y-%m') = #{query.currentMonth}
            </if>
        </where>
        order by bpr.crt_time
    </select>

    <!-- 根据条件查询收费时间在某个时间点后账单时间在某个时间节点之前的账单列表 -->
    <select id="selectFollowUpBillReceivedList"
            resultType="com.yunya.feign.report.domain.vo.BillRestReceivableAmountVO">
        SELECT
        bpr.bill_record_id AS billId,
        IFNULL(SUM(bpr.received_amount),0) AS totalActualAmount
        FROM bill_pay_record bpr
        <where>
            <if test="query.billRecordIds!=null and query.billRecordIds.size()>0">
                AND bpr.bill_record_id in
                <foreach collection="query.billRecordIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="query.notInPayIds!=null and query.notInPayIds.size()>0">
                AND bpr.id not in
                <foreach collection="query.notInPayIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="query.queryDate != null and query.queryDate != ''">
                and date_format(bpr.crt_time, '%Y-%m-%d') &lt;= #{query.queryDate}
            </if>
        </where>
        GROUP BY bpr.bill_record_id
    </select>
</mapper>