<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.BillPayShareDetailMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.treatment.BillPayShareDetail" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_record_id" property="orderRecordId" jdbcType="INTEGER" />
    <result column="bill_pay_id" property="billPayId" jdbcType="INTEGER" />
    <result column="order_detail_id" property="orderDetailId" jdbcType="INTEGER" />
    <result column="item_type" property="itemType" jdbcType="TINYINT" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="free_amount" property="freeAmount" jdbcType="DECIMAL" />
    <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL" />
    <result column="swipe_workload" property="swipeWorkload" jdbcType="DECIMAL" />
    <result column="executor_id" property="executorId" jdbcType="INTEGER" />
    <result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <insert id="batchSave">
    INSERT INTO bill_pay_share_detail
    (
        order_record_id,
        bill_pay_id,
        order_detail_id,
        item_type,
        item_id,
        free_amount,
        received_amount,
        swipe_workload,
        executor_id,
        pay_date
    )
    VALUES
    <foreach collection ="list" item="it" index= "index" separator =",">
      (#{it.orderRecordId}, #{it.billPayId}, #{it.orderDetailId}, #{it.itemType}, #{it.itemId},
        #{it.freeAmount}, #{it.receivedAmount}, IFNULL(#{it.swipeWorkload}, 0), #{it.executorId}, #{it.payDate})
    </foreach>
  </insert>

  <delete id="removeByCombinationKey">
    DELETE FROM bill_pay_share_detail
    <where>
        order_record_id = #{orderRecordId}
        <if test="billPayId != null">
            AND bill_pay_id = #{billPayId}
        </if>
        <if test="orderDetailId != null">
            AND order_detail_id = #{orderDetailId}
        </if>
    </where>
  </delete>

  <delete id="removeByBillDateRange">
    DELETE FROM bill_pay_share_detail
    <where>
        <if test="query.dateType == 0">
            <if test="query.startDate!=null and query.startDate!='' and query.endDate!=null and query.endDate!=''">
                AND DATE_FORMAT(pay_date,'%Y-%m-%d') between #{query.startDate}
                and #{query.endDate}
            </if>
        </if>
        <if test="query.dateType == 1">
            <if test="query.startDate!=null and query.startDate!='' and query.endDate!=null and query.endDate!=''">
                AND DATE_FORMAT(pay_date,'%Y-%m') between #{query.startDate}
                and #{query.endDate}
            </if>
        </if>
        <if test="query.dateType == 2">
            <if test="query.startDate!=null and query.startDate!='' and query.endDate!=null and query.endDate!=''">
                AND DATE_FORMAT(pay_date,'%Y') between #{query.startDate}
                and #{query.endDate}
            </if>
        </if>
    </where>
  </delete>
</mapper>