<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.BillPayDetailRecordMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.treatment.BillPayDetailRecord">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="treatment_record_id" property="treatmentRecordId" jdbcType="INTEGER"/>
        <result column="order_record_id" property="orderRecordId" jdbcType="INTEGER"/>
        <result column="bill_record_id" property="billRecordId" jdbcType="INTEGER"/>
        <result column="bill_pay_record_id" property="billPayRecordId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="account_item_id" property="accountItemId" jdbcType="INTEGER"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="transaction_number" property="transactionNumber" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 根据收费记录ID查询收费明细列表 -->
    <select id="selectBillPayDetailRecord"
            resultType="com.yunya.feign.treatment.domain.vo.BillPayDetailRecordVO">
        select
        bpdr.bill_pay_record_id as billPayRecordId,
        bpdr.id as billPayDetailRecordId,
        bpdr.account_item_id as accountItemId,
        bpdr.amount as amount,
        bpdr.remark
        from
        bill_pay_detail_record bpdr
        <where>
            <if test="inservice != null">
                and bpdr.inservice = #{inservice}
            </if>
            <if test="billPayRecordId != null">
                and bpdr.bill_pay_record_id = #{billPayRecordId}
            </if>
        </where>
        order by bpdr.id desc
    </select>

    <!-- 账单异常处理数据详情记录ID查询异常处理记录 -->
    <select id="selectPreBillPayDetailRecord" resultType="com.yunya.feign.treatment.domain.vo.BillPayDetailRecordVO">
        select
        bpdr.bill_pay_record_id as billPayRecordId,
        bpdr.id as billPayDetailRecordId,
        bpdr.account_item_id as accountItemId,
        bpdr.amount as amount,
        bpdr.remark
        from
        bill_pay_detail_record bpdr
        <where>
            <if test="inservice != null">
                and bpdr.inservice = #{inservice}
            </if>
            <if test="id != null">
                and bpdr.id = #{id}
            </if>
        </where>
    </select>

    <select id="sumBillPayAmount" resultType="java.math.BigDecimal">
        select sum(t.amount) from bill_pay_detail_record t
        <where>
            <if test="query.startDate != null">
                and DATE_FORMAT(t.crt_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{query.startDate},'%Y-%m-%d')
            </if>
            <if test="query.endDate != null">
                and DATE_FORMAT(t.crt_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{query.endDate},'%Y-%m-%d')
            </if>
            <if test="query.orgId">
                and t.org_id = #{query.orgId}
            </if>
            <if test="query.payId">
                and t.account_item_id = #{query.payId}
            </if>
        </where>
    </select>

    <!-- 根据条件查询门诊完成工作量 -->
    <select id="selectBusinessWorkloadCompletedCount" resultType="java.math.BigDecimal">
        SELECT
        IFNULL( SUM( odpr.actual_receivable + odpr.coupon_workload ), 0 ) AS workloadAmountCompleted
        FROM
        (
        SELECT
        odpr.actual_receivable,
        odpr.coupon_workload,
        od.executor_id
        FROM
        order_detail_pay_record odpr
        LEFT JOIN order_detail od ON odpr.order_detail_id = od.id
        <where>
            AND odpr.inservice = 1
            <if test="query.startDate != null and query.startDate != ''">
                AND DATE_FORMAT(odpr.crt_time, '%Y-%m') &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                AND DATE_FORMAT(odpr.crt_time, '%Y-%m') &lt;= #{query.endDate}
            </if>
            <if test="query.orgId != null">
                AND odpr.org_id = #{query.orgId}
            </if>
        </where>
        ) odpr
        WHERE
        odpr.executor_id IS NOT NULL
    </select>

    <!-- 查询某种支付方式收费金额 -->
    <select id="selectReceiptAmountOfPrepaid" resultType="java.math.BigDecimal">
        SELECT
            IFNULL(SUM(amount), 0)
        FROM bill_pay_detail_record bpdr
        WHERE
            inservice = 1
            and bill_record_id = #{billRecordId}
            and account_item_id = #{accountItemId}
    </select>
    <!-- 根据账单ID查询免单金额 -->
    <select id="selectTotalFreePayAmountByBillId" resultType="java.math.BigDecimal">
        SELECT
            IFNULL(SUM(amount), 0)
        FROM bill_pay_detail_record bpdr
        WHERE
            inservice = 1
            and bill_record_id = #{billRecordId}
            and account_item_id in (23, 26)
    </select>

    <!--撤销或调整免单合计-->
    <select id="selectDeductionFreePayAmount" resultType="java.math.BigDecimal">
        select IFNULL(sum(amount),0)
        from bill_pay_detail_record
        where bill_pay_record_id in
        <foreach collection="payIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
          and account_item_id in (23, 26)
          and inservice = 0
    </select>

    <!--查询门诊账单的免单收费列表-->
    <select id="selectBillPayDetailByFreePayment"
            resultType="com.yunya.feign.treatment.domain.vo.OrderDetailInfoVO">
        SELECT
            bpdr.order_record_id AS orderRecordId,
            IFNULL(sum(bpdr.amount),0) AS totalAmount
        FROM bill_pay_detail_record bpdr
        INNER JOIN bill_pay_record bpr ON bpr.id = bpdr.bill_pay_record_id
        INNER JOIN bill_record br ON br.id = bpr.bill_record_id
        <where>
            date_format(bpdr.crt_time, '%Y-%m') = #{query.queryDate}
            AND bpdr.account_item_id in (23, 26)
            <if test="inservice != null">
                and bpdr.inservice = #{inservice}
            </if>
            <if test="payIds!=null and payIds.size()>0">
                AND bpdr.bill_pay_record_id in
                <foreach collection="payIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="query.orgIds != null and query.orgIds.size() > 0">
                AND br.org_id IN
                <foreach collection="query.orgIds" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.queryDate!=null and query.queryDate!=''">
                AND date_format(bpr.crt_time, '%Y-%m') = #{query.queryDate}
                AND date_format(br.crt_time, '%Y-%m') = #{query.queryDate}
            </if>
        </where>
        GROUP by bpdr.order_record_id
    </select>
</mapper>