<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.BillExceptionHandleRecordMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.treatment.BillExceptionHandleRecord">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="treatment_record_id" property="treatmentRecordId" jdbcType="INTEGER"/>
        <result column="handled_record_id" property="handledRecordId" jdbcType="INTEGER"/>
        <result column="pre_exception_handle_record_id" property="preExceptionHandleRecordId" jdbcType="INTEGER"/>
        <result column="operate_type" property="operateType" jdbcType="TINYINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 根据就诊记录ID查询该就诊相关异常处理记录 -->
    <select id="selectBillExceptionHandleRecord"
            resultType="com.yunya.feign.treatment.domain.vo.BillHandleRecordVO">
        select
            behr.id as billHandleRecordId,
            DATE_FORMAT(behr.crt_time, '%Y-%m-%d') as handleDate,
            behr.org_id as orgId,
            behr.crt_id as operatorId,
            behr.crt_name as operatorName,
            behr.operate_type as operateType
        from
            bill_exception_handle_record behr
        where behr.treatment_record_id = #{treatmentRecordId}
        order by behr.id desc
    </select>

    <!-- 查询下一个异常记录id -->
    <select id="selectNextId"
            resultType="java.lang.Integer">
        select
            behr.id
        from
            bill_exception_handle_record behr
        where behr.pre_exception_handle_record_id = #{id}
    </select>

    <!-- 根据账单收费记录ID和操作类型查询上次账单异常处理记录ID -->
    <select id="selectPreExceptionHandleRecordId" resultType="integer">
		SELECT
            ifNull(behr.id, 0) as id
        FROM
            bill_exception_handle_record behr
        WHERE
            behr.handled_record_id = #{handledRecordId}
            AND behr.operate_type = #{operateType}
        ORDER BY
            behr.crt_time DESC
            LIMIT 1
    </select>

    <!-- 根据条件查询账单调整记录列表 -->
    <select id="selectBillAdjustRecord" resultType="com.yunya.feign.treatment.domain.vo.BillOfAdjustRecordVO">
        SELECT
        bar.billExceptionHandleRecordId,
        DATE_FORMAT(bar.crt_time, '%Y-%m-%d') adjustDate,
        bar.orderDate,
        bar.billNum,
        bar.patientId,
        bar.regDentistId,
        bar.adjustOperatorId
        FROM
        (
        SELECT
        behr.id AS billExceptionHandleRecordId,
        behdr.orgId,
        behr.crt_time,
        behdr.orderDate AS orderDate,
        behdr.billNumber AS billNum,
        behdr.patientId patientId,
        tr.dentist_id AS regDentistId,
        behr.crt_id AS adjustOperatorId,
        behdr.billDate
        FROM
        ( SELECT id, treatment_record_id, crt_id, crt_time FROM bill_exception_handle_record WHERE operate_type = 2 )
        behr
        LEFT JOIN (
        SELECT
        behdr.bill_handle_record_id AS billExceptionhandleRecordId,
        br.patient_id AS patientId,
        br.org_id as orgId,
        br.bill_number AS billNumber,
        DATE_FORMAT( br.crt_time, '%Y-%m-%d' ) AS billDate,
        DATE_FORMAT( ord.crt_time, '%Y-%m-%d' ) AS orderDate
        FROM
        bill_exception_handle_detail_record behdr
        LEFT JOIN bill_record br ON behdr.associate_record_id = br.order_record_id
        LEFT JOIN order_record ord ON behdr.associate_record_id = ord.id
        ) behdr ON behr.id = behdr.billExceptionhandleRecordId
        LEFT JOIN treatment_record tr ON behr.treatment_record_id = tr.id
        ) bar
        <where>
            <if test="query.orgId != null">
                and bar.orgId = #{query.orgId}
            </if>
            <if test="query.billNum != null and query.billNum != ''">
                and bar.billNum like concat('%', #{query.billNum}, '%')
            </if>
            <if test="query.adjustStartDate != null and query.adjustStartDate != ''">
                and DATE_FORMAT(bar.crt_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{query.adjustStartDate},'%Y-%m-%d')
            </if>
            <if test="query.adjustEndDate != null and query.adjustEndDate != ''">
                and DATE_FORMAT(bar.crt_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{query.adjustEndDate},'%Y-%m-%d')
            </if>
            <if test="query.billStartDate != null and query.billStartDate != ''">
                and DATE_FORMAT(bar.billDate,'%Y-%m-%d') &gt;= DATE_FORMAT(#{query.billStartDate},'%Y-%m-%d')
            </if>
            <if test="query.billEndDate != null and query.billEndDate != ''">
                and DATE_FORMAT(bar.billDate,'%Y-%m-%d') &lt;= DATE_FORMAT(#{query.billEndDate},'%Y-%m-%d')
            </if>
            <if test="query.regDentistIds != null and query.regDentistIds.length > 0">
                and bar.regDentistId in
                <foreach collection="query.regDentistIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY bar.crt_time DESC
    </select>

    <!-- 根据条件查询账单撤销 -->
    <select id="selectBillRevokeRecordList"
            resultType="com.yunya.feign.treatment.domain.vo.BillOfTollRevokeRecordVO">
        SELECT
        bar.billExceptionHandleRecordId,
        DATE_FORMAT(bar.crt_time,'%Y-%m-%d') as revokeDate,
        bar.orderDate,
        bar.actualAmount,
        bar.receivedAmount,
        bar.chargeDate,
        bar.billNum,
        bar.patientId,
        bar.regDentistId,
        bar.revokeOperatorId,
        bar.revokeOperatorName
        FROM
        (
        SELECT
        behr.id AS billExceptionHandleRecordId,
        bpr.orgId,
        behr.crt_time,
        bpr.orderDate AS orderDate,
        bpr.actualAmount,
        bpr.receivedAmount,
        bpr.chargeDate,
        bpr.billNum,
        bpr.patientId patientId,
        tr.dentist_id AS regDentistId,
        behr.crt_id AS revokeOperatorId,
        behr.crt_name AS revokeOperatorName
        FROM
        ( SELECT id, treatment_record_id, handled_record_id, crt_id, crt_name, crt_time FROM
        bill_exception_handle_record WHERE
        operate_type = 1 ) behr
        LEFT JOIN (
        SELECT
        bpr.id,
        bpr.org_id AS orgId,
        bpr.patient_id AS patientId,
        bpr.received_amount AS receivedAmount,
        br.actual_receivable_amount AS actualAmount,
        br.bill_number AS billNum,
        DATE_FORMAT( bpr.crt_time, '%Y-%m-%d' ) AS chargeDate,
        DATE_FORMAT( ord.crt_time, '%Y-%m-%d' ) AS orderDate
        FROM
        bill_pay_record bpr
        LEFT JOIN bill_record br ON bpr.bill_record_id = br.id
        LEFT JOIN order_record ord ON bpr.order_record_id = ord.id
        ) bpr ON behr.handled_record_id = bpr.id
        LEFT JOIN treatment_record tr ON behr.treatment_record_id = tr.id
        ) bar
        <where>
            <if test="query.orgId != null">
                and bar.orgId = #{query.orgId}
            </if>
            <if test="query.billNum != null and query.billNum != ''">
                and bar.billNum like concat('%', #{query.billNum}, '%')
            </if>
            <if test="query.revokeStartDate != null and query.revokeStartDate != ''">
                and DATE_FORMAT(bar.crt_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{query.revokeStartDate},'%Y-%m-%d')
            </if>
            <if test="query.revokeEndDate != null and query.revokeEndDate != ''">
                and DATE_FORMAT(bar.crt_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{query.revokeEndDate},'%Y-%m-%d')
            </if>
            <if test="query.chargeStartDate != null and query.chargeStartDate != ''">
                and bar.chargeDate &gt;= #{query.chargeStartDate}
            </if>
            <if test="query.chargeEndDate != null and query.chargeEndDate != ''">
                and bar.chargeDate &lt;= #{query.chargeEndDate}
            </if>
            <if test="query.regDentistIds != null and query.regDentistIds.length > 0">
                and bar.regDentistId in
                <foreach collection="query.regDentistIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY
        bar.crt_time DESC
    </select>

    <!-- 根据条件查询调整入账方式记录 -->
    <select id="selectBillPayAdjustRecordList"
            resultType="com.yunya.feign.treatment.domain.vo.BillOfPayRecordAdjustVO">
        SELECT
        bar.billExceptionHandleRecordId,
        DATE_FORMAT(bar.crt_time,'%Y-%m-%d') as adjustDate,
        bar.orderDate,
        bar.actualAmount,
        bar.receivedAmount,
        bar.chargeDate,
        bar.billNum,
        bar.patientId,
        bar.regDentistId,
        bar.adjustOperatorId,
        bar.adjustOperatorName
        FROM
        (
        SELECT
        behr.id AS billExceptionHandleRecordId,
        behr.org_id AS orgId,
        behr.crt_time,
        bpr.orderDate AS orderDate,
        bpr.actualAmount,
        bpr.receivedAmount,
        bpr.chargeDate,
        bpr.billNum,
        bpr.patientId patientId,
        tr.dentist_id AS regDentistId,
        behr.crt_id AS adjustOperatorId,
        behr.crt_name AS adjustOperatorName
        FROM
        ( SELECT id, org_id, treatment_record_id, handled_record_id, crt_id, crt_name, crt_time FROM
        bill_exception_handle_record WHERE
        operate_type = 0 ) behr
        LEFT JOIN (
        SELECT
        bpr.id,
        bpr.patient_id AS patientId,
        bpr.received_amount AS receivedAmount,
        br.actual_receivable_amount AS actualAmount,
        br.bill_number AS billNum,
        DATE_FORMAT( bpr.crt_time, '%Y-%m-%d' ) AS chargeDate,
        DATE_FORMAT( ord.crt_time, '%Y-%m-%d' ) AS orderDate
        FROM
        bill_pay_record bpr
        LEFT JOIN bill_record br ON bpr.bill_record_id = br.id
        LEFT JOIN order_record ord ON bpr.order_record_id = ord.id
        ) bpr ON behr.handled_record_id = bpr.id
        LEFT JOIN treatment_record tr ON behr.treatment_record_id = tr.id
        ) bar
        <where>
            <if test="query.orgId != null">
                and bar.orgId = #{query.orgId}
            </if>
            <if test="query.billNum != null and query.billNum != ''">
                and bar.billNum like concat('%', #{query.billNum}, '%')
            </if>
            <if test="query.adjustStartDate != null and query.adjustStartDate != ''">
                and DATE_FORMAT(bar.crt_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{query.adjustStartDate},'%Y-%m-%d')
            </if>
            <if test="query.adjustEndDate != null and query.adjustEndDate != ''">
                and DATE_FORMAT(bar.crt_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{query.adjustEndDate},'%Y-%m-%d')
            </if>
            <if test="query.chargeStartDate != null and query.chargeStartDate != ''">
                and bar.chargeDate &gt;= #{query.chargeStartDate}
            </if>
            <if test="query.chargeEndDate != null and query.chargeEndDate != ''">
                and bar.chargeDate &lt;= #{query.chargeEndDate}
            </if>
            <if test="query.regDentistIds != null and query.regDentistIds.length > 0">
                and bar.regDentistId in
                <foreach collection="query.regDentistIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY
        bar.crt_time DESC
    </select>

    <!-- 根据条件查询门诊当月账单调整记录 -->
    <select id="selectCurrentMonthAdjustBill"
            resultType="com.yunya.feign.treatment.domain.vo.BillAdjustRecordVO">
        SELECT
        behr.id,
        behdr.orgId,
        DATE_FORMAT( behr.crt_time, '%Y-%m-%d' ) AS adjustDate,
        behdr.id AS billId,
        behdr.billDate,
        behdr.billNumber AS billNum,
        behdr.beforeAdjustDebtAmount,
        behdr.patientId patientId,
        tr.dentist_id AS regDentistId,
        behr.crt_id AS operatorId,
        behr.crt_name AS operatorName
        FROM
        (
        SELECT
        id,
        org_id,
        treatment_record_id,
        crt_id,
        crt_name,
        crt_time
        FROM bill_exception_handle_record
        WHERE
        operate_type = 2
        ) behr
        LEFT JOIN (
        SELECT
        behdr.bill_handle_record_id,
        br.id,
        br.patient_id AS patientId,
        br.org_id AS orgId,
        br.bill_number AS billNumber,
        br.debt_amount AS beforeAdjustDebtAmount,
        DATE_FORMAT( br.crt_time, '%Y-%m-%d' ) AS billDate
        FROM
        bill_exception_handle_detail_record behdr
        LEFT JOIN bill_record br ON behdr.associate_record_id = br.order_record_id
        ) behdr ON behr.id = behdr.bill_handle_record_id
        LEFT JOIN treatment_record tr ON behr.treatment_record_id = tr.id
        <where>
            <if test="query.orgId != null">
                AND behr.org_id = #{query.orgId}
            </if>
            <if test="query.currentMonth != null and query.currentMonth != ''">
                AND DATE_FORMAT(BEHR.crt_time, '%Y-%m') = #{query.currentMonth}
            </if>
        </where>
        ORDER BY behr.id
    </select>

    <!-- 根据条件查询当前月账单撤销收费记录 -->
    <select id="selectCurrentMonthBillRevokePayRecord"
            resultType="com.yunya.feign.treatment.domain.vo.BillRevokePayRecordVO">
        SELECT
        bar.billExceptionHandleRecordId,
        bar.revokeDate,
        bar.billId,
        bar.billDate,
        bar.actualAmount,
        bar.receivedAmount,
        bar.chargeDate,
        bar.billNum,
        bar.patientId,
        bar.regDentistId,
        bar.revokeOperatorId,
        bar.revokeOperatorName
        FROM
        (
        SELECT
        behr.id AS billExceptionHandleRecordId,
        bpr.orgId,
        DATE_FORMAT( behr.crt_time, '%Y-%m-%d' ) revokeDate,
        bpr.billId,
        bpr.billDate,
        bpr.actualAmount,
        bpr.receivedAmount,
        bpr.chargeDate,
        bpr.billNum,
        bpr.patientId patientId,
        tr.dentist_id AS regDentistId,
        behr.crt_id AS revokeOperatorId,
        behr.crt_name AS revokeOperatorName
        FROM
        ( SELECT id, treatment_record_id, handled_record_id, crt_id, crt_name, crt_time FROM
        bill_exception_handle_record WHERE operate_type = 1 ) behr
        LEFT JOIN (
        SELECT
        bpr.id,
        bpr.org_id AS orgId,
        bpr.patient_id AS patientId,
        bpr.received_amount AS receivedAmount,
        br.id AS billId,
        br.actual_receivable_amount AS actualAmount,
        br.bill_number AS billNum,
        DATE_FORMAT( bpr.crt_time, '%Y-%m-%d' ) AS chargeDate,
        DATE_FORMAT( br.crt_time, '%Y-%m-%d' ) AS billDate
        FROM
        bill_pay_record bpr
        LEFT JOIN bill_record br ON bpr.bill_record_id = br.id
        ) bpr ON behr.handled_record_id = bpr.id
        LEFT JOIN treatment_record tr ON behr.treatment_record_id = tr.id
        ) bar
        <where>
            <if test="query.orgId != null">
                and bar.orgId = #{query.orgId}
            </if>
            <if test="query.currentMonth != null and query.currentMonth != ''">
                and DATE_FORMAT(bar.revokeDate, '%Y-%m') = #{query.currentMonth}
            </if>
        </where>
    </select>

    <!-- 根据条件查询账单退费记录列表 -->
    <select id="selectBillRefundRecordList"
            resultType="com.yunya.feign.treatment.domain.vo.BillOfRefundRecordVO">
        SELECT
        billExceptionHandleRecordId,
        treatmentRecordId,
        billRefundRecordId,
        refundDate,
        refundAmount,
        billRecordId,
        billDate,
        billNum,
        patientId,
        actualAmount,
        receivedAmount,
        regDentistId,
        refundOperatorId,
        refundOperatorName,
        refundReason
        FROM
        (
        SELECT
        behr.billExceptionHandleRecordId,
        behr.treatmentRecordId,
        behr.billRefundRecordId,
        DATE_FORMAT(brr.crt_time, '%Y-%m-%d') AS refundDate,
        brr.total_refund_amount AS refundAmount,
        behr.billRecordId,
        behr.billDate,
        behr.billNum,
        behr.patientId,
        behr.actualAmount,
        behr.receivedAmount,
        tr.dentist_id AS regDentistId,
        brr.crt_id AS refundOperatorId,
        brr.crt_name AS refundOperatorName,
        brr.reason AS refundReason
        FROM
        (
        SELECT
        behr.billExceptionHandleRecordId,
        behr.treatmentRecordId,
        behr.billRecordId,
        behdr.associate_record_id AS billRefundRecordId,
        DATE_FORMAT(br.crt_time, '%Y-%m-%d') AS billDate,
        br.bill_number AS billNum,
        behr.patientId,
        br.actual_receivable_amount AS actualAmount,
        br.received_amount AS receivedAmount
        FROM
        (
        SELECT
        behr.id AS billExceptionHandleRecordId,
        behr.handled_record_id AS billRecordId,
        behr.treatment_record_id AS treatmentRecordId,
        behr.patient_id AS patientId
        FROM
        bill_exception_handle_record behr
        <where>
            AND behr.operate_type = 3
            <if test="query.orgId != null">
                AND behr.org_id = #{query.orgId}
            </if>
            <if test="query.refundStartDate != null and query.refundStartDate != ''">
                AND DATE_FORMAT( behr.crt_time, '%Y-%m-%d' ) &gt;= #{query.refundStartDate}
            </if>
            <if test="query.refundEndDate != null and query.refundEndDate != ''">
                AND DATE_FORMAT( behr.crt_time, '%Y-%m-%d' ) &lt;= #{query.refundEndDate}
            </if>
        </where>
        ) behr
        LEFT JOIN bill_exception_handle_detail_record behdr ON behr.billExceptionHandleRecordId =
        behdr.bill_handle_record_id
        LEFT JOIN bill_record br ON behr.billRecordId = br.id
        ) behr
        LEFT JOIN treatment_record tr ON behr.treatmentRecordId = tr.id
        LEFT JOIN bill_refund_record brr ON behr.billRefundRecordId = brr.id
        ) behr
        <where>
            <if test="query.billNum != null and query.billNum != ''">
                AND behr.billNum like concat('%', #{query.billNum} , '%')
            </if>
            <if test="query.billStartDate != null and query.billStartDate != ''">
                AND behr.billDate &gt;= #{query.billStartDate}
            </if>
            <if test="query.billEndDate != null and query.billEndDate != ''">
                AND behr.billDate &lt;= #{query.billEndDate}
            </if>
            <if test="query.regDentistIds != null and query.regDentistIds.length > 0">
                AND behr.regDentistId IN
                <foreach collection="query.regDentistIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY behr.billRefundRecordId DESC
    </select>
    <!-- 查询门诊在查询时间点后的被调整应收账款列表 -->
    <select id="selectFollowUpBillAdjustList"
            resultType="com.yunya.feign.report.domain.vo.BillRestReceivableAmountVO">
        select
        br.id as billId,
        date_format(br.crt_time, '%Y-%m-%d') as billDate,
        br.bill_number as billNum,
        br.patient_id as patientId,
        tr.dentist_id as regDentistId,
        br.receivable_amount as totalOriginalAmount,
        if(date_format(br.privilege_date, '%Y-%m-%d') > #{query.queryDate}, br.receivable_amount,
        br.actual_receivable_amount) as totalActualAmount,
        br.received_amount as receivedAmount
        from (
        select behr.handled_record_id as treatmentId,
        behdr.associate_record_id as orderRecordId
        from bill_exception_handle_record behr
        left join bill_exception_handle_detail_record behdr on behr.id = behdr.bill_handle_record_id
        <where>
            and behr.operate_type = 2
            <if test="query.queryDate != null and query.queryDate != ''">
                and date_format(behr.crt_time, '%Y-%m-%d') > #{query.queryDate}
            </if>
        </where>
        ) behr
        left join bill_record br on br.order_record_id = behr.orderRecordId
        left join treatment_record tr on tr.id = behr.treatmentId
        <where>
            and br.debt_amount > 0
            <if test="query.orgId != null">
                and br.org_id = #{query.orgId}
            </if>
            <if test="query.regDentistIds != null and query.regDentistIds.length > 0">
                and tr.dentist_id in
                <foreach collection="query.regDentistIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>