<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.BillRecordMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.treatment.BillRecord">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="treatment_record_id" property="treatmentRecordId" jdbcType="INTEGER"/>
        <result column="order_record_id" property="orderRecordId" jdbcType="INTEGER"/>
        <result column="bill_number" property="billNumber" jdbcType="VARCHAR"/>
        <result column="receivable_amount" property="receivableAmount" jdbcType="DECIMAL"/>
        <result column="privilege_type" property="privilegeType" jdbcType="TINYINT"/>
        <result column="privilege_amount" property="privilegeAmount" jdbcType="DECIMAL"/>
        <result column="actual_receivable_amount" property="actualReceivableAmount" jdbcType="DECIMAL"/>
        <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL"/>
        <result column="debt_amount" property="debtAmount" jdbcType="DECIMAL"/>
        <result column="invoice" property="invoice" jdbcType="BIT"/>
        <result column="invoice_number" property="invoiceNumber" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 查询门诊某天最大的账单编号 -->
    <select id="selectBillNumberByOrgId" resultType="java.lang.String">
      SELECT
        IFNULL( MAX( SUBSTR( br.bill_number, 13, 4 )), '0000' ) AS maxNum
      FROM
        bill_record br
      WHERE br.org_id = #{orgId} AND DATE_FORMAT(br.crt_time,'%Y-%m-%d') = DATE_FORMAT(#{date},'%Y-%m-%d')
    </select>

    <!-- 根据开单记录ID查询订单支付记录列表信息 -->
    <select id="selectBillPayRecord" resultType="com.yunya.feign.treatment.domain.vo.BillPayRecordVO">
      SELECT
        bpr.id AS billPayRecordId,
        DATE_FORMAT( bpr.crt_time, '%Y-%m-%d' ) AS chargeDate,
        bpr.org_id AS orgId,
        bpr.received_amount AS receivedAmount,
        bpr.still_owe_amount AS stillOweAmount,
        bpr.crt_id AS payeeId,
        bpr.crt_name AS payeeName
      FROM
        bill_pay_record bpr
      WHERE bpr.inservice = 1 and bpr.order_record_id = #{orderRecordId}
    </select>

    <!-- 通过患者ID批量查询患者欠费总额 -->
    <select id="selectPatientDebtAmountList" parameterType="list"
            resultType="com.yunya.feign.treatment.domain.model.DebtAmountModel">
        SELECT
        br.patient_id as patientId,
        ifnull(SUM( br.debt_amount ), 0) AS debtAmount
        FROM
        `bill_record` br
        <where>
            br.inservice = 1
            <if test="patientIds != null and patientIds.size &gt; 0">
                and br.patient_id in
                <foreach collection="patientIds" item="patientId" open="(" separator="," close=")">
                    #{patientId}
                </foreach>
            </if>
        </where>
        GROUP BY
        br.patient_id
    </select>

    <!-- 根据患者ID查询患者账单统计数据 -->
    <select id="selectPatientBillStatistics"
            resultType="com.yunya.feign.treatment.domain.vo.PatientBillStatistics">
        select
        br.patient_id as patientId,
        ifnull(sum(br.receivable_amount), 0) as billTotalOriginalPrice,
        ifnull(sum(br.privilege_amount), 0) as billTotalPrivilegePrice,
        ifnull(sum(br.actual_receivable_amount), 0) as billTotalActualPrice,
        ifnull(sum(br.received_amount), 0) as billTotalReceivedPrice,
        ifnull(sum(br.debt_amount), 0) as billTotalArrears
        from bill_record br
        where br.patient_id = #{patientId} and inservice = true
    </select>

    <!-- 根据患者ID查询患者账单统计数据列表 -->
    <select id="selectPatientBillStatisticsByPatientIds" resultType="com.yunya.feign.treatment.domain.vo.PatientBillStatistics">
        select
            br.patient_id as patientId,
            ifnull(sum(br.receivable_amount), 0) as billTotalOriginalPrice,
            ifnull(sum(br.privilege_amount), 0) as billTotalPrivilegePrice,
            ifnull(sum(br.actual_receivable_amount), 0) as billTotalActualPrice,
            ifnull(sum(br.received_amount), 0) as billTotalReceivedPrice,
            ifnull(sum(br.debt_amount), 0) as billTotalArrears
        from bill_record br
        where inservice = true and
            br.patient_id in
        <foreach collection="patientIds" item="patientId" open="(" separator="," close=")">
            #{patientId}
        </foreach>
    </select>

    <!-- 根据患者就诊记录ID查询订单支付记录 -->
    <select id="selectBillRecordsByTreatmentIds" resultMap="BaseResultMap">
        select br.* from bill_record br where inservice = true and
        br.treatment_record_id in
        <foreach collection="treatmentIds" item="treatmentId" open="(" separator="," close=")">
            #{treatmentId}
        </foreach>
    </select>
</mapper>