<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.BillPayShareDetailMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.treatment.BillPayShareDetail" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_record_id" property="orderRecordId" jdbcType="INTEGER" />
    <result column="bill_pay_id" property="billPayId" jdbcType="INTEGER" />
    <result column="item_type" property="itemType" jdbcType="TINYINT" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="free_amount" property="freeAmount" jdbcType="DECIMAL" />
    <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upt_id" property="uptId" jdbcType="INTEGER" />
    <result column="upt_time" property="uptTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>