<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.BillRecordMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.treatment.BillRecord">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="treatment_record_id" property="treatmentRecordId" jdbcType="INTEGER"/>
        <result column="order_record_id" property="orderRecordId" jdbcType="INTEGER"/>
        <result column="bill_number" property="billNumber" jdbcType="VARCHAR"/>
        <result column="receivable_amount" property="receivableAmount" jdbcType="DECIMAL"/>
        <result column="privilege_type" property="privilegeType" jdbcType="TINYINT"/>
        <result column="privilege_org_id" property="privilegeOrgId" jdbcType="INTEGER"/>
        <result column="privilege_amount" property="privilegeAmount" jdbcType="DECIMAL"/>
        <result column="first_privilege" property="firstPrivilege" jdbcType="BIT"/>
        <result column="privilege_date" property="privilegeDate" jdbcType="TIMESTAMP"/>
        <result column="actual_receivable_amount" property="actualReceivableAmount" jdbcType="DECIMAL"/>
        <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL"/>
        <result column="debt_amount" property="debtAmount" jdbcType="DECIMAL"/>
        <result column="invoice" property="invoice" jdbcType="BIT"/>
        <result column="invoice_number" property="invoiceNumber" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="OrderBill4AppMap" type="com.yunya.feign.treatment.domain.vo.OrderBill4AppVO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="bill_number" property="billNumber" jdbcType="VARCHAR"/>
        <result column="receivable_amount" property="receivableAmount" jdbcType="DECIMAL"/>
        <result column="privilege_amount" property="privilegeAmount" jdbcType="DECIMAL"/>
        <result column="actual_receivable_amount" property="actualReceivableAmount" jdbcType="DECIMAL"/>
        <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL"/>
        <result column="debt_amount" property="debtAmount" jdbcType="DECIMAL"/>
        <collection property="billItems" ofType="com.yunya.feign.treatment.domain.vo.TreatmentOrderItem4AppVO">
            <result column="billing_item_id" property="billingItemId" jdbcType="INTEGER"/>
            <result column="type" property="type" jdbcType="INTEGER"/>
            <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        </collection>
    </resultMap>
    <!-- 账单打印信息 -->
    <resultMap id="PatientBillPrintResult" type="com.yunya.feign.treatment.domain.vo.PatientBillPrintInfoVO">
        <id column="billRecordId" property="billRecordId" jdbcType="INTEGER"/>
        <result column="billDate" property="billDate" jdbcType="VARCHAR"/>
        <result column="clinicId" property="clinicId" jdbcType="INTEGER"/>
        <result column="clinicName" property="clinicName" jdbcType="VARCHAR"/>
        <result column="dentistId" property="dentistId" jdbcType="INTEGER"/>
        <result column="dentistName" property="dentistName" jdbcType="VARCHAR"/>
        <result column="billActualAmount" property="billActualAmount" jdbcType="DECIMAL"/>
        <result column="billFreePayAmount" property="billFreePayAmount" jdbcType="DECIMAL"/>
        <result column="billReceivedAmount" property="billReceivedAmount" jdbcType="DECIMAL"/>
        <result column="billDebtAmount" property="billDebtAmount" jdbcType="DECIMAL"/>
        <collection property="billDetails" resultMap="BillDetailChargeResult"/>
    </resultMap>
    <!-- 账单明细结果集 -->
    <resultMap id="BillDetailChargeResult" type="com.yunya.feign.treatment.domain.vo.BillDetailChargeVO">
        <id column="orderDetailId" property="orderDetailId" jdbcType="INTEGER"/>
        <result column="itemType" property="itemType" jdbcType="TINYINT"/>
        <result column="billingItemId" property="billingItemId" jdbcType="INTEGER"/>
        <result column="billingItemName" property="billingItemName" jdbcType="VARCHAR"/>
        <result column="billingItemEnglishName" property="billingItemEnglishName" jdbcType="VARCHAR"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="receivableAmount" property="receivableAmount" jdbcType="DECIMAL"/>
        <result column="privilegeAmount" property="privilegeAmount" jdbcType="DECIMAL"/>
        <result column="toothBit" property="toothBit" jdbcType="VARCHAR"/>
        <result column="actualAmount" property="actualAmount" jdbcType="DECIMAL"/>
    </resultMap>

    <!-- 查询门诊某天最大的账单编号 -->
    <select id="selectBillNumberByOrgId" resultType="java.lang.String">
      SELECT
        IFNULL( MAX( SUBSTR( br.bill_number, 13, 4 )), '0000' ) AS maxNum
      FROM
        bill_record br
      WHERE
        br.org_id = #{orgId}
        AND DATE_FORMAT(br.crt_time,'%Y-%m-%d') = DATE_FORMAT(#{date}, '%Y-%m-%d')
    </select>

    <!-- 根据开单记录ID查询订单支付记录列表信息 -->
    <select id="selectBillPayRecord" resultType="com.yunya.feign.treatment.domain.vo.BillPayRecordVO">
      SELECT
        bpr.id AS billPayRecordId,
        DATE_FORMAT( bpr.crt_time, '%Y-%m-%d' ) AS chargeDate,
        bpr.org_id AS orgId,
        bpr.received_amount AS receivedAmount,
        bpr.still_owe_amount AS stillOweAmount,
        bpr.crt_id AS payeeId,
        bpr.crt_name AS payeeName
      FROM
        bill_pay_record bpr
      WHERE bpr.inservice = 1 and bpr.order_record_id = #{orderRecordId}
    </select>

    <!-- 通过患者ID批量查询患者欠费总额 -->
    <select id="selectPatientDebtAmountList" parameterType="list"
            resultType="com.yunya.feign.treatment.domain.model.DebtAmountModel">
        SELECT
        br.patient_id as patientId,
        ifnull(SUM( br.debt_amount ), 0) AS debtAmount
        FROM
        `bill_record` br
        <where>
            br.inservice = 1
            <if test="patientIds != null and patientIds.size &gt; 0">
                and br.patient_id in
                <foreach collection="patientIds" item="patientId" open="(" separator="," close=")">
                    #{patientId}
                </foreach>
            </if>
        </where>
        GROUP BY
        br.patient_id
    </select>

    <!-- 根据患者ID查询患者账单统计数据 -->
    <select id="selectPatientBillStatistics"
            resultType="com.yunya.feign.treatment.domain.vo.PatientBillStatistics">
        select
        br.patient_id as patientId,
        ifnull(sum(br.receivable_amount), 0) as billTotalOriginalPrice,
        ifnull(sum(br.privilege_amount), 0) as billTotalPrivilegePrice,
        ifnull(sum(br.actual_receivable_amount), 0) as billTotalActualPrice,
        ifnull(sum(br.received_amount), 0) as billTotalReceivedPrice,
        ifnull(sum(br.debt_amount), 0) as billTotalArrears,
        ifnull(sum(bpd.amount), 0) as freePaymentPrice
        from bill_record br
        left join (
        select bill_record_id,sum(amount) amount from bill_pay_detail_record
        where patient_id = #{patientId}
        and inservice=true
        <if test="payIds!=null and payIds.size()>0">
            and account_item_id in
            <foreach collection="payIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        group by bill_record_id
        ) bpd on br.id=bpd.bill_record_id
        where br.patient_id = #{patientId} and inservice = true
    </select>

    <!-- 根据患者ID查询患者账单统计数据列表 -->
    <select id="selectPatientBillStatisticsByPatientIds"
            resultType="com.yunya.feign.treatment.domain.vo.PatientBillStatistics">
        select
        br.patient_id as patientId,
        ifnull(sum(br.receivable_amount), 0) as billTotalOriginalPrice,
        ifnull(sum(br.privilege_amount), 0) as billTotalPrivilegePrice,
        ifnull(sum(br.actual_receivable_amount), 0) as billTotalActualPrice,
        ifnull(sum(br.received_amount), 0) as billTotalReceivedPrice,
        ifnull(sum(br.debt_amount), 0) as billTotalArrears
        from bill_record br
        where inservice = true and
        br.patient_id in
        <foreach collection="patientIds" item="patientId" open="(" separator="," close=")">
            #{patientId}
        </foreach>
        group by br.patient_id
    </select>

    <!-- 根据患者就诊记录ID查询订单支付记录 -->
    <select id="selectBillRecordsByTreatmentIds" resultMap="BaseResultMap">
        select br.* from bill_record br where inservice = true and
        br.treatment_record_id in
        <foreach collection="treatmentIds" item="treatmentId" open="(" separator="," close=")">
            #{treatmentId}
        </foreach>
    </select>

    <!-- PC照片影像小程序已结账列表 -->
    <select id="desktopBillingList" resultType="com.yunya.feign.treatment.domain.vo.DesktopMiniProgramVO">
        select br.treatment_record_id as id,
        br.patient_id as patientId,
        r.first_visit as firstVisit,
        r.dentist_id as dentistId,
        tr.treat_start_time as treatStartTime
        from bill_record br
        left join treatment_record tr on tr.patient_id = br.patient_id and tr.id = br.treatment_record_id
        left join registered r on r.patient_id = br.patient_id and r.id = tr.registered_id
        where date_format(br.crt_time, '%Y-%m-%d') = date_format(#{currentDate}, '%Y-%m-%d')
        <if test="orgId != null">
            and br.org_id = #{orgId}
        </if>
        group by
        br.treatment_record_id,
        br.patient_id,
        r.first_visit,
        r.dentist_id,
        treat_start_time
        order by tr.treat_start_time desc
    </select>

    <!-- 根据就诊ID查询账单和订单信息 -->
    <select id="findOrderAndBill4App" resultMap="OrderBill4AppMap">
        select
            br.treatment_record_id,
            br.id,
            br.bill_number,
            br.receivable_amount,
            br.privilege_amount,
            br.actual_receivable_amount,
            br.received_amount,
            br.debt_amount,
            od.billing_item_id,
            od.type,
            (select quantity from order_detail where  treatment_record_id = od.treatment_record_id and billing_item_id = od.billing_item_id and inservice = br.inservice) as quantity
        from bill_record br
                 left join order_detail od on od.treatment_record_id = br.treatment_record_id
        where br.treatment_record_id = #{treatmentId} and br.inservice = true
    </select>

    <!-- 查询完成实收金额 -->
    <select id="selectCompletedActualReceivedAmount" resultType="java.math.BigDecimal">
        SELECT
        SUM( IFNULL( br.actual_receivable_amount, 0 ) ) AS actualReceivedAmountCompleted
        FROM
        bill_record br
        <where>
            AND br.inservice = 1
            <if test="query.dateType == 0">
                AND DATE_FORMAT(br.crt_time, '%Y-%m') = #{query.businessDate}
            </if>
            <if test="query.dateType == 1">
                AND DATE_FORMAT(br.crt_time, '%Y') = #{query.businessDate}
            </if>
            <if test="query.belongIds != null and query.belongIds.length > 0">
                AND br.org_id IN
                <foreach collection="query.belongIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 查询完成工作量 -->
    <select id="selectCompletedWorkloadAmount" resultType="java.math.BigDecimal">
        SELECT
        IFNULL(SUM( odpr.actual_receivable ) + SUM( odpr.coupon_workload ), 0) AS workloadAmountCompleted
        FROM
        order_detail_pay_record odpr
        <where>
            AND odpr.inservice = 1
            <if test="query.dateType == 0">
                AND DATE_FORMAT(odpr.crt_time, '%Y-%m') = #{query.businessDate}
            </if>
            <if test="query.dateType == 1">
                AND DATE_FORMAT(odpr.crt_time, '%Y') = #{query.businessDate}
            </if>
            AND odpr.order_detail_id IN (
            SELECT
            od.id
            FROM
            order_detail od
            <where>
                AND od.inservice = 1
                AND od.executor_id IS NOT NULL
                <if test="query.belongIds != null and query.belongIds.length > 0">
                    AND od.org_id IN
                    <foreach collection="query.belongIds" item="item" index="index" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
            </where>
            )
        </where>
    </select>

    <!-- 根据条件查询门诊完成营业收入 -->
    <select id="selectBusinessIncomeCompletedCount" resultType="java.math.BigDecimal">
        SELECT
        SUM( br.actual_receivable_amount ) AS actualReceivedAmountCompleted
        FROM
        bill_record br
        <where>
            AND br.inservice = 1
            <if test="query.orgId != null">
                AND br.org_id = #{query.orgId}
            </if>
            <if test="query.startDate != null and query.startDate != ''">
                AND DATE_FORMAT(br.crt_time, '%Y-%m') &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                AND DATE_FORMAT(br.crt_time, '%Y-%m') &lt;= #{query.endDate}
            </if>
        </where>
    </select>

    <!-- 根据账单ID列表查询账单记录 -->
    <select id="selectBillDetailListByIds" resultMap="PatientBillPrintResult">
        select
        bd.billRecordId,
        bd.billDate,
        bd.clinicId,
        bd.dentistId,
        bd.billActualAmount,
        bd.billReceivedAmount,
        bd.billDebtAmount,
        bd.orderDetailId,
        bd.itemType,
        bd.billingItemId,
        case bd.itemType
        when 0 then ifnull(bd.billingItemName,bt.name)
        when 1 then ifnull(bd.billingItemName,bot.name)
        end as billingItemName,
        case bd.itemType
        when 0 then bt.english_name
        when 1 then bot.english_name
        end as billingItemEnglishName,
        bd.price,
        case bd.itemType
        when 0 then bt.unit
        when 1 then bot.unit
        end as unit,
        bd.quantity,
        bd.receivableAmount,
        bd.toothBit,
        bd.privilegeAmount,
        bd.actualAmount
        from (
        select br.id as billRecordId,
        date_format(br.crt_time, '%Y-%m-%d %H:%i') as billDate,
        br.org_id as clinicId,
        tr.dentist_id as dentistId,
        br.actual_receivable_amount as billActualAmount,
        br.received_amount as billReceivedAmount,
        br.debt_amount as billDebtAmount,
        od.orderDetailId,
        od.itemType,
        od.billingItemId,
        od.billingItemName,
        od.price,
        od.quantity,
        od.receivableAmount,
        od.toothBit,
        od.privilegeAmount,
        od.actualAmount
        from bill_record br
        left join treatment_record tr on br.treatment_record_id = tr.id
        left join (
        select od.id as orderDetailId,
        odpr.bill_record_id as billId,
        od.order_record_id as orderId,
        od.type as itemType,
        od.billing_item_id as billingItemId,
        od.billing_item_name as billingItemName,
        od.price as price,
        od.quantity as quantity,
        od.receivable_amount as receivableAmount,
        od.tooth_bit as toothBit,
        ifnull(odpr.privilege_amount, 0) as privilegeAmount,
        ifnull(odpr.actual_receivable, 0) as actualAmount
        from order_detail od
        left join order_detail_pay_record odpr on od.id = odpr.order_detail_id
        ) od on od.billId = br.id and od.orderId = br.order_record_id
        <where>
            and br.inservice = 1
            and br.patient_id = #{patientId}
            <if test="billRecordIds != null and billRecordIds.length > 0">
                and br.id in
                <foreach collection="billRecordIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        ) bd
        LEFT JOIN base_tariff bt on bt.id = bd.billingItemId
        LEFT JOIN base_oral_tariff bot on bot.id = bd.billingItemId
    </select>
    <!-- 根据条件查询应收账款列表 -->
    <select id="selectDebtList" resultType="com.yunya.feign.report.domain.vo.BillRestReceivableAmountVO">
        select
            billId,
            billDate,
            billNum,
            patientId,
            regDentistId,
            totalOriginalAmount,
            totalActualAmount,
            totalActualAmount-received_amount AS billReceivableAmount from
        (
            select br.id as billId,
            date_format(br.crt_time, '%Y-%m-%d') as billDate,
            br.bill_number as billNum,
            br.patient_id as patientId,
            tr.dentist_id as regDentistId,
            br.receivable_amount as totalOriginalAmount,
            if(date_format(br.privilege_date, '%Y-%m-%d') > date_format(#{query.queryDate}, '%Y-%m-%d'),
            br.receivable_amount,
            br.actual_receivable_amount) as totalActualAmount,
            ifnull(bpr.received_amount, 0) received_amount
            from bill_record br
            left join treatment_record tr on br.treatment_record_id = tr.id
            LEFT JOIN (
            SELECT bpr.bill_record_id,sum(bpr.received_amount) received_amount FROM bill_pay_record bpr WHERE
            bpr.inservice=true
            AND date_format(bpr.crt_time, '%Y-%m-%d') &lt;= #{query.queryDate}
            GROUP BY bpr.bill_record_id
            ) bpr on br.id=bpr.bill_record_id
            <where>
                and br.inservice = true
                <if test="query.orgId != null">
                    and br.org_id = #{query.orgId}
                </if>
                <if test="query.queryDate != null and query.queryDate != ''">
                    and date_format(br.crt_time, '%Y-%m-%d') &lt;= #{query.queryDate}
                </if>
                <if test="query.regDentistIds != null and query.regDentistIds.length > 0">
                    and tr.dentist_id in
                    <foreach collection="query.regDentistIds" item="item" index="index" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
            </where>
            order by
            br.crt_time desc,
            br.debt_amount desc
        ) t where totalActualAmount>received_amount
    </select>

    <!--撤销优惠合计-->
    <select id="selectBillAdjustDiscountAmount" resultType="java.math.BigDecimal">
        select IFNULL(sum(privilege_amount),0)
        from bill_record
        where order_record_id in (
            select behdr.associate_record_id as orderRecordId
            from bill_exception_handle_record behr
                     left join bill_exception_handle_detail_record behdr on behr.id = behdr.bill_handle_record_id
            where operate_type = 2
              and date_format(behr.crt_time, '%Y-%m') = #{query.queryDate}
        )  and org_id = #{query.orgId}
        and date_format(crt_time, '%Y-%m') = #{query.queryDate}
    </select>

    <!--优惠合计-->
    <select id="selectBillDiscountAmount" resultType="java.math.BigDecimal">
        select IFNULL(sum(privilege_amount),0)
        from bill_record
        where date_format(crt_time, '%Y-%m') =  #{query.queryDate}
          and date_format(privilege_date, '%Y-%m') =  #{query.queryDate}
          and org_id = #{query.orgId}
    </select>

    <!--调整原价合计-->
    <select id="selectBillAdjustOriginalAmount" resultType="java.math.BigDecimal">
        select IFNULL(sum(receivable_amount),0)
        from bill_record
        where order_record_id in (
            select behdr.associate_record_id as orderRecordId
            from bill_exception_handle_record behr
                     left join bill_exception_handle_detail_record behdr on behr.id = behdr.bill_handle_record_id
            where operate_type = 2
              and date_format(behr.crt_time, '%Y-%m') =#{query.queryDate}
        )
          and org_id = #{query.orgId}
          and date_format(crt_time, '%Y-%m') = #{query.queryDate}
    </select>

    <!--原价合计-->
    <select id="selectBillOriginalAmount" resultType="java.math.BigDecimal">
        select IFNULL(sum(receivable_amount),0)
        from bill_record
        where date_format(crt_time, '%Y-%m') = #{query.queryDate}
        and org_id =#{query.orgId}
    </select>

    <!--撤销实收合计-->
    <select id="selectBillRevokeReceivedAmount" resultType="java.math.BigDecimal">
        select IFNULL(sum(bpr.received_amount),0)
        from bill_pay_record bpr
        left join bill_record br on br.id = bpr.bill_record_id
        where
        br.org_id = #{query.orgId}
        and bpr.id in (
            select behdr.associate_record_id as billPayRecordId
            from bill_exception_handle_record behr
                     left join bill_exception_handle_detail_record behdr on behr.id = behdr.bill_handle_record_id
            where operate_type = 1
              and date_format(behr.crt_time, '%Y-%m') = #{query.queryDate}
        )
        and date_format(bpr.crt_time, '%Y-%m') = #{query.queryDate}
        and date_format(br.crt_time, '%Y-%m') = #{query.queryDate}
    </select>

    <!--实收合计-->
    <select id="selectBillReceivedAmount" resultType="java.math.BigDecimal">
        select IFNULL(sum(bpr.received_amount),0)
        from bill_pay_record bpr
                 left join bill_record br on bpr.bill_record_id = br.id
        where date_format(bpr.crt_time, '%Y-%m') = #{query.queryDate}
          and date_format(br.crt_time, '%Y-%m') = #{query.queryDate}
          and br.org_id = #{query.orgId}
    </select>

    <!--免单合计-->
    <select id="selectBillFreePayAmount" resultType="java.math.BigDecimal">
        select IFNULL(sum(amount),0)
        from bill_pay_detail_record bpdr
        where date_format(bpdr.crt_time, '%Y-%m') = #{query.queryDate}
          and bpdr.account_item_id in (23, 26) and bpdr.inservice = 1
          and bpdr.bill_pay_record_id in (
            select bpr.id
            from bill_pay_record bpr
            where date_format(bpr.crt_time, '%Y-%m') = #{query.queryDate}
              and bpr.bill_record_id in (
                select br.id
                from bill_record br
                where br.org_id = #{query.orgId}
                  and date_format(br.crt_time, '%Y-%m') = #{query.queryDate}
            ) and bpr.inservice = 1
        )
    </select>

    <!--去掉撤销优惠后的orderRecordId列表-->
    <select id="selectRemoveBillAdjustDiscountOrderIds" resultType="java.lang.Integer">
        select distinct order_record_id
        from bill_record br
        where not exists (
            select behdr.associate_record_id as orderRecordId
            from bill_exception_handle_record behr
            left join bill_exception_handle_detail_record behdr on behr.id = behdr.bill_handle_record_id
            where operate_type = 2
                <if test="query.queryDate!=null and query.queryDate!=''">
                and date_format(behr.crt_time, '%Y-%m') = #{query.queryDate}
                </if>
            and br.order_record_id = behdr.associate_record_id
        )
        <if test="query.orgIds != null and query.orgIds.size() > 0">
            AND br.org_id IN
            <foreach collection="query.orgIds" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="query.queryDate!=null and query.queryDate!=''">
            and date_format(crt_time, '%Y-%m') = #{query.queryDate}
            and date_format(privilege_date, '%Y-%m') =  #{query.queryDate}
        </if>
    </select>
</mapper>