<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.ClinicTariffMemberPriceMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.tariff.ClinicTariffMemberPrice" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tariff_id" property="tariffId" jdbcType="INTEGER" />
    <result column="clinic_id" property="clinicId" jdbcType="INTEGER" />
    <result column="member_type_id" property="memberTypeId" jdbcType="INTEGER" />
    <result column="discount_price" property="discountPrice" jdbcType="DECIMAL" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

    <select id="selectClinicTariffMemberPrice"
            resultType="com.yunya.feign.treatment.domain.vo.ClinicItemPriceVO">
      SELECT
          0 AS itemId,
          tariff_id AS clinicItemId,
          discount_price AS clinicItemPrice,
          member_type_id AS memberTypeId
      FROM clinic_tariff_member_price
      <where>
        AND clinic_id = #{query.orgId}
        <if test="query.memberTypeId">
          AND member_type_id = #{query.memberTypeId}
        </if>
        AND tariff_id IN
        <foreach collection="query.tariffIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
      </where>
    </select>
</mapper>