<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.treatment.mapper.OrderDetailMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.treatment.OrderDetail">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="org_id" jdbcType="INTEGER" property="orgId"/>
        <result column="treatment_record_id" jdbcType="INTEGER" property="treatmentRecordId"/>
        <result column="order_record_id" jdbcType="INTEGER" property="orderRecordId"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="billing_item_id" jdbcType="INTEGER" property="billingItemId"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="receivable_amount" jdbcType="DECIMAL" property="receivableAmount"/>
        <result column="tooth_bit" jdbcType="VARCHAR" property="toothBit"/>
        <result column="executor_id" jdbcType="INTEGER" property="executorId"/>
        <result column="source_type" jdbcType="TINYINT" property="sourceType"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="inservice" jdbcType="BIT" property="inservice"/>
        <result column="crt_id" jdbcType="INTEGER" property="crtId"/>
        <result column="crt_name" jdbcType="VARCHAR" property="crtName"/>
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime"/>
        <result column="upd_id" jdbcType="INTEGER" property="updId"/>
        <result column="upt_name" jdbcType="VARCHAR" property="uptName"/>
        <result column="upd_time" jdbcType="TIMESTAMP" property="updTime"/>
    </resultMap>

    <!-- 账单信息MAP -->
    <resultMap id="billPrintMap" type="com.yunya.feign.treatment.domain.vo.BillPrintInfoVO">
        <result column="totalReceivableAmount" property="totalReceivableAmount" jdbcType="DECIMAL"/>
        <result column="totalPrivilegeAmount" property="totalPrivilegeAmount" jdbcType="DECIMAL"/>
        <result column="totalActualReceivableAmount" property="totalActualReceivableAmount" jdbcType="DECIMAL"/>
        <result column="totalReceivedAmount" property="totalReceivedAmount" jdbcType="DECIMAL"/>
        <result column="totalDebtAmount" property="totalDebtAmount" jdbcType="DECIMAL"/>
        <result column="invoice_number" property="invoiceNumber" jdbcType="VARCHAR"/>
        <collection property="billDetail" ofType="com.yunya.feign.treatment.domain.vo.BillDetailPrintInfoVO">
            <result column="receivable_amount" property="receivableAmount" jdbcType="DECIMAL" />
            <result column="privilege_amount" property="privilegeAmount" jdbcType="DECIMAL" />
            <result column="actual_receivable" property="actualReceivable" jdbcType="DECIMAL" />
            <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL" />
            <result column="price" property="price" jdbcType="DECIMAL" />
            <result column="tooth_bit" jdbcType="VARCHAR" property="toothBit"/>
            <result column="quantity" jdbcType="INTEGER" property="quantity"/>
            <result column="name" property="name" jdbcType="VARCHAR"/>
            <result column="english_name" property="englishName" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>


    <!-- 根据开单记录ID查询开单详情列表 -->
    <select id="selectOrderDetailVOList" resultType="com.yunya.feign.treatment.domain.vo.OrderDetailVO">
        select
        od.id as orderDetailId,
        od.`type`,
        od.billing_item_id as billingItemId,
        od.price,
        od.quantity,
        od.receivable_amount as receivableAmount,
        od.tooth_bit as toothBit,
        od.executor_id as executorId,
        od.remarks
        from order_detail od
        <where>
            <if test="orderRecordId != null">
                and od.order_record_id = #{orderRecordId}
            </if>
            <if test="sourceType != null">
                and od.source_type = #{sourceType}
            </if>
        </where>
    </select>
    <!-- 根据开单记录ID查询收费开单明细 -->
    <select id="selectChargeOrderDetailList"
            resultType="com.yunya.feign.treatment.domain.vo.OrderDetailChargeVO">
        select
        od.id as orderDetailId,
        od.`type`,
        od.billing_item_id as billingItemId,
        od.price,
        od.quantity,
        od.receivable_amount as receivableAmount,
        od.receivable_amount as actualAmount,
        ifnull(odpr.received_amount, 0) as receivedAmount,
        100 as discountRate,
        od.tooth_bit as toothBit,
        od.executor_id as executorId,
        od.source_type as sourceType,
        od.remarks
        from order_detail od
        left join order_detail_pay_record odpr on od.id = odpr.order_detail_id
        where od.order_record_id = #{orderRecordId}
    </select>

    <!-- 打印账单信息 -->
    <select id="billPrintInfo" resultMap="billPrintMap">
        select a.*,
            case a.type
                when 0 then bt.name
                when 1 then bot.name
            end as name,
            case a.type
                when 0 then bt.english_name
                when 1 then bot.english_name
            end as english_name
        from (
                 SELECT
                     br.received_amount AS totalReceivedAmount,
                     br.receivable_amount AS totalReceivableAmount,
                     br.privilege_amount AS totalPrivilegeAmount,
                     br.actual_receivable_amount AS actualReceivableAmount,
                     br.debt_amount AS totalDebtAmount,
                     br.invoice_number,
                     od.tooth_bit AS toothBit,
                     od.type,
                     od.billing_item_id,
                     od.quantity,
                     od.price,
                     odpr.receivable_amount as receivableAmount,
                     odpr.privilege_amount as privilegeAmount,
                     odpr.actual_receivable as actualReceivable,
                     odpr.received_amount as receivedAmount
                 FROM
                     bill_record br
                         LEFT JOIN order_detail od ON od.treatment_record_id = br.treatment_record_id AND od.order_record_id = br.order_record_id
                         LEFT JOIN order_detail_pay_record odpr ON odpr.treatment_record_id = br.treatment_record_id and odpr.order_record_id = br.order_record_id and odpr.order_detail_id = od.id and odpr.bill_record_id = br.id
                 WHERE
                     br.patient_id = #{patientId} and br.bill_number=#{billNumber}) a
                 LEFT JOIN base_tariff bt on bt.id = a.billing_item_id
                 LEFT JOIN base_oral_tariff bot on bot.id = a.billing_item_id
    </select>
</mapper>