<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.OrderDetailPayRecordMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.treatment.OrderDetailPayRecord">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="treatment_record_id" property="treatmentRecordId" jdbcType="INTEGER"/>
        <result column="order_record_id" property="orderRecordId" jdbcType="INTEGER"/>
        <result column="order_detail_id" property="orderDetailId" jdbcType="INTEGER"/>
        <result column="bill_record_id" property="billRecordId" jdbcType="INTEGER"/>
        <result column="receivable_amount" property="receivableAmount" jdbcType="DECIMAL"/>
        <result column="privilege_amount" property="privilegeAmount" jdbcType="DECIMAL"/>
        <result column="actual_receivable" property="actualReceivable" jdbcType="DECIMAL"/>
        <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL"/>
        <result column="coupon_workload" property="couponWorkload" jdbcType="DECIMAL"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 批量插入开单明细收费记录 -->
    <insert id="batchInsert">
        insert into order_detail_pay_record (
        org_id, patient_id, treatment_record_id, order_record_id,order_detail_id, bill_record_id, receivable_amount,
        privilege_amount,actual_receivable, received_amount, coupon_workload, crt_id, crt_name, upd_id, upd_name
        ) values
        <foreach collection="list" index="index" item="obj" separator=",">
            (#{obj.orgId},#{obj.patientId},#{obj.treatmentRecordId},#{obj.orderRecordId},#{obj.orderDetailId},
            #{obj.billRecordId},#{obj.receivableAmount},#{obj.privilegeAmount},#{obj.actualReceivable},
            #{obj.receivedAmount},#{obj.couponWorkload},#{obj.crtId},#{obj.crtName},#{obj.updId},
            #{obj.updName})
        </foreach>
    </insert>

    <!--根据订单id统计并更新项目总已收（含免单）、总免单-->
    <update id="statOrderDetailPayItemTotal">
        UPDATE order_detail_pay_record odpr
        LEFT JOIN (
            SELECT
                order_detail_id,
                SUM(free_amount) + SUM(received_amount) AS received_amount,
                SUM(free_amount) AS free_amount
            FROM bill_pay_share_detail
            WHERE order_record_id = #{orderRecordId}
            GROUP BY order_detail_id
        ) bpsd ON odpr.order_detail_id = bpsd.order_detail_id
        SET
            odpr.received_amount = IFNULL(bpsd.received_amount, 0),
            odpr.free_amount = IFNULL(bpsd.free_amount, 0)
        WHERE odpr.inservice = true
        AND odpr.order_record_id = #{orderRecordId}
    </update>

    <!-- 查询账单优惠为0的明细总额 -->
    <select id="selectNoDiscountAmount" resultType="java.math.BigDecimal">
        SELECT
            IFNULL(SUM( actual_receivable ) ,0)
        FROM
            order_detail_pay_record odpr
        WHERE
            odpr.bill_record_id = #{billRecordId}
            AND odpr.privilege_amount = 0
    </select>
    <!-- 根据条件查询门诊当月账单明细列表 -->
    <select id="selectCurrentMonthBillDetail"
            resultType="com.yunya.feign.report.domain.vo.CurrentMonthBillDetailVO">
        select odpr.order_record_id as billDetailId,
        date_format(br.crt_time, '%Y-%m-%d') as billDate,
        br.bill_number as billNum,
        odpr.patient_id as patientId,
        od.type as itemType,
        btd.itemCategoryId,
        btd.itemCategoryName,
        od.billing_item_id as itemId,
        btd.itemName,
        od.quantity as quantity,
        odpr.actual_receivable as itemActualAmount,
        br.actual_receivable_amount as billActualAmount,
        odpr.coupon_workload as itemSupplyWorkloadAmount
        from order_detail_pay_record odpr
        inner join order_detail od on odpr.order_detail_id = od.id
        left join (
        select bt.id as itemId,
        bt.name as itemName,
        0 as itemType,
        btc.id as itemCategoryId,
        btc.name as itemCategoryName
        from base_tariff bt
        left join base_tariff_category btc on bt.tariff_category_id = btc.id
        union all
        select bot.id as itemId,
        bot.name as itemName,
        1 as itemType,
        botc.id as itemCategoryId,
        botc.name as itemCategoryName
        from base_oral_tariff bot
        left join base_oral_tariff_category botc on bot.oral_tariff_category_id = botc.id
        ) btd on od.type = btd.itemType and od.billing_item_id = btd.itemId
        inner join bill_record br on odpr.bill_record_id = br.id
        <where>
            <if test="query.currentMonth != null and query.currentMonth != ''">
                date_format(odpr.crt_time, '%Y-%m') = #{query.currentMonth}
            </if>
            <if test="query.orgId != null">
                and odpr.org_id = #{query.orgId}
                and br.org_id = #{query.orgId}
                and od.org_id = #{query.orgId}
            </if>
        </where>
        order by br.crt_time desc
    </select>

    <!--根据订单id查询订单在billPayId截止之前的项目收费明细-->
    <select id="selectItemPayDetailDeadlineBillPayId" resultType="com.yunya.feign.treatment.domain.vo.BillPayShareDetailVO">
        SELECT
            od.order_record_id AS orderRecordId,
            ${billPayId} AS billPayId,
            od.id AS orderDetailId,
            od.type AS itemType,
            od.billing_item_id AS itemId,
            od.executor_id AS executorId,
            od.consulter_id AS consulterId,
            odpr.actual_receivable AS actualReceivable,
            IFNULL(bd.tariffActualAmount, 0) AS tariffActualAmount,
            IFNULL(bd.oralActualAmount, 0) AS oralActualAmount,
            IFNULL(bdp.free_amount, 0) AS itemFreeAmount,
            IFNULL(bdp.received_amount, 0) AS itemRecAmount
        FROM order_detail od
        LEFT JOIN order_detail_pay_record odpr ON odpr.order_detail_id = od.id
        LEFT JOIN (
            SELECT
                od.order_record_id,
                SUM(IF(od.type=0, odpr.actual_receivable, 0)) AS tariffActualAmount,
                SUM(IF(od.type=1, odpr.actual_receivable, 0)) AS oralActualAmount
            FROM order_detail od
            LEFT JOIN order_detail_pay_record odpr ON odpr.order_detail_id = od.id
            <where>
                od.inservice = true
                AND odpr.inservice = true
                AND odpr.order_record_id = #{orderRecordId}
            </where>
            GROUP BY od.order_record_id
        ) bd ON bd.order_record_id=od.order_record_id
        LEFT JOIN (
            SELECT
                order_record_id,
                item_type,
                item_id,
                sum(free_amount) AS free_amount,
                sum(received_amount) AS received_amount
            FROM bill_pay_share_detail
            <where>
                order_record_id = #{orderRecordId}
                AND bill_pay_id &lt; #{billPayId}
            </where>
            group by order_record_id, item_type, item_id
        ) bdp ON bdp.order_record_id=od.order_record_id and od.type=bdp.item_type and od.billing_item_id=bdp.item_id
        <where>
            od.inservice = true
            AND od.receivable_amount > 0
            AND odpr.inservice = true
            AND odpr.order_record_id = #{orderRecordId}
        </where>
        ORDER BY od.type, od.billing_item_id
    </select>
</mapper>