<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.treatment.mapper.OrderDetailMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.treatment.OrderDetail">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="org_id" jdbcType="INTEGER" property="orgId"/>
        <result column="treatment_record_id" jdbcType="INTEGER" property="treatmentRecordId"/>
        <result column="order_record_id" jdbcType="INTEGER" property="orderRecordId"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="billing_item_id" jdbcType="INTEGER" property="billingItemId"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="receivable_amount" jdbcType="DECIMAL" property="receivableAmount"/>
        <result column="tooth_bit" jdbcType="VARCHAR" property="toothBit"/>
        <result column="executor_id" jdbcType="INTEGER" property="executorId"/>
        <result column="source_type" jdbcType="TINYINT" property="sourceType"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="inservice" jdbcType="BIT" property="inservice"/>
        <result column="crt_id" jdbcType="INTEGER" property="crtId"/>
        <result column="crt_name" jdbcType="VARCHAR" property="crtName"/>
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime"/>
        <result column="upd_id" jdbcType="INTEGER" property="updId"/>
        <result column="upt_name" jdbcType="VARCHAR" property="uptName"/>
        <result column="upd_time" jdbcType="TIMESTAMP" property="updTime"/>
    </resultMap>

    <!-- 账单信息MAP -->
    <resultMap id="billPrintMap" type="com.yunya.feign.treatment.domain.vo.BillPrintInfoVO">
        <result column="totalReceivableAmount" property="totalReceivableAmount" jdbcType="DECIMAL"/>
        <result column="totalPrivilegeAmount" property="totalPrivilegeAmount" jdbcType="DECIMAL"/>
        <result column="totalActualReceivableAmount" property="totalActualReceivableAmount" jdbcType="DECIMAL"/>
        <result column="totalReceivedAmount" property="totalReceivedAmount" jdbcType="DECIMAL"/>
        <result column="totalDebtAmount" property="totalDebtAmount" jdbcType="DECIMAL"/>
        <result column="invoice_number" property="invoiceNumber" jdbcType="VARCHAR"/>
        <result column="order_record_id" jdbcType="INTEGER" property="orderRecordId"/>
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime"/>
        <collection property="billDetail" ofType="com.yunya.feign.treatment.domain.vo.BillDetailPrintInfoVO">
            <id column="id" jdbcType="INTEGER" property="orderDetailId"/>
            <result column="type" property="type" jdbcType="TINYINT"/>
            <result column="receivable_amount" property="receivableAmount" jdbcType="DECIMAL"/>
            <result column="privilege_amount" property="privilegeAmount" jdbcType="DECIMAL"/>
            <result column="actual_receivable" property="actualReceivable" jdbcType="DECIMAL"/>
            <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL"/>
            <result column="billing_item_id" jdbcType="INTEGER" property="billingItemId"/>
            <result column="price" property="price" jdbcType="DECIMAL"/>
            <result column="tooth_bit" jdbcType="VARCHAR" property="toothBit"/>
            <result column="quantity" jdbcType="INTEGER" property="quantity"/>
            <result column="name" property="name" jdbcType="VARCHAR"/>
            <result column="english_name" property="englishName" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>


    <!-- 根据开单记录ID查询开单详情列表 -->
    <select id="selectOrderDetailVOList" resultType="com.yunya.feign.treatment.domain.vo.OrderDetailVO">
        select
        od.id as orderDetailId,
        od.`type`,
        od.billing_item_id as billingItemId,
        od.price,
        od.quantity,
        od.receivable_amount as receivableAmount,
        od.tooth_bit as toothBit,
        od.executor_id as executorId,
        od.remarks
        from order_detail od
        <where>
            <if test="orderRecordId != null">
                and od.order_record_id = #{orderRecordId}
            </if>
            <if test="sourceType != null">
                and od.source_type = #{sourceType}
            </if>
        </where>
    </select>
    <!-- 根据开单记录ID查询收费开单明细 -->
    <select id="selectChargeOrderDetailList"
            resultType="com.yunya.feign.treatment.domain.vo.OrderDetailChargeVO">
        SELECT
            od.id AS orderDetailId,
            od.`type`,
            od.billing_item_id AS billingItemId,
            od.price,
            od.quantity,
            od.receivable_amount AS receivableAmount,
            od.receivable_amount AS actualAmount,
            ifnull( odpr.received_amount, 0 ) AS receivedAmount,
            100 AS discountRate,
            od.tooth_bit AS toothBit,
            od.executor_id AS executorId,
            od.source_type AS sourceType,
            od.remarks
        FROM
            order_detail od
            LEFT JOIN (
            SELECT
            odpr.order_detail_id,
            odpr.received_amount
            FROM order_detail_pay_record odpr
            WHERE
            odpr.order_record_id = #{orderRecordId}
            ) odpr ON od.id = odpr.order_detail_id
        WHERE
         od.order_record_id = #{orderRecordId}
    </select>

    <!-- 打印账单信息 -->
    <select id="billPrintInfo" resultMap="billPrintMap">
        select a.*,
            case a.type
                when 0 then bt.name
                when 1 then bot.name
            end as name,
            case a.type
                when 0 then bt.english_name
                when 1 then bot.english_name
            end as english_name
        from (
                 SELECT
                     br.received_amount AS totalReceivedAmount,
                     br.receivable_amount AS totalReceivableAmount,
                     br.privilege_amount AS totalPrivilegeAmount,
                     br.actual_receivable_amount AS totalActualReceivableAmount,
                     br.debt_amount AS totalDebtAmount,
                     date_format(br.crt_time,'%Y-%m-%d') as crt_time,
                     br.invoice_number,
                     od.tooth_bit,
                     od.type,
                     od.billing_item_id,
                     od.quantity,
                     od.price,
                     od.order_record_id,
                     od.id,
                     odpr.receivable_amount,
                     odpr.privilege_amount,
                     odpr.actual_receivable,
                     odpr.received_amount
                 FROM
                     bill_record br
                         LEFT JOIN order_detail od ON od.treatment_record_id = br.treatment_record_id AND od.order_record_id = br.order_record_id
                         LEFT JOIN order_detail_pay_record odpr ON odpr.inservice = 1 and odpr.treatment_record_id = br.treatment_record_id and odpr.order_record_id = br.order_record_id and odpr.order_detail_id = od.id and odpr.bill_record_id = br.id
                 WHERE
                     br.patient_id = #{patientId} and br.bill_number=#{billNumber}) a
                 LEFT JOIN base_tariff bt on bt.id = a.billing_item_id
                 LEFT JOIN base_oral_tariff bot on bot.id = a.billing_item_id
    </select>

    <!-- 根据条件查询专科项目开单项目完成数量 -->
    <select id="selectSpecialistProjectTariffCompletedAmount" resultType="java.lang.Integer">
        SELECT
        SUM( od.quantity )
        FROM
        order_detail od
        <where>
            AND od.inservice = 1
            AND od.type = 0
            AND od.order_record_id IN (
            SELECT
            id
            FROM
            order_record
            WHERE
            `status` = 2
            )
            <if test="query.dateType == 0">
                AND DATE_FORMAT( od.crt_time, '%Y-%m' ) = #{query.queryDate}
            </if>
            <if test="query.dateType == 1">
                AND DATE_FORMAT( od.crt_time, '%Y' ) = #{query.queryDate}
            </if>
            <if test="query.tariffIds != null and query.tariffIds.length > 0">
                AND od.billing_item_id IN
                <foreach collection="query.tariffIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="query.belongIds != null and query.belongIds.length > 0">
                AND od.org_id IN
                <foreach collection="query.belongIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 根据条件查询专科项目开单明细列表 -->
    <select id="selectSpecialistProjectTariffDetail"
            resultType="com.yunya.feign.treatment.domain.vo.SpecialistTariffCompletedDetailVO">
        SELECT
        od.billing_item_id AS tariffItemId,
        bt.`name` AS tariffItemName,
        SUM( od.quantity ) AS completedAmount
        FROM
        (
        SELECT
        od.billing_item_id,
        od.quantity
        FROM
        order_detail od,(
        SELECT
        id
        FROM
        order_record
        WHERE
        `status` = 2
        ) ord
        <where>
            AND od.inservice = 1
            AND od.order_record_id = ord.id
            AND od.type = 0
            <if test="query.dateType == 0">
                AND DATE_FORMAT( od.crt_time, '%Y-%m' ) = #{query.queryDate}
            </if>
            <if test="query.dateType == 1">
                AND DATE_FORMAT( od.crt_time, '%Y' ) = #{query.queryDate}
            </if>
            <if test="query.tariffIds != null and query.tariffIds.length > 0">
                AND od.billing_item_id IN
                <foreach collection="query.tariffIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="query.belongIds != null and query.belongIds.length > 0">
                AND od.org_id IN
                <foreach collection="query.belongIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        ) od
        LEFT JOIN base_tariff bt ON od.billing_item_id = bt.id
        GROUP BY
        od.billing_item_id
    </select>

    <!-- 查询总数量 -->
    <select id="selectCountTariffSpecialist" resultType="java.lang.Integer">
        select count(1) from order_detail od join order_record ord on od.order_record_id = ord.id
        <where>
            <if test="form.orgIds.size() > 0">
                and od.org_id in
                <foreach collection="form.orgIds" item="orgId" index="index" open="(" close=")" separator=",">
                    #{orgId}
                </foreach>
            </if>

            <if test="form.dateType == 0">
                <if test="form.startDate != null and form.startDate != ''">
                    and DATE_FORMAT( od.crt_time, '%Y-%m-%d') &gt;= #{form.startDate}
                </if>
                <if test="form.endDate != null and form.endDate != ''">
                    and DATE_FORMAT( od.crt_time, '%Y-%m-%d') &lt;= #{form.endDate}
                </if>
            </if>
            <if test="form.dateType == 1">
                <if test="form.startDate != null and form.startDate != ''">
                    and DATE_FORMAT( od.crt_time, '%Y-%m') &gt;= #{form.startDate}
                </if>
                <if test="form.endDate != null and form.endDate != ''">
                    and DATE_FORMAT( od.crt_time, '%Y-%m') &lt;= #{form.endDate}
                </if>
            </if>
            <if test="form.dateType == 2">
                <if test="form.startDate != null and form.startDate != ''">
                    and DATE_FORMAT( od.crt_time, '%Y') &gt;= #{form.startDate}
                </if>
                <if test="form.endDate != null and form.endDate != ''">
                    and DATE_FORMAT( od.crt_time, '%Y') &lt;= #{form.endDate}
                </if>
            </if>
            and od.type = 0
            and ord.status = 2
        </where>
    </select>

    <!-- 查询专科数量 -->
    <select id="selectTariffSpecialistPercentage" resultType="com.yunya.feign.treatment.domain.vo.SpecialistTariffProjectVO">
        select sum(od.quantity) as quantity,
        od.org_id as orgId,
        od.crt_time as crtTime,
        od.billing_item_id as billingItemId
        from order_record ord left join order_detail od on od.order_record_id = ord.id
        <where>
            <if test=" form.orgIds != null and form.orgIds.size() > 0 ">
                and od.org_id in
                <foreach collection="form.orgIds" item="orgId" index="index" open="(" close=")" separator=",">
                    #{orgId}
                </foreach>
            </if>
            <if test="form.dateType == 0">
                <if test="form.startDate != null and form.startDate != ''">
                    and DATE_FORMAT( od.crt_time, '%Y-%m-%d') &gt;= #{form.startDate}
                </if>
                <if test="form.endDate != null and form.endDate != ''">
                    and DATE_FORMAT( od.crt_time, '%Y-%m-%d') &lt;= #{form.endDate}
                </if>
            </if>
            <if test="form.dateType == 1">
                <if test="form.startDate != null and form.startDate != ''">
                    and DATE_FORMAT( od.crt_time, '%Y-%m') &gt;= #{form.startDate}
                </if>
                <if test="form.endDate != null and form.endDate != ''">
                    and DATE_FORMAT( od.crt_time, '%Y-%m') &lt;= #{form.endDate}
                </if>
            </if>
            <if test="form.dateType == 2">
                <if test="form.startDate != null and form.startDate != ''">
                    and DATE_FORMAT( od.crt_time, '%Y') &gt;= #{form.startDate}
                </if>
                <if test="form.endDate != null and form.endDate != ''">
                    and DATE_FORMAT( od.crt_time, '%Y') &lt;= #{form.endDate}
                </if>
            </if>
            and od.inservice = 1
            and od.type = 0
            and ord.status = 2
        </where>
        group by billingItemId
    </select>

    <!-- 计算占比 -->
    <select id="percentage" resultType="java.lang.String">
        select concat( format( IFNULL(${number} / ${count} * 100,0), 2 )) percentage
    </select>

    <!-- 根据条件查询专科项目开单完成数量 -->
    <select id="selectSpecialistProjectCompletedCount" resultType="java.lang.Integer">
        SELECT
        SUM( od.quantity )
        FROM
        (
        SELECT
        ord.`status`,
        od.org_id,
        od.quantity,
        od.type,
        od.billing_item_id,
        od.crt_time,
        od.inservice
        FROM
        order_detail od
        LEFT JOIN order_record ord ON od.order_record_id = ord.id
        ) od
        <where>
            AND od.inservice = 1
            AND od.`status` = 2
            AND od.`type` = 0
            <if test="query.orgId != null">
                AND od.org_id = #{query.orgId}
            </if>
            <if test="query.tariffIds != null and query.tariffIds.size() > 0">
                AND od.billing_item_id IN
                <foreach collection="query.tariffIds" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.startDate != null and query.startDate != ''">
                AND DATE_FORMAT(od.crt_time, '%Y-%m') &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                AND DATE_FORMAT(od.crt_time, '%Y-%m') &lt;= #{query.endDate}
            </if>
        </where>
    </select>

    <!-- 根据条件查询专科项目开单完成数量 -->
    <select id="selectSpecialistProjectCompletedList" resultType="com.yunya.models.treatment.OrderDetail">
        SELECT
        od.org_id as orgId,
        od.billing_item_id as billingItemId,
        SUM( od.quantity ) as quantity
        FROM
        (
        SELECT
        ord.`status`,
        od.org_id,
        od.quantity,
        od.type,
        od.billing_item_id,
        od.crt_time,
        od.inservice
        FROM
        order_detail od
        LEFT JOIN order_record ord ON od.order_record_id = ord.id
        ) od
        <where>
            AND od.inservice = 1
            AND od.`status` = 2
            AND od.`type` = 0
            <if test="query.orgId != null">
                AND od.org_id = #{query.orgId}
            </if>
            <if test="query.tariffIds != null and query.tariffIds.size()> 0">
                AND od.billing_item_id IN
                <foreach collection="query.tariffIds" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.startDate != null and query.startDate != ''">
                AND DATE_FORMAT(od.crt_time, '%Y-%m') &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                AND DATE_FORMAT(od.crt_time, '%Y-%m') &lt;= #{query.endDate}
            </if>
        </where>
        group by od.org_id, od.billing_item_id
    </select>

    <!--查询门诊下项目分类的原价合计-->
    <select id="selectClinicTariffCategoryOriginalAmount"
            resultType="com.yunya.feign.treatment.domain.vo.ClinicTariffCategoryAmountVO">
        SELECT
            od.org_id AS orgId,
            bt.type,
            bt.categoryId,
            IFNULL(SUM(od.price*od.quantity),0) amount
        FROM order_detail od
        INNER JOIN bill_record br on br.order_record_id=od.order_record_id
        INNER JOIN (
            SELECT id,tariff_category_id AS categoryId,0 AS type FROM base_tariff WHERE inservice=1
            UNION ALL
            SELECT id,oral_tariff_category_id AS categoryId,1 AS type FROM base_oral_tariff WHERE inservice=1
        ) bt on bt.id = od.billing_item_id and bt.type=od.type
        WHERE
        NOT EXISTS (
            SELECT
                behdr.associate_record_id
            FROM bill_exception_handle_record behr
            LEFT JOIN bill_exception_handle_detail_record behdr ON behr.id = behdr.bill_handle_record_id
            WHERE operate_type = 2
            <if test="query.queryDate != null and query.queryDate != ''">
                AND DATE_FORMAT(behr.crt_time, '%Y-%m') = #{query.queryDate}
            </if>
            AND behdr.associate_record_id=br.order_record_id
        )
        <if test="query.orgIds != null and query.orgIds.size() > 0">
            AND br.org_id IN
            <foreach collection="query.orgIds" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="query.queryDate != null and query.queryDate != ''">
            AND DATE_FORMAT(br.crt_time, '%Y-%m') = #{query.queryDate}
        </if>
        GROUP BY od.org_id, bt.type, bt.categoryId
    </select>

    <!--查询门诊下开单项目的应收-->
    <select id="selectClinicOrderDetailList" resultType="com.yunya.models.treatment.OrderDetail">
        SELECT
            od.org_id AS orgId,
            od.order_record_id AS orderRecordId,
            od.type,
            od.billing_item_id AS billingItemId,
            od.receivable_amount AS receivableAmount
        FROM order_detail od
        INNER JOIN bill_pay_record bpr ON od.order_record_id=bpr.order_record_id
        INNER JOIN bill_record br ON od.order_record_id=br.order_record_id
        <where>
            <if test="payIds != null and payIds.size() > 0">
                AND bpr.id NOT IN
                <foreach collection="payIds" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="query.queryDate != null and query.queryDate != ''">
                and DATE_FORMAT(bpr.crt_time, '%Y-%m') = #{query.queryDate}
                and DATE_FORMAT(br.crt_time, '%Y-%m') = #{query.queryDate}
            </if>
            <if test="query.orgIds != null and query.orgIds.size() > 0">
                AND br.org_id IN
                <foreach collection="query.orgIds" item="item" index="index" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>