<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.OrderRecordMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.treatment.OrderRecord">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="treatment_record_id" property="treatmentRecordId" jdbcType="INTEGER"/>
        <result column="order_record_num" property="orderRecordNum" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="VARCHAR"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="baseResultMapField">
        id,org_id,patient_id,treatment_record_id,order_record_num,`status`,total_amount,remarks,
        inservice,crt_id,crt_name,crt_time,upd_id,upd_name,upd_time
    </sql>

    <!-- 查询门诊最大订单编号 -->
    <select id="selectOrderNumberByOrgId" resultType="java.lang.String">
      SELECT
        IFNULL( MAX( SUBSTR( ord.order_record_num, 13, 4 )), '0000' ) AS maxNum
      FROM
        order_record ord
      WHERE ord.org_id = #{orgId} AND DATE_FORMAT(ord.crt_time,'%Y-%m-%d') = DATE_FORMAT(#{date},'%Y-%m-%d')
    </select>

    <!-- 订单处理查询（门诊端-订单处理） -->
    <select id="selectOrderProcess" resultType="com.yunya.feign.treatment.domain.vo.OrderProcessVO">
        select
        ord.id,
        ord.order_record_num as orderRecordNum,
        date_format(ord.crt_time,'%Y-%m-%d') as crtTime,
        ord.org_id as orgId,
        ord.patient_id as patientId,
        ord.treatment_record_id as treatmentRecordId,
        tr.`status` as treatmentStatus,
        ord.`status`,
        ord.total_amount as totalAmount,
        ord.crt_name as crtName
        from order_record ord LEFT JOIN treatment_record tr ON ord.treatment_record_id = tr.id AND tr.`status` = 2
        <where>
            ord.status = 1
            <if test="orderRecordNum != null and orderRecordNum != ''">
                and ord.order_record_num like concat('%', #{orderRecordNum}, '%')
            </if>
            <if test="orgIds != null and orgIds.length &gt; 0">
                and ord.org_id in
                <foreach collection="orgIds" open="(" separator="," close=")" item="orgId">
                    #{orgId}
                </foreach>
            </if>
        </where>
        order by ord.crt_time desc
    </select>

    <!-- 根据订单ID集合查询订单记录信息列表 -->
    <select id="selectOrderRecordByTreatmentIds" resultMap="BaseResultMap">
        select
        <include refid="baseResultMapField"></include>
        from order_record
        where
            inservice = true
            and treatment_record_id in
            <foreach collection="treatmentRecordIds" item="treatmentRecordId" open="(" separator="," close=")">
                #{treatmentRecordId}
            </foreach>
    </select>
</mapper>