<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.treatment.mapper.ReferralRecordsInfoMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.treatment.ReferralRecordsInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="org_id" jdbcType="INTEGER" property="orgId"/>
        <result column="patient_id" jdbcType="INTEGER" property="patientId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="dep_id" jdbcType="INTEGER" property="depId"/>
        <result column="registered_id" jdbcType="INTEGER" property="registeredId"/>
        <result column="referred_id" jdbcType="INTEGER" property="referredId"/>
        <result column="referred_dep_id" jdbcType="INTEGER" property="referredDepId"/>
        <result column="referred_registered_id" jdbcType="INTEGER" property="referredRegisteredId"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="crt_id" jdbcType="INTEGER" property="crtId"/>
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime"/>
        <result column="upd_id" jdbcType="INTEGER" property="updId"/>
        <result column="upd_time" jdbcType="TIMESTAMP" property="updTime"/>
    </resultMap>

    <select id="referredInfo" resultType="com.yunya.feign.treatment.domain.vo.ReferredInfoVO">
        select id as id,org_id as orgId,patient_id as patientId,user_id as userId,dep_id as depId,registered_id as
        registeredId,referred_id as referredId,
        referred_dep_id as referredDepId,referred_registered_id as referredRegisteredId,remark as remark
        ,crt_id as crtId,crt_time as crtTime,upd_id as updId,upd_time as updTime
        from referral_records_info
        <where>
            <if test="userIds != null and userIds.size() > 0">
                and user_id in
                <foreach collection="userIds" item="userid" open="(" separator="," close=")">
                    #{userid}
                </foreach>
            </if>
            <if test="patIds != null and patIds.size() > 0">
                and patient_id in
                <foreach collection="patIds" item="patId" open="(" separator="," close=")">
                    #{patId}
                </foreach>
            </if>
            <if test="startTime !=null">
                and crt_time >= #{startTime}
            </if>
            <if test="endTime !=null">
                and crt_time &lt; DATE_ADD(#{endTime}, INTERVAL '1' DAY)
            </if>
            <if test="orgId !=null and orgId != ''">
                and org_id = #{orgId}
            </if>
        </where>
        order by crt_time desc
    </select>
    <select id="referredReport" resultType="com.yunya.feign.treatment.domain.vo.ReferredRrportVO">
    SELECT
	any_value (org_id) as orgId,
	any_value(user_id) as userId,
	any_value(dep_id) as depId,
	any_value(referred_id) as referredId,
	any_value(referred_dep_id) as referredDepId,
	count(1) AS count
    FROM
	referral_records_info
        <where>
            <if test="userIds.size() > 0 || userStatus.length>0">
                and user_id in
                <foreach collection="userIdsAfter" item="userid" open="(" separator="," close=")">
                    #{userid}
                </foreach>
            </if>
            <if test="referredIds != null and referredIds.size() > 0">
                and referred_id in
                <foreach collection="referredIds" item="referredId" open="(" separator="," close=")">
                    #{referredId}
                </foreach>
            </if>
            <if test="timeType ==0 ">
                and DATE_FORMAT(crt_time, '%Y-%m') = #{time}
            </if>
            <if test="timeType ==1 ">
                and DATE_FORMAT(crt_time, '%Y') = #{time}
            </if>
            <if test="orgId !=null and orgId != ''">
                and org_id = #{orgId}
            </if>
        </where>
        GROUP BY
        user_id,
        referred_id
        order by crt_time desc
  </select>

</mapper>