<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.RegisteredMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.treatment.Registered">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="appointment_id" property="appointmentId" jdbcType="INTEGER"/>
        <result column="dentist_id" property="dentistId" jdbcType="INTEGER"/>
        <result column="assistant_id" property="assistantId" jdbcType="INTEGER"/>
        <result column="dept_room_id" property="deptRoomId" jdbcType="INTEGER"/>
        <result column="reg_time" property="regTime" jdbcType="TIME"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 根据条件查询挂号(未接诊)患者列表 -->
    <select id="selectRegisteredList" resultType="com.yunya.feign.treatment.domain.vo.WaitingPatientInfoVO">
        select
            re.id,
            re.org_id as orgId,
            re.patient_id as patientId,
            re.appointment_id as appointmentId,
            re.dentist_id as regDentistId,
            re.assistant_id as regAssistantId,
            re.dept_room_id as regDeptRoomId,
            re.reg_time as regTime
        from registered re
        <where>
            re.status = #{status}
            <if test="queryForm.orgId != null">
                and re.org_id = #{queryForm.orgId}
            </if>
            <if test="queryForm.currentDate != null and queryForm.currentDate != ''">
                and DATE_FORMAT(re.crt_time,'%Y-%m-%d') = #{queryForm.currentDate}
            </if>
            <if test="queryForm.dentistId != null">
                and re.dentist_id = #{queryForm.dentistId}
            </if>
            <if test="queryForm.inservice != null">
                and re.inservice = #{queryForm.inservice}
            </if>
            order by re.id desc
        </where>
    </select>
</mapper>