<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.RegisteredMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.treatment.Registered">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="appointment_id" property="appointmentId" jdbcType="INTEGER"/>
        <result column="dentist_id" property="dentistId" jdbcType="INTEGER"/>
        <result column="assistant_id" property="assistantId" jdbcType="INTEGER"/>
        <result column="dept_room_id" property="deptRoomId" jdbcType="INTEGER"/>
        <result column="reg_time" property="regTime" jdbcType="TIME"/>
        <result column="first_visit" property="firstVisit" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="baseResultMapField">
        id,org_id,patient_id,appointment_id,dentist_id,assistant_id,dept_room_id,reg_time,first_visit,`status`,remark,
        inservice,crt_id,crt_name,crt_time,upd_id,upd_name,upd_time
    </sql>

    <!-- 根据条件查询挂号(未接诊)患者列表 -->
    <select id="selectRegisteredList" resultType="com.yunya.feign.treatment.domain.vo.WaitingPatientInfoVO">
        select
            re.id,
            re.org_id as orgId,
            re.patient_id as patientId,
            re.appointment_id as appointmentId,
            re.dentist_id as regDentistId,
            re.assistant_id as regAssistantId,
            re.dept_room_id as regDeptRoomId,
            time_format(re.reg_time,'%H:%i') as regTime,
            re.first_visit as firstVisit
        from registered re
        <where>
            re.status = #{status}
            <if test="queryForm.orgId != null">
                and re.org_id = #{queryForm.orgId}
            </if>
            <if test="queryForm.currentDate != null and queryForm.currentDate != ''">
                and DATE_FORMAT(re.crt_time,'%Y-%m-%d') = #{queryForm.currentDate}
            </if>
            <if test="queryForm.dentistId != null">
                and re.dentist_id = #{queryForm.dentistId}
            </if>
            <if test="queryForm.inservice != null">
                and re.inservice = #{queryForm.inservice}
            </if>
            order by re.id desc
        </where>
    </select>

    <!-- 根据id集合查询挂号列表信息 -->
    <select id="selectRegisteredListByIds" resultMap="BaseResultMap">
        select
        <include refid="baseResultMapField"></include>
        from registered
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- 根据预约ID查询挂号信息 -->
    <select id="registeredInfoDetail" resultType="com.yunya.feign.treatment.domain.vo.RegisteredVO">
        select
        <include refid="baseResultMapField"></include>
        from registered
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="patientId != null">
                and patient_id = #{patientId}
            </if>
            <if test="appointId != null">
                and appoint_id = #{appointId}
            </if>
        </where>
    </select>
</mapper>