<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.TreatmentRecordMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.treatment.TreatmentRecord">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="appointment_id" property="appointmentId" jdbcType="INTEGER"/>
        <result column="registered_id" property="registeredId" jdbcType="INTEGER"/>
        <result column="dentist_id" property="dentistId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="treat_start_time" property="treatStartTime" jdbcType="TIMESTAMP"/>
        <result column="treat_end_time" property="treatEndTime" jdbcType="TIMESTAMP"/>
        <result column="medical_record_completed" property="medicalRecordCompleted" jdbcType="BIT"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 根据条件查询就诊中患者信息列表 -->
    <select id="selectTreatingList" resultType="com.yunya.feign.treatment.domain.vo.TreatmentPatientInfoVO">
        select
        tr.id,
        tr.org_id as orgId,
        tr.type as firstVisit,
        tr.patient_id as patientId,
        tr.appointment_id as appointmentId,
        tr.registered_id as registeredId,
        tr.dentist_id as treatDentistId,
        DATE_FORMAT(tr.treat_start_time, '%H:%m') as treatStartTime,
        DATE_FORMAT(tr.treat_end_time, '%H:%m') as treatEndTime,
        tr.medical_record_completed as medicalRecordCompleted
        from treatment_record tr
        <where>
            <if test="queryForm.id != null">
                and tr.id = #{queryForm.id}
            </if>
            <if test="queryForm.orgId != null">
                and tr.org_id = #{queryForm.orgId}
            </if>
            <if test="queryForm.currentDate != null and queryForm.currentDate != ''">
                and DATE_FORMAT(tr.crt_time, '%Y-%m-%d') = DATE_FORMAT(#{queryForm.currentDate}, '%Y-%m-%d')
            </if>
            <if test="queryForm.treatmentStatus != null">
                and tr.status = #{queryForm.treatmentStatus}
            </if>
            <if test="queryForm.dentistId != null">
                and tr.dentist_id = #{queryForm.dentistId}
            </if>
            order by tr.id desc
        </where>
    </select>
    <!-- 根据条件查询患者就诊记录列表 -->
    <select id="selectPatientTreatmentRecordList"
            resultType="com.yunya.feign.treatment.domain.vo.PatientTreatmentRecordVO">
        SELECT
            tr.id AS treatmentRecordId,
            tr.org_id AS orgId,
            DATE_FORMAT( tr.treat_start_time, '%Y-%m-%d' ) AS treatmentDate,
            tr.dentist_id AS dentistId,
            tr.type AS firstVisit,
            tr.`status` AS treatmentStatus,
            ord.id as orderRecordId,
            ord.total_amount as originalPrice,
            br.id as billRecordId,
            br.actual_receivable_amount as actualReceivableAmount,
            br.debt_amount as debtAmount
        FROM
            treatment_record tr
        LEFT JOIN order_record ord on ord.inservice = 1 and tr.id = ord.treatment_record_id
        LEFT JOIN bill_record br on br.inservice = 1 and tr.id = br.treatment_record_id
        <where>
            <if test="queryForm.patientId != null">
                and tr.patient_id = #{queryForm.patientId}
            </if>
            <if test="queryForm.startDate != null and queryForm.startDate!= ''">
                and DATE_FORMAT(tr.treat_start_time,'%Y-%m-%d') &gt;= #{queryForm.startDate}
            </if>
            <if test="queryForm.endDate != null and queryForm.endDate != ''">
                and DATE_FORMAT(tr.treat_start_time,'%Y-%m-%d') &lt;= #{queryForm.endDate}
            </if>
            <if test="queryForm.orgIds != null and queryForm.orgIds.length > 0">
                and tr.org_id in
                <foreach collection="queryForm.orgIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.treatStatus != null and queryForm.treatStatus.length > 0">
                and tr.status in
                <foreach collection="queryForm.treatStatus" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY tr.treat_start_time DESC
    </select>
</mapper>