<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.TreatmentRecordMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.treatment.TreatmentRecord">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="appointment_id" property="appointmentId" jdbcType="INTEGER"/>
        <result column="registered_id" property="registeredId" jdbcType="INTEGER"/>
        <result column="dentist_id" property="dentistId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="treat_start_time" property="treatStartTime" jdbcType="TIMESTAMP"/>
        <result column="treat_end_time" property="treatEndTime" jdbcType="TIMESTAMP"/>
        <result column="medical_record_completed" property="medicalRecordCompleted" jdbcType="BIT"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="BaseResultExtendMap" type="com.yunya.feign.treatment.domain.vo.TreatmentRecordExtendVO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="appointment_id" property="appointmentId" jdbcType="INTEGER"/>
        <result column="registered_id" property="registeredId" jdbcType="INTEGER"/>
        <result column="dentist_id" property="dentistId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="treat_start_time" property="treatStartTime" jdbcType="TIMESTAMP"/>
        <result column="treat_end_time" property="treatEndTime" jdbcType="TIMESTAMP"/>
        <result column="medical_record_completed" property="medicalRecordCompleted" jdbcType="BIT"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
        <result column="last_treatment_date" property="lastTreatmentDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 根据条件查询就诊中患者信息列表 -->
    <select id="selectTreatingList" resultType="com.yunya.feign.treatment.domain.vo.TreatmentPatientInfoVO">
        select
        tr.id,
        tr.org_id as orgId,
        tr.type as firstVisit,
        tr.patient_id as patientId,
        tr.appointment_id as appointmentId,
        tr.registered_id as registeredId,
        tr.dentist_id as treatDentistId,
        tr.status as treatmentStatus,
        DATE_FORMAT(tr.crt_time, '%Y-%m-%d') as treatDate,
        DATE_FORMAT(tr.treat_start_time, '%H:%i') as treatStartTime,
        DATE_FORMAT(tr.treat_end_time, '%H:%i') as treatEndTime,
        tr.medical_record_completed as medicalRecordCompleted
        from treatment_record tr
        <where>
            <if test="queryForm.id != null">
                and tr.id = #{queryForm.id}
            </if>
            <if test="queryForm.orgId != null">
                and tr.org_id = #{queryForm.orgId}
            </if>
            <if test="queryForm.currentDate != null and queryForm.currentDate != ''">
                and DATE_FORMAT(tr.crt_time, '%Y-%m-%d') = DATE_FORMAT(#{queryForm.currentDate}, '%Y-%m-%d')
            </if>
            <if test="queryForm.treatmentStatus != null and queryForm.treatmentStatus.length > 0">
                and tr.status in
                <foreach collection="queryForm.treatmentStatus" item="item" index="index" open="(" close=")"
                         separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.dentistId != null">
                and tr.dentist_id = #{queryForm.dentistId}
            </if>
            <if test="queryForm.inservice != null">
                and tr.inservice = #{queryForm.inservice}
            </if>
            order by tr.id desc
        </where>
    </select>
    <!-- 根据就诊记录ID查询就诊信息 -->
    <select id="selectTreatmentInfoById" resultType="com.yunya.feign.treatment.domain.vo.TreatmentRecordVO">
        select
            tr.id as id,
            tr.org_id as orgId,
            tr.patient_id as patientId,
            tr.appointment_id as appointmentId,
            tr.registered_id as registeredId,
            tr.dentist_id as dentistId,
            tr.type as firstVisit,
            tr.status as status,
            DATE_FORMAT(tr.crt_time, '%Y-%m-%d') as treatDate,
            DATE_FORMAT(tr.treat_start_time, '%H:%i') as treatStartTime,
            DATE_FORMAT(tr.treat_end_time, '%H:%i') as treatEndTime,
            tr.medical_record_completed as medicalRecordCompleted,
            tr.remarks,
            tr.inservice
        from
            treatment_record tr
        where
            tr.id = #{id}
    </select>
    <!-- 根据条件查询患者就诊记录列表 -->
    <select id="selectPatientTreatmentRecordList"
            resultType="com.yunya.feign.treatment.domain.vo.PatientTreatmentRecordVO">
        SELECT
        tr.id AS treatmentRecordId,
        tr.org_id AS orgId,
        DATE_FORMAT( tr.treat_start_time, '%Y-%m-%d' ) AS treatmentDate,
        tr.dentist_id AS dentistId,
        tr.type AS firstVisit,
        tr.`status` AS treatmentStatus,
        tr.appointment_id as appointmentId,
        tr.registered_id as registeredId,
        ord.id as orderRecordId,
        ord.total_amount as originalPrice,
        br.id as billRecordId,
        br.actual_receivable_amount as actualReceivableAmount,
        br.debt_amount as debtAmount
        FROM
        treatment_record tr
        LEFT JOIN order_record ord on ord.inservice = 1 and tr.id = ord.treatment_record_id
        LEFT JOIN bill_record br on br.inservice = 1 and tr.id = br.treatment_record_id
        <where>
            <if test="queryForm.patientId != null">
                and tr.patient_id = #{queryForm.patientId}
            </if>
            <if test="queryForm.startDate != null and queryForm.startDate!= ''">
                and DATE_FORMAT(tr.treat_start_time,'%Y-%m-%d') &gt;= #{queryForm.startDate}
            </if>
            <if test="queryForm.endDate != null and queryForm.endDate != ''">
                and DATE_FORMAT(tr.treat_start_time,'%Y-%m-%d') &lt;= #{queryForm.endDate}
            </if>
            <if test="queryForm.orgIds != null and queryForm.orgIds.length > 0">
                and tr.org_id in
                <foreach collection="queryForm.orgIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.treatStatus != null and queryForm.treatStatus.length > 0">
                and tr.status in
                <foreach collection="queryForm.treatStatus" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY tr.treat_start_time DESC
    </select>
    <!-- 根据就诊记录ID列表查询就诊记录列表 -->
    <select id="selectByIds" resultMap="BaseResultExtendMap">
        select
        tr.*,
        date_format(a.treat_start_time,'%Y-%m-%d') as last_treatment_date
        from treatment_record tr left join treatment_record a on a.patient_id = tr.patient_id
        where
        tr.id in
        <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        order by tr.treat_start_time ,a.treat_start_time desc
    </select>

    <!-- 根据挂号ID查询就诊数量 -->
    <select id="selectCountByRegisteredId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM treatment_record WHERE registered_id = #{regId} LIMIT 1
    </select>

    <!-- 根据患者ID查询末次就诊信息 -->
    <select id="lastTreatmentInfo" resultType="com.yunya.feign.treatment.domain.vo.LastTreatmentInfoVO">
        SELECT
            r.patient_id AS patientId,
            r.dentist_id AS dentistId,
            r.dept_room_id AS deptRoomId,
            r.crt_time AS crtTime
        FROM
            registered r
        <where>
            <if test="patientId != null">
                r.patient_id = #{patientId}
            </if>
        </where>
        ORDER BY
            r.crt_time DESC
            LIMIT 1
    </select>

    <!-- 查询指定时间段内每个医生每天患者就诊人数 -->
    <select id="treatInfoForMonth" resultType="com.yunya.feign.treatment.domain.vo.TreatmentInfoForMonthVO">
        SELECT
        DATE_FORMAT(a.crt_time,'%Y-%m-%d') as currentDate,
        COUNT(a.id) as `count`
        FROM(
        SELECT
        tr.id,
        DATE_FORMAT(tr.crt_time,'%Y-%m-%d') as crt_time
        FROM
        `treatment_record` tr
        <where>
            <if test="dentistId != null">
                and tr.dentist_id = #{dentistId}
            </if>
            <if test="startDate != null and endDate != null">
                and date_format(tr.crt_time,'%Y-%m-%d') BETWEEN date_format(#{startDate},'%Y-%m-%d') AND date_format(#{endDate},'%Y-%m-%d')
            </if>
            <if test="orgId != null">
                and org_id = #{orgId}
            </if>
        </where>
        ) a
        GROUP BY a.crt_time
    </select>

    <!-- PC照片影像小程序就诊中 -->
    <select id="desktopTreatingList" resultType="com.yunya.feign.treatment.domain.vo.DesktopMiniProgramVO">
        select
            tr.id,
            tr.dentist_id as dentistId,
            tr.patient_id as patientId,
            r.first_visit as firstVisit,
            tr.treat_start_time as treatStarTime
        from
            treatment_record tr left join registered r on tr.registered_id = r.id
        where
                date_format(tr.treat_start_time,'%Y-%m-%d') = date_format(#{currentDate},'%Y-%m-%d')
          and tr.inservice = 1
          and tr.status = #{status}
          and tr.org_id = #{orgId}
    </select>

    <!-- 根据患者姓名、手机号、病历号查询影像小程序列表中患者信息 -->
    <select id="desktopTreatingListItem" resultType="com.yunya.feign.treatment.domain.vo.DesktopMiniProgramVO">
        select
            tr.id,
            tr.dentist_id as dentistId,
            tr.patient_id as patientId,
            r.first_visit as firstVisit
        from
            treatment_record tr left join registered r on tr.registered_id = r.id
        where
                date_format(tr.treat_start_time,'%Y-%d-%m') = date_format(#{currentDate},'%Y-%m-%d')
          and tr.inservice = 1
          and tr.org_id = #{orgId}
          and tr.patient_id in
        <foreach collection="patientIds" item="patientId" open="(" separator="," close=")">
            #{patientId}
        </foreach>
    </select>

</mapper>