<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.mapper.TreatmentRecordMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.treatment.TreatmentRecord">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="appointment_id" property="appointmentId" jdbcType="INTEGER"/>
        <result column="registered_id" property="registeredId" jdbcType="INTEGER"/>
        <result column="dentist_id" property="dentistId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="treat_start_time" property="treatStartTime" jdbcType="TIMESTAMP"/>
        <result column="treat_end_time" property="treatEndTime" jdbcType="TIMESTAMP"/>
        <result column="medical_record_completed" property="medicalRecordCompleted" jdbcType="BIT"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="BaseResultExtendMap" type="com.yunya.feign.treatment.domain.vo.TreatmentRecordExtendVO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="appointment_id" property="appointmentId" jdbcType="INTEGER"/>
        <result column="registered_id" property="registeredId" jdbcType="INTEGER"/>
        <result column="dentist_id" property="dentistId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="treat_start_time" property="treatStartTime" jdbcType="TIMESTAMP"/>
        <result column="treat_end_time" property="treatEndTime" jdbcType="TIMESTAMP"/>
        <result column="medical_record_completed" property="medicalRecordCompleted" jdbcType="BIT"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
        <result column="last_treatment_date" property="lastTreatmentDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 根据条件查询就诊中患者信息列表 -->
    <select id="selectTreatingList" resultType="com.yunya.feign.treatment.domain.vo.TreatmentPatientInfoVO">
        select
        tr.id,
        tr.org_id as orgId,
        tr.type as firstVisit,
        tr.patient_id as patientId,
        tr.appointment_id as appointmentId,
        tr.registered_id as registeredId,
        tr.dentist_id as treatDentistId,
        tr.status as treatmentStatus,
        DATE_FORMAT(tr.treat_start_time, '%Y-%m-%d') as treatDate,
        DATE_FORMAT(tr.treat_start_time, '%H:%i') as treatStartTime,
        DATE_FORMAT(tr.treat_end_time, '%H:%i') as treatEndTime,
        tr.medical_record_completed as medicalRecordCompleted
        from treatment_record tr
        <where>
            <if test="queryForm.id != null">
                and tr.id = #{queryForm.id}
            </if>
            <if test="queryForm.orgId != null">
                and tr.org_id = #{queryForm.orgId}
            </if>
            <if test="queryForm.currentDate != null and queryForm.currentDate != ''">
                and DATE_FORMAT(tr.treat_start_time, '%Y-%m-%d') = DATE_FORMAT(#{queryForm.currentDate}, '%Y-%m-%d')
            </if>
            <if test="queryForm.treatmentStatus != null and queryForm.treatmentStatus.length > 0">
                and tr.status in
                <foreach collection="queryForm.treatmentStatus" item="item" index="index" open="(" close=")"
                         separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.dentistId != null">
                and tr.dentist_id = #{queryForm.dentistId}
            </if>
            <if test="queryForm.inservice != null">
                and tr.inservice = #{queryForm.inservice}
            </if>
            order by tr.id desc
        </where>
    </select>
    <!-- 根据就诊记录ID查询就诊信息 -->
    <select id="selectTreatmentInfoById" resultType="com.yunya.feign.treatment.domain.vo.TreatmentRecordVO">
        select
            tr.id as id,
            tr.org_id as orgId,
            tr.patient_id as patientId,
            tr.appointment_id as appointmentId,
            tr.registered_id as registeredId,
            tr.dentist_id as dentistId,
            tr.type as firstVisit,
            tr.status as status,
            DATE_FORMAT(tr.treat_start_time, '%Y-%m-%d') as treatDate,
            DATE_FORMAT(tr.treat_start_time, '%H:%i') as treatStartTime,
            DATE_FORMAT(tr.treat_end_time, '%H:%i') as treatEndTime,
            tr.medical_record_completed as medicalRecordCompleted,
            tr.remarks,
            tr.inservice
        from
            treatment_record tr
        where
            tr.id = #{id}
    </select>
    <!-- 根据条件查询患者就诊记录列表 -->
    <select id="selectPatientTreatmentRecordList"
            resultType="com.yunya.feign.treatment.domain.vo.PatientTreatmentRecordVO">
        SELECT
        tr.id AS treatmentRecordId,
        tr.org_id AS orgId,
        DATE_FORMAT( tr.treat_start_time, '%Y-%m-%d' ) AS treatmentDate,
        tr.dentist_id AS dentistId,
        tr.type AS firstVisit,
        tr.`status` AS treatmentStatus,
        tr.appointment_id AS appointmentId,
        tr.registered_id AS registeredId,
        ord.id AS orderRecordId,
        ord.total_amount AS originalPrice,
        br.id AS billRecordId,
        br.actual_receivable_amount AS actualReceivableAmount,
        br.debt_amount AS debtAmount
        FROM
        treatment_record tr
        LEFT JOIN (
        SELECT
        ord.treatment_record_id,
        ord.id,
        ord.total_amount
        FROM
        order_record ord
        WHERE
        ord.inservice = 1
        ) ord ON tr.id = ord.treatment_record_id
        LEFT JOIN (
        SELECT
        br.treatment_record_id,
        br.id,
        br.actual_receivable_amount,
        br.debt_amount
        FROM
        bill_record br
        WHERE
        br.inservice = 1
        ) br ON tr.id = br.treatment_record_id
        <where>
            <if test="queryForm.patientId != null">
                and tr.patient_id = #{queryForm.patientId}
            </if>
            <if test="queryForm.startDate != null and queryForm.startDate!= ''">
                and DATE_FORMAT(tr.treat_start_time,'%Y-%m-%d') &gt;= #{queryForm.startDate}
            </if>
            <if test="queryForm.endDate != null and queryForm.endDate != ''">
                and DATE_FORMAT(tr.treat_start_time,'%Y-%m-%d') &lt;= #{queryForm.endDate}
            </if>
            <if test="queryForm.orgIds != null and queryForm.orgIds.length > 0">
                and tr.org_id in
                <foreach collection="queryForm.orgIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.treatStatus != null and queryForm.treatStatus.length > 0">
                and tr.status in
                <foreach collection="queryForm.treatStatus" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY tr.treat_start_time DESC
    </select>
    <!-- 根据就诊记录ID列表查询就诊记录列表 -->
    <select id="selectByIds" resultMap="BaseResultExtendMap">
        select
        tr.*,r.assistant_id as regAssistantId,
        date_format(a.treat_start_time,'%Y-%m-%d') as last_treatment_date
        from treatment_record tr left join treatment_record a on a.patient_id = tr.patient_id left join registered r on
        r.id = tr.registered_id
        where
        tr.id in
        <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        order by tr.treat_start_time ,a.treat_start_time desc
    </select>

    <!-- 根据挂号ID查询就诊数量 -->
    <select id="selectCountByRegisteredId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM treatment_record WHERE registered_id = #{regId} LIMIT 1
    </select>

    <!-- 根据患者ID查询末次就诊信息 -->
    <select id="lastTreatmentInfo" resultType="com.yunya.feign.treatment.domain.vo.LastTreatmentInfoVO">
        SELECT
            tr1.dentist_id,
            tr1.org_id,
            tr1.treat_start_time
        FROM
            ( SELECT MAX( tr.id ) AS treatmentId FROM treatment_record tr WHERE tr.patient_id = #{patientId} ) tr
            LEFT JOIN treatment_record tr1 ON tr.treatmentId = tr1.id
    </select>

    <!-- 查询指定时间段内每个医生每天患者就诊人数 -->
    <select id="treatInfoForMonth" resultType="com.yunya.feign.treatment.domain.vo.TreatmentInfoForMonthVO">
        SELECT
        DATE_FORMAT(a.crt_time,'%Y-%m-%d') as currentDate,
        COUNT(a.id) as `count`
        FROM(
        SELECT
        tr.id,
        DATE_FORMAT(tr.treat_start_time,'%Y-%m-%d') as crt_time
        FROM
        `treatment_record` tr
        <where>
            <if test="dentistId != null">
                and tr.dentist_id = #{dentistId}
            </if>
            <if test="startDate != null and endDate != null">
                and date_format(tr.treat_start_time,'%Y-%m-%d') BETWEEN date_format(#{startDate},'%Y-%m-%d') AND
                date_format(#{endDate},'%Y-%m-%d')
            </if>
            <if test="orgId != null">
                and org_id = #{orgId}
            </if>
        </where>
        ) a
        GROUP BY a.crt_time
    </select>

    <!-- PC照片影像小程序就诊中 -->
    <select id="desktopTreatingList" resultType="com.yunya.feign.treatment.domain.vo.DesktopMiniProgramVO">
        select
            tr.id,
            tr.dentist_id as dentistId,
            tr.patient_id as patientId,
            r.first_visit as firstVisit,
            tr.treat_start_time as treatStarTime
        from
            treatment_record tr left join registered r on tr.registered_id = r.id
        where
              date_format(tr.treat_start_time,'%Y-%m-%d') = date_format(#{currentDate},'%Y-%m-%d')
          and tr.inservice = 1
          and tr.status = #{status}
          and tr.org_id = #{orgId}
    </select>

    <!-- 根据患者姓名、手机号、病历号查询影像小程序列表中患者信息 -->
    <select id="desktopTreatingListItem" resultType="com.yunya.feign.treatment.domain.vo.DesktopMiniProgramVO">
        select
        tr.id,
        tr.dentist_id as dentistId,
        tr.patient_id as patientId,
        r.first_visit as firstVisit
        from
        treatment_record tr left join registered r on tr.registered_id = r.id
        where
        date_format(tr.treat_start_time,'%Y-%m-%d') = date_format(#{currentDate},'%Y-%m-%d')
        and tr.inservice = 1
        and tr.org_id = #{orgId}
        and tr.patient_id in
        <foreach collection="patientIds" item="patientId" open="(" separator="," close=")">
            #{patientId}
        </foreach>
    </select>

    <!-- 查询完成初诊人数 -->
    <select id="selectCompletedFirstTreatPerNum" resultType="java.lang.Integer">
        SELECT
        COUNT( DISTINCT tr.patient_id ) AS firstTreatPerNumCompleted
        FROM
        treatment_record tr
        <where>
            AND tr.type = 0
            AND tr.treat_end_time IS NOT NULL
            <if test="query.dateType == 0">
                AND DATE_FORMAT(tr.treat_start_time, '%Y-%m') = #{query.businessDate}
            </if>
            <if test="query.dateType == 1">
                AND DATE_FORMAT(tr.treat_start_time, '%Y') = #{query.businessDate}
            </if>
            <if test="query.belongIds != null and query.belongIds.length > 0">
                AND tr.org_id IN
                <foreach collection="query.belongIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 查询完成就诊人次 -->
    <select id="selectCompletedTreatPerTimes" resultType="java.lang.Integer">
        SELECT
        COUNT( tr.id ) AS firstTreatPerNumCompleted
        FROM
        treatment_record tr
        <where>
            AND tr.treat_end_time IS NOT NULL
            <if test="query.dateType == 0">
                AND DATE_FORMAT(tr.treat_start_time, '%Y-%m') = #{query.businessDate}
            </if>
            <if test="query.dateType == 1">
                AND DATE_FORMAT(tr.treat_start_time, '%Y') = #{query.businessDate}
            </if>
            <if test="query.belongIds != null and query.belongIds.length > 0">
                AND tr.org_id IN
                <foreach collection="query.belongIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 根据患者id查就诊记录数 -->
    <select id="countByPatientId" resultType="java.lang.Integer">
        select count(tr.id)
        from treatment_record tr where tr.patient_id=#{patientId}
    </select>

    <!-- 根据条件统计就诊记录 -->
    <select id="countTreatRecordByExample" resultType="Integer">
        select count(tr.id) as acount
        from treatment_record tr
        <where>
            <if test="queryForm.currentDate != null and queryForm.currentDate != ''">
                and date_format(tr.treat_start_time, '%Y-%m-%d') = date_format(#{queryForm.currentDate}, '%Y-%m-%d')
            </if>
            <if test="queryForm.orgId != null">
                and tr.org_id = #{queryForm.orgId}
            </if>
            <if test="queryForm.inservice != null">
                and tr.inservice = #{queryForm.inservice}
            </if>
            <if test="queryForm.dentistId != null">
                and tr.dentist_id = #{queryForm.dentistId}
            </if>
            <if test="queryForm.treatmentStatus != null and queryForm.treatmentStatus.length > 0">
                and tr.status in
                <foreach collection="queryForm.treatmentStatus" item="status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 根据条件查询初诊人数完成量 -->
    <select id="selectBusinessFirstTreatCompletedCount" resultType="java.math.BigDecimal">
        SELECT
        COUNT( DISTINCT tr.patient_id ) AS firstTreatPerNumCompleted
        FROM
        treatment_record tr
        <where>
            AND tr.type = 0
            AND tr.treat_end_time IS NOT NULL
            <if test="query.startDate != null and query.startDate != ''">
                AND DATE_FORMAT(tr.treat_start_time, '%Y-%m') &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                AND DATE_FORMAT(tr.treat_start_time, '%%Y-%m') &lt;= #{query.endDate}
            </if>
            <if test="query.orgId != null">
                AND tr.org_id = #{query.orgId}
            </if>
        </where>
    </select>

    <!-- 根据条件查询就诊列表各类数量 -->
    <select id="selectTreatCountByExample"
            resultType="com.yunya.feign.treatment.domain.vo.CountTreatmentRecordVO">
        SELECT
        sum( waitingForTreat ) waitingForTreat,
        sum( treatReceiving ) treatReceiving,
        sum( treatCompleted ) treatCompleted,
        sum( checkedOut ) checkedOut
        FROM
        (
        SELECT
        COUNT( r.id ) AS waitingForTreat,
        0 AS treatReceiving,
        0 AS treatCompleted,
        0 AS checkedOut
        FROM
        registered r
        <where>
            and r.`status` = 0
            and r.inservice = 1
            <if test="queryForm.queryDate != null and queryForm.queryDate != ''">
                and date_format(r.crt_time, '%Y-%m-%d') = date_format(#{queryForm.queryDate},'%Y-%m-%d')
            </if>
            <if test="queryForm.orgId != null">
                and r.org_id = #{queryForm.orgId}
            </if>
            <if test="queryForm.dentistId != null">
                and r.dentist_id = #{queryForm.dentistId}
            </if>
        </where>
        UNION ALL
        SELECT
        0 AS waitingForTreat,
        COUNT( IF ( tr.`status` = 0 OR tr.`status` = 1, 1, NULL ) ) AS treatReceiving,
        COUNT( IF ( tr.`status` = 2, 1, NULL ) ) AS treatCompleted,
        COUNT( IF ( tr.`status` = 3, 1, NULL ) ) AS checkedOut
        FROM
        treatment_record tr
        <where>
            and tr.inservice = 1
            <if test="queryForm.queryDate != null and queryForm.queryDate != ''">
                and date_format(tr.treat_start_time, '%Y-%m-%d') = date_format(#{queryForm.queryDate}, '%Y-%m-%d')
            </if>
            <if test="queryForm.orgId != null">
                and tr.org_id = #{queryForm.orgId}
            </if>
            <if test="queryForm.dentistId != null">
                and tr.dentist_id = #{queryForm.dentistId}
            </if>
        </where>
        ) t
    </select>

    <!-- 根据预约ID查询患者接诊记录 -->
    <select id="findTreatmentRecordListByAppointIds" resultMap="BaseResultMap">
        select tr.* from treatment_record tr
        <where>
          <if test="appointIds != null and appointIds.size() > 0">
              tr.appointment_id in
              <foreach collection="appointIds" item="appointId" open="(" separator="," close=")">
                  #{appointId}
              </foreach>
          </if>
          and tr.inservice = true
        </where>
    </select>
</mapper>