<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.appointment.mapper.AppointmentSplitMapper">
  <resultMap id="BaseResultMap" type="com.yunya.models.appointment.AppointmentSplit">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="appointment_id" jdbcType="INTEGER" property="appointmentId" />
    <result column="split_start_time" jdbcType="TIMESTAMP" property="splitStartTime" />
    <result column="split_end_time" jdbcType="TIMESTAMP" property="splitEndTime" />
    <result column="assistant_id" jdbcType="INTEGER" property="assistantId" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="inservice" jdbcType="BIT" property="inservice" />
    <result column="crt_id" jdbcType="INTEGER" property="crtId" />
    <result column="crt_name" jdbcType="VARCHAR" property="crtName" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="upt_id" jdbcType="INTEGER" property="uptId" />
    <result column="upd_name" jdbcType="VARCHAR" property="updName" />
    <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, org_id, appointment_id, split_start_time, split_end_time, assistant_id, remarks, 
    inservice, crt_id, crt_name, crt_time, upt_id, upd_name, upd_time
  </sql>
  <!-- 批量插入预约分解 -->
  <insert id="insertAppointmentSplit" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
    insert into appointment_split (org_id, appointment_id, split_start_time, split_end_time, assistant_id, crt_id) values
    <foreach collection="splitList" item="appointmentSplit" separator=",">
      (#{appointmentSplit.orgId},#{appointmentSplit.appointmentId},#{appointmentSplit.splitStartTime},#{appointmentSplit.splitEndTime},#{appointmentSplit.assistantId}, #{appointmentSplit.crtId})
    </foreach>
  </insert>

  <!-- 通过id集合批量删除分解预约 -->
  <delete id="delAppoointmentSplitByIds" parameterType="java.lang.Integer">
    delete from appointment_split where id in
    <foreach close=")" collection="ids" item="splitId" open="(" separator=",">
      #{splitId}
    </foreach>
  </delete>

  <!-- 根据条件查询预约分解列表 -->
  <select id="findAppointmentSplitByExample" parameterType="com.yunya.feign.appointment.domain.query.AppointmentSplitQuery" resultType="com.yunya.feign.appointment.vo.AppointmentSplitVo">
    select
      split.id,
      split.org_id as orgId,
      split.appointment_id as appointmentId,
      DATE_FORMAT(split.split_start_time,"%H:%i") as splitStartTime,
      DATE_FORMAT(split.split_end_time,"%H:%i") as splitEndTime,
      split.assistant_id as assistantId,
      split.remarks,
      split.inservice
    from appointment_split split

    <where>
      split.org_id = #{query.orgId}
      <if test="query.appointmentId != null">
        and split.appointment_id = #{query.appointmentId}
      </if>
      <if test="query.assistantId != null">
        and split.assistant_id = #{query.assistantId}
      </if>
      <if test="query.inservice != null">
        and split.inservice = #{query.inservice}
      </if>
      <if test="query.appointDate != null">
        and DATE_FORMAT(split.split_start_time,'%Y-%m-%d') = DATE_FORMAT(#{query.appointDate},'%Y-%m-%d')
      </if>
    </where>


  </select>

</mapper>