<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.appointment.mapper.AppointmentMapper">
  <resultMap id="BaseResultMap" type="com.yunya.models.appointment.Appointment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="patient_id" jdbcType="INTEGER" property="patientId" />
    <result column="org_id" jdbcType="INTEGER" property="orgId" />
    <result column="dentist_id" jdbcType="INTEGER" property="dentistId" />
    <result column="assistant_id" jdbcType="INTEGER" property="assistantId" />
    <result column="clinic_dept_room_id" jdbcType="INTEGER" property="clinicDeptRoomId" />
    <result column="clinic_device_item_id" jdbcType="INTEGER" property="clinicDeviceItemId" />
    <result column="clinic_appoint_item_id" jdbcType="INTEGER" property="clinicAppointItemId" />
    <result column="appoint_duration" jdbcType="INTEGER" property="appointDuration" />
    <result column="appoint_date" jdbcType="DATE" property="appointDate" />
    <result column="appoint_time" jdbcType="VARCHAR" property="appointTime" />
    <result column="appoint_start_time" jdbcType="TIMESTAMP" property="appointStartTime" />
    <result column="appoint_end_time" jdbcType="TIMESTAMP" property="appointEndTime" />
    <result column="appoint_period" jdbcType="VARCHAR" property="appointPeriod" />
    <result column="tooth_bit" jdbcType="VARCHAR" property="toothBit" />
    <result column="appoint_content" jdbcType="VARCHAR" property="appointContent" />
    <result column="appoint_type" jdbcType="TINYINT" property="appointType" />
    <result column="confirm_status" jdbcType="BIT" property="confirmStatus" />
    <result column="appoint_status" jdbcType="TINYINT" property="appointStatus" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="inservice" jdbcType="BIT" property="inservice" />
    <result column="crt_id" jdbcType="INTEGER" property="crtId" />
    <result column="crt_name" jdbcType="VARCHAR" property="crtName" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="upt_id" jdbcType="INTEGER" property="uptId" />
    <result column="upd_name" jdbcType="VARCHAR" property="updName" />
    <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
  </resultMap>

  <sql id="Base_Column_List">
    apt.patient_id as patientId,
    apt.org_id as orgId,
    apt.dentist_id as dentistId,
    apt.assistant_id as assistantId,
    apt.clinic_dept_room_id as clinicDeptRoomId,
    apt.clinic_device_item_id as clinicDeviceItemId,
    apt.clinic_appoint_item_id as clinicAppointItemId,
    apt.appoint_duration as appointDuration,
    apt.appoint_date as appointDate,
    apt.appoint_time as appointTime,
    apt.appoint_start_time as appointStartTime,
    apt.appoint_end_time as appointEndTime,
    apt.appoint_period as appointPeriod,
    apt.tooth_bit as toothBit,
    apt.appoint_content as appointContent,
    apt.appoint_type as appointType,
    apt.confirm_status as confirmStatus,
    apt.appoint_status as appointStatus,
    apt.remarks,
    apt.inservice
  </sql>

  <sql id="AppointmentColumn">
    patient_id, org_id, dentist_id,
      assistant_id, clinic_dept_room_id, clinic_device_item_id,
      clinic_appoint_item_id, appoint_duration, appoint_date,
      appoint_time, appoint_start_time, appoint_end_time,
      appoint_period, tooth_bit, appoint_content,
      appoint_type, confirm_status, appoint_status,
      remarks, inservice, crt_id,
      crt_name, crt_time, upt_id,
      upd_name, upd_time
  </sql>



  <!-- 根据设备id，预约开始时间，预约结束时间查询所有预约列表 -->
  <select id="findAppointListByDeviceIdAndAppointStartTimeAndAppointEndTime" resultType="com.yunya.modules.appointment.vo.AppointConflictInfoVo">
    select
      <include refid="Base_Column_List" />
    from appointment apt
    where
      not (DATE_FORMAT(apt.appoint_end_time,'%d %b %Y %T') &lt; DATE_FORMAT(#{appointStartTime},'%d %b %Y %T')
      or DATE_FORMAT(apt.appoint_start_time,'%d %b %Y %T') &gt; DATE_FORMAT(#{appointEndTime},'%d %b %Y %T'))
      and apt.clinic_device_item_id = #{deviceId}
  </select>

  <!-- 根据患者id，预约开始时间，预约结束时间查询所有预约列表 -->
  <select id="findAppointListByPatientIdAndAppointStartTimeAndAppointEndTime" resultType="com.yunya.modules.appointment.vo.AppointConflictInfoVo">
    select
      <include refid="Base_Column_List" />
    from appointment apt
    where
      not (DATE_FORMAT(apt.appoint_end_time,'%d %b %Y %T') &lt; DATE_FORMAT(#{appointStartTime},'%d %b %Y %T')
      or DATE_FORMAT(apt.appoint_start_time,'%d %b %Y %T') &gt; DATE_FORMAT(#{appointEndTime},'%d %b %Y %T'))
      and apt.patient_id = #{patientId}
  </select>

  <!-- 根据医生id，预约开始时间，预约结束时间查询所有预约列表 -->
  <select id="findAppointListByDentistIdAndAppointStartTimeAndAppointEndTime" resultType="com.yunya.modules.appointment.vo.AppointConflictInfoVo">
    select
      <include refid="Base_Column_List" />
    from appointment apt
    where
      not (DATE_FORMAT(apt.appoint_end_time,'%d %b %Y %T') &lt; DATE_FORMAT(#{appointStartTime},'%d %b %Y %T')
      or DATE_FORMAT(apt.appoint_start_time,'%d %b %Y %T') &gt; DATE_FORMAT(#{appointEndTime},'%d %b %Y %T'))
      and apt.dentist_id = #{dentistId}
  </select>

  <!-- 新增患者预约 -->
  <insert id="insertAppointment" keyProperty="id" parameterType="com.yunya.models.appointment.Appointment" useGeneratedKeys="true">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      select @@IDENTITY as id
    </selectKey>
    insert into appointment (patient_id, org_id, dentist_id,
      assistant_id, clinic_dept_room_id, clinic_device_item_id,
      clinic_appoint_item_id, appoint_duration, appoint_date,
      appoint_time, appoint_start_time, appoint_end_time,
      appoint_period, tooth_bit, appoint_content,
      appoint_type, confirm_status, appoint_status,
      remarks, inservice, crt_id,
      crt_name, crt_time, upt_id,
      upd_name, upd_time)
    values (#{patientId,jdbcType=INTEGER}, #{orgId,jdbcType=INTEGER}, #{dentistId,jdbcType=INTEGER},
      #{assistantId,jdbcType=INTEGER}, #{clinicDeptRoomId,jdbcType=INTEGER}, #{clinicDeviceItemId,jdbcType=INTEGER},
      #{clinicAppointItemId,jdbcType=INTEGER}, #{appointDuration,jdbcType=INTEGER}, #{appointDate,jdbcType=DATE},
      #{appointTime,jdbcType=VARCHAR}, #{appointStartTime,jdbcType=TIMESTAMP}, #{appointEndTime,jdbcType=TIMESTAMP},
      #{appointPeriod,jdbcType=VARCHAR}, #{toothBit,jdbcType=VARCHAR}, #{appointContent,jdbcType=VARCHAR},
      #{appointType,jdbcType=TINYINT}, #{confirmStatus,jdbcType=BOOLEAN}, #{appointStatus,jdbcType=TINYINT},
      #{remarks,jdbcType=VARCHAR}, #{inservice,jdbcType=BIT}, #{crtId,jdbcType=INTEGER},
      #{crtName,jdbcType=VARCHAR}, #{crtTime,jdbcType=TIMESTAMP}, #{uptId,jdbcType=INTEGER},
      #{updName,jdbcType=VARCHAR}, #{updTime,jdbcType=TIMESTAMP})
  </insert>

</mapper>