<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.appointment.mapper.ClinicDeviceTypeMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.appointment.ClinicDeviceType" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upt_id" property="uptId" jdbcType="INTEGER" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!-- 根据条件查询设备类型列表 -->
  <select id="selectDeviceTypeByExample" parameterType="com.yunya.feign.appointment.domain.query.DeviceTypeQuery" resultType="com.yunya.feign.appointment.vo.DeviceTypeVo">
    SELECT
      cdt.id,
      cdt.name,
      cdt.org_id as orgId,
      cdt.remarks,
      cdt.inservice
    FROM clinic_device_type cdt
    <where>
      <if test="query.name != null">
        cdt.name like CONCAT('%',#{query.name},'%')
      </if>
      <if test="query.orgId != null">
        and cdt.org_id = #{query.orgId}
      </if>
    </where>
  </select>

</mapper>