<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.other.mapper.PeriodontalrecordsMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.treatment_other.Periodontalrecords" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="PeriodontalRecordID" property="periodontalrecordid" jdbcType="VARCHAR" />
    <result column="CompID" property="compid" jdbcType="VARCHAR" />
    <result column="ClinID" property="clinid" jdbcType="VARCHAR" />
    <result column="PatientID" property="patientid" jdbcType="VARCHAR" />
    <result column="EmpID" property="empid" jdbcType="VARCHAR" />
    <result column="CheckDate" property="checkdate" jdbcType="DATE" />
    <result column="Data_PdB1" property="dataPdb1" jdbcType="VARCHAR" />
    <result column="Data_PdL1" property="dataPdl1" jdbcType="VARCHAR" />
    <result column="Data_FI1" property="dataFi1" jdbcType="VARCHAR" />
    <result column="Data_M1" property="dataM1" jdbcType="VARCHAR" />
    <result column="Data_BIB1" property="dataBib1" jdbcType="VARCHAR" />
    <result column="Data_BIL1" property="dataBil1" jdbcType="VARCHAR" />
    <result column="Data_BIL2" property="dataBil2" jdbcType="VARCHAR" />
    <result column="Data_BIB2" property="dataBib2" jdbcType="VARCHAR" />
    <result column="Data_FI2" property="dataFi2" jdbcType="VARCHAR" />
    <result column="Data_M2" property="dataM2" jdbcType="VARCHAR" />
    <result column="Data_PdL2" property="dataPdl2" jdbcType="VARCHAR" />
    <result column="Data_PdB2" property="dataPdb2" jdbcType="VARCHAR" />
    <result column="CreateUser" property="createuser" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UpdateUser" property="updateuser" jdbcType="VARCHAR" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="IsDeleted" property="isdeleted" jdbcType="BIT" />
  </resultMap>
</mapper>