<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.other.mapper.PhotoServiceMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.treatment_other.PhotoService" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="treatment_record_id" property="treatmentRecordId" jdbcType="INTEGER" />
    <result column="dentist_id" property="dentistId" jdbcType="INTEGER" />
    <result column="uri" property="uri" jdbcType="VARCHAR" />
    <result column="photo_type" property="photoType" jdbcType="INTEGER" />
    <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
    <result column="film_name" property="filmName" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
  </resultMap>
  <select id="findPhotoServiceData" parameterType="com.yunya.feign.treatment_other.domain.query.PhotoServiceQuery"
          resultType="com.yunya.feign.treatment_other.domain.vo.PhotoServiceVo">
    SELECT
    uri,
    upload_time as uploadTime,
    crt_time as crtTime,
    film_name as filmName,
    upd_time as updTime,
    id
    FROM
    photo_service
    WHERE
    patient_id = #{patientId}
    and
    photo_type = #{photoType}
  </select>
  <insert id="add" parameterType="com.yunya.models.treatment_other.PhotoService">
    INSERT
    INTO
    photo_service
    (dentist_id,uri,photo_type,crt_id,org_id,treatment_record_id,patient_id,upload_time,film_name)
    VALUES
    (#{dentistId},#{uri},#{photoType},#{crtId},#{orgId},#{treatmentRecordId},#{patientId},#{uploadTime},#{filmName})
  </insert>

  <update id="upd" parameterType="com.yunya.models.treatment_other.PhotoService">
        UPDATE photo_service
        SET
        upload_time = #{uploadTime},
        upd_id = #{updId}
        WHERE
        id = #{id};

  </update>

  <delete id="del" parameterType="java.lang.Integer">
    DELETE
    FROM
    photo_service
    WHERE
    id = #{id}
  </delete>
</mapper>