<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.other.mapper.QcCustomerInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.treatment_other.QcCustomerInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="qc_treatment_id" property="qcTreatmentId" jdbcType="INTEGER" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="id_card_type" property="idCardType" jdbcType="INTEGER" />
    <result column="id_card_type_desc" property="idCardTypeDesc" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
  </resultMap>

  <insert id="saveByPrimaryKeySelective" parameterType="com.yunya.models.treatment_other.QcCustomerInfo">
    insert into qc_customer_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="qcTreatmentId!=null">qc_treatment_id,</if>
      <if test="idCard!=null and idCard!=''">id_card,</if>
      <if test="idCardType!=null">id_card_type,</if>
      <if test="idCardTypeDesc!=null and idCardTypeDesc!=''">id_card_type_desc,</if>
      <if test="customerName!=null and customerName!=''">customer_name,</if>
      <if test="mobile!=null and mobile!=''">mobile,</if>
      <if test="birthday!=null and birthday!=''">birthday,</if>
      <if test="sex!=null">sex,</if>

    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="qcTreatmentId!=null">#{qcTreatmentId},</if>
      <if test="idCard!=null and idCard!=''"> #{idCard},</if>
      <if test="idCardType!=null">#{idCardType},</if>
      <if test="idCardTypeDesc!=null and idCardTypeDesc!=''">#{idCardTypeDesc},</if>
      <if test="customerName!=null and customerName!=''">#{customerName},</if>
      <if test="mobile!=null and mobile!=''">#{mobile},</if>
      <if test="birthday!=null and birthday!=''">#{birthday},</if>
      <if test="sex!=null">#{sex},</if>

    </trim>
    ON DUPLICATE KEY UPDATE
    <trim prefixOverrides="" suffixOverrides=",">
      <if test="idCard!=null"> id_card= VALUES(id_card),</if>
      <if test="idCardType!=null"> id_card_type= VALUES(id_card_type),</if>
      <if test="idCardTypeDesc!=null"> id_card_type_desc= VALUES(id_card_type_desc),</if>
      <if test="customerName!=null and customerName!=''"> customer_name= VALUES(customer_name),</if>
      <if test="mobile!=null"> mobile= VALUES(mobile),</if>
      <if test="birthday!=null"> birthday= VALUES(birthday),</if>
      <if test="sex!=null"> sex= VALUES(sex),</if>
    </trim>
  </insert>
</mapper>