<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.other.mapper.ReturnVisitRecordMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.treatment_other.ReturnVisitRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="dentist_id" property="dentistId" jdbcType="INTEGER" />
    <result column="treatment_id" property="treatmentId" jdbcType="INTEGER" />
    <result column="return_date" property="returnDate" jdbcType="TIMESTAMP" />
    <result column="return_time" property="returnTime" jdbcType="TIMESTAMP" />
    <result column="return_reason" property="returnReason" jdbcType="VARCHAR" />
    <result column="return_content" property="returnContent" jdbcType="VARCHAR" />
    <result column="register_id" property="registerId" jdbcType="INTEGER" />
    <result column="register_name" property="registerName" jdbcType="VARCHAR" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
  </resultMap>

  <select id="selectReturnVisitByTreatmentId"
          resultType="com.yunya.models.treatment_other.ReturnVisitRecord">
    SELECT
        id,
        return_date AS returnDate,
        return_time AS returnTime,
        return_reason AS returnReason,
        return_content AS returnContent
    FROM return_visit_record
    WHERE treatment_id = #{treatmentId}
    ORDER BY crt_time DESC
  </select>

  <select id="selectReturnVisitRecordList"
          resultType="com.yunya.feign.treatment_other.domain.vo.ReturnVisitRecordVO">
    SELECT
        id,
        org_id AS orgId,
        dentist_id AS dentistId,
        return_date AS returnDate,
        return_reason AS returnReason,
        return_content AS returnContent,
        register_name AS registerName
    FROM return_visit_record
    <where>
        inservice = true
        <if test="query.patientId != null">
            AND patient_id = #{query.patientId}
        </if>
        <if test="query.orgIds!=null and query.orgIds.size()>0">
            AND org_id IN
            <foreach collection="query.orgIds" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="query.dateType == 0">
            <if test="query.startDate != null and query.startDate != ''">
                and DATE_FORMAT(crt_time, '%Y-%m-%d') &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                and DATE_FORMAT(crt_time, '%Y-%m-%d') &lt;= #{query.endDate}
            </if>
        </if>
        <if test="query.dateType == 1">
            <if test="query.startDate != null and query.startDate != ''">
                and DATE_FORMAT(crt_time, '%Y-%m') &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                and DATE_FORMAT(crt_time, '%Y-%m') &lt;= #{query.endDate}
            </if>
        </if>
        <if test="query.dateType == 2">
            <if test="query.startDate != null and query.startDate != ''">
                and DATE_FORMAT(crt_time, '%Y') &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                and DATE_FORMAT(crt_time, '%Y') &lt;= #{query.endDate}
            </if>
        </if>
    </where>
  </select>
</mapper>