<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.treatment.other.mapper.ToothBitDataMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.treatment_other.ToothBitData" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tooth_bit" property="toothBit" jdbcType="INTEGER" />
    <result column="film_name" property="filmName" jdbcType="VARCHAR" />
    <result column="tooth_bit_film" property="toothBitFilm" jdbcType="VARCHAR" />
    <result column="upload_time" property="uploadTime" jdbcType="TIMESTAMP" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="treatment_record_id" property="treatmentRecordId" jdbcType="INTEGER" />
    <result column="dentist_id" property="dentistId" jdbcType="INTEGER" />
  </resultMap>
  <select id="findBitDataList" parameterType="com.yunya.feign.treatment_other.domain.query.ToothBitDataQuery"
          resultType="com.yunya.feign.treatment_other.domain.vo.ToothBitDataVo">
    SELECT
    tooth_bit_film,
    id,
    upload_time,
    film_name
    FROM
    tooth_bit_data
    WHERE
    patient_id = #{patientId}
    and
    tooth_bit = #{toothBit}
  </select>
  <insert id="add" parameterType="com.yunya.models.treatment_other.ToothBitData">
    INSERT
    INTO
    tooth_bit_data
    (dentist_id,tooth_bit_film,tooth_bit,crt_id,org_id,treatment_record_id,patient_id,upload_time,film_name)
    VALUES
    (#{dentistId},#{toothBitFilm},#{toothBit},#{crtId},#{orgId},#{treatmentRecordId},#{patientId},#{uploadTime},#{filmName})
  </insert>

  <update id="upd" parameterType="com.yunya.models.treatment_other.ToothBitData">
        UPDATE tooth_bit_data
        SET
        upload_time = #{uploadTime},
        upd_id = #{updId}
        WHERE id = #{id};

  </update>

  <delete id="del" parameterType="java.lang.Integer">
    DELETE
    FROM
    tooth_bit_data
    WHERE
    id = #{id}
  </delete>

  <select id="findPhotoAndNum" parameterType="com.yunya.feign.treatment_other.domain.query.ToothBitDataByNumQuery"
          resultType="com.yunya.feign.treatment_other.domain.vo.ToothBitDataByNumVo">
    select
	upload_time,
	film_name,
	tooth_bit_film,
	tooth_bit
    FROM
        tooth_bit_data
    where
        org_id = #{orgId}
    AND
        patient_id = #{patientId}
    AND
        treatment_record_id = #{treatmentRecordId}
    AND
        dentist_id = #{dentistId}
  </select>
</mapper>