<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.clinic.base.mapper.BusinessTargetMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.clinic_base.BusinessTarget" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="target_cash" property="targetCash" jdbcType="INTEGER" />
    <result column="traget_num" property="tragetNum" jdbcType="INTEGER" />
    <result column="target_first_visit" property="targetFirstVisit" jdbcType="INTEGER" />
    <result column="target_patient_num" property="targetPatientNum" jdbcType="INTEGER" />
    <result column="date_type" property="dateType" jdbcType="INTEGER" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="team_type" property="teamType" jdbcType="VARCHAR" />
    <result column="num_id" property="numId" jdbcType="INTEGER" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="findBusinessTargetByPage" parameterType="com.yunya.feign.cash_balance.query.BusinessTargetQuery" resultType="com.yunya.feign.cash_balance.vo.BusinessTargetVo">
        select
            id,
            targetCash,
            tragetNum,
            targetFirstVisit,
            targetPatientNum,
            date,
        from
            business_target
        where
            inservice = 0
            AND num_id = #{numId}
            AND date_type = #{dateType}
            AND team_type = #{teamType}
            <if test="startTime != null">
              AND #{startTime} &gt; #{date}
            </if>
            <if test="endTime != null">
              AND #{endTime} &lt; #{date}
            </if>

  </select>

    <select id="businessAddOrUpd" parameterType="com.yunya.feign.cash_balance.query.BusinessAddOrUpdQuery" resultType="java.lang.Integer">
        select
            id
        from
            business_target
        where
            inservice = 0
            AND date_type = #{dateType}
            AND DATE_FORMAT(date,'%Y-%m' ) = #{date}
            AND team_type = #{teamType}
            AND num_id = #{numId}
    </select>
    
    <insert id="add" parameterType="com.yunya.models.clinic_base.BusinessTarget" >
        INSERT INTO
        business_target
        (
        <if test="targetCash != null">
            target_cash,
        </if>
        <if test="tragetNum != null">
            traget_num,
        </if>
        <if test="targetFirstVisit != null">
            target_first_visit,
        </if>
        <if test="targetPatientNum != null">
            target_patient_num,
        </if>
        date_type,date,team_type,num_id,crt_id,inservice)
        VALUES
        (
        <if test="targetCash != null">
        #{targetCash},
        </if>
        <if test="tragetNum != null">
        #{tragetNum},
        </if>
        <if test="targetFirstVisit != null">
        #{targetFirstVisit},
        </if>
        <if test="targetPatientNum != null">
        #{targetPatientNum},
        </if>
        #{dateType},#{date},#{teamType},#{numId},#{crtId},0);
    </insert>

    <update id="upd" parameterType="com.yunya.models.clinic_base.BusinessTarget">
        UPDATE
            business_target
        SET
            <if test="targetCash != null">
            target_cash = #{targetCash},
            </if>
            <if test="tragetNum != null">
            traget_num = #{tragetNum},
            </if>
            <if test="targetFirstVisit != null">
            target_first_visit = #{targetFirstVisit},
            </if>
            <if test="targetPatientNum != null">
            target_patient_num = #{targetPatientNum},
            </if>
            upd_id = #{updId}
        WHERE
            id= #{id}
    </update>

    <select id="findAllData" parameterType="java.lang.String">
        select
            sum(target_cash) as targetCash,
            sum(traget_num) as tragetNum,
            sum(target_first_visit) as targetFirstVisit,
            sum(target_patient_num) as targetPatientNum,
            DATE_FORMAT(date,'%Y-%m') as date
        from
            business_target
        where
            team_type = 1
            AND
            num_id in (#{ids})
            GROUP BY date
    </select>
</mapper>