<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.clinic_base.mapper.BusinessTargetMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.clinic_base.BusinessTarget">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="belong_type" property="belongType" jdbcType="TINYINT"/>
        <result column="belong_id" property="belongId" jdbcType="INTEGER"/>
        <result column="business_type" property="businessType" jdbcType="TINYINT"/>
        <result column="business_goal" property="businessGoal" jdbcType="DECIMAL"/>
        <result column="business_year" property="businessYear" jdbcType="VARCHAR"/>
        <result column="business_month" property="businessMonth" jdbcType="VARCHAR"/>
        <result column="business_date" property="businessDate" jdbcType="VARCHAR"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 根据条件查询月业务目标列表 -->
    <select id="selectBusinessTargetList"
            resultType="com.yunya.feign.clinic_base.domain.vo.TargetOfMonthVO">
        SELECT
        bt.business_month AS monthNum,
        bt.business_goal AS businessGoal
        FROM
        business_target bt
        <where>
            <if test="query.businessYear != null and query.businessYear != ''">
                and bt.business_year = #{query.businessYear}
            </if>
            <if test="query.businessType != null">
                and bt.business_type = #{query.businessType}
            </if>
            <if test="query.belongType != null">
                and bt.belong_type = #{query.belongType}
            </if>
            <if test="query.belongId != null">
                and bt.belong_id = #{query.belongId}
            </if>
        </where>
        GROUP BY bt.id
        ORDER BY bt.business_month + 0
    </select>

    <!-- 根据条件查询门诊业务目标列表 -->
    <select id="selectBusinessWorkGoalList"
            resultType="com.yunya.feign.clinic_base.domain.vo.BusinessWorkGoalVO">
        SELECT
            t.businessDate,
            IFNULL(SUM(bt1.business_goal), 0) AS actualReceivedAmountGoal,
            IFNULL(SUM(bt2.business_goal), 0) AS workloadAmountGoal,
            IFNULL(SUM(bt3.business_goal), 0) AS firstTreatPerNumGoal,
            IFNULL(SUM(bt4.business_goal), 0) AS treatPerTimesGoal
        FROM
            (
            SELECT DISTINCT
                IF ( #{query.dateType} = 0, bt.business_date, bt.business_year ) AS businessDate
            FROM
                business_target bt
            <where>
                <if test="query.dateType == 0">
                    <if test="query.startDate != null and query.startDate != ''">
                        AND bt.business_date &gt;= #{query.startDate}
                    </if>
                    <if test="query.endDate != null and query.endDate != ''">
                        AND bt.business_date &lt;= #{query.endDate}
                    </if>
                </if>
                <if test="query.dateType == 1">
                    <if test="query.startDate != null and query.startDate != ''">
                        AND business_year &gt;= #{query.startDate}
                    </if>
                    <if test="query.endDate != null and query.endDate != ''">
                        AND business_year &lt;= #{query.endDate}
                    </if>
                </if>
            </where>
            ) t
            LEFT JOIN (
                SELECT
                    IF ( #{query.dateType} = 0, bt.business_date, bt.business_year ) AS business_date,
                    SUM(bt.business_goal) AS business_goal
                FROM
                    business_target bt
                <where>
                    AND bt.business_type = 0
                    <if test="query.belongType != null">
                        AND bt.belong_type = #{query.belongType}
                    </if>
                    <if test="query.belongIds != null and query.belongIds.length > 0">
                        AND bt.belong_id IN
                        <foreach collection="query.belongIds" item="item" index="index" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </if>
                </where>
                GROUP BY
                    IF ( #{query.dateType} = 0, bt.id, bt.business_year )
            ) bt1 ON t.businessDate = bt1.business_date
            LEFT JOIN (
                SELECT
                    IF( #{query.dateType} = 0, bt.business_date, bt.business_year ) AS business_date,
                    SUM(bt.business_goal) AS business_goal
                FROM business_target bt
                <where>
                    AND bt.business_type = 1
                    <if test="query.belongType != null">
                        AND bt.belong_type = #{query.belongType}
                    </if>
                    <if test="query.belongIds != null and query.belongIds.length > 0">
                        AND bt.belong_id IN
                        <foreach collection="query.belongIds" item="item" index="index" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </if>
                </where>
            GROUP BY
                IF ( #{query.dateType} = 0, bt.id, bt.business_year )
            ) bt2 ON t.businessDate = bt2.business_date
            LEFT JOIN (
                SELECT
                    IF ( #{query.dateType} = 0, bt.business_date, bt.business_year ) AS business_date,
                    SUM(bt.business_goal) AS business_goal
                FROM business_target bt
                <where>
                    AND bt.business_type = 2
                    <if test="query.belongType != null">
                        AND bt.belong_type = #{query.belongType}
                    </if>
                    <if test="query.belongIds != null and query.belongIds.length > 0">
                        AND bt.belong_id IN
                        <foreach collection="query.belongIds" item="item" index="index" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </if>
                </where>
                GROUP BY
                    IF ( #{query.dateType} = 0, bt.id, bt.business_year )
            ) bt3 ON t.businessDate = bt3.business_date
            LEFT JOIN (
                SELECT
                    IF ( #{query.dateType} = 0, bt.business_date, bt.business_year ) AS business_date,
                    SUM(bt.business_goal) AS business_goal
                FROM business_target bt
                <where>
                    AND bt.business_type = 3
                    <if test="query.belongType != null">
                        AND bt.belong_type = #{query.belongType}
                    </if>
                    <if test="query.belongIds != null and query.belongIds.length > 0">
                        AND bt.belong_id IN
                        <foreach collection="query.belongIds" item="item" index="index" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </if>
                </where>
                GROUP BY
                    IF ( #{query.dateType} = 0, bt.id, bt.business_year )
            ) bt4 ON t.businessDate = bt4.business_date
        GROUP BY
            t.businessDate
        ORDER BY
            t.businessDate
    </select>

    <!-- 根据条件查询业务目标数量 -->
    <select id="selectBusinessGoalCount" resultType="java.math.BigDecimal">
        SELECT
            SUM( bt.business_goal )
        FROM
            business_target bt
        <where>
            AND bt.belong_type = 0
            <if test="businessType != null">
                AND bt.business_type = #{businessType}
            </if>
            <if test="orgId != null">
                AND bt.belong_id = #{orgId}
            </if>
            <if test="dateRange != null and dateRange.size > 0">
                AND bt.business_date IN
                <foreach collection="dateRange" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>