<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.clinic.base.mapper.SpecializedSubjectProjecMapper">
  <resultMap id="BaseResultMap" type="com.yunya.models.clinic_base.SpecializedSubjectProjec">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="specialized_subject_projec_name" jdbcType="VARCHAR" property="specializedSubjectProjecName" />
    <result column="subitems" jdbcType="VARCHAR" property="subitems" />
    <result column="inservice" jdbcType="INTEGER" property="inservice" />
    <result column="crt_id" jdbcType="INTEGER" property="crtId" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="upd_id" jdbcType="INTEGER" property="updId" />
    <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
  </resultMap>
  <select id="findSpecializedList" parameterType="com.yunya.feign.cash_balance.query.SpecializedSubjectProjecQuery" resultType="com.yunya.feign.cash_balance.vo.SpecializedSubjectProjecVo">
        select
            id,
            specialized_subject_projec_name,
            subitems
        from
            specialized_subject_projec
        where
            inservice = 0
        limit #{pageNum},#{pageSize}
  </select>
  <insert id="add" parameterType="com.yunya.models.clinic_base.SpecializedSubjectProjec">
         INSERT INTO
        specialized_subject_projec
        (specialized_subject_projec,subitemscrt_id,crt_id)
        VALUES
        (#{specializedSubjectProjec},#{subitems},#{crtId},);
  </insert>
  <update id="upd" parameterType="com.yunya.models.clinic_base.SpecializedSubjectProjec">
    UPDATE
        specialized_subject_projec
    SET
        specialized_subject_projec=#{specializedSubjectProjec},
        subitemscrt_id=#{subitems},
        upd_id=#{crtId}
    WHERE
        id=#{id};
  </update>
  <update id="del" parameterType="java.lang.Integer">
    UPDATE
        specialized_subject_projec
    SET
      inservice=1
    WHERE
        id=#{id};
  </update>
</mapper>