<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.clinic.base.mapper.SpecialistTargetMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.clinic_base.SpecialistTarget" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ssp_id" property="sspId" jdbcType="INTEGER" />
    <result column="target" property="target" jdbcType="DECIMAL" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="date_type" property="dateType" jdbcType="INTEGER" />
    <result column="team_type" property="teamType" jdbcType="VARCHAR" />
    <result column="num_id" property="numId" jdbcType="INTEGER" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upt_id" property="uptId" jdbcType="INTEGER" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="findspecialistTargetByPage" parameterType="com.yunya.feign.cash_balance.query.SpecializedSubjectProjectQuery" resultType="com.yunya.feign.cash_balance.vo.SpecialistTargetVo">
    select
    id,
    ssp_id,
    target,
    date,
    from
    specialist_target
    where
    AND num_id = #{numId}
    AND date_type = #{dateType}
    AND team_type = #{teamType}
    <if test="startTime != null">
      AND #{startTime} &gt; #{date}
    </if>
    <if test="endTime != null">
      AND #{endTime} &lt; #{date}
    </if>

  </select>

  <select id="businessAddOrUpd" parameterType="com.yunya.feign.cash_balance.query.SpecialistAddOrUpdQuery" resultType="java.lang.Integer">
        select
            id
        from
            specialist_target
        where
            AND date_type = #{dateType}
            AND DATE_FORMAT(date,'%Y-%m' ) = #{date}
            AND team_type = #{teamType}
            AND num_id = #{numId}
    </select>

  <insert id="add" parameterType="com.yunya.models.clinic_base.SpecialistTarget" >
    INSERT INTO
    specialist_target
    (ssp_id,target,date_type,date,team_type,num_id,crt_id)
    VALUES
    (#{sspId},#{target},#{dateType},#{date},#{teamType},#{numId},#{crtId});
  </insert>

  <update id="upd" parameterType="com.yunya.models.clinic_base.SpecialistTarget">
    UPDATE
    specialist_target
    SET
    ssp_id = #{sspId},
    target = #{target},
    upd_id = #{updId}
    WHERE
    id= #{id}
  </update>
  <select id="findAllData" parameterType="java.lang.String">
        select
            sum(target_cash) as targetCash,
            sum(traget_num) as tragetNum,
            sum(target_first_visit) as targetFirstVisit,
            sum(target_patient_num) as targetPatientNum,
            DATE_FORMAT(date,'%Y-%m') as date
        from
            business_target
        where
            team_type = 1
            AND
            num_id in (#{ids})
            GROUP BY date
    </select>
</mapper>