<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.system.mapper.ClinicDepartmentRoomMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.system.ClinicDepartmentRoom">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="company_id" property="companyId" jdbcType="INTEGER"/>
        <result column="dept_room_id" property="deptRoomId" jdbcType="INTEGER"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 根据条件查询门诊科室列表 -->
    <select id="selectClinicDepartmentRoomList"
            resultType="com.yunya.feign.system.vo.ClinicDepartmentRoomVO">
        select
            cdr.id as clinicDeptRoomId,
            ifnull(cdr.dept_room_id, dr.id) as deptRoomId,
            dr.name as deptRoomName,
            ifnull(cdr.company_id, cei.company_id) as orgId,
            cei.abbreviation as orgName,
            ifnull(cdr.inservice, 1) as inservice
        from clinic_department_room cdr
        left join department_room dr on cdr.dept_room_id = dr.id
        left join clinic_ext_info cei on cdr.company_id = cei.company_id
        <where>
            <if test="queryForm.clinicDeptRoomId != null">
                and cdr.id = #{queryForm.clinicDeptRoomId}
            </if>
            <if test="queryForm.orgId != null">
                and cdr.company_id = #{queryForm.orgId}
            </if>
            <if test="queryForm.deptRoomId != null">
                and cdr.dept_room_id = #{queryForm.deptRoomId}
            </if>
            <if test="queryForm.inservice != null">
                and cdr.inservice = #{queryForm.inservice}
            </if>
        </where>
    </select>
    <!-- 根据门诊科室ID查询门诊科室信息 -->
    <select id="selectByClinicDeptRoomId" resultType="com.yunya.feign.system.vo.ClinicDepartmentRoomVO">
        select
            cdr.id as clinicDeptRoomId,
            ifnull(cdr.dept_room_id, dr.id) as deptRoomId,
            dr.name as deptRoomName,
            ifnull(cdr.company_id, cei.company_id) as orgId,
            cei.abbreviation as orgName,
            ifnull(cdr.inservice, 1) as inservice
        from clinic_department_room cdr
        left join department_room dr on cdr.dept_room_id = dr.id
        left join clinic_ext_info cei on cdr.company_id = cei.company_id
        where cdr.id = #{id}
    </select>
    <!-- 查询某个科室在门诊的配置列表 -->
    <select id="selectClinicDeptRoom" resultType="com.yunya.feign.system.vo.ClinicDepartmentRoomVO">
        SELECT
            dr.id AS deptRoomId,
            dr.`name` AS deptRoomName,
            cdr.id AS clinicDeptRoomId,
            IFNULL( cdr.inservice, 1 ) as inservice
        FROM
            department_room dr
            LEFT JOIN clinic_department_room cdr ON  cdr.company_id = #{orgId}
            AND dr.id = cdr.dept_room_id
        WHERE
            dr.id = #{deptRoomId}
    </select>
    <!-- 查询门诊可用科室 -->
    <select id="selectDeptRoomVO" resultType="com.yunya.feign.system.vo.DeptRoomVO">
        SELECT
            cdr.id as clinicDeptRoomId,
            IFNULL(cdr.dept_room_id, dr.id) AS deptRoomId,
            dr.name as deptRoomName,
            IFNULL( cdr.inservice, 1 ) AS inservice
        FROM
            clinic_department_room cdr
            LEFT JOIN department_room dr ON cdr.dept_room_id = dr.id
        WHERE  cdr.inservice = #{inservice} and
            cdr.dept_room_id = #{departmentRoomId} and cdr.company_id = #{orgId}
    </select>
</mapper>