<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.system.mapper.ClinicAccountItemMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.system.ClinicAccountItem">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="company_id" property="companyId" jdbcType="INTEGER"/>
        <result column="account_item_id" property="accountItemId" jdbcType="INTEGER"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 根据ID查询门诊入账方式 -->
    <select id="selectById" resultType="com.yunya.feign.system.vo.ClinicAccountItemVO">
        SELECT
        cai.id,
        ifnull(cai.company_id, cei.company_id) AS orgId,
        ifnull( cei.abbreviation, '公司' ) AS orgName,
        ai.accountTypeId,
        ai.accountTypeName,
        ifnull(cai.account_item_id, ai.accountItemId) AS accountItemId,
        ai.accountItemName,
        ai.type,
        ifnull(cai.inservice, 1) as inservice
        FROM
        clinic_account_item cai
        LEFT JOIN (
        SELECT
        ai.id AS accountItemId,
        ai.`name` AS accountItemName,
        ai.type,
        a.id AS accountTypeId,
        a.`name` AS accountTypeName
        FROM
        account_item ai
        LEFT JOIN account_type a ON ai.account_type_id = a.id
        ) ai ON cai.account_item_id = ai.accountItemId
        LEFT JOIN clinic_ext_info cei ON cai.company_id = cei.company_id
        WHERE cai.id = #{id}
    </select>
    <!-- 根据条件查询组织入账方式列表 -->
    <select id="selectClinicAccountItemList" resultType="com.yunya.feign.system.vo.ClinicAccountItemVO">
        SELECT
        cai.id,
        cai.orgId,
        cai.orgName,
        cai.accountItemId,
        cai.accountTypeId,
        cai.accountTypeName,
        cai.accountItemName,
        cai.type,
        cai.inservice
        FROM
        (
        SELECT
        cai.id,
        ifnull(cai.company_id, cei.company_id) AS orgId,
        ifnull( cei.abbreviation, '公司' ) AS orgName,
        ai.accountTypeId,
        ai.accountTypeName,
        ifnull(cai.account_item_id, ai.accountItemId) AS accountItemId,
        ai.accountItemName,
        ai.type,
        ifnull(cai.inservice, 1) as inservice
        FROM
        clinic_account_item cai
        LEFT JOIN (
        SELECT
        ai.id AS accountItemId,
        ai.`name` AS accountItemName,
        ai.type,
        a.id AS accountTypeId,
        a.`name` AS accountTypeName
        FROM
        account_item ai
        LEFT JOIN account_type a ON ai.account_type_id = a.id
        ) ai ON cai.account_item_id = ai.accountItemId
        LEFT JOIN clinic_ext_info cei ON cai.company_id = cei.company_id
        ) cai
        <where>
            <if test="queryForm.id != null">
                and cai.id = #{queryForm.id}
            </if>
            <if test="queryForm.accountTypeId != null">
                and cai.accountTypeId = #{queryForm.accountTypeId}
            </if>
            <if test="queryForm.accountItemId != null">
                and cai.accountItemId = #{queryForm.accountItemId}
            </if>
            <if test="queryForm.orgId != null">
                and cai.orgId = #{queryForm.orgId}
            </if>
            <if test="queryForm.inservice != null">
                and cai.inservice = #{queryForm.inservice}
            </if>
        </where>
    </select>
    <!-- 根据条件查询支付方式信息在门诊的状态 -->
    <select id="selectClinicAccountItem" resultType="com.yunya.feign.system.vo.ClinicAccountItemVO">
        SELECT
            a.id AS accountTypeId,
            a.`name` AS accountTypeName,
            ai.id AS accountItemId,
            ai.`name` AS accountItemName,
            ai.type,
            cai.id,
            IFNULL( cai.inservice, 1 ) as inservice
        FROM
            account_item ai
            LEFT JOIN account_type a ON ai.account_type_id = a.id
            LEFT JOIN clinic_account_item cai ON cai.company_id = #{orgId}
            AND ai.id = cai.account_item_id
        WHERE
            ai.id = #{accountItemId}
    </select>
    <!-- 根据条件查询门诊支付方式 -->
    <select id="selectAccountItemVO" resultType="com.yunya.feign.system.vo.AccountItemVO">
        SELECT
            cai.id,
            ai.accountTypeId,
            ai.accountTypeName,
            IFNULL(cai.account_item_id, ai.accountItemId) AS accountItemId,
            ai.accountItemName,
            ai.type,
            IFNULL( cai.inservice, 1 ) AS inservice
        FROM
            clinic_account_item cai
            LEFT JOIN (
            SELECT
                ai.id AS accountItemId,
                ai.`name` AS accountItemName,
                ai.type,
                a.id AS accountTypeId,
                a.`name` AS accountTypeName
            FROM
                account_item ai
                LEFT JOIN account_type a ON ai.account_type_id = a.id
            ) ai ON cai.account_item_id = ai.accountItemId
        WHERE
            cai.account_item_id = #{accountItemId}
            and cai.company_id = #{orgId}
    </select>

    <select id="selectClinicEnableAccountItemList" resultType="com.yunya.feign.system.vo.AccountItemVO">
        SELECT
            ai.id as accountItemId,
            ai.name as accountItemName,
            ai.account_type_id as accountTypeId,
            act.name as accountTypeName,
            ai.type,
            ai.inservice
        FROM account_item ai
        LEFT JOIN account_type act on ai.account_type_id = act.id
        INNER JOIN clinic_account_item cai ON ai.id = cai.account_item_id
        <where>
            AND ai.inservice = true
            AND cai.inservice = true
            and cai.company_id = #{orgId}
            <if test="types!=null and types.size()>0">
                AND ai.type IN
                <foreach collection="types" item="type" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
        </where>
    </select>
</mapper>