<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.system.mapper.ClinicExtInfoMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.system.ClinicExtInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="company_id" property="companyId" jdbcType="INTEGER"/>
        <result column="brand_ids" property="brandIds" jdbcType="VARCHAR"/>
        <result column="clinic_number" property="clinicNumber" jdbcType="VARCHAR"/>
        <result column="abbreviation" property="abbreviation" jdbcType="VARCHAR"/>
        <result column="tel" property="tel" jdbcType="VARCHAR"/>
        <result column="fax" property="fax" jdbcType="VARCHAR"/>
        <result column="chair_quantity" property="chairQuantity" jdbcType="INTEGER"/>
        <result column="business_start_time" property="businessStartTime" jdbcType="VARCHAR"/>
        <result column="business_end_time" property="businessEndTime" jdbcType="VARCHAR"/>
        <result column="addr_province" property="addrProvince" jdbcType="VARCHAR"/>
        <result column="addr_city" property="addrCity" jdbcType="VARCHAR"/>
        <result column="addr_region" property="addrRegion" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="address_and_way" property="addressAndWay" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 根据组织ID获取医疗机构详情 -->
    <select id="selectClinicExtInfoByCompanyId" resultType="com.yunya.feign.system.vo.MedicalOrganizationInfoVO">
      SELECT
        c.id AS companyId,
        c.`name`,
        c.credit_code AS creditCode,
        (
        SELECT
          GROUP_CONCAT( b.`name` )
        FROM
          brand b
        WHERE
          FIND_IN_SET( b.id, cei.brand_ids )) AS brandName,
          cei.clinic_number AS clinicNumber,
          cei.abbreviation,
          cei.tel,
          cei.fax,
          cei.chair_quantity AS chairQuantity,
          cei.business_start_time AS businessStartTime,
          cei.business_end_time AS businessEndTime,
          cei.addr_province AS addrProvince,
          cei.addr_city AS addrCity,
          cei.addr_region AS addrRegion,
          cei.address,
          cei.path,
          cei.address_and_way AS addressAndWay
      FROM
        clinic_ext_info cei
        LEFT JOIN company c ON cei.company_id = c.id
      WHERE
        cei.company_id = #{companyId}
    </select>
    <!-- 根据品牌ID查询关联该品牌的诊所信息 -->
    <select id="selectClinicExtInfoByBrandId" resultType="com.yunya.models.system.ClinicExtInfo">
      select
        id,
        company_id,
        brand_ids,
        clinic_number,
        abbreviation,
        tel,
        chair_quantity,
        business_start_time,
        business_end_time,
        address_and_way
      from
        clinic_ext_info
      where
         FIND_IN_SET(#{brandId},brand_ids)
    </select>

    <select id="countByAbbreviation" resultType="int">
        select
            count(1)
        from
            clinic_ext_info
        where
            abbreviation  = #{abbreviation} and company_id != #{companyId}
    </select>
</mapper>