<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.system.mapper.CompanyMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.system.Company">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="credit_code" property="creditCode" jdbcType="VARCHAR"/>
        <result column="order_num" property="orderNum" jdbcType="INTEGER"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 组织详情信息Map
    <resultMap id="OrganizationQueryResultMap" type="com.yunya.modules.system.vo.OrganizationInfoVO">
        <id column="id" property="id" javaType="Integer"/>
        <id column="parentId" property="parentId" javaType="Integer"/>
        <result column="name" property="name" javaType="String"/>
        <result column="creditCode" property="creditCode" javaType="String"/>
        <result column="type" property="type" javaType="Byte"/>
        <result column="orderNum" property="orderNum" javaType="Integer"/>
        <result column="abbreviation" property="abbreviation" javaType="String"/>
        <result column="clinicNumber" property="clinicNumber" javaType="String"/>
        <result column="brandName" property="brandName" javaType="String"/>
    </resultMap>-->

    <!-- 根据ID获取组织信息 -->
    <select id="selectOrgInfoById" resultType="com.yunya.feign.system.vo.OrganizationInfo">
       select
           c.id,
           c.`name`,
           c.`type`,
           c.credit_code as creditCode,
           cei.clinic_number as clinicNumber,
           cei.address as clinicAddress,
           cei.tel as clinicMobile,
           case
               c.type
           when 0 then
                '公司'
           when 1 then
                '区域管理'
           when 2 then
            cei.abbreviation else '其他'
           end as abbreviation
        from
	        company c
	    left join clinic_ext_info cei ON c.id = cei.company_id
        where c.id = #{id}
    </select>

    <!-- 新增组织（返回插入数据ID） -->
    <insert id="insertCompany" parameterType="com.yunya.models.system.Company"
            useGeneratedKeys="true" keyProperty="id">
      INSERT INTO company (
        parent_id,
        `name`,
        `type`,
        credit_code,
        order_num,
        inservice,
        crt_id,
        crt_name,
        crt_time,
        upd_id,
        upd_time,
        upd_name
      ) VALUES (
        #{parentId},
        #{name},
        #{type},
        #{creditCode},
        #{orderNum},
        #{inservice},
        #{crtId},
        #{crtName},
        #{crtTime},
        #{updId},
        #{updTime},
        #{updName}
      )
    </insert>

    <!-- 根据条件查询组织详情列表 -->
    <select id="selectOrganizationByExample" resultType="com.yunya.modules.system.vo.OrganizationInfoVO">
        SELECT
        ccb.id,
        ccb.`name`,
        ccb.parentId,
        ccb.type,
        ccb.creditCode,
        ccb.orderNum,
        ccb.clinicNumber,
        case ccb.type
        when 0 then '公司'
        when 1 then '大区'
        when 2 then ccb.abbreviation
        else '其他' end as abbreviation,
        ccb.brandName,
        ccb.tel,
        ccb.address
        FROM
        (
        SELECT
        c.id,
        c.parent_id as parentId,
        c.`name`,
        c.credit_code as creditCode,
        c.type,
        c.order_num as orderNum,
        cb.abbreviation,
        cb.clinic_number AS clinicNumber,
        cb.brandName,
        cb.tel,
        cb.address
        FROM
        company c
        LEFT JOIN (
        SELECT
        cei.company_id,
        cei.abbreviation,
        cei.clinic_number,
        cei.tel,
        cei.address,
        (
        SELECT
        GROUP_CONCAT( b.`name` )
        FROM
        brand b
        WHERE
        FIND_IN_SET( b.id, cei.brand_ids )) AS brandName
        FROM
        clinic_ext_info cei
        ) cb ON c.id = cb.company_id
        ) ccb
        <where>
            <if test="queryForm.id != null">
                and ccb.id = #{queryForm.id}
            </if>
            <if test="queryForm.name != null and queryForm.name != ''">
                and ccb.name like CONCAT(CONCAT('%',#{queryForm.name}),'%')
            </if>
            <if test="queryForm.types != null and queryForm.types.length > 0">
                and ccb.type in
                <foreach collection="queryForm.types" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.clinicNumber != null and queryForm.clinicNumber != ''">
                and ccb.clinicNumber = #{queryForm.clinicNumber}
            </if>
            <if test="queryForm.abbreviation != null and queryForm.abbreviation != ''">
                and ccb.abbreviation like CONCAT(CONCAT('%',#{queryForm.abbreviation}),'%')
            </if>
        </where>
        order by
        parentId,
        orderNum
    </select>

    <!-- 根据组织id列表查询详情列表 -->
    <select id="selectOrganizationInIds" resultType="com.yunya.modules.system.vo.OrganizationInfoVO">
        select
           c.id,
           c.`name`,
           c.`type`,
           c.credit_code as creditCode,
           cei.tel,
           cei.address,
           cei.clinic_number as clinicNumber,
           case
               c.type
           when 0 then
                '公司'
           when 1 then
                '区域管理'
           when 2 then
            cei.abbreviation else '其他'
           end as abbreviation
        from
	        company c
	    left join clinic_ext_info cei ON c.id = cei.company_id
        where c.id in
        <foreach item="item" index="index" collection="orgIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>