<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.system.mapper.DepartmentRoomMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.system.DepartmentRoom">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 根据条件查询科室列表 -->
    <select id="selectList" resultType="com.yunya.modules.system.vo.DepartmentRoomVO">
        select
        dr.id,
        dr.name,
        dr.inservice
        from department_room dr
        <where>
            <if test="queryForm.id != null">
                and dr.id = #{queryForm.id}
            </if>
            <if test="queryForm.name != null and queryForm.name != ''">
                and dr.name like concat('%',#{queryForm.name},'%')
            </if>
            <if test="queryForm.inservice != null">
                and dr.inservice = #{queryForm.inservice}
            </if>
        </where>
    </select>
    <!-- 根据ID查询科室信息 -->
    <select id="selectById" resultType="com.yunya.modules.system.vo.DepartmentRoomVO">
        select
        dr.id,
        dr.name,
        dr.inservice
        from department_room dr
        where dr.id = #{id}
    </select>
</mapper>