<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.system.mapper.DictionaryItemMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.system.DictionaryItem" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dictionary_type_id" property="dictionaryTypeId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
    <result column="english_name" property="englishName" jdbcType="VARCHAR" />
  </resultMap>
    <!-- 根据条件查询字典明细列表 -->
    <select id="selectBrandByExample" resultType="com.yunya.modules.system.vo.DictionaryItemVO">
        select
        di.id as id,
        di.name as `name`,
        di.english_name as englishName,
        dt.id as dictTypeId,
        dt.name as dictTypeName
        from dictionary_item di
        left join dictionary_type dt on di.dictionary_type_id = dt.id
        <where>
          <if test="queryForm.id != null">
            and di.id = #{queryForm.id}
          </if>
          <if test="queryForm.name != null and queryForm.name != ''">
            and di.name like CONCAT(CONCAT('%',#{queryForm.name}),'%')
          </if>
          <if test="queryForm.dictTypeId != null">
            and di.dictionary_type_id = #{queryForm.dictTypeId}
          </if>
          <if test="queryForm.inservice != null">
            and di.inservice = #{queryForm.inservice}
          </if>
        </where>
    </select>
</mapper>