<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.system.mapper.DictionaryItemMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.system.DictionaryItem" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dictionary_type_id" property="dictionaryTypeId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
    <result column="english_name" property="englishName" jdbcType="VARCHAR" />
  </resultMap>

    <sql id="baseColumns">
        id,dictionary_type_id,`name`,inservice,crt_id,crt_name,crt_time,upd_id,upd_name,upd_time,english_name
    </sql>

    <!-- 根据条件查询字典明细列表 -->
    <select id="selectDictionaryByExample" resultType="com.yunya.feign.system.vo.DictionaryItemVO">
        select
        di.id as id,
        di.name as `name`,
        di.english_name as englishName,
        dt.id as dictTypeId,
        dt.name as dictTypeName
        from dictionary_item di
        left join dictionary_type dt on di.dictionary_type_id = dt.id
        <where>
          <if test="queryForm.id != null">
            and di.id = #{queryForm.id}
          </if>
          <if test="queryForm.name != null and queryForm.name != ''">
            and di.name like CONCAT(CONCAT('%',#{queryForm.name}),'%')
          </if>
          <if test="queryForm.dictTypeId != null">
            and di.dictionary_type_id = #{queryForm.dictTypeId}
          </if>
          <if test="queryForm.dictTypeName!=null and queryForm.dictTypeName!=''">
            and dt.name = #{queryForm.dictTypeName}
          </if>
          <if test="queryForm.inservice != null">
            and di.inservice = #{queryForm.inservice}
          </if>
        </where>
        order by di.id asc
    </select>

    <!-- 根据ID查询字典明细列表 -->
    <select id="findByIds" resultMap="BaseResultMap">
        select
          <include refid="baseColumns"></include>
        from dictionary_item
        <where>
            <if test="ids != null and ids.size() > 0">
                and id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        order by id asc
    </select>

    <select id="findByTypeAndItemName" resultMap="BaseResultMap">
        select
            di.id
        from dictionary_item di
                 inner join dictionary_type dt on di.dictionary_type_id = dt.id
        where dt.name = #{typeName}
          and di.name = #{itemName}
    </select>

    <select id="selectDictItemByTypeName" resultType="com.yunya.models.system.DictionaryItem">
        select
            di.id as id,
            di.name as `name`,
            di.english_name as englishName,
            di.dictionary_type_id as dictionaryTypeId,
            di.upd_time AS updTime
        from dictionary_item di
        inner join dictionary_type dt on di.dictionary_type_id = dt.id
        <where>
            AND dt.inservice = true
            AND dt.name = #{typeName}
        </where>
    </select>
</mapper>