<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.system.mapper.QztDoctorMapper">
  <resultMap id="BaseResultMap" type="com.yunya.models.system.QztDoctor">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enable_cert" jdbcType="BIT" property="enableCert" />
    <result column="doctor_name" jdbcType="VARCHAR" property="doctorName" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="depart_id" jdbcType="INTEGER" property="departId" />
    <result column="depart_name" jdbcType="VARCHAR" property="departName" />
    <result column="institution_id" jdbcType="VARCHAR" property="institutionId" />
    <result column="qualification" jdbcType="VARCHAR" property="qualification" />
    <result column="doctor_licence" jdbcType="VARCHAR" property="doctorLicence" />
    <result column="technical_title" jdbcType="VARCHAR" property="technicalTitle" />
    <result column="scope_practice" jdbcType="VARCHAR" property="scopePractice" />
    <result column="antibiosis_authority" jdbcType="VARCHAR" property="antibiosisAuthority" />
    <result column="anesthetic_authority" jdbcType="VARCHAR" property="anestheticAuthority" />
    <result column="practice_clinic" jdbcType="VARCHAR" property="practiceClinic" />
    <result column="relate_user_ids" jdbcType="VARCHAR" property="relateUserIds" />
    <result column="crt_id" jdbcType="INTEGER" property="crtId" />
    <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
    <result column="upd_id" jdbcType="INTEGER" property="updId" />
    <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
  </resultMap>

</mapper>