<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.system.mapper.SysEmployeeMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.system.SysEmployee">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR"/>
        <result column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="TINYINT"/>
        <result column="identity" property="identity" jdbcType="VARCHAR"/>
        <result column="work_status" property="workStatus" jdbcType="TINYINT"/>
        <result column="work_type" property="workType" jdbcType="TINYINT"/>
        <result column="contract_signing_date" property="contractSigningDate" jdbcType="DATE"/>
        <result column="entry_date" property="entryDate" jdbcType="DATE"/>
        <result column="graduated_school" property="graduatedSchool" jdbcType="VARCHAR"/>
        <result column="education" property="education" jdbcType="INTEGER"/>
        <result column="leave_time" property="leaveTime" jdbcType="DATE"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="post_level" property="postLevel" jdbcType="VARCHAR"/>
        <result column="emergency_contact" property="emergencyContact" jdbcType="VARCHAR"/>
        <result column="emergency_contact_phone" property="emergencyContactPhone" jdbcType="VARCHAR"/>
        <result column="discount" property="discount" jdbcType="BIT"/>
        <result column="photo" property="photo" jdbcType="VARCHAR"/>
        <result column="diploma_photo" property="diplomaPhoto" jdbcType="VARCHAR"/>
        <result column="work_number" property="workNumber" jdbcType="VARCHAR"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="selectSysEmployee">
        select
          se.id,
          se.user_id,
          se.`name`,
          se.mobile_phone,
          se.telephone,
          se.gender,
          se.identity,
          se.work_status,
          se.work_type,
          se.contract_signing_date,
          se.emergency_contact_phone,
          se.discount,
          se.photo,
          se.diploma_photo,
          se.work_number,
          se.crt_id,
          se.crt_name,
          se.crt_time,
          se.upd_id,
          se.upd_name,
          se.upd_time
        from sys_employee se
    </sql>
    <!-- 根据用户ID查询 -->
    <select id="selectByUserId" resultMap="BaseResultMap">
        <include refid="selectSysEmployee"/>
        from sys_employee where user_id = #{userId}
    </select>
</mapper>