<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.system.mapper.SysElementMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.system.SysElement">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="uri" property="uri" jdbcType="VARCHAR"/>
        <result column="menu_id" property="menuId" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="method" property="method" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 根据条件查询系统功能列表 -->
    <select id="selectListByExample" resultType="com.yunya.modules.system.vo.SysElementVO">
      select
        se.id,
        se.code,
        se.type,
        se.name,
        se.uri,
        se.menu_id as menuId,
        se.parent_id as parentId,
        se2.name as parentName,
        se.path,
        se.method,
        se.description,
        se.inservice
      from
        sys_element se
      left join sys_element se2 on se.id = se2.parent_id
      <where>
        <if test="queryForm.id != null">
            and se.id = #{queryForm.id}
        </if>
        <if test="queryForm.menuId != null">
            and se.menu_id = #{queryForm.menuId}
        </if>
        <if test="queryForm.name != null and queryForm.name != ''">
            and se.name LIKE CONCAT(CONCAT('%',#{queryForm.name}),'%')
        </if>
      </where>
    </select>
</mapper>