<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.system.mapper.SysUserPostMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.system.SysUserPost">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="company_id" property="companyId" jdbcType="INTEGER"/>
        <result column="department_id" property="departmentId" jdbcType="INTEGER"/>
        <result column="post_id" property="postId" jdbcType="INTEGER"/>
        <result column="system_id" property="systemId" jdbcType="INTEGER"/>
        <result column="group_id" property="groupId" jdbcType="INTEGER"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!-- 校验用户在统一组织，同一部门，同一岗位下是否唯一 -->
    <select id="checkUserOrgDeptPostUnique" resultType="java.lang.Integer">
      select
        count(1)
      from sys_user_post
      where user_id = #{userId} and company_id = #{orgId} and department_id = #{orgDeptId} and post_id = #{postId}
    </select>
    <!-- 校验组织部门下是否存在同一员工 -->
    <select id="checkOrgDeptUnique" resultType="java.lang.Integer">
      select
        count(1)
      from sys_user_post
      where user_id = #{userId} and department_id = #{orgDeptId}
    </select>
    <!-- 检验员工在同一个组织下是否存在同一个岗位 -->
    <select id="checkOrgPostUnique" resultType="java.lang.Integer">
      select count(1)
      from sys_user_post
      where user_id = #{userId} and company_id = #{orgId} and post_id = #{postId}
    </select>
    <!-- 根据用户ID查询可登陆组织列表 -->
    <select id="selectListByUserId" resultType="com.yunya.modules.system.vo.SysUserLoginOrgVO">
        select
            distinct sup.company_id as orgId,
            c.`name` as name,
            c.`type` as type,
            ifnull(cei.abbreviation,'公司') as abbreviation
        from sys_user_post sup
        left join company c on sup.company_id = c.id
        left join clinic_ext_info cei on sup.company_id = cei.company_id
        where sup.user_id = #{userId}
    </select>
    <!-- 根据条件查询员工信息列表 -->
    <select id="selectEmployeeList" resultType="com.yunya.feign.system.vo.EmployeeInfoVO">
        select
        userId,
        employeeId,
        name,
        gender,
        mobilePhone,
        workStatus,
        orgId,
        orgName,
        postGroupId,
        postGroupName,
        postId,
        postName
        from
        (
        SELECT
        any_value(sup.user_id) AS userId,
        any_value(se.id) AS employeeId,
        any_value(se.`name`) AS `name`,
        any_value(se.gender) AS gender,
        any_value(se.mobile_phone) AS mobilePhone,
        any_value(se.work_status) AS workStatus,
        any_value(sup.company_id) AS orgId,
        any_value(IFNULL( cei.abbreviation, '公司' )) AS orgName,
        any_value(sup.group_id) AS postGroupId,
        any_value(pg.`name`) AS postGroupName,
        any_value(sup.post_id) AS postId,
        any_value(p.`name`) AS postName
        FROM
        sys_user_post sup
        LEFT JOIN sys_employee se ON sup.user_id = se.user_id
        LEFT JOIN clinic_ext_info cei ON sup.company_id = cei.company_id
        LEFT JOIN post_group pg ON sup.group_id = pg.id
        LEFT JOIN post p ON sup.post_id = p.id
        <where>
            <if test="queryForm.userIds != null and queryForm.userIds.length > 0">
                and sup.user_id in
                <foreach collection="queryForm.userIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.orgIds != null and queryForm.orgIds.length > 0">
                and sup.company_id in
                <foreach collection="queryForm.orgIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.postGroupIds != null and queryForm.postGroupIds.length > 0">
                and sup.group_id in
                <foreach collection="queryForm.postGroupIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.postIds != null and queryForm.postIds.length > 0">
                and sup.post_id in
                <foreach collection="queryForm.postIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        group by sup.user_id
        ) sup
        <where>
            <if test="queryForm.workStatus != null and queryForm.workStatus.length > 0">
                and sup.workStatus in
                <foreach collection="queryForm.workStatus" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by
        case when workStatus = 2 then 2 else 1 end,
        convert(sup.name using gbk)
    </select>
    <!-- 根据组织ID、用户ID查询岗位列表(员工管理-可登录组织列表) -->
    <select id="selectUserPostListByUserId" resultType="com.yunya.modules.system.vo.SysUserPostOrgVO">
        select
            sup.id,
            sup.company_id as orgId,
            sup.department_id as orgDeptId,
            d.`name` as deptName,
            sup.post_id as postId,
            sup.group_id as postGroupId,
            c.`name` as name,
            c.`type` as type,
            ifnull( cei.abbreviation, '公司' ) as abbreviation
        from
            sys_user_post sup
            left join ( select cp.id, d.`name` from company_department cp left join department d on cp.department_id = d.id ) d on sup.department_id = d.id
            left join company c on sup.company_id = c.id
            left join clinic_ext_info cei on sup.company_id = cei.company_id
        where sup.user_id = #{userId}
    </select>

    <!-- 根据组织ID、用户ID查询岗位列表 -->
    <select id="selectPostList" resultType="com.yunya.modules.system.vo.PostVO">
        select distinct
            sup.post_id as id,
            p.`name`,
            sup.group_id as postGroupId,
            pg.`name` as postGroupName
        from
            sys_user_post sup
        left join post p ON sup.post_id = p.id
        left join post_group pg on sup.group_id = pg.id
        where
            sup.company_id = #{orgId} and sup.user_id = #{userId}
    </select>
</mapper>