<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.system.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.system.SysUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="TINYINT"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="origin" property="origin" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 插入用户 -->
    <insert id="insertUser" parameterType="com.yunya.models.system.SysUser"
            useGeneratedKeys="true" keyProperty="id">
      INSERT INTO sys_user (
        username,
        password,
        `name`,
        birthday,
        address,
        mobile_phone,
        email,
        gender,
        description,
        province,
        city,
        country,
        origin,
        crt_id,
        crt_name,
        crt_time,
        upd_id,
        upd_time,
        upd_name
      ) VALUES (
        #{username},
        #{password},
        #{name},
        #{birthday},
        #{address},
        #{mobilePhone},
        #{email},
        #{gender},
        #{description},
        #{province},
        #{city},
        #{country},
        #{origin},
        #{crtId},
        #{crtName},
        #{crtTime},
        #{updId},
        #{updTime},
        #{updName}
      )
    </insert>
    <!-- 根据用户ID删除员工信息 -->
    <delete id="deleteEmployeeByUserId">
        delete from sys_employee where user_id = #{id}
    </delete>
    <!-- 检查用户名是否存在 -->
    <select id="checkUserNameUnique" resultType="java.lang.Integer">
      select count(1) from sys_user where `name` = #{name}
    </select>
    <!-- 检查身份证号是否存在 -->
    <select id="checkIdentityUnique" resultType="java.lang.Integer">
      select count(1) from sys_employee where `identity` = #{identity}
    </select>
    <!-- 检查手机号是否存在 -->
    <select id="checkMobileUnique" resultType="java.lang.Integer">
      select count(1) from sys_user where mobile_phone = #{mobile}
    </select>
    <!-- 根据用户名查询用户信息 -->
    <select id="selectSysUserByUsername" resultType="com.yunya.models.system.SysUser">
      select
        id,
        username,
        password,
        `name`,
        birthday,
        address,
        mobile_phone,
        email,
        gender,
        description
      from sys_user
      where username = #{username}
    </select>
    <!-- 根据用户名查询用户信息 -->
    <select id="selectUserInfoByUserName" resultType="com.yunya.feign.system.vo.UserInfo">
        select
            su.id,
            su.username,
            su.password,
            su.`name`,
            su.birthday,
            su.mobile_phone as mobilePhone,
            su.gender,
            su.description,
            se.id as employeeId,
            se.identity,
            se.work_status as workStatus
        from sys_user su
        left join sys_employee se on su.id = se.user_id
        where su.username = #{username}
    </select>
    <!-- 根据用户ID查询用户及员工信息 -->
    <select id="selectSysUserEmployeeInfoByUserId" resultType="com.yunya.feign.system.vo.SysUserInfoDetail">
        SELECT
        user_info.*,
        (
        SELECT
        GROUP_CONCAT( p.`name` )
        FROM
        post p
        WHERE
        FIND_IN_SET( p.id, user_info.postIds )) AS posts,
        (
        SELECT
        GROUP_CONCAT( pg.`name` )
        FROM
        post_group pg
        WHERE
        FIND_IN_SET( pg.id, user_info.groupIds )) AS postGroups,
        (
        SELECT
        GROUP_CONCAT( c.`name` )
        FROM
        company c
        WHERE
        FIND_IN_SET( c.id, user_info.companyIds )) AS companys
        FROM
        (
        SELECT
            su.id AS userId,
            se.id AS employeeId,
            su.username AS username,
            se.`name` AS name,
            sup.company_ids as companyIds,
            sup.post_ids as postIds,
            sup.group_ids as groupIds,
            se.birthday,
            se.address,
            su.mobile_phone AS mobilePhone,
            su.email,
            su.gender,
            su.description,
            se.province,
            se.city,
            se.country,
            se.origin,
            se.identity,
            se.work_status AS workStatus,
            se.bonus_coefficient as bonusCoefficient,
            se.work_amount as workAmount,
            se.work_type AS workType,
            se.contract_signing_date AS contractSigningDate,
            se.entry_date AS entryDate,
            se.graduated_school AS graduatedSchool,
            se.education AS education,
            se.leave_time AS leaveTime,
            se.title,
            se.post_level AS postLevel,
            se.emergency_contact AS emergencyContact,
            se.emergency_contact_phone AS emergencyContactPhone,
            se.discount,
            see.discount_rate AS discountRate,
            see.discount_amount AS discountAmount,
            se.photo,
            se.diploma_photo AS diplomaPhoto,
            se.work_number AS workNumber
        FROM
        sys_user su
        LEFT JOIN sys_employee se ON su.id = se.user_id
        LEFT JOIN sys_employee_ext see ON see.user_id=su.id
        LEFT JOIN (
        SELECT
        sup.user_id,
        GROUP_CONCAT( DISTINCT any_value(sup.company_id) SEPARATOR ',' ) AS company_ids,
        GROUP_CONCAT( DISTINCT any_value(sup.post_id) SEPARATOR ',' ) AS post_ids,
        GROUP_CONCAT( DISTINCT any_value(sup.group_id) SEPARATOR ',' ) AS group_ids
        FROM
        sys_user_post sup
        GROUP BY
        sup.user_id
        ) sup ON su.id = sup.user_id
        ) user_info
        where user_info.userId = #{userId}
    </select>

    <!-- 根据用户ID列表查询用户（员工）信息 -->
    <select id="selectSysUserEmployeeInfoByUserIds" resultType="com.yunya.feign.system.vo.SysUserInfoDetail">
        SELECT
            user_info.*,
            (
                SELECT
                    GROUP_CONCAT( p.`name` )
                FROM
                    post p
                WHERE
                    FIND_IN_SET( p.id, user_info.postIds )) AS posts,
            (
                SELECT
                    GROUP_CONCAT( pg.`name` )
                FROM
                    post_group pg
                WHERE
                    FIND_IN_SET( pg.id, user_info.groupIds )) AS postGroups,
            (
                SELECT
                    GROUP_CONCAT( c.`name` )
                FROM
                    company c
                WHERE
                    FIND_IN_SET( c.id, user_info.companyIds )) AS companys
        FROM
            (
                SELECT
                    su.id AS userId,
                    se.id AS employeeId,
                    su.username AS username,
                    se.`name` AS name,
                    sup.company_ids as companyIds,
                    sup.post_ids as postIds,
                    sup.group_ids as groupIds,
                    se.birthday,
                    se.address,
                    su.mobile_phone AS mobilePhone,
                    su.email,
                    su.gender,
                    su.description,
                    se.province,
                    se.city,
                    se.country,
                    se.origin,
                    se.identity,
                    se.work_status AS workStatus,
                    se.bonus_coefficient as bonusCoefficient,
                    se.work_amount as workAmount,
                    se.work_type AS workType,
                    se.contract_signing_date AS contractSigningDate,
                    se.entry_date AS entryDate,
                    se.graduated_school AS graduatedSchool,
                    se.education AS education,
                    se.leave_time AS leaveTime,
                    se.title,
                    se.post_level AS postLevel,
                    se.emergency_contact AS emergencyContact,
                    se.emergency_contact_phone AS emergencyContactPhone,
                    se.discount,
                    se.photo,
                    se.diploma_photo AS diplomaPhoto,
                    se.work_number AS workNumber
                FROM
                    sys_user su
                        LEFT JOIN sys_employee se ON su.id = se.user_id
                        LEFT JOIN (
                        SELECT
                            sup.user_id,
                            GROUP_CONCAT( DISTINCT any_value(sup.company_id) SEPARATOR ',' ) AS company_ids,
                            GROUP_CONCAT( DISTINCT any_value(sup.post_id) SEPARATOR ',' ) AS post_ids,
                            GROUP_CONCAT( DISTINCT any_value(sup.group_id) SEPARATOR ',' ) AS group_ids
                        FROM
                            sys_user_post sup
                        GROUP BY
                            sup.user_id
                    ) sup ON su.id = sup.user_id
            ) user_info
        where user_info.userId in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
        order by
        user_info.workStatus asc,
        user_info.userId desc
    </select>

    <!-- 根据条件查询员工详细信息 -->
    <select id="selectSysUserInfoDetailList" parameterType="java.util.Map"
            resultType="com.yunya.feign.system.vo.SysUserInfoDetail">
        SELECT
        user_info.*,
        (
        SELECT
        GROUP_CONCAT( p.`name` )
        FROM
        post p
        WHERE
        FIND_IN_SET( p.id, user_info.postIds )) AS posts,
        (
        SELECT
        GROUP_CONCAT( pg.`name` )
        FROM
        post_group pg
        WHERE
        FIND_IN_SET( pg.id, user_info.groupIds )) AS postGroups,
        (
        SELECT
        GROUP_CONCAT( c.`name` )
        FROM
        company c
        WHERE
        FIND_IN_SET( c.id, user_info.companyIds )) AS companys
        FROM
        (
        SELECT
        su.id AS userId,
        se.id AS employeeId,
        su.username AS username,
        se.`name` AS name,
        se.pinyin as pinyin,
        sup.company_ids as companyIds,
        sup.post_ids as postIds,
        sup.group_ids as groupIds,
        se.birthday,
        se.address,
        su.mobile_phone AS mobilePhone,
        su.email,
        su.gender,
        su.gender as genderValue,
        su.description,
        se.province,
        se.city,
        se.country,
        se.origin,
        se.identity,
        se.work_status AS workStatus,
        se.bonus_coefficient as bonusCoefficient,
        se.work_amount as workAmount,
        se.work_type AS workType,
        se.contract_signing_date AS contractSigningDate,
        se.entry_date AS entryDate,
        se.graduated_school AS graduatedSchool,
        se.education AS education,
        se.leave_time AS leaveTime,
        se.title,
        se.post_level AS postLevel,
        se.emergency_contact AS emergencyContact,
        se.emergency_contact_phone AS emergencyContactPhone,
        se.discount,
        see.discount_rate AS discountRate,
        see.discount_amount AS discountAmount,
        se.photo,
        se.diploma_photo AS diplomaPhoto,
        se.work_number AS workNumber,
        se.category,
        se.registration,
        se.permanent_address AS permanentAddress,
        se.graduation_time AS graduationTime,
        se.study_major AS studyMajor,
        se.last_job AS lastJob,
        se.probation_period_time AS probationPeriodTime
        FROM
        sys_user su
        LEFT JOIN sys_employee se ON su.id = se.user_id
        LEFT JOIN sys_employee_ext see ON see.user_id=su.id
        LEFT JOIN (
        SELECT
        sup.user_id,
        GROUP_CONCAT( DISTINCT any_value(sup.company_id) SEPARATOR ',' ) AS company_ids,
        GROUP_CONCAT( DISTINCT any_value(sup.group_id) SEPARATOR ',' ) AS group_ids,
        GROUP_CONCAT( DISTINCT any_value(sup.post_id) SEPARATOR ',' ) AS post_ids
        FROM
        sys_user_post sup
        <where>
            <if test="queryForm.userId != null">
                and sup.user_id = #{queryForm.userId}
            </if>
            <if test="queryForm.orgIds != null and queryForm.orgIds.size > 0">
                and sup.company_id in
                <foreach collection="queryForm.orgIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.postGroupIds != null and queryForm.postGroupIds.size > 0">
                and sup.group_id in
                <foreach collection="queryForm.postGroupIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}

                </foreach>
            </if>
            <if test="queryForm.postIds != null and queryForm.postIds.size > 0">
                and sup.post_id in
                <foreach collection="queryForm.postIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY
        sup.user_id
        ) sup ON su.id = sup.user_id
        ) user_info
        <where>
            <if test="queryForm.userId != null">
                and user_info.userId = #{queryForm.userId}
            </if>
            <if test="queryForm.orgIds != null and queryForm.orgIds.size > 0">
                and
                <foreach collection="queryForm.orgIds" item="item" index="index" open="(" close=")" separator="or">
                    FIND_IN_SET(#{item}, user_info.companyIds)
                </foreach>
            </if>
            <if test="queryForm.postGroupIds != null and queryForm.postGroupIds.size > 0">
                and
                <foreach collection="queryForm.postGroupIds" item="item" index="index" open="(" close=")"
                         separator="or">
                    FIND_IN_SET(#{item}, user_info.groupIds)
                </foreach>
            </if>
            <if test="queryForm.postIds != null and queryForm.postIds.size > 0">
                and
                <foreach collection="queryForm.postIds" item="item" index="index" open="(" close=")" separator="or">
                    FIND_IN_SET(#{item}, user_info.postIds)
                </foreach>
            </if>
            <if test="queryForm.keyWord != null and queryForm.keyWord != ''">
                and CONCAT(IFNULL(user_info.name, ''), IFNULL(user_info.mobilePhone, ''), IFNULL(user_info.pinyin, ''))
                like concat('%', #{queryForm.keyWord} ,'%')
            </if>
            <if test="queryForm.userName!=null and queryForm.userName!=''">
                and IFNULL(user_info.name, '') like concat('%', #{queryForm.userName} ,'%')
            </if>
            <if test="queryForm.workStatus != null and queryForm.workStatus.length > 0">
                and user_info.workStatus in
                <foreach collection="queryForm.workStatus" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.userIds!=null and queryForm.userIds.size() > 0">
                and user_info.userId in
                <foreach collection="queryForm.userIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.name!=null and queryForm.name!=''">
                and user_info.name = #{queryForm.name}
            </if>
        </where>
        order by
        user_info.workStatus asc,
        user_info.userId desc
    </select>

    <!-- 根据条件查询员工组织信息列表 -->
    <select id="selectSysEmployeeWithOrgList" resultType="com.yunya.feign.system.vo.SysUserInfoDetail">
        SELECT
            t2.user_id as userId,
            t2.name,
            t4.id AS companyIds,
            t4.name AS companys,
            t2.work_status AS workStatus,
            t2.leave_time AS leaveTime
        FROM sys_user t1
        LEFT JOIN sys_employee t2 ON t1.id = t2.user_id
        LEFT JOIN (select company_id,user_id from sys_user_post group by company_id,user_id) t3 ON t1.id = t3.user_id
        LEFT JOIN company t4 ON t3.company_id = t4.id
        <where>
            <if test="queryForm.userName != null and queryForm.userName != ''">
                and IFNULL(t2.name, '') like concat('%', #{queryForm.userName} ,'%')
            </if>
            <if test="queryForm.orgIds!=null and queryForm.orgIds.size()>0">
                and t4.id in
                <foreach collection="queryForm.orgIds" item="item" index="index" open="(" close=")" separator="or">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.workStatus!=null and queryForm.workStatus.length>0">
                and t2.work_status in
                <foreach collection="queryForm.workStatus" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.userIds!=null and queryForm.userIds.size() > 0">
                and t2.user_id in
                <foreach collection="queryForm.userIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="queryForm.userOrgIds!=null and queryForm.userOrgIds.size() > 0">
                and CONCAT(t2.user_id,',',t4.id) in
                <foreach collection="queryForm.userOrgIds" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by t1.id desc
    </select>
</mapper>