<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.system.mapper.SysUserPostMapper">
    <resultMap id="BaseResultMap" type="com.yunya.modules.system.entity.SysUserPost">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="company_id" property="companyId" jdbcType="INTEGER"/>
        <result column="department_id" property="departmentId" jdbcType="INTEGER"/>
        <result column="post_id" property="postId" jdbcType="INTEGER"/>
        <result column="system_id" property="systemId" jdbcType="INTEGER"/>
        <result column="group_id" property="groupId" jdbcType="INTEGER"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 校验组织部门下是否存在同一员工 -->
    <select id="checkOrgDeptUnique" resultType="java.lang.Integer">
      select
        count(1)
      from sys_user_post
      where user_id = #{userId} and department_id = #{orgDeptId}
    </select>
    <!-- 检验员工在同一个组织下是否存在同一个岗位 -->
    <select id="checkOrgPostUnique" resultType="java.lang.Integer">
      select count(1)
      from sys_user_post
      where user_id = #{userId} and department_id = #{orgId} and post_id = #{postId}
    </select>
    <!-- 根据用户ID查询可登陆组织列表 -->
    <select id="selectListByUserId" resultType="com.yunya.modules.system.vo.SysUserLoginOrgVO">
        select
            distinct sup.company_id as orgId,
            c.`name` as name,
            c.`type` as type,
            ifnull(cei.abbreviation,'公司') as abbreviation
        from sys_user_post sup
        left join company c on sup.company_id = c.id
        left join clinic_ext_info cei on sup.company_id = cei.company_id
        where sup.user_id = #{userId}
    </select>

    <!-- 根据组织ID、用户ID查询岗位列表(员工管理-可登录组织列表) -->
    <select id="selectUserPostListByUserId" resultType="com.yunya.modules.system.vo.SysUserPostOrgVO">
        select
            sup.id,
            sup.company_id as orgId,
            sup.department_id as orgDeptId,
            sup.post_id as postId,
            c.`name` as name,
            c.`type` as type,
            ifnull(cei.abbreviation,'公司') as abbreviation
        from sys_user_post sup
        left join company c on sup.company_id = c.id
        left join clinic_ext_info cei on sup.company_id = cei.company_id
        where sup.user_id = #{userId}
    </select>

    <!-- 根据组织ID、用户ID查询岗位列表 -->
    <select id="selectPostList" resultType="com.yunya.modules.system.vo.PostVO">
        select distinct
            sup.post_id as id,
            p.`name`,
            sup.group_id as postGroupId,
            pg.`name` as postGroupName
        from
            sys_user_post sup
        left join post p ON sup.post_id = p.id
        left join post_group pg on sup.group_id = pg.id
        where
            sup.company_id = #{orgId} and sup.user_id = #{userId}
    </select>

</mapper>