<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya365.mini.mapper.ExpertIntroductionMapper" >
  <resultMap id="BaseResultMap" type="com.yunya365.mini.entity.ExpertIntroduction" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="appellation" property="appellation" jdbcType="VARCHAR" />
    <result column="honor" property="honor" jdbcType="VARCHAR" />
    <result column="expertise" property="expertise" jdbcType="VARCHAR" />
    <result column="picture_address" property="pictureAddress" jdbcType="VARCHAR" />
    <result column="is_sort" property="isSort" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="findExpertIntroductionList" resultType="com.yunya.feign.ivy_mini.domain.vo.ExpertIntroductionVO">
    SELECT
    ei.id,
    ei.name,
    ei.appellation as appellation,
    ei.visit_clinic as visitClinic,
    ei.visit_time as visitTime,
    GROUP_CONCAT(at.`name`) as typeName,
    GROUP_CONCAT(at.`id`) as typeId,
    ei.honor as honor,
    ei.expertise as expertise,
    ei.picture_address as pictureAddress,
    ei.is_sort as isSort,
    ei.sort_num as sortNum,
    ei.status as status,
    ei.crt_time as crtTime,
    ei.upd_time as updTime
    FROM expert_introduction ei
    LEFT JOIN expert_type et on ei.id = et.expert_id
    LEFT JOIN article_type at on at.id = et.type_id
    <where>
      <if test="name!=null and name!=''">
        AND ei.name like CONCAT(CONCAT('%',#{name}),'%')
      </if>
      <if test="status != null">
        AND ei.status = #{status}
      </if>
      <if test="sort!=null and sort!=''">
        AND is_sort = #{sort}
      </if>
      <if test="typeIds != null and typeIds.length > 0">
        and et.type_id in
        <foreach collection="typeIds" item="item" index="index" open="(" close=")" separator=",">
          #{item}
        </foreach>
      </if>
    </where>
    group BY ei.id
    order by ei.is_sort ${isSort} ,sort_num is null, sort_num ,
    ei.crt_time  desc
  </select>
  <update id="updateAllList">
  UPDATE expert_introduction
  SET
	is_sort = 0,
    sort_num = NULL
  </update>
  <update id="updateList" parameterType="java.util.List">
    update `expert_introduction`
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="is_sort = case" suffix="end,">
        <foreach collection="list" item="item" index="index">
          <if test="item.isSort != null">
            when `id` = #{item.id} then #{item.isSort}
          </if>
        </foreach>
      </trim>
      <trim prefix="sort_num = case" suffix="end,">
        <foreach collection="list" item="item" index="index">
          <if test="item.sortNum != null">
            when `id` = #{item.id} then #{item.sortNum}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item.id}
    </foreach>
  </update>
</mapper>