<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya365.mini.mapper.FansPickUpMapper" >
  <resultMap id="BaseResultMap" type="com.yunya365.mini.entity.FansPickUp" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fans_id" property="fansId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="default_status" property="defaultStatus" jdbcType="INTEGER"/>
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="findList" resultType="com.yunya.feign.ivy_mini.domain.vo.FansPickUpVO">
    select id,fans_id as fansId,name,phone_number as phoneNumber,default_status as defaultStatus
    from fans_pick_up
    where fans_id = #{fansId}
  </select>
</mapper>