<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya365.mini.mapper.FansReceiveAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yunya365.mini.entity.FansReceiveAddress">
        <id column="id" property="id" />
        <result column="fans_id" property="fansId" />
        <result column="name" property="name" />
        <result column="phone_number" property="phoneNumber" />
        <result column="post_code" property="postCode" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="region" property="region" />
        <result column="detail_address" property="detailAddress" />
        <result column="default_status" property="defaultStatus" />
        <result column="tag" property="tag" />
        <result column="crt_time" property="crtTime" />
        <result column="upd_time" property="updTime" />
    </resultMap>

</mapper>
