<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya365.mini.mapper.OrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yunya365.mini.entity.OrderInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fans_id" property="fansId" jdbcType="INTEGER" />
    <result column="order_sn" property="orderSn" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
    <result column="freight_amount" property="freightAmount" jdbcType="DECIMAL" />
    <result column="coupon_amount" property="couponAmount" jdbcType="DECIMAL" />
    <result column="pay_type" property="payType" jdbcType="TINYINT" />
    <result column="source_type" property="sourceType" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="order_type" property="orderType" jdbcType="TINYINT" />
    <result column="delivery_type" property="deliveryType" jdbcType="TINYINT" />
    <result column="delivery_company" property="deliveryCompany" jdbcType="VARCHAR" />
    <result column="delivery_sn" property="deliverySn" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="confirm_status" property="confirmStatus" jdbcType="TINYINT" />
    <result column="delete_status" property="deleteStatus" jdbcType="TINYINT" />

    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
    <result column="receiver_phone" property="receiverPhone" jdbcType="VARCHAR" />
    <result column="receiver_post_code" property="receiverPostCode" jdbcType="VARCHAR" />
    <result column="receiver_province" property="receiverProvince" jdbcType="VARCHAR" />
    <result column="receiver_city" property="receiverCity" jdbcType="VARCHAR" />
    <result column="receiver_region" property="receiverRegion" jdbcType="VARCHAR" />
    <result column="receiver_detail_address" property="receiverDetailAddress" jdbcType="VARCHAR" />

    <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="delivery_time" property="deliveryTime" jdbcType="TIMESTAMP" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="comment_time" property="commentTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="DetailResultMap" type="com.yunya.feign.ivy_mini.domain.vo.OrderWechatDetailVO" >

    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="fansId" property="fansId" jdbcType="INTEGER" />
    <result column="orderSn" property="orderSn" jdbcType="VARCHAR" />
    <result column="crtTIme" property="crtTIme" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="deliveryCompany" property="deliveryCompany" jdbcType="VARCHAR" />
    <result column="receivingInformation" property="receivingInformation" jdbcType="VARCHAR" />
    <result column="payAmount" property="payAmount" jdbcType="DECIMAL" />
    <result column="deliverySn" property="deliverySn" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="receiverName" property="receiverName" jdbcType="VARCHAR" />
    <result column="receiverPhone" property="receiverPhone" jdbcType="VARCHAR" />
    <collection property="topGradeList" resultMap="ItemResultMap"/>
  </resultMap>

  <resultMap id="ItemResultMap" type="com.yunya.feign.ivy_mini.domain.vo.OrderItemVO" >
    <result column="productPrice" property="productPrice" jdbcType="DECIMAL" />
    <result column="productName" property="productName" jdbcType="VARCHAR" />
    <result column="productQuantity" property="productQuantity" jdbcType="INTEGER" />
  </resultMap>
  <select id="findOrderList" resultType="com.yunya.feign.ivy_mini.domain.vo.OrderVO">
    select
    od.id,
    od.fans_id,
    od.status,
    od.order_sn,
    od.confirm_status,
    od.crt_time,
    od.pay_amount,
    od.delivery_company,
    GROUP_CONCAT(oi.product_name ) as topGradeList,
    od.receiver_detail_address as address,
    od.receiver_name as receiverName,
    od.receiver_phone as receiverPhone
    FROM
    `order_info`  od
    LEFT JOIN order_item oi ON od.id = oi.order_id
    <where>
      <if test="crtTime != null and crtTime != ''">
        and DATE_FORMAT(od.crt_time, "%Y-%m-%d" ) = DATE_FORMAT( #{crtTime}, "%Y-%m-%d" )
      </if>
      <if test="nameList != null and nameList.size > 0">
        and od.fans_id in
        <foreach collection="nameList" item="item" index="index" open="(" close=")" separator=",">
          #{item}
        </foreach>
      </if>
      <if test="status != null and status != ''">
        and status =  #{status}
      </if>
      <if test="orderType != null and orderType != ''">
        and order_type =  #{orderType}
      </if>
    </where>
    GROUP BY
    od.id
  </select>
  <select id="findDetail" resultMap="DetailResultMap">
    select
    od.id as id,
    od.fans_id as fansId,
    od.status as status,
    od.order_sn as orderSn,
    od.confirm_status as confirmStatus,
    od.crt_time as crtTIme,
    od.pay_amount as payAmount ,
    od.delivery_company as deliveryCompany,
    od.delivery_sn AS deliverySn,
    od.remark as remark,
    oi.product_name as productName,
    oi.product_price as productPrice,
    oi.product_quantity as productQuantity,
    od.receiver_detail_address as address,
    od.receiver_name as receiverName,
    od.receiver_phone as receiverPhone
    FROM
    `order_info`  od
    LEFT JOIN order_item oi ON od.id = oi.order_id
    where od.id = #{id}

  </select>
</mapper>