<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya365.mini.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.yunya365.mini.entity.Order" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fans_id" property="fansId" jdbcType="INTEGER" />
    <result column="order_sn" property="orderSn" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
    <result column="freight_amount" property="freightAmount" jdbcType="DECIMAL" />
    <result column="coupon_amount" property="couponAmount" jdbcType="DECIMAL" />
    <result column="pay_type" property="payType" jdbcType="TINYINT" />
    <result column="source_type" property="sourceType" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="order_type" property="orderType" jdbcType="TINYINT" />
    <result column="delivery_company" property="deliveryCompany" jdbcType="VARCHAR" />
    <result column="delivery_sn" property="deliverySn" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="confirm_status" property="confirmStatus" jdbcType="TINYINT" />
    <result column="delete_status" property="deleteStatus" jdbcType="TINYINT" />
    <result column="payment_time" property="paymentTime" jdbcType="TIMESTAMP" />
    <result column="delivery_time" property="deliveryTime" jdbcType="TIMESTAMP" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="comment_time" property="commentTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="findOrderList" resultType="com.yunya.feign.ivy_mini.domain.vo.OrderVO">
          select
    od.id,
    od.fans_id,
    od.status,
    od.order_sn,
    od.confirm_status,
	od.crt_time,
	od.pay_amount,
	od.delivery_company,
    GROUP_CONCAT(oi.product_name ) as topGradeList,
    ad.address
    FROM
	`order`  od
    LEFT JOIN address ad ON od.fans_id = ad.fan_id
    LEFT JOIN order_item oi ON od.id = oi.order_id
    <where>
      <if test="crtTime != null and crtTime != ''">
        and DATE_FORMAT(od.crt_time, "%Y-%m-%d" ) = DATE_FORMAT( #{crtTime}, "%Y-%m-%d" )
      </if>
      <if test="nameList != null and nameList.size > 0">
        and od.fans_id in
        <foreach collection="nameList" item="item" index="index" open="(" close=")" separator=",">
          #{item}
        </foreach>
      </if>
      <if test="status != null and status != ''">
        and status =  #{status}
      </if>
      <if test="orderType != null and orderType != ''">
        and order_type =  #{orderType}
      </if>
    </where>
    GROUP BY
	od.id
  </select>
</mapper>