<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.discount.mapper.CardMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.discount.Card">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="org_id" jdbcType="INTEGER" property="orgId" />
        <result column="coupon_id" jdbcType="INTEGER" property="couponId" />
        <result column="coupon_allocate_id" jdbcType="INTEGER" property="couponAllocateId"/>
        <result column="active_org_id" jdbcType="INTEGER" property="activeOrgId" />
        <result column="patient_id" jdbcType="INTEGER" property="patientId" />
        <result column="card_number" jdbcType="VARCHAR" property="cardNumber" />
        <result column="card_password" jdbcType="VARCHAR" property="cardPassword" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="sold_target" jdbcType="VARCHAR" property="soldTarget" />
        <result column="sold_phone_number" jdbcType="VARCHAR" property="soldPhoneNumber" />
        <result column="sold_type" jdbcType="TINYINT" property="soldType" />
        <result column="is_send_text" jdbcType="TINYINT" property="sendText" />
        <result column="is_sold_and_pay" jdbcType="TINYINT" property="soldAndPay" />
        <result column="pay_id" jdbcType="INTEGER" property="payId" />
        <result column="sharer" jdbcType="VARCHAR" property="sharer" />
        <result column="sale_channel_id" jdbcType="INTEGER" property="saleChannelId" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="link" jdbcType="VARCHAR" property="link" />
        <result column="sold_way" jdbcType="TINYINT" property="soldWay" />
        <result column="is_pay" jdbcType="TINYINT" property="pay" />
        <result column="active_date" jdbcType="TIMESTAMP" property="activeDate"/>
        <result column="crt_id" jdbcType="INTEGER" property="crtId" />
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
        <result column="upd_id" jdbcType="INTEGER" property="updId" />
        <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
    </resultMap>

    <select id="countByAllocateId" resultType="int">
        select
            count(*)
        from `card`
        where `coupon_allocate_id` in
            <foreach collection="couponAllocateIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
    </select>

    <select id="getSumNumByCouponId" resultType="int">
        select
            ifnull(count(`coupon_id`), 0)
        from `card`
        where `coupon_id` = #{couponId}
    </select>

    <insert id="insertList" parameterType="List">
        insert into
            `card`
            (`org_id`, `coupon_id`, `coupon_allocate_id`, `card_number`, `card_password`, `status`, `crt_id`, `crt_time`,
              `upd_id`)
        values
        <foreach collection="List" item="item" separator=",">
            (#{item.orgId}, #{item.couponId}, #{item.couponAllocateId}, #{item.cardNumber},
             #{item.cardPassword},#{item.status},#{item.crtId},#{item.crtTime},#{item.updId})
        </foreach>
    </insert>

    <select id="listViewVosByParam" resultType="com.yunya.feign.discount.domain.bo.ViewAllocateBo">
        select
        concat_ws(' - ', Min(`card_number`), MAX(`card_number`))  as `numberSegment`,
            `org_id`                                              as `allocateOrgId`
        from `card`
        where `coupon_id` = #{couponId}
          and `coupon_allocate_id` in
            <foreach collection="couponAllocateIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        group by `coupon_allocate_id`
        order by `card_number` asc;
    </select>

    <select id="listExportVosByParam" resultMap="BaseResultMap">
        select
            `card_number`,
            `card_password`,
            `org_id`
        from `card`
        where `coupon_id` = #{couponId}
        and `coupon_allocate_id` in
        <foreach collection="couponAllocateIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by `card_number` asc;
    </select>

    <select id="listSaleInfoByParam" resultType="com.yunya.feign.discount.domain.bo.CouponSaleBo">
        select
            `cci`.id                                                                       as `couponId`,
            `cci`.name                                                                     as `couponName`,
            `cci`.`type`                                                                   as `couponType`,
            concat_ws(' - ', date_format(`cci`.`available_sale_start_date`, '%Y/%m/%d'),
                      date_format(`cci`.`available_sale_end_date`, '%Y/%m/%d'))            as `saleSegment`,
            `cci`.`sold_amount`                                                            as `soldAmount`,
            sum(`ca`.`allocate_num`)                                                       as `allocateNum`,
            (select
                 sum(`c`.`status` in (1, 2))
             from `card` `c`
             where `c`.`coupon_id` = `ca`.`coupon_id`
               and `c`.`org_id` = `ca`.`org_id`
             group by `c`.`coupon_id`, `c`.`org_id`)                                       as `soldNum`,
             `ca`.`org_id`                                                                 as `orgId`
        from `coupon_common_info` `cci`
             inner join `coupon_allocate` `ca` on `cci`.`id` = `ca`.`coupon_id`
        where `ca`.`org_id` = #{orgId}
            and isnull(`ca`.`allocate_user_id`) = 0
            and isnull(`ca`.`allocate_date`) = 0
            <if test="couponName !=null and couponName != ''">
                and `cci`.`name` like concat('%', #{couponName}, '%')
            </if>
            <if test="couponTypeList != null and couponTypeList.size() > 0">
                and `cci`.`type` in
                <foreach collection="couponTypeList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        group by `ca`.`coupon_id`, `ca`.`org_id`
    </select>

    <select id="listCardInfosByParam" resultMap="BaseResultMap">
        select
            `id`,
            `card_number`,
            `card_password`,
            `sold_target`,
            `sold_phone_number`,
            `sold_type`,
            `link`,
            `status`,
            `is_pay`,
            `sold_way`
        from `card`
        where `coupon_id` = #{couponId}
            and `org_id` = #{orgId}
            <if test="cardNumber !=null and cardNumber != ''">
                and `card_number` like concat('%', #{cardNumber}, '%')
            </if>
            <if test="phoneNumber !=null and phoneNumber != ''">
                and `sold_phone_number` like concat('%', #{phoneNumber}, '%')
            </if>
            <if test="soldTypeList != null and soldTypeList.size() > 0">
                and `sold_type` in
                <foreach collection="soldTypeList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="cardStatsList != null and cardStatsList.size() > 0">
                and `status` in
                <foreach collection="cardStatsList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        order by `status` asc, `id` asc
    </select>

    <select id="getOrgCardSoldInfoByParam" resultType="int">
        select
            count(`id`) - sum(`status` in (1, 2))
        from `card`
        where `coupon_id` = #{couponId}
          and `org_id` = #{orgId}
        group by `coupon_id`, `org_id`;
    </select>

    <select id="findByCardNumAndPass" resultType="com.yunya.feign.discount.domain.vo.CardActiveDetailVo">
        select
            `c`.`id`,
            `c`.`card_number`,
            `c`.`sold_target`,
            `c`.`sold_phone_number`,
            case
                when `c`.`is_sold_and_pay` = 1 then `cci`.`sold_amount`
                else 0
                end              as `paidAmount`,
            case
                when `c`.`is_sold_and_pay` = 0 then 1
                else 0
                end              as `charge`,
            case
                when `c`.`is_sold_and_pay` = 0 then `cci`.`sold_amount`
                else 0
                end              as `soldAmount`
        from `card` `c`
             inner join `coupon_common_info` `cci` on `c`.`coupon_id` = `cci`.`id`
        where `c`.`card_number` = #{cardNumber}
          and `c`.`card_password` = #{cardPassword}
    </select>

    <select id="listPatientCardsByParam" resultType="com.yunya.feign.discount.domain.bo.PatientCardBo">
        select
            `c`.`id`                                   as `cardId`,
            `cci`.`id`                                 as `couponId`,
            `cci`.`name`                               as `couponName`,
            `c`.`card_number`,
            `cci`.`type`                               as `couponType`,
            `cci`.`product_type_id`,
            `c`.`sale_channel_id`,
            case
                when `cci`.`type` = 2 then
                        (select `use_way` from `package_coupon` where `coupon_id` = `c`.`coupon_id`)
                when `cci`.`type` = 2 then
                    (select `use_way` from `special_package_coupon` where `coupon_id` = `c`.`coupon_id`)
                else null
                end                                as `useWay`,
            case
                when `cci`.`type` = 0 then
                    (select
                         date_format(date_add(`c`.`active_date`, interval `effective_days` day), '%Y-%m-%d')
                     from `vouche_coupon`
                     where `coupon_id` = `c`.coupon_id)
                when `cci`.`type` = 1 then
                    (select
                         date_add(`c`.`active_date`, interval `effective_days` day)
                     from `discount_coupon`
                     where `coupon_id` = `c`.`coupon_id`)
                when `cci`.`type` = 2 then
                    (select
                         date_add(`c`.`active_date`, interval `effective_days` day)
                     from `package_coupon`
                     where `coupon_id` = `c`.`coupon_id`)
                when `cci`.`type` = 3 then
                    (select
                         date_add(`c`.`active_date`, interval `effective_days` day)
                     from `special_package_coupon`
                     where `coupon_id` = `c`.`coupon_id`)
                else null
                end                                    as `useDeadline`,
            date_format(`c`.`active_date`, '%Y-%m-%d') as `activeDate`,
            case
                when `cci`.`type` = 0 then
                        (select `is_share` from `vouche_coupon` where `coupon_id` = `c`.`coupon_id`)
                when `cci`.`type` = 1 then
                        (select `is_share` from `discount_coupon` where `coupon_id` = `c`.`coupon_id`)
                when `cci`.`type` = 2 then
                        (select `is_share` from `package_coupon` where `coupon_id` = `c`.`coupon_id`)
                when `cci`.`type` = 3 then
                    (select `is_share` from `special_package_coupon` where `coupon_id` = `c`.`coupon_id`)
                else null
                end                                     as `share`
            <if test="queryType != null and queryType == 1">
                , `c`.`patient_id`                      as `cardOwner`
            </if>
        from `card` `c`
             inner join `coupon_common_info` `cci` on `c`.`coupon_id` = `cci`.`id`
        where
            <!-- 0：自有产品 1：共享产品-->
            <if test="queryType != null and queryType == 0">
                `c`.`patient_id` = #{patientId}
            </if>
            <if test="queryType != null and queryType == 1">
                find_in_set(#{patientId}, `c`.`sharer`) and `c`.`patient_id` != #{patientId}
            </if>
            <if test="couponName !=null and couponName != ''">
                and `cci`.`name` like concat('%', #{couponName}, '%')
            </if>
            <if test="couponTypeList != null and couponTypeList.size() > 0">
                and `cci`.`type` in
                <foreach collection="couponTypeList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
    </select>
</mapper>