<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.discount.mapper.CardMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.discount.Card">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="org_id" jdbcType="INTEGER" property="orgId" />
        <result column="coupon_id" jdbcType="INTEGER" property="couponId" />
        <result column="coupon_allocate_id" jdbcType="INTEGER" property="couponAllocateId"/>
        <result column="active_org_id" jdbcType="INTEGER" property="activeOrgId" />
        <result column="patient_id" jdbcType="INTEGER" property="patientId" />
        <result column="card_number" jdbcType="VARCHAR" property="cardNumber" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="sold_target" jdbcType="VARCHAR" property="soldTarget" />
        <result column="sold_phone_number" jdbcType="VARCHAR" property="soldPhoneNumber" />
        <result column="sold_type" jdbcType="TINYINT" property="soldType" />
        <result column="is_send_text" jdbcType="TINYINT" property="sendText" />
        <result column="is_sold_and_pay" jdbcType="TINYINT" property="soldAndPay" />
        <result column="pay_type_id" jdbcType="INTEGER" property="payTypeId" />
        <result column="pay_id" jdbcType="INTEGER" property="payId" />
        <result column="sharer" jdbcType="VARCHAR" property="sharer" />
        <result column="sale_channel_id" jdbcType="INTEGER" property="saleChannelId" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="link" jdbcType="VARCHAR" property="link" />
        <result column="sold_way" jdbcType="TINYINT" property="soldWay" />
        <result column="is_pay" jdbcType="TINYINT" property="pay" />
        <result column="crt_id" jdbcType="INTEGER" property="crtId" />
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
        <result column="upd_id" jdbcType="INTEGER" property="updId" />
        <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
    </resultMap>

    <select id="countByAllocateId" resultType="int">
        select
            count(*)
        from `card`
        where `coupon_allocate_id` in
            <foreach collection="couponAllocateIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
    </select>

    <select id="getMaxNumByCouponId" resultType="int">
        select
            ifnull(max(`coupon_id`), 0)
        from `card`
        where `coupon_id` = #{couponId}
    </select>
</mapper>