<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.discount.mapper.CardBenefitMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.discount.CardBenefit">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="org_id" jdbcType="INTEGER" property="orgId"/>
        <result column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="order_detail_id" jdbcType="INTEGER" property="orderDetailId"/>
        <result column="coupon_id" jdbcType="INTEGER" property="couponId"/>
        <result column="coupon_type" jdbcType="TINYINT" property="couponType"/>
        <result column="card_id" jdbcType="INTEGER" property="cardId"/>
        <result column="patient_id" jdbcType="INTEGER" property="patientId"/>
        <result column="benefit_type" jdbcType="TINYINT" property="benefitType"/>
        <result column="item_index" jdbcType="INTEGER" property="itemIndex"/>
        <result column="item_id" jdbcType="INTEGER" property="itemId"/>
        <result column="item_type" jdbcType="TINYINT" property="itemType"/>
        <result column="benefit_amount" jdbcType="DECIMAL" property="benefitAmount"/>
        <result column="supply_workload" jdbcType="DECIMAL" property="supplyWorkload"/>
        <result column="operate_type" jdbcType="TINYINT" property="operateType"/>
        <result column="is_deleted" jdbcType="BIT" property="deleted"/>
        <result column="sort" jdbcType="BIT" property="sort"/>
        <result column="crt_id" jdbcType="INTEGER" property="crtId"/>
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime"/>
        <result column="upd_id" jdbcType="INTEGER" property="updId"/>
        <result column="upd_time" jdbcType="TIMESTAMP" property="updTime"/>
    </resultMap>

    <insert id="insertList" parameterType="List">
        insert into
        `card_benefit`
            (`org_id`, `order_id`, `order_detail_id`, `coupon_id`, `patient_id`, `card_id`, `item_id`, `item_type`,
            `coupon_type`, `benefit_type`, `item_index`, `benefit_amount`, `supply_workload`, `operate_type`,`sort`,
            `crt_id`, `upd_id`)
        values
        <foreach collection="List" item="item" separator=",">
            (#{item.orgId}, #{item.orderId}, #{item.orderDetailId}, #{item.couponId}, #{item.patientId}, #{item.cardId},
            #{item.itemId}, #{item.itemType}, #{item.couponType}, #{item.benefitType}, #{item.itemIndex}, #{item.benefitAmount},
            #{item.supplyWorkload}, #{item.operateType}, #{item.sort}, #{item.crtId}, #{item.updId})
        </foreach>
    </insert>

    <select id="getCardUseInfo" resultType="com.yunya.feign.discount.domain.bo.CardUseBo">
        select
            `c`.`id`                    as `cardId`,
            `c`.`coupon_id`,
            <if test="couponType != null and couponType == 2">
                `pc`.`use_way`,
                ifnull(sum(`pci`.`count`),0) as `total`,
                if(ifnull(sum(`pci`.`count`), 0) > `temp`.`usecount`,
                    1,
                    0)          as `usable`,
            </if>
            <if test="couponType != null and couponType == 3">
                `spc`.`use_way`,
                ifnull(sum(`spci`.`count`),0) as `total`,
                if(ifnull(sum(`spci`.`count`), 0) > `temp`.`usecount`,
                    1,
                    0)          as `usable`,
            </if>
            ifnull(`temp`.`usecount`,0)  as `usecount`
        from `card` `c`
             left join (
                 select
                     `cb`.`card_id`,
                     count(`cb`.`coupon_type`) as `usecount`
                 from `card_benefit` `cb`
                 where `cb`.`coupon_type` = #{couponType}
                    and `cb`.`is_deleted` = 0
                 group by `cb`.`card_id`
             ) temp on `c`.`id` = `temp`.`card_id`
             <if test="couponType != null and couponType == 2">
                 inner join `package_coupon` `pc` on `pc`.`coupon_id` = `c`.`coupon_id`
                 inner join `package_coupon_item` `pci` on `pc`.`coupon_id` = `pci`.`coupon_id`
             </if>
             <if test="couponType != null and couponType == 3">
                 inner join `special_package_coupon` `spc` on `spc`.`coupon_id` = `c`.`coupon_id`
                 inner join `special_package_coupon_item` `spci` on `spc`.`coupon_id` = `spci`.`coupon_id`
             </if>
        where c.id in
            <foreach collection="cardIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        group by `c`.`id`
    </select>

    <select id="getBillCoupons" resultType="com.yunya.feign.discount.domain.bo.BillUsedCouponBo">
        select
            `temp`.`coupon_id`,
            `cci`.`name`         as `couponName`,
            `temp`.`benefit_type`
        from (select
                  case
                      when isnull(`cb`.`coupon_id`) = 1 then `cb`.`card_id`
                      else `cb`.`coupon_id`
                      end as `coupon_id`,
                  `cb`.`benefit_type`
              from `card_benefit` `cb`
              where `cb`.`order_id` = #{orderId}
                and `cb`.`is_deleted` = 0
              order by `cb`.`order_detail_id` asc, `cb`.`sort`) `temp`
             left join `coupon_common_info` `cci` on `cci`.`id` = `temp`.`coupon_id`
        group by `temp`.`coupon_id`, `temp`.`benefit_type`
    </select>

    <select id="countCardUsed" resultType="integer">
        select
            count(*)
        from `card_benefit`
        where `card_id` = #{cardId}
          and `benefit_type` = 1
          and `is_deleted` = 0
    </select>

    <!--查询门诊项目分类的优惠金额合计和补入工作量合计-->
    <select id="selectClinicTariffCategoryDiscountCoupon"
            resultType="com.yunya.feign.treatment.domain.vo.ClinicTariffDiscountCouponVO">
        SELECT
            org_id AS orgId,
            item_id AS itemId,
            item_type AS itemType,
            benefit_amount AS discountAmount,
            supply_workload AS supplyWorkload
        FROM card_benefit cb
        <where>
            cb.order_id in
            <foreach collection="query.orderRecordIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
        UNION ALL
        SELECT
            org_id AS orgId,
            item_id AS itemId,
            item_type AS itemType,
            benefit_amount AS discountAmount,
            0 AS supplyWorkload
        FROM auth_discount_benefit adb
        <where>
            adb.order_id in
            <foreach collection="query.orderRecordIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>
</mapper>