<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.discount.mapper.CouponRefundPayMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.discount.CouponRefundPay" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="refund_id" property="refundId" jdbcType="INTEGER" />
    <result column="account_item_id" property="accountItemId" jdbcType="INTEGER" />
    <result column="account_item_name" property="accountItemName" jdbcType="VARCHAR" />
    <result column="refund_pay_amount" property="refundPayAmount" jdbcType="DECIMAL" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="principal_amount" property="principalAmount" jdbcType="DECIMAL" />
    <result column="gift_amount" property="giftAmount" jdbcType="DECIMAL" />
    <result column="patient_number" property="patientNumber" jdbcType="VARCHAR" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="sumCouponBillRefundCashReceipt" resultType="java.math.BigDecimal">
    SELECT
        IFNULL(SUM(brpdr.refund_pay_amount), 0)
    FROM coupon_refund_pay brpdr
    <where>
      <if test="query.payId != null">
        AND brpdr.account_item_id = #{query.payId}
      </if>
      <if test="query.startDate != null">
        AND DATE_FORMAT(brpdr.crt_time, '%Y-%m-%d') &gt;= DATE_FORMAT(#{query.startDate}, '%Y-%m-%d')
      </if>
      <if test="query.endDate != null">
        AND DATE_FORMAT(brpdr.crt_time, '%Y-%m-%d') &lt;= DATE_FORMAT(#{query.endDate}, '%Y-%m-%d')
      </if>
      AND brpdr.refund_id IN (
        SELECT brr.id
        FROM coupon_refund brr
        <where>
          <if test="query.orgId != null">
            AND brr.org_id = #{query.orgId}
          </if>
        </where>
      )
    </where>
  </select>
</mapper>