<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.discount.mapper.CouponOrderVirtualMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.discount.CouponOrderVirtual">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="order_id" property="orderId" jdbcType="INTEGER"/>
        <result column="order_sn" property="orderSn" jdbcType="VARCHAR"/>
        <result column="card_id" property="cardId" jdbcType="INTEGER"/>
        <result column="coupon_id" property="couponId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="card_number" property="cardNumber" jdbcType="VARCHAR"/>
        <result column="sold_date" property="soldDate" jdbcType="TIMESTAMP"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="insertList" parameterType="List">
        insert into
        `coupon_order_virtual`
        (`order_id`, `order_sn`, `card_id`, `coupon_id`, `patient_id`, `coupon_name`,`package_unit_price`, `price`,`card_number`, `sold_date`,
        `crt_id`, `crt_time`, `upd_id`)
        values
        <foreach collection="virtuals" item="item" separator=",">
            (#{item.orderId}, #{item.orderSn}, #{item.cardId}, #{item.couponId},#{item.patientId}
            ,#{item.couponName},#{item.packageUnitPrice},#{item.price},#{item.cardNumber},#{item.soldDate},#{item.crtId},#{item.crtTime},#{item.updId})
        </foreach>
    </insert>

    <select id="refundList" resultType="com.yunya.feign.discount.domain.vo.DeductionRefundRecordVO">
        select cov.coupon_name,
               cov.package_unit_price   as saleAmount,
               crd.refund_amount,
               group_concat(distinct cfp.account_item_name) as refundType,
               crd.org_id   as orgName,
               crd.crt_id   as executorName,
               cr.reason    as remark
        from coupon_refund_detail crd
                 inner join coupon_refund_pay cfp on cfp.refund_id = crd.refund_id
                 inner join coupon_order_virtual cov on cov.id = crd.order_virtual_id
                 inner join coupon_refund cr on crd.refund_id = cr.id
                 INNER JOIN card c on c.id = cov.card_id
        where cov.inservice = 0
          and c.sold_target = #{query.patientId}
        GROUP BY crd.refund_id
    </select>

    <select id="usedList" resultType="com.yunya.feign.discount.domain.vo.DeductionUsedRecordVO">
        select
            cci.name                                      as couponName,
            ifnull(c.card_number, c.third_card_number)    as cardNumber,
            sc.name                                       as saleChannel,
            dip.package_unit_price 						  as saleAmount,
            cb.item_id                                    as itemName,
            cb.item_type,
            count(*)                                      as quantity,
            cb.patient_id                                 as patientName,
            b.bill_number,
            date_format(cb.crt_time, '%Y-%m-%d %H:%i:%s') as `billDate`,
            cb.org_id                                     as orgName,
            cb.crt_id                                     as executorName
        from card_benefit cb
            inner join card c on cb.card_id = c.id
            inner join coupon_common_info cci on c.coupon_id = cci.id
            left join sales_channel sc on sc.id = c.sale_channel_id
            left join deduction_item_period dip on dip.item_id = cb.item_id and dip.coupon_id = cb.coupon_id and dip.type = cb.item_type
            left join coupon_order_virtual cov on c.id = cov.card_id
            left join coupon_bill b on cov.order_id = b.order_record_id
        where cb.coupon_type = 5
            and cb.patient_id = #{query.patientId}
            and dip.crt_time = (select max(crt_time)
                from deduction_item_period
                where coupon_id = cci.id
                and crt_time &lt;= ifnull(c.sold_date, c.active_date))
            group by cb.card_id, b.bill_number, cb.item_id
    </select>

    <select id="changeList" resultType="com.yunya.feign.discount.domain.vo.DeductionChangeRecordVO">
        select cov.coupon_name,
               cov.package_unit_price   as saleAmount,
               c.buyer_id   as patientName,
               c.sold_target    as ownName,
               date_format(cc.crt_time,'%Y-%m-%d %H:%i:%s')  as `date`,
               cc.crt_id    as executorName,
               cc.remark
        from card c
                 inner join coupon_order_virtual cov on c.id = cov.card_id
                 inner join card_change cc on c.id = cc.card_id and c.sold_target = cc.curr_id
        where isnull(c.buyer_id) = 0
            and c.sold_target != c.buyer_id
            and c.sold_target = #{query.patientId}
    </select>
</mapper>