<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.discount.mapper.CouponOrderMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.discount.CouponOrder">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="order_record_num" property="orderRecordNum" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL"/>
        <result column="receivable_amount" property="receivableAmount" jdbcType="DECIMAL"/>
        <result column="received_amount" property="receivedAmount" jdbcType="DECIMAL"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectOrderNumberByOrgId" resultType="java.lang.String">
        SELECT
            IFNULL( MAX( SUBSTR( ord.order_record_num, 13, 4 )), '0000' ) AS maxNum
        FROM
            coupon_order ord
        WHERE ord.org_id = #{orgId} AND DATE_FORMAT(ord.crt_time,'%Y-%m-%d') = DATE_FORMAT(#{date},'%Y-%m-%d')
    </select>
    <select id="listPatientDeductionByParam"
            resultType="com.yunya.feign.discount.domain.vo.PatientDeductionOrderVO">
        select co.id        as orderId,
               co.status    as orderStatus,
               cb.org_id as orgName,
               DATE_FORMAT( cb.crt_time, '%Y-%m-%d' ) as billDate,
               cb.crt_id    as operateName,
               co.order_record_num  as orderNumber,
               cb.receivable_amount,
               sum(cd.amount) as receivedAmount,
               group_concat(DISTINCT cd.account_item_name) as accountTypeName
        from coupon_bill cb
                 inner join coupon_order co on cb.order_record_id = co.id
                 inner join coupon_bill_pay_detail cd on cb.id = cd.bill_id
        where co.inservice = 1
            and cb.patient_id = #{query.patientId}
            <if test="query.orgList != null and query.orgList.size > 0">
                and cb.org_id in
                <foreach collection="query.orgList" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="query.soldStartDate != null and query.soldEndDate != null">
                and (`cb`.`crt_time` &gt;= #{query.soldStartDate} and `cb`.`crt_time` &lt; DATE_ADD(#{query.soldStartDate} ,INTERVAL '1'
                DAY))
            </if>
        group by cb.order_record_id, cb.org_id, cb.crt_id
    </select>
</mapper>