<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.discount.mapper.CouponCommonInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.discount.CouponCommonInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_type_id" property="productTypeId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="is_make_physical_card" property="isMakePhysicalCard" jdbcType="BIT" />
    <result column="sold_amount" property="soldAmount" jdbcType="DECIMAL" />
    <result column="available_sale_start_date" property="availableSaleStartDate" jdbcType="DATE" />
    <result column="available_sale_end_date" property="availableSaleEndDate" jdbcType="DATE" />
    <result column="is_inservice" property="isInservice" jdbcType="BIT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>