<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.discount.mapper.CouponCommonInfoMapper" >
    <resultMap id="BaseResultMap" type="com.yunya.models.discount.CouponCommonInfo" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="product_type_id" property="productTypeId" jdbcType="INTEGER" />
        <result column="sales_source_id" property="salesSourceId" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="TINYINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="is_make_physical_card" property="isMakePhysicalCard" jdbcType="BIT" />
        <result column="sold_amount" property="soldAmount" jdbcType="DECIMAL" />
        <result column="coupon_code" property="couponCode" jdbcType="VARCHAR" />
        <result column="available_sale_start_date" property="availableSaleStartDate" jdbcType="DATE" />
        <result column="available_sale_end_date" property="availableSaleEndDate" jdbcType="DATE" />
        <result column="is_inservice" property="isInservice" jdbcType="BIT" />
        <result column="sale" property="sale" jdbcType="BIT" />
        <result column="crt_id" property="crtId" jdbcType="INTEGER" />
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
        <result column="upd_id" property="updId" jdbcType="INTEGER" />
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="listBatchAllocateByParam" resultType="com.yunya.feign.discount.domain.bo.GenerateAllocatePageBo">
        select
            `cci`.`id`                      as `couponId`,
            max(`ca`.`crt_id`)              as `submitUserId`,
            `ca`.`crt_time`                 as `submitDate`,
            `cci`.`name`                    as `couponName`,
            `cci`.`type`                    as `couponType`,
            sum(`ca`.`allocate_num`)        as `allocateNum`,
            max(`ca`.`allocate_user_id`)    as `allocateUserId`,
            max(`ca`.`allocate_date`)       as `allocateDate`
        from `coupon_common_info` `cci`
            inner join `coupon_allocate` `ca` on `ca`.`coupon_id` = `cci`.`id`
        where
            `cci`.`is_inservice` = 1
            <if test="couponName !=null and couponName != ''">
                and `cci`.`name` like concat('%', #{couponName}, '%')
            </if>
            <if test="couponTypeList != null and couponTypeList.size() > 0">
                and `cci`.`type` in
                <foreach collection="couponTypeList" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        group by `ca`.`coupon_id`, `ca`.`crt_time`
        order by `ca`.`crt_time` desc
    </select>

    <!--条件查询卡券公用信息列表-->
    <select id="selectCouponCommonList" resultType="com.yunya.feign.discount.domain.vo.CouponCommonInfoVO">
        SELECT
            cci.id,
            cci.name,
            cci.product_type_id AS productTypeId,
            cci.type,
            cci.coupon_code AS couponCode,
            cci.is_make_physical_card AS isMakePhysicalCard,
            cci.sold_amount AS soldAmount,
            cci.available_sale_start_date AS availableSaleStartDate,
            cci.available_sale_end_date AS availableSaleEndDate
        FROM coupon_common_info cci
        <where>
            <if test="query.inservice != null">
                AND is_inservice = #{query.inservice}
            </if>
            <if test="query.productTypeId != null">
                AND cci.product_type_id = #{query.productTypeId}
            </if>
            <if test="query.type != null">
                AND cci.type = #{query.type}
            </if>
        </where>
        ORDER BY cci.type, cci.product_type_id, cci.id
    </select>

    <select id="listCouponGoods" resultType="com.yunya.feign.discount.domain.vo.CouponGoodsVO">
        select
            cci.id,
            cci.name,
            cci.sold_amount as packageUnitPrice,
            pt.id as categoryId,
            pt.name as categoryName
        from coupon_common_info cci
        left join product_type pt on pt.id = cci.product_type_id
        where  cci.type = 5
            and cci.is_inservice = 1
            <if test="categoryId != null and categoryId != 0">
                and cci.product_type_id = #{categoryId}
            </if>
           <if test="memberTypeId != null and memberTypeId != 0">
                and (cci.member_type_id = #{memberTypeId} or cci.member_type_id = 0)
            </if>
            <if test="couponIds != null and couponIds.size > 0">
                and cci.id in
                <foreach collection="couponIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            and (isnull(cci.available_sale_start_date) = 1
                or (cci.available_sale_start_date &lt;= now() and cci.available_sale_end_date &gt;= now()))
    </select>
</mapper>