<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.discount.mapper.PackageCouponItemMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.discount.PackageCouponItem" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="coupon_id" property="couponId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="item_id" property="itemId" jdbcType="INTEGER" />
    <result column="sale_unit_price" property="saleUnitPrice" jdbcType="DECIMAL" />
    <result column="sale_amount" property="saleAmount" jdbcType="DECIMAL" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="workload_load" property="workloadLoad" jdbcType="DECIMAL" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
    <result column="revision" property="revision" jdbcType="INTEGER" />
  </resultMap>
</mapper>