<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.discount.mapper.ProductTypeMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.discount.ProductType">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
        <result column="revision" property="revision" jdbcType="INTEGER"/>
    </resultMap>
    <!-- 根据ID查询产品分类信息 -->
    <select id="selectProductTypeById" resultType="com.yunya.feign.discount.domain.vo.ProductTypeVO">
        select
          pt.id,
          pt.name,
          pt.inservice,
          pt.crt_id as crtId,
          pt.crt_name as crtName,
          pt.crt_time as crtTime
        from product_type pt
        where pt.id = #{id}
    </select>
    <!-- 根据条件查询产品分类列表 -->
    <select id="selectProductTypeList" resultType="com.yunya.feign.discount.domain.vo.ProductTypeVO">
        SELECT
        pt.id,
        pt. NAME,
        pt.inservice,
        pt.crt_id AS crtId,
        pt.crt_name AS crtName,
        date_format(pt.crt_time,'%Y-%m-%d') AS crtTime,
        IFNULL(ci.productNum,0) productNum
        FROM
        product_type pt
        LEFT JOIN
        (select count(id) productNum,product_type_id id from coupon_common_info
        <where>
        <if test="queryForm.type != null">
            type = #{queryForm.type}
        </if>
        </where>
           GROUP BY product_type_id) ci
        on ci.id = pt.id
        <where>
            <if test="queryForm.id != null">
                and pt.id = #{queryForm.id}
            </if>
            <if test="queryForm.name != null and queryForm.name !=  ''">
                and pt.name like concat('%', #{queryForm.name}, '%')
            </if>
            <if test="queryForm.inservice != null">
                and pt.inservice = #{queryForm.inservice}
            </if>
        </where>
    </select>
</mapper>