<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.discount.mapper.SpecialPackageCouponMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.discount.SpecialPackageCoupon" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="coupon_id" property="couponId" jdbcType="INTEGER" />
    <result column="activation_deadline" property="activationDeadline" jdbcType="DATE" />
    <result column="effective_days" property="effectiveDays" jdbcType="INTEGER" />
    <result column="mixable" property="mixable" jdbcType="INTEGER" />
    <result column="useable_clinic" property="useableClinic" jdbcType="VARCHAR" />
    <result column="use_way" property="useWay" jdbcType="TINYINT" />
    <result column="limit_count" property="limitCount" jdbcType="INTEGER" />
    <result column="is_share" property="isShare" jdbcType="BIT" />
    <result column="workload_rate" property="workloadRate" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>