<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.discount.mapper.VoucherDiscountItemMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.discount.VoucherDiscountItem">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="coupon_id" property="couponId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="choice_rang_type" property="choiceRangType" jdbcType="TINYINT"/>
        <result column="item_id" property="itemId" jdbcType="INTEGER"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="saveVouAndDis" parameterType="com.yunya.modules.discount.form.VoucherDiscountItemForm">
        INSERT INTO voucher_discount_item (
        id,
        coupon_id,
        type,
        choice_rang_type,
        item_id,
        crt_id,
        crt_time,
        upd_id,
        upd_time
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.couponId},#{item.type}
            ,#{item.choiceRangType},#{item.itemId}
            ,#{item.crtId},#{item.crtTime},
            #{item.updId},#{item.updTime})
        </foreach>
    </insert>

    <insert id="savePackage" parameterType="com.yunya.modules.discount.form.PackageCouponItemForm">
        INSERT INTO package_coupon_item (
        id,
        coupon_id,
        type,
        item_id,
        sale_unit_price,
        sale_amount,
        count,
        workload_load,
        crt_id,
        crt_time,
        upd_id,
        upd_time
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.couponId},#{item.type}
            ,#{item.itemId}
            ,#{item.saleUnitPrice},#{item.saleAmount}
            ,#{item.count},#{item.workloadRate}
            ,#{item.crtId},#{item.crtTime}
            ,#{item.updId},#{item.updTime})
        </foreach>
    </insert>

    <insert id="saveSpecial" parameterType="com.yunya.modules.discount.form.SpecialPackageCouponItemForm">
        INSERT INTO special_package_coupon_item (
        id,
        coupon_id,
        type,
        item_id,
        package_unit_price,
        sale_amount,
        count,
        workload_load,
        is_show_app,
        crt_id,
        crt_time,
        upd_id,
        upd_time
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.couponId},#{item.type}
            ,#{item.itemId}
            ,#{item.packageUnitPrice},#{item.saleAmount}
            ,#{item.count},#{item.workloadRate},#{item.isShowApp}
            ,#{item.crtId},#{item.crtTime}
            ,#{item.updId},#{item.updTime})
        </foreach>
    </insert>
    <select id="findListAfterOptimization" resultType="com.yunya.feign.discount.domain.vo.VouDisAfterOptimizationVO">

    </select>
</mapper>