<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.discount.mapper.VoucheCouponMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.discount.VoucheCoupon" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="coupon_id" property="couponId" jdbcType="INTEGER" />
    <result column="face_value" property="faceValue" jdbcType="DECIMAL" />
    <result column="activation_deadline" property="activationDeadline" jdbcType="DATE" />
    <result column="effective_days" property="effectiveDays" jdbcType="INTEGER" />
    <result column="mixed_use_type" property="mixedUseType" jdbcType="TINYINT" />
    <result column="limit_count" property="limitCount" jdbcType="INTEGER" />
    <result column="useable_clinci" property="useableClinci" jdbcType="VARCHAR" />
    <result column="is_share" property="isShare" jdbcType="BIT" />
    <result column="workload_rate" property="workloadRate" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!--<resultMap id="ListMap" type="com.yunya.modules.discount.vo.CouponCommonInfoFormrm" >-->
    <!--<id column="id" property="id" jdbcType="INTEGER" />-->
    <!--<result column="name" property="name" jdbcType="VARCHAR" />-->
    <!--<result column="crtTime" property="crtTime" jdbcType="TIMESTAMP" />-->
    <!--<result column="pName" property="pName" jdbcType="VARCHAR" />-->
    <!--<result column="path" property="path" jdbcType="VARCHAR" />-->
  <!--</resultMap>-->

  <select id="findList" resultType="com.yunya.modules.discount.vo.CouponCommonInfoVO">
   select ci.id,ci.name,ci.crt_time crtTime,pt.name pName from coupon_common_info ci
    left join product_type pt on ci.product_type_id = pt.id
--     left join (select MAX(crt_time),path,coupon_id from coupon_file_info group by coupon_id) cf on cf.coupon_id = ci.id
    where  ci.type = #{type}
      <if test="productTypeId != null and productTypeId != ''">
          and ci.product_type_id = #{productTypeId}
      </if>
    <if test="name != null and name != ''">
      and ci.name like concat('%', #{name}, '%')
    </if>
    <if test="startTime != null and endTime != null">
      and ci.crt_time between #{startTime} and #{endTime}
    </if>
  </select>

    <select id="thirdParty" resultType="com.yunya.modules.discount.vo.CouponCommonInfoVO">
       select ci.id,ci.name,vc.is_share from coupon_common_info ci left join vouche_coupon vc on ci.id = vc.coupon_id where ci.type = 0 and (vc.activation_deadline is null or vc.activation_deadline >= now())
        union all
        select ci.id,ci.name,vc.is_share from coupon_common_info ci left join discount_coupon vc on ci.id = vc.coupon_id where ci.type = 1 and (vc.activation_deadline is null or vc.activation_deadline >= now())
        union all
        select ci.id,ci.name,vc.is_share from coupon_common_info ci left join package_coupon vc on ci.id = vc.coupon_id where ci.type = 2 and (vc.activation_deadline is null or vc.activation_deadline >= now())
        union all
        select ci.id,ci.name,vc.is_share from coupon_common_info ci left join special_package_coupon vc on ci.id = vc.coupon_id where ci.type = 3 and (vc.activation_deadline is null or vc.activation_deadline >= now())
    </select>
</mapper>