<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.emr.mapper.ApprovalRecordMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.emr.ApprovalRecord">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="event_id" jdbcType="INTEGER" property="eventId" />
        <result column="event_type" jdbcType="TINYINT" property="eventType" />
        <result column="proposer_id" jdbcType="INTEGER" property="proposerId" />
        <result column="apply_reason" jdbcType="VARCHAR" property="applyReason" />
        <result column="apply_type" jdbcType="TINYINT" property="applyType" />
        <result column="approver_id" jdbcType="INTEGER" property="approverId" />
        <result column="approve_time" jdbcType="TIMESTAMP" property="approveTime" />
        <result column="approve_reason" jdbcType="VARCHAR" property="approveReason" />
        <result column="dead_time" jdbcType="DATE" property="deadTime" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="crt_id" jdbcType="INTEGER" property="crtId" />
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
        <result column="upd_id" jdbcType="INTEGER" property="updId" />
        <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
    </resultMap>

    <select id="countDraftByEventId" resultType="int">
        select
            count(*)
        from `approval_record`
        where `event_id` = #{eventId}
          and `event_type` = 0
    </select>

    <select id="countToAuditChangeByEventId" resultType="int">
        select
            count(*)
        from `approval_record`
        where `event_id` = #{eventId}
          and `event_type` = 1
          and `apply_type` = 0
          and `status` = 0
    </select>

    <select id="findNewestDraft" resultMap="BaseResultMap">
        select
            `id`,
            `event_id`,
            `approve_time`,
            `proposer_id`,
            `status`
        from `approval_record`
        where `event_id` = #{eventId}
          and `event_type` = 0
        order by `crt_time` desc limit 1
    </select>

    <select id="countDraftPassByEventId" resultType="int">
        select
            count(*)
        from `approval_record`
        where `event_id` = #{eventId}
          and `event_type` = 0
          and `status` = 1
    </select>

    <select id="countChangePassByEventId" resultType="int">
        select
            count(*)
        from `approval_record`
        where `event_id` = #{eventId}
          and `event_type` = 1
          and `apply_type` = 1
          and `status` = 1
    </select>

    <select id="findTreatmentRecord" resultMap="BaseResultMap">
        select
            `id`,
            `event_id`,
            `approve_time`,
            `dead_time`,
            `proposer_id`
        from `approval_record`
        where `event_id` = #{treatmentId}
          and `event_type` = 1
          and `apply_type` = 0
          and `status` = 1
          and  dead_time >= date_format(now(), '%Y-%m-%d')
    </select>

    <select id="findMedicalChangeRecord" resultMap="BaseResultMap">
        select
            `id`,
            `event_id`,
            `approve_time`,
            `dead_time`,
            `status`
        from `approval_record`
        where `event_id` = #{medicalId}
          and `event_type` = 1
          and `apply_type` = 1
          and `status` = 1
        order by `approve_time` desc limit 1
    </select>

    <select id="countMedicalChange" resultType="com.yunya.feign.emr.domain.bo.ChangeCountBo">
        select
            sum(status = 0)                                                 as pendingCount,
            sum(status = 1 and dead_time >= date_format(now(), '%Y-%m-%d')) as passCount
        from `approval_record`
        where `event_id` = #{eventId}
          and `event_type` = 1
          and `apply_type` = #{applyType}
    </select>

    <select id="countByTreatmentId" resultType="int">
        select
            count(*)
        from `approval_record`
        where `event_id` = #{treatmentId}
          and `event_type` = 1
          and `status` in (0,1)
    </select>

    <select id="listMedicalByParam" resultMap="BaseResultMap">
        select
            `ar1`.`id`,
            `ar1`.`event_id`,
            `ar1`.`proposer_id`,
            `ar1`.`apply_reason`,
            `ar1`.`apply_type`,
            `ar1`.`approver_id`,
            `ar1`.`approve_reason`,
            `ar1`.`approve_time`,
            `ar1`.`dead_time`,
            `ar1`.`status`,
            `ar1`.`upd_time`,
            `ar1`.`crt_time`
        from `approval_record` `ar1`
        where
            1 > (
                select
                    count(*)
                from `approval_record`
                where `event_id` = `ar1`.`event_id`
                    and `crt_time` > `ar1`.`crt_time`
                    and `event_type` = #{eventType})
            <!-- 申请查询 -->
            <if test="auditStatus == 0">
                and `ar1`.`crt_id` = #{loginUserId}
            </if>
            <!--  审核查询 -->
            <if test="eventType == 0 and auditStatus == 1">
                and `ar1`.`approver_id` = #{loginUserId}
            </if>
            <if test="eventType != null">
                and `ar1`.`event_type` = #{eventType}
            </if>
            <if test="medicalIds != null and medicalIds.size() > 0">
                and `ar1`.`event_id` in
                <foreach collection="medicalIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="submitTime != null and submitTime != ''">
                and to_days(`ar1`.`crt_time`) = to_days(#{submitTime})
            </if>
            <if test="auditStatus != null">
        order by
            <!-- 查询审核(草稿和变更) -->
            <if test="auditStatus == 1">
                `ar1`.`status` asc, `ar1`.`crt_time` desc
            </if>
            <!-- 草稿申请 -->
            <if test="eventType == 0 and auditStatus == 0">
                `ar1`.`status` desc, `ar1`.`crt_time` desc
            </if>
            <!-- 变更申请 -->
            <if test="eventType == 1 and auditStatus == 0">
                FIELD(`ar1`.`status`,1,2,0), `ar1`.`crt_time` desc
            </if>
          </if>
    </select>

    <select id="listMedicalIdsByCrtTime" resultType="int">
        select
            `ar1`.`event_id`
        from `approval_record` `ar1`
            left join `approval_record` `ar2`
                on `ar1`.`event_id` = `ar2`.`event_id`
        where `ar2`.`apply_type` = 0
          and `ar1`.`crt_id` = #{loginUserId}
          and `ar1`.`event_type` = 0
          and to_days(`ar1`.`crt_time`) = to_days(#{submitTime})
          and 1 > (
            select
                count(*)
            from `approval_record`
            where `event_id` = `ar1`.`event_id`
            and `crt_time` > `ar1`.`crt_time` );
        order by ar1.status asc, ar2.crt_time desc
    </select>
</mapper>