<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.emr.mapper.GeneralTemplateMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.emr.GeneralTemplate">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="medical_template_category_id" jdbcType="INTEGER" property="medicalTemplateCategoryId" />
        <result column="enable" jdbcType="TINYINT" property="enable" />
        <result column="crt_id" jdbcType="INTEGER" property="crtId" />
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
        <result column="upd_id" jdbcType="INTEGER" property="updId" />
        <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
    </resultMap>

    <select id="countByCategoryId" resultType="int">
        select
            count(*)
        from
            `general_template`
        where
            `medical_template_category_id` = #{categoryId}
    </select>

    <select id="listByKeyword" resultMap="BaseResultMap">
        select
            `id`,
            `content`,
            `enable`
        from `general_template`
        where `medical_template_category_id` = #{categoryId}
            <if test="keyword != null" >
                and `content` like concat('%', #{keyword}, '%')
            </if>
            <if test="enable != null">
                and `enable` = #{enable}
            </if>
        order by `enable` desc, `sort` desc
    </select>

    <update id="enableById">
        update
            `general_template`
        set `enable` = #{enable}
        where `medical_template_category_id` = #{categoryId}
          and `id` = #{templateId}
    </update>

</mapper>