<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.emr.mapper.MedicalTemplateCategoryMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.emr.MedicalTemplateCategory">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="parent_id" jdbcType="INTEGER" property="parentId" />
        <result column="crt_id" jdbcType="INTEGER" property="crtId" />
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
        <result column="upd_id" jdbcType="INTEGER" property="updId" />
        <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
    </resultMap>

    <select id="countByName" resultType="int">
        select
            count(*)
        from
            `medical_template_category`
        where
            `name` = #{name}
            and `parent_id` = #{parentId}
            <if test="id != null">
                and `id` != #{id}
            </if>
    </select>

</mapper>