<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.emr.mapper.MedicalRecordHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.emr.MedicalRecordHistory" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="medical_record_id" property="medicalRecordId" jdbcType="VARCHAR" />
    <result column="treatment_id" property="treatmentId" jdbcType="INTEGER" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="major_dentist_id" property="majorDentistId" jdbcType="INTEGER" />
    <result column="major_dentist_name" property="majorDentistName" jdbcType="VARCHAR" />
    <result column="chief_complaint" property="chiefComplaint" jdbcType="LONGVARCHAR" />
    <result column="present_illness" property="presentIllness" jdbcType="LONGVARCHAR" />
    <result column="past_history" property="pastHistory" jdbcType="LONGVARCHAR" />
    <result column="re_examination" property="reExamination" jdbcType="LONGVARCHAR" />
    <result column="examination" property="examination" jdbcType="LONGVARCHAR" />
    <result column="diagnosis" property="diagnosis" jdbcType="LONGVARCHAR" />
    <result column="plan" property="plan" jdbcType="LONGVARCHAR" />
    <result column="treatment" property="treatment" jdbcType="LONGVARCHAR" />
    <result column="prescription" property="prescription" jdbcType="LONGVARCHAR" />
    <result column="type" property="type" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="approval_time" property="approvalTime" jdbcType="TIMESTAMP" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

</mapper>