<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.emr.mapper.MedicalTemplateMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.emr.MedicalTemplate">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="medical_template_category_id" jdbcType="INTEGER" property="medicalTemplateCategoryId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type" jdbcType="TINYINT" property="type" />
        <result column="chief_complaint" jdbcType="VARCHAR" property="chiefComplaint" />
        <result column="present_illness" jdbcType="VARCHAR" property="presentIllness" />
        <result column="past_history" jdbcType="VARCHAR" property="pastHistory" />
        <result column="examination" jdbcType="VARCHAR" property="examination" />
        <result column="diagnosis" jdbcType="VARCHAR" property="diagnosis" />
        <result column="plan" jdbcType="VARCHAR" property="plan" />
        <result column="treatment" jdbcType="VARCHAR" property="treatment" />
        <result column="crt_id" jdbcType="INTEGER" property="crtId" />
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
        <result column="upd_id" jdbcType="INTEGER" property="updId" />
        <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
    </resultMap>


    <select id="countByCategoryId" resultType="int">
        select
            count(1)
        from
            `medical_template`
        where
            `medical_template_category_id` = #{categoryId}
    </select>
</mapper>