<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.emr.mapper.MedicalCommonRecordMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.emr.MedicalCommonRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="treatment_id" property="treatmentId" jdbcType="INTEGER" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="major_dentist_id" property="majorDentistId" jdbcType="INTEGER" />
    <result column="chief_complaint" property="chiefComplaint" jdbcType="LONGVARCHAR" />
    <result column="present_illness" property="presentIllness" jdbcType="LONGVARCHAR" />
    <result column="past_history" property="pastHistory" jdbcType="LONGVARCHAR" />
    <result column="re_examination" property="reExamination" jdbcType="LONGVARCHAR" />
    <result column="examination" property="examination" jdbcType="LONGVARCHAR" />
    <result column="diagnosis" property="diagnosis" jdbcType="LONGVARCHAR" />
    <result column="plan" property="plan" jdbcType="LONGVARCHAR" />
    <result column="treatment" property="treatment" jdbcType="LONGVARCHAR" />
    <result column="prescription" property="prescription" jdbcType="LONGVARCHAR" />
    <result column="type" property="type" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="approval_time" property="approvalTime" jdbcType="TIMESTAMP" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

	<select id="findList" resultType="com.yunya.models.emr.MedicalCommonRecord">
		SELECT
			mcr.id,
			mcr.treatment_id AS treatmentId,
			mcr.patient_id AS patientId,
			mcr.major_dentist_id AS majorDentistId,
			mcr.chief_complaint AS chiefComplaint,
			mcr.present_illness AS presentIllness,
			mcr.past_history AS pastHistory,
			mcr.re_examination AS reExamination,
			mcr.examination,
			mcr.diagnosis,
			IF (tpr.id IS NULL, 0, 1) AS plan,
			mcr.treatment,
			mcr.prescription,
			mcr.type,
			mcr. STATUS,
			mcr.approval_time AS approvalTime,
			mcr.time,
			mcr.crt_id AS crtId,
			mcr.crt_time AS crtTime,
			mcr.upd_id AS updId,
			mcr.upd_time AS updTime
		FROM medical_common_record mcr
		LEFT JOIN treat_plan_record tpr ON mcr.id = tpr.medical_record_id
		<where>
			mcr.patient_id = #{patientId}
		  <if test="id != null" >
			and mcr.id = #{id}
		  </if>
			<if test="treatmentId != null" >
				and mcr.treatment_id = #{treatmentId}
			</if>
		</where>
		order by mcr.crt_time desc
  	</select>

	<select id="selectMedicalIllnessHistoryById" resultType="com.yunya.models.emr.MedicalCommonRecord">
		SELECT
			major_dentist_id AS majorDentistId,
			chief_complaint AS chiefComplaint,
			present_illness AS presentIllness,
			past_history AS pastHistory,
			examination,
			diagnosis,
			plan
		FROM medical_common_record
		WHERE id = #{id}
	</select>

	<insert id="insertMedical" parameterType="com.yunya.models.emr.MedicalCommonRecord"
          useGeneratedKeys="true" keyProperty="id">
     INSERT INTO medical_common_record (
	id,
	treatment_id,
	patient_id,
	major_dentist_id,
	chief_complaint,
	present_illness,
	past_history,
	re_examination,
	examination,
	diagnosis,
	plan,
	treatment,
	prescription,
	type,
	status,
	approval_time,
	time,
	crt_id,
	crt_time,
	upd_id,
	upd_time
)
VALUES
	(   #{id},
		#{treatmentId},
		#{patientId},
		#{majorDentistId},
		#{chiefComplaint},
		#{presentIllness},
		#{pastHistory},
		#{reExamination},
		#{examination},
		#{diagnosis},
		#{plan},
		#{treatment},
		#{prescription},
		#{type},
		#{status},
		#{approvalTime},
		#{time},
		#{crtId},
		#{crtTime},
		#{updId},
		#{updTime}
	)
    </insert>
</mapper>