<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.emr.mapper.SymptomConfigMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.emr.SymptomConfig" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="check_id" property="checkId" jdbcType="INTEGER" />
    <result column="symptom_name" property="symptomName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upt_id" property="uptId" jdbcType="INTEGER" />
    <result column="upt_time" property="uptTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="selectSymptomConfigList" resultType="com.yunya.feign.emr.domain.vo.SymptomConfigVO">
    SELECT
        id,
        symptom_name AS symptomName,
        remark
    FROM symptom_config
    <where>
      inservice = true
      <if test="query.checkId != null">
        AND check_id = #{query.checkId}
      </if>
    </where>
  </select>
</mapper>