<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.employee.common.mapper.BaseEmployeeMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.clinic.BaseEmployee">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="BIT"/>
        <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="join_time" property="joinTime" jdbcType="DATE"/>
        <result column="post_level" property="postLevel" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="work_state" property="workState" jdbcType="BIT"/>
        <result column="contract_sign_date" property="contractSignDate" jdbcType="DATE"/>
        <result column="graduate_school" property="graduateSchool" jdbcType="VARCHAR"/>
        <result column="education" property="education" jdbcType="VARCHAR"/>
        <result column="photo" property="photo" jdbcType="VARCHAR"/>
        <result column="diploma_photo" property="diplomaPhoto" jdbcType="VARCHAR"/>
        <result column="work_number" property="workNumber" jdbcType="VARCHAR"/>
        <result column="leave_time" property="leaveTime" jdbcType="DATE"/>
        <result column="employee_number" property="employeeNumber" jdbcType="VARCHAR"/>
        <result column="work_amount" jdbcType="DOUBLE" property="workAmount" />
        <result column="bonus_coefficient" jdbcType="DOUBLE" property="bonusCoefficient" />
        <result column="is_discount" jdbcType="BIT" property="discount" />
        <result column="emergency_contact_phone" jdbcType="VARCHAR" property="emergencyContactPhone" />
        <result column="emergency_contact" jdbcType="VARCHAR" property="emergencyContact" />

        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_id" property="updId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectByNameAndTelAndType" resultMap="BaseResultMap">
        select * from base_employee
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="mobilePhone != null and mobilePhone != ''">
                and mobile_phone like concat('%', #{mobilePhone}, '%')
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
    </select>

    <select id="getBaseEmployeeList" resultType="com.yunya.employee.common.model.response.BaseEmployeePageRes">
        select
            id,
            `user_id`       as 'employeeId',
            `name`          as 'employeeName',
            case `sex`
                when 0 then '男'
                when 1 then '女'
                else
                    null
                end         as sex,
            `mobile_phone`  as mobilePhone,
            `join_time`     as joinTime,
            `leave_time`    as leaveTime,
            case `type`
                when 0 then '试用期'
                when 1 then '已转正'
                when 2 then '已离职'
                else
                    null
                end         as 'typeName'
        from
            `base_employee`
        <where>
            <if test="employeeKeyword != null">
                and (`name` LIKE CONCAT('%',#{employeeKeyword},'%') or `mobile_phone` like CONCAT('%',#{employeeKeyword},'%'))
            </if>
            <if test="postUserIds != null and postUserIds.size() > 0">
                and `user_id` in
                <foreach collection="postUserIds" item="item" open="(" separator="," close=")">
                    #{item}
                 </foreach>
            </if>
            <if test="types != null and types.size() > 0">
                and `type` in
                <foreach collection="types" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by `upd_time` desc
    </select>

    <select id="countByEmployeeName" resultType="int">
        select
            count(1)
        from
            `base_employee`
        where
            `name` = #{employeeName} and `user_id` != #{employeeId};
    </select>

    <select id="countByIdCard" resultType="int">
        select
            count(1)
        from
            `base_employee`
        where
            `id_card` = #{idCard} and `user_id` != #{employeeId};
    </select>

    <select id="countByMobilePhone" resultType="int">
        select
            count(1)
        from
            `base_employee`
        where
            `mobile_phone` = #{mobilePhone} and `user_id` != #{employeeId};
    </select>
</mapper>