<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunya.modules.employee.expand.mapper.ClinicEmployeeConfigMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.expand.ClinicEmployeeConfig">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="employee_id" jdbcType="INTEGER" property="employeeId" />
        <result column="clinic_id" jdbcType="INTEGER" property="clinicId" />
        <result column="assistant_employee_id" jdbcType="INTEGER" property="assistantEmployeeId" />
        <result column="clinic_department_room_id" jdbcType="INTEGER" property="clinicDepartmentRoomId" />
        <result column="enable_appoint" jdbcType="TINYINT" property="enableAppoint" />
        <result column="enable_registry" jdbcType="TINYINT" property="enableRegistry" />
        <result column="enable_download" jdbcType="TINYINT" property="enableDownload" />
        <result column="inservice" jdbcType="TINYINT" property="inservice" />
        <result column="crt_id" jdbcType="INTEGER" property="crtId" />
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
        <result column="upd_id" jdbcType="INTEGER" property="updId" />
        <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
    </resultMap>

    <insert id="insertBatch">
        insert into
        `clinic_employee`
        (`employee_id`, `clinic_id`)
        values
        <foreach collection ="list" item="item" index= "index" separator =",">
            (#{item.employeeId}, #{item.clinicId})
        </foreach >
    </insert>
</mapper>