<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.patient_central.mapper.MemberReturnRecordMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.patient_central.MemberReturnRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="VARCHAR" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="return_principal_amount" property="returnPrincipalAmount" jdbcType="DECIMAL" />
    <result column="return_gift_amount" property="returnGiftAmount" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="return_way_id" property="returnWayId" jdbcType="INTEGER" />
    <result column="return_way_type" property="returnWayType" jdbcType="VARCHAR" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upt_id" property="uptId" jdbcType="INTEGER" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Column_List">
        mrrd.id,mrrd.org_id orgId,mrrd.member_id memberId,mrrd.patient_id patientId,mrrd.return_principal_amount returnPrincipalAmount,	mrrd.return_gift_amount returnGiftAmount,mrrd.remarks,mrrd.return_way_id returnWayId,mrrd.return_way_type returnWayType,	mrrd.crt_id crtId,mrrd.crt_name crtName,mrrd.crt_time crtTime,mrrd.upt_id uptId,mrrd.upd_name updName,mrrd.upd_time updTime
  </sql>

  <select id="refundList" resultType="com.yunya.feign.patient_central.domain.vo.MemberReturnRecordVo">
      SELECT
        id,
        crt_time operatingTime,
        return_principal_amount returnPrincipalAmount,
        return_gift_amount returnGiftAmount,
        org_id orgId,
        crt_id operatorId,
        crt_name operatorName,
        return_way_id returnWayId,
        return_way_type returnWayType,
        remarks
      FROM
          member_return_record
      WHERE
          member_id = #{form.memberId} and patient_id =#{form.patientId}
      ORDER BY
          crt_time DESC
  </select>

</mapper>