<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.patient_central.mapper.MemberRechargeRecordMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.patient_central.MemberRechargeRecord">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="member_id" property="memberId" jdbcType="VARCHAR"/>
        <result column="recharge_principal" property="rechargePrincipal" jdbcType="DECIMAL"/>
        <result column="recharge_bonus" property="rechargeBonus" jdbcType="DECIMAL"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upt_id" property="uptId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
        <result column="current_recharge_principal" property="currentRechargePrincipal" jdbcType="DECIMAL"/>
        <result column="current_recharge_bonus" property="currentRechargeBonus" jdbcType="DECIMAL"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="order_record_id" property="orderRecordId" jdbcType="INTEGER"/>
        <result column="bill_record_id" property="billRecordId" jdbcType="INTEGER"/>
        <result column="bill_pay_record_id" property="billPayRecordId" jdbcType="INTEGER"/>

    </resultMap>

    <!-- 查询充值记录 -->
    <select id="RechargeRecord" resultType="com.yunya.feign.patient_central.domain.vo.web.RechargeRecordVo">
        SELECT
            mrrd.id,
            date_format( mrrd.crt_time, '%Y-%m-%d %H:%i' ) as operatingTime,
            mrrd.recharge_principal rechargePrincipal,
            mrrd.recharge_bonus rechargeBonus,
            mrrd.org_id orgId,
            mrrd.crt_id operatorId,
            mrrd.crt_name operatorName,
            mrrd.remarks,
            mrrd.current_recharge_principal currentRechargePrincipal,
            mrrd.current_recharge_bonus currentRechargeBonus,
            mrrd.type
        FROM
            member_recharge_record mrrd
        where mrrd.member_id = #{form.cardNumber} and type = 0
        order by operatingTime desc
    </select>
</mapper>