<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.patient_central.mapper.MemberExpendRecordMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.patient_central.MemberExpendRecord">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="member_id" property="memberId" jdbcType="VARCHAR"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="expend_principal" property="expendPrincipal" jdbcType="DECIMAL"/>
        <result column="expend_gift" property="expendGift" jdbcType="DECIMAL"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="treatment_record_id" property="treatmentRecordId" jdbcType="INTEGER"/>
        <result column="bill_record_id" property="billRecordId" jdbcType="INTEGER"/>
        <result column="bill_pay_record_id" property="billPayRecordId" jdbcType="INTEGER"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upt_id" property="uptId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
    </resultMap>

    <!-- 消费记录 条件（消费者id（患者），会员卡号） -->
    <select id="expendList" resultType="com.yunya.feign.patient_central.domain.vo.web.MemberExpendRecordVo">
        SELECT
            merd.id,
            merd.org_id orgId,
            merd.member_id memberId,
            merd.patient_id patientId,
            merd.expend_principal expendPrincipal,
            merd.expend_gift expendGift,
            merd.remarks remarks,
            merd.crt_id operatorId,
            merd.crt_name operatorName,
            date_format(merd.crt_time,'%Y-%m-%d %H:%i') operatingTime,
            merd.upt_id uptId,
            merd.upd_name updName,
            merd.upd_time, updTime,
            pbio.name expendName
        FROM
            member_expend_record merd
            JOIN patient_base_info pbio ON merd.patient_id = pbio.id
        WHERE
            merd.member_id = #{form.memberId} and merd.patient_id = #{form.patientId}
            and merd.inservice = 1
            order by crt_time desc
    </select>

</mapper>