<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.patient_central.mapper.PatientExtInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.patient_central.PatientExtInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="dict_item_id" property="dictItemId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upt_id" property="uptId" jdbcType="INTEGER" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="PatientExtInfo_Column_List">
    id,org_id orgId,patient_id patientId,dict_item_id dictItemId,type,description,remarks,inservice,crt_id crtId,crt_name crtName,crt_time crtTime,upt_id uptId,upd_name updName,upd_time updTime
  </sql>

  <sql id="Insert_Column_List">
    (org_id,patient_id,dict_item_id,type,description,remarks,crt_id,crt_name,upt_id,upd_name,upd_time)
  </sql>

  <sql id="PatientExtInfoList_Column_List">
    id,org_id orgId,patient_id patientId,dict_item_id dictItemId,type type,description,remarks,inservice,crt_id crtId,crt_name crtName,crt_time crtTime,upt_id uptId,upd_name updName,upd_time updTime
  </sql>

  <insert id="insertPatientExtInfoList" parameterType="java.util.List">
        insert into patient_ext_info <include refid="Insert_Column_List"/>
        values
        <foreach collection="list" item="item" index="index" separator=",">
          (#{item.orgId},
          #{item.patientId},
          #{item.dictItemId},
          #{item.type},
          #{item.description},
          #{item.remarks},
          #{item.crtId},
          #{item.crtName},
          #{item.uptId},
          #{item.updName},
          #{item.updTime})
        </foreach>
  </insert>

  <!-- 循环添加患者其他信息（标签,疾病史,过敏原,患者诊疗需求） -->
  <select id="patientExtInfoListByid" resultType="com.yunya.feign.patient_central.domain.vo.web.PatientExtInfoVo">
    select <include refid="PatientExtInfoList_Column_List"/>
    from patient_ext_info
    where patient_id = #{id}
  </select>

  <!-- 根据id删除对于的 （标签,疾病史,过敏原,患者诊疗需求） 信息 -->
  <delete id="deletePatientExtInfoByPatientId" >
    delete from patient_ext_info where patient_id = #{id}
    <if test="types!=null and types.size()>0">
      and type in
      <foreach collection="types" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </delete>

  <!-- 通过患者id查询标签信息 -->
  <select id="selectListByPatientId" resultType="com.yunya.models.patient_central.PatientExtInfo">
    select <include refid="PatientExtInfo_Column_List"/>
    from patient_ext_info where patient_id = #{patientId} and type = #{type}
  </select>

  <select id="selectPatientTreatIntentionTag" resultType="com.yunya.models.patient_central.PatientExtInfo">
    select
        pbi.id AS patientId,
        pei.dict_item_id AS dictItemId
    from patient_base_info pbi
    LEFT JOIN (
        SELECT
            patient_id,
            dict_item_id
        FROM patient_ext_info WHERE type = 3
    ) pei ON pbi.id = pei.patient_id
    <where>
      <if test="query.dateType==0">
        <if test="query.startDate != null and query.startDate != ''">
          and DATE_FORMAT(pbi.upd_time, '%Y-%m-%d') &gt;= #{query.startDate}
        </if>
        <if test="query.endDate != null and query.endDate != ''">
          and DATE_FORMAT(pbi.upd_time, '%Y-%m-%d') &lt;= #{query.endDate}
        </if>
      </if>
      <if test="query.dateType==1">
        <if test="query.startDate != null and query.startDate != ''">
          and DATE_FORMAT(pbi.upd_time, '%Y-%m') &gt;= #{query.startDate}
        </if>
        <if test="query.endDate != null and query.endDate != ''">
          and DATE_FORMAT(pbi.upd_time, '%Y-%m') &lt;= #{query.endDate}
        </if>
      </if>
      <if test="query.dateType==2">
        <if test="query.startDate != null and query.startDate != ''">
          and DATE_FORMAT(pbi.upd_time, '%Y') &gt;= #{query.startDate}
        </if>
        <if test="query.endDate != null and query.endDate != ''">
          and DATE_FORMAT(pbi.upd_time, '%Y') &lt;= #{query.endDate}
        </if>
      </if>
    </where>
  </select>

</mapper>