<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.patient_central.mapper.PatientMemberInfoMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.patient_central.PatientMemberInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="member_type_id" property="memberTypeId" jdbcType="INTEGER"/>
        <result column="master_card" property="masterCard" jdbcType="BIT"/>
        <result column="card_number" property="cardNumber" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="principal_amount" property="principalAmount" jdbcType="DECIMAL"/>
        <result column="bonus_amount" property="bonusAmount" jdbcType="DECIMAL"/>
        <result column="point" property="point" jdbcType="INTEGER"/>
        <result column="last_expired_time" property="lastExpiredTime" jdbcType="TIMESTAMP"/>
        <result column="next_expired_time" property="nextExpiredTime" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upt_id" property="uptId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Find_Colum_List">
      pmio.id id,pmio.org_id orgId,pmio.patient_id patientId,pmio.member_type_id memberTypeId,pmio.master_card masterCard,pmio.card_number cardNumber,
      pmio.status status,pmio.principal_amount principalAmount,pmio.bonus_amount bonusAmount,pmio.point point,pmio.last_expired_time lastExpiredTime,
      pmio.next_expired_time nextExpiredTime,pmio.remarks remarks,pmio.inservice inservice
    </sql>

    <!-- 根据患者id查询会员基本信息(会员卡界面基本信息（非全部信息）) -->
    <select id="findMemberBaseInfo" resultType="com.yunya.feign.patient_central.domain.vo.web.MemberBaseInfoVo">
     select pmio.org_id orgId, pmio.patient_id, pmio.id,pmio.card_number cardNumber,pmio.member_type_id memberTypeId,pmio.crt_time crtTime,pbio.name name,
				CAST((pmio.principal_amount+pmio.bonus_amount) AS decimal(15,2)) memberCardMoneySum,
				CAST(IFNULL(pmio.principal_amount,0) AS decimal(15,2)) principalAmount,
				CAST(IFNULL(pmio.bonus_amount,0) AS decimal(15,2)) bonusAmount
      from patient_member_info pmio join  patient_base_info pbio on pmio.patient_id = pbio.id
      where pmio.patient_id =#{id}
    </select>

    <!-- 查询会员卡关联关系 -->
    <select id="findMemberBindingRelation"
            resultType="com.yunya.feign.patient_central.domain.vo.web.PatientMemberRelationVo">
      select pmr.id bindId,(select name from patient_base_info  where id = pmr.secondary_card_id )name,pmr.master_card_id masterCardId,pmr.secondary_card_id secondaryCardId,pmr.bind_type bindType
      from patient_member_relation pmr join patient_base_info pbi on pmr.master_card_id = pbi.id
      where pmr.master_card_id = #{form.patientId} and bind_type = #{form.bindType}
    </select>

    <!-- 根据门诊id获取病历号后六位 -->
    <select id="generateCardNumber" resultType="java.lang.String">
      select
          IF(card_number is null,'000000',substr( MAX(card_number), 6, 6 )) as maxnum
      from patient_member_info
      where
        org_id = #{orgId}
        <if test="onlineDateTime != null and onlineDateTime != ''">
            and date_format(crt_time, '%Y-%m-%d %H:%i:%s') &gt;= date_format(#{onlineDateTime},'%Y-%m-%d %H:%i:%s')
        </if>
    </select>

    <!-- 根据门诊id获取病历号后六位 -->
    <select id="generateCardNumber4Prepay" resultType="java.lang.String">
        select
            IF(prepayment_number is null,'000000',substr( MAX(prepayment_number), 6, 6 )) as maxnum
        from patient_prepayments_info
        where
          org_id = #{orgId}
          <if test="onlineDateTime != null and onlineDateTime != ''">
              and date_format(crt_time, '%Y-%m-%d %H:%i:%s') &gt;= date_format(#{onlineDateTime},'%Y-%m-%d %H:%i:%s')
          </if>
    </select>

    <!-- 根据会员卡号查询 -->
    <select id="selectOneByCardNumber" resultType="com.yunya.models.patient_central.PatientMemberInfo">
        select
        <include refid="Find_Colum_List"/>
        from patient_member_info pmio where pmio.card_number = #{cardNumber}
    </select>

    <!-- 通过会员卡号查询会员卡信息 -->
    <select id="selectCardNumber" resultType="com.yunya.models.patient_central.PatientMemberInfo">
        select
        <include refid="Find_Colum_List"/>
        from patient_member_info pmio where pmio.card_number = #{memberCard}
    </select>

    <!-- 通过患者id查询会员卡全部信息 -->
    <select id="selectOneByPatientId" resultType="com.yunya.models.patient_central.PatientMemberInfo">
        select
        <include refid="Find_Colum_List"/>
        from patient_member_info pmio where pmio.patient_id =#{patientId}
    </select>

    <!-- 查询主卡人信息 -->
    <select id="selectMasertMemberInfo" resultType="com.yunya.feign.patient_central.domain.vo.web.MasertMemberInfoVo">
        select id,patient_id masterCardId, member_type_id masterCardTypeId,
        (select name from patient_base_info where id = patient_id) masterName,card_number masterCardNumber
        from patient_member_info where patient_id = #{form.patientId}
    </select>

    <!-- 根据主卡人id 查询会员贡献值关联信息 -->
    <select id="selectMemberRelationByMasterPatientId"
            resultType="com.yunya.feign.patient_central.domain.vo.web.MemberBaseInfoVo">
        SELECT
            pmio.id id,
            pmio.org_id orgid,
            pmio.patient_id patientId,
            pmio.card_number cardNumber,
            pmio.crt_time crtTime,
            pbio.NAME NAME,
            CAST(IFNULL( pmio.principal_amount + pmio.bonus_amount, 0 ) AS DECIMAL ( 15, 2 )) memberCardMoneySum,
            CAST(IFNULL( pmio.principal_amount, 0 ) AS DECIMAL ( 15, 2 )) principalAmount,
            CAST(IFNULL( pmio.bonus_amount, 0 ) AS DECIMAL ( 15, 2 )) bonusAmount
        FROM
            patient_member_relation pmrn
          join  patient_member_info pmio on pmrn.secondary_card_id = pmio.patient_id
          join  patient_base_info pbio on pmio.patient_id = pbio.id
          where pmrn.master_card_id  =#{id} and pmrn.bind_type = 1
    </select>

    <select id="sumMemberAndPrepayRechargeCash" resultType="java.math.BigDecimal">
        select sum(amount) from (
            select IFNULL(sum(t.credit_amount),0) amount from member_recharge_toll_record t
            <where>
                t.inservice = 1
                <if test="query.startDate != null">
                    and DATE_FORMAT(t.crt_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{query.startDate},'%Y-%m-%d')
                </if>
                <if test="query.endDate != null">
                    and DATE_FORMAT(t.crt_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{query.endDate},'%Y-%m-%d')
                </if>
                <if test="query.orgId != null">
                    and t.org_id = #{query.orgId}
                </if>
                <if test="query.payId != null">
                    and t.payment_id = #{query.payId}
                </if>
            </where>
            union all
            select IFNULL(sum(t.credit_amount),0) amount from prepaid_recharge_toll_record t
            <where>
                t.inservice = 1
                <if test="query.startDate != null">
                    and DATE_FORMAT(t.crt_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{query.startDate},'%Y-%m-%d')
                </if>
                <if test="query.endDate != null">
                    and DATE_FORMAT(t.crt_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{query.endDate},'%Y-%m-%d')
                </if>
                <if test="query.orgId != null">
                    and t.org_id = #{query.orgId}
                </if>
                <if test="query.payId != null">
                    and t.payment_id = #{query.payId}
                </if>
            </where>
        ) as total
    </select>

    <!-- 查询预付款、会员卡现金退款 -->
    <select id="sumMemberAndPrepaidRefundCash" resultType="java.math.BigDecimal">
        select sum(amount) from (
        select IFNULL(sum(t.actual_return_amount),0) amount from member_return_record t
        <where>
            t.inservice = 1
            <if test="query.startDate != null">
                and DATE_FORMAT(t.crt_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{query.startDate},'%Y-%m-%d')
            </if>
            <if test="query.endDate != null">
                and DATE_FORMAT(t.crt_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{query.endDate},'%Y-%m-%d')
            </if>
            <if test="query.orgId != null">
                and t.org_id = #{query.orgId}
            </if>
            <if test="query.payId != null">
                and t.return_way_id = #{query.payId}
            </if>
        </where>
        union all
        select IFNULL(sum(t.actual_return_amount),0) amount from prepaid_return_record t
        <where>
            t.inservice = 1
            <if test="query.startDate != null">
                and DATE_FORMAT(t.crt_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{query.startDate},'%Y-%m-%d')
            </if>
            <if test="query.endDate != null">
                and DATE_FORMAT(t.crt_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{query.endDate},'%Y-%m-%d')
            </if>
            <if test="query.orgId != null">
                and t.org_id = #{query.orgId}
            </if>
            <if test="query.payId != null">
                and t.return_way_id = #{query.payId}
            </if>
        </where>
        ) as total
    </select>
</mapper>