<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.patient_central.mapper.PatientMemberInfoMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.patient_central.PatientMemberInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="org_id" property="orgId" jdbcType="INTEGER"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="member_type_id" property="memberTypeId" jdbcType="INTEGER"/>
        <result column="master_card" property="masterCard" jdbcType="BIT"/>
        <result column="card_number" property="cardNumber" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="principal_amount" property="principalAmount" jdbcType="DECIMAL"/>
        <result column="bonus_amount" property="bonusAmount" jdbcType="DECIMAL"/>
        <result column="point" property="point" jdbcType="INTEGER"/>
        <result column="last_expired_time" property="lastExpiredTime" jdbcType="TIMESTAMP"/>
        <result column="next_expired_time" property="nextExpiredTime" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="inservice" property="inservice" jdbcType="BIT"/>
        <result column="crt_id" property="crtId" jdbcType="INTEGER"/>
        <result column="crt_name" property="crtName" jdbcType="VARCHAR"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upt_id" property="uptId" jdbcType="INTEGER"/>
        <result column="upd_name" property="updName" jdbcType="VARCHAR"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
        <result column="nonauto" property="nonauto" jdbcType="BIT"/>
        <result column="min_type_id" property="minTypeId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Find_Colum_List">
      pmio.id id,pmio.org_id orgId,pmio.patient_id patientId,pmio.member_type_id memberTypeId,pmio.master_card masterCard,pmio.card_number cardNumber,
      pmio.status status,pmio.principal_amount principalAmount,pmio.bonus_amount bonusAmount,pmio.point point,pmio.last_expired_time lastExpiredTime,
      pmio.next_expired_time nextExpiredTime,pmio.remarks remarks,pmio.inservice inservice, pmio.nonauto nonauto, pmio.min_type_id minTypeId
    </sql>
    <select id="findMemberRechargeRecordInfo" resultType="com.yunya.feign.patient_central.domain.vo.app.MasertMemberRechargeRecordDetailVo">
    (select mer.crt_name consumerName,pbi.name as patientName,1 type ,DATE_FORMAT(mer.crt_time,'%Y-%m-%d %H:%i:%s') operatingTime,
    (mer.expend_principal+mer.expend_gift) rechargePrincipal from member_expend_record mer
    left JOIN patient_base_info pbi on mer.patient_id = pbi.id
    where mer.inservice = 1  and DATE_FORMAT(mer.crt_time,'%Y-%m') >
    DATE_FORMAT(date_sub(curdate(), interval 12 month),'%Y-%m')
    and mer.member_id = #{memberId}
        <if test="patientId != null">
            and mer.patient_id = #{patientId}
        </if>
    )
    UNION
    (select crt_name consumerName,'--' patientName, 0 type,DATE_FORMAT(crt_time,'%Y-%m-%d %H:%i:%s') operatingTime,(recharge_principal+ifnull(recharge_bonus,0)) rechargePrincipal
    from member_recharge_record
    where inservice = 1 and type IN (0, 6, 7) and DATE_FORMAT(crt_time,'%Y-%m') >
    DATE_FORMAT(date_sub(curdate(), interval 12 month),'%Y-%m')
    and member_id = #{memberId}
    )
    UNION
    (select mrr.crt_name consumerName,'--' patientName,2 type,DATE_FORMAT(mrr.crt_time,'%Y-%m-%d %H:%i:%s') operatingTime,mrr.actual_return_amount rechargePrincipal
    from member_return_record  mrr
      left JOIN patient_base_info pbi on mrr.patient_id = pbi.id
      where mrr.inservice = 1 and DATE_FORMAT(mrr.crt_time,'%Y-%m') >
      DATE_FORMAT(date_sub(curdate(), interval 12 month),'%Y-%m')
      and mrr.member_id = #{memberId}
        <if test="patientId != null">
            and mrr.patient_id = #{patientId}
        </if>
)
    </select>
    <select id="findMemberPrepaidRecordInfo" resultType="com.yunya.feign.patient_central.domain.vo.app.MasertMemberRechargeRecordDetailVo">
    (select mer.crt_name as consumerName,pbi.name as patientName,1 type ,DATE_FORMAT(mer.crt_time,'%Y-%m-%d %H:%i:%s') operatingTime,
    (mer.expend_principal+mer.expend_gift) rechargePrincipal from prepaid_expend_record mer
    left JOIN patient_base_info pbi on mer.patient_id = pbi.id
    where mer.inservice = 1 and DATE_FORMAT(mer.crt_time,'%Y-%m') >
    DATE_FORMAT(date_sub(curdate(), interval 12 month),'%Y-%m')
    and mer.prepaid_id = #{memberId}
    <if test="patientId != null">
        and mer.patient_id = #{patientId}
    </if>
    )
    UNION
    (select crt_name consumerName,'--' patientName, 0 type,DATE_FORMAT(crt_time,'%Y-%m-%d %H:%i:%s') operatingTime,(recharge_principal+ifnull(recharge_bonus,0)) rechargePrincipal
    from prepaid_recharge_record
    where inservice = 1 and type = 0 and DATE_FORMAT(crt_time,'%Y-%m') >
    DATE_FORMAT(date_sub(curdate(), interval 12 month),'%Y-%m')
    and prepaid_id = #{memberId}
    )
    UNION
    (select mrr.crt_name consumerName,'--' patientName,2 type,DATE_FORMAT(mrr.crt_time,'%Y-%m-%d %H:%i:%s') operatingTime,mrr.actual_return_amount rechargePrincipal
    from prepaid_return_record  mrr
      left JOIN patient_base_info pbi on mrr.patient_id = pbi.id
      where mrr.inservice = 1 and DATE_FORMAT(mrr.crt_time,'%Y-%m') >
      DATE_FORMAT(date_sub(curdate(), interval 12 month),'%Y-%m')
      and mrr.prepaid_id = #{memberId}
      <if test="patientId != null">
        and mrr.patient_id = #{patientId}
    </if>
)
    </select>
    <!-- 根据患者id查询会员基本信息(会员卡界面基本信息（非全部信息）) -->
    <select id="findMemberBaseInfo" resultType="com.yunya.feign.patient_central.domain.vo.web.MemberBaseInfoVo">
     select pmio.org_id orgId, pmio.patient_id patientId, pmio.id,pmio.card_number cardNumber,pmio.member_type_id memberTypeId,pmio.crt_time crtTime,pbio.name name,
				CAST((pmio.principal_amount+pmio.bonus_amount) AS decimal(15,4)) memberCardMoneySum,
				CAST(IFNULL(pmio.principal_amount,0) AS decimal(15,4)) principalAmount,
				CAST(IFNULL(pmio.bonus_amount,0) AS decimal(15,4)) bonusAmount,
                pmio.inservice
      from patient_member_info pmio join  patient_base_info pbio on pmio.patient_id = pbio.id
      where pmio.patient_id =#{id}
    </select>

    <!-- 查询会员卡关联关系 -->
    <select id="findMemberBindingRelation"
            resultType="com.yunya.feign.patient_central.domain.vo.web.PatientMemberRelationVo">
      select pmr.id bindId,(select name from patient_base_info  where id = pmr.secondary_card_id )name,pmr.master_card_id masterCardId,
      pmr.secondary_card_id secondaryCardId,pmr.bind_type bindType,pbi.face_url as faceUrl, pbi.mobile AS masterMobile
      from patient_member_relation pmr join patient_base_info pbi on pmr.master_card_id = pbi.id
      where pmr.master_card_id = #{form.patientId} and bind_type = #{form.bindType}
    </select>

    <!-- 根据门诊id获取病历号后六位 -->
    <select id="generateCardNumber" resultType="java.lang.String">
      select
          IF(card_number is null,'000000',substr( MAX(card_number), -6, 6 )) as maxnum
      from patient_member_info
      where
        left(card_number,1)='H'
        and org_id = #{orgId}
    </select>

    <!-- 根据会员卡号查询 -->
    <select id="selectOneByCardNumber" resultType="com.yunya.models.patient_central.PatientMemberInfo">
        select
        <include refid="Find_Colum_List"/>
        from patient_member_info pmio where pmio.card_number = #{cardNumber}
    </select>

    <!-- 通过会员卡号查询会员卡信息 -->
    <select id="selectCardNumber" resultType="com.yunya.models.patient_central.PatientMemberInfo">
        select
        <include refid="Find_Colum_List"/>
        from patient_member_info pmio where pmio.card_number = #{memberCard}
    </select>

    <!-- 通过会员卡号查询患者姓名 -->
    <select id="selectPatientNameByCardNumber2" resultType="String">
        select pbi.name
        from patient_member_info pmio
        left join patient_base_info pbi on pmio.patient_id = pbi.id
        where pmio.card_number = #{memberCard}
    </select>

    <!-- 通过患者id查询会员卡全部信息 -->
    <select id="selectOneByPatientId" resultType="com.yunya.models.patient_central.PatientMemberInfo">
        select
        <include refid="Find_Colum_List"/>
        from patient_member_info pmio where pmio.patient_id =#{patientId}
    </select>

    <!-- 查询主卡人信息 -->
    <select id="selectMasertMemberInfo" resultType="com.yunya.feign.patient_central.domain.vo.web.MasertMemberInfoVo">
        select id,patient_id masterCardId, member_type_id masterCardTypeId,
        (select name from patient_base_info where id = patient_id) masterName,card_number masterCardNumber,point,crt_time crtTime
        from patient_member_info where patient_id = #{form.patientId}
    </select>

    <!-- 根据患者id查询患者可用会员卡列表 -->
    <select id="selectMemberRelationByMasterPatientId"
            resultType="com.yunya.feign.patient_central.domain.vo.web.MemberBaseInfoVo">
        SELECT
            pmi.id,
            pmr.master_card_id AS patientId,
            pbi.`name`,
            pmi.member_type_id AS memberTypeId,
            pmi.card_number AS cardNumber,
            pmi.inservice,
            CAST(
            IFNULL( pmi.principal_amount + pmi.bonus_amount, 0 ) AS DECIMAL ( 15, 4 )) memberCardMoneySum,
            CAST(
            IFNULL( pmi.principal_amount, 0 ) AS DECIMAL ( 15, 4 )) principalAmount,
            CAST(
            IFNULL( pmi.bonus_amount, 0 ) AS DECIMAL ( 15, 4 )) bonusAmount
        FROM
            ( SELECT pmr.master_card_id FROM patient_member_relation pmr WHERE bind_type = 1 AND pmr.secondary_card_id = #{patientId} GROUP BY pmr.master_card_id ) pmr
            INNER JOIN patient_member_info pmi ON pmr.master_card_id = pmi.patient_id
            LEFT JOIN patient_base_info pbi ON pmr.master_card_id = pbi.id
    </select>

    <select id="sumMemberAndPrepayRechargeCash" resultType="java.math.BigDecimal">
        select sum(amount) from (
            select IFNULL(sum(t.credit_amount),0) amount from member_recharge_toll_record t
            <where>
                t.inservice = 1
                <if test="query.startDate != null">
                    and DATE_FORMAT(t.crt_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{query.startDate},'%Y-%m-%d')
                </if>
                <if test="query.endDate != null">
                    and DATE_FORMAT(t.crt_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{query.endDate},'%Y-%m-%d')
                </if>
                <if test="query.orgId != null">
                    and t.org_id = #{query.orgId}
                </if>
                <if test="query.payId != null">
                    and t.payment_id = #{query.payId}
                </if>
            </where>
            union all
            select IFNULL(sum(t.credit_amount),0) amount from prepaid_recharge_toll_record t
            <where>
                t.inservice = 1
                <if test="query.startDate != null">
                    and DATE_FORMAT(t.crt_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{query.startDate},'%Y-%m-%d')
                </if>
                <if test="query.endDate != null">
                    and DATE_FORMAT(t.crt_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{query.endDate},'%Y-%m-%d')
                </if>
                <if test="query.orgId != null">
                    and t.org_id = #{query.orgId}
                </if>
                <if test="query.payId != null">
                    and t.payment_id = #{query.payId}
                </if>
            </where>
        ) as total
    </select>

    <!-- 查询预付款、会员卡现金退款 -->
    <select id="sumMemberAndPrepaidRefundCash" resultType="java.math.BigDecimal">
        select sum(amount) from (
        select IFNULL(sum(t.actual_return_amount),0) amount from member_return_record t
        <where>
            t.inservice = 1
            <if test="query.startDate != null">
                and DATE_FORMAT(t.crt_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{query.startDate},'%Y-%m-%d')
            </if>
            <if test="query.endDate != null">
                and DATE_FORMAT(t.crt_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{query.endDate},'%Y-%m-%d')
            </if>
            <if test="query.orgId != null">
                and t.org_id = #{query.orgId}
            </if>
            <if test="query.payId != null">
                and t.return_way_id = #{query.payId}
            </if>
        </where>
        union all
        select IFNULL(sum(t.actual_return_amount),0) amount from prepaid_return_record t
        <where>
            t.inservice = 1
            <if test="query.startDate != null">
                and DATE_FORMAT(t.crt_time,'%Y-%m-%d') &gt;= DATE_FORMAT(#{query.startDate},'%Y-%m-%d')
            </if>
            <if test="query.endDate != null">
                and DATE_FORMAT(t.crt_time,'%Y-%m-%d') &lt;= DATE_FORMAT(#{query.endDate},'%Y-%m-%d')
            </if>
            <if test="query.orgId != null">
                and t.org_id = #{query.orgId}
            </if>
            <if test="query.payId != null">
                and t.return_way_id = #{query.payId}
            </if>
        </where>
        ) as total
    </select>

    <select id="selectDepositAccountBillExpendList"
            resultType="com.yunya.feign.patient_central.domain.vo.web.PatientDepositAccountVO">
        SELECT t.*, pbi.name AS patientName
        FROM (
               SELECT
                     pmi.card_number                              AS cardNumber,
                     pmi.patient_id                               AS patientId,
                     0                                            AS type,
                     pmi.principal_amount + pmi.bonus_amount AS balance,
                     IFNULL(mer.principal, 0) AS principal,
                     IFNULL(mer.bonus, 0) AS bonus
              FROM (
                SELECT
                    member_id,
                    order_record_id,
                    SUM(expend_principal) AS principal,
                    SUM(expend_gift) AS bonus
                FROM member_expend_record
                WHERE inservice = true
                GROUP BY member_id, order_record_id
              ) mer
              LEFT JOIN patient_member_info pmi ON pmi.card_number = mer.member_id
              WHERE mer.order_record_id = #{orderRecordId}
              UNION ALL
              SELECT pmi.prepayment_number                                AS cardNumber,
                     pmi.patient_id                                       AS patientId,
                     1                                                    AS type,
                     pmi.prepayment_principal + pmi.prepayment_bonus AS balance,
                     IFNULL(mer.principal, 0) AS principal,
                     IFNULL(mer.bonus, 0) AS bonus
              FROM (
                SELECT
                    prepaid_id,
                    order_record_id,
                    SUM(expend_principal) AS principal,
                    SUM(expend_gift) AS bonus
                FROM prepaid_expend_record
                WHERE inservice = true
                GROUP BY prepaid_id, order_record_id
              ) mer
              LEFT JOIN patient_prepayments_info pmi ON pmi.prepayment_number = mer.prepaid_id
              WHERE mer.order_record_id = #{orderRecordId}
        ) t
        LEFT JOIN patient_base_info pbi ON pbi.id = t.patientId
    </select>

    <select id="selectPatientCumulativeTotalInfo"
            resultType="com.yunya.feign.patient_central.domain.vo.web.PatientCumulativeInfoVO">
        SELECT
            IFNULL(mer.cardCumulativeConsumption, 0) AS cardCumulativeConsumption,
            IFNULL(pmi.principal_amount, 0) AS memberPrincipal,
            IFNULL(pmi.bonus_amount, 0) AS memberBouns,
            IFNULL(pmi.bonus_amount, 0) AS personBounsCumulative
        FROM patient_member_info pmi
        LEFT JOIN (
            SELECT
                member_id,
                SUM(expend_principal + expend_gift) AS cardCumulativeConsumption
            FROM member_expend_record
            GROUP BY member_id
        ) mer ON pmi.card_number=mer.member_id
        WHERE pmi.patient_id = #{patientId}
    </select>

    <select id="selectPatientBindMemberInfo" resultType="com.yunya.models.patient_central.PatientMemberInfo">
        SELECT
            <include refid="Find_Colum_List"/>
            ,
            'true' AS remark
        FROM patient_member_relation pmr
        INNER JOIN patient_member_info pmio ON pmio.patient_id = pmr.master_card_id
        WHERE pmr.bind_type = 1 AND pmr.inservice = 1
        AND pmr.secondary_card_id = #{patientId}
        ORDER BY pmr.crt_time DESC
        LIMIT 1
    </select>

    <select id="selectPatientReferrerMemberInfo"
            resultType="com.yunya.models.patient_central.PatientMemberInfo">
        SELECT
            <include refid="Find_Colum_List"/>,
            'true' AS remark
        FROM (
            SELECT pmi.* FROM patient_kin_relation pkr
            LEFT JOIN patient_member_info pmi ON pmi.patient_id = pkr.patient_id
            WHERE pkr.type = 1 AND pkr.inservice = 1 AND pmi.inservice = 1
            AND pkr.linked_patient_id = #{patientId}
        ) pmio
        LEFT JOIN patient_base_info pbi ON pmio.patient_id = pbi.id
        WHERE pbi.inservice = 1
    </select>
</mapper>