<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.patient_central.mapper.PatientOriginMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.patient_central.PatientOrigin" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="qr_code_path" property="qrCodePath" jdbcType="VARCHAR" />
    <result column="allow_operate" property="allowOperate" jdbcType="BIT" />
    <result column="time_limit" property="timeLimit" jdbcType="BIT" />
    <result column="limit_start_date" property="limitStartDate" jdbcType="TIMESTAMP" />
    <result column="limit_end_date" property="limitEndDate" jdbcType="TIMESTAMP" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upd_id" property="updId" jdbcType="INTEGER" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="PatientOrigin_Column_List">
    po.id id,po.parent_id parentId,po.name name,po.qr_code_path qrCodePath,po.allow_operate allowOperate,po.time_limit timeLimit,po.limit_start_date limitStartDate,
    po.limit_end_date limitEndDate,po.inservice inservice,po.crt_id crtId,po.crt_name crtName,po.crt_time crtTime,po.upd_id updId,po.upd_name updName,po.upd_time updTime
  </sql>

  <select id="findPatientOriginByParentId" resultType="com.yunya.models.patient_central.PatientOrigin">
    select <include refid="PatientOrigin_Column_List"/>
    from patient_origin po
    where po.id = #{parentId}
  </select>

  <select id="findAll" resultType="com.yunya.feign.patient_central.domain.vo.PatientOriginInfoVo">
    select <include refid="PatientOrigin_Column_List"/>
    from patient_origin po order by po.crt_time desc
  </select>

  <select id="findPatientOriginByName" resultType="com.yunya.models.patient_central.PatientOrigin">
    select <include refid="PatientOrigin_Column_List"/>
    from patient_origin po where po.name = #{name}
  </select>
</mapper>