<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.patient_central.mapper.PatientExpInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.patient_central.PatientExpInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="patient_kind" property="patientKind" jdbcType="INTEGER" />
    <result column="useful_phone" property="usefulPhone" jdbcType="VARCHAR" />
    <result column="identity" property="identity" jdbcType="VARCHAR" />
    <result column="profession" property="profession" jdbcType="INTEGER" />
    <result column="heredity" property="heredity" jdbcType="VARCHAR" />
    <result column="other_health" property="otherHealth" jdbcType="VARCHAR" />
    <result column="brush_times" property="brushTimes" jdbcType="INTEGER" />
    <result column="brush_time" property="brushTime" jdbcType="TINYINT" />
    <result column="brush_hardness" property="brushHardness" jdbcType="TINYINT" />
    <result column="smoking_age" property="smokingAge" jdbcType="TINYINT" />
    <result column="smoking_num" property="smokingNum" jdbcType="INTEGER" />
    <result column="use_electric_brush" property="useElectricBrush" jdbcType="BIT" />
    <result column="use_collutory" property="useCollutory" jdbcType="BIT" />
    <result column="use_floss" property="useFloss" jdbcType="BIT" />
    <result column="bruxism" property="bruxism" jdbcType="BIT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upt_id" property="uptId" jdbcType="INTEGER" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="PatientExpInfo_Column_List">
    id,patient_id patientId,patient_kind patientkind,useful_phone usefulPhone,identity,profession,heredity,other_health otherHealth,brush_times brushTimes,brush_time brushTime,brush_hardness brushHardness,smoking_age smokingAge,
    smoking_num smokingNum,use_electric_brush useElectricBrush,use_collutory useCollutory,use_floss useFloss,bruxism ,address,province,city,country,remarks,inservice,crt_id crtId,crt_name crtName,crt_time crtTime,
    upt_id uptId,upd_name updName,upd_time updTime
  </sql>

  <!--根据患者id查询患者扩展信息-->
  <select id="selectByPatientId" resultType="com.yunya.feign.patient_central.domain.vo.web.PatientExpInfoVo">
    select <include refid="PatientExpInfo_Column_List"/> from patient_exp_info where patient_id = #{patientId}
  </select>
</mapper>