<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.patient_central.mapper.PatientBaseInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.patient_central.PatientBaseInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pinyin_name" property="pinyinName" jdbcType="VARCHAR" />
    <result column="wo_guid" property="woGuid" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="mobile_owner" property="mobileOwner" jdbcType="INTEGER" />
    <result column="medical_number" property="medicalNumber" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="TINYINT" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="origin_type" property="originType" jdbcType="INTEGER" />
    <result column="origin_id" property="originId" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="inservice" property="inservice" jdbcType="BIT" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upt_id" property="uptId" jdbcType="INTEGER" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!--患者表中的全部字段-->
  <sql id="Patient_Column_List">
    id,org_id orgId,name,pinyin_name pinyinName,wo_guid woGuid,mobile,Mobile_owner mobileOwner,medical_number medicalNumber,gender,age,birthday,origin_type originType,origin_id originId,remarks,inservice,crt_id crtId,crt_name crtName,crt_time crtTime,upt_id uptId,upd_name updName,upd_time updTime
  </sql>

  <!--根据手机号查询用户是否纯在-->
  <select id="findUserExists" resultType="com.yunya.feign.patient_central.domain.vo.PatientBaseInfoVo">
        select <include refid="Patient_Column_List"></include>
        from patient_base_info where name = #{form.name} and mobile = #{form.mobile}
  </select>

  <select id="findUserExistsByMobile" resultType="int">
    select count(1) from patient_base_info where mobile = #{mobile}
  </select>

  <select id="findPatientPublicInfoById" resultType="com.yunya.feign.patient_central.domain.vo.PatientPublicInfoVo">
    select pbi.name name,pbi.gender gender,pbi.age age,pbi.mobile mobile,
		   pbi.medical_number medicalNumber,pmi.member_type_id memberTypeId,
		   cast(SUM(pmi.principal_amount+pmi.bonus_amount) as decimal(15,2)) memberCardMoneySum,
		   cast(SUM(ppi.prepayment_principal+ppi.prepayment_bonus)as decimal(15,2)) prepaymentsMoneySum
    from patient_base_info pbi
    join patient_prepayments_info ppi on pbi.id = ppi.patient_id
    join patient_member_info pmi      on pbi.id = pmi.patient_id
    where pbi.id = #{id}
  </select>

  <select id="selectListByPatientId" resultType="com.yunya.feign.patient_central.domain.vo.PatientRecommendRelationVo">
    select id,origin_id patientId,name,gender,mobile,crt_time crtTime
    from patient_base_info where origin_id = #{form.patientId} and origin_type = #{form.originType}
    order by crtTime desc
  </select>

  <select id="findRecommendRelationById" resultType="com.yunya.feign.patient_central.domain.vo.PatientRecommendRelationVo">
    select id,origin_id patientId,name,gender,mobile,crt_time crtTime
    from patient_base_info where origin_id = #{form.patientId} and origin_type = #{form.originType}
    order by crtTime desc
  </select>

  <select id="findPatientByNameAndMobile" resultType="com.yunya.feign.patient_central.domain.vo.PatientBaseInfoVo">
    select <include refid="Patient_Column_List"></include>
    from patient_base_info where CONCAT(name,medical_number,pinyin_name,mobile) like CONCAT(CONCAT('%',#{form.condition}),'%')
  </select>

  <select id="selectPatientInfoByIdList" resultType="com.yunya.feign.patient_central.domain.vo.PatientBaseInfoVo">
    select <include refid="Patient_Column_List"/>
    from patient_base_info where id in
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>

  <select id="selectPatientById" resultType="com.yunya.models.patient_central.PatientBaseInfo">
    select <include refid="Patient_Column_List"/>
    from patient_base_info where id = #{id}
  </select>

  <select id="selectPatientInfoByNameAndMobileAndOrgId" resultType="com.yunya.feign.patient_central.domain.vo.PatientBaseInfoVo">
    select <include refid="Patient_Column_List"/>
    from patient_base_info where name = #{form.name} and mobile = #{form.mobile} and org_id = #{form.orgId}
  </select>


</mapper>

