<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.patient_central.mapper.PrepaidExpendRecordMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.patient_central.PrepaidExpendRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="prepaid_id" property="prepaidId" jdbcType="VARCHAR" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="expend_principal" property="expendPrincipal" jdbcType="DECIMAL" />
    <result column="expend_gift" property="expendGift" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="treatment_record_id" property="treatmentRecordId" jdbcType="INTEGER" />
    <result column="bill_record_id" property="billRecordId" jdbcType="INTEGER" />
    <result column="bill_pay_record_id" property="billPayRecordId" jdbcType="INTEGER" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upt_id" property="uptId" jdbcType="INTEGER" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>

    <!-- 查询预付款消费记录 -->
    <select id="expendList" resultType="com.yunya.feign.patient_central.domain.vo.PrepaidExpendRecordVo">
        SELECT
            perd.id,
            perd.org_id orgId,
            perd.prepaid_id prepaidId,
            perd.patient_id patientId,
            perd.expend_principal expendPrincipal,
            perd.expend_gift expendGift,
            perd.remarks remarks,
            perd.crt_id operatorId,
            perd.crt_name operatorName,
            perd.crt_time operatingTime,
            perd.upt_id uptId,
            perd.upd_name updName,
            perd.upd_time updTime,
            pbio.name expendName
        FROM
            prepaid_expend_record perd
            JOIN patient_base_info pbio ON perd.patient_id = pbio.id
        WHERE
            perd.prepaid_id = #{form.prepaidId} and perd.patient_id = #{form.patientId}
    </select>
</mapper>