<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.patient_central.mapper.PrepaidExpendRecordMapper" >
  <resultMap id="BaseResultMap" type="com.yunya.models.patient_central.PrepaidExpendRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="prepaid_id" property="prepaidId" jdbcType="VARCHAR" />
    <result column="patient_id" property="patientId" jdbcType="INTEGER" />
    <result column="expend_principal" property="expendPrincipal" jdbcType="DECIMAL" />
    <result column="expend_gift" property="expendGift" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="treatment_record_id" property="treatmentRecordId" jdbcType="INTEGER" />
    <result column="bill_record_id" property="billRecordId" jdbcType="INTEGER" />
    <result column="bill_pay_record_id" property="billPayRecordId" jdbcType="INTEGER" />
    <result column="crt_id" property="crtId" jdbcType="INTEGER" />
    <result column="crt_name" property="crtName" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="upt_id" property="uptId" jdbcType="INTEGER" />
    <result column="upd_name" property="updName" jdbcType="VARCHAR" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
    <result column="inservice" property="inservice" jdbcType="BIT"/>
    <result column="order_record_id" property="orderRecordId" jdbcType="INTEGER" />
  </resultMap>

    <!-- 查询预付款消费记录 -->
    <select id="expendList" resultType="com.yunya.feign.patient_central.domain.vo.web.PrepaidExpendRecordVo">

			SELECT
            per.id,
            per.org_id orgId,
            per.prepaid_id memberCard,
            pbio.name consumerName,
            (select name from patient_base_info where id = ppi.patient_id ) as masterCardName,
            per.expend_principal expendPrincipal,
            per.expend_gift expendGift,
            per.remarks remarks,
            per.crt_id operatorId,
            per.crt_name operatorName,
            date_format(per.crt_time,'%Y-%m-%d %H:%i') operatingTime,
            per.upt_id uptId,
            per.upd_name updName,
            per.upd_time updTime,
            pbio.name expendName
        FROM
            prepaid_expend_record per
            LEFT JOIN patient_base_info pbio ON per.patient_id = pbio.id
            LEFT JOIN patient_prepayments_info ppi ON ppi.prepayment_number = per.prepaid_id
        WHERE
            1 = 1
            <if test="form.prepaidId != null || form.prepaidId != ''">
                and per.prepaid_id = #{form.prepaidId}
            </if>

            <if test="form.prepaidId == null">
                and per.prepaid_id  is null
            </if>

            and per.inservice = 1
            and per.type = 0

		UNION

		SELECT
            per.id,
            per.org_id orgId,
            per.prepaid_id memberCard,
            pbio.name consumerName,
            (select name from patient_base_info where id = ppi.patient_id ) as masterCardName,
            per.expend_principal expendPrincipal,
            per.expend_gift expendGift,
            per.remarks remarks,
            per.crt_id operatorId,
            per.crt_name operatorName,
            date_format(per.crt_time,'%Y-%m-%d %H:%i') operatingTime,
            per.upt_id uptId,
            per.upd_name updName,
            per.upd_time updTime,
            pbio.name expendName
        FROM
            prepaid_expend_record per
            LEFT JOIN patient_base_info pbio ON per.patient_id = pbio.id
            LEFT JOIN patient_prepayments_info ppi ON ppi.prepayment_number = per.prepaid_id
        WHERE
            1 = 1
            <if test="form.patientId != null">
                and per.patient_id = #{form.patientId}
            </if>

            <if test="form.patientId == null">
                and per.patient_id is null
            </if>
            and per.inservice = 1
            and per.type = 0
    </select>

    <select id="finishedAccount"
            resultType="com.yunya.feign.patient_central.domain.vo.web.PatientPrepaymentsOwnerInfoVo">
        SELECT
          ppr.master_card_id masterCardId,
            ppi.prepayment_number  prepaymentNumber,
            pbi.name

        FROM
            patient_prepayment_relation ppr
            JOIN patient_prepayments_info ppi ON ppi.patient_id = ppr.master_card_id
            JOIN patient_base_info pbi ON pbi.id = ppr.master_card_id
        WHERE
            ppr.secondary_card_id = #{patientId}
    </select>
</mapper>