<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunya.modules.patient_central.mapper.WxFansMapper">
    <resultMap id="BaseResultMap" type="com.yunya.models.patient_central.WxFans">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="register_name" property="registerName" jdbcType="VARCHAR"/>
        <result column="register_mobile" property="registerMobile" jdbcType="VARCHAR"/>
        <result column="open_id" property="openId" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="SMALLINT"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="language" property="language" jdbcType="VARCHAR"/>
        <result column="head_imgurl" property="headImgurl" jdbcType="VARCHAR"/>
        <result column="subscribe" property="subscribe" jdbcType="BIT"/>
        <result column="subscribe_time" property="subscribeTime" jdbcType="TIMESTAMP"/>
        <result column="union_id" property="unionId" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="group_id" property="groupId" jdbcType="VARCHAR"/>
        <result column="tagid_list" property="tagidList" jdbcType="VARCHAR"/>
        <result column="bind" property="bind" jdbcType="BIT"/>
        <result column="bind_time" property="bindTime" jdbcType="TIMESTAMP"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="access_token" property="accessToken" jdbcType="VARCHAR"/>
        <result column="patient_id" property="patientId" jdbcType="INTEGER"/>
        <result column="lastchatkf_id" property="lastchatkfId" jdbcType="VARCHAR"/>
        <result column="fans_status" property="fansStatus" jdbcType="INTEGER"/>
        <result column="last_login_date" property="lastLoginDate" jdbcType="TIMESTAMP"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="last_login_address" property="lastLoginAddress" jdbcType="VARCHAR"/>
        <result column="longitude" property="longitude" jdbcType="DOUBLE"/>
        <result column="latitude" property="latitude" jdbcType="DOUBLE"/>
        <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="WxWechatResultMap" type="com.yunya.feign.patient_central.domain.vo.web.WxWechatFansVo">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="openId" property="openId" jdbcType="VARCHAR"/>
        <result column="nickName" property="nickName" jdbcType="VARCHAR"/>
        <!--<result column="name" property="name" jdbcType="VARCHAR" />-->
        <result column="sex" property="sex" jdbcType="SMALLINT"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="crtTime" property="crtTime" jdbcType="TIMESTAMP"/>
        <result column="isBind" property="isBind" jdbcType="INTEGER"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="bindPant" property="bindPant" jdbcType="VARCHAR"/>
        <result column="fansStatus" property="fansStatus" jdbcType="INTEGER"/>
        <collection property="bindPantlist" resultMap="WxWechatBindResultMap"/>
    </resultMap>
    <resultMap id="WxWechatAppMapLsit" type="com.yunya.feign.patient_central.domain.vo.web.WxWechatMapFansVo">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="longitude" property="longitude" jdbcType="VARCHAR"/>
        <result column="latitude" property="latitude" jdbcType="VARCHAR"/>
        <result column="isBind" property="isBind" jdbcType="INTEGER"/>
        <result column="nickName" property="nickName" jdbcType="VARCHAR"/>
        <result column="headImgurl" property="headImgurl" jdbcType="TIMESTAMP"/>
        <result column="isBind" property="isBind" jdbcType="INTEGER"/>
        <result column="numBind" property="numBind" jdbcType="INTEGER"/>
        <result column="lastLoginDate" property="lastLoginDate" jdbcType="TIMESTAMP"/>
        <collection property="bindPantlist" resultMap="WxWechatBindResultMap"/>
    </resultMap>
    <resultMap id="WxWechatBindResultMap" type="com.yunya.feign.patient_central.domain.vo.web.WxWechatbindListVO">
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="dictionaryName" property="dictionaryName" jdbcType="VARCHAR"/>
        <result column="dictionaryId" property="dictionaryId" jdbcType="INTEGER"/>
        <result column="patientId" property="patientId" jdbcType="INTEGER"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="findWechatList" resultMap="WxWechatResultMap">
        select wf.id,wf.nick_name as nickName,wf.open_id as openId,wf.register_mobile as mobile,
        wf.crt_time as crtTime,wf.source_type as sourceType,wf.source_type_name as sourceTypeName,wf.bind as isBind,wf.fans_status as fansStatus,wf.address,
        wfb.patient_id as patientId,pbi.name as name,wfb.dictionary_id as dictionaryId,
        case when wf.sex = 1 then '男'
        when wf.sex = 2 then '女'
        else '未知'
        end as sex
        from wx_fans wf
        LEFT JOIN wx_fans_bind wfb ON wf.open_id = wfb.open_id
        LEFT JOIN patient_base_info pbi on wfb.patient_id = pbi.id
        <where>
            <if test="startTime !=null and endTime != null">
                and DATE_FORMAT(wf.crt_time,'%Y-%m-%d') >= DATE_FORMAT(#{startTime},'%Y-%m-%d')
                and DATE_FORMAT(wf.crt_time,'%Y-%m-%d') &lt;= DATE_FORMAT(DATE_ADD(#{endTime},INTERVAL '1'
                DAY),'%Y-%m-%d')
            </if>
            <if test="isBind !=null">
                and wf.bind = #{isBind}
            </if>
            <if test="address !=null and address !=''">
                and concat(wf.address) like concat(concat('%', rtrim(#{address})), '%')
            </if>
            AND concat(IFNULL(pbi.`name`,''),
            IFNULL(pbi.medical_number,''),
            IFNULL(pbi.pinyin_name,''),
            IFNULL(wf.register_mobile,''),
            IFNULL(wf.nick_name,''))
            like concat(concat('%', rtrim(#{name})), '%')
        </where>
        order by wf.crt_time desc
    </select>
    <select id="findList" resultType="com.yunya.feign.patient_central.domain.vo.web.WxFansVo">
        select wf.last_login_address as lastLoginAddress,wf.id,wf.nick_name as nickName,wf.head_imgurl as headImgurl,wf.open_id as
        openId,wf.union_id as
        unionId,pbi.name,wf.register_mobile as mobile,
        wf.remark,wf.crt_time as crtTime,wf.bind as isBind
        ,wf.source_type as sourceType,wf.source_type_name as sourceTypeName,
        case when wf.sex = 1 then '男'
        when wf.sex = 2 then '女'
        else '未知'
        end as sex,
        case when wf.subscribe = 1 then '是'
        else '否'
        end as subscribe
        from wx_fans wf
        LEFT JOIN wx_fans_bind wfb ON wf.open_id = wfb.open_id
        LEFT JOIN patient_base_info pbi on wfb.patient_id = pbi.id
        <where>
            <if test="startTime !=null and endTime != null">
                and DATE_FORMAT(wf.crt_time,'%Y-%m-%d') >= DATE_FORMAT(#{startTime},'%Y-%m-%d')
                and DATE_FORMAT(wf.crt_time,'%Y-%m-%d') &lt;= DATE_FORMAT(DATE_ADD(#{endTime},INTERVAL '1'
                DAY),'%Y-%m-%d')
            </if>
            <if test="isBind !=null">
                and wf.bind = #{isBind}
            </if>
            AND concat(IFNULL(pbi.`name`,''),
            IFNULL(pbi.medical_number,''),
            IFNULL(pbi.pinyin_name,''),
            IFNULL(wf.register_mobile,''),
            IFNULL(wf.nick_name,''))
            like concat(concat('%', rtrim(#{name})), '%')
        </where>
        GROUP BY wf.id
        order by wf.crt_time desc
    </select>


    <select id="findListByName" resultType="com.yunya.feign.patient_central.domain.vo.web.WxFansVo">
        select wf.id,wf.register_name as name,wf.head_imgurl as headImgurl,wf.open_id as openId,wf.register_mobile as
        mobile,wf.nick_name as nickName,
        wf.remark,wf.crt_time as crtTime,wf.bind as isBind,
        case when wf.sex = 1 then '男'
        when wf.sex = 2 then '女'
        else '未知'
        end as sex,
        case when wf.subscribe = 1 then '是'
        else '否'
        end as subscribe
        from wx_fans wf
        <where>
            <if test="name !=null and name !=''">
                AND concat(IFNULL(wf.nick_name,''))
                like concat(concat('%', rtrim(#{name})), '%')
            </if>
        </where>
        GROUP BY wf.id
        order by wf.crt_time desc
    </select>
    <select id="findMapList" resultMap="WxWechatAppMapLsit">
        SELECT
        ROUND(
        6378.138 * 2 * ASIN(
        SQRT(
        POW(
        SIN(
        (
        #{latitude}*PI()/180-wf.latitude*PI()/180)/2),2)+
        COS(
        #{latitude}*PI()/180)*COS(wf.latitude*PI()/180)*POW(SIN((#{longitude}*PI()/180-
        wf.longitude * PI() / 180
        ) / 2
        ),
        2
        )
        )
        ) * 1000
        ) AS distance,
        wf.id as id,
        wf.longitude,
        wf.latitude,
        wf.bind as isBind,
        wf.nick_name as nickName,
        wf.last_login_date as lastLoginDate,
        wf.head_imgurl as headImgurl,
--         COUNT(
--         wfb.id
--         ) AS numBind,
        wfb.patient_id as patientId,pbi.name as name,wfb.dictionary_id as dictionaryId,pbi.mobile as mobile
        FROM
        wx_fans AS wf
        left join wx_fans_bind wfb on wf.union_id = wfb.union_id
        left join patient_base_info pbi on wfb.patient_id = pbi.id
        <where>
            ROUND(
            6378.138 * 2 * ASIN(
            SQRT(
            POW(
            SIN(
            (
            #{latitude}*PI()/180-wf.latitude*PI()/180)/2),2)+
            COS(
            #{latitude}*PI()/180)*COS(wf.latitude*PI()/180)*POW(SIN((#{longitude}*PI()/180-
            wf.longitude * PI() / 180
            ) / 2
            ),
            2
            )
            )
            ) * 1000
            ) &lt;= #{distance}
            <if test="isBind !=null">
                and wf.bind = #{isBind}
            </if>
        </where>


    </select>
    <select id="findNumBind" resultType="com.yunya.feign.patient_central.domain.vo.web.WxWechatMapBindNumFansVo">
        SELECT
        COUNT(
        CASE
        WHEN bind = 1
        THEN
        1
        ELSE
        NULL
        END
        ) AS numBind,
        COUNT(
        CASE
        WHEN bind = 0 or ISNULL(bind)
        THEN
        1
        ELSE
        NULL
        END
        ) AS numNoBind
        FROM
        wx_fans AS wf
        where
        ROUND(
        6378.138 * 2 * ASIN(
        SQRT(
        POW(
        SIN(
        (
        #{latitude}*PI()/180-wf.latitude*PI()/180)/2),2)+
        COS(
        #{latitude}*PI()/180)*COS(wf.latitude*PI()/180)*POW(SIN((#{longitude}*PI()/180-
        wf.longitude * PI() / 180
        ) / 2
        ),
        2
        )
        )
        ) * 1000
        ) &lt;= #{distance}
    </select>

    <select id="findDetail" resultType="com.yunya.feign.patient_central.domain.vo.web.WxFansDetailVO">
      SELECT
      pbi.id as patientId,
	  pbi.name as patientName,
	  wfb.dictionary_id as dictionaryId,
	  pbi.age,
	  pbi.mobile
      FROM
	  wx_fans_bind wfb
      LEFT JOIN patient_base_info pbi on wfb.patient_id = pbi.id
      where wfb.union_id = #{unionId}
  </select>

    <select id="selectWxFansSubscibedList" resultType="com.yunya.feign.patient_central.domain.vo.web.WxFansVo">
        SELECT
            union_id AS unionId,
            source_type AS sourceType
        FROM wx_fans
        <where>
            AND subscribe = true
            AND union_id = #{unionid}
        </where>
    </select>

    <insert id="insertList" parameterType="List">
        insert into
        `wx_fans`
        (`register_mobile`, `open_id`, `nick_name`, `sex`, `birthday`, `country`, `province`,`city`,`language`,`head_imgurl`
         ,`union_id`,`remark`,`source_type`,`source_type_name`,`fans_status`,`address`)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.registerMobile}, #{item.openId}, #{item.nickName}, #{item.sex}, #{item.birthday},#{item.country},#{item.province},
            #{item.city}, #{item.language}, #{item.headImgurl}, #{item.unionId}, #{item.remark}, #{item.sourceType}, #{item.sourceTypeName}
            , #{item.fansStatus}, #{item.address})
        </foreach>
    </insert>

    <update id="updateList" parameterType="java.util.List">
        update `wx_fans`
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="register_mobile = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.registerMobile != null and item.registerMobile != ''">
                        when `id` = #{item.id} then #{registerMobile}
                    </if>
                </foreach>
            </trim>
            <trim prefix="open_id = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.openId != null and item.openId != ''">
                        when `id` = #{item.id} then #{openId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="nick_name = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.nickName != null and item.nickName != ''">
                        when `id` = #{id} then #{item.nickName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="sex = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.sex != null">
                        when `id` = #{item.id} then #{item.sex}
                    </if>
                </foreach>
            </trim>
            <trim prefix="birthday = case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.birthday != null">
                        when `id` = #{item.id} then #{item.birthday}
                    </if>
                </foreach>
            </trim>
            <trim prefix="country = case" suffix="end," >
                <foreach collection="list" item="item" index="index">
                    <if test="item.country != null and item.country != ''">
                        when `id` = #{item.id} then #{item.country}
                    </if>
                </foreach>
            </trim>
            <trim prefix="province = case" suffix="end," >
                <foreach collection="list" item="item" index="index">
                    <if test="item.province != null and item.province != ''">
                        when `id` = #{item.id} then #{item.province}
                    </if>
                </foreach>
            </trim>
            <trim prefix="city = case" suffix="end," >
                <foreach collection="list" item="item" index="index">
                    <if test="item.city != null and item.city != ''">
                        when `id` = #{item.id} then #{item.city}
                    </if>
                </foreach>
            </trim>
            <trim prefix="language = case" suffix="end," >
                <foreach collection="list" item="item" index="index">
                    <if test="item.language != null and item.language != ''">
                        when `id` = #{item.id} then #{item.language}
                    </if>
                </foreach>
            </trim>
            <trim prefix="head_imgurl = case" suffix="end," >
                <foreach collection="list" item="item" index="index">
                    <if test="item.headImgurl != null and item.headImgurl != ''">
                        when `id` = #{item.id} then #{item.headImgurl}
                    </if>
                </foreach>
            </trim>
            <trim prefix="union_id = case" suffix="end," >
                <foreach collection="list" item="item" index="index">
                    <if test="item.unionId != null and item.unionId != ''">
                        when `id` = #{item.id} then #{item.unionId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="remark = case" suffix="end," >
                <foreach collection="list" item="item" index="index">
                    <if test="item.remark != null and item.remark != ''">
                        when `id` = #{item.id} then #{item.remark}
                    </if>
                </foreach>
            </trim>
            <trim prefix="source_type = case" suffix="end," >
                <foreach collection="list" item="item" index="index">
                    <if test="item.sourceType != null">
                        when `id` = #{item.id} then #{item.sourceType}
                    </if>
                </foreach>
            </trim>
            <trim prefix="source_type_name = case" suffix="end," >
                <foreach collection="list" item="item" index="index">
                    <if test="item.sourceTypeName != null and item.sourceTypeName != ''">
                        when `id` = #{item.id} then #{item.sourceTypeName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="fans_status = case" suffix="end," >
                <foreach collection="list" item="item" index="index">
                    <if test="item.fansStatus != null">
                        when `id` = #{item.id} then #{item.fansStatus}
                    </if>
                </foreach>
            </trim>
            <trim prefix="address = case" suffix="end," >
                <foreach collection="list" item="item" index="index">
                    <if test="item.address != null and item.address != ''">
                        when `id` = #{item.id} then #{item.address}
                    </if>
                </foreach>
            </trim>
        </trim>
        where `id` in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>
</mapper>